Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]
        exclude: src/unitxt/metrics.py|examples/evaluate_existing_dataset_no_install.py
      # Run the linter on the specific file with the ignore flag
      - id: ruff
        name: ruff (examples/evaluate_existing_dataset_no_install.py)
        files: examples/evaluate_existing_dataset_no_install.py
        args: [--fix, --ignore, T201]
      # Run the formatter
      - id: ruff-format

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [--baseline, utils/.secrets.baseline]
        exclude: utils/.secrets.baseline

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

Touch up examples
  examples/evaluate_system_message_leakage.py
Due: enforce-library-imports

Return MultiStream in lazy loaders to avoid copying (#1628)
  src/unitxt/loaders.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Fix datasets with instruction built in
  prepare/cards/tablebench.py
  prepare/cards/tablebench_numerical_reasoning.py
  src/unitxt/catalog/cards/tablebench.json
  src/unitxt/catalog/cards/tablebench_numerical_reasoning.json
Due: enforce-library-imports

Update version to 1.19.0
  src/unitxt/version.py
Due: enforce-relative-imports

Update version to 1.19.0 (#1629)
  src/unitxt/version.py
Due: enforce-relative-imports

Fix unnecessary attempts in LoadCSV
  src/unitxt/loaders.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Remove 'instruction' field from TaskCard configurations in tablebench modules
  prepare/cards/tablebench.py
  prepare/cards/tablebench_data_analysis.py
  prepare/cards/tablebench_fact_checking.py
  prepare/cards/tablebench_numerical_reasoning.py
  src/unitxt/catalog/cards/tablebench.json
  src/unitxt/catalog/cards/tablebench_data_analysis.json
  src/unitxt/catalog/cards/tablebench_fact_checking.json
  src/unitxt/catalog/cards/tablebench_numerical_reasoning.json
Due: enforce-library-imports

Fix unnecessary attempts in LoadCSV (#1630)
  src/unitxt/loaders.py
  utils/.secrets.baseline
Due: enforce-relative-imports

torr benchmark readme file added
  assets/torr/datasets.png
  assets/torr/overview.png
  prepare/benchmarks/torr/README.md
  prepare/benchmarks/torr/torr.py
Due: enforce-library-imports

fix filename
  prepare/benchmarks/torr/README.md
Due: none

Remove duplicate import of dict_get and update line number in secrets baseline
  src/unitxt/metrics.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Fix criteria typo
  src/unitxt/catalog/metrics/llm_as_judge/direct/criteria/temperature_in_celsius_and_fahrenheit.json
  src/unitxt/llm_as_judge_constants.py
Due: enforce-relative-imports

Implement sequential success accuracy metric and refactor group reduction logic
  prepare/cards/coqa_multi_turn.py
  prepare/metrics/multi_turn.py/accuracy.py
  src/unitxt/catalog/metrics/multi_turn/sequential_success_accuracy.json
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

Test we didn't change the behavior for any dataset
  .github/workflows/catalog_preparation.yml
  src/unitxt/loaders.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Remove concurrency settings from catalog preparation workflow and update instruction check in LoadHF class
  .github/workflows/catalog_preparation.yml
  src/unitxt/loaders.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Another try
  src/unitxt/loaders.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Added example of multi-choice QA
  docs/docs/examples.rst
  examples/multiple_choice_qa_evaluation.py
Due: enforce-library-imports

Fixed error in documentation
  docs/docs/adding_operator.rst
Due: none

More safe way to test
  src/unitxt/loaders.py
Due: enforce-relative-imports

Fix LLM as Judge direct criteria typo (#1631)
  src/unitxt/catalog/metrics/llm_as_judge/direct/criteria/temperature_in_celsius_and_fahrenheit.json
  src/unitxt/llm_as_judge_constants.py
Due: enforce-relative-imports

Add batch size control to Huggingface pipeline based inference engine
  src/unitxt/inference.py
  utils/.secrets.baseline
Due: enforce-relative-imports

change the catalog content for clapn/bioasq/miniwki since we changed the metadata_Field
  src/unitxt/catalog/cards/rag/benchmark/bioasq/en.json
  src/unitxt/catalog/cards/rag/benchmark/clap_nq/en.json
  src/unitxt/catalog/cards/rag/benchmark/miniwiki/en.json
  src/unitxt/catalog/cards/rag/documents/clap_nq/en.json
  src/unitxt/catalog/cards/rag/documents/miniwiki/en.json
Due: none

continue the fix of metadata_field
  prepare/cards/mtrag.py
  src/unitxt/catalog/cards/rag/mtrag/documents/clapnq.json
  src/unitxt/catalog/cards/rag/mtrag/documents/cloud.json
  src/unitxt/catalog/cards/rag/mtrag/documents/fiqa.json
  src/unitxt/catalog/cards/rag/mtrag/documents/govt.json
Due: enforce-library-imports

make metadata to be a dictionary
  prepare/cards/rag/end_to_end/hotpotqa.py
  prepare/tasks/rag/rag_end_to_end.py
Due: enforce-library-imports

add hotpotqa dataset - change the metadata field in the rag_end_to_end task to be a dict and not a str
  prepare/cards/rag/end_to_end/bioasq.py
  prepare/cards/rag/end_to_end/clapnq.py
  prepare/cards/rag/end_to_end/hotpotqa.py
  prepare/cards/rag/end_to_end/miniwikipedia.py
  src/unitxt/catalog/cards/rag/benchmark/hotpotqa/en.json
  src/unitxt/catalog/cards/rag/documents/hotpotqa/en.json
  src/unitxt/catalog/tasks/rag/corpora.json
  src/unitxt/catalog/tasks/rag/end_to_end.json
Due: enforce-library-imports

add hotpotqa catalog
  src/unitxt/catalog/cards/rag/benchmark/hotpotqa/en.json
  src/unitxt/catalog/cards/rag/documents/hotpotqa/en.json
Due: none

First commit
  prepare/cards/rag/end_to_end/hotpotqa.py
Due: enforce-library-imports

typo fix
  src/unitxt/operators.py
Due: enforce-relative-imports

No cache to loaders. Python worries about this. Also, avoid copying=True for LoadH, LoadCSV, and LoadSKLearn, which watch out and do not let anyone modify their loaded dataset.
  src/unitxt/loaders.py
  tests/library/test_loaders.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Add Granite Guardian evaluation on HF example
  examples/evaluate_granite_guardian_on_hf.py
Due: enforce-library-imports

Apply pre-commit
  examples/evaluate_granite_guardian_on_hf.py
Due: enforce-library-imports

Fix of typo in usage of attributes inside IntersectCorrespondingFields (#1637)
  src/unitxt/operators.py
Due: enforce-relative-imports

Add positional bias summary to the response
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports
