Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

keep task based llm as judge prompt in output scores Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

add classification engines Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/engines/classification/classification_engines.py
  src/unitxt/catalog/engines/classification/gpt_4_turbo_openai.json
  src/unitxt/catalog/engines/classification/llama_3_1_405b_instruct_fp8_ibm_genai.json
  src/unitxt/catalog/engines/classification/llama_3_1_70b_instruct_wml.json
  src/unitxt/catalog/engines/classification/llama_3_70b_instruct_ibm_genai.json
  src/unitxt/catalog/engines/classification/mixtral_8x7b_instruct_v01_ibm_genai.json
  src/unitxt/catalog/engines/classification/mixtral_8x7b_instruct_v01_wml.json
Due: enforce-library-imports

don't run metric upon add_to_catalog Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/llm_as_judge/binary_judge.py
Due: enforce-library-imports

add model_name and label to all inference engines Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/inference.py
Due: enforce-relative-imports

add preprocess_instance to support dictionary of input fields in TaskBasedLLMasJudge Signed-off-by: lilacheden <lilach.edel@gmail.com>ç
  .secrets.baseline
  src/unitxt/llm_as_judge.py
  src/unitxt/metrics.py
Due: enforce-relative-imports

add default fields to rag_eval task Signed-off-by: lilacheden <lilach.edel@gmail.com>ç
  prepare/tasks/rag_eval.py
  src/unitxt/catalog/tasks/rag_eval/answer_correctness/binary.json
  src/unitxt/catalog/tasks/rag_eval/answer_correctness/non_binary.json
  src/unitxt/catalog/tasks/rag_eval/answer_relevance/binary.json
  src/unitxt/catalog/tasks/rag_eval/answer_relevance/non_binary.json
  src/unitxt/catalog/tasks/rag_eval/context_relevance/binary.json
  src/unitxt/catalog/tasks/rag_eval/context_relevance/non_binary.json
  src/unitxt/catalog/tasks/rag_eval/correctness_holistic/binary.json
  src/unitxt/catalog/tasks/rag_eval/correctness_holistic/non_binary.json
  src/unitxt/catalog/tasks/rag_eval/faithfulness/binary.json
  src/unitxt/catalog/tasks/rag_eval/faithfulness/non_binary.json
Due: enforce-library-imports

bugfix in TaskBasedLLMasJudge Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

Fix
  tests/library/test_examples.py
Due: enforce-library-imports

rename example file Signed-off-by: lilacheden <lilach.edel@gmail.com>
  examples/evaluate_external_rag_results_with_binary_llm_as_judge.py
Due: enforce-library-imports

Add documentation for types and serializers (#1286)
  docs/docs/examples.rst
  docs/docs/glossary.rst
  docs/docs/tutorials.rst
  docs/docs/types_and_serializers.rst
  examples/custom_type.py
Due: enforce-library-imports

Add example for image processing with different templates (#1280)
  docs/docs/examples.rst
  examples/evaluate_image_text_to_text_with_different_templates.py
  tests/library/test_examples.py
Due: enforce-library-imports

change default param Signed-off-by: lilacheden <lilach.edel@gmail.com>
  tests/library/test_metrics.py
Due: enforce-library-imports

change default param Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

Remove split arg to support old hf datasets versions
  src/unitxt/stream.py
Due: enforce-relative-imports

revert mistakenly committed code Signed-off-by: lilacheden <lilach.edel@gmail.com>
  tests/library/test_metrics.py
Due: enforce-library-imports

set hardcoded seed Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/engines/classification/classification_engines.py
Due: enforce-library-imports

add post-processors for tablebench
  prepare/cards/tablebench.py
  prepare/processors/processors.py
  src/unitxt/catalog/cards/tablebench.json
  src/unitxt/catalog/processors/fix_whitespace.json
  src/unitxt/catalog/processors/remove_articles.json
  src/unitxt/catalog/processors/remove_punctuations.json
  src/unitxt/processors.py
Due: enforce-relative-imports, enforce-library-imports

add default inference model name to judge metric name Signed-off-by: lilacheden <lilach.edel@gmail.com>
  examples/evaluate_external_rag_results_with_binary_llm_as_judge.py
  examples/evaluate_rag_using_binary_llm_as_judge.py
  prepare/metrics/llm_as_judge/binary_judge.py
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_answer_correctness_q_a_gt_loose.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_answer_correctness_q_a_gt_loose_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_answer_correctness_q_a_gt_strict.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_answer_correctness_q_a_gt_strict_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_answer_relevance_q_a.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_answer_relevance_q_a_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_context_relevance_q_c_ares.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_context_relevance_q_c_ares_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_correctness_holistic_q_c_a.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_correctness_holistic_q_c_a_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_faithfulness_c_a.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_faithfulness_c_a_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_faithfulness_q_c_a.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_faithfulness_q_c_a_logprobs.json
Due: enforce-library-imports

make LLMAsJudgeBase abstract Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

Changes to GenAI and WML inference engines
  src/unitxt/inference.py
Due: enforce-relative-imports

fix requirement error? Signed-off-by: lilacheden <lilach.edel@gmail.com>
  examples/evaluate_rag_using_binary_llm_as_judge.py
Due: enforce-library-imports

added tests for wml inference
  pyproject.toml
  src/unitxt/inference.py
  tests/library/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

add operator to image_operators.extract_images
  src/unitxt/image_operators.py
Due: enforce-relative-imports

moved checking requirements before prepare_engine logic for wml and genai (as it requires respective packages)
  src/unitxt/inference.py
  tests/library/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

fixed metric test using mocked inference
  tests/library/test_metrics.py
Due: enforce-library-imports

performance profiler with visualization
  profile/card_profiler.py
Due: enforce-library-imports

allow a list of benchmark cards, and return net runtime
  profile/card_profiler.py
  profile/compare_profiles.sh
Due: enforce-library-imports

compare benchmark profiling over two branches
  profile/card_profiler.py
  profile/compare_profiles.sh
Due: enforce-library-imports

added shell script to imitate github test Performance, and reduced printouts by card_profiler
  performance_profile/card_profiler.py
  performance_profile/compare_branches.sh
Due: enforce-library-imports

changed order in yml, to copy profiling python scripts over to branch main
  .github/workflows/performance.yml
  performance_profile/__init__.py
  performance_profile/card_profiler.py
  performance_profile/compare_performance_results.py
  performance_profile/logs/cards_benchmark.json
  performance_profile/profile.sh
  performance_profile/run_profile.py
  profile/profile.sh
  pyproject.toml
Due: enforce-library-imports

improved error messages seen on git tests (log.critical)
  profile/compare_performance_results.py
  utils/prepare_all_artifacts.py
Due: enforce-library-imports

pack all into a comparing yml
  .github/workflows/performance.yml
  profile/card_profiler.py
  profile/compare_performance_results.py
Due: enforce-library-imports

A PR suggested for issue #1260: Add num_instances to scores
  prepare/metrics/accuracy.py
  prepare/metrics/anls.py
  prepare/metrics/bleu.py
  prepare/metrics/char_edit_dist_accuracy.py
  prepare/metrics/custom_f1.py
  prepare/metrics/customf1fuzzy.py
  prepare/metrics/grouped_instance_metrics.py
  prepare/metrics/jaccard_index.py
  prepare/metrics/kendalltau.py
  prepare/metrics/kpa.py
  prepare/metrics/llama_index_metrics.py
  prepare/metrics/map.py
  prepare/metrics/matthews_correlation.py
  prepare/metrics/meteor.py
  prepare/metrics/mrr.py
  prepare/metrics/ndcg.py
  prepare/metrics/normalized_sacrebleu.py
  prepare/metrics/perplexity.py
  prepare/metrics/precision_recall.py
  prepare/metrics/prediction_length.py
  prepare/metrics/rag.py
  prepare/metrics/rag_answer_correctness.py
  prepare/metrics/rag_context_correctness.py
  prepare/metrics/rag_faithfulness.py
  prepare/metrics/regard_metric.py
  prepare/metrics/rerank_recall.py
  prepare/metrics/retrieval.py
  prepare/metrics/roc_auc.py
  prepare/metrics/rouge.py
  prepare/metrics/safety_metric.py
  prepare/metrics/spearman.py
  prepare/metrics/squad.py
  prepare/metrics/string_containment.py
  prepare/metrics/unnormalized_sacrebleu.py
  prepare/metrics/wer.py
  src/unitxt/metrics.py
  tests/library/test_api.py
  tests/library/test_eval_utils.py
  tests/library/test_fusion.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

try nested scores
  .secrets.baseline
  prepare/metrics/grouped_instance_metrics.py
  src/unitxt/metrics.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

live with absent num_of_instances, if exist
  .secrets.baseline
  prepare/metrics/grouped_instance_metrics.py
  src/unitxt/metric_utils.py
  src/unitxt/metrics.py
  tests/library/test_fusion.py
Due: enforce-relative-imports, enforce-library-imports

add to fusion summation of num_of_instances
  src/unitxt/metric_utils.py
Due: enforce-relative-imports

add adjusted prefixes
  .secrets.baseline
  prepare/metrics/grouped_instance_metrics.py
  src/unitxt/metrics.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

added one more expected 'num_of_instances' in test files
  .secrets.baseline
  src/unitxt/metrics.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

Implement score and select in IbmGenAiInferenceEngine
  src/unitxt/inference_engines.py
  tests/library/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
