Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

mod 12=10, no cohere_ai, no info_vqa, no bfcl, no airbench, no social_iqa
  tests/catalog/test_preparation.py
Due: enforce-library-imports

mod 12 == 11
  .github/workflows/catalog_preparation.yml
  tests/catalog/test_preparation.py
Due: enforce-library-imports

extend condition to also filter by field exists or not
  src/unitxt/operators.py
  tests/library/test_operators.py
Due: enforce-relative-imports, enforce-library-imports

use to filter instances
  prepare/cards/judge_bench/inferential_strategies.py
  src/unitxt/catalog/cards/judge_bench/inferential_strategies/sound_reasoning.json
Due: enforce-library-imports

Add speech translation benchmark
  examples/evaluate_speech_recognition.py
  prepare/benchmarks/speech_recognition.py
  prepare/benchmarks/speech_translation.py
  prepare/cards/fleures.py
  src/unitxt/catalog/benchmarks/speech_translation.json
  src/unitxt/catalog/cards/fleurs/en_us/de_de.json
  src/unitxt/catalog/cards/fleurs/en_us/es_419.json
  src/unitxt/catalog/cards/fleurs/en_us/fr_fr.json
  src/unitxt/catalog/cards/fleurs/en_us/it_it.json
  src/unitxt/catalog/cards/fleurs/en_us/ja_jp.json
  src/unitxt/catalog/cards/fleurs/en_us/pt_br.json
Due: enforce-library-imports

Make sure not to aggregate data in evaluation pipeline
  src/unitxt/metric_utils.py
  src/unitxt/metrics.py
  tests/library/test_metric_utils.py
Due: enforce-relative-imports, enforce-library-imports

For load_dataset, use_cache default value is taken from settings
  src/unitxt/api.py
  src/unitxt/settings_utils.py
Due: enforce-relative-imports

Support watsonx.ai on-prem credentials
  src/unitxt/inference.py
Due: enforce-relative-imports

change setting name and add documentation.
  docs/docs/settings.rst
  src/unitxt/api.py
  src/unitxt/settings_utils.py
Due: enforce-relative-imports

For load_dataset, use_cache default value is taken from settings (#1880)
  docs/docs/settings.rst
  src/unitxt/api.py
  src/unitxt/settings_utils.py
Due: enforce-relative-imports

Formatted.
  src/unitxt/inference.py
Due: enforce-relative-imports

Support watsonx.ai on-prem credentials (#1883)
  src/unitxt/inference.py
Due: enforce-relative-imports

extend condition to also filter by field exists or not (#1879)
  prepare/cards/judge_bench/inferential_strategies.py
  src/unitxt/catalog/cards/judge_bench/inferential_strategies/sound_reasoning.json
  src/unitxt/operators.py
  tests/library/test_operators.py
Due: enforce-relative-imports, enforce-library-imports

add support for inline templates
  src/unitxt/ui/load_catalog_data.py
  src/unitxt/ui/run.py
Due: enforce-relative-imports

remove _source_to_dataset from performance evaluation
  performance/bluebench_profiler.py
  performance/compare_benchmark_performance_results.py
Due: enforce-library-imports

fix performance test (#1884)
  performance/bluebench_profiler.py
  performance/compare_benchmark_performance_results.py
Due: enforce-library-imports

format
  src/unitxt/api.py
  src/unitxt/catalog/cards/xlam_function_calling_60k.json
Due: enforce-relative-imports

normalize to_dict of simple tyes, like re.DOTALL, and speed test_preparation
  .github/workflows/catalog_preparation.yml
  src/unitxt/dataclass.py
Due: enforce-relative-imports

combine the fix of jsonschema with that needed for bfcl
  prepare/cards/bfcl.py
  prepare/cards/xlam_function_calling.py
  src/unitxt/catalog/cards/bfcl/multi_turn/java_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/javascript_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_irrelevance_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_parallel_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_parallel_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_relevance_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_simple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/parallel_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/parallel_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/simple_v3.json
  src/unitxt/catalog/cards/bfcl/simple_v3.json
  src/unitxt/catalog/cards/xlam_function_calling_60k.json
  src/unitxt/operators.py
Due: enforce-relative-imports, enforce-library-imports

fixed jsonschema programatically, with python string operations. can now read through the whole recipe output
  prepare/cards/xlam_function_calling.py
  src/unitxt/catalog/cards/xlam_function_calling_60k.json
  src/unitxt/operators.py
Due: enforce-relative-imports, enforce-library-imports

last touches in bfcl, reviewing whole datasets
  docs/docs/adding_operator.rst
  prepare/cards/bfcl.py
  src/unitxt/catalog/cards/bfcl/multi_turn/java_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/javascript_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_parallel_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_parallel_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_simple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/parallel_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/parallel_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/simple_v3.json
  src/unitxt/operators.py
Due: enforce-relative-imports, enforce-library-imports

Allow using python functions instead of operators (e.g in pre-processing pipeline)
  docs/catalog.py
  docs/docs/adding_dataset.rst
  docs/docs/adding_operator.rst
  prepare/cards/xlam_function_calling.py
  src/unitxt/api.py
  src/unitxt/artifact.py
  src/unitxt/catalog.py
  src/unitxt/catalog/cards/xlam_function_calling_60k.json
  src/unitxt/inference.py
  src/unitxt/llm_as_judge_from_template.py
  src/unitxt/operators.py
  src/unitxt/test_utils/artifact.py
  src/unitxt/test_utils/card.py
  src/unitxt/text_utils.py
  src/unitxt/utils.py
  tests/library/test_function_operators.py
Due: enforce-relative-imports, enforce-library-imports

check whether transformers version is the problem
  .github/workflows/inference_tests.yml
Due: none

maybe openai
  .github/workflows/inference_tests.yml
Due: none

no. reverting from using older versions of transformers and openai
  .github/workflows/inference_tests.yml
Due: none

Add pearson correlation to the catalog
  prepare/metrics/pearson.py
  src/unitxt/catalog/metrics/pearson.json
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

Add biggen benchmark for llm judges
  prepare/cards/biggen_bench.py
  src/unitxt/catalog/cards/biggen_bench/results/human_eval.json
Due: enforce-library-imports

Add support for inline-defined templates in the UI (#1886)
  src/unitxt/ui/load_catalog_data.py
  src/unitxt/ui/run.py
Due: enforce-relative-imports

Add a flag to support indirect loading of URLs. This fix mitigates HTTP 403 errors sometimes received when opening URLs directly with pandas
  prepare/cards/CFPB_product.py
  src/unitxt/catalog/cards/CFPB/product/2023.json
  src/unitxt/catalog/cards/CFPB/product/watsonx.json
  src/unitxt/loaders.py
Due: enforce-relative-imports, enforce-library-imports

Mitigate HTTP 403 errors in pandas (#1888)
  prepare/cards/CFPB_product.py
  src/unitxt/catalog/cards/CFPB/product/2023.json
  src/unitxt/catalog/cards/CFPB/product/watsonx.json
  src/unitxt/loaders.py
Due: enforce-relative-imports, enforce-library-imports

Biggen benchmark and pearson correlation metric (#1887)
  prepare/cards/biggen_bench.py
  prepare/metrics/pearson.py
  src/unitxt/catalog/cards/biggen_bench/results/human_eval.json
  src/unitxt/catalog/metrics/pearson.json
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

Update version to 1.26.5
  src/unitxt/version.py
Due: enforce-relative-imports

Update version to 1.26.5 (#1889)
  src/unitxt/version.py
Due: enforce-relative-imports

Update pearsonr tests
  prepare/metrics/pearson.py
Due: enforce-library-imports

Fix finqa
  prepare/cards/fin_qa.py
  src/unitxt/catalog/cards/fin_qa.json
Due: enforce-library-imports

Update pearsonr tests (#1890)
  prepare/metrics/pearson.py
Due: enforce-library-imports

Fix wikitq
  prepare/cards/wikitq.py
  src/unitxt/catalog/cards/wikitq.json
Due: enforce-library-imports

return source_to_recipe to performance evaluation, once 403 is fixed by bnayahu
  performance/bluebench_profiler.py
  performance/compare_benchmark_performance_results.py
Due: enforce-library-imports

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils|unitxt/assistant/.*)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
