Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

Another try to push this to pypi without issues (#1375)
  pyproject.toml
  utils/requirements/all.txt
  utils/requirements/dev.txt
  utils/requirements/docs.txt
  utils/requirements/helm.txt
  utils/requirements/inference-tests.txt
  utils/requirements/service.txt
  utils/requirements/tests.txt
  utils/requirements/ui.txt
  utils/requirements/watsonx.txt
Due: none

Typos in the rst files (#1380)
  docs/blog/vision_robustness.rst
  docs/docs/adding_dataset.rst
  docs/docs/adding_metric.rst
  docs/docs/adding_operator.rst
  docs/docs/adding_template.rst
  docs/docs/data_classification_policy.rst
  docs/docs/examples.rst
  docs/docs/glossary.rst
  docs/docs/helm.rst
  docs/docs/operators.rst
  docs/docs/rag_support.rst
  docs/docs/tutorials.rst
  src/unitxt/augmentors.py
  src/unitxt/loaders.py
  src/unitxt/standard.py
  src/unitxt/text_utils.py
Due: enforce-relative-imports

Update version to 1.15.5 (#1376)
  src/unitxt/version.py
Due: enforce-relative-imports

Update version to 1.15.6 (#1378)
  src/unitxt/version.py
Due: enforce-relative-imports

Chat api blog post (#1371)
  docs/blog/index.rst
  docs/blog/inference_engines_blog.rst
  docs/blog/vision_robustness_blog.rst
  examples/evaluate_existing_dataset_with_install.py
Due: enforce-library-imports

Update version to 1.15.0 (#1367)
  src/unitxt/version.py
  utils/update_version
Due: enforce-relative-imports

Support MerticsList - to store a list of metrics (#1379)
  src/unitxt/metrics.py
  src/unitxt/operators.py
  src/unitxt/task.py
  tests/library/test_operators.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Changes to GenAI, WML and HF inference engines (#1290)
  pyproject.toml
  src/unitxt/image_operators.py
  src/unitxt/inference.py
  tests/inference/test_inference_engine.py
  tests/library/test_metrics.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Fix package dir in settings (#1387)
  src/unitxt/settings_utils.py
Due: enforce-relative-imports

artifact link (#1363)
  docs/_static/custom.css
  docs/catalog.py
  docs/docs/saving_and_loading_from_catalog.rst
  prepare/augmentors/text_augmentors.py
  prepare/system_prompts/tasks/boolqa.py
  src/unitxt/artifact.py
  src/unitxt/augmentors.py
  src/unitxt/catalog.py
  src/unitxt/catalog/augmentors/augment_whitespace_prefix_and_suffix_task_input.json
  src/unitxt/catalog/augmentors/augment_whitespace_task_input.json
  src/unitxt/catalog/system_prompts/boolqa.json
  tests/library/test_artifact.py
Due: enforce-relative-imports, enforce-library-imports

Add inference engines to the catalog (#1394)
  prepare/engines/cross_provider/llama3.py
  prepare/engines/openai/gpt4o.py
  prepare/engines/rits/llama3.py
  src/unitxt/catalog/engines/cross_provider/llama_3_70b_instruct.json
  src/unitxt/catalog/engines/cross_provider/llama_3_8b_instruct.json
  src/unitxt/catalog/engines/openai/gpt_4o.json
  src/unitxt/catalog/engines/rits/llama_3/1_8b_instruct.json
  src/unitxt/catalog/engines/rits/llama_3_1_405b_instruct_fp8.json
  src/unitxt/catalog/engines/rits/llama_3_1_70b_instruct.json
Due: enforce-library-imports

Update version to 1.15.7 (#1388)
  src/unitxt/version.py
Due: enforce-relative-imports

Add support for OpenAI custom base url and default headers + RITS Inference engine (#1385)
  .github/workflows/inference_tests.yml
  src/unitxt/parsing_utils.py
  src/unitxt/standard.py
  tests/inference/test_inference_engine.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

fix template in Arena Hard card and example (#1390)
  examples/evaluate_a_model_using_arena_hard.py
  prepare/cards/arena_hard/generation/english_gpt-4-0314_reference.py
  src/unitxt/catalog/cards/arena_hard/generation/english_gpt_4_0314_reference.json
Due: enforce-library-imports

Add vectara's hhem2.1 faithfulness model as a metric (#1382)
  prepare/metrics/hhem.py
  src/unitxt/catalog/metrics/rag/faithfulness/vectara_hhem_2_1.json
  src/unitxt/metrics.py
  src/unitxt/operators.py
Due: enforce-relative-imports, enforce-library-imports

Update version to 1.15.8 (#1395)
  src/unitxt/version.py
Due: enforce-relative-imports

update augmentors in bench
  src/unitxt/settings_utils.py
Due: enforce-relative-imports

adaptations to Yifan
  src/unitxt/settings_utils.py
Due: enforce-relative-imports

remove additional formats + modify augment to new unitxt version
  prepare/benchmarks/submit_runs.py
  prepare/benchmarks/tables.py
Due: enforce-library-imports

submit runs fix
  prepare/benchmarks/submit_runs.py
Due: enforce-library-imports

Remove repeating and long error texts
  src/unitxt/operator.py
  src/unitxt/operators.py
  src/unitxt/test_utils/operators.py
  tests/library/test_augmentors.py
  tests/library/test_operators.py
Due: enforce-relative-imports, enforce-library-imports

Improved error message
  src/unitxt/operators.py
  tests/library/test_operators.py
Due: enforce-relative-imports, enforce-library-imports

Simplfied error messages:
  src/unitxt/operators.py
  tests/library/test_operators.py
Due: enforce-relative-imports, enforce-library-imports

Fixed error message checking.
  tests/library/test_templates.py
Due: enforce-library-imports

num demos fix
  prepare/benchmarks/tables.py
Due: enforce-library-imports

multiprocess rits inference
  prepare/benchmarks/submit_runs.py
  src/unitxt/inference.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Updated messages per code review comments
  src/unitxt/operators.py
  tests/library/test_operators.py
Due: enforce-relative-imports, enforce-library-imports

Reduce error message clutter (#1401)
  src/unitxt/operator.py
  src/unitxt/operators.py
  src/unitxt/test_utils/operators.py
  tests/library/test_augmentors.py
  tests/library/test_operators.py
  tests/library/test_templates.py
Due: enforce-relative-imports, enforce-library-imports

Update version to 1.5.9
  src/unitxt/version.py
Due: enforce-relative-imports

Update version to 1.5.9 (#1403)
  src/unitxt/version.py
Due: enforce-relative-imports

Update version to 1.15.9
  src/unitxt/version.py
Due: enforce-relative-imports

Update version to 1.15.9 (#1404)
  src/unitxt/version.py
Due: enforce-relative-imports

change arena hard template to generation version
  prepare/recipes/bluebench.py
Due: enforce-library-imports

push to catalog
  src/unitxt/catalog/recipes/bluebench/chatbot_abilities/arena_hard_generation_english_gpt_4_0314_reference.json
Due: none

Fix arenahard bluebench template (#1405)
  prepare/recipes/bluebench.py
  src/unitxt/catalog/recipes/bluebench/chatbot_abilities/arena_hard_generation_english_gpt_4_0314_reference.json
Due: enforce-library-imports

Fixed formal types of infer() and also added runtime check
  src/unitxt/inference.py
  utils/.secrets.baseline
Due: enforce-relative-imports

RITS with parallelization
  prepare/engines/classification/classification_engines.py
  src/unitxt/catalog/engines/classification/llama_3_1_405b_instruct_fp8_rits.json
  src/unitxt/inference.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Fixed formal types of infer() and also added runtime check (#1406)
  src/unitxt/inference.py
  utils/.secrets.baseline
Due: enforce-relative-imports

bugfix: don't use "score" as metric main_score Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/hhem.py
  prepare/metrics/rag.py
  prepare/metrics/rag_answer_correctness.py
  prepare/metrics/rag_context_relevance.py
  prepare/metrics/rag_faithfulness.py
  src/unitxt/catalog/metrics/rag/answer_correctness/sentence_bert_bge.json
  src/unitxt/catalog/metrics/rag/answer_correctness/sentence_bert_mini_lm.json
  src/unitxt/catalog/metrics/rag/context_relevance/sentence_bert_bge.json
  src/unitxt/catalog/metrics/rag/context_relevance/sentence_bert_mini_lm.json
  src/unitxt/catalog/metrics/rag/faithfulness/sentence_bert_bge.json
  src/unitxt/catalog/metrics/rag/faithfulness/sentence_bert_mini_lm.json
  src/unitxt/catalog/metrics/rag/faithfulness/vectara_hhem_2_1.json
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

not using "score" as metric main_score (#1407)
  prepare/metrics/hhem.py
  prepare/metrics/rag.py
  prepare/metrics/rag_answer_correctness.py
  prepare/metrics/rag_context_relevance.py
  prepare/metrics/rag_faithfulness.py
  src/unitxt/catalog/metrics/rag/answer_correctness/sentence_bert_bge.json
  src/unitxt/catalog/metrics/rag/answer_correctness/sentence_bert_mini_lm.json
  src/unitxt/catalog/metrics/rag/context_relevance/sentence_bert_bge.json
  src/unitxt/catalog/metrics/rag/context_relevance/sentence_bert_mini_lm.json
  src/unitxt/catalog/metrics/rag/faithfulness/sentence_bert_bge.json
  src/unitxt/catalog/metrics/rag/faithfulness/sentence_bert_mini_lm.json
  src/unitxt/catalog/metrics/rag/faithfulness/vectara_hhem_2_1.json
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
