Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]
        exclude: src/unitxt/metrics.py|examples/evaluate_existing_dataset_no_install.py
      # Run the linter on the specific file with the ignore flag
      - id: ruff
        name: ruff (examples/evaluate_existing_dataset_no_install.py)
        files: examples/evaluate_existing_dataset_no_install.py
        args: [--fix, --ignore, T201]
      # Run the formatter
      - id: ruff-format

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [--baseline, utils/.secrets.baseline]
        exclude: utils/.secrets.baseline

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

Apply pre-commit formatter
  src/unitxt/llm_as_judge.py
  src/unitxt/llm_as_judge_operators.py
Due: enforce-relative-imports

Remove unused code
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

Add more gpt models
  src/unitxt/catalog/metrics/llm_as_judge/direct/azure_openai/gpt_4o.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/azure_openai/o1_mini.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/azure_openai/o1_preview.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/openai/o1_mini.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/openai/o1_preview.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/azure_openai/gpt_4o.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/azure_openai/o1_mini.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/azure_openai/o1_preview.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/openai/gpt_4o.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/openai/o1_mini.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/openai/o1_preview.json
  src/unitxt/llm_as_judge_constants.py
Due: enforce-relative-imports

Move get_criteria to LLMJudge class
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

format
  examples/evaluate_existing_dataset_by_llm_as_judge_pairwise.py
Due: enforce-library-imports

Remove granite guardian evaluators from catalog
  prepare/metrics/llm_as_judge/llm_as_judge.py
  src/unitxt/catalog/metrics/llm_as_judge/direct/watsonx/granite_guardian_3_0_2b.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/watsonx/granite_guardian_3_0_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/watsonx/granite_guardian_3_0_2b.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/watsonx/granite_guardian_3_0_8b.json
Due: enforce-library-imports

Revert "add main_score to results"
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

update classification engines: remove gen_ai, use crossprovider, add watsonx Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/engines/classification/classification_engines.py
  src/unitxt/catalog/engines/classification/gpt_4_turbo_2024_04_09_azure.json
  src/unitxt/catalog/engines/classification/gpt_4_turbo_2024_04_09_azure_openai.json
  src/unitxt/catalog/engines/classification/gpt_4_turbo_open_ai.json
  src/unitxt/catalog/engines/classification/gpt_4o_2024_08_06_azure_openai.json
  src/unitxt/catalog/engines/classification/gpt_4o_azure.json
  src/unitxt/catalog/engines/classification/gpt_4o_open_ai.json
  src/unitxt/catalog/engines/classification/llama_3_1_405b_instruct_fp8_ibm_genai.json
  src/unitxt/catalog/engines/classification/llama_3_1_405b_instruct_fp8_rits.json
  src/unitxt/catalog/engines/classification/llama_3_1_70b_instruct_ibm_genai.json
  src/unitxt/catalog/engines/classification/llama_3_1_70b_instruct_rits.json
  src/unitxt/catalog/engines/classification/llama_3_1_70b_instruct_watsonx.json
  src/unitxt/catalog/engines/classification/llama_3_3_70b_instruct_watsonx.json
  src/unitxt/catalog/engines/classification/mixtral_8x7b_instruct_v01_ibm_genai.json
  src/unitxt/catalog/engines/classification/mixtral_8x7b_instruct_v01_rits.json
  src/unitxt/inference.py
Due: enforce-relative-imports, enforce-library-imports

update judge formats Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/llm_as_judge_from_template.py
Due: enforce-relative-imports

bugfix in example Signed-off-by: lilacheden <lilach.edel@gmail.com>
  examples/evaluate_external_rag_results_with_binary_llm_as_judge.py
Due: enforce-library-imports

adjust task based llm judge to dict prediction and e2e Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/catalog/engines/classification2/gpt_4_turbo_2024_04_09_azure.json
  src/unitxt/catalog/engines/classification2/gpt_4_turbo_open_ai.json
  src/unitxt/catalog/engines/classification2/llama_3_3_70b_instruct_rits.json
  src/unitxt/catalog/engines/classification2/llama_3_3_70b_instruct_watsonx.json
  src/unitxt/catalog/engines/classification2/llama_3_3_70b_instruct_wml.json
  src/unitxt/catalog/engines/classification2/mixtral_8x7b_instruct_v01_wml.json
  src/unitxt/llm_as_judge_from_template.py
Due: enforce-relative-imports

drop table bench visualization since it is not a part of the benchmark, and we are not sure about its evaluation metric
  prepare/cards/tablebench_visualization.py
  src/unitxt/catalog/cards/tablebench_visualization.json
Due: enforce-library-imports

add base hhem metric Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/hhem.py
  src/unitxt/catalog/metrics/vectara_groundedness_hhem_2_1.json
Due: enforce-library-imports

Moved to use CrossProviderInferenceEngine instead of WML or BAM
  examples/evaluate_llm_as_judge_from_template.py
  examples/evaluate_using_metrics_ensemble.py
  prepare/cards/scigen.py
  prepare/metrics/llm_as_judge/rating/llama_3_generic_template.py
  prepare/metrics/llm_as_judge/rating/llama_3_mt_bench_template.py
  prepare/metrics/llm_as_judge/rating/llama_3_table2text_template.py
  prepare/metrics/llm_as_judge/rating/llama_3_wml_generic_template.py
  src/unitxt/catalog/cards/scigen.json
  src/unitxt/catalog/metrics/llm_as_judge/rating/llama_3_70b_instruct/mt_bench_single_turn.json
  src/unitxt/catalog/metrics/llm_as_judge/rating/llama_3_70b_instruct/table2text_single_turn_with_reference.json
  src/unitxt/catalog/metrics/llm_as_judge/rating/llama_3_70b_instruct_wml_template_generic_single_turn.json
  src/unitxt/catalog/metrics/llm_as_judge/rating/llama_3_70b_instruct_wml_template_generic_single_turn_with_reference.json
  src/unitxt/catalog/metrics/llm_as_judge/rating/llama_3_70b_instruct_wml_template_mt_bench_single_turn.json
  src/unitxt/catalog/metrics/llm_as_judge/rating/llama_3_70b_instruct_wml_template_table2text_single_turn_with_reference.json
  src/unitxt/catalog/metrics/llm_as_judge/rating/llama_3_8b_instruct/mt_bench_single_turn.json
  src/unitxt/catalog/metrics/llm_as_judge/rating/llama_3_8b_instruct_wml_template_mt_bench_single_turn.json
Due: enforce-library-imports

Fix: Improved handling of `place_correct_choice_position` for flexible input sizes
  src/unitxt/templates.py
Due: enforce-relative-imports

add tests
  tests/library/test_data_utils.py
  tests/library/test_metrics.py
Due: enforce-library-imports

rename file
  src/unitxt/dataset.py
  src/unitxt/db_utils.py
Due: enforce-relative-imports

rename file
  src/unitxt/metric.py
Due: none

update sql metric
  src/unitxt/metrics.py
  utils/.secrets.baseline
Due: enforce-relative-imports

rename file
  src/unitxt/serializers.py
Due: enforce-relative-imports

code update
  src/unitxt/operators.py
Due: enforce-relative-imports

Removed GA
  prepare/engines/classification/classification_engines.py
Due: enforce-library-imports

Moved llamguard from genai to cross provider inference engine
  prepare/metrics/llm_as_judge/safety/harm_rating.py
  prepare/metrics/llm_as_judge/safety/llamaguard.py
  src/unitxt/catalog/metrics/llm_as_judge/safety/llama_3_70b_instruct/harm_rating.json
  src/unitxt/catalog/metrics/llm_as_judge/safety/llama_3_70b_instruct/unsafe_content.json
  src/unitxt/catalog/metrics/llm_as_judge/safety/llama_3_70b_instruct_wml_template_unsafe_content.json
  src/unitxt/catalog/metrics/llm_as_judge/safety/llama_3_8b_instruct/unsafe_content.json
  src/unitxt/catalog/metrics/llm_as_judge/safety/llama_3_8b_instruct_wml_template_unsafe_content.json
Due: enforce-library-imports

optimalisation
  src/unitxt/operators.py
Due: enforce-relative-imports

rename answer reward metric Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/rag_answer_relevance.py
  src/unitxt/catalog/metrics/rag_by_task/autorag/answer_relevance/answer_reward.json
  src/unitxt/catalog/metrics/rag_by_task/end_to_end/answer_relevance/deberta_v3_large_v2.json
  src/unitxt/catalog/metrics/rag_by_task/response_generation/answer_relevance/deberta_v3_large_v2.json
Due: enforce-library-imports

Made cataog consistent
  src/unitxt/catalog/metrics/llm_as_judge/rating/llama_3_70b_instruct/table2text_single_turn_with_reference.json
Due: none

changed table2text rating metric to follow other's conventions
  prepare/cards/scigen.py
  prepare/metrics/llm_as_judge/rating/llama_3_1_cross_provider_table2text_template.py
  src/unitxt/catalog/cards/scigen.json
  src/unitxt/catalog/metrics/llm_as_judge/rating/llama_3_1_70b_instruct/table2text_single_turn_with_reference.json
Due: enforce-library-imports

Add Unitxt Assistant beta
  pyproject.toml
  src/unitxt/assistant/__init__.py
  src/unitxt/assistant/app.py
  src/unitxt/assistant/context.txt
Due: enforce-relative-imports

fix context relevance llmaj Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/llm_as_judge/rag_judge.py
  src/unitxt/catalog/metrics/llm_as_judge/binary/generic_inference_engine_context_relevance_q_c_ares.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_context_relevance_q_c_ares.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_context_relevance_q_c_ares_logprobs.json
  src/unitxt/catalog/metrics/rag/context_relevance/generic_inference_engine_q_c_ares.json
  src/unitxt/catalog/metrics/rag/context_relevance/generic_inference_engine_q_c_ares_numeric.json
  src/unitxt/catalog/metrics/rag/context_relevance/llama_3_1_70b_instruct_wml_q_c_ares.json
  src/unitxt/catalog/metrics/rag/context_relevance/llama_3_1_70b_instruct_wml_q_c_ares_logprobs.json
  src/unitxt/catalog/metrics/rag/context_relevance/llama_3_1_70b_instruct_wml_q_c_ares_numeric.json
  src/unitxt/catalog/metrics/rag_by_task/end_to_end/answer_relevance/answer_reward.json
  src/unitxt/catalog/metrics/rag_by_task/response_generation/answer_relevance/answer_reward.json
Due: enforce-library-imports

Keep metadata over main unitxt stages
  src/unitxt/api.py
  src/unitxt/inference.py
  src/unitxt/metric_utils.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Add decumantiation
  docs/docs/evaluating_datasets.rst
  docs/docs/loading_datasets.rst
Due: none

Fix bugs
  src/unitxt/inference.py
  utils/.secrets.baseline
Due: enforce-relative-imports

remove problematic pkg
  src/unitxt/api.py
Due: enforce-relative-imports

Fix precommit tests
  src/unitxt/inference.py
  utils/.secrets.baseline
Due: enforce-relative-imports

rename to rag_by_task Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/rag_recommended_metric_lists.py
  src/unitxt/catalog/metrics/rag_by_task/autorag/recommended_cpu_only/all.json
  src/unitxt/catalog/metrics/rag_by_task/autorag/recommended_llmaj_azure/all.json
  src/unitxt/catalog/metrics/rag_by_task/autorag/recommended_llmaj_rits/all.json
  src/unitxt/catalog/metrics/rag_by_task/autorag/recommended_llmaj_watsonx/all.json
  src/unitxt/catalog/metrics/rag_by_task/autorag/recommended_small_llm/all.json
  src/unitxt/catalog/metrics/rag_by_task/end_to_end/recommended_cpu_only/all.json
  src/unitxt/catalog/metrics/rag_by_task/end_to_end/recommended_llmaj_azure/all.json
  src/unitxt/catalog/metrics/rag_by_task/end_to_end/recommended_llmaj_rits/all.json
  src/unitxt/catalog/metrics/rag_by_task/end_to_end/recommended_llmaj_watsonx/all.json
  src/unitxt/catalog/metrics/rag_by_task/end_to_end/recommended_small_llm/all.json
  src/unitxt/catalog/metrics/rag_by_task/response_generation/recommended_cpu_only/all.json
  src/unitxt/catalog/metrics/rag_by_task/response_generation/recommended_llmaj_azure/all.json
  src/unitxt/catalog/metrics/rag_by_task/response_generation/recommended_llmaj_rits/all.json
  src/unitxt/catalog/metrics/rag_by_task/response_generation/recommended_llmaj_watsonx/all.json
  src/unitxt/catalog/metrics/rag_by_task/response_generation/recommended_small_llm/all.json
Due: enforce-library-imports

fix answer relevance template Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/templates/rag_eval/rag_eval_numeric.py
  src/unitxt/catalog/templates/rag_eval/answer_relevance/judge_answer_relevance_numeric.json
Due: enforce-library-imports
