Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

updates
  ccc_worker_server.py
Due: enforce-library-imports

add the inference server as a cmd line
  pyproject.toml
  src/unitxt/service/inference_server.py
Due: enforce-relative-imports

update
  src/unitxt/inference.py
Due: enforce-relative-imports

update
  src/unitxt/inference.py
  test_caching_ccc.py
Due: enforce-relative-imports, enforce-library-imports

update
  src/unitxt/service/inference_server.py
Due: enforce-relative-imports

update
  src/unitxt/inference.py
  src/unitxt/service/inference_server.py
Due: enforce-relative-imports

specify commit point for the data from github
  prepare/cards/arena_hard/generation/english_gpt-4-0314_reference.py
  src/unitxt/catalog/cards/arena_hard/generation/english_gpt_4_0314_reference.json
Due: enforce-library-imports

trying to fix PERFORMANCE: use a github repository as a replacement for the gone HF 'lmsys/arena-hard-browser' (#1757)
  prepare/cards/arena_hard/generation/english_gpt-4-0314_reference.py
  src/unitxt/catalog/cards/arena_hard/generation/english_gpt_4_0314_reference.json
Due: enforce-library-imports

init commit
  prepare/benchmarks/results_log_probs/model=meta-llama_Llama-3.1-8B-Instruct.pkl
  prepare/benchmarks/test.py
  src/unitxt/inference.py
Due: enforce-relative-imports, enforce-library-imports

init commit
  prepare/benchmarks/test.py
Due: enforce-library-imports

Update version to 1.22.4
  src/unitxt/version.py
Due: enforce-relative-imports

Update version to 1.22.4 (#1766)
  src/unitxt/version.py
Due: enforce-relative-imports

just to run examples
  examples/evaluate_bluebench.py
Due: enforce-library-imports

expand code coverage
  src/unitxt/loaders.py
  tests/library/test_loaders.py
Due: enforce-relative-imports, enforce-library-imports

fixed typo in examples_tests.yml
  .github/workflows/examples_tests.yml
Due: none

Added to_yaml shorthand function to artifact
  src/unitxt/artifact.py
Due: enforce-relative-imports

tool calling for api testing
  prepare/processors/tool_calling.py
  src/unitxt/struct_data_operators.py
  src/unitxt/tool_calling.py
Due: enforce-relative-imports, enforce-library-imports

update
  src/unitxt/inference.py
  test.py
Due: enforce-relative-imports, enforce-library-imports

update
  test.py
Due: enforce-library-imports

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils|unitxt/assistant/.*)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
