Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]
        exclude: src/unitxt/metrics.py
      # Run the linter on the specific file with the ignore flag
      - id: ruff
        name: ruff (src/unitxt/metrics.py)
        files: src/unitxt/metrics.py
        args: [--fix, --ignore, C901]
      # Run the formatter
      - id: ruff-format

  - repo: https://github.com/ibm/detect-secrets
    # If you desire to use a specific version of detect-secrets, you can replace `master` with other git revisions such as branch, tag or commit sha.
    # You are encouraged to use static refs such as tags, instead of branch name
    #
    # Running "pre-commit autoupdate" automatically updates rev to latest tag
    rev: 0.13.1+ibm.61.dss
    hooks:
      - id: detect-secrets # pragma: whitelist secret
        # Add options for detect-secrets-hook binary. You can run `detect-secrets-hook --help` to list out all possible options.
        # You may also run `pre-commit run detect-secrets` to preview the scan result.
        # when "--baseline" without "--use-all-plugins", pre-commit scan with just plugins in baseline file
        # when "--baseline" with "--use-all-plugins", pre-commit scan with all available plugins
        # add "--fail-on-unaudited" to fail pre-commit for unaudited potential secrets
        args: [--baseline, .secrets.baseline, --use-all-plugins, --fail-on-unaudited]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

FinQA - filter problematic examples (#1039)
  prepare/cards/fin_qa.py
  src/unitxt/catalog/cards/fin_qa.json
Due: enforce-library-imports

continue once inconsistency of demo selection is resolved
  tests/library/test_formats.py
Due: enforce-library-imports

demo's target prefix is now taken from demo instance (#1031)
  src/unitxt/formats.py
  tests/library/test_formats.py
Due: enforce-relative-imports, enforce-library-imports

Fix errors
  src/unitxt/task.py
  tests/library/test_tasks.py
Due: enforce-relative-imports, enforce-library-imports

Make sure preparation times printed fully and nicely
  tests/catalog/test_preparation.py
  tests/utils.py
Due: enforce-library-imports

remove the reduced clap_nq
  prepare/cards/rag/end_to_end/clapnq.py
  prepare/metrics/rag.py
  src/unitxt/catalog/cards/rag/benchmark/clap_nq_reduced/en.json
  src/unitxt/catalog/cards/rag/documents/clap_nq_reduced/en.json
Due: enforce-library-imports

template changes
  prepare/cards/scigen.py
  src/unitxt/catalog/cards/scigen.json
Due: enforce-library-imports

filter out empty tables input
  prepare/cards/scigen.py
  prepare/metrics/llm_as_judge/rating/llama_3_ibm_genai_table2text_template.py
  prepare/templates/response_assessment/rating/table2text_single_turn_with_reference.py
  src/unitxt/catalog/cards/scigen.json
  src/unitxt/catalog/templates/response_assessment/rating/table2text_single_turn_with_reference.json
Due: enforce-library-imports

Multi process
  tests/catalog/test_preparation.py
Due: enforce-library-imports

Multi thread
  tests/catalog/test_preparation.py
Due: enforce-library-imports

Update
  tests/catalog/test_preparation.py
Due: enforce-library-imports

Implement metrics ensemble
  docs/docs/examples.rst
  examples/evaluate_using_metrics_ensemble.py
  src/unitxt/metrics.py
  tests/library/test_examples.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

Implement metrics ensemble (#1047)
  docs/docs/examples.rst
  examples/evaluate_using_metrics_ensemble.py
  src/unitxt/metrics.py
  tests/library/test_examples.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

define an empty template for rag end_to_end
  prepare/cards/rag/end_to_end/clapnq.py
  prepare/tasks/rag/rag_end_to_end.py
  prepare/templates/rag/end_to_end.py
Due: enforce-library-imports

add load_json_predictions as processor in the template
  prepare/cards/rag/end_to_end/clapnq.py
  prepare/templates/rag/end_to_end.py
Due: enforce-library-imports

Added example for selection of demos
  examples/evaluate_different_demo_selections.py
  src/unitxt/splitters.py
  tests/library/test_examples.py
Due: enforce-relative-imports, enforce-library-imports

add the processors/load_json_predictions.json generated to the catalog
  src/unitxt/catalog/processors/load_json_predictions.json
Due: none

Added example doc
  docs/docs/examples.rst
Due: none

Update docs/docs/examples.rst
  docs/docs/examples.rst
Due: none

revert adding zh
  prepare/metrics/normalized_sacrebleu.py
Due: enforce-library-imports

finalize card
  prepare/cards/translation/flores101.py
Due: enforce-library-imports

add to catalog
  src/unitxt/catalog/cards/mt/flores_101/ara_eng.json
  src/unitxt/catalog/cards/mt/flores_101/deu_eng.json
  src/unitxt/catalog/cards/mt/flores_101/eng_ara.json
  src/unitxt/catalog/cards/mt/flores_101/eng_deu.json
  src/unitxt/catalog/cards/mt/flores_101/eng_fra.json
  src/unitxt/catalog/cards/mt/flores_101/eng_kor.json
  src/unitxt/catalog/cards/mt/flores_101/eng_por.json
  src/unitxt/catalog/cards/mt/flores_101/eng_ron.json
  src/unitxt/catalog/cards/mt/flores_101/eng_spa.json
  src/unitxt/catalog/cards/mt/flores_101/fra_eng.json
  src/unitxt/catalog/cards/mt/flores_101/jpn_eng.json
  src/unitxt/catalog/cards/mt/flores_101/kor_eng.json
  src/unitxt/catalog/cards/mt/flores_101/por_eng.json
  src/unitxt/catalog/cards/mt/flores_101/ron_eng.json
  src/unitxt/catalog/cards/mt/flores_101/spa_eng.json
Due: none

Add flores101 (#1053)
  prepare/cards/translation/flores101.py
  prepare/cards/translation/wmt/en_de.py
  prepare/cards/translation/wmt/en_fr.py
  prepare/cards/translation/wmt/en_ro.py
  pyproject.toml
  src/unitxt/catalog/cards/mt/flores_101/ara_eng.json
  src/unitxt/catalog/cards/mt/flores_101/deu_eng.json
  src/unitxt/catalog/cards/mt/flores_101/eng_ara.json
  src/unitxt/catalog/cards/mt/flores_101/eng_deu.json
  src/unitxt/catalog/cards/mt/flores_101/eng_fra.json
  src/unitxt/catalog/cards/mt/flores_101/eng_jpn.json
  src/unitxt/catalog/cards/mt/flores_101/eng_kor.json
  src/unitxt/catalog/cards/mt/flores_101/eng_por.json
  src/unitxt/catalog/cards/mt/flores_101/eng_ron.json
  src/unitxt/catalog/cards/mt/flores_101/eng_spa.json
  src/unitxt/catalog/cards/mt/flores_101/fra_eng.json
  src/unitxt/catalog/cards/mt/flores_101/jpn_eng.json
  src/unitxt/catalog/cards/mt/flores_101/kor_eng.json
  src/unitxt/catalog/cards/mt/flores_101/por_eng.json
  src/unitxt/catalog/cards/mt/flores_101/ron_eng.json
  src/unitxt/catalog/cards/mt/flores_101/spa_eng.json
Due: enforce-library-imports

Some fixes
  .secrets.baseline
  src/unitxt/metrics.py
Due: enforce-relative-imports

Added example for selection of demos (#1052)
  docs/docs/examples.rst
  examples/evaluate_different_demo_selections.py
  src/unitxt/splitters.py
  tests/library/test_examples.py
Due: enforce-relative-imports, enforce-library-imports

More fixes
  .secrets.baseline
  src/unitxt/metrics.py
  src/unitxt/task.py
  tests/library/test_formats.py
Due: enforce-relative-imports, enforce-library-imports

Update catalog
  src/unitxt/catalog/tasks/rag/response_generation.json
Due: none

fix - building test is not working. The reason is that opendatasets points to kaggle without version, and currently kaggle-1.6.15 fails. We fix the version of kaggle to be 1.6.14 as a fix
  requirements/tests.rqr
Due: none

fix - building test is not working. The reason is that opendatasets p… (#1055)
  requirements/tests.rqr
Due: none

Update printing
  tests/catalog/test_preparation.py
Due: enforce-library-imports

Fix typo in japanese_llama system prompt (issue #964)
  prepare/system_prompts/models/japanese_llama.py
  src/unitxt/catalog/system_prompts/models/japanese_llama.json
Due: enforce-library-imports

Add batching to the engine. Extract parametes in a generic way
  prepare/engines/model/ilab.py
  src/unitxt/inference.py
Due: enforce-relative-imports, enforce-library-imports

Adapt the cleint to work with the CCC server. Modify qna file generation
  prepare/engines/model/ilab.py
  src/unitxt/inference.py
  utils/create_ilab_skill_yaml.py
Due: enforce-relative-imports, enforce-library-imports

Unitxt capitalization adding_dataset.rst
  docs/docs/adding_dataset.rst
Due: none

Editing adding_dataset.rst
  docs/docs/adding_dataset.rst
Due: none

Update introduction.rst
  docs/docs/introduction.rst
Due: none
