Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

Add choices sorting and shuffling capabilities (#1464)
  src/unitxt/templates.py
  tests/library/test_templates.py
Due: enforce-relative-imports, enforce-library-imports

avoid import from prepare Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/templates/rag_eval/rag_eval_numeric.py
Due: enforce-library-imports

pre commit fixes
  prepare/cards/chart_qa.py
Due: enforce-library-imports

Failed another test
  prepare/cards/chart_qa.py
Due: enforce-library-imports

another failed test
  prepare/cards/chart_qa.py
Due: enforce-library-imports

remove old metrics Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/catalog/metrics/llm_as_judge/binary/generic_inference_engine_answer_correctness_q_a_gt_strict.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_answer_correctness_q_a_gt_strict.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_answer_correctness_q_a_gt_strict_logprobs.json
  src/unitxt/catalog/metrics/rag/answer_correctness/generic_inference_engine_q_a_gt_strict.json
  src/unitxt/catalog/metrics/rag/answer_correctness/llama_3_1_70b_instruct_wml_q_a_gt_strict.json
  src/unitxt/catalog/metrics/rag/answer_correctness/llama_3_1_70b_instruct_wml_q_a_gt_strict_logprobs.json
Due: none

removed comments. Beautified
  examples/evaluate_image_text_to_text.py
Due: enforce-library-imports

Adding typed recipe test
  tests/library/test_artifact.py
Due: enforce-library-imports

add token overlap based context relevance and answer relevance metrics Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/rag_answer_relevance.py
  prepare/metrics/rag_context_relevance.py
  src/unitxt/catalog/metrics/rag/answer_relevance/token_recall.json
  src/unitxt/catalog/metrics/rag/context_relevance/token_precision.json
Due: enforce-library-imports

Add GPQA dataset
  prepare/cards/gpqa.py
  src/unitxt/catalog/cards/gpqa/diamond.json
  src/unitxt/catalog/cards/gpqa/experts.json
  src/unitxt/catalog/cards/gpqa/extended.json
  src/unitxt/catalog/cards/gpqa/main.json
Due: enforce-library-imports

Add simple QA dataset
  prepare/cards/simple_qa.py
  src/unitxt/catalog/cards/simple_qa.json
Due: enforce-library-imports

Add GPQA dataset (#1474)
  prepare/cards/gpqa.py
  src/unitxt/catalog/cards/gpqa/diamond.json
  src/unitxt/catalog/cards/gpqa/experts.json
  src/unitxt/catalog/cards/gpqa/extended.json
  src/unitxt/catalog/cards/gpqa/main.json
Due: enforce-library-imports

Add simple QA dataset (#1475)
  prepare/cards/simple_qa.py
  src/unitxt/catalog/cards/simple_qa.json
Due: enforce-library-imports

Add LongBench V2 dataset
  prepare/cards/long_bench.py
  src/unitxt/catalog/cards/long_bench_v2.json
Due: enforce-library-imports

add postprocessors tests Signed-off-by: lilacheden <lilach.edel@gmail.com>
  tests/library/test_postprocessors.py
Due: enforce-library-imports

Add LongBench V2 dataset (#1476)
  prepare/cards/long_bench.py
  src/unitxt/catalog/cards/long_bench_v2.json
Due: enforce-library-imports

Add multi document support and FRAMES benchmark
  prepare/cards/frames_benchmark.py
  prepare/cards/open_australian_legal_qa.py
  prepare/tasks/qa/tasks.py
  src/unitxt/catalog/cards/frames.json
  src/unitxt/catalog/cards/open_australian_legal_qa.json
  src/unitxt/catalog/tasks/qa/with_context.json
  src/unitxt/operators.py
  src/unitxt/serializers.py
  src/unitxt/types.py
Due: enforce-relative-imports, enforce-library-imports

add template
  prepare/templates/text2sql/templates.py
  src/unitxt/catalog/templates/text2sql/you_are_given_with_hint_answer_sql_prefix_no_inst.json
Due: enforce-library-imports

drop comment
  prepare/processors/text2sql.py
Due: enforce-library-imports

remove recursion limit
  prepare/templates/text2sql/templates.py
Due: enforce-library-imports

add loader_limit to example
  examples/evaluate_text2sql.py
Due: enforce-library-imports

Refactor metrics to introduce fast variants and update descriptions
  prepare/metrics/accuracy.py
  prepare/metrics/f1.py
  prepare/metrics/grouped_instance_metrics.py
  prepare/metrics/meteor.py
  pyproject.toml
  src/unitxt/api.py
  src/unitxt/catalog/metrics/accuracy.json
  src/unitxt/catalog/metrics/f1_macro.json
  src/unitxt/catalog/metrics/f1_micro.json
  src/unitxt/catalog/metrics/meteor.json
  src/unitxt/catalog/metrics/meteor_hf.json
  src/unitxt/metric_utils.py
  src/unitxt/metrics.py
  src/unitxt/operators.py
  tests/library/test_fusion.py
  tests/library/test_metrics.py
  tests/library/test_operators.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

trying to fix some errors wrt expected results
  prepare/metrics/grouped_instance_metrics.py
  src/unitxt/metrics.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

fix recursion error
  prepare/templates/text2sql/templates.py
  src/unitxt/catalog/templates/text2sql/all.json
Due: enforce-library-imports

move import to withing metric
  src/unitxt/text2sql/metrics.py
Due: enforce-relative-imports

remove catalog files wo prepare
  src/unitxt/catalog/cards/text2sql/bird_mini_dev.json
  src/unitxt/catalog/templates/text2sql/you_are_given_with_hint.json
Due: none

fix typing
  src/unitxt/text2sql/data_utils.py
Due: enforce-relative-imports

change template im example
  examples/evaluate_text2sql.py
Due: enforce-library-imports

returned to original expected results for Meteor, by setting n_resamples=3, as with main
  prepare/metrics/meteor.py
  src/unitxt/catalog/metrics/meteor.json
  src/unitxt/metric_utils.py
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

Add new processors and update type hints for response assessment tasks
  prepare/processors/processors.py
  prepare/tasks/response_assessment/pairwise_comparison/multi_turn.py
  prepare/tasks/response_assessment/pairwise_comparison/multi_turn_with_reference.py
  prepare/tasks/response_assessment/pairwise_comparison/single_turn.py
  prepare/tasks/response_assessment/pairwise_comparison/single_turn_with_reference.py
  src/unitxt/processors.py
  tests/library/test_postprocessors.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Fix
  src/unitxt/task.py
Due: enforce-relative-imports

moving text2sql implementaion to the main src dir
  src/unitxt/data_utils.py
  src/unitxt/metrics.py
  src/unitxt/processors.py
  src/unitxt/serializers.py
  src/unitxt/text2sql/__init__.py
  src/unitxt/text2sql/metrics.py
  src/unitxt/text2sql/processors.py
  src/unitxt/text2sql/serializers.py
  src/unitxt/text2sql/types.py
  src/unitxt/types.py
Due: enforce-relative-imports

fix imports
  prepare/metrics/text2sql_execution_accuracy.py
  prepare/processors/text2sql.py
  prepare/serializers/text2sql_serializers.py
Due: enforce-library-imports

fix imports
  prepare/tasks/text2sql.py
Due: enforce-library-imports

fix imports
  src/unitxt/templates.py
Due: enforce-relative-imports

fix imports
  src/unitxt/__init__.py
Due: enforce-relative-imports

hopefully only f1_marco remains a problem
  src/unitxt/metrics.py
  utils/.secrets.baseline
Due: enforce-relative-imports

import data_utils
  src/unitxt/dataset.py
  src/unitxt/metric.py
Due: none

Adding typed recipe test (#1473)
  src/unitxt/task.py
  tests/library/test_artifact.py
Due: enforce-relative-imports, enforce-library-imports

Add place_correct_choice_position to set the correct choice index and update tests
  src/unitxt/templates.py
  tests/library/test_templates.py
Due: enforce-relative-imports, enforce-library-imports

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
