Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]
        exclude: src/unitxt/metrics.py|examples/evaluate_existing_dataset_no_install.py
      # Run the linter on the specific file with the ignore flag
      - id: ruff
        name: ruff (src/unitxt/metrics.py)
        files: src/unitxt/metrics.py
        args: [--fix, --ignore, C901]
      # Run the linter on the specific file with the ignore flag
      - id: ruff
        name: ruff (examples/evaluate_existing_dataset_no_install.py)
        files: examples/evaluate_existing_dataset_no_install.py
        args: [--fix, --ignore, T201]
      # Run the formatter
      - id: ruff-format

  - repo: https://github.com/ibm/detect-secrets
    # If you desire to use a specific version of detect-secrets, you can replace `master` with other git revisions such as branch, tag or commit sha.
    # You are encouraged to use static refs such as tags, instead of branch name
    #
    # Running "pre-commit autoupdate" automatically updates rev to latest tag
    rev: 0.13.1+ibm.61.dss
    hooks:
      - id: detect-secrets # pragma: whitelist secret
        # Add options for detect-secrets-hook binary. You can run `detect-secrets-hook --help` to list out all possible options.
        # You may also run `pre-commit run detect-secrets` to preview the scan result.
        # when "--baseline" without "--use-all-plugins", pre-commit scan with just plugins in baseline file
        # when "--baseline" with "--use-all-plugins", pre-commit scan with all available plugins
        # add "--fail-on-unaudited" to fail pre-commit for unaudited potential secrets
        args: [--baseline, utils/.secrets.baseline, --use-all-plugins, --fail-on-unaudited]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

why not whole list prints out in the log?
  tests/catalog/test_preparation.py
Due: enforce-library-imports

returned raise, maybe
  tests/catalog/test_preparation.py
Due: enforce-library-imports

what happened?
  tests/catalog/test_preparation.py
Due: enforce-library-imports

maybe catch bad files
  tests/catalog/test_preparation.py
Due: enforce-library-imports

is 12 the problem?
  .github/workflows/catalog_preparation.yml
  tests/catalog/test_preparation.py
Due: enforce-library-imports

also with assert(false)?
  tests/catalog/test_preparation.py
Due: enforce-library-imports

try 12 once again
  .github/workflows/catalog_preparation.yml
Due: none

failed again with 12, returning to 8
  .github/workflows/catalog_preparation.yml
Due: none

commit again same changes needed
  .github/workflows/catalog_preparation.yml
  tests/catalog/test_preparation.py
Due: enforce-library-imports

maybe
  .github/workflows/catalog_preparation.yml
Due: none

removed the reporter following job
  .github/workflows/catalog_preparation.yml
Due: none

insert links into the catalog entries presented on the website
  docs/catalog.py
Due: enforce-library-imports

Use instance data_classification_policy in TaskBasedLLMasJudge Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

catch litellm inference exception
  src/unitxt/inference.py
Due: enforce-relative-imports

create short version of 20_newsgroup and add to bluebench
  prepare/cards/20_newsgroups_shorted.py
  prepare/recipes/bluebench.py
  src/unitxt/catalog/cards/20_newsgroups_short.json
  src/unitxt/catalog/recipes/bluebench/news_classification/20_newsgroups_short.json
Due: enforce-library-imports

rename
  prepare/cards/20_newsgroups_short.py
Due: enforce-library-imports

remove 20_newsgroup from bluebench catalog
  src/unitxt/catalog/recipes/bluebench/news_classification/20_newsgroups.json
Due: none

remove 20_newsgroup from bluebench catalog
  src/unitxt/catalog/benchmarks/bluebench.json
Due: none

format
  src/unitxt/catalog/benchmarks/bluebench.json
Due: none

Fix catalog links
  docs/catalog.py
Due: enforce-library-imports

Replace 20 newsgroup with a shorter version in bluebench (#1347)
  prepare/cards/20_newsgroups_short.py
  prepare/recipes/bluebench.py
  src/unitxt/catalog/benchmarks/bluebench.json
  src/unitxt/catalog/cards/20_newsgroups_short.json
  src/unitxt/catalog/recipes/bluebench/news_classification/20_newsgroups_short.json
  src/unitxt/inference.py
Due: enforce-relative-imports, enforce-library-imports

Fix catalog links (#1348)
  docs/catalog.py
Due: enforce-library-imports

Add minor change to github action
  .github/workflows/catalog_preparation.yml
Due: none

Make sure there are no more then one job running for each pull request at the same time
  .github/workflows/catalog_consistency.yml
  .github/workflows/catalog_preparation.yml
  .github/workflows/docs.yml
  .github/workflows/examples_tests.yml
  .github/workflows/inference_tests.yml
  .github/workflows/library_eager_execution_tests.yml
  .github/workflows/library_tests.yml
  .github/workflows/performance.yml
  .github/workflows/quality.yml
  .github/workflows/test_helm.yml
Due: none

Fix
  .github/workflows/catalog_consistency.yml
  .github/workflows/catalog_preparation.yml
  .github/workflows/docs.yml
  .github/workflows/examples_tests.yml
  .github/workflows/inference_tests.yml
  .github/workflows/library_eager_execution_tests.yml
  .github/workflows/library_tests.yml
  .github/workflows/performance.yml
  .github/workflows/quality.yml
  .github/workflows/test_helm.yml
Due: none

Update
  .github/workflows/catalog_preparation.yml
Due: none

Update
  .github/workflows/examples_tests.yml
  .github/workflows/inference_tests.yml
  .github/workflows/library_eager_execution_tests.yml
Due: none

Shorten jobs names for better visability
  .github/workflows/catalog_consistency.yml
  .github/workflows/catalog_preparation.yml
  .github/workflows/docs.yml
  .github/workflows/examples_tests.yml
  .github/workflows/inference_tests.yml
  .github/workflows/library_eager_execution_tests.yml
  .github/workflows/library_tests.yml
  .github/workflows/performance.yml
  .github/workflows/quality.yml
  .github/workflows/test_helm.yml
Due: none

Make GitHub Actions tests faster and clearer
  .github/workflows/catalog_consistency.yml
  .github/workflows/catalog_preparation.yml
  .github/workflows/docs.yml
  .github/workflows/examples_tests.yml
  .github/workflows/inference_tests.yml
  .github/workflows/library_eager_execution_tests.yml
  .github/workflows/library_tests.yml
  .github/workflows/performance.yml
  .github/workflows/quality.yml
  .github/workflows/test_helm.yml
  tests/catalog/test_preparation.py
Due: enforce-library-imports

Fix github actions concurrency
  .github/workflows/catalog_consistency.yml
  .github/workflows/catalog_preparation.yml
  .github/workflows/docs.yml
  .github/workflows/examples_tests.yml
  .github/workflows/inference_tests.yml
  .github/workflows/library_eager_execution_tests.yml
  .github/workflows/library_tests.yml
  .github/workflows/performance.yml
  .github/workflows/quality.yml
  .github/workflows/test_helm.yml
Due: none

Fix GitHub Actions concurrence execution (#1349)
  .github/workflows/catalog_consistency.yml
  .github/workflows/catalog_preparation.yml
  .github/workflows/docs.yml
  .github/workflows/examples_tests.yml
  .github/workflows/inference_tests.yml
  .github/workflows/library_eager_execution_tests.yml
  .github/workflows/library_tests.yml
  .github/workflows/performance.yml
  .github/workflows/quality.yml
  .github/workflows/test_helm.yml
Due: none

remove task response_generation_with_llmaj Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/tasks/rag/response_generation_with_llmaj.py
  src/unitxt/catalog/tasks/rag/response_generation_with_wml_llmaj.json
Due: enforce-library-imports

Fixed error checking in tests
  tests/library/test_artifact.py
Due: enforce-library-imports

Reordered examples
  docs/docs/examples.rst
Due: none

Moved example to use WML inference
  examples/evaluate_batched_multiclass_classification.py
Due: enforce-library-imports

Add ability to run without template for simpler api
  src/unitxt/standard.py
  tests/library/test_api.py
Due: enforce-relative-imports, enforce-library-imports

Batched multi class classification (#1340)
  docs/docs/examples.rst
  examples/evaluate_batched_multiclass_classification.py
  src/unitxt/artifact.py
  src/unitxt/error_utils.py
  src/unitxt/operators.py
  src/unitxt/test_utils/card.py
  tests/examples/test_examples.py
  tests/library/test_artifact.py
  tests/library/test_operators.py
Due: enforce-relative-imports, enforce-library-imports
