Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [--baseline, utils/.secrets.baseline]
        exclude: utils/.secrets.baseline

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils|unitxt/assistant/.*)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

Added test and fix
  src/unitxt/artifact.py
  src/unitxt/catalog/cards/tot/arithmetic.json
  src/unitxt/catalog/cards/tot/semantic.json
  src/unitxt/deprecation_utils.py
  tests/library/test_artifact_recovery.py
  utils/prepare_all_artifacts.py
Due: enforce-relative-imports, enforce-library-imports

Added option to run HF inference in CrossProviderInferenceEngline
  examples/inference_using_cross_provider.py
  src/unitxt/inference.py
Due: enforce-relative-imports, enforce-library-imports

Changed example to use hf in CrossProviderInferenceEngine
  examples/qa_evaluation.py
  examples/standalone_qa_evaluation.py
  src/unitxt/inference.py
Due: enforce-relative-imports, enforce-library-imports

Revert unintended deletion
  src/unitxt/inference.py
Due: enforce-relative-imports

More example changes
  examples/evaluate_rag_response_generation.py
  examples/multiple_choice_qa_evaluation.py
Due: enforce-library-imports

Add tokenizer_name to base huggingface inference engines (#1862)
  src/unitxt/inference.py
Due: enforce-relative-imports

Changed to provider name from hf to hf-local
  examples/evaluate_rag_response_generation.py
  examples/evaluate_using_metrics_ensemble.py
  examples/inference_using_cross_provider.py
  examples/multiple_choice_qa_evaluation.py
  examples/qa_evaluation.py
  examples/standalone_qa_evaluation.py
  src/unitxt/inference.py
Due: enforce-relative-imports, enforce-library-imports

Add hf to cross provider inference engine (#1866)
  examples/evaluate_rag_response_generation.py
  examples/evaluate_using_metrics_ensemble.py
  examples/inference_using_cross_provider.py
  examples/multiple_choice_qa_evaluation.py
  examples/qa_evaluation.py
  examples/standalone_qa_evaluation.py
  src/unitxt/inference.py
Due: enforce-relative-imports, enforce-library-imports

Corrected test
  tests/library/test_metrics.py
Due: enforce-library-imports

Finalize deprecation of trust_remote_code in datasets
  src/unitxt/catalog/cards/trec.json
  src/unitxt/loaders.py
Due: enforce-relative-imports

Another fix
  prepare/cards/wiki_bio.py
  src/unitxt/catalog/cards/wiki_bio.json
  tests/library/test_loaders.py
Due: enforce-library-imports

Update finqa
  prepare/cards/fin_qa.py
  src/unitxt/catalog/cards/fin_qa.json
Due: enforce-library-imports

fix finqa to specific commit
  prepare/cards/fin_qa.py
  src/unitxt/catalog/cards/fin_qa.json
Due: enforce-library-imports

Update banking, ethos and uner
  prepare/cards/banking77.py
  prepare/cards/ethos.py
  prepare/cards/universal_ner.py
  src/unitxt/catalog/cards/banking77.json
  src/unitxt/catalog/cards/ethos_binary.json
  src/unitxt/catalog/cards/universal_ner/ceb/gja.json
  src/unitxt/catalog/cards/universal_ner/da/ddt.json
  src/unitxt/catalog/cards/universal_ner/de/pud.json
  src/unitxt/catalog/cards/universal_ner/en/ewt.json
  src/unitxt/catalog/cards/universal_ner/en/pud.json
  src/unitxt/catalog/cards/universal_ner/hr/set.json
  src/unitxt/catalog/cards/universal_ner/pt/bosque.json
  src/unitxt/catalog/cards/universal_ner/pt/pud.json
  src/unitxt/catalog/cards/universal_ner/ru/pud.json
  src/unitxt/catalog/cards/universal_ner/sk/snk.json
  src/unitxt/catalog/cards/universal_ner/sr/set.json
  src/unitxt/catalog/cards/universal_ner/sv/pud.json
  src/unitxt/catalog/cards/universal_ner/sv/talbanken.json
  src/unitxt/catalog/cards/universal_ner/tl/trg.json
  src/unitxt/catalog/cards/universal_ner/tl/ugnayan.json
  src/unitxt/catalog/cards/universal_ner/zh/gsd.json
  src/unitxt/catalog/cards/universal_ner/zh/gsdsimp.json
  src/unitxt/catalog/cards/universal_ner/zh/pud.json
  src/unitxt/loaders.py
  tests/library/test_loaders.py
Due: enforce-relative-imports, enforce-library-imports

fix dart, reuters, hotpotqa, bbq, legalbench
  prepare/cards/dart.py
  prepare/cards/legalbench.py
  prepare/cards/rag/end_to_end/hotpotqa.py
  prepare/cards/reuters21578.py
  prepare/cards/safety/bbq.py
  src/unitxt/catalog/cards/dart.json
  src/unitxt/catalog/cards/legalbench/abercrombie.json
  src/unitxt/catalog/cards/legalbench/corporate_lobbying.json
  src/unitxt/catalog/cards/legalbench/function_of_decision_section.json
  src/unitxt/catalog/cards/legalbench/international_citizenship_questions.json
  src/unitxt/catalog/cards/legalbench/proa.json
  src/unitxt/catalog/cards/rag/benchmark/hotpotqa/en.json
  src/unitxt/catalog/cards/rag/documents/hotpotqa/en.json
  src/unitxt/catalog/cards/reuters21578/ModApte.json
  src/unitxt/catalog/cards/reuters21578/ModHayes.json
  src/unitxt/catalog/cards/reuters21578/ModLewis.json
  src/unitxt/catalog/cards/safety/bbq/Age.json
  src/unitxt/catalog/cards/safety/bbq/Disability_status.json
  src/unitxt/catalog/cards/safety/bbq/Gender_identity.json
  src/unitxt/catalog/cards/safety/bbq/Nationality.json
  src/unitxt/catalog/cards/safety/bbq/Physical_appearance.json
  src/unitxt/catalog/cards/safety/bbq/Race_ethnicity.json
  src/unitxt/catalog/cards/safety/bbq/Race_x_SES.json
  src/unitxt/catalog/cards/safety/bbq/Race_x_gender.json
  src/unitxt/catalog/cards/safety/bbq/Religion.json
  src/unitxt/catalog/cards/safety/bbq/SES.json
  src/unitxt/catalog/cards/safety/bbq/Sexual_orientation.json
Due: enforce-library-imports

Fix wikitq
  prepare/cards/wikitq.py
  src/unitxt/catalog/cards/wikitq.json
  src/unitxt/loaders.py
  src/unitxt/operators.py
  src/unitxt/struct_data_operators.py
  tests/library/test_operators.py
  tests/library/test_struct_data_operators.py
Due: enforce-relative-imports, enforce-library-imports

Update version to 1.26.2
  src/unitxt/version.py
Due: enforce-relative-imports

Update version to 1.26.2 (#1867)
  src/unitxt/version.py
Due: enforce-relative-imports

Add empty predictions class
  src/unitxt/api.py
  src/unitxt/llm_as_judge.py
  src/unitxt/metric_utils.py
  tests/inference/test_llmaaj_metrics.py
Due: enforce-relative-imports, enforce-library-imports

Reduce cards in judge bench example
  examples/evaluate_llm_as_judge_judgebench.py
Due: enforce-library-imports

Update llmjudge example models
  examples/evaluate_llm_as_judge_direct_user_criteria_no_catalog.py
  examples/evaluate_llm_as_judge_pairwise_user_criteria_no_catalog.py
Due: enforce-library-imports

Add missing outdated criteria artifact
  src/unitxt/catalog/metrics/llm_as_judge/direct/criteria/assistant_message_compliance.json
Due: none

Improve prediction check
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

Fix: task_data -> td
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

Add tests
  src/unitxt/llm_as_judge.py
  src/unitxt/llm_as_judge_constants.py
  tests/inference/test_llmaaj_metrics.py
Due: enforce-relative-imports, enforce-library-imports

Fix typo
  src/unitxt/inference.py
Due: enforce-relative-imports

LLM Judge: Improve context/prediction fields parsing
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

Add check for criteria[i].prediction_field in task_data
  src/unitxt/llm_as_judge.py
  src/unitxt/llm_as_judge_constants.py
Due: enforce-relative-imports

Run all judgebench cards in example
  examples/evaluate_llm_as_judge_judgebench.py
Due: enforce-library-imports

Use Union instead of |
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

Code used to check if __tools__ in task data using a string search and not using dictionary containment.
  src/unitxt/inference.py
Due: enforce-relative-imports

Added more information to prinouts
  src/unitxt/operators.py
Due: enforce-relative-imports

LLM Judge: Improve context/prediction fields parsing (#1856)
  examples/evaluate_llm_as_judge_direct_user_criteria_no_catalog.py
  examples/evaluate_llm_as_judge_judgebench.py
  examples/evaluate_llm_as_judge_pairwise_user_criteria_no_catalog.py
  src/unitxt/api.py
  src/unitxt/catalog/metrics/llm_as_judge/direct/criteria/assistant_message_compliance.json
  src/unitxt/inference.py
  src/unitxt/llm_as_judge.py
  src/unitxt/llm_as_judge_constants.py
  src/unitxt/metric_utils.py
  tests/inference/test_llmaaj_metrics.py
Due: enforce-relative-imports, enforce-library-imports

Made FuzzyNer baackward compatible with past implementation.
  src/unitxt/metrics.py
Due: enforce-relative-imports

Fixed bug in tool inference (#1868)
  src/unitxt/inference.py
  src/unitxt/operators.py
Due: enforce-relative-imports

Fix tab fact
  prepare/cards/tab_fact.py
  src/unitxt/catalog/cards/tab_fact.json
Due: enforce-library-imports

Added a new MetricBasedNer that allows calculating entity similary using any Unitxt metric. (#1860)
  examples/ner_evaluation.py
  prepare/metrics/metric_based_ner.py
  src/unitxt/catalog/metrics/metric_based_ner.json
  src/unitxt/metrics.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

removing col names to allow sorting with duplicate names
  src/unitxt/text2sql_utils.py
Due: enforce-relative-imports
