Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

test ultimate instantiation of ArtifactLink to an Actual Artifact - the target of the link
  src/unitxt/artifact.py
  tests/library/test_artifact.py
Due: enforce-relative-imports, enforce-library-imports

reworded documentation some
  docs/docs/saving_and_loading_from_catalog.rst
  src/unitxt/operators.py
  tests/library/test_artifact.py
Due: enforce-relative-imports, enforce-library-imports

red deprecation
  docs/_static/custom.css
  docs/catalog.py
Due: enforce-library-imports

show deprecation message only at the top of the documentation, not inside the yanl
  docs/catalog.py
  prepare/system_prompts/tasks/boolqa.py
  src/unitxt/catalog/system_prompts/boolqa.json
Due: enforce-library-imports

also leave the existing removal of __tags__ and __description__
  docs/_static/custom.css
  docs/catalog.py
Due: enforce-library-imports

deprecated regular asset
  docs/docs/saving_and_loading_from_catalog.rst
Due: none

Remove obsolete metric
  src/unitxt/catalog/metrics/llm_as_judge/safety/llama_3_70b_instruct_ibm_genai_template_harm_rating.json
Due: none

Adding custom processing
  src/unitxt/processors.py
  tests/library/test_postprocessors.py
Due: enforce-relative-imports, enforce-library-imports

Updated provoq with fine-grained contexts
  prepare/cards/safety/provoq.py
  prepare/tasks/generation.py
  src/unitxt/catalog/cards/safety/provoq.json
  src/unitxt/catalog/tasks/generation/with_contexts.json
Due: enforce-library-imports

Add inference engines to the catalog
  prepare/engines/cross_provider/llama3.py
  prepare/engines/openai/gpt4o.py
  prepare/engines/rits/llama3.py
  src/unitxt/catalog/engines/cross_provider/llama_3_70b_instruct.json
  src/unitxt/catalog/engines/cross_provider/llama_3_8b_instruct.json
  src/unitxt/catalog/engines/openai/gpt_4o.json
  src/unitxt/catalog/engines/rits/llama_3/1_8b_instruct.json
  src/unitxt/catalog/engines/rits/llama_3_1_405b_instruct_fp8.json
  src/unitxt/catalog/engines/rits/llama_3_1_70b_instruct.json
Due: enforce-library-imports

Add inference engines to the catalog (#1394)
  prepare/engines/cross_provider/llama3.py
  prepare/engines/openai/gpt4o.py
  prepare/engines/rits/llama3.py
  src/unitxt/catalog/engines/cross_provider/llama_3_70b_instruct.json
  src/unitxt/catalog/engines/cross_provider/llama_3_8b_instruct.json
  src/unitxt/catalog/engines/openai/gpt_4o.json
  src/unitxt/catalog/engines/rits/llama_3/1_8b_instruct.json
  src/unitxt/catalog/engines/rits/llama_3_1_405b_instruct_fp8.json
  src/unitxt/catalog/engines/rits/llama_3_1_70b_instruct.json
Due: enforce-library-imports

Update EvalAssistLLMasJudge
  examples/evaluate_eval_assist_rubric.py
  prepare/metrics/llm_as_judge/eval_assist.json
  prepare/metrics/llm_as_judge/eval_assist.py
  prepare/metrics/llm_as_judge/rubrics_eval_assist.py
  prepare/metrics/llm_as_judge/templates_eval_assist.py
  src/unitxt/evalassist_llm_as_judge.py
Due: enforce-relative-imports, enforce-library-imports

Fixed registering eval assist to catalog. Eval assist now generates assessment and summary for hardcoded prompts
  examples/evaluate_eval_assist.py
  prepare/metrics/llm_as_judge/eval_assist.py
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/granite.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/llama_70b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/llama_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/mixtral.json
  src/unitxt/evalassist_llm_as_judge.py
Due: enforce-relative-imports, enforce-library-imports

evalassist metric initial changes
  examples/evaluate_eval_assist.py
  prepare/metrics/llm_as_judge/eval_assist.json
  prepare/metrics/llm_as_judge/eval_assist.py
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/prompt_templates/mixtral/answer.jinja
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/prompt_templates/mixtral/assessment.jinja
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/prompt_templates/mixtral/summarization.jinja
  src/unitxt/evalassist_llm_as_judge.py
Due: enforce-relative-imports, enforce-library-imports

update example evaluate_aval_assist_rubric
  examples/evaluate_eval_assist_rubric.py
Due: enforce-library-imports

Add prometheus in catalog
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/prometheus.json
Due: none

add catalog for pairwise metrics
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/criterias/factually_consistent.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/criterias/inclusivity.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/criterias/temperature.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/llama_70b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/llama_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/mixtral.json
Due: none

Use empty template in example cards
  examples/evaluate_eval_assist_direct_predefined_criteria.py
  examples/evaluate_eval_assist_direct_user_criteria.py
  examples/evaluate_eval_assist_pairwise_predefined_criteria.py
  examples/evaluate_eval_assist_pairwise_user_criteria.py
Due: enforce-library-imports

Add rubrics and criterias as Enums
  prepare/metrics/llm_as_judge/eval_assist_direct.py
  prepare/metrics/llm_as_judge/eval_assist_pairwise.py
  src/unitxt/eval_assist_constants.py
Due: enforce-relative-imports, enforce-library-imports

add gpt to the catalog
  examples/eval_assist_demo.ipynb
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/gpt.json
Due: none

update catalog for eval assist
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/gpt_4o.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/granite_20b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/llama3_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/mixtral_8_7b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/prometheus_8_7b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/rubrics/harmfulness.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/gpt_4o.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/llama3_70b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/llama3_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/mixtral_8_7b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/prometheus_8_7b.json
Due: none

Add GPT Pairwise evaluator
  examples/evaluate_eval_assist_direct.py
  examples/evaluate_eval_assist_pairwise.py
  examples/evaluate_eval_assist_pairwise_criteria.py
  examples/evaluate_eval_assist_rubric.py
  prepare/metrics/llm_as_judge/eval_assist_direct.py
  prepare/metrics/llm_as_judge/eval_assist_pairwise.py
  prepare/metrics/llm_as_judge/templates_eval_assist_pairwise.py
  src/unitxt/eval_assist_constants.py
  src/unitxt/evalassist_llm_as_judge_pairwise.py
  src/unitxt/formats.py
  src/unitxt/inference.py
Due: enforce-relative-imports, enforce-library-imports

Rename context variable in examples
  examples/evaluate_eval_assist_direct_predefined_criteria.py
  examples/evaluate_eval_assist_direct_user_criteria.py
  examples/evaluate_eval_assist_pairwise_predefined_criteria.py
  examples/evaluate_eval_assist_pairwise_user_criteria.py
Due: enforce-library-imports

remove unused variable
  src/unitxt/inference.py
Due: enforce-relative-imports

update eval_assist_cinstant
  src/unitxt/eval_assist_constants.py
Due: enforce-relative-imports

Improve criteria parsing and classes
  prepare/metrics/llm_as_judge/eval_assist.py
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/criterias/answer_relevance.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/criterias/coherence.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/criterias/conciseness.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/criterias/harmfulness.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/criterias/insensitivity.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/criterias/manipulative.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/criterias/temperature.json
  src/unitxt/eval_assist_constants.py
  src/unitxt/evalassist_llm_as_judge_direct.py
  src/unitxt/evalassist_llm_as_judge_pairwise.py
Due: enforce-relative-imports, enforce-library-imports

Rename evalassist to eval_assist as in other files
  prepare/metrics/llm_as_judge/eval_assist.py
  src/unitxt/eval_assist_llm_as_judge_direct.py
  src/unitxt/eval_assist_llm_as_judge_pairwise.py
Due: enforce-relative-imports, enforce-library-imports

add pairwise criteria in preprocess_step
  examples/evaluate_eval_assist.py
  examples/evaluate_eval_assist_pairwise_criteria.py
Due: enforce-library-imports

Fixed incorrect merge conflict
  src/unitxt/inference.py
Due: enforce-relative-imports

Make watsonx infer call concurrent
  src/unitxt/inference.py
Due: enforce-relative-imports

eval assist pairwise now gets model name from constants to register to catalog
  examples/evaluate_eval_assist_pairwise.py
  examples/evaluate_eval_assist_pairwise_criteria.py
  prepare/metrics/llm_as_judge/eval_assist_pairwise.py
  prepare/metrics/llm_as_judge/templates_eval_assist.py
  prepare/metrics/llm_as_judge/templates_eval_assist_pairwise.py
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/llama3_70b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/llama3_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/mixtral_8_7b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/prometheus_8_7b.json
  src/unitxt/eval_assist_constants.py
  src/unitxt/evalassist_llm_as_judge_direct.py
  src/unitxt/evalassist_llm_as_judge_pairwise.py
Due: enforce-relative-imports, enforce-library-imports

add pairwiseEvaluator as EvalAssistLLMAsJudgePairwise
  examples/evaluate_eval_assist_pairwise.py
  examples/evaluate_eval_assist_pairwise_criteria.py
  prepare/metrics/llm_as_judge/eval_assist_pairwise.py
  prepare/metrics/llm_as_judge/templates_eval_assist_pairwise.py
  src/unitxt/evalassist_llm_as_judge_pairwise.py
Due: enforce-relative-imports, enforce-library-imports

rename eval assist's example files
  examples/evaluate_eval_assist_direct_predefined_criteria.py
  examples/evaluate_eval_assist_direct_user_criteria.py
  examples/evaluate_eval_assist_pairwise_predefined_criteria.py
  examples/evaluate_eval_assist_pairwise_user_criteria.py
Due: enforce-library-imports

Renamed eval_assist to eval_assist_direct and also using constants to create direct assessment evaluators
  examples/evaluate_eval_assist_direct.py
  prepare/metrics/llm_as_judge/eval_assist.py
  prepare/metrics/llm_as_judge/eval_assist_direct.py
  prepare/metrics/llm_as_judge/rubrics_eval_assist.py
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/gpt_4o.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/llama3_70b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/llama3_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/llama_70b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/mixtral_8_7b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/prometheus_8_7b.json
  src/unitxt/eval_assist_constants.py
  src/unitxt/evalassist_llm_as_judge_direct.py
Due: enforce-relative-imports, enforce-library-imports

Adapt evaluators and examples context to be a dict instead of a str
  examples/evaluate_eval_assist_direct_predefined_criteria.py
  examples/evaluate_eval_assist_direct_user_criteria.py
  examples/evaluate_eval_assist_pairwise_predefined_criteria.py
  examples/evaluate_eval_assist_pairwise_user_criteria.py
  src/unitxt/eval_assist_utils.py
  src/unitxt/evalassist_llm_as_judge_direct.py
  src/unitxt/evalassist_llm_as_judge_pairwise.py
Due: enforce-relative-imports, enforce-library-imports

Add prometheus model for pairwise
  examples/evaluate_eval_assist_pairwise_criteria.py
  prepare/metrics/llm_as_judge/eval_assist_pairwise.py
  prepare/metrics/llm_as_judge/templates_eval_assist_pairwise.py
  src/unitxt/evalassist_llm_as_judge_pairwise.py
Due: enforce-relative-imports, enforce-library-imports

update input fields in pairwise example
  examples/evaluate_eval_assist_pairwise_criteria.py
Due: enforce-library-imports

Removed unncessary template files
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/prompt_templates/mixtral/answer.jinja
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/prompt_templates/mixtral/assessment.jinja
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/prompt_templates/mixtral/summarization.jinja
Due: none

Remove unused imports
  examples/evaluate_eval_assist_direct_predefined_criteria.py
  examples/evaluate_eval_assist_direct_user_criteria.py
  examples/evaluate_eval_assist_pairwise_predefined_criteria.py
  examples/evaluate_eval_assist_pairwise_user_criteria.py
Due: enforce-library-imports

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
