Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]
        exclude: src/unitxt/metrics.py
      # Run the linter on the specific file with the ignore flag
      - id: ruff
        name: ruff (src/unitxt/metrics.py)
        files: src/unitxt/metrics.py
        args: [--fix, --ignore, C901]
      # Run the formatter
      - id: ruff-format

  - repo: https://github.com/ibm/detect-secrets
    # If you desire to use a specific version of detect-secrets, you can replace `master` with other git revisions such as branch, tag or commit sha.
    # You are encouraged to use static refs such as tags, instead of branch name
    #
    # Running "pre-commit autoupdate" automatically updates rev to latest tag
    rev: 0.13.1+ibm.61.dss
    hooks:
      - id: detect-secrets # pragma: whitelist secret
        # Add options for detect-secrets-hook binary. You can run `detect-secrets-hook --help` to list out all possible options.
        # You may also run `pre-commit run detect-secrets` to preview the scan result.
        # when "--baseline" without "--use-all-plugins", pre-commit scan with just plugins in baseline file
        # when "--baseline" with "--use-all-plugins", pre-commit scan with all available plugins
        # add "--fail-on-unaudited" to fail pre-commit for unaudited potential secrets
        args: [--baseline, .secrets.baseline, --use-all-plugins, --fail-on-unaudited]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

Fixed error message check
  .secrets.baseline
  src/unitxt/metrics.py
Due: enforce-relative-imports

Update index.rst
  docs/index.rst
Due: none

Update index.rst (#1107)
  docs/index.rst
Due: none

DeepSeek-Coder format and system prompt (#1105)
  examples/evaluate_different_formats.py
  prepare/formats/models/deepseek_coder.py
  prepare/system_prompts/models/deepseek_coder.py
  src/unitxt/catalog/formats/deepseek_coder.json
  src/unitxt/catalog/system_prompts/models/deepseek_coder.json
Due: enforce-library-imports

Move rag context correctness metrics tests (#1092)
  prepare/metrics/rag_context_correctness.py
  tests/library/test_metrics.py
Due: enforce-library-imports

Add a metric to calculate the ratio of references included in the prediction (#1091)
  .secrets.baseline
  prepare/metrics/string_containment.py
  src/unitxt/catalog/metrics/string_containment_ratio.json
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

Update docs/docs/adding_dataset.rst
  docs/docs/adding_dataset.rst
Due: none

Editing adding_dataset.rst (#1058)
  docs/docs/adding_dataset.rst
Due: none

Fix helm test
  utils/run_helm.sh
Due: none

Fix helm test (#1109)
  utils/run_helm.sh
Due: none

apply ci_scores for global metric Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/metrics.py
Due: enforce-relative-imports

add ci_scores Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/metrics.py
Due: enforce-relative-imports

added new UnitxtError and UnitxtWarning classes
  .secrets.baseline
  src/unitxt/doc_utils.py
  src/unitxt/error_utils.py
  src/unitxt/metric.py
  src/unitxt/metrics.py
  src/unitxt/task.py
  tests/library/test_error_utils.py
  tests/library/test_tasks.py
Due: enforce-relative-imports, enforce-library-imports

Converted exceptions
  src/unitxt/task.py
  tests/library/test_tasks.py
Due: enforce-relative-imports, enforce-library-imports

Aggregated constants
  src/unitxt/dataset.py
  src/unitxt/error_utils.py
  src/unitxt/metrics.py
  src/unitxt/task.py
  tests/library/test_error_utils.py
Due: enforce-relative-imports, enforce-library-imports

Added dedicated Unitxt warning and error classes to link online documentaion (#1043)
  .secrets.baseline
  docs/docs/adding_metric.rst
  src/unitxt/dataset.py
  src/unitxt/error_utils.py
  src/unitxt/metric.py
  src/unitxt/metrics.py
  src/unitxt/task.py
  tests/library/test_error_utils.py
  tests/library/test_tasks.py
Due: enforce-relative-imports, enforce-library-imports

add logprobs to WML inference engine
  src/unitxt/inference.py
Due: enforce-relative-imports

updates
  src/unitxt/catalog/metrics/rag/answer_correctness/sentence_bert.json
  src/unitxt/catalog/metrics/rag/context_relevance/perplexity.json
  src/unitxt/catalog/metrics/rag/context_relevance/sentence_bert.json
  src/unitxt/catalog/metrics/rag/faithfulness/sentence_bert.json
Due: none

updates
  prepare/metrics/rag.py
  prepare/metrics/rag_answer_correctness.py
  prepare/metrics/rag_context_relevance.py
  prepare/metrics/rag_faithfulness.py
Due: enforce-library-imports

updates
  src/unitxt/catalog/metrics/rag/answer_correctness/sentence_bert_bge.json
  src/unitxt/catalog/metrics/rag/answer_correctness/sentence_bert_mini_lm.json
  src/unitxt/catalog/metrics/rag/context_relevance/perplexity_flan_t5_small.json
  src/unitxt/catalog/metrics/rag/context_relevance/sentence_bert_bge.json
  src/unitxt/catalog/metrics/rag/context_relevance/sentence_bert_mini_lm.json
  src/unitxt/catalog/metrics/rag/faithfulness/sentence_bert_bge.json
  src/unitxt/catalog/metrics/rag/faithfulness/sentence_bert_mini_lm.json
  src/unitxt/catalog/metrics/sentence_bert/minilm_l12_v2.json
Due: none

updates
  prepare/metrics/rag_context_correctness.py
  src/unitxt/catalog/metrics/rag/context_correctness.json
  src/unitxt/catalog/metrics/rag/map.json
  src/unitxt/catalog/metrics/rag/mrr.json
  src/unitxt/catalog/metrics/rag/retrieval_at_k.json
Due: enforce-library-imports

updates
  examples/evaluate_rag.py
Due: enforce-library-imports

updates
  src/unitxt/catalog/metrics/rag/context_correctness.json
  src/unitxt/catalog/metrics/rag/context_correctness/map.json
  src/unitxt/catalog/metrics/rag/context_correctness/mrr.json
  src/unitxt/catalog/metrics/rag/context_correctness/retrieval_at_k.json
Due: none

updates
  prepare/metrics/rag_context_relevance.py
Due: enforce-library-imports

separating rag metrics and adding bge metrics - catalog non backward compatible change (#1104)
  examples/evaluate_rag.py
  prepare/metrics/rag.py
  prepare/metrics/rag_answer_correctness.py
  prepare/metrics/rag_answer_relevance.py
  prepare/metrics/rag_context_correctness.py
  prepare/metrics/rag_context_relevance.py
  prepare/metrics/rag_faithfulness.py
  src/unitxt/catalog/metrics/rag/answer_correctness/bert_score_recall.json
  src/unitxt/catalog/metrics/rag/answer_correctness/bert_score_recall_ml.json
  src/unitxt/catalog/metrics/rag/answer_correctness/sentence_bert_bge.json
  src/unitxt/catalog/metrics/rag/answer_correctness/sentence_bert_mini_lm.json
  src/unitxt/catalog/metrics/rag/answer_correctness/token_recall.json
  src/unitxt/catalog/metrics/rag/context_correctness/map.json
  src/unitxt/catalog/metrics/rag/context_correctness/mrr.json
  src/unitxt/catalog/metrics/rag/context_correctness/retrieval_at_k.json
  src/unitxt/catalog/metrics/rag/context_relevance/perplexity_flan_t5_small.json
  src/unitxt/catalog/metrics/rag/context_relevance/sentence_bert_bge.json
  src/unitxt/catalog/metrics/rag/context_relevance/sentence_bert_mini_lm.json
  src/unitxt/catalog/metrics/rag/faithfulness/bert_score_k_precision.json
  src/unitxt/catalog/metrics/rag/faithfulness/bert_score_k_precision_ml.json
  src/unitxt/catalog/metrics/rag/faithfulness/sentence_bert_bge.json
  src/unitxt/catalog/metrics/rag/faithfulness/sentence_bert_mini_lm.json
  src/unitxt/catalog/metrics/rag/faithfulness/token_k_precision.json
  src/unitxt/catalog/metrics/sentence_bert/bge_large_en_1_5.json
  src/unitxt/catalog/metrics/sentence_bert/minilm_l12_v2.json
Due: enforce-library-imports

Add option to run multiple templates in recipe + some code simplifications
  src/unitxt/schema.py
  src/unitxt/standard.py
  src/unitxt/templates.py
  tests/library/test_recipe.py
  tests/library/test_templates.py
Due: enforce-relative-imports, enforce-library-imports

processors for inference engine logprob results
  prepare/processors/processors.py
  src/unitxt/catalog/processors/infer_last_token_logprobs_to_yes_no_probs.json
  src/unitxt/catalog/processors/infer_logprobs_to_yes_no_probs.json
  src/unitxt/processors.py
Due: enforce-relative-imports, enforce-library-imports

Few fixes
  src/unitxt/standard.py
  src/unitxt/templates.py
  tests/library/test_format_and_template_interaction.py
  tests/library/test_operators.py
  tests/library/test_templates.py
Due: enforce-relative-imports, enforce-library-imports

update
  examples/evaluate_summarization_dataset_llm_as_judge.py
  examples/standalone_evaluation_llm_as_judge.py
  prepare/cards/dynamic_cards_for_llm_judges/llm_as_judge_metrics.py
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports, enforce-library-imports

Fix link to llama blog in adding_format.rst
  docs/docs/adding_format.rst
Due: none

update
  src/unitxt/catalog/cards/dynamic_cards_for_llm_judges/pairwise_comparative_rating/single_turn.json
  src/unitxt/catalog/cards/dynamic_cards_for_llm_judges/rating/single_turn.json
  src/unitxt/catalog/cards/dynamic_cards_for_llm_judges/rating/single_turn_with_reference.json
Due: none

Fix link to llama blog in adding_format.rst (#1113)
  docs/docs/adding_format.rst
Due: none

Make num_demos being able to accept list
  src/unitxt/blocks.py
  src/unitxt/splitters.py
  src/unitxt/standard.py
  tests/library/test_api.py
  tests/library/test_recipe.py
Due: enforce-relative-imports, enforce-library-imports

Fix smaplers tests
  tests/library/test_splitters.py
Due: enforce-library-imports
