Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

Update formats.py --- copy edits (grammar, consistency, clarity)
  src/unitxt/formats.py
Due: enforce-relative-imports

Update llm_as_judge.py --- copy edits (grammar, consistency, clarity)
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

Adding ilab results - before train, without 5 yaml examples
  ilab/ilab_results/cat_trained_0_shots_100_samples_predictions.csv
  ilab/ilab_results/cat_trained_0_shots_100_samples_run.csv
  ilab/ilab_results/cat_trained_5_shots_100_samples_predictions.csv
  ilab/ilab_results/cat_trained_5_shots_100_samples_run.csv
  ilab/ilab_results/clapnq_trained_0_shots_100_samples_predictions.csv
  ilab/ilab_results/clapnq_trained_0_shots_100_samples_run.csv
  ilab/ilab_results/clapnq_trained_5_shots_100_samples_predictions.csv
  ilab/ilab_results/clapnq_trained_5_shots_100_samples_run.csv
  ilab/ilab_results/entities_all_trained_0_shots_100_samples_predictions.csv
  ilab/ilab_results/entities_all_trained_0_shots_100_samples_run.csv
  ilab/ilab_results/entities_all_trained_5_shots_100_samples_predictions.csv
  ilab/ilab_results/entities_all_trained_5_shots_100_samples_run.csv
  ilab/ilab_results/pagerduty_trained_0_shots_100_samples_predictions.csv
  ilab/ilab_results/pagerduty_trained_0_shots_100_samples_run.csv
  ilab/ilab_results/watson_emotion_classes_first_trained_0_shots_100_samples_predictions.csv
  ilab/ilab_results/watson_emotion_classes_first_trained_0_shots_100_samples_run.csv
  ilab/ilab_results/watson_emotion_classes_first_trained_5_shots_100_samples_predictions.csv
  ilab/ilab_results/watson_emotion_classes_first_trained_5_shots_100_samples_run.csv
Due: none

for yaml examples, extract the examples from origin ds, usnig indices from yaml
  ilab/ilab_evaluate.py
Due: enforce-library-imports

Add LLMaaJ metric to the yaml examples
  ilab/ilab_evaluate.py
Due: enforce-library-imports

stuff
  ilab/adjust_digit_output_format.py
  ilab/create_ilab_skill_yaml.py
Due: enforce-library-imports

organize files + choose model to evaluate
  .gitignore
  ilab/evaluate
  ilab/ilab_evaluate.py
  ilab/ilab_results/archive/cnn_dailymail_base_model_bla.csv
  ilab/ilab_results/archive/cnn_dailymail_base_model_predictions.csv
  ilab/ilab_results/archive/cnn_dailymail_base_model_run.csv
  ilab/ilab_results/archive/cnn_dailymail_cnn1_model_predictions.csv
  ilab/ilab_results/archive/cnn_dailymail_cnn1_model_run.csv
  ilab/ilab_results/archive/watson_emotion_base_model_5_shots_predictions.csv
  ilab/ilab_results/archive/watson_emotion_base_model_5_shots_run.csv
  ilab/ilab_results/archive/watson_emotion_base_model_predictions.csv
  ilab/ilab_results/archive/watson_emotion_base_model_run.csv
  ilab/ilab_results/archive/watson_emotion_classes_first_base_0_shots_5_samples_predictions.csv
  ilab/ilab_results/archive/watson_emotion_classes_first_base_0_shots_5_samples_run.csv
  ilab/ilab_results/archive/watson_emotion_classes_first_base_0_shots_predictions-.csv
  ilab/ilab_results/archive/watson_emotion_classes_first_base_0_shots_run-.csv
  ilab/ilab_results/archive/watson_emotion_classes_first_base_5_shots_predictions-.csv
  ilab/ilab_results/archive/watson_emotion_classes_first_base_5_shots_run-.csv
  ilab/ilab_results/archive/watson_emotion_classes_first_trained_0_shots_predictions.csv
  ilab/ilab_results/archive/watson_emotion_classes_first_trained_0_shots_run.csv
  ilab/ilab_results/archive/watson_emotion_digit_wat-emo_5_shots_predictions.csv
  ilab/ilab_results/archive/watson_emotion_digit_wat-emo_5_shots_run.csv
  ilab/ilab_results/base_100_sample_results/cat_base_0_shots_100_samples_predictions.csv
  ilab/ilab_results/base_100_sample_results/cat_base_0_shots_100_samples_run.csv
  ilab/ilab_results/base_100_sample_results/cat_base_5_shots_100_samples_predictions.csv
  ilab/ilab_results/base_100_sample_results/cat_base_5_shots_100_samples_run.csv
  ilab/ilab_results/base_100_sample_results/clapnq_base_0_shots_100_samples_predictions.csv
  ilab/ilab_results/base_100_sample_results/clapnq_base_0_shots_100_samples_run.csv
  ilab/ilab_results/base_100_sample_results/clapnq_base_5_shots_100_samples_predictions.csv
  ilab/ilab_results/base_100_sample_results/clapnq_base_5_shots_100_samples_run.csv
  ilab/ilab_results/base_100_sample_results/entities_all_base_0_shots_100_samples_predictions.csv
  ilab/ilab_results/base_100_sample_results/entities_all_base_0_shots_100_samples_run.csv
  ilab/ilab_results/base_100_sample_results/entities_all_base_5_shots_100_samples_predictions.csv
  ilab/ilab_results/base_100_sample_results/entities_all_base_5_shots_100_samples_run.csv
  ilab/ilab_results/base_100_sample_results/watson_emotion_classes_first_base_0_shots_100_samples_predictions.csv
  ilab/ilab_results/base_100_sample_results/watson_emotion_classes_first_base_0_shots_100_samples_run.csv
  ilab/ilab_results/base_100_sample_results/watson_emotion_classes_first_base_5_shots_100_samples_predictions.csv
  ilab/ilab_results/base_100_sample_results/watson_emotion_classes_first_base_5_shots_100_samples_run.csv
  ilab/run_server
Due: enforce-library-imports

adjust parameter in evaluate script
  ilab/evaluate
  ilab/ilab_evaluate.py
  ilab/ilab_results/watson_emotion_classes_first_base_yaml_eval_predictions.csv
  ilab/ilab_results/watson_emotion_classes_first_base_yaml_eval_run.csv
Due: enforce-library-imports

support template card index
  ilab/evaluate
  ilab/ilab_evaluate.py
Due: enforce-library-imports

replace llama-3-70b-instruct with llama-3-1-70b-instruct add Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/rag_eval_judges.py
  src/unitxt/catalog/metrics/rag/binary_judges/answer_relevance_q_a_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/context_relevance_q_c_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_holistic_q_c_a_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_q_a_gt_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_q_c_a_gt_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/faithfulness_c_a_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/faithfulness_q_c_a_judge_llama_3_1_70b_instruct.json
Due: enforce-library-imports

add example script for running autorag judge metrics add Signed-off-by: lilacheden <lilach.edel@gmail.com>
  examples/evaluate_rag_judge.py
Due: enforce-library-imports

ProvoQ dataset artifacts
  prepare/cards/safety/provoq.py
  prepare/metrics/llm_as_judge/safety/harm_rating.py
  prepare/metrics/llm_as_judge/safety/llamaguard.py
  prepare/templates/safety/harm_rating.py
  src/unitxt/catalog/cards/safety/provoq.json
  src/unitxt/catalog/metrics/llm_as_judge/safety/llama_3_70b_instruct_ibm_genai_template_harm_rating.json
  src/unitxt/catalog/templates/safety/harm_rating.json
Due: enforce-library-imports

Update llm_as_judge.py --- copy edits (grammar, consistency, clarity) (#1164)
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

correctness -> answer_correctness add Signed-off-by: lilacheden <lilach.edel@gmail.com>
  examples/evaluate_rag_judge.py
  prepare/metrics/rag_eval_judges.py
  prepare/tasks/rag_eval.py
  prepare/templates/rag_eval.py
  src/unitxt/catalog/metrics/rag/binary_judges/answer_correctness_q_a_gt_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/binary_judges/answer_correctness_q_a_gt_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/answer_correctness_q_a_gt_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/binary_judges/answer_correctness_q_c_a_gt_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/binary_judges/answer_correctness_q_c_a_gt_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/answer_correctness_q_c_a_gt_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_q_a_gt_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_q_c_a_gt_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/tasks/rag_eval/answer_correctness/binary.json
  src/unitxt/catalog/tasks/rag_eval/answer_correctness/non_binary.json
  src/unitxt/catalog/tasks/rag_eval/correctness/binary.json
  src/unitxt/catalog/tasks/rag_eval/correctness/non_binary.json
  src/unitxt/catalog/templates/rag_eval/answer_correctness/all.json
  src/unitxt/catalog/templates/rag_eval/answer_correctness/judge_instruct_qa_format.json
  src/unitxt/catalog/templates/rag_eval/answer_correctness/judge_instruct_qa_format_logprobs.json
  src/unitxt/catalog/templates/rag_eval/answer_correctness/judge_simplified_format.json
  src/unitxt/catalog/templates/rag_eval/answer_correctness/judge_simplified_format_logprobs.json
  src/unitxt/catalog/templates/rag_eval/answer_correctness/judge_simplified_no_context.json
  src/unitxt/catalog/templates/rag_eval/answer_correctness/judge_simplified_no_context_logprobs.json
  src/unitxt/catalog/templates/rag_eval/answer_correctness/judge_simplified_with_context.json
  src/unitxt/catalog/templates/rag_eval/answer_correctness/judge_simplified_with_context_logprobs.json
  src/unitxt/catalog/templates/rag_eval/answer_correctness/metric_template.json
  src/unitxt/catalog/templates/rag_eval/correctness/all.json
Due: enforce-library-imports

Update formats.py --- copy edits (grammar, consistency, clarity) (#1163)
  src/unitxt/formats.py
Due: enforce-relative-imports

Update loaders.py --- copy edits (grammar, consistency, clarity) (#1162)
  src/unitxt/loaders.py
Due: enforce-relative-imports

Update card.py - minor documentation changes (#1161)
  src/unitxt/card.py
Due: enforce-relative-imports

add metric_type to metric path add Signed-off-by: lilacheden <lilach.edel@gmail.com>
  examples/evaluate_rag_judge.py
  prepare/metrics/rag_eval_ArmoRM.py
  prepare/metrics/rag_eval_judges.py
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_c_a_gt_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_c_a_gt_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_c_a_gt_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/answer_relevance/answer_relevance_q_a_ArmoRM.json
  src/unitxt/catalog/metrics/rag/answer_relevance/answer_relevance_q_a_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/answer_relevance/answer_relevance_q_a_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/answer_relevance/answer_relevance_q_a_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/binary_judges/answer_relevance_q_a_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/context_relevance_q_c_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_holistic_q_c_a_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/faithfulness_c_a_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/faithfulness_q_c_a_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/context_relevance/context_relevance_q_c_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/context_relevance/context_relevance_q_c_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/context_relevance/context_relevance_q_c_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/correctness_holistic_q_c_a_ArmoRM.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/correctness_holistic_q_c_a_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/correctness_holistic_q_c_a_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/correctness_holistic_q_c_a_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_c_a_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_c_a_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_c_a_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_q_c_a_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_q_c_a_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_q_c_a_judge_mixtral_8x7b_instruct_v01.json
Due: enforce-library-imports

Cleanup
  prepare/cards/safety/provoq.py
  src/unitxt/catalog/cards/safety/provoq.json
Due: enforce-library-imports

upload to lh
  ilab/create_ilab_skill_yaml.py
  ilab/ilab_evaluate.py
  ilab/ilab_results/base_100_sample_results/pagerduty_base_0_shots_100_samples_predictions.csv
  ilab/ilab_results/base_100_sample_results/pagerduty_base_0_shots_100_samples_run.csv
  ilab/ilab_results/base_yaml_results/watson_emotion_classes_first_base_yaml_eval_predictions.csv
  ilab/ilab_results/base_yaml_results/watson_emotion_classes_first_base_yaml_eval_run.csv
  ilab/ilab_results/trained_results/clapnq_trained_0_shots_100_samples_predictions.csv
  ilab/ilab_results/trained_results/clapnq_trained_0_shots_100_samples_run.csv
Due: enforce-library-imports

Adding clapnq results (using base model).
  ilab/ilab_results/base_100_sample_results/clapnq_base_0_shots_100_samples_predictions.csv
  ilab/ilab_results/base_100_sample_results/clapnq_base_0_shots_100_samples_run.csv
  ilab/ilab_results/base_100_sample_results/clapnq_base_5_shots_100_samples_predictions.csv
  ilab/ilab_results/base_100_sample_results/clapnq_base_5_shots_100_samples_run.csv
  ilab/ilab_results/clapnq_trained_yaml_metrics_predictions.csv
  ilab/ilab_results/clapnq_trained_yaml_metrics_run.csv
Due: none

f1 strings metric + wikitq metric
  .secrets.baseline
  prepare/cards/wikitq.py
  prepare/metrics/f1.py
  src/unitxt/catalog/cards/wikitq.json
  src/unitxt/catalog/metrics/f1_strings.json
  src/unitxt/metrics.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

Fix error in type of arg parser definition
  ilab/ilab_evaluate.py
Due: enforce-library-imports

changed task definition in scigen card to predefined one
  prepare/cards/scigen.py
  prepare/metrics/llm_as_judge/rating/llama_3_ibm_genai_table2text_template.py
  src/unitxt/catalog/cards/scigen.json
  src/unitxt/catalog/metrics/llm_as_judge/rating/llama_3_70b_instruct_ibm_genai_template_table2text_single_turn_with_reference.json
Due: enforce-library-imports

Update adding_dataset.rst - a few more minor documentation changes (#1160)
  docs/docs/adding_dataset.rst
Due: none

Update artifact.py --- documentation edits (grammar, consistency, cla… (#1159)
  src/unitxt/artifact.py
Due: enforce-relative-imports

Update glossary.rst --- copy edits (grammar, consistency, clarity) (#1155)
  docs/docs/glossary.rst
Due: none

Update helm.rst --- copy edits (grammar, consistency, clarity) (#1154)
  docs/docs/helm.rst
Due: none

Update operators.py --- copy edits (grammar, consistency, clarity) - take 2 (#1158)
  src/unitxt/operators.py
Due: enforce-relative-imports

result files
  ilab/archive/cnn_dailymail_base_model_bla.csv
  ilab/archive/cnn_dailymail_base_model_predictions.csv
  ilab/archive/cnn_dailymail_base_model_run.csv
  ilab/archive/cnn_dailymail_cnn1_model_predictions.csv
  ilab/archive/cnn_dailymail_cnn1_model_run.csv
  ilab/archive/watson_emotion_base_model_5_shots_predictions.csv
  ilab/archive/watson_emotion_base_model_5_shots_run.csv
  ilab/archive/watson_emotion_base_model_predictions.csv
  ilab/archive/watson_emotion_base_model_run.csv
  ilab/archive/watson_emotion_classes_first_base_0_shots_5_samples_predictions.csv
  ilab/archive/watson_emotion_classes_first_base_0_shots_5_samples_run.csv
  ilab/archive/watson_emotion_classes_first_base_0_shots_predictions-.csv
  ilab/archive/watson_emotion_classes_first_base_0_shots_run-.csv
  ilab/archive/watson_emotion_classes_first_base_5_shots_predictions-.csv
  ilab/archive/watson_emotion_classes_first_base_5_shots_run-.csv
  ilab/archive/watson_emotion_classes_first_trained_0_shots_predictions.csv
  ilab/archive/watson_emotion_classes_first_trained_0_shots_run.csv
  ilab/archive/watson_emotion_digit_wat-emo_5_shots_predictions.csv
  ilab/archive/watson_emotion_digit_wat-emo_5_shots_run.csv
  ilab/ilab_results/base_yaml_results/clapnq_base_yaml_metrics_predictions.csv
  ilab/ilab_results/base_yaml_results/clapnq_base_yaml_metrics_run.csv
  ilab/ilab_results/finqa/clapnq_trained_yaml_metrics_predictions.csv
  ilab/ilab_results/finqa/clapnq_trained_yaml_metrics_run.csv
  ilab/ilab_results/finqa/fin_qa_base_0_shots_100_samples_predictions.csv
  ilab/ilab_results/finqa/fin_qa_base_0_shots_100_samples_run.csv
  ilab/ilab_results/finqa/fin_qa_base_yaml_eval_predictions.csv
  ilab/ilab_results/finqa/fin_qa_base_yaml_eval_run.csv
  ilab/ilab_results/finqa/watson_emotion_classes_first_base_0_shots_100_samples_predictions.csv
  ilab/ilab_results/finqa/watson_emotion_classes_first_base_0_shots_100_samples_run.csv
  ilab/ilab_results/finqa/watson_emotion_classes_first_base_5_shots_100_samples_predictions.csv
  ilab/ilab_results/finqa/watson_emotion_classes_first_base_5_shots_100_samples_run.csv
Due: none

fix upload to lh
  ilab/ilab_evaluate.py
Due: enforce-library-imports

informative run params
  ilab/ilab_evaluate.py
Due: enforce-library-imports

report template and yaml indices
  ilab/ilab_evaluate.py
Due: enforce-library-imports

Fix issues
  src/unitxt/fusion.py
  src/unitxt/metric_utils.py
  tests/library/test_api.py
  tests/library/test_fusion.py
  tests/library/test_metric_utils.py
  tests/utils.py
Due: enforce-relative-imports, enforce-library-imports

Fix
  src/unitxt/loaders.py
Due: enforce-relative-imports

upload to lh
  ilab/ilab_evaluate.py
  ilab/upload_to_lh.py
Due: enforce-library-imports

dev
  prepare/tasks/relation_extraction.py
  src/unitxt/catalog/tasks/relation_extraction/all_relation_types.json
Due: enforce-library-imports

Llm as judge ensemble (#1081)
  examples/evaluate_ensemble_judge.py
  prepare/metrics/llm_as_judge/conversation_topicality.py
  prepare/metrics/llm_as_judge/ensemble_topicality_v1.json
  prepare/processors/processors.py
  prepare/templates/response_assessment/judges/topicality/v3.py
  src/unitxt/catalog/metrics/llm_as_judge/conversation_answer_topicality/ensemble_v1_ibmgenai_judges.json
  src/unitxt/catalog/processors/cast_to_float_return_0_5_if_failed.json
  src/unitxt/catalog/templates/response_assessment/judges/topicality/v3.json
  src/unitxt/metrics.py
  tests/library/test_examples.py
Due: enforce-relative-imports, enforce-library-imports

Adding fin_qa results
  ilab/ilab_results/fin_qa_base_0_shots_100_samples_predictions.csv
  ilab/ilab_results/fin_qa_base_0_shots_100_samples_run.csv
Due: none

missing params
  ilab/ilab_evaluate.py
Due: enforce-library-imports

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
