Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [--baseline, utils/.secrets.baseline]
        exclude: utils/.secrets.baseline

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils|unitxt/assistant/.*)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

allow to report times based on simple time() diffs, rather than employ cProfile and accomulate over names of methods that seem relevant.
  .github/workflows/catalog_preparation.yml
  .github/workflows/examples_tests.yml
  .github/workflows/performance.yml
  performance/bluebench_profiler.py
  performance/compare_benchmark_performance_results.py
Due: enforce-library-imports

Chane 'watsonx-sdk' to use WMLInferenceEngineChat
  src/unitxt/inference.py
Due: enforce-relative-imports

update
  src/unitxt/inference.py
Due: enforce-relative-imports

add test
  tests/inference/test_inference_engine.py
Due: enforce-library-imports

Reverting to datasets=351 can solve problems in test catalog preparation (#1784)
  .github/workflows/catalog_preparation.yml
Due: none

add test
  test2.py
Due: enforce-library-imports

cr fix
  src/unitxt/inference.py
Due: enforce-relative-imports

Updated default tool metric and documentation
  docs/docs/tool_calling.rst
  src/unitxt/metrics.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

Update ibm wml engine #1775 (#1781)
  prepare/engines/ibm_wml/llama3.py
  src/unitxt/catalog/engines/ibm_wml/llama_3_3_70b_instruct.json
Due: enforce-library-imports

allow to report times based on simple time() diffs, rather than employ cProfile and accomulate over names of methods that seem relevant.
  .github/workflows/examples_tests.yml
  .github/workflows/performance.yml
  performance/bluebench_profiler.py
  performance/compare_benchmark_performance_results.py
Due: enforce-library-imports

Fix HF AutoModel tokenization issue with chat template + issue with multi GPU (#1779)
  src/unitxt/inference.py
  tests/inference/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

Added RITS / OpenAI tool calling support
  src/unitxt/inference.py
Due: enforce-relative-imports

Performance to report accurate times based on end-to-end time() diffs, rather than accumulate cProfile numbers over methods whose names seem relevant (#1783)
  .github/workflows/examples_tests.yml
  .github/workflows/performance.yml
  performance/bluebench_profiler.py
  performance/compare_benchmark_performance_results.py
Due: enforce-library-imports

Add support to mix args and textual query in load_dataset (#1778)
  src/unitxt/api.py
  src/unitxt/artifact.py
  src/unitxt/dataset_utils.py
  tests/library/test_api.py
Due: enforce-relative-imports, enforce-library-imports

Allow running benchmarks and recipes in cli
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

try the new address
  prepare/cards/arena_hard/generation/english_gpt-4-0314_reference.py
Due: enforce-library-imports

try the new address
  prepare/cards/arena_hard/generation/english_gpt-4-0314_reference.py
  src/unitxt/catalog/cards/arena_hard/generation/english_gpt_4_0314_reference.json
Due: enforce-library-imports

try the new address
  tests/catalog/test_preparation.py
Due: enforce-library-imports

Add installation of spacy as a binary dependency for examples tests
  .github/workflows/examples_tests.yml
Due: none

fix logic: now will work when changes are made in the examples workflow file
  .github/workflows/examples_tests.yml
Due: none

Another try
  .github/workflows/examples_tests.yml
Due: none

Fix indentation
  .github/workflows/examples_tests.yml
Due: none

again
  .github/workflows/examples_tests.yml
Due: none

update
  .github/workflows/examples_tests.yml
Due: none

Add installation of spacy as a binary dependency for examples regression tests (#1787)
  .github/workflows/examples_tests.yml
Due: none

Added documentation for example
  docs/docs/examples.rst
Due: none

Added example for standalone metric evaluation
  examples/evaluate_metric_standalone.py
Due: enforce-library-imports

removed max_samples_per_subset, which masks out most of the input recipes
  examples/evaluate_bluebench.py
Due: enforce-library-imports

Update docs/docs/tool_calling.rst
  docs/docs/tool_calling.rst
Due: none

Updated review comments - renamed metric fields
  docs/docs/tool_calling.rst
  src/unitxt/metrics.py
  src/unitxt/struct_data_operators.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

Update src/unitxt/metrics.py
  src/unitxt/metrics.py
Due: enforce-relative-imports

Changed example to use explicit inputs.
  examples/evaluate_tool_calling.py
Due: enforce-library-imports

Improved documentation
  docs/docs/examples.rst
  docs/docs/tool_calling.rst
  prepare/cards/bfcl.py
Due: enforce-library-imports

- Update schema linking task metrics
  prepare/tasks/schema_linking.py
  src/unitxt/catalog/tasks/schema_linking.json
Due: enforce-library-imports

- Add precision and recall metrics for schema_linking task
  prepare/tasks/schema_linking.py
  src/unitxt/catalog/tasks/schema_linking.json
Due: enforce-library-imports
