Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [--baseline, utils/.secrets.baseline]
        exclude: utils/.secrets.baseline

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils|unitxt/assistant/.*)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

Add more metrics for schema linking (#1788)
  prepare/tasks/schema_linking.py
  src/unitxt/catalog/tasks/schema_linking.json
Due: enforce-library-imports

Add installation of spacy as a binary dependency for examples regression tests (#1787)
  .github/workflows/examples_tests.yml
Due: none

Update version to 1.22.3 (#1761)
  src/unitxt/version.py
Due: enforce-relative-imports

Update version to 1.23.0 (#1789)
  src/unitxt/version.py
Due: enforce-relative-imports

Fix litellm inference without task_data (#1772)
  src/unitxt/inference.py
  tests/inference/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

Add pydantic to dependencies for docs and tests
  pyproject.toml
Due: none

Add instance ID to WML credentials (#1741)
  src/unitxt/inference.py
Due: enforce-relative-imports

Add comprehensive support for tool calling
  examples/evaluate_tool_calling.py
  prepare/cards/bfcl.py
  prepare/metrics/tool_calling.py
  prepare/processors/tool_calling.py
  prepare/tasks/tool_calling/tasks.py
  prepare/templates/tool_calling/templates.py
  src/unitxt/catalog/cards/bfcl/simple_v3.json
  src/unitxt/catalog/metrics/tool_calling.json
  src/unitxt/catalog/processors/load_json_or_empty_tool_call.json
  src/unitxt/catalog/tasks/tool_calling/supervised.json
  src/unitxt/catalog/templates/tool_calling/base.json
  src/unitxt/collections_operators.py
  src/unitxt/dataset.py
  src/unitxt/inference.py
  src/unitxt/metric.py
  src/unitxt/metrics.py
  src/unitxt/operators.py
  src/unitxt/schema.py
  src/unitxt/serializers.py
  src/unitxt/templates.py
  src/unitxt/tool_calling.py
  src/unitxt/type_utils.py
  src/unitxt/types.py
Due: enforce-relative-imports, enforce-library-imports

Fix HF AutoModel tokenization issue with chat template + issue with multi GPU (#1779)
  src/unitxt/inference.py
  tests/inference/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

Added to_yaml shorthand function to artifact (#1768)
  src/unitxt/artifact.py
Due: enforce-relative-imports

Added example for standalone metric evaluation (#1769)
  docs/docs/examples.rst
  examples/evaluate_bluebench.py
  examples/evaluate_metric_standalone.py
Due: enforce-library-imports

Add tool calling support + Berekley Tool Calling Benchmark (simple-v3) (#1764)
  docs/docs/tool_calling.rst
  docs/docs/tutorials.rst
  examples/evaluate_tool_calling.py
  prepare/cards/bfcl.py
  prepare/metrics/tool_calling.py
  prepare/processors/tool_calling.py
  prepare/tasks/tool_calling/tasks.py
  prepare/templates/tool_calling/templates.py
  pyproject.toml
  src/unitxt/catalog/cards/bfcl/simple_v3.json
  src/unitxt/catalog/metrics/tool_calling.json
  src/unitxt/catalog/processors/load_json_or_empty_tool_call.json
  src/unitxt/catalog/tasks/tool_calling/supervised.json
  src/unitxt/catalog/templates/tool_calling/base.json
  src/unitxt/collections_operators.py
  src/unitxt/dataset.py
  src/unitxt/inference.py
  src/unitxt/metric.py
  src/unitxt/metrics.py
  src/unitxt/operators.py
  src/unitxt/schema.py
  src/unitxt/serializers.py
  src/unitxt/templates.py
  src/unitxt/tool_calling.py
  src/unitxt/type_utils.py
  src/unitxt/types.py
  tests/library/test_metrics.py
  tests/library/test_tool_calling.py
  tests/library/test_type_utils.py
Due: enforce-relative-imports, enforce-library-imports

modify some doc-strings, thereby eliminating some red lines in make doc-server (#1736)
  prepare/cards/rag/end_to_end/watsonx.py
  src/unitxt/catalog/cards/rag/benchmark/watsonxqa/en.json
  src/unitxt/catalog/cards/rag/documents/watsonxqa/en.json
  src/unitxt/llm_as_judge.py
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

Add 'splits' field with 'test' value to TableBench cards
  prepare/cards/tablebench.py
  prepare/cards/tablebench_fact_checking.py
  prepare/cards/tablebench_numerical_reasoning.py
  src/unitxt/catalog/cards/tablebench.json
  src/unitxt/catalog/cards/tablebench_fact_checking.json
  src/unitxt/catalog/cards/tablebench_numerical_reasoning.json
  src/unitxt/loaders.py
Due: enforce-relative-imports, enforce-library-imports

Small fixes and touch ups in docs (#1738)
  docs/docs/adding_dataset.rst
  docs/docs/adding_format.rst
  docs/docs/adding_operator.rst
  docs/docs/adding_task.rst
  docs/docs/adding_template.rst
  docs/docs/data_classification_policy.rst
  docs/docs/rag_support.rst
  docs/use_cases/llm_as_judges.rst
  docs/use_cases/special_tools.rst
Due: none

Comment out SQL tests until fixed (#1756)
  tests/library/test_collections_operators.py
Due: enforce-library-imports

Improvements to tool calling - NON BACKWARD COMPATIBLE CHANGES (#1770)
  docs/docs/examples.rst
  docs/docs/tool_calling.rst
  examples/evaluate_tool_calling.py
  prepare/cards/bfcl.py
  prepare/metrics/tool_calling.py
  prepare/processors/tool_calling.py
  prepare/tasks/tool_calling/tasks.py
  prepare/templates/tool_calling/templates.py
  src/unitxt/catalog/cards/bfcl/simple_v3.json
  src/unitxt/catalog/metrics/tool_calling.json
  src/unitxt/catalog/metrics/tool_calling/key_value/accuracy.json
  src/unitxt/catalog/metrics/tool_calling/key_value/token_overlap.json
  src/unitxt/catalog/processors/load_json_or_empty_tool_call.json
  src/unitxt/catalog/tasks/tool_calling/supervised.json
  src/unitxt/catalog/templates/tool_calling/base.json
  src/unitxt/inference.py
  src/unitxt/metrics.py
  src/unitxt/struct_data_operators.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

CrossProvider fails if model name doesn't exist in map (#1747)
  src/unitxt/inference.py
Due: enforce-relative-imports

Add a CLI for end-to-end evaluation (#1708)
  src/unitxt/metrics.py
Due: enforce-relative-imports

Simplify tool calling base types (#1773)
  docs/docs/tool_calling.rst
  examples/evaluate_tool_calling.py
  prepare/cards/bfcl.py
  prepare/tasks/tool_calling/tasks.py
  pyproject.toml
  src/unitxt/catalog/cards/bfcl/simple_v3.json
  src/unitxt/catalog/tasks/tool_calling/supervised.json
  src/unitxt/dataset.py
  src/unitxt/metric.py
  src/unitxt/metrics.py
  src/unitxt/operators.py
  src/unitxt/serializers.py
  src/unitxt/tool_calling.py
  src/unitxt/type_utils.py
  src/unitxt/types.py
  tests/library/test_metrics.py
  tests/library/test_operators.py
  tests/library/test_tool_calling.py
  tests/library/test_type_utils.py
Due: enforce-relative-imports, enforce-library-imports

Add GG and deepseek to rits in CrossInferenceEngine (#1750)
  src/unitxt/inference.py
Due: enforce-relative-imports

Performance to report accurate times based on end-to-end time() diffs, rather than accumulate cProfile numbers over methods whose names seem relevant (#1783)
  .github/workflows/examples_tests.yml
  .github/workflows/performance.yml
  performance/bluebench_profiler.py
  performance/compare_benchmark_performance_results.py
Due: enforce-library-imports

Fix some docs styling (#1739)
  docs/index.rst
Due: none

trying to fix PERFORMANCE: use a github repository as a replacement for the gone HF 'lmsys/arena-hard-browser' (#1757)
  prepare/cards/arena_hard/generation/english_gpt-4-0314_reference.py
  src/unitxt/catalog/cards/arena_hard/generation/english_gpt_4_0314_reference.json
Due: enforce-library-imports

Fix some tests (#1735)
  src/unitxt/parsing_utils.py
  tests/library/test_hf_artifacts.py
  tests/library/test_parsing_utils.py
Due: enforce-relative-imports, enforce-library-imports

Update opg image
  docs/static/opg_image.png
Due: none

Update version to 1.22.2 (#1737)
  src/unitxt/version.py
Due: enforce-relative-imports

Update version to 1.22.4 (#1766)
  src/unitxt/version.py
Due: enforce-relative-imports

Remove more red lines from make docs-server, and rehab lost sons (#1742)
  docs/docs/cli.rst
  docs/docs/tutorials.rst
  docs/use_cases/special_tools.rst
  src/unitxt/operators.py
Due: enforce-relative-imports

remove unnecessary llm-as-judge from scigen + max pred in benchmark (#1746)
  examples/evaluate_torr.py
  examples/evaluate_torr_custom_sizes.py
  prepare/cards/scigen.py
  src/unitxt/catalog/cards/scigen.json
Due: enforce-library-imports

trying networkx 3.2.1 to remove TypeError: entry_points() got an unexpected keyword argument 'group' (#1754)
  .github/workflows/catalog_preparation.yml
  .github/workflows/library_eager_execution_tests.yml
  .github/workflows/library_tests.yml
Due: none

Update ibm wml engine #1775 (#1781)
  prepare/engines/ibm_wml/llama3.py
  src/unitxt/catalog/engines/ibm_wml/llama_3_3_70b_instruct.json
Due: enforce-library-imports

Reverting to datasets=351 can solve problems in test catalog preparation (#1784)
  .github/workflows/catalog_preparation.yml
Due: none

Fix relative imports in evaluate cli (#1758)
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

FIx batching support for hf Dataset in HFAutoModelInferenceEngine (#1771)
  src/unitxt/inference.py
Due: enforce-relative-imports

Remove the rename from test to train (#1759)
  prepare/cards/rag/end_to_end/watsonx.py
  src/unitxt/catalog/cards/rag/documents/watsonxqa/en.json
Due: enforce-library-imports

FIx tablebanch data analysis broken split
  prepare/cards/tablebench_data_analysis.py
  src/unitxt/catalog/cards/tablebench_data_analysis.json
Due: enforce-library-imports

Support Byom for RITS inference engine. (#1744)
  src/unitxt/inference.py
  tests/inference/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

Revert to commit 4d14dc2c1e20071cf486059cc5e218e29d06dad5
  examples/evaluate_tool_calling.py
  prepare/cards/bfcl.py
  prepare/metrics/tool_calling.py
  prepare/processors/tool_calling.py
  prepare/tasks/tool_calling/tasks.py
  prepare/templates/tool_calling/templates.py
  pyproject.toml
  src/unitxt/catalog/cards/bfcl/simple_v3.json
  src/unitxt/catalog/metrics/tool_calling.json
  src/unitxt/catalog/processors/load_json_or_empty_tool_call.json
  src/unitxt/catalog/tasks/tool_calling/supervised.json
  src/unitxt/catalog/templates/tool_calling/base.json
  src/unitxt/collections_operators.py
  src/unitxt/dataset.py
  src/unitxt/inference.py
  src/unitxt/metric.py
  src/unitxt/metrics.py
  src/unitxt/operators.py
  src/unitxt/schema.py
  src/unitxt/serializers.py
  src/unitxt/templates.py
  src/unitxt/tool_calling.py
  src/unitxt/type_utils.py
  src/unitxt/types.py
Due: enforce-relative-imports, enforce-library-imports
