Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [--baseline, utils/.secrets.baseline]
        exclude: utils/.secrets.baseline

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils|unitxt/assistant/.*)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

Update the Arena Hard recipe in Bluebench to use llama-3-3-70b-instruct as judge.
  prepare/metrics/llm_as_judge/pairwise_rating/llama_3_arena_hard_template.py
  prepare/recipes/bluebench.py
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_3_70b_instruct/template_arena_hard.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_70b_instruct/template_arena_hard.json
  src/unitxt/catalog/recipes/bluebench/chatbot_abilities/arena_hard_generation_english_gpt_4_0314_reference.json
Due: enforce-library-imports

Add a requirements section for bluebench
  pyproject.toml
Due: none

Add support for tool calling in HFAutoModelInferenceEngine
  examples/evaluate_tool_calling_huggingface.py
  src/unitxt/inference.py
  src/unitxt/struct_data_operators.py
Due: enforce-relative-imports, enforce-library-imports

Bluebench fixes (#1828)
  prepare/metrics/llm_as_judge/pairwise_rating/llama_3_arena_hard_template.py
  prepare/recipes/bluebench.py
  pyproject.toml
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_3_70b_instruct/template_arena_hard.json
  src/unitxt/catalog/recipes/bluebench/chatbot_abilities/arena_hard_generation_english_gpt_4_0314_reference.json
Due: enforce-library-imports

Better approach for handeling tool calling
  src/unitxt/struct_data_operators.py
Due: enforce-relative-imports

Fix huggingface auto model log probs evaluation
  src/unitxt/inference.py
  tests/inference/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

Account for non existent task_data
  src/unitxt/inference.py
Due: enforce-relative-imports

clarify the purpose of extract possible json
  src/unitxt/struct_data_operators.py
Due: enforce-relative-imports

Fix some more hf inference issues
  src/unitxt/inference.py
  tests/inference/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

Fix huggingface auto model log probs evaluation (#1829)
  src/unitxt/inference.py
  tests/inference/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

Add support for tool calling in HFAutoModelInferenceEngine (#1827)
  examples/evaluate_tool_calling_huggingface.py
  src/unitxt/inference.py
  src/unitxt/struct_data_operators.py
Due: enforce-relative-imports, enforce-library-imports

Allow changing default ollama api_base
  src/unitxt/inference.py
Due: enforce-relative-imports

Adapt cards input value according to the criteria
  prepare/cards/judge_bench/cola.py
  prepare/cards/judge_bench/dices.py
  prepare/cards/judge_bench/inferential_strategies.py
  prepare/cards/judge_bench/newsroom_coherence.py
  prepare/cards/judge_bench/newsroom_fluency.py
  prepare/cards/judge_bench/newsroom_informativeness.py
  prepare/cards/judge_bench/newsroom_revelance.py
  prepare/cards/judge_bench/roscoe_cosmos_overall_coherency.py
  prepare/cards/judge_bench/roscoe_cosmos_overall_contradiction.py
  prepare/cards/judge_bench/roscoe_cosmos_overall_missing_steps.py
  prepare/cards/judge_bench/roscoe_cosmos_overall_overall_quality.py
  prepare/cards/judge_bench/toxic_chat_jailbreak.py
Due: enforce-library-imports

Recover model names and clean results file names
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

Added example to create a yaml representation of a data card
  examples/create_dataset_task_card_yaml.py
Due: enforce-library-imports

Avoid multi-level failures when running a single task
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

Move to_yaml() to use standard dict to yaml library.
  src/unitxt/artifact.py
Due: enforce-relative-imports

Moved template from task to card to make it compatible with fm-eval, which require it
  examples/create_dataset_task_card_yaml.py
Due: enforce-library-imports

Chaned artifiact.to_yaml() to use standard dict to yaml API + added example to create a yaml representation of a data card (#1831)
  examples/create_dataset_task_card_yaml.py
  src/unitxt/artifact.py
Due: enforce-relative-imports, enforce-library-imports

Fix CLI issues (#1832)
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

Allow changing default ollama api_base (#1830)
  src/unitxt/inference.py
Due: enforce-relative-imports

Added example of running inference with log probability
  examples/inference_using_ibm_watsonx_ai_log_prob.py
Due: enforce-library-imports

Initial changes to support generated_text in meta data
  examples/inference_with_log_probs.py
  src/unitxt/inference.py
Due: enforce-relative-imports, enforce-library-imports

fix bug when WML does not return any content or tool call
  src/unitxt/inference.py
Due: enforce-relative-imports

fix bug when WML does not return any content or tool call (#1835)
  src/unitxt/inference.py
Due: enforce-relative-imports

Added missing generated_text in llava models
  src/unitxt/inference.py
Due: enforce-relative-imports

Fixed WMLInferenceEngineChat and improved tests
  src/unitxt/inference.py
  tests/inference/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

Added print header to exmaple
  examples/inference_with_log_probs.py
Due: enforce-library-imports

Added "text" and "logprob" to OpenAiInferenceEngine
  examples/inference_with_log_probs.py
  src/unitxt/inference.py
Due: enforce-relative-imports, enforce-library-imports

revert to jiwer 310 to not fail the run of metrics wer
  .github/workflows/catalog_preparation.yml
Due: none

Reverted test question change
  tests/inference/test_inference_engine.py
Due: enforce-library-imports

Updated tests
  tests/inference/test_inference_engine.py
Due: enforce-library-imports

Enhanced multi turn support and examples
  examples/evaluate_tool_calling_multi_turn.py
  prepare/tasks/tool_calling/tasks.py
  src/unitxt/catalog/tasks/tool_calling/multi_turn.json
  src/unitxt/formats.py
  src/unitxt/inference.py
  src/unitxt/processors.py
  src/unitxt/schema.py
  src/unitxt/serializers.py
  src/unitxt/type_utils.py
  src/unitxt/types.py
  tests/library/test_type_utils.py
Due: enforce-relative-imports, enforce-library-imports

Fix serializers test
  tests/library/test_serializers.py
Due: enforce-library-imports

Fix example
  examples/evaluate_tool_calling_multi_turn.py
Due: enforce-library-imports

Increase token limit so the judge can get to the actual answer.
  prepare/metrics/llm_as_judge/pairwise_rating/llama_3_arena_hard_template.py
Due: enforce-library-imports

now with the json file
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_3_70b_instruct/template_arena_hard.json
Due: none

initial
  examples/evaluate_tool_calling.py
  src/unitxt/api.py
  src/unitxt/artifact.py
  src/unitxt/error_utils.py
  src/unitxt/operator.py
  src/unitxt/settings_utils.py
  src/unitxt/task.py
  tests/library/test_error_utils.py
Due: enforce-relative-imports, enforce-library-imports

Improve error messages
  src/unitxt/error_utils.py
  src/unitxt/fusion.py
  src/unitxt/loaders.py
  src/unitxt/operator.py
  src/unitxt/task.py
  tests/library/test_error_utils.py
Due: enforce-relative-imports, enforce-library-imports
