Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

Update version to 1.22.1
  src/unitxt/version.py
Due: enforce-relative-imports

Update version to 1.22.1 (#1725)
  src/unitxt/version.py
Due: enforce-relative-imports

merge tasks to benchmark
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

Fix errors with peft inference engine implementation. (#1721)
  src/unitxt/inference.py
Due: enforce-relative-imports

Allow overriding of CI method in GlobalMetric (#1722)
  src/unitxt/metrics.py
Due: enforce-relative-imports

Mark issues stale after 30 days of no interaction. Closed them 15 days later.
  .github/workflows/stale_issues.yml
Due: none

Mark issues stale after 30 days of no interaction. Closed them 15 days later. (#1727)
  .github/workflows/stale_issues.yml
Due: none

Add general formatter for chat api, with chat template based on the model tokenizer
  prepare/formats/chat_api_with_tokenizer_chat_template.py
  src/unitxt/catalog/formats/chat_api_with_tokenizer_chat_template.json
Due: enforce-library-imports

improve typing
  src/unitxt/metric_utils.py
Due: enforce-relative-imports

use unitxt methods for results fetching
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

Update the Replicate granite models based on https://replicate.com/ibm-granite
  src/unitxt/inference.py
Due: enforce-relative-imports

change seperator
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

Updated models on Replicate (#1729)
  src/unitxt/inference.py
Due: enforce-relative-imports

Added example of multi-choice QA (#1634)
  docs/docs/adding_operator.rst
  docs/docs/examples.rst
  examples/multiple_choice_qa_evaluation.py
Due: enforce-library-imports

Add general formatter for chat api, with chat template based (#1728)
  prepare/formats/chat_api_with_tokenizer_chat_template.py
  src/unitxt/catalog/formats/chat_api_with_tokenizer_chat_template.json
Due: enforce-library-imports

remove non serialzable instance from save
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

update docs
  docs/docs/cli.rst
Due: none

fix typing
  src/unitxt/metric_utils.py
Due: enforce-relative-imports

Switch to Granite Guardian as metric. Remove redundant loader fix
  prepare/cards/safety/airbench2024.py
  src/unitxt/catalog/cards/safety/airbench2024.json
  src/unitxt/loaders.py
Due: enforce-relative-imports, enforce-library-imports

update data
  src/unitxt/catalog/cards/text2sql/bird/ics/250410_sanity/train_short.json
  src/unitxt/catalog/cards/text2sql/bird/ics/250410_sanity/train_short_question_crop_middle_03.json
  src/unitxt/catalog/cards/text2sql/bird/ics/250410_sanity/train_short_question_crop_middle_05.json
  src/unitxt/catalog/cards/text2sql/bird/ics/250410_sanity/train_short_question_crop_middle_08.json
  src/unitxt/catalog/cards/text2sql/bird/ics/250410_sanity/train_short_shuffle_sql.json
Due: none

Add Airbench (#1730)
  prepare/cards/safety/airbench2024.py
  src/unitxt/catalog/cards/safety/airbench2024.json
Due: enforce-library-imports

add cards
  src/unitxt/catalog/cards/text2sql/bird/ics/250410_sanity/train_question_crop_middle_03.json
  src/unitxt/catalog/cards/text2sql/bird/ics/250410_sanity/train_question_crop_middle_05.json
  src/unitxt/catalog/cards/text2sql/bird/ics/250410_sanity/train_question_crop_middle_08.json
  src/unitxt/catalog/cards/text2sql/bird/ics/250410_sanity/train_shuffle_sql.json
  src/unitxt/catalog/cards/text2sql/bird/ics/sanity/fms_dgt_watsonx_granite_3_8b_instruct_bird_sdg_provenance.json
  src/unitxt/catalog/cards/text2sql/bird/ics/sanity/fms_dgt_watsonx_llama_3_405b_instruct_bird_sdg_provenance.json
  src/unitxt/catalog/cards/text2sql/bird/ics/sanity/train.json
Due: none

update digit data
  src/unitxt/catalog/cards/text2sql/bird/ics/fms_dgt_watsonx_granite_3_8b_instruct_bird_sdg_provenance.json
  src/unitxt/catalog/cards/text2sql/bird/ics/fms_dgt_watsonx_llama_3_405b_instruct_bird_sdg_provenance.json
  src/unitxt/catalog/cards/text2sql/bird/ics/orig_bird.json
Due: none

fix typos
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

fix tests to work with new code
  tests/library/test_cli.py
Due: enforce-library-imports

cleanup
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

realign docs for refactored code
  docs/docs/cli.rst
Due: none

add tabulate as a text2sql dep
  pyproject.toml
Due: none

improve bool handling
  src/unitxt/parsing_utils.py
Due: enforce-relative-imports

move to internal unitxt implementation of parsing
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

align tests to code changes
  tests/library/test_cli.py
Due: enforce-library-imports

revert parsing utils change
  src/unitxt/parsing_utils.py
Due: enforce-relative-imports

Add use cases landing pages
  docs/_static/custom.css
  docs/_static/custom.js
  docs/docs/adding_metric.rst
  docs/docs/benchmark.rst
  docs/docs/llm_as_judge.rst
  docs/index.rst
  docs/use_cases/assemble_benchmark.rst
  docs/use_cases/existing_data.rst
  docs/use_cases/llm_as_judges.rst
  docs/use_cases/multi_modality.rst
  docs/use_cases/special_tools.rst
  docs/use_cases/use_cases.rst
  docs/use_cases/user_data.rst
Due: none

Add catalog back to website
  docs/conf.py
Due: enforce-library-imports

Fix buttons
  docs/index.rst
Due: none

Add catalog back to website (#1734)
  docs/conf.py
  docs/index.rst
Due: enforce-library-imports

add bird original train and test sets
  src/unitxt/catalog/cards/text2sql/bird/ics/orig_bird_test.json
  src/unitxt/catalog/cards/text2sql/bird/ics/orig_bird_train.json
Due: none

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils|unitxt/assistant/.*)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
