Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

up to date benchmark results
  examples/evaluate_llama_vision_benchmark.py
  examples/evaluate_vision_default_benchmark.py
  examples/evaluate_vision_full_benchmark.py
Due: enforce-library-imports

.
  prepare/cards/safety/airbench2024.py
  src/unitxt/catalog/cards/safety/airbench2024.json
Due: enforce-library-imports

Update provoq to use llama 3.3 judge
  prepare/cards/safety/provoq.py
  prepare/metrics/llm_as_judge/safety/harm_rating.py
  src/unitxt/catalog/cards/safety/provoq.json
  src/unitxt/catalog/metrics/llm_as_judge/safety/llama_3_3_70b_instruct_ibm_watsonx_template_harm_rating.json
Due: enforce-library-imports

Remove obsolete metric from catalog
  src/unitxt/catalog/metrics/llm_as_judge/safety/llama_3_70b_instruct_ibm_watsonx_template_harm_rating.json
Due: none

revent erronous change
  prepare/cards/safety/bbq.py
Due: enforce-library-imports

Add a new post-processor to handle the harm rating properly.
  prepare/processors/processors.py
  prepare/templates/safety/harm_rating.py
  src/unitxt/catalog/operators/extract_harm_rating_judgment.json
  src/unitxt/catalog/processors/extract_harm_rating_judgment.json
  src/unitxt/catalog/templates/safety/harm_rating.json
  src/unitxt/processors.py
Due: enforce-relative-imports, enforce-library-imports

Change the exception value to NaN
  src/unitxt/processors.py
Due: enforce-relative-imports

initial commit
  .gitignore
  examples/ics.py
  ics/card_utils.py
  ics/process_utils.py
  ics/run_exp.py
  src/unitxt/catalog/cards/text2sql/bird/ics/250331_sanity/train_short.json
  src/unitxt/catalog/cards/text2sql/bird/ics/250331_sanity/train_short_question_crop_middle.json
  src/unitxt/catalog/cards/text2sql/bird/ics/250331_sanity/train_short_question_crop_middle_03.json
  src/unitxt/catalog/cards/text2sql/bird/ics/250331_sanity/train_short_question_crop_middle_05.json
  src/unitxt/catalog/cards/text2sql/bird/ics/250331_sanity/train_short_question_crop_middle_08.json
  src/unitxt/catalog/cards/text2sql/bird/ics/250331_sanity/train_short_shuffle_sql.json
Due: enforce-library-imports

Support HFPipelineBasedInferenceEngine with PEFT model (#1701)
  src/unitxt/inference.py
Due: enforce-relative-imports

Add audio processing support
  prepare/cards/minds_14.py
  prepare/tasks/classification.py
  src/unitxt/audio_operators.py
  src/unitxt/catalog/cards/minds_14.json
  src/unitxt/catalog/tasks/classification/multi_class.json
  src/unitxt/formats.py
  src/unitxt/image_operators.py
  src/unitxt/schema.py
  src/unitxt/serializers.py
  src/unitxt/settings_utils.py
  src/unitxt/templates.py
Due: enforce-relative-imports, enforce-library-imports

Add audio support
  prepare/cards/minds_14.py
  prepare/tasks/classification.py
  src/unitxt/audio_operators.py
  src/unitxt/catalog/cards/minds_14.json
  src/unitxt/catalog/tasks/classification/multi_class.json
  src/unitxt/formats.py
  src/unitxt/image_operators.py
  src/unitxt/schema.py
  src/unitxt/serializers.py
  src/unitxt/settings_utils.py
  src/unitxt/templates.py
Due: enforce-relative-imports, enforce-library-imports

add initial cli eval runner
  pyproject.toml
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

remove contextlib type hint
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

add unitxt-eval as script
  pyproject.toml
Due: none

add sql to installations
  pyproject.toml
Due: none

revise args
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

add tests
  tests/library/test_cli.py
Due: enforce-library-imports

remove package availability checking
  src/unitxt/evaluate_cli.py
  tests/library/test_cli.py
Due: enforce-relative-imports, enforce-library-imports

add docs
  docs/docs/cli.rst
Due: none

add extra run metadata for reproducability
  src/unitxt/evaluate_cli.py
  tests/library/test_cli.py
Due: enforce-relative-imports, enforce-library-imports

Fix Table Bench
  prepare/cards/tablebench_numerical_reasoning.py
Due: enforce-library-imports

updates
  src/unitxt/inference.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Update json
  src/unitxt/catalog/cards/tablebench_numerical_reasoning.json
  utils/.secrets.baseline
Due: none

Fixed additional cards
  prepare/cards/tablebench.py
  prepare/cards/tablebench_data_analysis.py
  prepare/cards/tablebench_fact_checking.py
  src/unitxt/catalog/cards/tablebench.json
  src/unitxt/catalog/cards/tablebench_data_analysis.json
  src/unitxt/catalog/cards/tablebench_fact_checking.json
  utils/.secrets.baseline
Due: enforce-library-imports

add chat template functionality
  src/unitxt/evaluate_cli.py
  tests/library/test_cli.py
Due: enforce-relative-imports, enforce-library-imports

add gen_kwargs
  src/unitxt/evaluate_cli.py
  tests/library/test_cli.py
Due: enforce-relative-imports, enforce-library-imports

change name to tasks
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

add inference options
  pyproject.toml
Due: none

Fix errors with peft inference engine implementation.
  src/unitxt/inference.py
Due: enforce-relative-imports

rename output_dir to output_path
  src/unitxt/evaluate_cli.py
  tests/library/test_cli.py
Due: enforce-relative-imports, enforce-library-imports

Fix Table Bench (#1709)
  prepare/cards/tablebench.py
  prepare/cards/tablebench_data_analysis.py
  prepare/cards/tablebench_fact_checking.py
  prepare/cards/tablebench_numerical_reasoning.py
  src/unitxt/catalog/cards/tablebench.json
  src/unitxt/catalog/cards/tablebench_data_analysis.json
  src/unitxt/catalog/cards/tablebench_fact_checking.json
  src/unitxt/catalog/cards/tablebench_numerical_reasoning.json
  utils/.secrets.baseline
Due: enforce-library-imports

update CLI calling name
  pyproject.toml
Due: none

change chat template arg type
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

add accelarate to local inference reqs
  pyproject.toml
Due: none

add required parameters for demos
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

fix tests
  tests/library/test_cli.py
Due: enforce-library-imports

stam
  .github/workflows/catalog_consistency.yml
  .github/workflows/catalog_preparation.yml
  .github/workflows/docs.yml
  .github/workflows/examples_tests.yml
  .github/workflows/library_eager_execution_tests.yml
  .github/workflows/library_tests.yml
  .github/workflows/performance.yml
  .github/workflows/pipy.yml
  .github/workflows/quality.yml
  .github/workflows/test_helm.yml
Due: none

Add retry policy for huggingface assets connection
  src/unitxt/inference.py
  src/unitxt/loaders.py
  src/unitxt/metrics.py
  src/unitxt/settings_utils.py
  src/unitxt/string_operators.py
  src/unitxt/utils.py
Due: enforce-relative-imports

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils|unitxt/assistant/.*)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
