Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

Update notification banner styles and add 2024 summary blog link
  docs/_static/custom.css
  docs/conf.py
  docs/index.rst
Due: enforce-library-imports

Update notification banner styles and add 2024 summary blog link (#1538)
  docs/_static/custom.css
  docs/conf.py
  docs/index.rst
Due: enforce-library-imports

Add data classification policy to CrossProviderInferenceEngine initialization
  src/unitxt/inference.py
Due: enforce-relative-imports

remove old artifacts
  src/unitxt/catalog/metrics/llm_as_judge/direct/watsonx/granite3_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/watsonx/granite3_8b.json
Due: none

pre-commit run
  src/unitxt/db_utils.py
  src/unitxt/loaders.py
  src/unitxt/metrics.py
  utils/.secrets.baseline
Due: enforce-relative-imports

optimize EE metric
  src/unitxt/metrics.py
Due: enforce-relative-imports

fix test
  tests/library/test_db_utils.py
Due: enforce-library-imports

align bird card to string id
  prepare/cards/text2sql.py
  src/unitxt/catalog/cards/text2sql/bird.json
Due: enforce-library-imports

move metric tests
  tests/library/test_metrics.py
Due: enforce-library-imports

Bugfix: indexed row major table serialization fails if cell values are None
  src/unitxt/struct_data_operators.py
Due: enforce-relative-imports

Set use 1 shot for wikitq in tables_benchmark
  prepare/recipes/tables_benchmark.py
Due: enforce-library-imports

Add more granite llm as judge artifacts (#1516)
  src/unitxt/catalog/metrics/llm_as_judge/direct/rits/granite3_0_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/rits/granite3_1_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/watsonx/granite3_0_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/rits/granite3_0_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/rits/granite3_1_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/watsonx/granite3_0_8b.json
  src/unitxt/llm_as_judge_constants.py
Due: enforce-relative-imports

Update dataset path for Open Australian Legal QA task card
  prepare/cards/open_australian_legal_qa.py
Due: enforce-library-imports

Update Open Australian Legal QA task card loader path and add default name
  prepare/cards/open_australian_legal_qa.py
  src/unitxt/catalog/cards/open_australian_legal_qa.json
  src/unitxt/catalog/cards/rag/response_generation/train/open_australian_legal_qa.json
Due: enforce-library-imports

Fix Australian legal qa dataset (#1542)
  prepare/cards/open_australian_legal_qa.py
  src/unitxt/catalog/cards/open_australian_legal_qa.json
  src/unitxt/catalog/cards/rag/response_generation/train/open_australian_legal_qa.json
Due: enforce-library-imports

Solve issue of expired token (unitxt-assistance).
  src/unitxt/assistant/app.py
Due: enforce-relative-imports

Bugfix: indexed row major serialization fails with None cell values (#1540)
  src/unitxt/struct_data_operators.py
Due: enforce-relative-imports

solve with retry
  src/unitxt/assistant/app.py
Due: enforce-relative-imports

Solve issue of expired token in Unitxt Assistant (#1543)
  src/unitxt/assistant/app.py
Due: enforce-relative-imports

add metric dependencies to pyproject
  pyproject.toml
  src/unitxt/metrics.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Add Replicate inference support
  src/unitxt/inference.py
Due: enforce-relative-imports

handle error in EE metric
  examples/evaluate_text2sql.py
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

Add GroupByProcessor operator to group data and apply custom functions
  src/unitxt/operators.py
Due: enforce-relative-imports

Add Replicate inference support (#1544)
  src/unitxt/inference.py
Due: enforce-relative-imports

Refactor database query execution with caching and improved error handling
  src/unitxt/db_utils.py
  src/unitxt/metrics.py
Due: enforce-relative-imports

fix template bug
  prepare/templates/text2sql/templates.py
Due: enforce-library-imports

fix template bug
  src/unitxt/catalog/templates/text2sql/all.json
  src/unitxt/catalog/templates/text2sql/you_are_given_with_hint.json
Due: none

remove anls metric
  prepare/tasks/text2sql.py
  src/unitxt/catalog/tasks/text2sql.json
Due: enforce-library-imports

make result matching invariant to order
  src/unitxt/metrics.py
Due: enforce-relative-imports

make it faster and restrict scores
  examples/evaluate_text2sql.py
Due: enforce-library-imports

fix remote metric
  src/unitxt/db_utils.py
  tests/library/test_db_utils.py
Due: enforce-relative-imports, enforce-library-imports

fix tests
  tests/library/test_db_utils.py
Due: enforce-library-imports

remove retry tests
  tests/library/test_db_utils.py
Due: enforce-library-imports

format tests
  tests/library/test_db_utils.py
Due: enforce-library-imports

add a filter to wikitq
  prepare/cards/wikitq.py
  src/unitxt/catalog/cards/wikitq.json
  src/unitxt/struct_data_operators.py
Due: enforce-relative-imports, enforce-library-imports

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
