Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]
        exclude: src/unitxt/metrics.py|examples/evaluate_existing_dataset_no_install.py
      # Run the linter on the specific file with the ignore flag
      - id: ruff
        name: ruff (src/unitxt/metrics.py)
        files: src/unitxt/metrics.py
        args: [--fix, --ignore, C901]
      # Run the linter on the specific file with the ignore flag
      - id: ruff
        name: ruff (examples/evaluate_existing_dataset_no_install.py)
        files: examples/evaluate_existing_dataset_no_install.py
        args: [--fix, --ignore, T201]
      # Run the formatter
      - id: ruff-format

  - repo: https://github.com/ibm/detect-secrets
    # If you desire to use a specific version of detect-secrets, you can replace `master` with other git revisions such as branch, tag or commit sha.
    # You are encouraged to use static refs such as tags, instead of branch name
    #
    # Running "pre-commit autoupdate" automatically updates rev to latest tag
    rev: 0.13.1+ibm.61.dss
    hooks:
      - id: detect-secrets # pragma: whitelist secret
        # Add options for detect-secrets-hook binary. You can run `detect-secrets-hook --help` to list out all possible options.
        # You may also run `pre-commit run detect-secrets` to preview the scan result.
        # when "--baseline" without "--use-all-plugins", pre-commit scan with just plugins in baseline file
        # when "--baseline" with "--use-all-plugins", pre-commit scan with all available plugins
        # add "--fail-on-unaudited" to fail pre-commit for unaudited potential secrets
        args: [--baseline, utils/.secrets.baseline, --use-all-plugins, --fail-on-unaudited]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

update metadata just once in a recipe
  src/unitxt/image_operators.py
Due: enforce-relative-imports

fixed templates settings
  src/unitxt/standard.py
Due: enforce-relative-imports

test_recipe passes except for tests that stare at the demos_pool itself
  src/unitxt/schema.py
  src/unitxt/splitters.py
  src/unitxt/standard.py
  tests/library/test_recipe.py
Due: enforce-relative-imports, enforce-library-imports

removed productions that are only needed for tests
  src/unitxt/standard.py
  tests/library/test_recipe.py
Due: enforce-relative-imports, enforce-library-imports

add expected 'demos_pool_size' entries in task_data[metadata]
  tests/library/test_api.py
  tests/library/test_benchmark.py
Due: enforce-library-imports

returned some recipe_tests
  src/unitxt/standard.py
  tests/library/test_recipe.py
Due: enforce-relative-imports, enforce-library-imports

Update groups score summary
  src/unitxt/metric_utils.py
Due: enforce-relative-imports

minor script changes
  examples/evaluate_image_text_to_text.py
Due: enforce-library-imports

Reverted changes in log probs in inference.py
  src/unitxt/inference.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Fix docs
  docs/blog/vision_robustness_blog.rst
  docs/docs/benchmark.rst
  docs/docs/evaluating_datasets.rst
  docs/docs/inference.rst
  docs/docs/llm_as_judge.rst
  docs/docs/multimodality.rst
Due: none

Fix tests
  tests/library/test_fusion.py
  tests/library/test_metric_utils.py
  tests/library/test_text_utils.py
Due: enforce-library-imports

Fix examples
  examples/evaluate_bluebench.py
  examples/robustness_testing_for_vision_text_models.py
Due: enforce-library-imports

test again
  examples/evaluate_different_templates.py
  src/unitxt/schema.py
  src/unitxt/splitters.py
  src/unitxt/standard.py
  src/unitxt/task.py
  tests/library/test_api.py
  tests/library/test_benchmark.py
  tests/library/test_recipe.py
Due: enforce-relative-imports, enforce-library-imports

instance metric does not lay whole stream in memory, at the expense of two passes over input stream
  examples/evaluate_different_templates.py
  src/unitxt/metrics.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

and apply metric too
  src/unitxt/operators.py
Due: enforce-relative-imports

to be on the safe side
  src/unitxt/metrics.py
Due: enforce-relative-imports

ensure double iteration on input data -- is possible
  src/unitxt/metrics.py
  src/unitxt/test_utils/metrics.py
Due: enforce-relative-imports

enable repeted pulling from beginning
  src/unitxt/standard.py
  src/unitxt/test_utils/metrics.py
Due: enforce-relative-imports

allow repeated pulling from loaders too
  src/unitxt/loaders.py
  utils/.secrets.baseline
Due: enforce-relative-imports

have datasets to worry about repeated pulling
  src/unitxt/loaders.py
  src/unitxt/standard.py
  utils/.secrets.baseline
Due: enforce-relative-imports

try to see what happens
  src/unitxt/standard.py
Due: enforce-relative-imports

for backward compatibility do not complain for less than demo_pool_size, only for num_demos
  src/unitxt/standard.py
Due: enforce-relative-imports

move error message to a backward compatible point
  src/unitxt/splitters.py
  src/unitxt/standard.py
Due: enforce-relative-imports

make demos_pool a variable, rather than a separate stream. Needs to restart train repeatedly. Fix needed in Loaders. Allow a given demos_pool, or input stream-instances already loaded with demos
  src/unitxt/loaders.py
  src/unitxt/schema.py
  src/unitxt/splitters.py
  src/unitxt/standard.py
  src/unitxt/task.py
  src/unitxt/test_utils/metrics.py
  tests/library/test_api.py
  tests/library/test_benchmark.py
  tests/library/test_recipe.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Fix: don't add positional bias check if it is disabled
  examples/evaluate_existing_dataset_by_llm_as_judge_eval_assist.py
  src/unitxt/eval_assist_llm_as_judge_direct.py
  src/unitxt/eval_assist_llm_as_judge_pairwise.py
Due: enforce-relative-imports, enforce-library-imports

Running rugg
  src/unitxt/eval_assist_llm_as_judge_pairwise.py
Due: enforce-relative-imports

Fix typo in LLMasJudge
  prepare/metrics/llm_as_judge/binary_judge.py
  src/unitxt/llm_as_judge_from_template.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

Fixed failing unitests by adding missing imports
  src/unitxt/dataset.py
  src/unitxt/eval_assist_llm_as_judge.py
  src/unitxt/metric.py
Due: enforce-relative-imports

Removed test_multi_reference_template_with_empty_references
  tests/library/test_templates.py
Due: enforce-library-imports

Moved criteria existance check from verify() to before processing
  src/unitxt/eval_assist_llm_as_judge.py
Due: enforce-relative-imports

Removed temp workaround for a problem
  src/unitxt/inference.py
  utils/.secrets.baseline
Due: enforce-relative-imports

renamed Sample->AssignDemosToInstance and emptied all but BaseRecipe
  src/unitxt/blocks.py
  src/unitxt/splitters.py
  src/unitxt/standard.py
Due: enforce-relative-imports

all recipes are DatasetRecipe
  src/unitxt/dataset_utils.py
  src/unitxt/standard.py
  tests/library/test_recipe.py
Due: enforce-relative-imports, enforce-library-imports

verify only fresh artifacts are fetched (#1444)
  src/unitxt/catalog.py
  tests/library/test_artifact.py
Due: enforce-relative-imports, enforce-library-imports

Update
  src/unitxt/image_operators.py
  src/unitxt/inference.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Fix arg name
  examples/evaluate_summarization_dataset_llm_as_judge.py
Due: enforce-library-imports
