Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]
        exclude: src/unitxt/metrics.py
      # Run the linter on the specific file with the ignore flag
      - id: ruff
        name: ruff (src/unitxt/metrics.py)
        files: src/unitxt/metrics.py
        args: [--fix, --ignore, C901]
      # Run the formatter
      - id: ruff-format

  - repo: https://github.com/ibm/detect-secrets
    # If you desire to use a specific version of detect-secrets, you can replace `master` with other git revisions such as branch, tag or commit sha.
    # You are encouraged to use static refs such as tags, instead of branch name
    #
    # Running "pre-commit autoupdate" automatically updates rev to latest tag
    rev: 0.13.1+ibm.61.dss
    hooks:
      - id: detect-secrets # pragma: whitelist secret
        # Add options for detect-secrets-hook binary. You can run `detect-secrets-hook --help` to list out all possible options.
        # You may also run `pre-commit run detect-secrets` to preview the scan result.
        # when "--baseline" without "--use-all-plugins", pre-commit scan with just plugins in baseline file
        # when "--baseline" with "--use-all-plugins", pre-commit scan with all available plugins
        # add "--fail-on-unaudited" to fail pre-commit for unaudited potential secrets
        args: [--baseline, .secrets.baseline, --use-all-plugins, --fail-on-unaudited]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

Update
  src/unitxt/schema.py
  tests/library/test_api.py
Due: enforce-relative-imports, enforce-library-imports

Make inference engine tests run only when inference.py has changed (#1311)
  .github/workflows/inference_tests.yml
  requirements/watsonx.rqr
  src/unitxt/inference.py
  src/unitxt/schema.py
  tests/inference/__init__.py
  tests/inference/test_inference_engine.py
  tests/library/test_api.py
  tests/utils.py
Due: enforce-relative-imports, enforce-library-imports

Minor fixes
  .secrets.baseline
  prepare/cards/sst2.py
  requirements/dev.rqr
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

Minor fixes (#1312)
  .secrets.baseline
  prepare/cards/sst2.py
  requirements/dev.rqr
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

Update catalog
  prepare/templates/qa/with_context.py
  src/unitxt/catalog/templates/qa/with_context/ffqa.json
  src/unitxt/catalog/templates/qa/with_context/qtsumm.json
Due: enforce-library-imports

added QTSUMM taskcard for query-focused table summarization task (#1304)
  prepare/cards/qtsumm.py
  prepare/templates/qa/with_context.py
  src/unitxt/catalog/cards/qtsumm.json
  src/unitxt/catalog/templates/qa/with_context/ffqa.json
  src/unitxt/catalog/templates/qa/with_context/qtsumm.json
Due: enforce-library-imports

Add chat api format with standard open ai chat format
  prepare/formats/chat_api.py
  src/unitxt/formats.py
  tests/library/test_formats.py
Due: enforce-relative-imports, enforce-library-imports

Upload artifact
  src/unitxt/catalog/formats/chat_api.json
Due: none

Add docstring and a small fix
  src/unitxt/formats.py
  tests/library/test_formats.py
Due: enforce-relative-imports, enforce-library-imports

Fix
  src/unitxt/formats.py
Due: enforce-relative-imports

SImplify and remove copy code
  src/unitxt/formats.py
Due: enforce-relative-imports

Add OptionSelectingByLogProbsInferenceEngine
  src/unitxt/inference.py
  tests/inference/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

generic llm as a judge for binary and idk
  prepare/metrics/llm_as_judge/binary_judge.py
  prepare/metrics/llm_as_judge/conversation_idk.py
  src/unitxt/catalog/metrics/llm_as_judge/binary/generic_inference_engine_answer_correctness_q_a_gt_loose.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/generic_inference_engine_answer_correctness_q_a_gt_strict.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/generic_inference_engine_answer_relevance_q_a.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/generic_inference_engine_context_relevance_q_c_ares.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/generic_inference_engine_correctness_holistic_q_c_a.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/generic_inference_engine_faithfulness_c_a.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/generic_inference_engine_faithfulness_q_c_a.json
  src/unitxt/catalog/metrics/llm_as_judge/conversation_answer_idk/generic_inference_judges.json
Due: enforce-library-imports

unify generic inference label
  src/unitxt/catalog/metrics/llm_as_judge/conversation_answer_idk/generic_inference_engine_judges.json
Due: none

ruff
  prepare/metrics/llm_as_judge/binary_judge.py
  prepare/metrics/llm_as_judge/conversation_idk.py
Due: enforce-library-imports

Update
  examples/evaluate_image_text_to_text_lmms_eval_inference.py
  examples/evaluate_image_text_to_text_with_different_templates.py
  prepare/augmentors/image_augmentors.py
  src/unitxt/benchmark.py
  src/unitxt/catalog/augmentors/image/grid_lines.json
  src/unitxt/image_operators.py
Due: enforce-relative-imports, enforce-library-imports

measure main performance in eager mode
  src/unitxt/settings_utils.py
Due: enforce-relative-imports

no sequential instance operator for now, just mixer thing: can we canonize the order of the old stream when contributing to the new streams, which random mixing
  src/unitxt/split_utils.py
  src/unitxt/standard.py
Due: enforce-relative-imports

experiment with performance-test
  src/unitxt/dataset.py
  src/unitxt/metric.py
  src/unitxt/operator.py
  src/unitxt/operator_utils.py
  src/unitxt/standard.py
Due: enforce-relative-imports

add mix offline trick to the existing sequential instance operator
  performance/card_profiler.py
  src/unitxt/split_utils.py
  src/unitxt/splitters.py
Due: enforce-relative-imports, enforce-library-imports

revert to non-eagering mode, and activate the sequential instance operator thing
  src/unitxt/settings_utils.py
  src/unitxt/standard.py
Due: enforce-relative-imports

Add GENAI_KEY
  .github/workflows/inference_tests.yml
Due: none

operator_utils
  src/unitxt/operator_utils
Due: none

Add OptionSelectingByLogProbsInferenceEngine (#1317)
  .github/workflows/inference_tests.yml
  src/unitxt/inference.py
  tests/inference/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

Add vision robustness blog post
  assets/blog/vision_rubstness/ai2d.png
  assets/blog/vision_rubstness/results.png
  assets/blog/vision_rubstness/seed_bench.png
  docs/blog/index.rst
  docs/blog/vision_robustness.rst
  docs/docs/examples.rst
  docs/docs/tutorials.rst
  docs/index.rst
  examples/robustness_testing_for_vision_text_models.py
  prepare/augmentors/image_augmentors.py
  src/unitxt/catalog/augmentors/image/oldify.json
  src/unitxt/catalog/augmentors/image/white_noise.json
  src/unitxt/image_operators.py
Due: enforce-relative-imports, enforce-library-imports

Vision robustness blog (#1318)
  .secrets.baseline
  assets/blog/vision_rubstness/ai2d.png
  assets/blog/vision_rubstness/results.png
  assets/blog/vision_rubstness/seed_bench.png
  docs/blog/index.rst
  docs/blog/vision_robustness.rst
  docs/docs/examples.rst
  docs/docs/tutorials.rst
  docs/index.rst
  examples/evaluate_image_text_to_text_with_different_templates.py
  examples/robustness_testing_for_vision_text_models.py
  prepare/augmentors/image_augmentors.py
  prepare/templates/qa/with_context.py
  src/unitxt/benchmark.py
  src/unitxt/catalog/augmentors/image/grid_lines.json
  src/unitxt/catalog/augmentors/image/oldify.json
  src/unitxt/catalog/augmentors/image/white_noise.json
  src/unitxt/image_operators.py
  src/unitxt/inference.py
Due: enforce-relative-imports, enforce-library-imports

Update docs index
  docs/index.rst
Due: none

perhaps base on latest green
  performance/card_profiler.py
Due: enforce-library-imports

Fix blog and tests
  docs/blog/vision_robustness.rst
  prepare/templates/qa/with_context.py
  src/unitxt/inference.py
  tests/library/test_examples.py
Due: enforce-relative-imports, enforce-library-imports

Separate examples tests
  .github/workflows/examples_tests.yml
  tests/examples/test_examples.py
  tests/utils.py
Due: enforce-library-imports

Update secrets baseline
  .pre-commit-config.yaml
  utils/.secrets.baseline
Due: none

Update action name
  .github/workflows/examples_tests.yml
Due: none

Seperate examples tests (#1322)
  .github/workflows/examples_tests.yml
  .pre-commit-config.yaml
  docs/blog/vision_robustness.rst
  prepare/templates/qa/with_context.py
  src/unitxt/inference.py
  tests/examples/test_examples.py
  tests/utils.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

add score name prefix for judge_raw_output/input in llmaj metric
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

update tests
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

update tests
  src/unitxt/llm_as_judge.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

Update
  .gitattributes
  .github/workflows/hub.yml
  .github/workflows/quality.yml
  MANIFEST.in
  pyproject.toml
  requirements/base.rqr
  requirements/dev.rqr
  requirements/docs.rqr
  requirements/helm.rqr
  requirements/service.rqr
  requirements/tests.rqr
  requirements/ui.rqr
  requirements/watsonx.rqr
  setup.py
  src/unitxt/settings_utils.py
  version.py
Due: enforce-relative-imports, enforce-library-imports

Fix
  .github/workflows/quality.yml
Due: none

Update
  pyproject.toml
Due: none
