Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [--baseline, utils/.secrets.baseline]
        exclude: utils/.secrets.baseline

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils|unitxt/assistant/.*)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

Remove caching=True from LiteLLM
  src/unitxt/inference.py
Due: enforce-relative-imports

Disable litellm cache (#1732)
  src/unitxt/inference.py
Due: enforce-relative-imports

Add a CLI for end-to-end evaluation (#1708)
  docs/docs/cli.rst
  prepare/processors/text2sql.py
  prepare/templates/text2sql/templates.py
  pyproject.toml
  src/unitxt/catalog/processors/text2sql/get_sql.json
  src/unitxt/catalog/templates/text2sql/all.json
  src/unitxt/catalog/templates/text2sql/you_are_given_no_system.json
  src/unitxt/catalog/templates/text2sql/you_are_given_no_system_with_hint.json
  src/unitxt/catalog/templates/text2sql/you_are_given_with_hint_with_out_sql_prefix.json
  src/unitxt/evaluate_cli.py
  src/unitxt/inference.py
  src/unitxt/metrics.py
  src/unitxt/parsing_utils.py
  src/unitxt/processors.py
  tests/library/test_cli.py
  tests/library/test_postprocessors.py
Due: enforce-relative-imports, enforce-library-imports

Fix some tests
  src/unitxt/parsing_utils.py
Due: enforce-relative-imports

Fix everything but SQL
  tests/library/test_hf_artifacts.py
  tests/library/test_parsing_utils.py
Due: enforce-library-imports

Fix some tests (#1735)
  src/unitxt/parsing_utils.py
  tests/library/test_hf_artifacts.py
  tests/library/test_parsing_utils.py
Due: enforce-relative-imports, enforce-library-imports

modify some doc-strings, thereby eliminating some red lines in make docs-server
  prepare/cards/rag/end_to_end/watsonx.py
  src/unitxt/catalog/cards/rag/benchmark/watsonxqa/en.json
  src/unitxt/catalog/cards/rag/documents/watsonxqa/en.json
  src/unitxt/llm_as_judge.py
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

modify some doc-strings, thereby eliminating some red lines in make doc-server (#1736)
  prepare/cards/rag/end_to_end/watsonx.py
  src/unitxt/catalog/cards/rag/benchmark/watsonxqa/en.json
  src/unitxt/catalog/cards/rag/documents/watsonxqa/en.json
  src/unitxt/llm_as_judge.py
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

Update version to 1.22.2
  src/unitxt/version.py
Due: enforce-relative-imports

Update version to 1.22.2 (#1737)
  src/unitxt/version.py
Due: enforce-relative-imports

Small fixes and touch ups in docs
  docs/docs/adding_dataset.rst
  docs/docs/adding_format.rst
  docs/docs/adding_operator.rst
  docs/docs/adding_task.rst
  docs/docs/adding_template.rst
  docs/docs/data_classification_policy.rst
  docs/docs/rag_support.rst
  docs/use_cases/llm_as_judges.rst
  docs/use_cases/special_tools.rst
Due: none

Small fixes and touch ups in docs (#1738)
  docs/docs/adding_dataset.rst
  docs/docs/adding_format.rst
  docs/docs/adding_operator.rst
  docs/docs/adding_task.rst
  docs/docs/adding_template.rst
  docs/docs/data_classification_policy.rst
  docs/docs/rag_support.rst
  docs/use_cases/llm_as_judges.rst
  docs/use_cases/special_tools.rst
Due: none

Fix some docs styling
  docs/index.rst
Due: none

Fix some docs styling (#1739)
  docs/index.rst
Due: none

a potential fix for helm
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

remove existing HF cache that contains code
  .github/workflows/test_helm.yml
Due: none

remove the clearing of the hf cache. it is probably clear already
  .github/workflows/test_helm.yml
Due: none

add test split
  src/unitxt/catalog/cards/text2sql/bird/ics/orig_bird_test.json
  src/unitxt/catalog/cards/text2sql/bird/ics/orig_bird_train.json
Due: none

update ibm-watsonx-ai version
  src/unitxt/inference.py
Due: enforce-relative-imports

more red lines
  docs/docs/cli.rst
  docs/docs/tutorials.rst
  docs/use_cases/special_tools.rst
  src/unitxt/operators.py
Due: enforce-relative-imports

Remove more red lines from make docs-server, and rehab lost sons (#1742)
  docs/docs/cli.rst
  docs/docs/tutorials.rst
  docs/use_cases/special_tools.rst
  src/unitxt/operators.py
Due: enforce-relative-imports

Add instance ID to WML credentials (#1741)
  src/unitxt/inference.py
Due: enforce-relative-imports

Support Byom for RITS inference engine.
  src/unitxt/inference.py
  tests/inference/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

succed to creat simple server and interact with it
  ccc_worker_server.py
  src/unitxt/inference.py
  test_caching_ccc.py
  test_caching_try.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Polish RITS BYOM inference engine implementation
  src/unitxt/inference.py
  tests/inference/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

remove unnecessary llm-as-judge from scigen + max pred in benchmark examples
  examples/evaluate_torr.py
  examples/evaluate_torr_custom_sizes.py
  prepare/cards/scigen.py
  src/unitxt/catalog/cards/scigen.json
Due: enforce-library-imports

add loader limit
  examples/evaluate_torr.py
Due: enforce-library-imports

fix: CrossProvider fails if model name doesn't exist in map
  src/unitxt/inference.py
Due: enforce-relative-imports

remove unnecessary llm-as-judge from scigen + max pred in benchmark (#1746)
  examples/evaluate_torr.py
  examples/evaluate_torr_custom_sizes.py
  prepare/cards/scigen.py
  src/unitxt/catalog/cards/scigen.json
Due: enforce-library-imports

Support Byom for RITS inference engine. (#1744)
  src/unitxt/inference.py
  tests/inference/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

FIx tablebanch data analysis broken split
  prepare/cards/tablebench_data_analysis.py
  src/unitxt/catalog/cards/tablebench_data_analysis.json
Due: enforce-library-imports

Add 'splits' field with 'test' value to TableBench cards
  prepare/cards/tablebench.py
  prepare/cards/tablebench_fact_checking.py
  prepare/cards/tablebench_numerical_reasoning.py
  src/unitxt/catalog/cards/tablebench.json
  src/unitxt/catalog/cards/tablebench_fact_checking.json
  src/unitxt/catalog/cards/tablebench_numerical_reasoning.json
  src/unitxt/loaders.py
Due: enforce-relative-imports, enforce-library-imports

Add GG and deepseek to rits
  src/unitxt/inference.py
Due: enforce-relative-imports

Add GG and deepseek to rits in CrossInferenceEngine (#1750)
  src/unitxt/inference.py
Due: enforce-relative-imports

Implementation of XSTest card (with additional Judge criteria for measuring compliance)
  prepare/cards/safety/xstest.py
  src/unitxt/catalog/cards/safety/xstest.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/criteria/assistant_message_compliance.json
  src/unitxt/llm_as_judge_constants.py
Due: enforce-relative-imports, enforce-library-imports

define max pred explicitly in benchamrk definition
  examples/evaluate_torr.py
  prepare/benchmarks/torr.py
  src/unitxt/catalog/benchmarks/torr.json
Due: enforce-library-imports

Torr const max prediction (#1752)
  examples/evaluate_torr.py
  prepare/benchmarks/torr.py
  prepare/cards/tablebench.py
  prepare/cards/tablebench_data_analysis.py
  prepare/cards/tablebench_fact_checking.py
  prepare/cards/tablebench_numerical_reasoning.py
  src/unitxt/catalog/benchmarks/torr.json
  src/unitxt/catalog/cards/tablebench.json
  src/unitxt/catalog/cards/tablebench_data_analysis.json
  src/unitxt/catalog/cards/tablebench_fact_checking.json
  src/unitxt/catalog/cards/tablebench_numerical_reasoning.json
  src/unitxt/loaders.py
Due: enforce-relative-imports, enforce-library-imports

fix typo in azure_openai_host variable name
  src/unitxt/inference.py
Due: enforce-relative-imports

Remove redundant field renames
  prepare/cards/safety/xstest.py
  src/unitxt/catalog/cards/safety/xstest.json
Due: enforce-library-imports

trying networkx 3.2.1
  .github/workflows/library_tests.yml
Due: none
