Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]
        exclude: src/unitxt/metrics.py
      # Run the linter on the specific file with the ignore flag
      - id: ruff
        name: ruff (src/unitxt/metrics.py)
        files: src/unitxt/metrics.py
        args: [--fix, --ignore, C901]
      # Run the formatter
      - id: ruff-format

  - repo: https://github.com/ibm/detect-secrets
    # If you desire to use a specific version of detect-secrets, you can replace `master` with other git revisions such as branch, tag or commit sha.
    # You are encouraged to use static refs such as tags, instead of branch name
    #
    # Running "pre-commit autoupdate" automatically updates rev to latest tag
    rev: 0.13.1+ibm.61.dss
    hooks:
      - id: detect-secrets # pragma: whitelist secret
        # Add options for detect-secrets-hook binary. You can run `detect-secrets-hook --help` to list out all possible options.
        # You may also run `pre-commit run detect-secrets` to preview the scan result.
        # when "--baseline" without "--use-all-plugins", pre-commit scan with just plugins in baseline file
        # when "--baseline" with "--use-all-plugins", pre-commit scan with all available plugins
        # add "--fail-on-unaudited" to fail pre-commit for unaudited potential secrets
        args: [--baseline, .secrets.baseline, --use-all-plugins, --fail-on-unaudited]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

set data_classification_policy to public by default Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/rag_eval_judges.py
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_judge_llama_3_1_405b_instruct_fp8.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_c_a_gt_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_c_a_gt_judge_llama_3_1_405b_instruct_fp8.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_c_a_gt_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_c_a_gt_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/answer_relevance/answer_relevance_q_a_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/answer_relevance/answer_relevance_q_a_judge_llama_3_1_405b_instruct_fp8.json
  src/unitxt/catalog/metrics/rag/answer_relevance/answer_relevance_q_a_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/answer_relevance/answer_relevance_q_a_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/context_relevance/context_relevance_q_c_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/context_relevance/context_relevance_q_c_judge_llama_3_1_405b_instruct_fp8.json
  src/unitxt/catalog/metrics/rag/context_relevance/context_relevance_q_c_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/context_relevance/context_relevance_q_c_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/correctness_holistic_q_c_a_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/correctness_holistic_q_c_a_judge_llama_3_1_405b_instruct_fp8.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/correctness_holistic_q_c_a_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/correctness_holistic_q_c_a_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_c_a_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_c_a_judge_llama_3_1_405b_instruct_fp8.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_c_a_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_c_a_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_q_c_a_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_q_c_a_judge_llama_3_1_405b_instruct_fp8.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_q_c_a_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_q_c_a_judge_mixtral_8x7b_instruct_v01.json
Due: enforce-library-imports

add rag_eval binary judge metrics Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/rag_eval_judges.py
  src/unitxt/catalog/metrics/rag/answer_relevance_q_a_judge_gpt_4o_mini.json
  src/unitxt/catalog/metrics/rag/answer_relevance_q_a_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/answer_relevance_q_a_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/context_relevance_q_c_judge_gpt_4o_mini.json
  src/unitxt/catalog/metrics/rag/context_relevance_q_c_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/context_relevance_q_c_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/correctness_holistic_q_c_a_judge_gpt_4o_mini.json
  src/unitxt/catalog/metrics/rag/correctness_holistic_q_c_a_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/correctness_holistic_q_c_a_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/correctness_q_a_gt_judge_gpt_4o_mini.json
  src/unitxt/catalog/metrics/rag/correctness_q_a_gt_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/correctness_q_a_gt_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/correctness_q_c_a_gt_judge_gpt_4o_mini.json
  src/unitxt/catalog/metrics/rag/correctness_q_c_a_gt_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/correctness_q_c_a_gt_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/faithfulness_c_a_judge_gpt_4o_mini.json
  src/unitxt/catalog/metrics/rag/faithfulness_c_a_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/faithfulness_c_a_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/faithfulness_q_c_a_judge_gpt_4o_mini.json
  src/unitxt/catalog/metrics/rag/faithfulness_q_c_a_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/faithfulness_q_c_a_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/rag_metrics/__init__.py
  src/unitxt/rag_metrics/binary_judge_metric.py
  src/unitxt/rag_metrics/rag_metrics_utils.py
  src/unitxt/rag_metrics/task_based_judge_metric.py
Due: enforce-relative-imports, enforce-library-imports

fix ArmoRM gpu support Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/metrics.py
Due: enforce-relative-imports

add GenerativeBinaryJudgeBAM Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/metrics.py
Due: enforce-relative-imports

move metrics Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/rag_eval_ArmoRM.py
  prepare/metrics/rag_eval_judges.py
  src/unitxt/catalog/metrics/rag/binary_judges/answer_relevance_q_a_ArmoRM.json
  src/unitxt/catalog/metrics/rag/binary_judges/answer_relevance_q_a_judge_gpt_4o_mini.json
  src/unitxt/catalog/metrics/rag/binary_judges/answer_relevance_q_a_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/answer_relevance_q_a_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/binary_judges/context_relevance_q_c_judge_gpt_4o_mini.json
  src/unitxt/catalog/metrics/rag/binary_judges/context_relevance_q_c_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/context_relevance_q_c_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_holistic_q_c_a_ArmoRM.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_holistic_q_c_a_judge_gpt_4o_mini.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_holistic_q_c_a_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_holistic_q_c_a_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_q_a_gt_judge_gpt_4o_mini.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_q_a_gt_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_q_a_gt_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_q_c_a_gt_judge_gpt_4o_mini.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_q_c_a_gt_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_q_c_a_gt_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/binary_judges/faithfulness_c_a_judge_gpt_4o_mini.json
  src/unitxt/catalog/metrics/rag/binary_judges/faithfulness_c_a_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/faithfulness_c_a_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/binary_judges/faithfulness_q_c_a_judge_gpt_4o_mini.json
  src/unitxt/catalog/metrics/rag/binary_judges/faithfulness_q_c_a_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/faithfulness_q_c_a_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/metrics.py
  src/unitxt/rag_metrics/__init__.py
  src/unitxt/rag_metrics/armorm_judge_metric.py
  src/unitxt/rag_metrics/binary_judge_metric.py
  src/unitxt/rag_metrics/rag_metrics_utils.py
  src/unitxt/rag_metrics/task_based_judge_metric.py
Due: enforce-relative-imports, enforce-library-imports

use llama3_instruct format for llama3 instruct models Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/rag_eval_judges.py
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_judge_llama_3_1_405b_instruct_fp8.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_c_a_gt_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_c_a_gt_judge_llama_3_1_405b_instruct_fp8.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_c_a_gt_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_c_a_gt_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/answer_relevance/answer_relevance_q_a_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/answer_relevance/answer_relevance_q_a_judge_llama_3_1_405b_instruct_fp8.json
  src/unitxt/catalog/metrics/rag/answer_relevance/answer_relevance_q_a_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/answer_relevance/answer_relevance_q_a_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/context_relevance/context_relevance_q_c_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/context_relevance/context_relevance_q_c_judge_llama_3_1_405b_instruct_fp8.json
  src/unitxt/catalog/metrics/rag/context_relevance/context_relevance_q_c_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/context_relevance/context_relevance_q_c_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/correctness_holistic_q_c_a_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/correctness_holistic_q_c_a_judge_llama_3_1_405b_instruct_fp8.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/correctness_holistic_q_c_a_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/correctness_holistic_q_c_a_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_c_a_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_c_a_judge_llama_3_1_405b_instruct_fp8.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_c_a_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_c_a_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_q_c_a_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_q_c_a_judge_llama_3_1_405b_instruct_fp8.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_q_c_a_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_q_c_a_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

copy instances' data_classification_policy task_data Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/rag_eval_judges.py
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_judge_llama_3_1_405b_instruct_fp8.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_c_a_gt_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_c_a_gt_judge_llama_3_1_405b_instruct_fp8.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_c_a_gt_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_c_a_gt_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/answer_relevance/answer_relevance_q_a_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/answer_relevance/answer_relevance_q_a_judge_llama_3_1_405b_instruct_fp8.json
  src/unitxt/catalog/metrics/rag/answer_relevance/answer_relevance_q_a_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/answer_relevance/answer_relevance_q_a_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/context_relevance/context_relevance_q_c_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/context_relevance/context_relevance_q_c_judge_llama_3_1_405b_instruct_fp8.json
  src/unitxt/catalog/metrics/rag/context_relevance/context_relevance_q_c_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/context_relevance/context_relevance_q_c_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/correctness_holistic_q_c_a_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/correctness_holistic_q_c_a_judge_llama_3_1_405b_instruct_fp8.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/correctness_holistic_q_c_a_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/correctness_holistic_q_c_a_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_c_a_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_c_a_judge_llama_3_1_405b_instruct_fp8.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_c_a_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_c_a_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_q_c_a_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_q_c_a_judge_llama_3_1_405b_instruct_fp8.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_q_c_a_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_q_c_a_judge_mixtral_8x7b_instruct_v01.json
Due: enforce-library-imports

add llama-3-1-405b-instruct-fp8 binary judge (through bam) Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/rag_eval_judges.py
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_judge_llama_3_1_405b_instruct_fp8.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_c_a_gt_judge_llama_3_1_405b_instruct_fp8.json
  src/unitxt/catalog/metrics/rag/answer_relevance/answer_relevance_q_a_judge_llama_3_1_405b_instruct_fp8.json
  src/unitxt/catalog/metrics/rag/context_relevance/context_relevance_q_c_judge_llama_3_1_405b_instruct_fp8.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/correctness_holistic_q_c_a_judge_llama_3_1_405b_instruct_fp8.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_c_a_judge_llama_3_1_405b_instruct_fp8.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_q_c_a_judge_llama_3_1_405b_instruct_fp8.json
Due: enforce-library-imports

more detailed error msg Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/inference.py
Due: enforce-relative-imports

delete old metrics Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_judge_llama_3_1_405b_instruct_fp8.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_c_a_gt_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_c_a_gt_judge_llama_3_1_405b_instruct_fp8.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_c_a_gt_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_c_a_gt_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/answer_relevance/answer_relevance_q_a_ArmoRM.json
  src/unitxt/catalog/metrics/rag/answer_relevance/answer_relevance_q_a_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/answer_relevance/answer_relevance_q_a_judge_llama_3_1_405b_instruct_fp8.json
  src/unitxt/catalog/metrics/rag/answer_relevance/answer_relevance_q_a_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/answer_relevance/answer_relevance_q_a_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/context_relevance/context_relevance_q_c_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/context_relevance/context_relevance_q_c_judge_llama_3_1_405b_instruct_fp8.json
  src/unitxt/catalog/metrics/rag/context_relevance/context_relevance_q_c_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/context_relevance/context_relevance_q_c_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/correctness_holistic_q_c_a_ArmoRM.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/correctness_holistic_q_c_a_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/correctness_holistic_q_c_a_judge_llama_3_1_405b_instruct_fp8.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/correctness_holistic_q_c_a_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/correctness_holistic_q_c_a_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_c_a_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_c_a_judge_llama_3_1_405b_instruct_fp8.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_c_a_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_c_a_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_q_c_a_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_q_c_a_judge_llama_3_1_405b_instruct_fp8.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_q_c_a_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_q_c_a_judge_mixtral_8x7b_instruct_v01.json
Due: none

revert unrelated change Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/retrieval.py
Due: enforce-library-imports

add mixtral llmaj with bam add Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/llm_as_judge/binary_judge.py
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_bam_template_answer_correctness_judge_loose_match_no_context_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_bam_template_answer_relevance_judge_answer_relevance_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_bam_template_context_relevance_judge_context_relevance_ares_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_bam_template_correctness_holistic_judge_correctness_simple_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_bam_template_faithfulness_judge_with_question_simplified_logprobs.json
Due: enforce-library-imports

Change error handling from assert to raise Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/api.py
  src/unitxt/inference.py
Due: enforce-relative-imports

refactor LLMAsJudge: add TaskBasedLLMasJudge and add field mapper Signed-off-by: lilacheden <lilach.edel@gmail.com>ç
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

make get_engine_id abstract Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/inference.py
Due: enforce-relative-imports

update rag_eval tasks (inputs -> input_fields Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/tasks/rag_eval.py
  src/unitxt/catalog/tasks/rag_eval/answer_correctness/binary.json
  src/unitxt/catalog/tasks/rag_eval/answer_correctness/non_binary.json
  src/unitxt/catalog/tasks/rag_eval/answer_relevance/binary.json
  src/unitxt/catalog/tasks/rag_eval/answer_relevance/non_binary.json
  src/unitxt/catalog/tasks/rag_eval/context_relevance/binary.json
  src/unitxt/catalog/tasks/rag_eval/context_relevance/non_binary.json
  src/unitxt/catalog/tasks/rag_eval/correctness_holistic/binary.json
  src/unitxt/catalog/tasks/rag_eval/correctness_holistic/non_binary.json
  src/unitxt/catalog/tasks/rag_eval/faithfulness/binary.json
  src/unitxt/catalog/tasks/rag_eval/faithfulness/non_binary.json
Due: enforce-library-imports

add example for running task based llm as judge over external rag output Signed-off-by: lilacheden <lilach.edel@gmail.com>
  examples/evaluate_rag_results_with_llm_as_judge.py
Due: enforce-library-imports

add test examples Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/llm_as_judge/binary_judge.py
Due: enforce-library-imports

add test_task_based_llm_as_judge_metric test Signed-off-by: lilacheden <lilach.edel@gmail.com>
  tests/library/test_metrics.py
Due: enforce-library-imports

verify that engine supports logprobs if return_log_probs=True and fix param name add Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

verify that engine supports logprobs if return_log_probs=True add Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/api.py
Due: enforce-relative-imports

add score prefix to TaskBasedLLMasJudge Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

change param name add Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/api.py
Due: enforce-relative-imports

add args typing Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/api.py
Due: enforce-relative-imports

Update binary llm_as_judge metrics to Signed-off-by: lilacheden <lilach.edel@gmail.com>ç
  prepare/metrics/llm_as_judge/binary_judge.py
  src/unitxt/catalog/metrics/llm_as_judge/binary/gpt_4_turbo_openai_template_answer_correctness_judge_loose_match_no_context_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/gpt_4_turbo_openai_template_answer_relevance_judge_answer_relevance_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/gpt_4_turbo_openai_template_context_relevance_judge_context_relevance_ares_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/gpt_4_turbo_openai_template_correctness_holistic_judge_correctness_simple_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/gpt_4_turbo_openai_template_faithfulness_judge_with_question_simplified_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_405b_instruct_fp8_bam_template_answer_correctness_judge_loose_match_no_context_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_405b_instruct_fp8_bam_template_answer_relevance_judge_answer_relevance_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_405b_instruct_fp8_bam_template_context_relevance_judge_context_relevance_ares_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_405b_instruct_fp8_bam_template_correctness_holistic_judge_correctness_simple_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_405b_instruct_fp8_bam_template_faithfulness_judge_with_question_simplified_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_template_answer_correctness_judge_loose_match_no_context_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_template_answer_relevance_judge_answer_relevance_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_template_context_relevance_judge_context_relevance_ares_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_template_correctness_holistic_judge_correctness_simple_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_template_faithfulness_judge_with_question_simplified_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_70b_instruct_bam_template_answer_correctness_judge_loose_match_no_context_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_70b_instruct_bam_template_answer_relevance_judge_answer_relevance_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_70b_instruct_bam_template_context_relevance_judge_context_relevance_ares_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_70b_instruct_bam_template_correctness_holistic_judge_correctness_simple_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_70b_instruct_bam_template_faithfulness_judge_with_question_simplified_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_bam_template_answer_correctness_judge_loose_match_no_context_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_bam_template_answer_relevance_judge_answer_relevance_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_bam_template_context_relevance_judge_context_relevance_ares_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_bam_template_correctness_holistic_judge_correctness_simple_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_bam_template_faithfulness_judge_with_question_simplified_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_wml_template_answer_correctness_judge_loose_match_no_context_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_wml_template_answer_relevance_judge_answer_relevance_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_wml_template_context_relevance_judge_context_relevance_ares_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_wml_template_correctness_holistic_judge_correctness_simple_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_wml_template_faithfulness_judge_with_question_simplified_logprobs.json
Due: enforce-library-imports

adjust binary llmaj metrics for customizable inference engines Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/llm_as_judge/binary_judge.py
  src/unitxt/catalog/metrics/llm_as_judge/binary/answer_correctness_q_a_gt_loose_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/answer_correctness_q_a_gt_strict_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/answer_relevance_q_a_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/context_relevance_q_c_ares_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/correctness_holistic_q_c_a_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/faithfulness_c_a_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/faithfulness_q_c_a_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/gpt_4_turbo_openai_template_answer_correctness_judge_loose_match_no_context_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/gpt_4_turbo_openai_template_answer_relevance_judge_answer_relevance_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/gpt_4_turbo_openai_template_context_relevance_judge_context_relevance_ares_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/gpt_4_turbo_openai_template_correctness_holistic_judge_correctness_simple_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/gpt_4_turbo_openai_template_faithfulness_judge_with_question_simplified_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_405b_instruct_fp8_bam_template_answer_correctness_judge_loose_match_no_context_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_405b_instruct_fp8_bam_template_answer_relevance_judge_answer_relevance_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_405b_instruct_fp8_bam_template_context_relevance_judge_context_relevance_ares_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_405b_instruct_fp8_bam_template_correctness_holistic_judge_correctness_simple_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_405b_instruct_fp8_bam_template_faithfulness_judge_with_question_simplified_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_template_answer_correctness_judge_loose_match_no_context_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_template_answer_relevance_judge_answer_relevance_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_template_context_relevance_judge_context_relevance_ares_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_template_correctness_holistic_judge_correctness_simple_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_template_faithfulness_judge_with_question_simplified_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_70b_instruct_bam_template_answer_correctness_judge_loose_match_no_context_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_70b_instruct_bam_template_answer_relevance_judge_answer_relevance_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_70b_instruct_bam_template_context_relevance_judge_context_relevance_ares_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_70b_instruct_bam_template_correctness_holistic_judge_correctness_simple_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_70b_instruct_bam_template_faithfulness_judge_with_question_simplified_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_bam_template_answer_correctness_judge_loose_match_no_context_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_bam_template_answer_relevance_judge_answer_relevance_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_bam_template_context_relevance_judge_context_relevance_ares_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_bam_template_correctness_holistic_judge_correctness_simple_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_bam_template_faithfulness_judge_with_question_simplified_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_wml_template_answer_correctness_judge_loose_match_no_context_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_wml_template_answer_relevance_judge_answer_relevance_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_wml_template_context_relevance_judge_context_relevance_ares_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_wml_template_correctness_holistic_judge_correctness_simple_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_wml_template_faithfulness_judge_with_question_simplified_logprobs.json
Due: enforce-library-imports

add unintentionally omitted code Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/metrics.py
Due: enforce-relative-imports

Add verification for inference engine Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

add gpt4 and set greedy decoding Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/llm_as_judge/binary_judge.py
  src/unitxt/catalog/metrics/llm_as_judge/binary/gpt_4_turbo_openai_template_answer_correctness_judge_loose_match_no_context_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/gpt_4_turbo_openai_template_answer_relevance_judge_answer_relevance_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/gpt_4_turbo_openai_template_context_relevance_judge_context_relevance_ares_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/gpt_4_turbo_openai_template_correctness_holistic_judge_correctness_simple_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_405b_instruct_fp8_bam_template_answer_correctness_judge_loose_match_no_context_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_405b_instruct_fp8_bam_template_answer_relevance_judge_answer_relevance_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_405b_instruct_fp8_bam_template_context_relevance_judge_context_relevance_ares_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_405b_instruct_fp8_bam_template_correctness_holistic_judge_correctness_simple_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_405b_instruct_fp8_bam_template_faithfulness_judge_with_question_simplified_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_template_answer_correctness_judge_loose_match_no_context_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_template_answer_relevance_judge_answer_relevance_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_template_context_relevance_judge_context_relevance_ares_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_template_correctness_holistic_judge_correctness_simple_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_template_faithfulness_judge_with_question_simplified_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_70b_instruct_bam_template_answer_correctness_judge_loose_match_no_context_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_70b_instruct_bam_template_answer_relevance_judge_answer_relevance_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_70b_instruct_bam_template_context_relevance_judge_context_relevance_ares_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_70b_instruct_bam_template_correctness_holistic_judge_correctness_simple_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_70b_instruct_bam_template_faithfulness_judge_with_question_simplified_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_wml_template_answer_correctness_judge_loose_match_no_context_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_wml_template_answer_relevance_judge_answer_relevance_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_wml_template_context_relevance_judge_context_relevance_ares_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_wml_template_correctness_holistic_judge_correctness_simple_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_wml_template_faithfulness_judge_with_question_simplified_logprobs.json
Due: enforce-library-imports

remove unused metrics Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_template_answer_correctness_judge_simplified_with_context_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_wml_template_answer_correctness_judge_simplified_with_context_logprobs.json
Due: none

uncomment model Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/llm_as_judge/binary_judge.py
Due: enforce-library-imports

add doc Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

bugfix in TaskBasedLLMasJudge Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/inference.py
Due: enforce-relative-imports

remove old metris judges Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/metrics.py
Due: enforce-relative-imports

remove unused code Signed-off-by: lilacheden <lilach.edel@gmail.com>
  examples/evaluate_rag_judge.py
  prepare/metrics/rag_eval_ArmoRM.py
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

Remove subclass params from LLMAsJudgeBase Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

add judge options without logprobs Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/llm_as_judge/binary_judge.py
  src/unitxt/catalog/metrics/llm_as_judge/binary/answer_correctness_q_a_gt_loose.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/answer_correctness_q_a_gt_strict.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/answer_correctness_q_a_gt_strict_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/answer_relevance_q_a.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/context_relevance_q_c_ares.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/correctness_holistic_q_c_a.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/faithfulness_c_a.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/faithfulness_q_c_a.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/faithfulness_q_c_a_logprobs.json
Due: enforce-library-imports

add example for running task based llm as judge over a rag task Signed-off-by: lilacheden <lilach.edel@gmail.com>
  examples/evaluate_rag_using_binary_llm_as_judge.py
Due: enforce-library-imports

add return_meta_data option to api.infer Signed-off-by: lilacheden <lilach.edel@gmail.com>ç
  src/unitxt/api.py
Due: enforce-relative-imports

add docstring Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports
