Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]
        exclude: src/unitxt/metrics.py|examples/evaluate_existing_dataset_no_install.py
      # Run the linter on the specific file with the ignore flag
      - id: ruff
        name: ruff (examples/evaluate_existing_dataset_no_install.py)
        files: examples/evaluate_existing_dataset_no_install.py
        args: [--fix, --ignore, T201]
      # Run the formatter
      - id: ruff-format

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [--baseline, utils/.secrets.baseline]
        exclude: utils/.secrets.baseline

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

test: add unit test for LoadCSV error handling on file not found
  tests/library/test_loaders.py
  tests/library/test_metrics.py
  utils/.secrets.baseline
Due: enforce-library-imports

Fix loading without limit (#1594)
  src/unitxt/loaders.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Text2SQL metric bug fix
  examples/evaluate_text2sql.py
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

[Breaking change] Add support for all Granite Guardian risks (#1576)
  examples/evaluate_granite_guardian_agentic_risks.py
  examples/evaluate_granite_guardian_assistant_message_risks.py
  examples/evaluate_granite_guardian_custom_risks.py
  examples/evaluate_granite_guardian_rag_risks.py
  examples/evaluate_granite_guardian_user_message_risks.py
  prepare/metrics/granite_guardian.py
  prepare/metrics/llm_as_judge/llm_as_judge.py
  prepare/metrics/rag_granite_guardian.py
  src/unitxt/catalog/metrics/granite_guardian/agentic_risk/function_call.json
  src/unitxt/catalog/metrics/granite_guardian/assistant_risk/harm.json
  src/unitxt/catalog/metrics/granite_guardian/assistant_risk/profanity.json
  src/unitxt/catalog/metrics/granite_guardian/assistant_risk/social_bias.json
  src/unitxt/catalog/metrics/granite_guardian/assistant_risk/unethical_behavior.json
  src/unitxt/catalog/metrics/granite_guardian/assistant_risk/violence.json
  src/unitxt/catalog/metrics/granite_guardian/rag_risk/answer_relevance.json
  src/unitxt/catalog/metrics/granite_guardian/rag_risk/context_relevance.json
  src/unitxt/catalog/metrics/granite_guardian/rag_risk/groundedness.json
  src/unitxt/catalog/metrics/granite_guardian/user_risk/harm.json
  src/unitxt/catalog/metrics/granite_guardian/user_risk/jailbreak.json
  src/unitxt/catalog/metrics/granite_guardian/user_risk/profanity.json
  src/unitxt/catalog/metrics/granite_guardian/user_risk/social_bias.json
  src/unitxt/catalog/metrics/granite_guardian/user_risk/unethical_behavior.json
  src/unitxt/catalog/metrics/granite_guardian/user_risk/violence.json
  src/unitxt/catalog/metrics/rag/granite_guardian_answer_relevance.json
  src/unitxt/catalog/metrics/rag/granite_guardian_context_relevance.json
  src/unitxt/catalog/metrics/rag/granite_guardian_groundedness.json
  src/unitxt/inference.py
  src/unitxt/llm_as_judge_constants.py
  src/unitxt/metrics.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Use Lazy Loaders (#1536)
  performance/bluebench_profiler.py
  performance/compare_benchmark_performance_results.py
  prepare/cards/universal_ner.py
  pyproject.toml
  src/unitxt/catalog/cards/universal_ner/ceb/gja.json
  src/unitxt/catalog/cards/universal_ner/da/ddt.json
  src/unitxt/catalog/cards/universal_ner/de/pud.json
  src/unitxt/catalog/cards/universal_ner/en/ewt.json
  src/unitxt/catalog/cards/universal_ner/en/pud.json
  src/unitxt/catalog/cards/universal_ner/hr/set.json
  src/unitxt/catalog/cards/universal_ner/pt/bosque.json
  src/unitxt/catalog/cards/universal_ner/pt/pud.json
  src/unitxt/catalog/cards/universal_ner/ru/pud.json
  src/unitxt/catalog/cards/universal_ner/sk/snk.json
  src/unitxt/catalog/cards/universal_ner/sr/set.json
  src/unitxt/catalog/cards/universal_ner/sv/pud.json
  src/unitxt/catalog/cards/universal_ner/sv/talbanken.json
  src/unitxt/catalog/cards/universal_ner/tl/trg.json
  src/unitxt/catalog/cards/universal_ner/tl/ugnayan.json
  src/unitxt/catalog/cards/universal_ner/zh/gsd.json
  src/unitxt/catalog/cards/universal_ner/zh/gsdsimp.json
  src/unitxt/catalog/cards/universal_ner/zh/pud.json
  src/unitxt/fusion.py
  src/unitxt/loaders.py
  src/unitxt/operator.py
  src/unitxt/settings_utils.py
  src/unitxt/test_utils/card.py
  tests/library/test_loaders.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Fix tests (#1590)
  src/unitxt/metrics.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

Fix failing tests (#1589)
  tests/library/test_metrics.py
Due: enforce-library-imports

Fix bird dataset (#1593)
  examples/evaluate_text2sql.py
  prepare/cards/text2sql.py
  src/unitxt/catalog/cards/text2sql/bird.json
Due: enforce-library-imports

fix: update metrics parameter to accept a list in test_card function
  prepare/cards/cohere_for_ai.py
Due: enforce-library-imports

Fix metrics formatting and style (#1591)
  .pre-commit-config.yaml
  pyproject.toml
  src/unitxt/metrics.py
  utils/.secrets.baseline
Due: enforce-relative-imports

text2sql metric bug fix
  prepare/metrics/text2sql_execution_accuracy.py
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

text2sql metric test update
  src/unitxt/metrics.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

text2sql metrics bug fix
  src/unitxt/test_utils/metrics.py
Due: enforce-relative-imports

Remove default_template and extra fixes
  prepare/cards/ai2d.py
  prepare/cards/chart_qa.py
  prepare/cards/doc_vqa.py
  prepare/cards/info_vqa.py
  prepare/cards/seed_bench.py
  prepare/cards/websrc.py
  src/unitxt/card.py
  src/unitxt/catalog/cards/ai2d.json
  src/unitxt/catalog/cards/chart_qa.json
  src/unitxt/catalog/cards/chart_qa_lmms_eval.json
  src/unitxt/catalog/cards/doc_vqa/en.json
  src/unitxt/catalog/cards/doc_vqa/fr.json
  src/unitxt/catalog/cards/doc_vqa/lmms_eval.json
  src/unitxt/catalog/cards/info_vqa.json
  src/unitxt/catalog/cards/info_vqa_lmms_eval.json
  src/unitxt/catalog/cards/seed_bench.json
  src/unitxt/catalog/cards/websrc.json
  src/unitxt/catalog/temp_recipe_name.json
  src/unitxt/collections.py
  src/unitxt/standard.py
Due: enforce-relative-imports, enforce-library-imports

Added api call example (#1587)
  docs/docs/examples.rst
  examples/api_call_evaluation.py
Due: enforce-library-imports

Make MultipleSourceLoader lazy and fixed
  src/unitxt/loaders.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Even better implementation
  src/unitxt/loaders.py
Due: enforce-relative-imports

Added test that fails without the fix
  tests/library/test_loaders.py
Due: enforce-library-imports

Fix test
  tests/library/test_loaders.py
Due: enforce-library-imports

Add __len__ method to DictCollection for compatibility with len()
  src/unitxt/collections.py
Due: enforce-relative-imports

Make MultipleSourceLoader lazy and fix its use of fusion (#1602)
  src/unitxt/loaders.py
  tests/library/test_loaders.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Remove temp_recipe_name.json from the catalog and update .gitignore
  .gitignore
  src/unitxt/catalog/temp_recipe_name.json
Due: none

Enable local caching with UNITXT_LOCAL_CACHE
  pyproject.toml
  src/unitxt/loaders.py
  src/unitxt/metrics.py
  src/unitxt/settings_utils.py
  utils/.secrets.baseline
Due: enforce-relative-imports

revised text2sql execution accuracy metric
  examples/evaluate_text2sql.py
  prepare/metrics/text2sql_execution_accuracy.py
  prepare/processors/text2sql.py
  src/unitxt/db_utils.py
  src/unitxt/loaders.py
  src/unitxt/metrics.py
  src/unitxt/test_utils/metrics.py
  tests/library/test_db_utils.py
  tests/library/test_metrics.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

sql execution accuracy catalog card
  src/unitxt/catalog/metrics/text2sql/execution_accuracy.json
Due: none

get_sql processor card update
  src/unitxt/catalog/processors/text2sql/get_sql.json
Due: none

Granite guardian: move tokenizer init to prepare()
  src/unitxt/metrics.py
Due: enforce-relative-imports

Add Custom risk entry to RISK_TYPE_TO_CLASS
  src/unitxt/metrics.py
Due: enforce-relative-imports

adding text2sql non-execution accuracy metric
  prepare/metrics/text2sql_accuracy.py
  prepare/tasks/text2sql.py
  src/unitxt/catalog/metrics/text2sql/non_execution_accuracy.json
  src/unitxt/catalog/tasks/text2sql.json
  src/unitxt/metrics.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

ruff fix
  prepare/metrics/text2sql_accuracy.py
Due: enforce-library-imports

get config_info
  src/unitxt/test_utils/card.py
Due: enforce-relative-imports

make slitp seeker more precise
  src/unitxt/loaders.py
  src/unitxt/test_utils/card.py
Due: enforce-relative-imports

let github find all the splits of all LoadHF
  src/unitxt/test_utils/card.py
Due: enforce-relative-imports

change compare in another branch
  performance/compare_benchmark_performance_results.py
Due: enforce-library-imports

focus the search
  src/unitxt/test_utils/card.py
  tests/catalog/test_preparation.py
Due: enforce-relative-imports, enforce-library-imports

match current mains version of loaders
  performance/compare_benchmark_performance_results.py
  src/unitxt/loaders.py
Due: enforce-relative-imports, enforce-library-imports

returned evaluate to performance, and inference only in case that not mocked
  performance/bluebench_profiler.py
  performance/compare_benchmark_performance_results.py
Due: enforce-library-imports

Fixes to vision with WML (#1578)
  src/unitxt/metrics.py
Due: enforce-relative-imports
