Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]
        exclude: src/unitxt/metrics.py|examples/evaluate_existing_dataset_no_install.py
      # Run the linter on the specific file with the ignore flag
      - id: ruff
        name: ruff (examples/evaluate_existing_dataset_no_install.py)
        files: examples/evaluate_existing_dataset_no_install.py
        args: [--fix, --ignore, T201]
      # Run the formatter
      - id: ruff-format

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [--baseline, utils/.secrets.baseline]
        exclude: utils/.secrets.baseline

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

exit metric when gt is returning None
  src/unitxt/metrics.py
Due: enforce-relative-imports

Doc improvements
  docs/docs/examples.rst
Due: none

fix the printout of empty strings in the yaml cards of the catalog (#1567)
  docs/blog/2024_summary_blog.rst
  docs/docs/examples.rst
  src/unitxt/templates.py
  src/unitxt/text_utils.py
Due: enforce-relative-imports

Use repr instead of to_json for unitxt dataset caching
  src/unitxt/api.py
Due: enforce-relative-imports

Add test
  tests/library/test_api.py
Due: enforce-library-imports

Try re-using huggingface cache
  .github/workflows/catalog_preparation.yml
Due: none

Enhance caching for Hugging Face in workflows
  .github/workflows/catalog_preparation.yml
  .github/workflows/performance.yml
Due: none

Fix indentation in catalog preparation workflow for Hugging Face caching
  .github/workflows/catalog_preparation.yml
Due: none

Comment out dataset cache settings in CatalogPreparationTestCase
  tests/utils.py
Due: enforce-library-imports

Use repr instead of to_json for unitxt dataset caching (#1570)
  src/unitxt/api.py
  tests/library/test_api.py
Due: enforce-relative-imports, enforce-library-imports

Added key value extraction evaluation and example with images (#1529)
  docs/docs/examples.rst
  examples/key_value_extraction_evaluation.py
  prepare/metrics/custom_f1.py
  prepare/tasks/key_value_extraction.py
  prepare/templates/key_value_extraction/templates.py
  src/unitxt/catalog/metrics/key_value_extraction.json
  src/unitxt/catalog/tasks/key_value_extraction.json
  src/unitxt/catalog/templates/key_value_extraction/extract_in_json_format.json
  src/unitxt/metrics.py
  src/unitxt/struct_data_operators.py
Due: enforce-relative-imports, enforce-library-imports

Improved parsing and testing of processing.
  prepare/templates/key_value_extraction/templates.py
  src/unitxt/catalog/templates/key_value_extraction/extract_in_json_format.json
  src/unitxt/struct_data_operators.py
  tests/library/test_struct_data_operators.py
Due: enforce-relative-imports, enforce-library-imports

Enhance LoadHF class to support optional splits and improve dataset loading logic
  src/unitxt/loaders.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Refactor LoadHF class to improve dataset loading and implement limit on yielded instances
  src/unitxt/loaders.py
Due: enforce-relative-imports

Update version to 1.18.0
  src/unitxt/version.py
Due: enforce-relative-imports

Update version to 1.18.0 (#1574)
  src/unitxt/version.py
Due: enforce-relative-imports

Changed key value extraction to use json serializer
  prepare/templates/key_value_extraction/templates.py
  src/unitxt/catalog/templates/key_value_extraction/extract_in_json_format.json
  src/unitxt/serializers.py
  src/unitxt/struct_data_operators.py
  tests/library/test_struct_data_operators.py
Due: enforce-relative-imports, enforce-library-imports

Refactor LoadHF class to streamline dataset loading and enhance split handling
  prepare/cards/universal_ner.py
  src/unitxt/catalog/cards/universal_ner/ceb/gja.json
  src/unitxt/catalog/cards/universal_ner/da/ddt.json
  src/unitxt/catalog/cards/universal_ner/de/pud.json
  src/unitxt/catalog/cards/universal_ner/en/ewt.json
  src/unitxt/catalog/cards/universal_ner/en/pud.json
  src/unitxt/catalog/cards/universal_ner/hr/set.json
  src/unitxt/catalog/cards/universal_ner/pt/bosque.json
  src/unitxt/catalog/cards/universal_ner/pt/pud.json
  src/unitxt/catalog/cards/universal_ner/ru/pud.json
  src/unitxt/catalog/cards/universal_ner/sk/snk.json
  src/unitxt/catalog/cards/universal_ner/sr/set.json
  src/unitxt/catalog/cards/universal_ner/sv/pud.json
  src/unitxt/catalog/cards/universal_ner/sv/talbanken.json
  src/unitxt/catalog/cards/universal_ner/tl/trg.json
  src/unitxt/catalog/cards/universal_ner/tl/ugnayan.json
  src/unitxt/catalog/cards/universal_ner/zh/gsd.json
  src/unitxt/catalog/cards/universal_ner/zh/gsdsimp.json
  src/unitxt/catalog/cards/universal_ner/zh/pud.json
  src/unitxt/loaders.py
  src/unitxt/operator.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

WML vs local UNITXT reproductions
  examples/evaluate_image_text_to_text.py
  examples/evaluate_image_text_to_text_vllm_inference.py
  examples/evaluate_image_text_to_text_wml.py
  src/unitxt/image_operators.py
  src/unitxt/inference.py
Due: enforce-relative-imports, enforce-library-imports

Added llama vision benchmark
  examples/evaluate_vision_benchmark.py
  prepare/benchmarks/llama_vision.py
  src/unitxt/catalog/benchmarks/llama_vision.json
Due: enforce-library-imports

Changes for commit
  examples/evaluate_image_text_to_text.py
  examples/evaluate_image_text_to_text_vllm_inference.py
  examples/evaluate_image_text_to_text_wml.py
  examples/evaluate_llama_vision_benchmark.py
  prepare/augmentors/image_augmentors.py
  prepare/cards/ai2d.py
  prepare/cards/chart_qa.py
  prepare/cards/doc_vqa.py
  prepare/cards/info_vqa.py
  prepare/cards/websrc.py
  src/unitxt/catalog/templates/qa/multiple_choice/with_context/lmms_eval.json
  src/unitxt/inference.py
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

fix unitxt typo
  src/unitxt/metrics.py
Due: enforce-relative-imports

ruff
  examples/evaluate_image_text_to_text.py
  examples/evaluate_image_text_to_text_vllm_inference.py
  examples/evaluate_image_text_to_text_wml.py
  examples/evaluate_llama_vision_benchmark.py
  examples/evaluate_vision_benchmark.py
  prepare/benchmarks/llama_vision.py
  prepare/cards/ai2d.py
  prepare/cards/chart_qa.py
  prepare/cards/doc_vqa.py
  prepare/cards/info_vqa.py
  prepare/cards/websrc.py
  prepare/metrics/relaxed_correctness.py
  src/unitxt/image_operators.py
  src/unitxt/inference.py
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

Add Multi Turn Metrics Support
  prepare/cards/coqa_multi_turn.py
  prepare/tasks/qa/tasks.py
  prepare/templates/qa/with_context.py
  src/unitxt/catalog/tasks/qa/extractive.json
  src/unitxt/catalog/tasks/qa/extractive/multi_turn.json
  src/unitxt/catalog/templates/qa/multi_turn/with_context/simple.json
  src/unitxt/collections_operators.py
  src/unitxt/metrics.py
  src/unitxt/types.py
Due: enforce-relative-imports, enforce-library-imports

Add RagBench datasets
  prepare/cards/ragbench.py
  src/unitxt/catalog/cards/rag/response_generation/ragbench/covidqa.json
  src/unitxt/catalog/cards/rag/response_generation/ragbench/cuad.json
  src/unitxt/catalog/cards/rag/response_generation/ragbench/delucionqa.json
  src/unitxt/catalog/cards/rag/response_generation/ragbench/emanual.json
  src/unitxt/catalog/cards/rag/response_generation/ragbench/expertqa.json
  src/unitxt/catalog/cards/rag/response_generation/ragbench/finqa.json
  src/unitxt/catalog/cards/rag/response_generation/ragbench/hagrid.json
  src/unitxt/catalog/cards/rag/response_generation/ragbench/hotpotqa.json
  src/unitxt/catalog/cards/rag/response_generation/ragbench/msmarco.json
  src/unitxt/catalog/cards/rag/response_generation/ragbench/pubmedqa.json
  src/unitxt/catalog/cards/rag/response_generation/ragbench/tatqa.json
  src/unitxt/catalog/cards/rag/response_generation/ragbench/techqa.json
  src/unitxt/catalog/cards/ragbench/covidqa.json
  src/unitxt/catalog/cards/ragbench/cuad.json
  src/unitxt/catalog/cards/ragbench/delucionqa.json
  src/unitxt/catalog/cards/ragbench/emanual.json
  src/unitxt/catalog/cards/ragbench/expertqa.json
  src/unitxt/catalog/cards/ragbench/finqa.json
  src/unitxt/catalog/cards/ragbench/hagrid.json
  src/unitxt/catalog/cards/ragbench/hotpotqa.json
  src/unitxt/catalog/cards/ragbench/msmarco.json
  src/unitxt/catalog/cards/ragbench/pubmedqa.json
  src/unitxt/catalog/cards/ragbench/tatqa.json
  src/unitxt/catalog/cards/ragbench/techqa.json
Due: enforce-library-imports

Add RagBench datasets (#1580)
  prepare/cards/ragbench.py
  src/unitxt/catalog/cards/rag/response_generation/ragbench/covidqa.json
  src/unitxt/catalog/cards/rag/response_generation/ragbench/cuad.json
  src/unitxt/catalog/cards/rag/response_generation/ragbench/delucionqa.json
  src/unitxt/catalog/cards/rag/response_generation/ragbench/emanual.json
  src/unitxt/catalog/cards/rag/response_generation/ragbench/expertqa.json
  src/unitxt/catalog/cards/rag/response_generation/ragbench/finqa.json
  src/unitxt/catalog/cards/rag/response_generation/ragbench/hagrid.json
  src/unitxt/catalog/cards/rag/response_generation/ragbench/hotpotqa.json
  src/unitxt/catalog/cards/rag/response_generation/ragbench/msmarco.json
  src/unitxt/catalog/cards/rag/response_generation/ragbench/pubmedqa.json
  src/unitxt/catalog/cards/rag/response_generation/ragbench/tatqa.json
  src/unitxt/catalog/cards/rag/response_generation/ragbench/techqa.json
  src/unitxt/catalog/cards/ragbench/covidqa.json
  src/unitxt/catalog/cards/ragbench/cuad.json
  src/unitxt/catalog/cards/ragbench/delucionqa.json
  src/unitxt/catalog/cards/ragbench/emanual.json
  src/unitxt/catalog/cards/ragbench/expertqa.json
  src/unitxt/catalog/cards/ragbench/finqa.json
  src/unitxt/catalog/cards/ragbench/hagrid.json
  src/unitxt/catalog/cards/ragbench/hotpotqa.json
  src/unitxt/catalog/cards/ragbench/msmarco.json
  src/unitxt/catalog/cards/ragbench/pubmedqa.json
  src/unitxt/catalog/cards/ragbench/tatqa.json
  src/unitxt/catalog/cards/ragbench/techqa.json
Due: enforce-library-imports

Fix attempt to missing arrow dataset
  src/unitxt/api.py
Due: enforce-relative-imports

Fix attempt to missing arrow dataset (#1582)
  src/unitxt/api.py
Due: enforce-relative-imports

Update inference engine model and adjust expected targets in tests
  tests/inference/test_inference_engine.py
Due: enforce-library-imports

Fix WML Inference Engine tests for images
  src/unitxt/inference.py
  tests/inference/test_inference_engine.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Update tests
  tests/inference/test_inference_engine.py
Due: enforce-library-imports

Enhance CSV loader with low_memory option and update inference engine tests for set equality
  src/unitxt/loaders.py
  tests/inference/test_inference_engine.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Add error handling in Loader class to raise UnitxtError on load_iterables failure
  src/unitxt/loaders.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Fixes to vision with WML (#1578)
  examples/evaluate_image_text_to_text.py
  examples/evaluate_image_text_to_text_vllm_inference.py
  examples/evaluate_image_text_to_text_wml.py
  examples/evaluate_llama_vision_benchmark.py
  prepare/benchmarks/llama_vision.py
  prepare/metrics/relaxed_correctness.py
  prepare/metrics/websrc_squad_f1.py
  src/unitxt/catalog/benchmarks/llama_vision.json
  src/unitxt/image_operators.py
  src/unitxt/inference.py
  src/unitxt/loaders.py
  src/unitxt/metrics.py
  tests/inference/test_inference_engine.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Remove unused import and update line number in secrets baseline
  src/unitxt/loaders.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Refactor load_data method to simplify error handling and remove unnecessary cache checks
  src/unitxt/loaders.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Key value extraction improvements (#1573)
  prepare/templates/key_value_extraction/templates.py
  src/unitxt/catalog/templates/key_value_extraction/extract_in_json_format.json
  src/unitxt/serializers.py
  src/unitxt/struct_data_operators.py
  tests/library/test_struct_data_operators.py
Due: enforce-relative-imports, enforce-library-imports

fix: wml inference with space id only
  src/unitxt/inference.py
Due: enforce-relative-imports
