Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [--baseline, utils/.secrets.baseline]
        exclude: utils/.secrets.baseline

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils|unitxt/assistant/.*)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

trying networkx 3.2.1
  .github/workflows/library_tests.yml
Due: none

trying networkx 3.2.1
  .github/workflows/library_eager_execution_tests.yml
Due: none

try with networkx 3.2.1
  .github/workflows/catalog_preparation.yml
Due: none

trying networkx 3.2.1 to remove TypeError: entry_points() got an unexpected keyword argument 'group' (#1754)
  .github/workflows/catalog_preparation.yml
  .github/workflows/library_eager_execution_tests.yml
  .github/workflows/library_tests.yml
Due: none

Comment out SQL tests until fixed
  tests/library/test_collections_operators.py
Due: enforce-library-imports

Comment out SQL tests until fixed (#1756)
  tests/library/test_collections_operators.py
Due: enforce-library-imports

Fix typo in azure_openai_host variable name (#1753)
  src/unitxt/inference.py
Due: enforce-relative-imports

XSTest (and compliance criteria) (#1751)
  prepare/cards/safety/xstest.py
  src/unitxt/catalog/cards/safety/xstest.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/criteria/assistant_message_compliance.json
  src/unitxt/llm_as_judge_constants.py
Due: enforce-relative-imports, enforce-library-imports

CrossProvider fails if model name doesn't exist in map (#1747)
  src/unitxt/inference.py
Due: enforce-relative-imports

Fix relative imports in evaluate cli
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

Fix relative imports in evaluate cli (#1758)
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

maybe protobuf is missing
  .github/workflows/library_tests.yml
Due: none

add the corresponding json
  src/unitxt/catalog/cards/rag/documents/watsonxqa/en.json
Due: none

Remove the rename from test to train
  prepare/cards/rag/end_to_end/watsonx.py
Due: enforce-library-imports

Update version to 1.22.3
  src/unitxt/version.py
Due: enforce-relative-imports

Update version to 1.22.3 (#1761)
  src/unitxt/version.py
Due: enforce-relative-imports

Add comprehensive support for tool calling
  examples/evaluate_tool_calling.py
  prepare/cards/bfcl.py
  prepare/metrics/tool_calling.py
  prepare/processors/tool_calling.py
  prepare/tasks/tool_calling/tasks.py
  prepare/templates/tool_calling/templates.py
  src/unitxt/catalog/cards/bfcl/simple_v3.json
  src/unitxt/catalog/metrics/tool_calling.json
  src/unitxt/catalog/processors/load_json_or_empty_tool_call.json
  src/unitxt/catalog/tasks/tool_calling/supervised.json
  src/unitxt/catalog/templates/tool_calling/base.json
  src/unitxt/collections_operators.py
  src/unitxt/dataset.py
  src/unitxt/inference.py
  src/unitxt/metric.py
  src/unitxt/metrics.py
  src/unitxt/operators.py
  src/unitxt/schema.py
  src/unitxt/serializers.py
  src/unitxt/templates.py
  src/unitxt/tool_calling.py
  src/unitxt/type_utils.py
  src/unitxt/types.py
Due: enforce-relative-imports, enforce-library-imports

Add pydantic to dependencies for docs and tests
  pyproject.toml
Due: none

Revert to commit 4d14dc2c1e20071cf486059cc5e218e29d06dad5
  examples/evaluate_tool_calling.py
  prepare/cards/bfcl.py
  prepare/metrics/tool_calling.py
  prepare/processors/tool_calling.py
  prepare/tasks/tool_calling/tasks.py
  prepare/templates/tool_calling/templates.py
  pyproject.toml
  src/unitxt/catalog/cards/bfcl/simple_v3.json
  src/unitxt/catalog/metrics/tool_calling.json
  src/unitxt/catalog/processors/load_json_or_empty_tool_call.json
  src/unitxt/catalog/tasks/tool_calling/supervised.json
  src/unitxt/catalog/templates/tool_calling/base.json
  src/unitxt/collections_operators.py
  src/unitxt/dataset.py
  src/unitxt/inference.py
  src/unitxt/metric.py
  src/unitxt/metrics.py
  src/unitxt/operators.py
  src/unitxt/schema.py
  src/unitxt/serializers.py
  src/unitxt/templates.py
  src/unitxt/tool_calling.py
  src/unitxt/type_utils.py
  src/unitxt/types.py
Due: enforce-relative-imports, enforce-library-imports

Add tool calling support + Berekley Tool Calling Benchmark
  examples/evaluate_tool_calling.py
  prepare/cards/bfcl.py
  prepare/metrics/tool_calling.py
  prepare/processors/tool_calling.py
  prepare/tasks/tool_calling/tasks.py
  prepare/templates/tool_calling/templates.py
  pyproject.toml
  src/unitxt/catalog/cards/bfcl/simple_v3.json
  src/unitxt/catalog/metrics/tool_calling.json
  src/unitxt/catalog/processors/load_json_or_empty_tool_call.json
  src/unitxt/catalog/tasks/tool_calling/supervised.json
  src/unitxt/catalog/templates/tool_calling/base.json
  src/unitxt/collections_operators.py
  src/unitxt/dataset.py
  src/unitxt/inference.py
  src/unitxt/metric.py
  src/unitxt/metrics.py
  src/unitxt/operators.py
  src/unitxt/schema.py
  src/unitxt/serializers.py
  src/unitxt/templates.py
  src/unitxt/tool_calling.py
  src/unitxt/type_utils.py
  src/unitxt/types.py
Due: enforce-relative-imports, enforce-library-imports

Update model in evaluate_tool_calling example to granite-3-3-8b-instruct
  examples/evaluate_tool_calling.py
  src/unitxt/inference.py
Due: enforce-relative-imports, enforce-library-imports

Add support for typing.Type in is_type function and update tests
  src/unitxt/type_utils.py
  tests/library/test_type_utils.py
Due: enforce-relative-imports, enforce-library-imports

minor changes to MultiServersInferenceEngine
  src/unitxt/inference.py
Due: enforce-relative-imports

Test tool calling utils
  tests/library/test_tool_calling.py
Due: enforce-library-imports

Add tests tool calling metric
  tests/library/test_metrics.py
Due: enforce-library-imports

Update bfcl with dataset description
  prepare/cards/bfcl.py
  src/unitxt/catalog/cards/bfcl/simple_v3.json
Due: enforce-library-imports

Add title to Berkeley Function Calling Leaderboard description
  prepare/cards/bfcl.py
Due: enforce-library-imports

Add comprehensive tutorial on tool calling with Unitxt and Berkeley Function Calling Leaderboard dataset
  docs/docs/tool_calling.rst
  docs/docs/tutorials.rst
Due: none

Update title for Berkeley Function Calling Leaderboard - Simple V3
  src/unitxt/catalog/cards/bfcl/simple_v3.json
Due: none

Add tool calling support + Berekley Tool Calling Benchmark (simple-v3) (#1764)
  docs/docs/tool_calling.rst
  docs/docs/tutorials.rst
  examples/evaluate_tool_calling.py
  prepare/cards/bfcl.py
  prepare/metrics/tool_calling.py
  prepare/processors/tool_calling.py
  prepare/tasks/tool_calling/tasks.py
  prepare/templates/tool_calling/templates.py
  pyproject.toml
  src/unitxt/catalog/cards/bfcl/simple_v3.json
  src/unitxt/catalog/metrics/tool_calling.json
  src/unitxt/catalog/processors/load_json_or_empty_tool_call.json
  src/unitxt/catalog/tasks/tool_calling/supervised.json
  src/unitxt/catalog/templates/tool_calling/base.json
  src/unitxt/collections_operators.py
  src/unitxt/dataset.py
  src/unitxt/inference.py
  src/unitxt/metric.py
  src/unitxt/metrics.py
  src/unitxt/operators.py
  src/unitxt/schema.py
  src/unitxt/serializers.py
  src/unitxt/templates.py
  src/unitxt/tool_calling.py
  src/unitxt/type_utils.py
  src/unitxt/types.py
  tests/library/test_metrics.py
  tests/library/test_tool_calling.py
  tests/library/test_type_utils.py
Due: enforce-relative-imports, enforce-library-imports

Remove the rename from test to train (#1759)
  prepare/cards/rag/end_to_end/watsonx.py
  src/unitxt/catalog/cards/rag/documents/watsonxqa/en.json
Due: enforce-library-imports

Update opg image
  docs/static/opg_image.png
Due: none

updates
  ccc_worker_server.py
Due: enforce-library-imports

a handy replacement for the gone HF 'lmsys/arena-hard-browser'
  prepare/cards/arena_hard/generation/english_gpt-4-0314_reference.py
  src/unitxt/catalog/cards/arena_hard/generation/english_gpt_4_0314_reference.json
Due: enforce-library-imports
