Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

Fix typos and wrong model names
  src/unitxt/catalog/metrics/llm_as_judge/direct/aws/llama4_maverick.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/aws/llama4_scout.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/azure_openai/llama4_maverick.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/azure_openai/llama4_scout.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/replicate/llama4_maverick.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/replicate/llama4_scout.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/rits/llama4_maverick.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/rits/llama4_scout.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/together_ai/llama4_maverick.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/together_ai/llama4_scout.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/aws/llama4_maverick.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/aws/llama4_scout.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/azure_openai/llama4_maverick.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/azure_openai/llama4_scout.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/replicate/llama4_maverick.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/replicate/llama4_scout.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/rits/llama4_maverick.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/rits/llama4_scout.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/together_ai/llama4_maverick.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/together_ai/llama4_scout.json
  src/unitxt/inference.py
Due: enforce-relative-imports

Fix model name (#1809)
  src/unitxt/catalog/metrics/llm_as_judge/direct/aws/llama4_maverick.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/aws/llama4_scout.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/azure_openai/llama4_maverick.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/azure_openai/llama4_scout.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/replicate/llama4_maverick.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/replicate/llama4_scout.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/rits/llama4_maverick.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/rits/llama4_scout.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/together_ai/llama4_maverick.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/together_ai/llama4_scout.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/aws/llama4_maverick.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/aws/llama4_scout.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/azure_openai/llama4_maverick.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/azure_openai/llama4_scout.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/replicate/llama4_maverick.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/replicate/llama4_scout.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/rits/llama4_maverick.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/rits/llama4_scout.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/together_ai/llama4_maverick.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/together_ai/llama4_scout.json
  src/unitxt/inference.py
  src/unitxt/llm_as_judge_constants.py
Due: enforce-relative-imports

adding page ids to the rag e2e task
  prepare/tasks/rag/rag_end_to_end.py
Due: enforce-library-imports

improve parsing
  src/unitxt/processors.py
Due: enforce-relative-imports

Add criteria to the task data
  prepare/cards/judge_bench/cola.py
  prepare/cards/judge_bench/dices.py
  prepare/cards/judge_bench/inferential_strategies.py
  prepare/cards/judge_bench/newsroom_coherence.py
  prepare/cards/judge_bench/newsroom_fluency.py
  prepare/cards/judge_bench/newsroom_informativeness.py
  prepare/cards/judge_bench/newsroom_revelance.py
  prepare/cards/judge_bench/roscoe_cosmos_overall_coherency.py
  prepare/cards/judge_bench/roscoe_cosmos_overall_contradiction.py
  prepare/cards/judge_bench/roscoe_cosmos_overall_missing_steps.py
  prepare/cards/judge_bench/roscoe_cosmos_overall_overall_quality.py
  prepare/cards/judge_bench/toxic_chat_jailbreak.py
  prepare/cards/judge_bench/toxic_chat_toxicity.py
Due: enforce-library-imports

Add criteria for benchmark
  src/unitxt/llm_as_judge_constants.py
Due: enforce-relative-imports

Add more judge bench datasets
  prepare/cards/judge_bench/cola.py
  prepare/cards/judge_bench/dices.py
  prepare/cards/judge_bench/inferential_strategies.py
  prepare/cards/judge_bench/newsroom_coherence.py
  prepare/cards/judge_bench/newsroom_fluency.py
  prepare/cards/judge_bench/newsroom_informativeness.py
  prepare/cards/judge_bench/newsroom_revelance.py
  prepare/cards/judge_bench/roscoe_cosmos_overall_coherency.py
  prepare/cards/judge_bench/roscoe_cosmos_overall_contradiction.py
  prepare/cards/judge_bench/roscoe_cosmos_overall_missing_steps.py
  prepare/cards/judge_bench/roscoe_cosmos_overall_overall_quality.py
  prepare/cards/judge_bench/toxic_chat_jailbreak.py
  src/unitxt/catalog/cards/judge_bench/cola/grammaticality.json
  src/unitxt/catalog/cards/judge_bench/dices/safety.json
  src/unitxt/catalog/cards/judge_bench/inferential_strategies/sound_reasoning.json
  src/unitxt/catalog/cards/judge_bench/newswoom/coherence.json
  src/unitxt/catalog/cards/judge_bench/newswoom/fluency.json
  src/unitxt/catalog/cards/judge_bench/newswoom/informativeness.json
  src/unitxt/catalog/cards/judge_bench/newswoom/relevance.json
  src/unitxt/catalog/cards/judge_bench/roscoe/cosmos/overall/coherence.json
  src/unitxt/catalog/cards/judge_bench/roscoe/cosmos/overall/overall_quality.json
  src/unitxt/catalog/cards/judge_bench/toxic_chat/jailbreaking.json
  src/unitxt/catalog/cards/judge_bench/toxic_chat/toxicity.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/criteria/logical_validity_of_reasoning.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/criteria/step_by_step_reasoning_coherency.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/criteria/step_by_step_reasoning_contradiction.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/criteria/step_by_step_reasoning_missing_steps.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/criteria/step_by_step_reasoning_overall_quality.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/criteria/summarization_coherence.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/criteria/summarization_fluency.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/criteria/summarization_informativeness.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/criteria/summarization_relevance.json
Due: enforce-library-imports

Update catalog cards with criteria
  prepare/cards/judge_bench/dices.py
  src/unitxt/catalog/cards/judge_bench/cola/grammaticality.json
  src/unitxt/catalog/cards/judge_bench/dices/safety.json
  src/unitxt/catalog/cards/judge_bench/inferential_strategies/sound_reasoning.json
  src/unitxt/catalog/cards/judge_bench/newswoom/coherence.json
  src/unitxt/catalog/cards/judge_bench/newswoom/fluency.json
  src/unitxt/catalog/cards/judge_bench/newswoom/informativeness.json
  src/unitxt/catalog/cards/judge_bench/newswoom/relevance.json
  src/unitxt/catalog/cards/judge_bench/roscoe/cosmos/overall/coherence.json
  src/unitxt/catalog/cards/judge_bench/roscoe/cosmos/overall/overall_quality.json
  src/unitxt/catalog/cards/judge_bench/toxic_chat/jailbreaking.json
  src/unitxt/catalog/cards/judge_bench/toxic_chat/toxicity.json
Due: enforce-library-imports

watsonx.ai mistral small support
  prepare/engines/classification/classification_engines.py
  prepare/metrics/llm_as_judge/rag_judge.py
  src/unitxt/catalog/engines/classification/mistral_small_3_1_24b_instruct_2503_wml.json
Due: enforce-library-imports

generated metrics
  src/unitxt/catalog/metrics/rag/end_to_end/answer_correctness/mistral_small_3_1_24b_instruct_2503_wml_judge.json
  src/unitxt/catalog/metrics/rag/end_to_end/answer_relevance/mistral_small_3_1_24b_instruct_2503_wml_judge.json
  src/unitxt/catalog/metrics/rag/end_to_end/context_relevance/mistral_small_3_1_24b_instruct_2503_wml_judge.json
  src/unitxt/catalog/metrics/rag/end_to_end/faithfulness/mistral_small_3_1_24b_instruct_2503_wml_judge.json
  src/unitxt/catalog/metrics/rag/external_rag/answer_correctness/mistral_small_3_1_24b_instruct_2503_wml_judge.json
  src/unitxt/catalog/metrics/rag/external_rag/answer_relevance/mistral_small_3_1_24b_instruct_2503_wml_judge.json
  src/unitxt/catalog/metrics/rag/external_rag/context_relevance/mistral_small_3_1_24b_instruct_2503_wml_judge.json
  src/unitxt/catalog/metrics/rag/external_rag/faithfulness/mistral_small_3_1_24b_instruct_2503_wml_judge.json
  src/unitxt/catalog/metrics/rag/response_generation/answer_correctness/mistral_small_3_1_24b_instruct_2503_wml_judge.json
  src/unitxt/catalog/metrics/rag/response_generation/answer_relevance/mistral_small_3_1_24b_instruct_2503_wml_judge.json
  src/unitxt/catalog/metrics/rag/response_generation/faithfulness/mistral_small_3_1_24b_instruct_2503_wml_judge.json
Due: none

watsonx.ai mistral small support (#1810)
  prepare/engines/classification/classification_engines.py
  prepare/metrics/llm_as_judge/rag_judge.py
  src/unitxt/catalog/engines/classification/mistral_small_3_1_24b_instruct_2503_wml.json
  src/unitxt/catalog/metrics/rag/end_to_end/answer_correctness/mistral_small_3_1_24b_instruct_2503_wml_judge.json
  src/unitxt/catalog/metrics/rag/end_to_end/answer_relevance/mistral_small_3_1_24b_instruct_2503_wml_judge.json
  src/unitxt/catalog/metrics/rag/end_to_end/context_relevance/mistral_small_3_1_24b_instruct_2503_wml_judge.json
  src/unitxt/catalog/metrics/rag/end_to_end/faithfulness/mistral_small_3_1_24b_instruct_2503_wml_judge.json
  src/unitxt/catalog/metrics/rag/external_rag/answer_correctness/mistral_small_3_1_24b_instruct_2503_wml_judge.json
  src/unitxt/catalog/metrics/rag/external_rag/answer_relevance/mistral_small_3_1_24b_instruct_2503_wml_judge.json
  src/unitxt/catalog/metrics/rag/external_rag/context_relevance/mistral_small_3_1_24b_instruct_2503_wml_judge.json
  src/unitxt/catalog/metrics/rag/external_rag/faithfulness/mistral_small_3_1_24b_instruct_2503_wml_judge.json
  src/unitxt/catalog/metrics/rag/response_generation/answer_correctness/mistral_small_3_1_24b_instruct_2503_wml_judge.json
  src/unitxt/catalog/metrics/rag/response_generation/answer_relevance/mistral_small_3_1_24b_instruct_2503_wml_judge.json
  src/unitxt/catalog/metrics/rag/response_generation/faithfulness/mistral_small_3_1_24b_instruct_2503_wml_judge.json
Due: enforce-library-imports

Fix: number of batches calculation is incorrect (#1805)
  src/unitxt/inference.py
Due: enforce-relative-imports

Fix Arena Hard template to use latest llama judge model (used in Bluebench)
  prepare/metrics/llm_as_judge/pairwise_rating/llama_3_arena_hard_template.py
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_70b_instruct/template_arena_hard.json
Due: enforce-library-imports

Add multi turn tool calling task and tools
  examples/evaluate_tool_calling_bfcl.py
  examples/evaluate_tool_calling_multi_turn.py
  examples/evaluate_torr.py
  prepare/cards/bfcl.py
  prepare/metrics/tool_calling.py
  prepare/processors/tool_calling.py
  prepare/tasks/tool_calling/tasks.py
  prepare/templates/tool_calling/templates.py
  src/unitxt/catalog/cards/bfcl/multi_turn/simple_v3.json
  src/unitxt/catalog/metrics/tool_calling/multi_turn/validity.json
  src/unitxt/catalog/processors/multi_tool_call.json
  src/unitxt/catalog/tasks/tool_calling/multi_turn.json
  src/unitxt/catalog/templates/tool_calling/multi_turn.json
  src/unitxt/formats.py
  src/unitxt/metrics.py
  src/unitxt/struct_data_operators.py
  src/unitxt/templates.py
Due: enforce-relative-imports, enforce-library-imports

remove unrelated changes
  examples/evaluate_torr.py
Due: enforce-library-imports

Fix example dependencies installation
  .github/workflows/examples_tests.yml
Due: none

load a dataset
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

add devstral engine
  src/unitxt/inference.py
Due: enforce-relative-imports

support setting an external_client in WMLInferenceEngineBase
  src/unitxt/inference.py
Due: enforce-relative-imports

add test with external client
  tests/inference/test_inference_engine.py
Due: enforce-library-imports

Fix example dependencies installation (#1812)
  .github/workflows/examples_tests.yml
Due: none

Added param to control of confidence interval calculation in evaluate api.
  src/unitxt/api.py
  tests/library/test_api.py
Due: enforce-relative-imports, enforce-library-imports

Do not load metrics from cache - because confidence interval change state.
  src/unitxt/operators.py
Due: enforce-relative-imports

Made confidence_interval_calculation and explicit flag.
  src/unitxt/base_metric.py
  src/unitxt/eval_utils.py
  src/unitxt/metrics.py
  src/unitxt/operators.py
  src/unitxt/service/metrics/main.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

Update src/unitxt/metrics.py
  src/unitxt/metrics.py
Due: enforce-relative-imports

Fixed test
  tests/library/test_artifact.py
Due: enforce-library-imports

Improved logger
  src/unitxt/utils.py
Due: enforce-relative-imports

Refactor JaccardIndex and StringContainment metrics to use ReductionInstanceMetric
  src/unitxt/metrics.py
Due: enforce-relative-imports

Renamed method.
  src/unitxt/base_metric.py
  src/unitxt/eval_utils.py
  src/unitxt/metrics.py
  src/unitxt/operators.py
  tests/library/test_artifact.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

remove external client before dump
  src/unitxt/inference.py
Due: enforce-relative-imports

use WML_PROJECT_ID in test instead of WML_SPACE_ID
  tests/inference/test_inference_engine.py
Due: enforce-library-imports

Update version to 1.23.1
  src/unitxt/version.py
Due: enforce-relative-imports

Update version to 1.23.1 (#1818)
  src/unitxt/version.py
Due: enforce-relative-imports

extend some the code coverage of unitxt.api, unitxt.text_utils, and unitxt.normalizers
  src/unitxt/text_utils.py
  tests/library/test_api.py
  tests/library/test_operators.py
  tests/library/test_text_utils.py
Due: enforce-relative-imports, enforce-library-imports

Revert "Renamed method."
  src/unitxt/base_metric.py
  src/unitxt/eval_utils.py
  src/unitxt/metrics.py
  src/unitxt/operators.py
  tests/library/test_artifact.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

External client for wml infer engine (#1817)
  src/unitxt/inference.py
  tests/inference/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

Renamed member confidence_interval_calculation to return_confidence_interval
  src/unitxt/base_metric.py
  src/unitxt/eval_utils.py
  src/unitxt/metrics.py
  tests/library/test_artifact.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

Improved JoinStream error messages
  src/unitxt/stream_operators.py
  tests/library/test_operators.py
Due: enforce-relative-imports, enforce-library-imports

Add JaccardIndexWords metric and corresponding tests
  prepare/metrics/jaccard_index.py
  src/unitxt/catalog/metrics/jaccard_index_words.json
  src/unitxt/metrics.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils|unitxt/assistant/.*)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
