Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]
        exclude: src/unitxt/metrics.py
      # Run the linter on the specific file with the ignore flag
      - id: ruff
        name: ruff (src/unitxt/metrics.py)
        files: src/unitxt/metrics.py
        args: [--fix, --ignore, C901]
      # Run the formatter
      - id: ruff-format

  - repo: https://github.com/ibm/detect-secrets
    # If you desire to use a specific version of detect-secrets, you can replace `master` with other git revisions such as branch, tag or commit sha.
    # You are encouraged to use static refs such as tags, instead of branch name
    #
    # Running "pre-commit autoupdate" automatically updates rev to latest tag
    rev: 0.13.1+ibm.61.dss
    hooks:
      - id: detect-secrets # pragma: whitelist secret
        # Add options for detect-secrets-hook binary. You can run `detect-secrets-hook --help` to list out all possible options.
        # You may also run `pre-commit run detect-secrets` to preview the scan result.
        # when "--baseline" without "--use-all-plugins", pre-commit scan with just plugins in baseline file
        # when "--baseline" with "--use-all-plugins", pre-commit scan with all available plugins
        # add "--fail-on-unaudited" to fail pre-commit for unaudited potential secrets
        args: [--baseline, .secrets.baseline, --use-all-plugins, --fail-on-unaudited]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

Fixed catalog
  prepare/cards/xsum.py
  src/unitxt/catalog/cards/xsum.json
Due: enforce-library-imports

Fix tests and make example more comprehensive
  examples/evaluate_different_templates_num_demos.py
  src/unitxt/schema.py
  src/unitxt/standard.py
  tests/library/test_api.py
  tests/library/test_recipe.py
Due: enforce-relative-imports, enforce-library-imports

Add explicit tests
  tests/library/test_recipe.py
Due: enforce-library-imports

Update nltk's punkt to its new name punkt_tab
  src/unitxt/metrics.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

add contexts to rag_eval correctness input Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/tasks/rag_eval.py
  src/unitxt/catalog/tasks/rag_eval/correctness/binary.json
  src/unitxt/catalog/tasks/rag_eval/correctness/non_binary.json
Due: enforce-library-imports

Update nltk's punkt to its new name punkt_tab (#1129)
  src/unitxt/metrics.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

add rag_eval binary judge metrics Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/rag_eval_judges.py
  src/unitxt/catalog/metrics/rag/answer_relevance_q_a_judge_gpt_4o_mini.json
  src/unitxt/catalog/metrics/rag/answer_relevance_q_a_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/answer_relevance_q_a_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/context_relevance_q_c_judge_gpt_4o_mini.json
  src/unitxt/catalog/metrics/rag/context_relevance_q_c_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/context_relevance_q_c_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/correctness_holistic_q_c_a_judge_gpt_4o_mini.json
  src/unitxt/catalog/metrics/rag/correctness_holistic_q_c_a_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/correctness_holistic_q_c_a_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/correctness_q_a_gt_judge_gpt_4o_mini.json
  src/unitxt/catalog/metrics/rag/correctness_q_a_gt_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/correctness_q_a_gt_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/correctness_q_c_a_gt_judge_gpt_4o_mini.json
  src/unitxt/catalog/metrics/rag/correctness_q_c_a_gt_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/correctness_q_c_a_gt_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/faithfulness_c_a_judge_gpt_4o_mini.json
  src/unitxt/catalog/metrics/rag/faithfulness_c_a_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/faithfulness_c_a_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/faithfulness_q_c_a_judge_gpt_4o_mini.json
  src/unitxt/catalog/metrics/rag/faithfulness_q_c_a_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/faithfulness_q_c_a_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/rag_metrics/__init__.py
  src/unitxt/rag_metrics/binary_judge_metric.py
  src/unitxt/rag_metrics/rag_metrics_utils.py
  src/unitxt/rag_metrics/task_based_judge_metric.py
Due: enforce-relative-imports, enforce-library-imports

adjust digit format
  utils/adjust_digit_output_format.py
Due: enforce-library-imports

fix import Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/rag_metrics/task_based_judge_metric.py
Due: enforce-relative-imports

Add ability to produce scores of groups based on task attributes and recipe metadata
  src/unitxt/schema.py
  src/unitxt/standard.py
Due: enforce-relative-imports

Change default to 0
  src/unitxt/standard.py
Due: enforce-relative-imports

Minor fix
  src/unitxt/standard.py
Due: enforce-relative-imports

Add option to run multiple templates or num_demos in recipes (#1110)
  docs/docs/evaluating_datasets.rst
  docs/docs/examples.rst
  docs/docs/loading_datasets.rst
  examples/evaluate_different_templates_num_demos.py
  src/unitxt/blocks.py
  src/unitxt/collections_operators.py
  src/unitxt/schema.py
  src/unitxt/splitters.py
  src/unitxt/standard.py
  src/unitxt/templates.py
  tests/library/test_api.py
  tests/library/test_format_and_template_interaction.py
  tests/library/test_operators.py
  tests/library/test_recipe.py
  tests/library/test_splitters.py
  tests/library/test_templates.py
Due: enforce-relative-imports, enforce-library-imports

add ArmoRM metric Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/rag_eval_ArmoRM.py
  src/unitxt/rag_metrics/armorm_judge_metric.py
Due: enforce-relative-imports, enforce-library-imports

fix model name Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/rag_metrics/armorm_judge_metric.py
Due: enforce-relative-imports

move rag context correctness metrics tests to test_metrics.py
  prepare/metrics/rag_answer_correctness.py
  tests/library/test_metrics.py
Due: enforce-library-imports

Updated TLDR
  prepare/cards/tldr.py
  src/unitxt/catalog/cards/tldr.json
  src/unitxt/catalog/cards/tldr_document_filtered_to_10000_chars.json
  src/unitxt/catalog/cards/tldr_document_filtered_to_6000_chars.json
Due: enforce-library-imports

move metrics Signed-off-by: lilacheden <lilach.edel@gmail.com>
  .secrets.baseline
  prepare/metrics/rag_eval_ArmoRM.py
  prepare/metrics/rag_eval_judges.py
  src/unitxt/catalog/metrics/rag/binary_judges/answer_relevance_q_a_ArmoRM.json
  src/unitxt/catalog/metrics/rag/binary_judges/answer_relevance_q_a_judge_gpt_4o_mini.json
  src/unitxt/catalog/metrics/rag/binary_judges/answer_relevance_q_a_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/answer_relevance_q_a_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/binary_judges/context_relevance_q_c_judge_gpt_4o_mini.json
  src/unitxt/catalog/metrics/rag/binary_judges/context_relevance_q_c_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/context_relevance_q_c_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_holistic_q_c_a_ArmoRM.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_holistic_q_c_a_judge_gpt_4o_mini.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_holistic_q_c_a_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_holistic_q_c_a_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_q_a_gt_judge_gpt_4o_mini.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_q_a_gt_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_q_a_gt_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_q_c_a_gt_judge_gpt_4o_mini.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_q_c_a_gt_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_q_c_a_gt_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/binary_judges/faithfulness_c_a_judge_gpt_4o_mini.json
  src/unitxt/catalog/metrics/rag/binary_judges/faithfulness_c_a_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/faithfulness_c_a_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/binary_judges/faithfulness_q_c_a_judge_gpt_4o_mini.json
  src/unitxt/catalog/metrics/rag/binary_judges/faithfulness_q_c_a_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/faithfulness_q_c_a_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/metrics.py
  src/unitxt/rag_metrics/__init__.py
  src/unitxt/rag_metrics/armorm_judge_metric.py
  src/unitxt/rag_metrics/binary_judge_metric.py
  src/unitxt/rag_metrics/rag_metrics_utils.py
  src/unitxt/rag_metrics/task_based_judge_metric.py
Due: enforce-relative-imports, enforce-library-imports

replace gpt-4o-mini with gpt-4-turbo Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/rag_eval_judges.py
  src/unitxt/catalog/metrics/rag/binary_judges/answer_relevance_q_a_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/binary_judges/answer_relevance_q_a_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/answer_relevance_q_a_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/binary_judges/context_relevance_q_c_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/binary_judges/context_relevance_q_c_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/context_relevance_q_c_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_holistic_q_c_a_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_holistic_q_c_a_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_holistic_q_c_a_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_q_a_gt_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_q_a_gt_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_q_a_gt_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_q_c_a_gt_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_q_c_a_gt_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_q_c_a_gt_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/binary_judges/faithfulness_c_a_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/binary_judges/faithfulness_c_a_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/faithfulness_c_a_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/binary_judges/faithfulness_q_c_a_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/binary_judges/faithfulness_q_c_a_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/faithfulness_q_c_a_judge_mixtral_8x7b_instruct_v01.json
Due: enforce-library-imports

minor changes
  prepare/cards/scigen.py
  src/unitxt/blocks.py
  src/unitxt/catalog/cards/scigen.json
  src/unitxt/struct_data_operators.py
Due: enforce-relative-imports, enforce-library-imports

deleted unwanted new judge task definition for table2text
  prepare/tasks/response_assessment/rating/table2text_single_turn_with_reference.py
Due: enforce-library-imports

deleted unwanted new judge task definition for table2text from catalog
  src/unitxt/catalog/tasks/response_assessment/rating/table2text_single_turn_with_reference.json
Due: none

fixed out of date catalog json file for table2text llm_as_judge metric
  src/unitxt/catalog/metrics/llm_as_judge/rating/llama_3_70b_instruct_ibm_genai_template_table2text_single_turn_with_reference.json
Due: none

fix import Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/metrics.py
Due: enforce-relative-imports

fix ArmoRM gpu support Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/metrics.py
Due: enforce-relative-imports

evaluate with argsparser
  prepare/engines/model/ilab.py
  utils/adjust_digit_output_format.py
  utils/create_ilab_skill_yaml.py
Due: enforce-library-imports

Shorted runtime of demo examples
  examples/evaluate_different_demo_selections.py
Due: enforce-library-imports

Reduced runtime of llm_as_judge example
  examples/evaluate_summarization_dataset_llm_as_judge.py
Due: enforce-library-imports

Reduced runtime of format example
  examples/evaluate_different_formats.py
Due: enforce-library-imports

Removed 'StandardRecipe' from main docu
  docs/docs/adding_dataset.rst
  docs/docs/saving_and_loading_from_catalog.rst
Due: none

Added example of inference with native Unitxt APIs
  docs/docs/examples.rst
  examples/evaluate_existing_dataset_with_install.py
Due: enforce-library-imports

Added instructions for additional inference engines
  examples/standalone_qa_evaluation.py
Due: enforce-library-imports

Removed unitxt prinout from examples
  .pre-commit-config.yaml
  docs/docs/examples.rst
  examples/evaluate_existing_dataset_no_install.py
Due: enforce-library-imports

Made example test fully run when GENAI key is available
  tests/library/test_examples.py
Due: enforce-library-imports

Update CONTRIBUTING.md --- compatibility with different environments
  CONTRIBUTING.md
Due: none

Update CONTRIBUTING.md - support for other environments
  CONTRIBUTING.md
Due: none

Update CONTRIBUTING.md - put bin back in first option
  CONTRIBUTING.md
Due: none

add finqa template to catalog
  prepare/cards/fin_qa.py
Due: enforce-library-imports
