Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [--baseline, utils/.secrets.baseline]
        exclude: utils/.secrets.baseline

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils|unitxt/assistant/.*)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

fix: Update mtrag catalog JSON with new URL
  src/unitxt/catalog/cards/rag/mtrag.json
Due: none

fix: Re-enable test_card for numeric_nlg, coqa, and ffqa_filtered
  prepare/cards/coqa.py
  prepare/cards/ffqa_filtered.py
  prepare/cards/numeric_nlg.py
Due: enforce-library-imports

fix: CI compatibility fixes (HF_TOKEN, arena-hard migration, datasets 4.8.5) (#1966)
  .github/workflows/catalog_preparation.yml
  prepare/cards/arena_hard/common.py
  prepare/cards/arena_hard/response_assessment/pairwise_comparative_rating/both_games_gpt4_judge.py
  prepare/cards/arena_hard/response_assessment/pairwise_comparative_rating/both_games_mean_judgment_gpt4_judge.py
  prepare/cards/arena_hard/response_assessment/pairwise_comparative_rating/first_game_only_gpt4_judge.py
  prepare/cards/mtrag.py
  src/unitxt/api.py
  src/unitxt/catalog/cards/arena_hard/response_assessment/pairwise_comparative_rating/both_games_gpt_4_judge.json
  src/unitxt/catalog/cards/arena_hard/response_assessment/pairwise_comparative_rating/both_games_mean_judgment_gpt4_judge.json
  src/unitxt/catalog/cards/arena_hard/response_assessment/pairwise_comparative_rating/first_game_only_gpt_4_judge.json
  src/unitxt/catalog/cards/rag/mtrag.json
  src/unitxt/catalog/operators/arena_hard_hf_space_processing_steps.json
  src/unitxt/dataset.py
  src/unitxt/metrics.py
  tests/catalog/test_preparation.py
  tests/library/test_artifact.py
  tests/library/test_operators.py
  tests/library/test_unified_warnings_decorator.py
Due: enforce-relative-imports, enforce-library-imports

fix: upgrade vulnerable dependencies in TORR benchmark requirements
  prepare/benchmarks/torr/requirements.txt
Due: none

fix: Update inference tests for WatsonX model deprecations and API changes
  src/unitxt/inference.py
  tests/inference/test_inference_engine.py
  tests/inference/test_inference_metrics.py
  tests/library/test_metric_service.py
Due: enforce-relative-imports, enforce-library-imports

fix: upgrade vulnerable dependencies in TORR benchmark requirements (#1968)
  prepare/benchmarks/torr/requirements.txt
Due: none

fix: Update inference tests for WatsonX model deprecations and API changes (#1969)
  src/unitxt/inference.py
  tests/inference/test_inference_engine.py
  tests/inference/test_inference_metrics.py
  tests/library/test_metric_service.py
Due: enforce-relative-imports, enforce-library-imports

Security: Fix CWE-95 (Eval Injection) in _get_torch_dtype() (#1964)
  src/unitxt/inference.py
  tests/inference/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

Update version to 1.26.10
  src/unitxt/version.py
Due: enforce-relative-imports

fix: Use namespaced HF dataset paths for huggingface_hub >= 1.16 compatibility
  prepare/cards/arc.py
  prepare/cards/billsum.py
  prepare/cards/clinc_oos.py
  prepare/cards/cnn_dailymail.py
  prepare/cards/copa.py
  prepare/cards/dbpedia_14.py
  prepare/cards/ethos.py
  prepare/cards/go_emotions.py
  prepare/cards/hellaswag.py
  prepare/cards/human_eval.py
  prepare/cards/ledgar.py
  prepare/cards/mbpp.py
  prepare/cards/mlsum.py
  prepare/cards/openbookqa.py
  prepare/cards/piqa.py
  prepare/cards/race.py
  prepare/cards/sciq.py
  prepare/cards/squad.py
  prepare/cards/translation/wmt/en_de.py
  prepare/cards/translation/wmt/en_fr.py
  prepare/cards/translation/wmt/en_ro.py
  prepare/cards/trec.py
  prepare/cards/unfair_tos.py
  prepare/cards/wsc.py
  prepare/cards/xnli.py
  prepare/cards/yahoo_answers_topics.py
  src/unitxt/catalog/cards/hellaswag.json
  tests/library/test_api.py
  tests/library/test_card.py
  tests/library/test_loaders.py
Due: enforce-library-imports

fix: Replace evaluate library with direct sklearn calls in F1MultiLabel
  src/unitxt/catalog/cards/unfair_tos.json
  src/unitxt/metrics.py
Due: enforce-relative-imports

fix: Numpy 2.0 and pandas 3.0 compatibility fixes
  prepare/cards/wiki_bio.py
  src/unitxt/metrics.py
  src/unitxt/text2sql_utils.py
Due: enforce-relative-imports, enforce-library-imports

fix: Regenerate wiki_bio catalog JSON with namespaced HF path
  src/unitxt/catalog/cards/wiki_bio.json
Due: none

fix: Use namespaced HF path for winogrande (allenai/winogrande)
  prepare/cards/winogrande.py
  src/unitxt/catalog/cards/winogrande/debiased.json
  src/unitxt/catalog/cards/winogrande/l.json
  src/unitxt/catalog/cards/winogrande/m.json
  src/unitxt/catalog/cards/winogrande/s.json
  src/unitxt/catalog/cards/winogrande/xl.json
  src/unitxt/catalog/cards/winogrande/xs.json
Due: enforce-library-imports

Update version to 1.26.10 (#1970)
  src/unitxt/version.py
Due: enforce-relative-imports

Fix TokenOverlap crash when references list is empty
  src/unitxt/metrics.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

fix: support deferred class annotations on Python 3.14
  src/unitxt/dataclass.py
  tests/library/test_dataclass.py
Due: enforce-relative-imports, enforce-library-imports

fix: upgrade vulnerable deps in TORR benchmark requirements
  prepare/benchmarks/torr/requirements.txt
Due: none

fix: Run LiteLLM/WML async inference without relying on an implicit event loop
  src/unitxt/inference.py
  tests/library/test_inference_utils.py
Due: enforce-relative-imports, enforce-library-imports

fix: Raise a clear error when HFSystemFormat's tokenizer has no chat template
  src/unitxt/formats.py
  tests/library/test_formats.py
Due: enforce-relative-imports, enforce-library-imports

Security: Fix CodeQL alerts for ReDoS, path injection, workflow permissions
  .github/workflows/catalog_consistency.yml
  .github/workflows/catalog_preparation.yml
  .github/workflows/docs.yml
  .github/workflows/examples_tests.yml
  .github/workflows/hub.yml
  .github/workflows/inference_tests.yml
  .github/workflows/library_eager_execution_tests.yml
  .github/workflows/library_tests.yml
  .github/workflows/performance.yml
  .github/workflows/quality.yml
  .github/workflows/test_helm.yml
  src/unitxt/evaluate_cli.py
  src/unitxt/text_utils.py
  tests/library/test_cli.py
  tests/library/test_text_utils.py
Due: enforce-relative-imports, enforce-library-imports

CI: Fix failures caused by upstream environment drift
  .github/workflows/catalog_preparation.yml
  .github/workflows/test_helm.yml
  prepare/cards/CFPB_product.py
  tests/catalog/test_preparation.py
  tests/inference/test_inference_engine.py
Due: enforce-library-imports

Fix helm: make as_dataset() work across datasets versions
  .github/workflows/test_helm.yml
  src/unitxt/dataset.py
Due: none

Security: Fix CodeQL alerts for ReDoS, path injection, and workflow permissions (#1984)
  .github/workflows/catalog_consistency.yml
  .github/workflows/catalog_preparation.yml
  .github/workflows/docs.yml
  .github/workflows/examples_tests.yml
  .github/workflows/hub.yml
  .github/workflows/inference_tests.yml
  .github/workflows/library_eager_execution_tests.yml
  .github/workflows/library_tests.yml
  .github/workflows/performance.yml
  .github/workflows/quality.yml
  .github/workflows/test_helm.yml
  prepare/cards/CFPB_product.py
  src/unitxt/dataset.py
  src/unitxt/evaluate_cli.py
  src/unitxt/text_utils.py
  tests/catalog/test_preparation.py
  tests/inference/test_inference_engine.py
  tests/library/test_cli.py
  tests/library/test_text_utils.py
Due: enforce-relative-imports, enforce-library-imports

fix: upgrade vulnerable dependencies in TORR benchmark requirements (#1979)
  prepare/benchmarks/torr/requirements.txt
Due: none

CI: Don't fail fork and Dependabot runs on unavailable secrets
  .github/actions/install-internal-pip/action.yml
  .github/workflows/examples_tests.yml
  .github/workflows/inference_tests.yml
  .github/workflows/performance.yml
Due: none

CI: Don't fail fork and Dependabot runs on unavailable secrets (#1989)
  .github/actions/install-internal-pip/action.yml
  .github/workflows/examples_tests.yml
  .github/workflows/inference_tests.yml
  .github/workflows/performance.yml
Due: none

test: Skip llmevalkit-based tool calling metric tests when llmevalkit is missing
  tests/library/test_metrics.py
Due: enforce-library-imports

fix: Raise a clear error when HFSystemFormat's tokenizer has no chat template (#1983)
  src/unitxt/formats.py
  tests/library/test_formats.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports
