Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [--baseline, utils/.secrets.baseline]
        exclude: utils/.secrets.baseline

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils|unitxt/assistant/.*)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

Fix mock id access
  src/unitxt/inference.py
Due: enforce-relative-imports

fix
  src/unitxt/inference.py
Due: enforce-relative-imports

Fix erroneous prompts in evaluation tasks (and clean some json-schema-wise) (#1920)
  prepare/cards/coedit.py
  prepare/cards/hh_rlhf.py
  prepare/cards/summarize_from_human_feedback.py
  prepare/tasks/evaluation.py
  prepare/templates/evaluation/preference.py
  src/unitxt/catalog/cards/coedit/preference.json
  src/unitxt/catalog/cards/hh_rlhf.json
  src/unitxt/catalog/cards/summarize_from_human_feedback.json
  src/unitxt/catalog/tasks/evaluation/preference.json
  src/unitxt/catalog/templates/evaluation/preference/default.json
Due: enforce-library-imports

cards.rag.documents.real_mm_rag_tech_report.en
  utils/prepare_all_artifacts.py
Due: enforce-library-imports

cards.rag.documents.real_mm_rag_tech_slides.en
  utils/prepare_all_artifacts.py
Due: enforce-library-imports

cards.seed_bench
  utils/prepare_all_artifacts.py
Due: enforce-library-imports

cards.turl_col_type
  utils/prepare_all_artifacts.py
Due: enforce-library-imports

cards.wikitq
  utils/prepare_all_artifacts.py
Due: enforce-library-imports

prepare all artifacts from prepare files
  .github/workflows/catalog_consistency.yml
  prepare/tasks/qa/tasks.py
  src/unitxt/artifact.py
  utils/check_catalog_consistency.py
  utils/prepare_all_artifacts.py
Due: enforce-relative-imports, enforce-library-imports

Fix example
  examples/evaluate_existing_dataset_by_llm_as_judge_direct.py
Due: enforce-library-imports

remove old lazy_load
  src/unitxt/inference.py
  src/unitxt/metrics.py
Due: enforce-relative-imports

fixed mmmu by necessary filters
  prepare/cards/mmmu.py
  src/unitxt/catalog/cards/mmmu/accounting.json
  src/unitxt/catalog/cards/mmmu/agriculture.json
  src/unitxt/catalog/cards/mmmu/architecture_and_engineering.json
  src/unitxt/catalog/cards/mmmu/art.json
  src/unitxt/catalog/cards/mmmu/art_theory.json
  src/unitxt/catalog/cards/mmmu/basic_medical_science.json
  src/unitxt/catalog/cards/mmmu/biology.json
  src/unitxt/catalog/cards/mmmu/chemistry.json
  src/unitxt/catalog/cards/mmmu/clinical_medicine.json
  src/unitxt/catalog/cards/mmmu/computer_science.json
  src/unitxt/catalog/cards/mmmu/design.json
  src/unitxt/catalog/cards/mmmu/diagnostics_and_laboratory_medicine.json
  src/unitxt/catalog/cards/mmmu/economics.json
  src/unitxt/catalog/cards/mmmu/electronics.json
  src/unitxt/catalog/cards/mmmu/energy_and_power.json
  src/unitxt/catalog/cards/mmmu/finance.json
  src/unitxt/catalog/cards/mmmu/geography.json
  src/unitxt/catalog/cards/mmmu/history.json
  src/unitxt/catalog/cards/mmmu/literature.json
  src/unitxt/catalog/cards/mmmu/manage.json
  src/unitxt/catalog/cards/mmmu/marketing.json
  src/unitxt/catalog/cards/mmmu/materials.json
  src/unitxt/catalog/cards/mmmu/math.json
  src/unitxt/catalog/cards/mmmu/mechanical_engineering.json
  src/unitxt/catalog/cards/mmmu/music.json
  src/unitxt/catalog/cards/mmmu/pharmacy.json
  src/unitxt/catalog/cards/mmmu/physics.json
  src/unitxt/catalog/cards/mmmu/psychology.json
  src/unitxt/catalog/cards/mmmu/public_health.json
  src/unitxt/catalog/cards/mmmu/sociology.json
Due: enforce-library-imports

cook options when empty rather than filter out
  prepare/cards/mmmu.py
  src/unitxt/catalog/cards/mmmu/accounting.json
  src/unitxt/catalog/cards/mmmu/agriculture.json
  src/unitxt/catalog/cards/mmmu/architecture_and_engineering.json
  src/unitxt/catalog/cards/mmmu/art.json
  src/unitxt/catalog/cards/mmmu/art_theory.json
  src/unitxt/catalog/cards/mmmu/basic_medical_science.json
  src/unitxt/catalog/cards/mmmu/biology.json
  src/unitxt/catalog/cards/mmmu/chemistry.json
  src/unitxt/catalog/cards/mmmu/clinical_medicine.json
  src/unitxt/catalog/cards/mmmu/computer_science.json
  src/unitxt/catalog/cards/mmmu/design.json
  src/unitxt/catalog/cards/mmmu/diagnostics_and_laboratory_medicine.json
  src/unitxt/catalog/cards/mmmu/economics.json
  src/unitxt/catalog/cards/mmmu/electronics.json
  src/unitxt/catalog/cards/mmmu/energy_and_power.json
  src/unitxt/catalog/cards/mmmu/finance.json
  src/unitxt/catalog/cards/mmmu/geography.json
  src/unitxt/catalog/cards/mmmu/history.json
  src/unitxt/catalog/cards/mmmu/literature.json
  src/unitxt/catalog/cards/mmmu/manage.json
  src/unitxt/catalog/cards/mmmu/marketing.json
  src/unitxt/catalog/cards/mmmu/materials.json
  src/unitxt/catalog/cards/mmmu/math.json
  src/unitxt/catalog/cards/mmmu/mechanical_engineering.json
  src/unitxt/catalog/cards/mmmu/music.json
  src/unitxt/catalog/cards/mmmu/pharmacy.json
  src/unitxt/catalog/cards/mmmu/physics.json
  src/unitxt/catalog/cards/mmmu/psychology.json
  src/unitxt/catalog/cards/mmmu/public_health.json
  src/unitxt/catalog/cards/mmmu/sociology.json
Due: enforce-library-imports

fix the 4 cards
  prepare/cards/global_mmlu.py
  src/unitxt/catalog/cards/global_mmlu/am/clinical_knowledge.json
  src/unitxt/catalog/cards/global_mmlu/am/college_medicine.json
  src/unitxt/catalog/cards/global_mmlu/ig/college_computer_science.json
  src/unitxt/catalog/cards/global_mmlu/vi/conceptual_physics.json
Due: enforce-library-imports

cast rather than filter. passes metrics
  prepare/cards/global_mmlu.py
  src/unitxt/catalog/cards/global_mmlu/am/clinical_knowledge.json
  src/unitxt/catalog/cards/global_mmlu/am/college_medicine.json
  src/unitxt/catalog/cards/global_mmlu/ig/college_computer_science.json
  src/unitxt/catalog/cards/global_mmlu/vi/conceptual_physics.json
Due: enforce-library-imports

Add ReflectionToolCallingMetric and update related metrics
  prepare/metrics/tool_calling.py
  src/unitxt/catalog/metrics/tool_calling/multi_turn/validity.json
  src/unitxt/catalog/metrics/tool_calling/reflection.json
  src/unitxt/metrics.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

Improved multi turn evaluation to be self contained and use LLM as judge
  examples/evaluate_multi_turn.py
  src/unitxt/metric_utils.py
Due: enforce-relative-imports, enforce-library-imports

Moved to normalized sacrebleu
  examples/evaluate_multi_turn.py
Due: enforce-library-imports

Changed to clear use of typing.
  examples/evaluate_multi_turn.py
Due: enforce-library-imports

Added link to multi tuen concersation in the main examples page
  docs/docs/examples.rst
Due: none

fix the only 4 erroneous global_mmlu cards that do not pass _source_to_dataset (#1916)
  prepare/cards/global_mmlu.py
  src/unitxt/catalog/cards/global_mmlu/am/clinical_knowledge.json
  src/unitxt/catalog/cards/global_mmlu/am/college_medicine.json
  src/unitxt/catalog/cards/global_mmlu/ig/college_computer_science.json
  src/unitxt/catalog/cards/global_mmlu/vi/conceptual_physics.json
Due: enforce-library-imports

Removed unused prints
  examples/evaluate_multi_turn.py
Due: enforce-library-imports

Allow using python functions instead of operators (e.g in pre-processing pipeline)
  docs/catalog.py
  docs/docs/adding_dataset.rst
  docs/docs/adding_operator.rst
  prepare/cards/xlam_function_calling.py
  src/unitxt/api.py
  src/unitxt/artifact.py
  src/unitxt/catalog.py
  src/unitxt/inference.py
  src/unitxt/llm_as_judge_from_template.py
  src/unitxt/operators.py
  src/unitxt/test_utils/artifact.py
  src/unitxt/test_utils/card.py
  src/unitxt/text_utils.py
  src/unitxt/utils.py
  tests/library/test_function_operators.py
Due: enforce-relative-imports, enforce-library-imports

fix no extra problematic subset here, leave for a separate PR
  prepare/cards/bfcl.py
  src/unitxt/catalog/cards/bfcl/multi_turn/java_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/javascript_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_parallel_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_parallel_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_simple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/parallel_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/parallel_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/simple_v3.json
Due: enforce-library-imports

revert to num-parallel = 8 in test_preparation
  .github/workflows/catalog_preparation.yml
Due: none

normalize to_dict of simple tyes, like re.DOTALL, and speed test_preparation
  .github/workflows/catalog_preparation.yml
  src/unitxt/dataclass.py
Due: enforce-relative-imports

combine the fix of jsonschema with that needed for bfcl
  prepare/cards/bfcl.py
  src/unitxt/catalog/cards/bfcl/multi_turn/java_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/javascript_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_irrelevance_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_parallel_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_parallel_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_relevance_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_simple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/parallel_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/parallel_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/simple_v3.json
  src/unitxt/catalog/cards/bfcl/simple_v3.json
  src/unitxt/operators.py
Due: enforce-relative-imports, enforce-library-imports

revert bfcl to main, will be fixed in another PR, revert changes to xlam -- were already comitted to main, and now live with the general schema fixer operator, so removed the one tailored for tools
  prepare/cards/bfcl.py
  prepare/cards/xlam_function_calling.py
  src/unitxt/catalog/cards/bfcl/multi_turn/java_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/javascript_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_irrelevance_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_parallel_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_parallel_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_relevance_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_simple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/parallel_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/parallel_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/simple_v3.json
  src/unitxt/catalog/cards/bfcl/simple_v3.json
  src/unitxt/catalog/cards/xlam_function_calling_60k.json
  src/unitxt/operators.py
Due: enforce-relative-imports, enforce-library-imports

format
  src/unitxt/api.py
Due: enforce-relative-imports

fixed jsonschema programatically, with python string operations. can now read through the whole recipe output
  prepare/cards/xlam_function_calling.py
  src/unitxt/catalog/cards/xlam_function_calling_60k.json
  src/unitxt/operators.py
Due: enforce-relative-imports, enforce-library-imports

last touches in bfcl, reviewing whole datasets
  docs/docs/adding_operator.rst
  prepare/cards/bfcl.py
  src/unitxt/catalog/cards/bfcl/multi_turn/java_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/javascript_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_parallel_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_parallel_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_simple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/parallel_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/parallel_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/simple_v3.json
  src/unitxt/operators.py
Due: enforce-relative-imports, enforce-library-imports

change to small ASR datasets
  examples/evaluate_speech_recognition.py
  examples/evaluate_speech_recognition_benchmark.py
  examples/evaluate_speech_translation_benchmark.py
  examples/evaluate_speech_translation_covost2.py
  examples/evaluate_speech_translation_fleurs.py
  prepare/benchmarks/speech_recognition_english.py
  prepare/benchmarks/speech_recognition_multilingual.py
  prepare/cards/esb/commonvoice.py
  prepare/cards/esb/earnings22.py
  prepare/cards/esb/gigaspeech.py
  prepare/cards/esb/librispeech.py
  prepare/cards/esb/spgispeech.py
  prepare/cards/esb/tedlium.py
  prepare/cards/esb/voxpopuli.py
  src/unitxt/catalog/benchmarks/speech_recognition.json
  src/unitxt/catalog/cards/esb/ami.json
  src/unitxt/catalog/cards/esb/commonvoice.json
  src/unitxt/catalog/cards/esb/earnings22.json
  src/unitxt/catalog/cards/esb/gigaspeech.json
  src/unitxt/catalog/cards/esb/librispeech.json
  src/unitxt/catalog/cards/esb/tedlium.json
  src/unitxt/catalog/cards/esb/voxpopuli.json
  src/unitxt/inference.py
Due: enforce-relative-imports, enforce-library-imports

change to small ASR datasets
  prepare/benchmarks/speech_recognition_multilingual.py
  src/unitxt/catalog/benchmarks/speech_recognition_multilingual.json
Due: enforce-library-imports

removed redundant import which makes tests fail.
  src/unitxt/metrics.py
Due: enforce-relative-imports

Minor fix for mock provider name in llmevalkit
  src/unitxt/metrics.py
Due: enforce-relative-imports

Update descriptions for ReflectionToolCallingMetric and ReflectionToolCallingMetricSyntactic; enhance clarity and detail on evaluation criteria and installation instructions.
  prepare/metrics/tool_calling.py
  src/unitxt/catalog/metrics/tool_calling/reflection.json
  src/unitxt/catalog/metrics/tool_calling/reflection/syntactic.json
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

Refactor ReflectionToolCallingMetric to use settings directly instead of unitxt.settings; update provider name format for watsonx.
  src/unitxt/metrics.py
Due: enforce-relative-imports
