Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

Update loading_datasets.rst - copy edits (grammar, consistency, clarity)
  docs/docs/loading_datasets.rst
Due: none

Update evaluating_datasets.rst - copy edits (grammar, consistency, clarity)
  docs/docs/evaluating_datasets.rst
Due: none

Update installation.rst - copy edits (grammar, consistency, clarity)
  docs/docs/installation.rst
Due: none

Update adding_dataset.rst - copy edits (grammar, consistency, clarity)
  docs/docs/adding_dataset.rst
Due: none

Update adding_task.rst - copy edits (grammar, consistency, clarity)
  docs/docs/adding_task.rst
Due: none

Update adding_template.rst - copy edits (grammar, consistency, clarity)
  docs/docs/adding_template.rst
Due: none

allow =None in overwrites for fetch
  src/unitxt/parsing_utils.py
  tests/library/test_parsing_utils.py
Due: enforce-relative-imports, enforce-library-imports

Update introduction.rst - - copy edits (grammar, consistency, clarity)
  docs/docs/introduction.rst
Due: none

add judge input to the metric
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

fix
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

Update loading_datasets.rst - - copy edits (grammar, consistency, clarity)
  docs/docs/loading_datasets.rst
Due: none

Update evaluating_datasets.rst -- copy edits (grammar, consistency, clarity)
  docs/docs/evaluating_datasets.rst
Due: none

Fix the task and templates to be more general
  prepare/cards/numeric_nlg.py
  prepare/metrics/normalized_sacrebleu.py
  prepare/tasks/generation.py
  prepare/templates/generation/generation.py
  src/unitxt/catalog/cards/numeric_nlg.json
  src/unitxt/catalog/metrics/normalized_sacrebleu.json
  src/unitxt/catalog/tasks/generation/from_pair.json
  src/unitxt/catalog/templates/generation/from_pair/all.json
  src/unitxt/catalog/templates/generation/from_pair/default.json
  src/unitxt/catalog/templates/generation/with_caption.json
Due: enforce-library-imports

Add missing template
  src/unitxt/catalog/templates/generation/from_pair/default.json
Due: none

Update introduction.rst - - copy edits (grammar, consistency, clarity) (#1063)
  docs/docs/introduction.rst
Due: none

Fix typo in japanese_llama system prompt (issue #964) (#1056)
  prepare/system_prompts/models/japanese_llama.py
  src/unitxt/catalog/system_prompts/models/japanese_llama.json
Due: enforce-library-imports

Allow assigning None in overwrites when fetching artifacts with modifications (#1062)
  src/unitxt/parsing_utils.py
  tests/library/test_parsing_utils.py
Due: enforce-relative-imports, enforce-library-imports

what is this .secret.baseline??
  .secrets.baseline
Due: none

register the new file, doc_utils, in dateset.py and metric.py
  src/unitxt/dataset.py
  src/unitxt/metric.py
Due: none

Added mechnism to link error message to online documentaion
  docs/docs/adding_metric.rst
  src/unitxt/doc_utils.py
  src/unitxt/metrics.py
  src/unitxt/task.py
  tests/library/test_tasks.py
Due: enforce-relative-imports, enforce-library-imports

fix test
  tests/library/test_metrics.py
Due: enforce-library-imports

Make sure preparation times printed fully and nicely (#1046)
  tests/catalog/test_preparation.py
  tests/utils.py
Due: enforce-library-imports

numeric nlg - template changes (#1041)
  prepare/cards/numeric_nlg.py
  prepare/metrics/normalized_sacrebleu.py
  prepare/tasks/generation.py
  prepare/templates/generation/generation.py
  src/unitxt/catalog/cards/numeric_nlg.json
  src/unitxt/catalog/metrics/normalized_sacrebleu.json
  src/unitxt/catalog/tasks/generation/from_pair.json
  src/unitxt/catalog/templates/generation/from_pair/all.json
  src/unitxt/catalog/templates/generation/from_pair/default.json
Due: enforce-library-imports

a simpler solution, same idea
  src/unitxt/dict_utils.py
  src/unitxt/operators.py
  tests/library/test_dict_utils.py
  tests/library/test_operators.py
Due: enforce-relative-imports, enforce-library-imports

took out one deep that I should not have
  src/unitxt/operators.py
Due: enforce-relative-imports

try further to only deep copy when necessary, aiming to less spam main memory
  src/unitxt/dict_utils.py
  src/unitxt/operators.py
  tests/library/test_operators.py
Due: enforce-relative-imports, enforce-library-imports

added test to record the issue
  tests/library/test_operators.py
Due: enforce-library-imports

added more tests
  src/unitxt/dict_utils.py
  tests/library/test_operators.py
Due: enforce-relative-imports, enforce-library-imports

removed yet another unnecessary deep
  src/unitxt/operators.py
Due: enforce-relative-imports

try to deep as little as possible
  src/unitxt/dict_utils.py
  src/unitxt/operators.py
  tests/library/test_dict_utils.py
Due: enforce-relative-imports, enforce-library-imports

add judge input to the metric (#1064)
  src/unitxt/llm_as_judge.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

Fixed reference to task 'outputs'
  docs/docs/adding_dataset.rst
Due: none

Unitxt capitalization adding_dataset.rst (#1057)
  docs/docs/adding_dataset.rst
Due: none

filter out empty tables input
  prepare/cards/scigen.py
  prepare/metrics/llm_as_judge/rating/llama_3_ibm_genai_table2text_template.py
  prepare/templates/response_assessment/rating/table2text_single_turn_with_reference.py
  src/unitxt/catalog/cards/scigen.json
  src/unitxt/catalog/templates/response_assessment/rating/table2text_single_turn_with_reference.json
Due: enforce-library-imports

added llama3 llm_as_judge metric for table2text task
  prepare/cards/scigen.py
  prepare/metrics/llm_as_judge/rating/llama_3_ibm_genai_table2text_template.py
  prepare/tasks/response_assessment/rating/table2text_single_turn_with_reference.py
  prepare/templates/response_assessment/rating/table2text_single_turn_with_reference.py
  src/unitxt/catalog/cards/scigen.json
  src/unitxt/catalog/metrics/llm_as_judge/rating/llama_3_70b_instruct_ibm_genai_template_table2text_single_turn_with_reference.json
  src/unitxt/catalog/tasks/response_assessment/rating/table2text_single_turn_with_reference.json
  src/unitxt/catalog/templates/response_assessment/rating/table2text_single_turn_with_reference.json
Due: enforce-library-imports

template changes
  prepare/cards/scigen.py
  src/unitxt/catalog/cards/scigen.json
Due: enforce-library-imports

preliminary scigen taskcard added
  prepare/cards/scigen.py
  src/unitxt/blocks.py
  src/unitxt/catalog/cards/scigen.json
  src/unitxt/struct_data_operators.py
Due: enforce-relative-imports, enforce-library-imports

suggested patch for score_ci inconsistency issue
  .secrets.baseline
  src/unitxt/metrics.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

Added check of type of format and system prompt
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
