Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

Pass Rubric dynamically
  examples/evaluate_eval_assist_rubric.py
Due: enforce-library-imports

add GPT rubric evaluator
  src/unitxt/inference.py
Due: enforce-relative-imports

add GPT rubric evaluator
  examples/evaluate_eval_assist.py
  examples/evaluate_eval_assist_rubric.py
  prepare/metrics/llm_as_judge/eval_assist.py
  prepare/metrics/llm_as_judge/templates_eval_assist.py
  src/unitxt/api.py
  src/unitxt/evalassist_llm_as_judge.py
  src/unitxt/inference.py
Due: enforce-relative-imports, enforce-library-imports

update catalog for direct assessment metric
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/granite.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/llama_70b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/llama_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/mixtral.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/prometheus.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/rubrics/answer.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/rubrics/coherence.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/rubrics/conciseness.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/rubrics/harmfulness.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/rubrics/insensitivity.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/rubrics/manipulative.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/rubrics/temperature.json
Due: none

Update version to 1.15.8
  src/unitxt/version.py
Due: enforce-relative-imports

Update version to 1.15.8 (#1395)
  src/unitxt/version.py
Due: enforce-relative-imports

runs script
  prepare/benchmarks/submit_runs.py
Due: enforce-library-imports

artifact link (#1363)
  docs/_static/custom.css
  docs/catalog.py
  docs/docs/saving_and_loading_from_catalog.rst
  prepare/augmentors/text_augmentors.py
  prepare/system_prompts/tasks/boolqa.py
  src/unitxt/artifact.py
  src/unitxt/augmentors.py
  src/unitxt/catalog.py
  src/unitxt/catalog/augmentors/augment_whitespace_prefix_and_suffix_task_input.json
  src/unitxt/catalog/augmentors/augment_whitespace_task_input.json
  src/unitxt/catalog/system_prompts/boolqa.json
  tests/library/test_artifact.py
Due: enforce-relative-imports, enforce-library-imports

Copy the data classification policy from the original instance to the instance provided to the judge
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

Explicitly setting prediction processing for processors in the catalog
  prepare/processors/processors.py
  src/unitxt/catalog/processors/capitalize.json
  src/unitxt/catalog/processors/cast_to_float_return_0_5_if_failed.json
  src/unitxt/catalog/processors/cast_to_float_return_nan_if_failed.json
  src/unitxt/catalog/processors/cast_to_float_return_zero_if_failed.json
  src/unitxt/catalog/processors/convert_to_boolean.json
  src/unitxt/catalog/processors/extract_arena_hard_numerical_judgment.json
  src/unitxt/catalog/processors/extract_from_double_brackets.json
  src/unitxt/catalog/processors/extract_mt_bench_label_judgment.json
  src/unitxt/catalog/processors/extract_mt_bench_rating_judgment.json
  src/unitxt/catalog/processors/first_character.json
  src/unitxt/catalog/processors/fix_whitespace.json
  src/unitxt/catalog/processors/get_string_after_colon.json
  src/unitxt/catalog/processors/hate_speech_or_not_hate_speech.json
  src/unitxt/catalog/processors/literal_eval.json
  src/unitxt/catalog/processors/lower_case.json
  src/unitxt/catalog/processors/lower_case_till_punc.json
  src/unitxt/catalog/processors/match_closest_option.json
  src/unitxt/catalog/processors/predictions_yes_1_else_0.json
  src/unitxt/catalog/processors/remove_articles.json
  src/unitxt/catalog/processors/remove_none_from_list.json
  src/unitxt/catalog/processors/remove_punctuations.json
  src/unitxt/catalog/processors/stance_to_pro_con.json
  src/unitxt/catalog/processors/str_to_float_format.json
  src/unitxt/catalog/processors/substring.json
  src/unitxt/catalog/processors/take_first_non_empty_line.json
  src/unitxt/catalog/processors/take_first_word.json
  src/unitxt/catalog/processors/to_yes_or_none.json
  src/unitxt/catalog/processors/toxic_or_not_toxic.json
  src/unitxt/catalog/processors/yes_no_to_int.json
Due: enforce-library-imports

added 'add_link_to_catalog' for easily adding artifact_links with/without deprecation msg
  src/unitxt/catalog.py
  tests/library/test_artifact.py
Due: enforce-relative-imports, enforce-library-imports

Updated whitespace augmentors to use new add_link_to_catalog
  prepare/augmentors/text_augmentors.py
  src/unitxt/catalog.py
  src/unitxt/catalog/augmentors/augment_whitespace_prefix_and_suffix_task_input.json
  src/unitxt/catalog/augmentors/augment_whitespace_task_input.json
Due: enforce-relative-imports, enforce-library-imports

added 'add_link_to_catalog' for easily adding artifact_links with/without deprecation msg (#1398)
  prepare/augmentors/text_augmentors.py
  src/unitxt/catalog.py
  src/unitxt/catalog/augmentors/augment_whitespace_prefix_and_suffix_task_input.json
  src/unitxt/catalog/augmentors/augment_whitespace_task_input.json
  tests/library/test_artifact.py
Due: enforce-relative-imports, enforce-library-imports

A naive compile time speed up of recipe steps
  performance/card_profiler.py
  src/unitxt/dataset.py
  src/unitxt/metric.py
  src/unitxt/operator.py
  src/unitxt/operator_utils.py
  src/unitxt/standard.py
Due: enforce-relative-imports, enforce-library-imports

split the policy setter from the pure loader for LoadHF
  src/unitxt/loaders.py
  src/unitxt/standard.py
  tests/library/test_loaders.py
Due: enforce-relative-imports, enforce-library-imports

move random mix upstream, to avoid repeating sets
  performance/card_profiler.py
  src/unitxt/operator_utils.py
Due: enforce-relative-imports, enforce-library-imports

replaced the most popular isoftype by isinstance
  src/unitxt/artifact.py
Due: enforce-relative-imports

fix a small typo in function name
  src/unitxt/loaders.py
Due: enforce-relative-imports

wip
  src/unitxt/loaders.py
Due: enforce-relative-imports

remove first metadata step from steps
  src/unitxt/standard.py
Due: enforce-relative-imports

live with recipe.produce when has no loader
  src/unitxt/operator_utils.py
Due: enforce-relative-imports

separate loading from setting policy
  src/unitxt/loaders.py
  src/unitxt/operator_utils.py
  src/unitxt/standard.py
Due: enforce-relative-imports

Revert to an embedded implementation of the TaskCard
  prepare/cards/safety/provoq.py
  prepare/tasks/generation.py
  src/unitxt/catalog/cards/safety/provoq.json
  src/unitxt/catalog/tasks/generation/with_context.json
  src/unitxt/catalog/tasks/generation/with_contexts.json
Due: enforce-library-imports

Safety updates (#1391)
  prepare/cards/safety/provoq.py
  prepare/metrics/llm_as_judge/safety/harm_rating.py
  prepare/tasks/generation.py
  src/unitxt/catalog/cards/safety/provoq.json
  src/unitxt/catalog/metrics/llm_as_judge/safety/llama_3_70b_instruct_ibm_watsonx_template_harm_rating.json
  src/unitxt/catalog/tasks/generation/with_context.json
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports, enforce-library-imports

add llama-3-405b-instruct wml classification engine (#1383)
  prepare/engines/classification/classification_engines.py
  src/unitxt/catalog/engines/classification/llama_3_405b_instruct_wml.json
Due: enforce-library-imports

Update version to 1.15.3 (#1373)
  src/unitxt/version.py
Due: enforce-relative-imports

Add target_prefix erasing post processor by default (#1361)
  src/unitxt/inference.py
  src/unitxt/llm_as_judge.py
  src/unitxt/metric_utils.py
  src/unitxt/metrics.py
  src/unitxt/operators.py
  src/unitxt/standard.py
  src/unitxt/string_operators.py
  src/unitxt/task.py
  tests/library/test_string_operators.py
Due: enforce-relative-imports, enforce-library-imports

Made sure null augmentor works as expected (#1381)
  src/unitxt/augmentors.py
  src/unitxt/standard.py
  tests/library/test_augmentors.py
Due: enforce-relative-imports, enforce-library-imports

Update version to 1.15.1 (#1368)
  src/unitxt/version.py
Due: enforce-relative-imports

Fix huggingface uploading (#1369)
  utils/hf/prepare_dataset.py
Due: enforce-library-imports

Update version to 1.15.4 (#1374)
  src/unitxt/version.py
Due: enforce-relative-imports

Fix release workflows (#1372)
  .github/workflows/hub.yml
  .github/workflows/pipy.yml
  utils/hf/prepare_dataset.py
  utils/hf/prepare_metric.py
Due: enforce-library-imports

Update version to 1.15.2 (#1370)
  src/unitxt/version.py
Due: enforce-relative-imports

Fix version release
  .github/workflows/pipy.yml
  utils/create_tag_for_new_version
Due: none

Change to pypi detect-secrets (#1377)
  .pre-commit-config.yaml
  pyproject.toml
  utils/.secrets.baseline
  utils/requirements/all.txt
  utils/requirements/dev.txt
  utils/requirements/docs.txt
  utils/requirements/helm.txt
  utils/requirements/inference-tests.txt
  utils/requirements/service.txt
  utils/requirements/tests.txt
  utils/requirements/ui.txt
  utils/requirements/watsonx.txt
Due: none

Update
  pyproject.toml
Due: none

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
