Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

Updated llamaguard template and metric, using more accurate instructions.
  prepare/cards/safety/mlcommons_ailuminate.py
  prepare/metrics/llm_as_judge/safety/llamaguard.py
  prepare/templates/safety/llamaguard.py
  src/unitxt/catalog/metrics/llm_as_judge/safety/llamaguard.json
  src/unitxt/catalog/templates/safety/llamaguard.json
Due: enforce-library-imports

simple_safety_tests to use Granite Guardian harm metric.
  prepare/cards/safety/simple_safety_tests.py
  src/unitxt/catalog/cards/safety/simple_safety_tests.json
Due: enforce-library-imports

.
  src/unitxt/catalog/templates/safety/llamaguard.json
Due: none

Return float instead float32 in granite guardian metric
  src/unitxt/metrics.py
Due: enforce-relative-imports

LLM Judge: add prompts to the result by default
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

Granite guardian: add raw prompt to the result
  src/unitxt/metrics.py
Due: enforce-relative-imports

text2sql: making caching optional
  src/unitxt/cache_utils.py
  src/unitxt/metrics.py
  src/unitxt/serializers.py
  src/unitxt/sql_utils.py
Due: enforce-relative-imports

caching and other fixes for text2sql metrics
  src/unitxt/cache_utils.py
  src/unitxt/metrics.py
  src/unitxt/sql_utils.py
Due: enforce-relative-imports

text2sql optional caching: ruff fixes
  src/unitxt/cache_utils.py
  src/unitxt/sql_utils.py
Due: enforce-relative-imports

text2sql caching ruff fixes
  src/unitxt/cache_utils.py
  src/unitxt/metrics.py
  src/unitxt/sql_utils.py
Due: enforce-relative-imports

diskcache dependency
  pyproject.toml
Due: none

text2sql: test for ORDER BY queries
  prepare/metrics/text2sql_accuracy.py
Due: enforce-library-imports

text2sql metric fixing import loc
  src/unitxt/metrics.py
Due: enforce-relative-imports

Enhance dependency specification for scipy and add documentation for Statistic class
  pyproject.toml
  src/unitxt/metrics.py
Due: enforce-relative-imports

Updated printout of example
  examples/evaluate_existing_dataset_with_install.py
Due: enforce-library-imports

Granite guardian: add raw prompt to the result (#1671)
  src/unitxt/metrics.py
Due: enforce-relative-imports

add template
  prepare/templates/qa/multiple_choice/templates.py
  src/unitxt/catalog/templates/qa/multiple_choice/with_context/exact_answer_instruct.json
Due: enforce-library-imports

add template
  prepare/cards/safety/bbq.py
Due: enforce-library-imports

add template
  prepare/templates/qa/multiple_choice/templates.py
Due: enforce-library-imports

add template
  src/unitxt/catalog/templates/qa/multiple_choice/with_context/exact_answer_instruct.json
Due: none

Moved key value extraction task and metrics to use Dict[str,str] to compare and not List[Tuple[str,str]]
  examples/api_call_evaluation.py
  examples/key_value_extraction_evaluation.py
  prepare/tasks/key_value_extraction.py
  prepare/templates/key_value_extraction/templates.py
  src/unitxt/catalog/tasks/key_value_extraction.json
  src/unitxt/catalog/templates/key_value_extraction/extract_in_json_format.json
  src/unitxt/metrics.py
  src/unitxt/struct_data_operators.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

Add positional bias summary to the llm judge response (#1640)
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

Return float instead np.float32 in granite guardian metric result (#1669)
  src/unitxt/metrics.py
Due: enforce-relative-imports

Updated metric to better address in case keys are used in prediction and not references
  src/unitxt/metrics.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

add qa template exact output (#1674)
  prepare/templates/qa/multiple_choice/templates.py
  src/unitxt/catalog/templates/qa/multiple_choice/with_context/exact_answer_instruct.json
Due: enforce-library-imports

both judges added
  prepare/cards/safety/simple_safety_tests.py
  src/unitxt/catalog/cards/safety/simple_safety_tests.json
Due: enforce-library-imports

Added ability to customize inner metric used to compare each entity in KeyValueExtraction
  src/unitxt/metrics.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

Fixed unitest and bug with handling nones
  src/unitxt/struct_data_operators.py
  tests/library/test_struct_data_operators.py
Due: enforce-relative-imports, enforce-library-imports

Fixed KeyValueExtraction prepare
  prepare/metrics/custom_f1.py
  prepare/metrics/key_value_extraction.py
  src/unitxt/catalog/metrics/key_value_extraction.json
Due: enforce-library-imports

Added example of multiple metrics
  examples/key_value_extraction_evaluation.py
Due: enforce-library-imports

Fix catalog
  prepare/metrics/key_value_extraction.py
  src/unitxt/catalog/metrics/key_value_extraction.json
Due: enforce-library-imports

LLM Judge: add prompts to the result by default (#1670)
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

HFPipelineBasedInferenceEngine - add loaded tokenizer to pipeline
  src/unitxt/inference.py
Due: enforce-relative-imports

Safety eval updates (#1668)
  prepare/cards/safety/mlcommons_ailuminate.py
  prepare/cards/safety/simple_safety_tests.py
  prepare/metrics/llm_as_judge/safety/llamaguard.py
  prepare/templates/safety/llamaguard.py
  src/unitxt/catalog/cards/safety/simple_safety_tests.json
  src/unitxt/catalog/metrics/llm_as_judge/safety/llamaguard.json
  src/unitxt/catalog/templates/safety/llamaguard.json
Due: enforce-library-imports

Add inference engine caching (#1645)
  pyproject.toml
  src/unitxt/inference.py
  src/unitxt/settings_utils.py
  tests/inference/test_inference_engine.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Update
  src/unitxt/metrics.py
  utils/.secrets.baseline
Due: enforce-relative-imports

BugFix: Handle cases where all sample scores are the same (yields nan) (#1660)
  examples/evaluate_existing_dataset_with_install.py
  pyproject.toml
  src/unitxt/metrics.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

CrossInferenceProvider: add more models
  src/unitxt/inference.py
Due: enforce-relative-imports

CrossInferenceProvider: add more models (#1676)
  src/unitxt/inference.py
Due: enforce-relative-imports

Implement get_engine_id were missing
  src/unitxt/inference.py
Due: enforce-relative-imports

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
