Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

Update examples.rst ---- copy edits (grammar, consistency, clarity)
  docs/docs/examples.rst
Due: none

Update data_classification_policy.rst --- copy edits (grammar, consistency, clarity)
  docs/docs/data_classification_policy.rst
Due: none

Update rag_support.rst --- copy edits (grammar, consistency, clarity)
  docs/docs/rag_support.rst
Due: none

add related judge
  prepare/templates/response_assessment/judges/config_judges.json
  prepare/templates/response_assessment/judges/ensemble_related_v1.json
  prepare/templates/response_assessment/judges/related/v3.py
Due: enforce-library-imports

remove redundant config files
  prepare/templates/response_assessment/judges/ensemble_grounded_v4.json
  prepare/templates/response_assessment/judges/ensemble_relevance_v1.json
Due: none

add catalog processor and judges
  src/unitxt/catalog/metrics/llm_as_judge/related/ensemble_v1_ibmgenai_judges.json
  src/unitxt/catalog/processors/cast_to_float_return_0_5_if_failed.json
  src/unitxt/catalog/templates/response_assessment/judges/related/v3.json
Due: none

update metrics.py
  src/unitxt/metrics.py
Due: enforce-relative-imports

add random forest evaluation script
  examples/evaluate_ensemble_judge.py
Due: enforce-library-imports

remove extra judges
  prepare/templates/response_assessment/judges/grounded/v10.py
  prepare/templates/response_assessment/judges/grounded/v11.py
  prepare/templates/response_assessment/judges/grounded/v9.py
  src/unitxt/catalog/templates/response_assessment/judges/grounded/v10.json
  src/unitxt/catalog/templates/response_assessment/judges/grounded/v11.json
  src/unitxt/catalog/templates/response_assessment/judges/grounded/v9.json
  src/unitxt/catalog/templates/response_assessment/judges/relevance/v3.json
Due: enforce-library-imports

revert back processors
  prepare/processors/processors.py
  src/unitxt/processors.py
Due: enforce-relative-imports, enforce-library-imports

Improved printout of format example
  examples/evaluate_different_formats.py
Due: enforce-library-imports

changed llm as judge to use native unitxt apis
  docs/docs/examples.rst
  examples/evaluate_existing_dataset_by_llm_as_judge.py
Due: enforce-library-imports

Moved llm eval to use genai
  tests/library/test_examples.py
Due: enforce-library-imports

prepare yaml for evaluation
  prepare/engines/model/evaluate_yaml.py
Due: enforce-library-imports

fix typo text_context_correctness -> test_context_correctness and fix the test
  tests/library/test_metrics.py
Due: enforce-library-imports

remove redundant metrics add Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/tasks/rag_eval.py
  src/unitxt/catalog/tasks/rag_eval/answer_relevance/binary.json
  src/unitxt/catalog/tasks/rag_eval/context_relevance/binary.json
  src/unitxt/catalog/tasks/rag_eval/correctness/binary.json
  src/unitxt/catalog/tasks/rag_eval/correctness_holistic/binary.json
  src/unitxt/catalog/tasks/rag_eval/correctness_reference_based/binary.json
  src/unitxt/catalog/tasks/rag_eval/faithfulness/binary.json
Due: enforce-library-imports

Fix functions and tests
  pyproject.toml
  src/unitxt/catalog.py
  src/unitxt/collections_operators.py
  src/unitxt/dict_utils.py
  src/unitxt/fusion.py
  src/unitxt/metric_utils.py
  src/unitxt/schema.py
  src/unitxt/standard.py
  src/unitxt/stream.py
  tests/library/test_api.py
  tests/library/test_examples.py
  tests/library/test_fusion.py
  tests/library/test_metric_utils.py
  tests/library/test_recipe.py
  tests/utils.py
Due: enforce-relative-imports, enforce-library-imports

Fix typo in method name, and the contained test (#1143)
  tests/library/test_metrics.py
Due: enforce-library-imports

add a test for sentence bert based answer correctness metrics
  prepare/metrics/rag_answer_correctness.py
Due: enforce-library-imports

Add a test for sentence-bert based answer correctness metrics (#1142)
  prepare/metrics/rag_answer_correctness.py
Due: enforce-library-imports

add test_faithfulness_sentence_bert
  prepare/metrics/rag_faithfulness.py
Due: enforce-library-imports

add finqa template to catalog
  src/unitxt/catalog/cards/fin_qa.json
  src/unitxt/catalog/templates/finqa/default.json
Due: none

add a test for RAG faithfulness using sentence embebbers (#1146)
  prepare/metrics/rag_faithfulness.py
Due: enforce-library-imports

watching eager mode first, to verify the breakup of known cross reference among instances
  src/unitxt/settings_utils.py
  src/unitxt/test_utils/metrics.py
Due: enforce-relative-imports

having successfully passed all tests in eager_mode, try now in non-eager mode
  .secrets.baseline
  src/unitxt/metrics.py
  src/unitxt/operators.py
  src/unitxt/settings_utils.py
Due: enforce-relative-imports

removed all deeps, but deep before each metric, run eager
  prepare/cards/billsum.py
  prepare/cards/ffqa_filtered.py
  prepare/metrics/normalized_sacrebleu.py
  src/unitxt/catalog/cards/ffqa_filtered/16k.json
  src/unitxt/catalog/cards/ffqa_filtered/2k.json
  src/unitxt/catalog/cards/ffqa_filtered/4k.json
  src/unitxt/catalog/cards/ffqa_filtered/8k.json
  src/unitxt/metrics.py
  src/unitxt/operators.py
  src/unitxt/stream_operators.py
  src/unitxt/test_utils/metrics.py
Due: enforce-relative-imports, enforce-library-imports

Update operators.py --- copy edits (grammar, consistency, clarity)
  src/unitxt/operators.py
Due: enforce-relative-imports

Update operators.py -- minor adjustment for periods and spacing.
  src/unitxt/operators.py
Due: enforce-relative-imports

Improve examples (#1141)
  .pre-commit-config.yaml
  docs/docs/adding_dataset.rst
  docs/docs/examples.rst
  docs/docs/saving_and_loading_from_catalog.rst
  examples/evaluate_different_demo_selections.py
  examples/evaluate_different_formats.py
  examples/evaluate_existing_dataset_by_llm_as_judge.py
  examples/evaluate_existing_dataset_no_install.py
  examples/evaluate_existing_dataset_with_install.py
  examples/evaluate_summarization_dataset_llm_as_judge.py
  examples/standalone_qa_evaluation.py
  tests/library/test_examples.py
Due: enforce-library-imports

Update production.rst ---- added hyphens
  docs/docs/production.rst
Due: none

Update production.rst ---- add hyphens
  docs/docs/production.rst
Due: none

Update debugging.rst --- copy edits (grammar, consistency, clarity)
  docs/docs/debugging.rst
Due: none

Update debugging.rst --- copy edits (grammar, consistency, clarity) (#1149)
  docs/docs/debugging.rst
Due: none

Update production.rst ---- add hyphens (#1148)
  docs/docs/production.rst
Due: none

Update rag_support.rst --- copy edits (grammar, consistency, clarity) (#1140)
  docs/docs/rag_support.rst
Due: none

Update data_classification_policy.rst --- copy edits (grammar, consis… (#1139)
  docs/docs/data_classification_policy.rst
Due: none

put ilab stuff in a single folder
  ilab/adjust_digit_output_format.py
  ilab/create_ilab_skill_yaml.py
  ilab/evaluate_yaml.py
  ilab/ilab_evaluate.py
Due: enforce-library-imports

Update examples.rst ---- copy edits (grammar, consistency, clarity) (#1138)
  docs/docs/examples.rst
Due: none

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
