Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [--baseline, utils/.secrets.baseline]
        exclude: utils/.secrets.baseline

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils|unitxt/assistant/.*)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

Fix examples (#1907)
  .github/workflows/catalog_preparation.yml
  .github/workflows/examples_tests.yml
  .github/workflows/library_eager_execution_tests.yml
  .github/workflows/library_tests.yml
  .github/workflows/performance.yml
  examples/evaluate_benchmark_with_custom_provider.py
  examples/evaluate_llama_vision_benchmark.py
  examples/evaluate_vision_default_benchmark.py
  examples/evaluate_vision_full_benchmark.py
  prepare/cards/fin_qa.py
  prepare/cards/tablebench.py
  prepare/cards/tablebench_data_analysis.py
  prepare/cards/tablebench_fact_checking.py
  prepare/cards/tablebench_numerical_reasoning.py
  src/unitxt/catalog/cards/fin_qa.json
  src/unitxt/catalog/cards/tablebench_data_analysis.json
  src/unitxt/catalog/cards/tablebench_data_analysis/legacy.json
  src/unitxt/catalog/cards/tablebench_fact_checking.json
  src/unitxt/catalog/cards/tablebench_fact_checking/legacy.json
  src/unitxt/catalog/cards/tablebench_numerical_reasoning.json
  src/unitxt/catalog/cards/tablebench_numerical_reasoning/legacy.json
  tests/examples/test_examples.py
  utils/.secrets.baseline
  utils/install.sh
Due: enforce-library-imports

Fix inference tests
  tests/inference/test_inference_engine.py
Due: enforce-library-imports

Fix
  tests/inference/test_inference_engine.py
Due: enforce-library-imports

Fix inference tests (#1912)
  tests/inference/test_inference_engine.py
Due: enforce-library-imports

prepare all artifacts from prepare files
  .github/workflows/catalog_consistency.yml
  prepare/tasks/qa/tasks.py
  src/unitxt/artifact.py
  utils/check_catalog_consistency.py
  utils/prepare_all_artifacts.py
Due: enforce-relative-imports, enforce-library-imports

last touches in bfcl, reviewing whole datasets
  docs/docs/adding_operator.rst
  prepare/cards/bfcl.py
  src/unitxt/catalog/cards/bfcl/multi_turn/java_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/javascript_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_parallel_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_parallel_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_simple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/parallel_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/parallel_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/simple_v3.json
  src/unitxt/operators.py
Due: enforce-relative-imports, enforce-library-imports

fix no extra problematic subset here, leave for a separate PR
  prepare/cards/bfcl.py
  src/unitxt/catalog/cards/bfcl/multi_turn/java_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/javascript_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_parallel_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_parallel_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_simple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/parallel_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/parallel_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/simple_v3.json
  src/unitxt/operators.py
Due: enforce-relative-imports, enforce-library-imports

combine the fix of jsonschema with that needed for bfcl
  prepare/cards/bfcl.py
  prepare/cards/xlam_function_calling.py
  src/unitxt/catalog/cards/bfcl/multi_turn/java_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/javascript_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_irrelevance_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_parallel_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_parallel_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_relevance_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_simple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/parallel_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/parallel_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/simple_v3.json
  src/unitxt/catalog/cards/bfcl/simple_v3.json
  src/unitxt/catalog/cards/xlam_function_calling_60k.json
  src/unitxt/operators.py
Due: enforce-relative-imports, enforce-library-imports

format
  src/unitxt/api.py
  src/unitxt/catalog/cards/xlam_function_calling_60k.json
Due: enforce-relative-imports

normalize to_dict of simple tyes, like re.DOTALL, and speed test_preparation
  .github/workflows/catalog_preparation.yml
  src/unitxt/dataclass.py
Due: enforce-relative-imports

fixed jsonschema programatically, with python string operations. can now read through the whole recipe output
  prepare/cards/xlam_function_calling.py
  src/unitxt/catalog/cards/xlam_function_calling_60k.json
  src/unitxt/operators.py
Due: enforce-relative-imports, enforce-library-imports

Allow using python functions instead of operators (e.g in pre-processing pipeline)
  docs/catalog.py
  docs/docs/adding_dataset.rst
  docs/docs/adding_operator.rst
  prepare/cards/xlam_function_calling.py
  src/unitxt/api.py
  src/unitxt/artifact.py
  src/unitxt/catalog.py
  src/unitxt/catalog/cards/xlam_function_calling_60k.json
  src/unitxt/inference.py
  src/unitxt/llm_as_judge_from_template.py
  src/unitxt/operators.py
  src/unitxt/test_utils/artifact.py
  src/unitxt/test_utils/card.py
  src/unitxt/text_utils.py
  src/unitxt/utils.py
  tests/library/test_function_operators.py
Due: enforce-relative-imports, enforce-library-imports

revert to num-parallel = 8 in test_preparation
  .github/workflows/catalog_preparation.yml
Due: none

Add torchaudio depndency
  pyproject.toml
Due: none

Update dependencies
  utils/install.sh
Due: none

Fix vllm engine
  src/unitxt/inference.py
  tests/inference/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

Add reqs
  pyproject.toml
Due: none

add vllm option to CLI
  src/unitxt/evaluate_cli.py
  src/unitxt/inference.py
Due: enforce-relative-imports

Try specific revision to reduce memory used
  examples/evaluate_speech_recognition.py
  examples/evaluate_speech_recognition_benchmark.py
  src/unitxt/inference.py
  tests/inference/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

Seperate mock inference class and add control
  src/unitxt/inference.py
Due: enforce-relative-imports

Seperate cache and prepare for streaming
  src/unitxt/inference.py
  tests/inference/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

minor text2sql metric fixes
  src/unitxt/text2sql_utils.py
Due: enforce-relative-imports

Minor text2sql metric fixes (#1913)
  src/unitxt/text2sql_utils.py
Due: enforce-relative-imports

Refactor inference and caching
  examples/evaluate_existing_dataset_by_llm_as_judge_direct.py
  src/unitxt/api.py
  src/unitxt/inference.py
  src/unitxt/llm_as_judge_from_template.py
  src/unitxt/metrics.py
  tests/inference/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

Allow skipping tests
  .github/workflows/examples_tests.yml
  .github/workflows/inference_tests.yml
  examples/evaluate_speech_recognition.py
  examples/evaluate_speech_recognition_benchmark.py
  tests/inference/test_inference_engine.py
Due: enforce-library-imports

fix the 4 cards
  prepare/cards/global_mmlu.py
  src/unitxt/catalog/cards/global_mmlu/am/clinical_knowledge.json
  src/unitxt/catalog/cards/global_mmlu/am/college_medicine.json
  src/unitxt/catalog/cards/global_mmlu/ig/college_computer_science.json
  src/unitxt/catalog/cards/global_mmlu/vi/conceptual_physics.json
Due: enforce-library-imports

fix xlam
  prepare/cards/xlam_function_calling.py
  src/unitxt/catalog/cards/xlam_function_calling_60k.json
  src/unitxt/operators.py
Due: enforce-relative-imports, enforce-library-imports

fix mtrag
  prepare/cards/mtrag.py
  src/unitxt/catalog/cards/rag/mtrag.json
  src/unitxt/catalog/cards/rag/mtrag/documents/govt.json
Due: enforce-library-imports

updates
  src/unitxt/catalog/metrics/normalized_sacrebleu.json
  src/unitxt/catalog/tasks/translation/speech.json
  src/unitxt/catalog/templates/translation/speech/default.json
  src/unitxt/catalog/templates/translation/speech/no_norm.json
Due: none

Do not remove values
  prepare/cards/mtrag.py
  src/unitxt/catalog/cards/rag/mtrag/documents/govt.json
Due: enforce-library-imports

fix mtrag (#1918)
  prepare/cards/mtrag.py
  src/unitxt/catalog/cards/rag/mtrag.json
  src/unitxt/catalog/cards/rag/mtrag/documents/govt.json
Due: enforce-library-imports

fix xlam's schema issues (#1917)
  prepare/cards/xlam_function_calling.py
  src/unitxt/catalog/cards/xlam_function_calling_60k.json
  src/unitxt/operators.py
Due: enforce-relative-imports, enforce-library-imports

Allow using python functions instead of operators (e.g in pre-processing pipeline)
  docs/catalog.py
  docs/docs/adding_dataset.rst
  docs/docs/adding_operator.rst
  prepare/cards/xlam_function_calling.py
  src/unitxt/api.py
  src/unitxt/artifact.py
  src/unitxt/catalog.py
  src/unitxt/inference.py
  src/unitxt/llm_as_judge_from_template.py
  src/unitxt/operators.py
  src/unitxt/test_utils/artifact.py
  src/unitxt/test_utils/card.py
  src/unitxt/text_utils.py
  src/unitxt/utils.py
  tests/library/test_function_operators.py
Due: enforce-relative-imports, enforce-library-imports

format
  src/unitxt/api.py
Due: enforce-relative-imports
