Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]
        exclude: src/unitxt/metrics.py|examples/evaluate_existing_dataset_no_install.py
      # Run the linter on the specific file with the ignore flag
      - id: ruff
        name: ruff (examples/evaluate_existing_dataset_no_install.py)
        files: examples/evaluate_existing_dataset_no_install.py
        args: [--fix, --ignore, T201]
      # Run the formatter
      - id: ruff-format

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [--baseline, utils/.secrets.baseline]
        exclude: utils/.secrets.baseline

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

cleanup, change info message
  src/unitxt/metrics.py
Due: enforce-relative-imports

Remove push trigger from performance workflow
  .github/workflows/performance.yml
Due: none

Refactor LoadFromHFSpace to use lazy loading and improve file handling
  src/unitxt/loaders.py
Due: enforce-relative-imports

Fix loader limit check in LoadFromHFSpace to ensure proper handling of loader_limit
  src/unitxt/loaders.py
Due: enforce-relative-imports

Add Fillna operator and update response assessment configurations to handle missing values
  prepare/cards/mt_bench/response_assessment/pairwise_comparison/multi_turn_gpt4_judgement.py
  prepare/cards/mt_bench/response_assessment/pairwise_comparison/single_turn_gpt4_judgement.py
  prepare/cards/mt_bench/response_assessment/rating/multi_turn_gpt4_judgement.py
  prepare/cards/mt_bench/response_assessment/rating/single_turn_gpt4_judgement.py
  src/unitxt/catalog/cards/mt_bench/response_assessment/pairwise_comparison/multi_turn_gpt4_judgement.json
  src/unitxt/catalog/cards/mt_bench/response_assessment/pairwise_comparison/single_turn_gpt4_judgement.json
  src/unitxt/catalog/cards/mt_bench/response_assessment/rating/multi_turn_gpt4_judgement.json
  src/unitxt/catalog/cards/mt_bench/response_assessment/rating/single_turn_gpt4_judgement.json
  src/unitxt/operators.py
Due: enforce-relative-imports, enforce-library-imports

Add data classification policy to multi_turn_gpt4_judgement.json
  src/unitxt/catalog/cards/mt_bench/response_assessment/pairwise_comparison/multi_turn_gpt4_judgement.json
Due: none

Update data classification policy and adjust loader limits in assessment cards
  prepare/cards/arena_hard/generation/english_gpt-4-0314_reference.py
  prepare/cards/arena_hard/response_assessment/pairwise_comparative_rating/both_games_gpt4_judge.py
  prepare/cards/arena_hard/response_assessment/pairwise_comparative_rating/both_games_mean_judgment_gpt4_judge.py
  prepare/cards/arena_hard/response_assessment/pairwise_comparative_rating/first_game_only_gpt4_judge.py
  prepare/cards/mt_bench/response_assessment/pairwise_comparison/multi_turn_gpt4_judgement.py
  prepare/cards/mt_bench/response_assessment/pairwise_comparison/multi_turn_with_reference_gpt4_judgement.py
  prepare/cards/mt_bench/response_assessment/pairwise_comparison/single_turn_with_reference_gpt4_judgement.py
  prepare/cards/mt_bench/response_assessment/rating/multi_turn_with_reference_gpt4_judgement.py
  prepare/cards/mt_bench/response_assessment/rating/single_turn_with_reference_gpt4_judgement.py
  src/unitxt/catalog/cards/arena_hard/generation/english_gpt_4_0314_reference.json
  src/unitxt/catalog/cards/arena_hard/response_assessment/pairwise_comparative_rating/both_games_gpt_4_judge.json
  src/unitxt/catalog/cards/arena_hard/response_assessment/pairwise_comparative_rating/both_games_mean_judgment_gpt4_judge.json
  src/unitxt/catalog/cards/arena_hard/response_assessment/pairwise_comparative_rating/first_game_only_gpt_4_judge.json
  src/unitxt/catalog/cards/mt_bench/response_assessment/pairwise_comparison/multi_turn_with_reference_gpt4_judgement.json
  src/unitxt/catalog/cards/mt_bench/response_assessment/pairwise_comparison/single_turn_with_reference_gpt4_judgement.json
  src/unitxt/catalog/cards/mt_bench/response_assessment/rating/multi_turn_with_reference_gpt4_judgement.json
  src/unitxt/catalog/cards/mt_bench/response_assessment/rating/single_turn_with_reference_gpt4_judgement.json
  src/unitxt/loaders.py
  src/unitxt/operators.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Improve Hugging Face login process in workflows with retry logic
  .github/workflows/catalog_preparation.yml
  .github/workflows/examples_tests.yml
  .github/workflows/inference_tests.yml
  .github/workflows/performance.yml
Due: none

Add mock inference mode handling in Reward metric to return default values
  src/unitxt/metrics.py
Due: enforce-relative-imports

Fix some tests (#1610)
  .github/workflows/catalog_preparation.yml
  .github/workflows/examples_tests.yml
  .github/workflows/inference_tests.yml
  .github/workflows/performance.yml
  .gitignore
  prepare/cards/arena_hard/generation/english_gpt-4-0314_reference.py
  prepare/cards/arena_hard/response_assessment/pairwise_comparative_rating/both_games_gpt4_judge.py
  prepare/cards/arena_hard/response_assessment/pairwise_comparative_rating/both_games_mean_judgment_gpt4_judge.py
  prepare/cards/arena_hard/response_assessment/pairwise_comparative_rating/first_game_only_gpt4_judge.py
  prepare/cards/mt_bench/response_assessment/pairwise_comparison/multi_turn_gpt4_judgement.py
  prepare/cards/mt_bench/response_assessment/pairwise_comparison/multi_turn_with_reference_gpt4_judgement.py
  prepare/cards/mt_bench/response_assessment/pairwise_comparison/single_turn_gpt4_judgement.py
  prepare/cards/mt_bench/response_assessment/pairwise_comparison/single_turn_with_reference_gpt4_judgement.py
  prepare/cards/mt_bench/response_assessment/rating/multi_turn_gpt4_judgement.py
  prepare/cards/mt_bench/response_assessment/rating/multi_turn_with_reference_gpt4_judgement.py
  prepare/cards/mt_bench/response_assessment/rating/single_turn_gpt4_judgement.py
  prepare/cards/mt_bench/response_assessment/rating/single_turn_with_reference_gpt4_judgement.py
  src/unitxt/catalog/cards/arena_hard/generation/english_gpt_4_0314_reference.json
  src/unitxt/catalog/cards/arena_hard/response_assessment/pairwise_comparative_rating/both_games_gpt_4_judge.json
  src/unitxt/catalog/cards/arena_hard/response_assessment/pairwise_comparative_rating/both_games_mean_judgment_gpt4_judge.json
  src/unitxt/catalog/cards/arena_hard/response_assessment/pairwise_comparative_rating/first_game_only_gpt_4_judge.json
  src/unitxt/catalog/cards/mt_bench/response_assessment/pairwise_comparison/multi_turn_gpt4_judgement.json
  src/unitxt/catalog/cards/mt_bench/response_assessment/pairwise_comparison/multi_turn_with_reference_gpt4_judgement.json
  src/unitxt/catalog/cards/mt_bench/response_assessment/pairwise_comparison/single_turn_gpt4_judgement.json
  src/unitxt/catalog/cards/mt_bench/response_assessment/pairwise_comparison/single_turn_with_reference_gpt4_judgement.json
  src/unitxt/catalog/cards/mt_bench/response_assessment/rating/multi_turn_gpt4_judgement.json
  src/unitxt/catalog/cards/mt_bench/response_assessment/rating/multi_turn_with_reference_gpt4_judgement.json
  src/unitxt/catalog/cards/mt_bench/response_assessment/rating/single_turn_gpt4_judgement.json
  src/unitxt/catalog/cards/mt_bench/response_assessment/rating/single_turn_with_reference_gpt4_judgement.json
  src/unitxt/loaders.py
  src/unitxt/metrics.py
  src/unitxt/operators.py
  tests/library/test_loaders.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Add CoT to LLM as judge assessments
  src/unitxt/llm_as_judge_chat_templates.py
Due: enforce-relative-imports

Add download and etag timeout settings to workflow configurations
  .github/workflows/catalog_consistency.yml
  .github/workflows/catalog_preparation.yml
  .github/workflows/examples_tests.yml
  .github/workflows/library_eager_execution_tests.yml
  .github/workflows/library_tests.yml
  .github/workflows/performance.yml
Due: none

Try using rust based hf hub downloads
  .github/workflows/catalog_preparation.yml
Due: none

Increase performance degradation threshold from 5% to 15% in benchmark comparison script
  performance/compare_benchmark_performance_results.py
Due: enforce-library-imports

Add download and etag timeout settings to workflow configurations (#1613)
  .github/workflows/catalog_consistency.yml
  .github/workflows/catalog_preparation.yml
  .github/workflows/examples_tests.yml
  .github/workflows/library_eager_execution_tests.yml
  .github/workflows/library_tests.yml
  .github/workflows/performance.yml
  performance/compare_benchmark_performance_results.py
Due: enforce-library-imports

Adde example of custom metric
  docs/docs/examples.rst
  examples/evaluate_with_custom_metric.py
  examples/standalone_qa_evaluation.py
Due: enforce-library-imports

Add CI/CD tests for Ollama inference engine
  .github/workflows/inference_tests.yml
  tests/inference/test_inference_engine.py
Due: enforce-library-imports

Fix bug
  src/unitxt/inference.py
Due: enforce-relative-imports

Fix Ollama inference engine
  src/unitxt/inference.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Allow read timeout error in preparation tests
  tests/catalog/test_preparation.py
Due: enforce-library-imports

Fix yaml
  .github/workflows/inference_tests.yml
  pyproject.toml
Due: none

Handle additional connection errors in preparation tests
  tests/catalog/test_preparation.py
Due: enforce-library-imports

Allow read timeout error in preparation tests (#1615)
  tests/catalog/test_preparation.py
Due: enforce-library-imports

Update dataset reference in evaluate_torr.py to use 'benchmarks.torr'
  examples/evaluate_torr.py
Due: enforce-library-imports

Update line number and generated timestamp in secrets baseline
  utils/.secrets.baseline
Due: none

Fix Ollama inference engine (#1611)
  .github/workflows/inference_tests.yml
  pyproject.toml
  src/unitxt/inference.py
  tests/inference/test_inference_engine.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Add verify as an option to LoadFromAPI (#1608)
  src/unitxt/db_utils.py
  src/unitxt/loaders.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Added example of custom metric (#1616)
  docs/docs/examples.rst
  examples/evaluate_with_custom_metric.py
  examples/standalone_qa_evaluation.py
Due: enforce-library-imports

Granite guardian minor changes (#1605)
  src/unitxt/metrics.py
Due: enforce-relative-imports

Fix
  examples/evaluate_system_message_leakage.py
  src/unitxt/operator.py
Due: enforce-relative-imports, enforce-library-imports

Fix
  examples/evaluate_system_message_leakage.py
Due: enforce-library-imports

Simplify preparation tests with better error handling
  tests/catalog/test_preparation.py
Due: enforce-library-imports

Update
  tests/catalog/test_preparation.py
Due: enforce-library-imports

Catalog changes because of code refactor
  src/unitxt/catalog/metrics/llm_as_judge/direct/openai/gpt_4o.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/openai/o1_mini.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/openai/o1_preview.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/rits/granite3_0_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/rits/granite3_1_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/rits/llama3_1_405b.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/rits/llama3_1_70b.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/rits/llama3_1_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/rits/mixtral8_22b.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/rits/mixtral8_7b.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/rits/mixtral_large.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/watsonx/granite3_0_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/watsonx/llama3_1_405b.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/watsonx/llama3_1_70b.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/watsonx/llama3_1_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/watsonx/mixtral8_7b.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/watsonx/mixtral_large.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/openai/gpt_4o.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/openai/o1_mini.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/openai/o1_preview.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/rits/granite3_0_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/rits/granite3_1_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/rits/llama3_1_405b.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/rits/llama3_1_70b.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/rits/llama3_1_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/rits/mixtral8_22b.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/rits/mixtral8_7b.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/rits/mixtral_large.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/watsonx/granite3_0_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/watsonx/llama3_1_405b.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/watsonx/llama3_1_70b.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/watsonx/llama3_1_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/watsonx/mixtral8_7b.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/watsonx/mixtral_large.json
Due: none

Fix azure openai evaluators (wrong url) and code refactor
  prepare/metrics/llm_as_judge/llm_as_judge.py
  src/unitxt/catalog/metrics/llm_as_judge/direct/azure_openai/gpt_4o.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/azure_openai/o1_mini.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/azure_openai/o1_preview.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/azure_openai/gpt_4o.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/azure_openai/o1_mini.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/azure_openai/o1_preview.json
Due: enforce-library-imports

Refactor test assertions in catalog preparation tests for clarity
  tests/catalog/test_preparation.py
Due: enforce-library-imports

Refactor error handling in catalog preparation tests to include MissingKaggleCredentialsError
  tests/catalog/test_preparation.py
Due: enforce-library-imports
