Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

Updated vision benchmarks
  examples/evaluate_image_text_to_text_vllm_inference.py
  examples/evaluate_image_text_to_text_wml.py
  examples/evaluate_llama_vision_benchmark.py
  examples/evaluate_vision_default_benchmark.py
  examples/evaluate_vision_full_benchmark.py
  prepare/benchmarks/vision_default.py
  prepare/benchmarks/vision_full.py
  prepare/cards/ai2d.py
  prepare/cards/chart_qa.py
  prepare/cards/doc_vqa.py
  prepare/cards/info_vqa.py
  prepare/cards/websrc.py
  src/unitxt/catalog/benchmarks/vision_default.json
  src/unitxt/catalog/benchmarks/vision_full.json
  src/unitxt/catalog/cards/ai2d.json
  src/unitxt/catalog/cards/chart_qa.json
  src/unitxt/catalog/cards/chart_qa_lmms_eval.json
  src/unitxt/catalog/cards/doc_vqa/en.json
  src/unitxt/catalog/cards/doc_vqa/fr.json
  src/unitxt/catalog/cards/doc_vqa/lmms_eval.json
  src/unitxt/catalog/cards/info_vqa.json
  src/unitxt/catalog/cards/info_vqa_lmms_eval.json
  src/unitxt/catalog/cards/websrc.json
  src/unitxt/inference.py
  tests/examples/test_examples.py
Due: enforce-relative-imports, enforce-library-imports

Beautified for pull request
  examples/evaluate_image_text_to_text.py
  examples/evaluate_image_text_to_text_vllm_inference.py
  examples/evaluate_image_text_to_text_wml.py
  examples/evaluate_llama_vision_benchmark.py
  prepare/augmentors/image_augmentors.py
  src/unitxt/inference.py
  tests/examples/test_examples.py
Due: enforce-relative-imports, enforce-library-imports

bug fix
  examples/evaluate_image_text_to_text_wml.py
Due: enforce-library-imports

merge bug fix
  src/unitxt/metrics.py
Due: enforce-relative-imports

pre-commit fixes
  examples/evaluate_image_text_to_text_wml.py
  examples/evaluate_llama_vision_benchmark.py
  examples/evaluate_vision_default_benchmark.py
  examples/evaluate_vision_full_benchmark.py
  prepare/benchmarks/vision_default.py
  prepare/benchmarks/vision_full.py
  prepare/cards/ai2d.py
  prepare/cards/chart_qa.py
  prepare/cards/doc_vqa.py
  prepare/cards/info_vqa.py
  prepare/cards/websrc.py
Due: enforce-library-imports

merge bug fix
  src/unitxt/catalog/templates/qa/multiple_choice/with_context/lmms_eval.json
Due: none

merge fix
  src/unitxt/catalog/templates/qa/multiple_choice/with_context/lmms_eval.json
Due: none

Update Vision bench (#1641)
  examples/evaluate_image_text_to_text.py
  examples/evaluate_image_text_to_text_vllm_inference.py
  examples/evaluate_image_text_to_text_wml.py
  examples/evaluate_llama_vision_benchmark.py
  examples/evaluate_vision_default_benchmark.py
  examples/evaluate_vision_full_benchmark.py
  prepare/benchmarks/vision_default.py
  prepare/benchmarks/vision_full.py
  prepare/cards/ai2d.py
  prepare/cards/chart_qa.py
  prepare/cards/doc_vqa.py
  prepare/cards/info_vqa.py
  prepare/cards/websrc.py
  src/unitxt/catalog/benchmarks/vision_default.json
  src/unitxt/catalog/benchmarks/vision_full.json
  src/unitxt/catalog/cards/ai2d.json
  src/unitxt/catalog/cards/chart_qa.json
  src/unitxt/catalog/cards/chart_qa_lmms_eval.json
  src/unitxt/catalog/cards/doc_vqa/en.json
  src/unitxt/catalog/cards/doc_vqa/fr.json
  src/unitxt/catalog/cards/doc_vqa/lmms_eval.json
  src/unitxt/catalog/cards/info_vqa.json
  src/unitxt/catalog/cards/info_vqa_lmms_eval.json
  src/unitxt/catalog/cards/websrc.json
  src/unitxt/metrics.py
  tests/examples/test_examples.py
Due: enforce-relative-imports, enforce-library-imports

Add Granite Guardian evaluation on HF example (#1638)
  examples/evaluate_granite_guardian_on_hf.py
Due: enforce-library-imports

rename the metadata_field to be metadata_tags. In addition, remove the default settings where it was an override
  prepare/cards/mtrag.py
  prepare/cards/rag/end_to_end/bioasq.py
  prepare/cards/rag/end_to_end/clapnq.py
  prepare/cards/rag/end_to_end/hotpotqa.py
  prepare/cards/rag/end_to_end/miniwikipedia.py
  prepare/tasks/rag/rag_end_to_end.py
  src/unitxt/catalog/cards/rag/benchmark/bioasq/en.json
  src/unitxt/catalog/cards/rag/benchmark/clap_nq/en.json
  src/unitxt/catalog/cards/rag/benchmark/hotpotqa/en.json
  src/unitxt/catalog/cards/rag/benchmark/miniwiki/en.json
  src/unitxt/catalog/cards/rag/documents/bioasq/en.json
  src/unitxt/catalog/cards/rag/documents/hotpotqa/en.json
  src/unitxt/catalog/cards/rag/documents/miniwiki/en.json
  src/unitxt/catalog/cards/rag/mtrag/documents/clapnq.json
  src/unitxt/catalog/cards/rag/mtrag/documents/cloud.json
  src/unitxt/catalog/cards/rag/mtrag/documents/fiqa.json
  src/unitxt/catalog/cards/rag/mtrag/documents/govt.json
  src/unitxt/catalog/tasks/rag/corpora.json
  src/unitxt/catalog/tasks/rag/end_to_end.json
Due: enforce-library-imports

present catalog entries as pieces of python code
  docs/catalog.py
  src/unitxt/inference.py
  src/unitxt/llm_as_judge_from_template.py
  src/unitxt/text_utils.py
Due: enforce-relative-imports, enforce-library-imports

make one liner from a non-parameters type
  docs/catalog.py
  src/unitxt/text_utils.py
Due: enforce-relative-imports, enforce-library-imports

Bring things back
  src/unitxt/loaders.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Use elaborated cache key and use it for filelock
  src/unitxt/api.py
  src/unitxt/dataclass.py
Due: enforce-relative-imports

moved breakpoint to operators, so catalog knows about it
  prepare/cards/rag/end_to_end/hotpotqa.py
  src/unitxt/operators.py
Due: enforce-relative-imports, enforce-library-imports

Add inference engine caching
  pyproject.toml
  src/unitxt/inference.py
  src/unitxt/settings_utils.py
  utils/.secrets.baseline
Due: enforce-relative-imports

present catalog entries as pieces of python code (#1643)
  docs/catalog.py
  src/unitxt/inference.py
  src/unitxt/llm_as_judge_from_template.py
  src/unitxt/text_utils.py
Due: enforce-relative-imports, enforce-library-imports

Example for evaluating system message leakage (#1609)
  .github/workflows/catalog_preparation.yml
  examples/evaluate_system_message_leakage.py
  prepare/cards/tablebench.py
  prepare/cards/tablebench_data_analysis.py
  prepare/cards/tablebench_fact_checking.py
  prepare/cards/tablebench_numerical_reasoning.py
  src/unitxt/catalog/cards/tablebench.json
  src/unitxt/catalog/cards/tablebench_data_analysis.json
  src/unitxt/catalog/cards/tablebench_fact_checking.json
  src/unitxt/catalog/cards/tablebench_numerical_reasoning.json
  src/unitxt/formats.py
  src/unitxt/loaders.py
  src/unitxt/operator.py
  src/unitxt/schema.py
  src/unitxt/settings_utils.py
  src/unitxt/standard.py
  src/unitxt/system_prompts.py
  src/unitxt/task.py
  src/unitxt/templates.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Remove Breakpoint
  prepare/cards/rag/end_to_end/hotpotqa.py
  src/unitxt/operators.py
Due: enforce-relative-imports, enforce-library-imports

Benjams/add hotpotqa + change type of metadata field to dict (non backward compatible) (#1633)
  prepare/cards/mtrag.py
  prepare/cards/rag/end_to_end/bioasq.py
  prepare/cards/rag/end_to_end/clapnq.py
  prepare/cards/rag/end_to_end/hotpotqa.py
  prepare/cards/rag/end_to_end/miniwikipedia.py
  prepare/tasks/rag/rag_end_to_end.py
  src/unitxt/catalog/cards/rag/benchmark/bioasq/en.json
  src/unitxt/catalog/cards/rag/benchmark/clap_nq/en.json
  src/unitxt/catalog/cards/rag/benchmark/hotpotqa/en.json
  src/unitxt/catalog/cards/rag/benchmark/miniwiki/en.json
  src/unitxt/catalog/cards/rag/documents/bioasq/en.json
  src/unitxt/catalog/cards/rag/documents/clap_nq/en.json
  src/unitxt/catalog/cards/rag/documents/hotpotqa/en.json
  src/unitxt/catalog/cards/rag/documents/miniwiki/en.json
  src/unitxt/catalog/cards/rag/mtrag/documents/clapnq.json
  src/unitxt/catalog/cards/rag/mtrag/documents/cloud.json
  src/unitxt/catalog/cards/rag/mtrag/documents/fiqa.json
  src/unitxt/catalog/cards/rag/mtrag/documents/govt.json
  src/unitxt/catalog/tasks/rag/corpora.json
  src/unitxt/catalog/tasks/rag/end_to_end.json
Due: enforce-library-imports

Add documentation
  src/unitxt/api.py
  src/unitxt/dataclass.py
Due: enforce-relative-imports

removed the leftout break_point
  src/unitxt/catalog/cards/rag/benchmark/hotpotqa/en.json
Due: none

removed the leftout break_point (#1646)
  src/unitxt/catalog/cards/rag/benchmark/hotpotqa/en.json
Due: none

cProfile or time() diffs
  performance/bluebench_profiler.py
Due: enforce-library-imports

allow simple time() diffs
  performance/bluebench_profiler.py
  performance/compare_benchmark_performance_results.py
Due: enforce-library-imports

measure performance with/without loaded local file-system cache
  .github/workflows/performance.yml
  performance/bluebench_profiler.py
  performance/compare_benchmark_performance_results.py
  src/unitxt/loaders.py
  src/unitxt/settings_utils.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

allow to report times also based on simple time() diffs, and not only cProfile
  performance/bluebench_profiler.py
  performance/compare_benchmark_performance_results.py
Due: enforce-library-imports

add documentation
  .github/workflows/performance.yml
  docs/docs/adding_dataset.rst
  performance/bluebench_profiler.py
  performance/compare_benchmark_performance_results.py
  src/unitxt/loaders.py
  src/unitxt/settings_utils.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Move logger out of the class and make some methods private
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

Add docstrings
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

Include prompts in results by default
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

added new params to wml chat and fixed message creation
  src/unitxt/inference.py
Due: enforce-relative-imports

fix llava test
  tests/inference/test_inference_engine.py
Due: enforce-library-imports

minor fix to execution accuracy
  src/unitxt/metrics.py
Due: enforce-relative-imports

text2sql metrics update
  src/unitxt/metrics.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

Minor bug fix affecting Text2SQL execution accuracy (#1657)
  src/unitxt/metrics.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

WMLInferenceEngineChat fixes (#1656)
  src/unitxt/inference.py
  tests/inference/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

Update head qa dataset
  prepare/cards/head_qa.py
  src/unitxt/catalog/cards/head_qa/en.json
  src/unitxt/catalog/cards/head_qa/gl.json
  src/unitxt/catalog/cards/head_qa/it.json
  src/unitxt/catalog/cards/head_qa/ru.json
Due: enforce-library-imports

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
