Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

Fix MultipleSourceLoader documentation (#1270)
  src/unitxt/loaders.py
Due: enforce-relative-imports

Ignore unitxt-venv (#1269)
  .gitignore
  CONTRIBUTING.md
Due: none

fixes
  src/unitxt/inference.py
Due: enforce-relative-imports

Add mmmu
  prepare/cards/mmmu.py
  src/unitxt/catalog/cards/mmmu/accounting.json
  src/unitxt/catalog/cards/mmmu/agriculture.json
  src/unitxt/catalog/cards/mmmu/architecture_and_engineering.json
  src/unitxt/catalog/cards/mmmu/art.json
  src/unitxt/catalog/cards/mmmu/art_theory.json
  src/unitxt/catalog/cards/mmmu/basic_medical_science.json
  src/unitxt/catalog/cards/mmmu/biology.json
  src/unitxt/catalog/cards/mmmu/chemistry.json
  src/unitxt/catalog/cards/mmmu/clinical_medicine.json
  src/unitxt/catalog/cards/mmmu/computer_science.json
  src/unitxt/catalog/cards/mmmu/design.json
  src/unitxt/catalog/cards/mmmu/diagnostics_and_laboratory_medicine.json
  src/unitxt/catalog/cards/mmmu/economics.json
  src/unitxt/catalog/cards/mmmu/electronics.json
  src/unitxt/catalog/cards/mmmu/energy_and_power.json
  src/unitxt/catalog/cards/mmmu/finance.json
  src/unitxt/catalog/cards/mmmu/geography.json
  src/unitxt/catalog/cards/mmmu/history.json
  src/unitxt/catalog/cards/mmmu/literature.json
  src/unitxt/catalog/cards/mmmu/manage.json
  src/unitxt/catalog/cards/mmmu/marketing.json
  src/unitxt/catalog/cards/mmmu/materials.json
  src/unitxt/catalog/cards/mmmu/math.json
  src/unitxt/catalog/cards/mmmu/mechanical_engineering.json
  src/unitxt/catalog/cards/mmmu/music.json
  src/unitxt/catalog/cards/mmmu/pharmacy.json
  src/unitxt/catalog/cards/mmmu/physics.json
  src/unitxt/catalog/cards/mmmu/psychology.json
  src/unitxt/catalog/cards/mmmu/public_health.json
  src/unitxt/catalog/cards/mmmu/sociology.json
  src/unitxt/collections_operators.py
  src/unitxt/operators.py
  src/unitxt/string_operators.py
Due: enforce-relative-imports, enforce-library-imports

fix tests to match fixes in MetricPipeline
  prepare/metrics/rag_faithfulness.py
Due: enforce-library-imports

fix tests to match fixes in MetricPipeline
  prepare/metrics/rag_answer_correctness.py
Due: enforce-library-imports

fix expected score_name values to match the MetricPipeline main_score field this is to match changes in MetricPipeline
  prepare/metrics/rag_context_correctness.py
Due: enforce-library-imports

update the main_score of 'metrics.token_overlap_with_context' from "score" to "f1", to match changes in MetricPipeline
  prepare/metrics/rag.py
  src/unitxt/catalog/metrics/token_overlap_with_context.json
Due: enforce-library-imports

restore expected score_name, and fix the score_name set in the defined MetricPipeline objects
  prepare/metrics/rag_context_correctness.py
  src/unitxt/catalog/metrics/rag/context_correctness.json
  src/unitxt/catalog/metrics/rag/context_correctness/map.json
  src/unitxt/catalog/metrics/rag/context_correctness/mrr.json
  src/unitxt/catalog/metrics/rag/context_correctness/retrieval_at_k.json
Due: enforce-library-imports

remove postprocess_steps since these actions are now done by MetricPipeline
  prepare/metrics/rag_answer_correctness.py
  src/unitxt/catalog/metrics/rag/answer_correctness.json
  src/unitxt/catalog/metrics/rag/answer_correctness/bert_score_recall.json
  src/unitxt/catalog/metrics/rag/answer_correctness/bert_score_recall_ml.json
  src/unitxt/catalog/metrics/rag/answer_correctness/sentence_bert_bge.json
  src/unitxt/catalog/metrics/rag/answer_correctness/sentence_bert_mini_lm.json
  src/unitxt/catalog/metrics/rag/answer_correctness/token_recall.json
Due: enforce-library-imports

remove postprocess_steps since these actions are now done by MetricPipeline
  prepare/metrics/rag_faithfulness.py
  src/unitxt/catalog/metrics/rag/faithfulness.json
  src/unitxt/catalog/metrics/rag/faithfulness/bert_score_k_precision.json
  src/unitxt/catalog/metrics/rag/faithfulness/bert_score_k_precision_ml.json
  src/unitxt/catalog/metrics/rag/faithfulness/sentence_bert_bge.json
  src/unitxt/catalog/metrics/rag/faithfulness/sentence_bert_mini_lm.json
  src/unitxt/catalog/metrics/rag/faithfulness/token_k_precision.json
Due: enforce-library-imports

Add mmmu (#1271)
  prepare/cards/mmmu.py
  src/unitxt/catalog/cards/mmmu/accounting.json
  src/unitxt/catalog/cards/mmmu/agriculture.json
  src/unitxt/catalog/cards/mmmu/architecture_and_engineering.json
  src/unitxt/catalog/cards/mmmu/art.json
  src/unitxt/catalog/cards/mmmu/art_theory.json
  src/unitxt/catalog/cards/mmmu/basic_medical_science.json
  src/unitxt/catalog/cards/mmmu/biology.json
  src/unitxt/catalog/cards/mmmu/chemistry.json
  src/unitxt/catalog/cards/mmmu/clinical_medicine.json
  src/unitxt/catalog/cards/mmmu/computer_science.json
  src/unitxt/catalog/cards/mmmu/design.json
  src/unitxt/catalog/cards/mmmu/diagnostics_and_laboratory_medicine.json
  src/unitxt/catalog/cards/mmmu/economics.json
  src/unitxt/catalog/cards/mmmu/electronics.json
  src/unitxt/catalog/cards/mmmu/energy_and_power.json
  src/unitxt/catalog/cards/mmmu/finance.json
  src/unitxt/catalog/cards/mmmu/geography.json
  src/unitxt/catalog/cards/mmmu/history.json
  src/unitxt/catalog/cards/mmmu/literature.json
  src/unitxt/catalog/cards/mmmu/manage.json
  src/unitxt/catalog/cards/mmmu/marketing.json
  src/unitxt/catalog/cards/mmmu/materials.json
  src/unitxt/catalog/cards/mmmu/math.json
  src/unitxt/catalog/cards/mmmu/mechanical_engineering.json
  src/unitxt/catalog/cards/mmmu/music.json
  src/unitxt/catalog/cards/mmmu/pharmacy.json
  src/unitxt/catalog/cards/mmmu/physics.json
  src/unitxt/catalog/cards/mmmu/psychology.json
  src/unitxt/catalog/cards/mmmu/public_health.json
  src/unitxt/catalog/cards/mmmu/sociology.json
  src/unitxt/collections_operators.py
  src/unitxt/operators.py
  src/unitxt/string_operators.py
Due: enforce-relative-imports, enforce-library-imports

A fix for a bug in metric pipeline (#1268)
  .secrets.baseline
  prepare/metrics/rag.py
  prepare/metrics/rag_answer_correctness.py
  prepare/metrics/rag_context_correctness.py
  prepare/metrics/rag_faithfulness.py
  src/unitxt/catalog/metrics/rag/answer_correctness.json
  src/unitxt/catalog/metrics/rag/answer_correctness/bert_score_recall.json
  src/unitxt/catalog/metrics/rag/answer_correctness/bert_score_recall_ml.json
  src/unitxt/catalog/metrics/rag/answer_correctness/sentence_bert_bge.json
  src/unitxt/catalog/metrics/rag/answer_correctness/sentence_bert_mini_lm.json
  src/unitxt/catalog/metrics/rag/answer_correctness/token_recall.json
  src/unitxt/catalog/metrics/rag/context_correctness.json
  src/unitxt/catalog/metrics/rag/context_correctness/map.json
  src/unitxt/catalog/metrics/rag/context_correctness/mrr.json
  src/unitxt/catalog/metrics/rag/context_correctness/retrieval_at_k.json
  src/unitxt/catalog/metrics/rag/faithfulness.json
  src/unitxt/catalog/metrics/rag/faithfulness/bert_score_k_precision.json
  src/unitxt/catalog/metrics/rag/faithfulness/bert_score_k_precision_ml.json
  src/unitxt/catalog/metrics/rag/faithfulness/sentence_bert_bge.json
  src/unitxt/catalog/metrics/rag/faithfulness/sentence_bert_mini_lm.json
  src/unitxt/catalog/metrics/rag/faithfulness/token_k_precision.json
  src/unitxt/catalog/metrics/token_overlap_with_context.json
  src/unitxt/metrics.py
  src/unitxt/operators.py
Due: enforce-relative-imports, enforce-library-imports

added tablebench taskcard
  prepare/cards/tablebench.py
  src/unitxt/catalog/cards/tablebench.json
Due: enforce-library-imports

minor formatting change
  prepare/cards/tablebench.py
Due: enforce-library-imports

Added Tablebench taskcard (#1273)
  prepare/cards/tablebench.py
  src/unitxt/catalog/cards/tablebench.json
Due: enforce-library-imports

Fix missing deep copy in MapInstanceValues
  src/unitxt/operators.py
Due: enforce-relative-imports

Fixed typo in comments.
  src/unitxt/operators.py
Due: enforce-relative-imports

suggest a careful return of value in case it is not a str, rather than always deepcopy
  src/unitxt/operators.py
  tests/library/test_operators.py
Due: enforce-relative-imports, enforce-library-imports

implement employing utils.recursive_copy, rather than ast.evaluate_literal. Got a simpler flow
  src/unitxt/operators.py
Due: enforce-relative-imports

In docstring, updated the types of mappers
  src/unitxt/operators.py
Due: enforce-relative-imports

polished doc string
  profile/card_profiler.py
Due: enforce-library-imports

performance profiler with visualization
  profile/card_profiler.py
Due: enforce-library-imports

compare benchmark profiling over two branches
  profile/card_profiler.py
  profile/compare_profiles.sh
Due: enforce-library-imports

allow a list of benchmark cards, and return net runtime
  profile/card_profiler.py
  profile/compare_profiles.sh
Due: enforce-library-imports

improved docstring
  profile/card_profiler.py
Due: enforce-library-imports

pack all into a comparing yml
  .github/workflows/performance.yml
  profile/card_profiler.py
  profile/compare_performance_results.py
Due: enforce-library-imports

inst in demo support added
  src/unitxt/formats.py
Due: enforce-relative-imports

Fix missing deep copy in MapInstanceValues (#1267)
  src/unitxt/operators.py
  tests/library/test_operators.py
Due: enforce-relative-imports, enforce-library-imports

ilab evaluation
  ilab/__init__.py
  ilab/adjust_digit_output_format.py
  ilab/create_ilab_skill_yaml.py
  ilab/evaluate_from_file.py
  ilab/ilab_evaluate.py
  ilab/run_base_bam_model.py
  src/unitxt/inference.py
Due: enforce-relative-imports, enforce-library-imports

temp
  src/unitxt/templates.py
  tests/library/test_templates.py
Due: enforce-relative-imports, enforce-library-imports

tests
  prepare/templates/relation_extraction/templates.py
  src/unitxt/templates.py
  tests/library/test_templates.py
Due: enforce-relative-imports, enforce-library-imports

A PR suggested for issue #1260: Add num_instances to scores
  .secrets.baseline
  prepare/metrics/accuracy.py
  prepare/metrics/anls.py
  prepare/metrics/bleu.py
  prepare/metrics/char_edit_dist_accuracy.py
  prepare/metrics/custom_f1.py
  prepare/metrics/customf1fuzzy.py
  prepare/metrics/grouped_instance_metrics.py
  prepare/metrics/jaccard_index.py
  prepare/metrics/kendalltau.py
  prepare/metrics/kpa.py
  prepare/metrics/llama_index_metrics.py
  prepare/metrics/map.py
  prepare/metrics/matthews_correlation.py
  prepare/metrics/meteor.py
  prepare/metrics/mrr.py
  prepare/metrics/ndcg.py
  prepare/metrics/normalized_sacrebleu.py
  prepare/metrics/perplexity.py
  prepare/metrics/precision_recall.py
  prepare/metrics/prediction_length.py
  prepare/metrics/rag.py
  prepare/metrics/rag_answer_correctness.py
  prepare/metrics/rag_context_correctness.py
  prepare/metrics/rag_faithfulness.py
  prepare/metrics/regard_metric.py
  prepare/metrics/rerank_recall.py
  prepare/metrics/retrieval.py
  prepare/metrics/roc_auc.py
  prepare/metrics/rouge.py
  prepare/metrics/safety_metric.py
  prepare/metrics/spearman.py
  prepare/metrics/squad.py
  prepare/metrics/string_containment.py
  prepare/metrics/unnormalized_sacrebleu.py
  prepare/metrics/wer.py
  src/unitxt/metrics.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

added the expected number_of_evaluated_instances.. to unittests in test_api and in test_fusion
  tests/library/test_api.py
  tests/library/test_fusion.py
Due: enforce-library-imports

and to test_eval_utiles
  tests/library/test_eval_utils.py
Due: enforce-library-imports

Add stream name to generation of dataset
  src/unitxt/stream.py
Due: enforce-relative-imports

Add stream name to generation of dataset (#1276)
  src/unitxt/stream.py
Due: enforce-relative-imports

Fix wrong passing of demos pool.
  src/unitxt/standard.py
Due: enforce-relative-imports

add operators for robustness check on tables
  src/unitxt/struct_data_operators.py
  tests/library/test_struct_data_operators.py
Due: enforce-relative-imports, enforce-library-imports

Fix demos pool inference (#1278)
  src/unitxt/standard.py
Due: enforce-relative-imports

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
