Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

Added error mesage
  src/unitxt/standard.py
Due: enforce-relative-imports

Changed Rouge to be HuggingfaceBulkMetric
  prepare/metrics/rouge.py
  src/unitxt/catalog/metrics/rouge.json
  src/unitxt/catalog/metrics/rouge_with_confidence_intervals.json
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

fixed test_metric_utils.py by better concentrating on rougeL only
  src/unitxt/metrics.py
  tests/library/test_metric_utils.py
Due: enforce-relative-imports, enforce-library-imports

added meteor as an HuggingFaceInstanceMetric
  .secrets.baseline
  prepare/metrics/meteor.py
  src/unitxt/catalog/metrics/meteor.json
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

Remove confidence interval calculation for meteor metric by default
  prepare/metrics/meteor.py
  src/unitxt/catalog/metrics/meteor_with_confidence_intervals.json
Due: enforce-library-imports

implemented Meteor and Rouge with inhouse code
  .secrets.baseline
  src/unitxt/metrics.py
Due: enforce-relative-imports

Changed all Sample randomization
  src/unitxt/splitters.py
  tests/library/test_splitters.py
Due: enforce-relative-imports, enforce-library-imports

download quietly, and import in prepare
  .secrets.baseline
  src/unitxt/metrics.py
Due: enforce-relative-imports

trying to avoid .secrets.baseline
  .secrets.baseline
Due: none

add validation to tldr, remove shuffle from billsum (shuffled by the SplitRandomMix)
  prepare/cards/billsum.py
  prepare/cards/tldr.py
  src/unitxt/catalog/cards/billsum.json
  src/unitxt/catalog/cards/billsum_document_filtered_to_10000_chars.json
  src/unitxt/catalog/cards/billsum_document_filtered_to_6000_chars.json
  src/unitxt/catalog/cards/tldr.json
  src/unitxt/catalog/cards/tldr_document_filtered_to_10000_chars.json
  src/unitxt/catalog/cards/tldr_document_filtered_to_6000_chars.json
Due: enforce-library-imports

fix formatting
  prepare/cards/billsum.py
  prepare/cards/tldr.py
Due: enforce-library-imports

add rag_end_to_end metrics
  prepare/metrics/rag.py
Due: enforce-library-imports

add rag_end_to_end metrics
  src/unitxt/catalog/metrics/rag/end_to_end/answer_correctness.json
  src/unitxt/catalog/metrics/rag/end_to_end/answer_faithfulness.json
  src/unitxt/catalog/metrics/rag/end_to_end/answer_reward.json
  src/unitxt/catalog/metrics/rag/end_to_end/context_correctness.json
  src/unitxt/catalog/metrics/rag/end_to_end/context_relevance.json
Due: none

Add task rag_end_to_end
  prepare/tasks/rag/__init__.py
  prepare/tasks/rag/rag_end_to_end.py
  src/unitxt/catalog/tasks/rag/corpora.json
  src/unitxt/catalog/tasks/rag/end_to_end.json
Due: enforce-library-imports

Updated demos in test
  tests/library/test_api.py
  tests/library/test_recipe.py
Due: enforce-library-imports

Updated demos in test
  tests/library/test_recipe.py
Due: enforce-library-imports

add card for clapnq end_to_end
  prepare/cards/rag/end_to_end/__init__.py
  prepare/cards/rag/end_to_end/clapnq.py
  prepare/templates/rag/end_to_end.py
  src/unitxt/catalog/cards/rag/benchmark/clap_nq/en.json
  src/unitxt/catalog/cards/rag/documents/clap_nq/en.json
  src/unitxt/catalog/templates/rag/end_to_end/json_predictions.json
Due: enforce-library-imports

secret.baseline how do I get rid of it?
  .secrets.baseline
Due: none

cr fixes
  examples/evaluate_a_judge_model_capabilities_on_arena_hard.py
  examples/evaluate_a_model_using_arena_hard.py
Due: enforce-library-imports

preliminary scigen taskcard added
  prepare/cards/scigen.py
  src/unitxt/blocks.py
  src/unitxt/catalog/cards/scigen.json
  src/unitxt/struct_data_operators.py
Due: enforce-relative-imports, enforce-library-imports

start adding flores101
  prepare/cards/translation/flores101.py
  prepare/cards/translation/wmt/en_de.py
  prepare/cards/translation/wmt/en_fr.py
  prepare/cards/translation/wmt/en_ro.py
  prepare/metrics/normalized_sacrebleu.py
  pyproject.toml
  src/unitxt/catalog/cards/mt/flores_101/eng_jpn.json
Due: enforce-library-imports

llmaj format fix
  prepare/metrics/llm_as_judge/pairwise_rating/llama_3_ibm_genai_arena_hard_template.py
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_70b_instruct_ibm_genai_template_arena_hard.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_70b_instruct_ibm_genai_template_arena_hard_with_shuffling.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_8b_instruct_ibm_genai_template_arena_hard.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_8b_instruct_ibm_genai_template_arena_hard_with_shuffling.json
Due: enforce-library-imports

llmaj format fix
  examples/evaluate_a_model_using_arena_hard.py
Due: enforce-library-imports

added llama3 llm_as_judge metric for table2text task
  prepare/cards/scigen.py
  prepare/metrics/llm_as_judge/rating/llama_3_ibm_genai_table2text_template.py
  prepare/tasks/response_assessment/rating/table2text_single_turn_with_reference.py
  prepare/templates/response_assessment/rating/table2text_single_turn_with_reference.py
  src/unitxt/catalog/cards/scigen.json
  src/unitxt/catalog/metrics/llm_as_judge/rating/llama_3_70b_instruct_ibm_genai_template_table2text_single_turn_with_reference.json
  src/unitxt/catalog/tasks/response_assessment/rating/table2text_single_turn_with_reference.json
  src/unitxt/catalog/templates/response_assessment/rating/table2text_single_turn_with_reference.json
Due: enforce-library-imports

filter problematic examples
  prepare/cards/fin_qa.py
  src/unitxt/catalog/cards/fin_qa.json
Due: enforce-library-imports

add validation to tldr, remove shuffle from billsum (#1038)
  prepare/cards/billsum.py
  prepare/cards/tldr.py
  src/unitxt/catalog/cards/billsum.json
  src/unitxt/catalog/cards/billsum_document_filtered_to_10000_chars.json
  src/unitxt/catalog/cards/billsum_document_filtered_to_6000_chars.json
  src/unitxt/catalog/cards/tldr.json
  src/unitxt/catalog/cards/tldr_document_filtered_to_10000_chars.json
  src/unitxt/catalog/cards/tldr_document_filtered_to_6000_chars.json
Due: enforce-library-imports

add sandbox_benjams
  .gitignore
Due: none

template changes
  prepare/cards/numeric_nlg.py
  prepare/templates/generation/generation.py
  src/unitxt/catalog/cards/numeric_nlg.json
  src/unitxt/catalog/templates/generation/structured.json
  src/unitxt/catalog/templates/generation/structured/with_caption.json
  src/unitxt/catalog/templates/generation/structured_input/with_caption.json
Due: enforce-library-imports

add subset
  prepare/cards/rag/end_to_end/clapnq.py
Due: enforce-library-imports

add a reduction of clap_nq
  src/unitxt/catalog/cards/rag/benchmark/clap_nq_reduced/en.json
  src/unitxt/catalog/cards/rag/documents/clap_nq_reduced/en.json
Due: none

add a reduction of clap_nq
  prepare/cards/rag/end_to_end/clapnq.py
  src/unitxt/catalog/cards/rag/benchmark/clap_nq_reduced/en.json
Due: enforce-library-imports

tenplate structure
  prepare/templates/generation/generation.py
  src/unitxt/catalog/templates/generation/structured.json
  src/unitxt/catalog/templates/generation/with_caption.json
Due: enforce-library-imports

tenplate structure
  src/unitxt/catalog/templates/generation/structured/with_caption.json
  src/unitxt/catalog/templates/generation/structured_input/with_caption.json
Due: none

remove constants
  prepare/cards/rag/end_to_end/clapnq.py
  prepare/metrics/rag.py
Due: enforce-library-imports

Refactor Rouge and Meteor to InstanceMetric for faster score computation (#1011)
  .secrets.baseline
  prepare/metrics/meteor.py
  prepare/metrics/rouge.py
  src/unitxt/catalog/metrics/meteor.json
  src/unitxt/catalog/metrics/rouge.json
  src/unitxt/catalog/metrics/rouge_with_confidence_intervals.json
  src/unitxt/metrics.py
  src/unitxt/standard.py
  tests/library/test_metric_utils.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

rename sandbox_benjams to sandbox
  .gitignore
Due: none

Add CloseTextSampler and FixedIndicesSampler (#1034)
  src/unitxt/splitters.py
  src/unitxt/standard.py
  tests/library/test_api.py
  tests/library/test_recipe.py
  tests/library/test_splitters.py
Due: enforce-relative-imports, enforce-library-imports

remove sandbox
  .gitignore
Due: none

changed input and output of templates to "input_fields" and "reference_ fields" - Non backward compatible (#1030)
  docs/docs/adding_template.rst
  src/unitxt/llm_as_judge.py
  src/unitxt/task.py
  src/unitxt/templates.py
  tests/library/test_format_and_template_interaction.py
  tests/library/test_formats.py
  tests/library/test_metrics.py
  tests/library/test_operators.py
  tests/library/test_templates.py
Due: enforce-relative-imports, enforce-library-imports

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
