Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]
        exclude: src/unitxt/metrics.py
      # Run the linter on the specific file with the ignore flag
      - id: ruff
        name: ruff (src/unitxt/metrics.py)
        files: src/unitxt/metrics.py
        args: [--fix, --ignore, C901]
      # Run the formatter
      - id: ruff-format

  - repo: https://github.com/ibm/detect-secrets
    # If you desire to use a specific version of detect-secrets, you can replace `master` with other git revisions such as branch, tag or commit sha.
    # You are encouraged to use static refs such as tags, instead of branch name
    #
    # Running "pre-commit autoupdate" automatically updates rev to latest tag
    rev: 0.13.1+ibm.61.dss
    hooks:
      - id: detect-secrets # pragma: whitelist secret
        # Add options for detect-secrets-hook binary. You can run `detect-secrets-hook --help` to list out all possible options.
        # You may also run `pre-commit run detect-secrets` to preview the scan result.
        # when "--baseline" without "--use-all-plugins", pre-commit scan with just plugins in baseline file
        # when "--baseline" with "--use-all-plugins", pre-commit scan with all available plugins
        # add "--fail-on-unaudited" to fail pre-commit for unaudited potential secrets
        args: [--baseline, .secrets.baseline, --use-all-plugins, --fail-on-unaudited]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

bugfix in RetrievalAtK Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/metrics.py
Due: enforce-relative-imports

add ci_scores Signed-off-by: lilacheden <lilach.edel@gmail.com>
  .secrets.baseline
  src/unitxt/metrics.py
Due: enforce-relative-imports

Add a post processor to convert log probs dictionary to probabilities of a class Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/processors/processors.py
  src/unitxt/catalog/processors/infer_last_token_logprobs_to_yes_no_probs.json
  src/unitxt/catalog/processors/infer_logprobs_to_yes_no_probs.json
  src/unitxt/processors.py
Due: enforce-relative-imports, enforce-library-imports

Add post processor to convert log probs dictionary to probabilities of a specific class (#1247)
  prepare/processors/processors.py
  src/unitxt/catalog/processors/infer_last_token_logprobs_to_yes_no_probs.json
  src/unitxt/catalog/processors/infer_logprobs_to_yes_no_probs.json
  src/unitxt/processors.py
Due: enforce-relative-imports, enforce-library-imports

Fix template for faithfulness without the question Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/rag_eval_judges.py
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_c_a_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_c_a_judge_llama_3_1_405b_instruct_fp8_bam.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_c_a_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_c_a_judge_llama_3_70b_instruct_bam.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_c_a_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_c_a_judge_mixtral_8x7b_instruct_v01_bam.json
Due: enforce-library-imports

add flan-t5-xxl Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/rag_eval_judges.py
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_judge_flan_t5_xxl.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_judge_flan_t5_xxl_bam.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_strict_judge_flan_t5_xxl.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_strict_judge_flan_t5_xxl_bam.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_c_a_gt_judge_flan_t5_xxl.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_c_a_gt_judge_flan_t5_xxl_bam.json
  src/unitxt/catalog/metrics/rag/answer_relevance/answer_relevance_q_a_judge_flan_t5_xxl.json
  src/unitxt/catalog/metrics/rag/answer_relevance/answer_relevance_q_a_judge_flan_t5_xxl_bam.json
  src/unitxt/catalog/metrics/rag/context_relevance/context_relevance_q_c_judge_flan_t5_xxl.json
  src/unitxt/catalog/metrics/rag/context_relevance/context_relevance_q_c_judge_flan_t5_xxl_bam.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/correctness_holistic_q_c_a_judge_flan_t5_xxl.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/correctness_holistic_q_c_a_judge_flan_t5_xxl_bam.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_c_a_judge_flan_t5_xxl.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_c_a_judge_flan_t5_xxl_bam.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_q_c_a_judge_flan_t5_xxl.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_q_c_a_judge_flan_t5_xxl_bam.json
Due: enforce-library-imports

CI for metrics other than main + Bugfix in RetrievalAtK (#1246)
  .secrets.baseline
  src/unitxt/metrics.py
Due: enforce-relative-imports

fix merging error in inference Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/inference.py
Due: enforce-relative-imports

Make F1Strings faster
  src/unitxt/metrics.py
Due: enforce-relative-imports

Fix duplicate column deletion bug in pandas serializer
  src/unitxt/struct_data_operators.py
Due: enforce-relative-imports

Add huggingface cache disabling to unitxt settings
  src/unitxt/loaders.py
  src/unitxt/settings_utils.py
Due: enforce-relative-imports

Add huggingface cache disabling option to unitxt settings (#1250)
  src/unitxt/loaders.py
  src/unitxt/settings_utils.py
Due: enforce-relative-imports

Make F1Strings faster (#1248)
  src/unitxt/metrics.py
Due: enforce-relative-imports

Fix duplicate column deletion bug in pandas serializer (#1249)
  src/unitxt/struct_data_operators.py
Due: enforce-relative-imports

use mps / cuda gpu in encoder metrics
  src/unitxt/metrics.py
Due: enforce-relative-imports

add prediction length metric
  src/unitxt/metrics.py
Due: enforce-relative-imports

add prepare file for length metric
  prepare/metrics/prediction_length.py
Due: enforce-library-imports

push prediction length metric to catalog
  src/unitxt/catalog/metrics/prediction_length.json
Due: none

bump HELM version
  requirements/helm.rqr
Due: none

bump helm and python version in test
  .github/workflows/test_helm.yml
Due: none

fixed scigen post-processor
  prepare/cards/scigen.py
  src/unitxt/catalog/cards/scigen.json
Due: enforce-library-imports

revived no_deep just to compare performance
  .secrets.baseline
Due: none

revived to study performance
  src/unitxt/metrics.py
  src/unitxt/operators.py
  src/unitxt/stream_operators.py
  src/unitxt/test_utils/metrics.py
Due: enforce-relative-imports

now demanded trust_remote_code=True
  prepare/cards/xlsum.py
Due: enforce-library-imports

revived no_deep just to compare performance (#1254)
  .secrets.baseline
  prepare/cards/xlsum.py
  src/unitxt/metrics.py
  src/unitxt/operators.py
  src/unitxt/stream_operators.py
  src/unitxt/test_utils/metrics.py
Due: enforce-relative-imports, enforce-library-imports

fixed scigen post-processor (#1253)
  prepare/cards/scigen.py
  src/unitxt/catalog/cards/scigen.json
Due: enforce-library-imports

Add prediction length metric (#1252)
  .github/workflows/test_helm.yml
  prepare/metrics/prediction_length.py
  requirements/helm.rqr
  src/unitxt/catalog/metrics/prediction_length.json
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

copy main_score ci_low and ci_high to score_ci_low and score_ci_high update the score_name to be the main_score
  prepare/metrics/rag_answer_correctness.py
  src/unitxt/catalog/metrics/rag/answer_correctness.json
  src/unitxt/catalog/metrics/rag/answer_correctness/bert_score_recall.json
  src/unitxt/catalog/metrics/rag/answer_correctness/bert_score_recall_ml.json
  src/unitxt/catalog/metrics/rag/answer_correctness/sentence_bert_bge.json
  src/unitxt/catalog/metrics/rag/answer_correctness/sentence_bert_mini_lm.json
  src/unitxt/catalog/metrics/rag/answer_correctness/token_recall.json
Due: enforce-library-imports

move recall test outside of main so it runs in CI
  prepare/metrics/rag_answer_correctness.py
Due: enforce-library-imports

also update the global score name to be as defined by the metric main_score
  prepare/metrics/rag_answer_correctness.py
  src/unitxt/catalog/metrics/rag/answer_correctness.json
  src/unitxt/catalog/metrics/rag/answer_correctness/bert_score_recall.json
  src/unitxt/catalog/metrics/rag/answer_correctness/bert_score_recall_ml.json
  src/unitxt/catalog/metrics/rag/answer_correctness/sentence_bert_bge.json
  src/unitxt/catalog/metrics/rag/answer_correctness/sentence_bert_mini_lm.json
  src/unitxt/catalog/metrics/rag/answer_correctness/token_recall.json
Due: enforce-library-imports

add test_faithfulness_token_k_precision()
  prepare/metrics/rag_faithfulness.py
Due: enforce-library-imports

add FloatToOneOrZeroReturnZeroIfFails processor Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/processors/processors.py
  src/unitxt/catalog/processors/infer_last_token_logprobs_to_yes_no_probs.json
  src/unitxt/catalog/processors/infer_logprobs_to_yes_no_probs.json
  src/unitxt/processors.py
Due: enforce-relative-imports, enforce-library-imports

add postprocessing steps, setting the score_name properly, and the confidence interval values properly
  prepare/metrics/rag_faithfulness.py
  src/unitxt/catalog/metrics/rag/faithfulness.json
  src/unitxt/catalog/metrics/rag/faithfulness/bert_score_k_precision.json
  src/unitxt/catalog/metrics/rag/faithfulness/bert_score_k_precision_ml.json
  src/unitxt/catalog/metrics/rag/faithfulness/sentence_bert_bge.json
  src/unitxt/catalog/metrics/rag/faithfulness/sentence_bert_mini_lm.json
  src/unitxt/catalog/metrics/rag/faithfulness/token_k_precision.json
Due: enforce-library-imports

rename processor attribute Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/catalog/processors/float_to_one_zero_return_zero_if_fails.json
  src/unitxt/processors.py
Due: enforce-relative-imports

fix processor name Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/processors/processors.py
  src/unitxt/catalog/processors/float_to_one_or_zero_return_zero_if_fails.json
Due: enforce-library-imports

add binarization option to GenerativeBinaryJudge Signed-off-by: lilacheden <lilach.edel@gmail.com>
  .secrets.baseline
  src/unitxt/metrics.py
Due: enforce-relative-imports

bugfix in wmlinferenceengine Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/inference.py
Due: enforce-relative-imports
