Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

Allow role names to be captialized in SerializeOpenAiFormatDialog
  src/unitxt/dialog_operators.py
Due: enforce-relative-imports

Fix faithfulness confidence intervals (#1257)
  prepare/metrics/rag_faithfulness.py
  src/unitxt/catalog/metrics/rag/faithfulness.json
  src/unitxt/catalog/metrics/rag/faithfulness/bert_score_k_precision.json
  src/unitxt/catalog/metrics/rag/faithfulness/bert_score_k_precision_ml.json
  src/unitxt/catalog/metrics/rag/faithfulness/sentence_bert_bge.json
  src/unitxt/catalog/metrics/rag/faithfulness/sentence_bert_mini_lm.json
  src/unitxt/catalog/metrics/rag/faithfulness/token_k_precision.json
Due: enforce-library-imports

fix postprocessors in turl_col_type taskcard
  prepare/cards/turl_col_type.py
  src/unitxt/catalog/cards/turl_col_type.json
Due: enforce-library-imports

Allow role names to be captialized in SerializeOpenAiFormatDialog (#1259)
  src/unitxt/dialog_operators.py
Due: enforce-relative-imports

fix processor Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/processors/processors.py
  src/unitxt/catalog/processors/cast_to_float_return_0_5_if_failed.json
Due: enforce-library-imports

Return old doc_vqa
  prepare/cards/doc_vqa.py
Due: enforce-library-imports

xnli now starts with splits train, validation, and test, see https://huggingface.co/datasets/facebook/xnli/viewer/ar
  prepare/cards/xnli.py
  src/unitxt/catalog/cards/xnli/ar.json
  src/unitxt/catalog/cards/xnli/bg.json
  src/unitxt/catalog/cards/xnli/de.json
  src/unitxt/catalog/cards/xnli/el.json
  src/unitxt/catalog/cards/xnli/en.json
  src/unitxt/catalog/cards/xnli/es.json
  src/unitxt/catalog/cards/xnli/fr.json
  src/unitxt/catalog/cards/xnli/hi.json
  src/unitxt/catalog/cards/xnli/ru.json
  src/unitxt/catalog/cards/xnli/sw.json
  src/unitxt/catalog/cards/xnli/th.json
  src/unitxt/catalog/cards/xnli/tr.json
  src/unitxt/catalog/cards/xnli/ur.json
  src/unitxt/catalog/cards/xnli/vi.json
  src/unitxt/catalog/cards/xnli/zh.json
Due: enforce-library-imports

Accelerate image example 1000X
  .secrets.baseline
  examples/evaluate_image_text_to_text.py
  prepare/cards/doc_vqa.py
  profile/profile.sh
  profile/run_profile.py
  pyproject.toml
  src/unitxt/api.py
  src/unitxt/artifact.py
  src/unitxt/catalog/cards/doc_vqa/en.json
  src/unitxt/catalog/cards/doc_vqa/lmms_eval.json
  src/unitxt/catalog/metrics/llm_as_judge/conversation_answer_idk/llama3_v1_ibmgenai_judges.json
  src/unitxt/collections_operators.py
  src/unitxt/generator_utils.py
  src/unitxt/inference.py
  src/unitxt/loaders.py
  src/unitxt/metric_utils.py
  src/unitxt/metrics.py
  src/unitxt/operators.py
  src/unitxt/processors.py
  src/unitxt/split_utils.py
  src/unitxt/splitters.py
  src/unitxt/stream.py
  src/unitxt/struct_data_operators.py
  src/unitxt/type_utils.py
  src/unitxt/utils.py
  tests/library/test_utils.py
Due: enforce-relative-imports, enforce-library-imports

Update
  examples/evaluate_image_text_to_text.py
  src/unitxt/catalog/metrics/llm_as_judge/conversation_answer_idk/llama3_v1_ibmgenai_judges.json
Due: enforce-library-imports

add BlueBench as a benchmark to the catalog
  prepare/benchmarks/bluebench.py
  src/unitxt/catalog/benchmarks/bluebench.json
Due: enforce-library-imports

fix rel path
  prepare/benchmarks/bluebench.py
Due: enforce-library-imports

split rename to 'test' already done in first step - 'operators.mt_bench.rating_hf_space_processing_steps'
  prepare/cards/mt_bench/response_assessment/rating/multi_turn_with_reference_gpt4_judgement.py
  src/unitxt/catalog/cards/mt_bench/response_assessment/rating/multi_turn_with_reference_gpt4_judgement.json
Due: enforce-library-imports

Update operators.py
  src/unitxt/operators.py
Due: enforce-relative-imports

Update operators.py (#1263)
  src/unitxt/operators.py
Due: enforce-relative-imports

vllm remote inference engine hosting mixtral
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_judge_mixtral_8x7b_instruct_v01_vllm.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_strict_judge_mixtral_8x7b_instruct_v01_vllm.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_c_a_gt_judge_mixtral_8x7b_instruct_v01_vllm.json
  src/unitxt/catalog/metrics/rag/answer_relevance/answer_relevance_q_a_judge_mixtral_8x7b_instruct_v01_vllm.json
  src/unitxt/catalog/metrics/rag/context_relevance/context_relevance_q_c_judge_mixtral_8x7b_instruct_v01_vllm.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/correctness_holistic_q_c_a_judge_mixtral_8x7b_instruct_v01_vllm.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_c_a_judge_mixtral_8x7b_instruct_v01_vllm.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_q_c_a_judge_mixtral_8x7b_instruct_v01_vllm.json
Due: none

vllm remote inference engine hosting mixtral
  prepare/metrics/rag_eval_judges.py
  src/unitxt/inference.py
Due: enforce-relative-imports, enforce-library-imports

vllm remote inference engine hosting mixtral
  .secrets.baseline
  src/unitxt/metrics.py
Due: enforce-relative-imports

add return_meta_data option to api.infer Signed-off-by: lilacheden <lilach.edel@gmail.com>ç
  src/unitxt/api.py
Due: enforce-relative-imports

Fix tests
  tests/library/test_api.py
  tests/library/test_recipe.py
Due: enforce-library-imports

Fix tests
  tests/library/test_recipe.py
Due: enforce-library-imports

Fix the empty few-shot target issue when using produce()
  src/unitxt/templates.py
Due: enforce-relative-imports

add default fields to rag_eval task Signed-off-by: lilacheden <lilach.edel@gmail.com>ç
  prepare/tasks/rag_eval.py
  src/unitxt/catalog/tasks/rag_eval/answer_correctness/binary.json
  src/unitxt/catalog/tasks/rag_eval/answer_correctness/non_binary.json
  src/unitxt/catalog/tasks/rag_eval/answer_relevance/binary.json
  src/unitxt/catalog/tasks/rag_eval/answer_relevance/non_binary.json
  src/unitxt/catalog/tasks/rag_eval/context_relevance/binary.json
  src/unitxt/catalog/tasks/rag_eval/context_relevance/non_binary.json
  src/unitxt/catalog/tasks/rag_eval/correctness_holistic/binary.json
  src/unitxt/catalog/tasks/rag_eval/correctness_holistic/non_binary.json
  src/unitxt/catalog/tasks/rag_eval/faithfulness/binary.json
  src/unitxt/catalog/tasks/rag_eval/faithfulness/non_binary.json
Due: enforce-library-imports

refactor LLMAsJudge: add TaskBasedLLMasJudge and add field mapper Signed-off-by: lilacheden <lilach.edel@gmail.com>ç
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

Update binary llm_as_judge metrics to Signed-off-by: lilacheden <lilach.edel@gmail.com>ç
  prepare/metrics/llm_as_judge/binary_judge.py
  src/unitxt/catalog/metrics/llm_as_judge/binary/gpt_4_turbo_openai_template_answer_correctness_judge_loose_match_no_context_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/gpt_4_turbo_openai_template_answer_relevance_judge_answer_relevance_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/gpt_4_turbo_openai_template_context_relevance_judge_context_relevance_ares_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/gpt_4_turbo_openai_template_correctness_holistic_judge_correctness_simple_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/gpt_4_turbo_openai_template_faithfulness_judge_with_question_simplified_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_405b_instruct_fp8_bam_template_answer_correctness_judge_loose_match_no_context_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_405b_instruct_fp8_bam_template_answer_relevance_judge_answer_relevance_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_405b_instruct_fp8_bam_template_context_relevance_judge_context_relevance_ares_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_405b_instruct_fp8_bam_template_correctness_holistic_judge_correctness_simple_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_405b_instruct_fp8_bam_template_faithfulness_judge_with_question_simplified_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_template_answer_correctness_judge_loose_match_no_context_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_template_answer_relevance_judge_answer_relevance_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_template_context_relevance_judge_context_relevance_ares_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_template_correctness_holistic_judge_correctness_simple_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_template_faithfulness_judge_with_question_simplified_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_70b_instruct_bam_template_answer_correctness_judge_loose_match_no_context_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_70b_instruct_bam_template_answer_relevance_judge_answer_relevance_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_70b_instruct_bam_template_context_relevance_judge_context_relevance_ares_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_70b_instruct_bam_template_correctness_holistic_judge_correctness_simple_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_70b_instruct_bam_template_faithfulness_judge_with_question_simplified_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_bam_template_answer_correctness_judge_loose_match_no_context_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_bam_template_answer_relevance_judge_answer_relevance_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_bam_template_context_relevance_judge_context_relevance_ares_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_bam_template_correctness_holistic_judge_correctness_simple_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_bam_template_faithfulness_judge_with_question_simplified_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_wml_template_answer_correctness_judge_loose_match_no_context_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_wml_template_answer_relevance_judge_answer_relevance_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_wml_template_context_relevance_judge_context_relevance_ares_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_wml_template_correctness_holistic_judge_correctness_simple_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_wml_template_faithfulness_judge_with_question_simplified_logprobs.json
Due: enforce-library-imports

adding vllm as a remote server hosting mixtral 7x8 (#1264)
  .secrets.baseline
  prepare/metrics/rag_eval_judges.py
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_judge_mixtral_8x7b_instruct_v01_vllm.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_strict_judge_mixtral_8x7b_instruct_v01_vllm.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_c_a_gt_judge_mixtral_8x7b_instruct_v01_vllm.json
  src/unitxt/catalog/metrics/rag/answer_relevance/answer_relevance_q_a_judge_mixtral_8x7b_instruct_v01_vllm.json
  src/unitxt/catalog/metrics/rag/context_relevance/context_relevance_q_c_judge_mixtral_8x7b_instruct_v01_vllm.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/correctness_holistic_q_c_a_judge_mixtral_8x7b_instruct_v01_vllm.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_c_a_judge_mixtral_8x7b_instruct_v01_vllm.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_q_c_a_judge_mixtral_8x7b_instruct_v01_vllm.json
  src/unitxt/inference.py
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

fixes
  prepare/metrics/rag_eval_judges.py
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_judge_Mixtral_8X7B_Instruct_v0_1_vllm.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_strict_judge_Mixtral_8X7B_Instruct_v0_1_vllm.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_c_a_gt_judge_Mixtral_8X7B_Instruct_v0_1_vllm.json
  src/unitxt/catalog/metrics/rag/answer_relevance/answer_relevance_q_a_judge_Mixtral_8X7B_Instruct_v0_1_vllm.json
  src/unitxt/catalog/metrics/rag/context_relevance/context_relevance_q_c_judge_Mixtral_8X7B_Instruct_v0_1_vllm.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/correctness_holistic_q_c_a_judge_Mixtral_8X7B_Instruct_v0_1_vllm.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_c_a_judge_Mixtral_8X7B_Instruct_v0_1_vllm.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_q_c_a_judge_Mixtral_8X7B_Instruct_v0_1_vllm.json
Due: enforce-library-imports

Fix the empty few-shot target issue when using produce() (#1266)
  src/unitxt/templates.py
  tests/library/test_api.py
  tests/library/test_recipe.py
Due: enforce-relative-imports, enforce-library-imports

Update json
  src/unitxt/catalog/benchmarks/bluebench.json
Due: none

Improve catalog path resolution
  prepare/benchmarks/bluebench.py
Due: enforce-library-imports

fix postprocessors in turl_col_type taskcard (#1261)
  prepare/cards/turl_col_type.py
  src/unitxt/catalog/cards/turl_col_type.json
Due: enforce-library-imports

use OrderedDict
  prepare/benchmarks/bluebench.py
Due: enforce-library-imports

sort os.listdir
  prepare/benchmarks/bluebench.py
  src/unitxt/catalog/benchmarks/bluebench.json
Due: enforce-library-imports

fixes
  src/unitxt/inference.py
Due: enforce-relative-imports

A fix for bug in metric pipeline
  .secrets.baseline
  src/unitxt/metrics.py
Due: enforce-relative-imports

Fix answer correctness confidence intervals (#1256)
  prepare/metrics/rag_answer_correctness.py
  src/unitxt/catalog/metrics/rag/answer_correctness.json
  src/unitxt/catalog/metrics/rag/answer_correctness/bert_score_recall.json
  src/unitxt/catalog/metrics/rag/answer_correctness/bert_score_recall_ml.json
  src/unitxt/catalog/metrics/rag/answer_correctness/sentence_bert_bge.json
  src/unitxt/catalog/metrics/rag/answer_correctness/sentence_bert_mini_lm.json
  src/unitxt/catalog/metrics/rag/answer_correctness/token_recall.json
Due: enforce-library-imports

Fix
  src/unitxt/metrics.py
  src/unitxt/operators.py
Due: enforce-relative-imports

add BlueBench as a benchmark to the catalog (#1262)
  prepare/benchmarks/bluebench.py
  src/unitxt/catalog/benchmarks/bluebench.json
Due: enforce-library-imports

Ignore unitxt-venv
  .gitignore
  CONTRIBUTING.md
Due: none

Fix MultipleSourceLoader documentation
  src/unitxt/loaders.py
Due: enforce-relative-imports

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
