Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

fix ci computation for global metrics with scoes_prefix Signed-off-by: lilacheden <lilach.edel@gmail.com>
  .secrets.baseline
  src/unitxt/metrics.py
Due: enforce-relative-imports

distribute classes in yaml
  utils/create_ilab_skill_yaml.py
Due: enforce-library-imports

Added example of RAG
  docs/docs/examples.rst
  examples/evaluate_rag_response_generation.py
Due: enforce-library-imports

Fixes to WMLInferenceEngine
  src/unitxt/inference.py
Due: enforce-relative-imports

Added example of RAG response (#1121)
  docs/docs/examples.rst
  examples/evaluate_rag_response_generation.py
Due: enforce-library-imports

warn before score overwrite
  .secrets.baseline
  src/unitxt/error_utils.py
  src/unitxt/metrics.py
  tests/library/test_operators.py
Due: enforce-relative-imports, enforce-library-imports

secrets
  .secrets.baseline
Due: none

make all one commit to ease rebasing. Last thing: update by the new typing of prediction (type rather than string)
  src/unitxt/aggregators.py
  src/unitxt/base_metrics.py
  src/unitxt/dataset.py
  src/unitxt/metric.py
  src/unitxt/metrics.py
  tests/library/test_metric_utils.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

warn before score overwrite (#1124)
  .secrets.baseline
  src/unitxt/error_utils.py
  src/unitxt/metrics.py
  tests/library/test_operators.py
Due: enforce-relative-imports, enforce-library-imports

Update examples.rst
  docs/docs/examples.rst
Due: none

Update rag_support.rst
  docs/docs/rag_support.rst
Due: none

Add central controllable deepcopy function
  src/unitxt/artifact.py
  src/unitxt/collections_operators.py
  src/unitxt/generator_utils.py
  src/unitxt/loaders.py
  src/unitxt/metric_utils.py
  src/unitxt/metrics.py
  src/unitxt/operators.py
  src/unitxt/splitters.py
  src/unitxt/stream.py
  src/unitxt/struct_data_operators.py
  src/unitxt/utils.py
Due: enforce-relative-imports

Get it to work first
  src/unitxt/utils.py
Due: enforce-relative-imports

Update summarization task and templates to support multiple reference summaries
  prepare/cards/billsum.py
  prepare/cards/cnn_dailymail.py
  prepare/cards/mlsum.py
  prepare/cards/xlsum.py
  prepare/cards/xsum.py
  prepare/tasks/summarization/abstractive.py
  prepare/templates/summarization/abstractive.py
  src/unitxt/catalog/tasks/summarization/abstractive.json
  src/unitxt/catalog/templates/summarization/abstractive/casual.json
  src/unitxt/catalog/templates/summarization/abstractive/formal.json
  src/unitxt/catalog/templates/summarization/abstractive/formal_without_label.json
  src/unitxt/catalog/templates/summarization/abstractive/full.json
  src/unitxt/catalog/templates/summarization/abstractive/instruct_full.json
  src/unitxt/catalog/templates/summarization/abstractive/instruct_one_sentence.json
  src/unitxt/catalog/templates/summarization/abstractive/instruct_passive.json
  src/unitxt/catalog/templates/summarization/abstractive/instruct_tldr.json
  src/unitxt/catalog/templates/summarization/abstractive/instruct_write_succinct.json
  src/unitxt/catalog/templates/summarization/abstractive/instructive.json
  src/unitxt/catalog/templates/summarization/abstractive/one_sentence.json
  src/unitxt/catalog/templates/summarization/abstractive/passive.json
  src/unitxt/catalog/templates/summarization/abstractive/professional.json
  src/unitxt/catalog/templates/summarization/abstractive/title.json
  src/unitxt/catalog/templates/summarization/abstractive/write_succinct.json
Due: enforce-library-imports

Add central controllable deepcopy function (#1120)
  src/unitxt/artifact.py
  src/unitxt/collections_operators.py
  src/unitxt/generator_utils.py
  src/unitxt/loaders.py
  src/unitxt/metric_utils.py
  src/unitxt/metrics.py
  src/unitxt/operators.py
  src/unitxt/splitters.py
  src/unitxt/stream.py
  src/unitxt/struct_data_operators.py
  src/unitxt/utils.py
Due: enforce-relative-imports

Add num_demos to metadata
  src/unitxt/collections_operators.py
  src/unitxt/standard.py
Due: enforce-relative-imports

Update src/unitxt/inference.py
  src/unitxt/inference.py
Due: enforce-relative-imports

minor corrections
  src/unitxt/inference.py
Due: enforce-relative-imports

postpreprocess_steps -> postprocess_steps
  docs/docs/adding_metric.rst
  prepare/metrics/rag.py
  prepare/metrics/rag_context_relevance.py
  src/unitxt/catalog/metrics/rag/context_perplexity.json
  src/unitxt/catalog/metrics/rag/response_generation/correctness/bert_score/deberta_large_mnli.json
  src/unitxt/catalog/metrics/rag/response_generation/correctness/bert_score/deberta_v3_base_mnli_xnli_ml.json
  src/unitxt/catalog/metrics/rag/response_generation/correctness/token_overlap.json
  src/unitxt/catalog/metrics/rag/response_generation/faithfullness/token_overlap.json
  src/unitxt/catalog/metrics/token_overlap_with_context.json
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

return postpreprocess_steps with deprecated warning
  src/unitxt/metrics.py
Due: enforce-relative-imports

throw error if both postpreprocess and postprocess are defined
  .secrets.baseline
  src/unitxt/metrics.py
Due: enforce-relative-imports

postpreprocess_steps -> postprocess_steps (#1117)
  .secrets.baseline
  docs/docs/adding_metric.rst
  prepare/metrics/rag.py
  prepare/metrics/rag_context_relevance.py
  src/unitxt/catalog/metrics/rag/context_perplexity.json
  src/unitxt/catalog/metrics/rag/response_generation/correctness/bert_score/deberta_large_mnli.json
  src/unitxt/catalog/metrics/rag/response_generation/correctness/bert_score/deberta_v3_base_mnli_xnli_ml.json
  src/unitxt/catalog/metrics/rag/response_generation/correctness/token_overlap.json
  src/unitxt/catalog/metrics/rag/response_generation/faithfullness/token_overlap.json
  src/unitxt/catalog/metrics/token_overlap_with_context.json
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

made _client InternalField
  src/unitxt/inference.py
Due: enforce-relative-imports

Fixes to WMLInferenceEngine (#1122)
  src/unitxt/inference.py
Due: enforce-relative-imports

removed all deeps, but deep before each metric, run eager
  prepare/cards/billsum.py
  prepare/cards/ffqa_filtered.py
  prepare/metrics/normalized_sacrebleu.py
  src/unitxt/catalog/cards/ffqa_filtered/16k.json
  src/unitxt/catalog/cards/ffqa_filtered/2k.json
  src/unitxt/catalog/cards/ffqa_filtered/4k.json
  src/unitxt/catalog/cards/ffqa_filtered/8k.json
  src/unitxt/metrics.py
  src/unitxt/operators.py
  src/unitxt/stream_operators.py
  src/unitxt/test_utils/metrics.py
Due: enforce-relative-imports, enforce-library-imports

having successfully passed all tests in eager_mode, try now in non-eager mode
  .secrets.baseline
  src/unitxt/metrics.py
  src/unitxt/operators.py
  src/unitxt/settings_utils.py
Due: enforce-relative-imports

watching eager mode first, to verify the breakup of known cross reference among instances
  src/unitxt/settings_utils.py
  src/unitxt/test_utils/metrics.py
Due: enforce-relative-imports

add infer_logprobs_to_yes_no_probs processors Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/processors/processors.py
  src/unitxt/catalog/processors/infer_last_token_logprobs_to_yes_no_probs.json
  src/unitxt/catalog/processors/infer_logprobs_to_yes_no_probs.json
  src/unitxt/processors.py
Due: enforce-relative-imports, enforce-library-imports

fix ci_scores for global metric Signed-off-by: lilacheden <lilach.edel@gmail.com>
  .secrets.baseline
  src/unitxt/metrics.py
Due: enforce-relative-imports

support "space_id" in wml credentials Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/inference.py
Due: enforce-relative-imports

add _infer_log_probs to WMLInferenceEngine Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/inference.py
Due: enforce-relative-imports

Update prepare/cards/xsum.py
  prepare/cards/xsum.py
Due: enforce-library-imports

fix _infer_log_probs Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/inference.py
Due: enforce-relative-imports

comment out openai param that raises errors Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/inference.py
Due: enforce-relative-imports

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
