Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

Fixed examples with grouping
  docs/docs/evaluating_datasets.rst
Due: none

Aded chat API documentaiton.
  docs/docs/loading_datasets.rst
Due: none

Fixed typos.
  docs/blog/inference_engines_blog.rst
  docs/docs/loading_datasets.rst
Due: none

changed prompt for wikitq,tab_fact to constrain output
  prepare/cards/tab_fact.py
  prepare/cards/wikitq.py
  src/unitxt/catalog/cards/tab_fact.json
  src/unitxt/catalog/cards/wikitq.json
Due: enforce-library-imports

fixed for metric-list
  src/unitxt/operators.py
Due: enforce-relative-imports

now, with load_iterable in loaders, we can clearly fetch net load time of dataset, excluding the introduction of each and every instance into unitxt that is only done in eager mode
  performance/card_profiler.py
  src/unitxt/loaders.py
Due: enforce-relative-imports, enforce-library-imports

performance-test: suggest a more canonic time for non-eager and eager execution
  performance/card_profiler.py
Due: enforce-library-imports

limit loading through HF tools, for speedup
  src/unitxt/loaders.py
Due: enforce-relative-imports

secrets
  src/unitxt/loaders.py
  utils/.secrets.baseline
Due: enforce-relative-imports

remove specific formatting for llama.*3
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

Add the option of passing the criteria as a single string description
  src/unitxt/eval_assist_llm_as_judge_direct.py
Due: enforce-relative-imports

Update
  examples/evaluate_a_judge_model_capabilities_on_arena_hard.py
  examples/evaluate_a_model_using_arena_hard.py
  examples/evaluate_batched_multiclass_classification.py
  examples/evaluate_benchmark.py
  examples/evaluate_benchmark_with_custom_provider.py
  examples/evaluate_bluebench.py
  examples/evaluate_classification_dataset_with_given_predictions.py
  examples/evaluate_different_demo_selections.py
  examples/evaluate_different_formats.py
  examples/evaluate_different_templates.py
  examples/evaluate_existing_dataset_by_llm_as_judge.py
  examples/evaluate_existing_dataset_no_install.py
  examples/evaluate_existing_dataset_with_install.py
  examples/evaluate_external_rag_results_with_binary_llm_as_judge.py
  examples/evaluate_grounded_ensemble_judge.py
  examples/evaluate_idk_judge.py
  examples/evaluate_image_text_to_text.py
  examples/evaluate_image_text_to_text_lmms_eval_inference.py
  examples/evaluate_image_text_to_text_with_different_templates.py
  examples/evaluate_qa_dataset_with_given_predictions.py
  examples/evaluate_rag_end_to_end_dataset_with_given_predictions.py
  examples/evaluate_rag_response_generation.py
  examples/evaluate_rag_using_binary_llm_as_judge.py
  examples/evaluate_same_datasets_and_models_with_multiple_providers.py
  examples/evaluate_summarization_dataset_llm_as_judge.py
  examples/qa_evaluation.py
  examples/robustness_testing_for_vision_text_models.py
  examples/standalone_evaluation_llm_as_judge.py
  examples/standalone_qa_evaluation.py
  src/unitxt/api.py
  src/unitxt/metric_utils.py
Due: enforce-relative-imports, enforce-library-imports

Fix evaluate_eval_assist_direct_user_criteria_no_catalog
  examples/evaluate_eval_assist_direct_user_criteria_no_catalog.py
Due: enforce-library-imports

fix evaluate_existing_dataset_by_llm_as_judge_eval_assist
  examples/evaluate_existing_dataset_by_llm_as_judge_eval_assist.py
Due: enforce-library-imports

Refactor EvalAssistLLMAsJudgeDirect
  src/unitxt/eval_assist_llm_as_judge_direct.py
Due: enforce-relative-imports

Refactor EvalAssistLLMAsJudgePairwise
  src/unitxt/eval_assist_llm_as_judge.py
  src/unitxt/eval_assist_llm_as_judge_direct.py
  src/unitxt/eval_assist_llm_as_judge_pairwise.py
Due: enforce-relative-imports

add text2sql execution accuracy metric
  prepare/metrics/text2sql_execution_accuracy.py
  src/unitxt/catalog/metrics/text2sql/execution_accuracy.json
Due: enforce-library-imports

add processors
  prepare/processors/text2sql.py
  src/unitxt/catalog/processors/text2sql/get_sql.json
Due: enforce-library-imports

add text2sql task
  prepare/tasks/text2sql.py
  src/unitxt/catalog/tasks/text2sql.json
Due: enforce-library-imports

condition download in presence of a cache dir
  src/unitxt/text2sql/data_utils.py
Due: enforce-relative-imports

add basic template
  prepare/templates/text2sql/templates.py
  src/unitxt/catalog/templates/text2sql/all.json
  src/unitxt/catalog/templates/text2sql/you_are_given.json
Due: enforce-library-imports

add init fille
  src/unitxt/text2sql/__init__.py
Due: enforce-relative-imports

add processors
  src/unitxt/text2sql/processors.py
Due: enforce-relative-imports

change id to int
  .gitignore
  prepare/cards/text2sql.py
  prepare/tasks/text2sql.py
  src/unitxt/catalog/tasks/text2sql.json
Due: enforce-library-imports

change notations in templates
  prepare/templates/text2sql/templates.py
  src/unitxt/text2sql/templates.py
Due: enforce-relative-imports, enforce-library-imports

push to catalog
  src/unitxt/catalog/cards/text2sql/bird.json
  src/unitxt/catalog/cards/text2sql/bird_mini_dev.json
  src/unitxt/catalog/tasks/text2sql.json
  src/unitxt/catalog/templates/text2sql/you_are_given.json
Due: none

add evidence, remove SL
  prepare/templates/text2sql/templates.py
  src/unitxt/catalog/templates/text2sql/all.json
  src/unitxt/catalog/templates/text2sql/you_are_given_with_hint.json
  src/unitxt/text2sql/templates.py
Due: enforce-relative-imports, enforce-library-imports

remove unued function, fix
  src/unitxt/text2sql/processors.py
Due: enforce-relative-imports

fix imports from unitxt.text2sql
  src/unitxt/__init__.py
Due: enforce-relative-imports

push to catalog
  prepare/processors/text2sql.py
  src/unitxt/catalog/processors/text2sql/get_sql.json
Due: enforce-library-imports

fix cache location
  src/unitxt/text2sql/data_utils.py
Due: enforce-relative-imports

add example
  examples/evaluate_text2sql.py
Due: enforce-library-imports

Allow a serializer per field in template.
  examples/evaluate_rag_response_generation.py
  src/unitxt/serializers.py
  src/unitxt/templates.py
  tests/library/test_templates.py
Due: enforce-relative-imports, enforce-library-imports

Revert "Allow a serializer per field in template."
  examples/evaluate_rag_response_generation.py
  src/unitxt/serializers.py
  src/unitxt/templates.py
  tests/library/test_templates.py
Due: enforce-relative-imports, enforce-library-imports

Revert "Revert "Allow a serializer per field in template.""
  examples/evaluate_rag_response_generation.py
  src/unitxt/serializers.py
  src/unitxt/templates.py
  tests/library/test_templates.py
Due: enforce-relative-imports, enforce-library-imports

Updated documentation
  docs/docs/types_and_serializers.rst
Due: none

Fixed bug in flattening of instances.
  src/unitxt/metric_utils.py
Due: enforce-relative-imports

Moved to Qwen model which is not gated
  examples/qa_evaluation.py
Due: enforce-library-imports

Moved to Qwen model which is not gated
  examples/standalone_qa_evaluation.py
Due: enforce-library-imports

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
