Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]
        exclude: src/unitxt/metrics.py|examples/evaluate_existing_dataset_no_install.py
      # Run the linter on the specific file with the ignore flag
      - id: ruff
        name: ruff (examples/evaluate_existing_dataset_no_install.py)
        files: examples/evaluate_existing_dataset_no_install.py
        args: [--fix, --ignore, T201]
      # Run the formatter
      - id: ruff-format

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [--baseline, utils/.secrets.baseline]
        exclude: utils/.secrets.baseline

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

Add support for all Granite Guardian risks
  examples/evaluate_granite_guardian.py
  prepare/metrics/granite_guardian.py
  prepare/metrics/llm_as_judge/llm_as_judge.py
  src/unitxt/catalog/metrics/granite_guardian/agentic_workflows/function_calling_hallucination.json
  src/unitxt/catalog/metrics/granite_guardian/assistant_message/harm.json
  src/unitxt/catalog/metrics/granite_guardian/assistant_message/profanity.json
  src/unitxt/catalog/metrics/granite_guardian/assistant_message/social_bias.json
  src/unitxt/catalog/metrics/granite_guardian/assistant_message/unethical_behavior.json
  src/unitxt/catalog/metrics/granite_guardian/assistant_message/violence.json
  src/unitxt/catalog/metrics/granite_guardian/rag/answer_relevance.json
  src/unitxt/catalog/metrics/granite_guardian/rag/context_relevance.json
  src/unitxt/catalog/metrics/granite_guardian/rag/groundedness.json
  src/unitxt/catalog/metrics/granite_guardian/user_message/harm.json
  src/unitxt/catalog/metrics/granite_guardian/user_message/jailbreak.json
  src/unitxt/catalog/metrics/granite_guardian/user_message/profanity.json
  src/unitxt/catalog/metrics/granite_guardian/user_message/social_bias.json
  src/unitxt/catalog/metrics/granite_guardian/user_message/unethical_behavior.json
  src/unitxt/catalog/metrics/granite_guardian/user_message/violence.json
  src/unitxt/llm_as_judge_constants.py
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

Add support for custom risks
  src/unitxt/llm_as_judge_constants.py
  src/unitxt/metrics.py
Due: enforce-relative-imports

Add generation params
  src/unitxt/metrics.py
Due: enforce-relative-imports

Apply linter
  examples/evaluate_granite_guardian_agentic_risks.py
  examples/evaluate_granite_guardian_assistant_message_risks.py
  examples/evaluate_granite_guardian_custom_risks.py
  examples/evaluate_granite_guardian_rag_risks.py
  examples/evaluate_granite_guardian_user_message_risks.py
Due: enforce-library-imports

Use inference engine instead of internal model
  src/unitxt/metrics.py
Due: enforce-relative-imports

Adapt rag catalog
  prepare/metrics/rag_granite_guardian.py
  src/unitxt/catalog/metrics/rag/granite_guardian_answer_relevance.json
  src/unitxt/catalog/metrics/rag/granite_guardian_context_relevance.json
  src/unitxt/catalog/metrics/rag/granite_guardian_groundedness.json
Due: enforce-library-imports

Use credentials object and pass project and space
  src/unitxt/inference.py
Due: enforce-relative-imports

Adapt WMLInferenceEngineBase credential check: apikey -> api_key
  src/unitxt/inference.py
Due: enforce-relative-imports

Bring back breaking catalog names changes
  src/unitxt/catalog/metrics/llm_as_judge/direct/criteria/adherence_with_format.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/criteria/answer_completeness.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/rits/granite3_0_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/watsonx/granite3_0_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/rits/granite3_0_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/watsonx/granite3_0_8b.json
Due: none

Adapt WML log prob default params
  src/unitxt/inference.py
  src/unitxt/metrics.py
Due: enforce-relative-imports

Apply linter
  src/unitxt/metrics.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Change default names to what Granite Guardian expects by default
  src/unitxt/metrics.py
Due: enforce-relative-imports

Bring back certainty and improve score naming
  src/unitxt/metrics.py
Due: enforce-relative-imports

Add wrongly deleted artifacts
  src/unitxt/catalog/metrics/llm_as_judge/direct/criteria/adherence_with_format.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/criteria/answer_completeness.json
Due: none

fixes and format
  src/unitxt/metrics.py
Due: enforce-relative-imports

Adapt rag granite guardian prepare file and catalog
  prepare/metrics/rag_granite_guardian.py
  src/unitxt/catalog/metrics/rag/granite_guardian_answer_relevance.json
  src/unitxt/catalog/metrics/rag/granite_guardian_context_relevance.json
  src/unitxt/catalog/metrics/rag/granite_guardian_groundedness.json
Due: enforce-library-imports

Add _mock_infer_log_probs to infer_log_prob
  src/unitxt/inference.py
Due: enforce-relative-imports

Only create watsonx inference engine if it is None
  src/unitxt/metrics.py
Due: enforce-relative-imports

Adapt granite guardian catalog and fix example
  examples/evaluate_granite_guardian_rag_risks.py
  examples/evaluate_granite_guardian_user_message_risks.py
  prepare/metrics/granite_guardian.py
  src/unitxt/catalog/metrics/granite_guardian/agentic_risk/function_call.json
  src/unitxt/catalog/metrics/granite_guardian/assistant_risk/harm.json
  src/unitxt/catalog/metrics/granite_guardian/assistant_risk/profanity.json
  src/unitxt/catalog/metrics/granite_guardian/assistant_risk/social_bias.json
  src/unitxt/catalog/metrics/granite_guardian/assistant_risk/unethical_behavior.json
  src/unitxt/catalog/metrics/granite_guardian/assistant_risk/violence.json
  src/unitxt/catalog/metrics/granite_guardian/rag_risk/answer_relevance.json
  src/unitxt/catalog/metrics/granite_guardian/rag_risk/context_relevance.json
  src/unitxt/catalog/metrics/granite_guardian/rag_risk/groundedness.json
  src/unitxt/catalog/metrics/granite_guardian/user_risk/harm.json
  src/unitxt/catalog/metrics/granite_guardian/user_risk/jailbreak.json
  src/unitxt/catalog/metrics/granite_guardian/user_risk/profanity.json
  src/unitxt/catalog/metrics/granite_guardian/user_risk/social_bias.json
  src/unitxt/catalog/metrics/granite_guardian/user_risk/unethical_behavior.json
  src/unitxt/catalog/metrics/granite_guardian/user_risk/violence.json
Due: enforce-library-imports

Modularize getting the prompt
  src/unitxt/metrics.py
Due: enforce-relative-imports

Adapt metric so it works for all inference engines
  src/unitxt/metrics.py
Due: enforce-relative-imports

Apply linter
  examples/evaluate_granite_guardian_rag_risks.py
  src/unitxt/metrics.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Implement inheritance for each risk type
  examples/evaluate_granite_guardian_assistant_message_risks.py
  examples/evaluate_granite_guardian_custom_risks.py
  examples/evaluate_granite_guardian_user_message_risks.py
  prepare/metrics/granite_guardian.py
  prepare/metrics/rag_granite_guardian.py
  src/unitxt/catalog/metrics/granite_guardian/agentic_risk/function_call.json
  src/unitxt/catalog/metrics/granite_guardian/assistant_risk/harm.json
  src/unitxt/catalog/metrics/granite_guardian/assistant_risk/profanity.json
  src/unitxt/catalog/metrics/granite_guardian/assistant_risk/social_bias.json
  src/unitxt/catalog/metrics/granite_guardian/assistant_risk/unethical_behavior.json
  src/unitxt/catalog/metrics/granite_guardian/assistant_risk/violence.json
  src/unitxt/catalog/metrics/granite_guardian/rag_risk/answer_relevance.json
  src/unitxt/catalog/metrics/granite_guardian/rag_risk/context_relevance.json
  src/unitxt/catalog/metrics/granite_guardian/rag_risk/groundedness.json
  src/unitxt/catalog/metrics/granite_guardian/user_risk/harm.json
  src/unitxt/catalog/metrics/granite_guardian/user_risk/jailbreak.json
  src/unitxt/catalog/metrics/granite_guardian/user_risk/profanity.json
  src/unitxt/catalog/metrics/granite_guardian/user_risk/social_bias.json
  src/unitxt/catalog/metrics/granite_guardian/user_risk/unethical_behavior.json
  src/unitxt/catalog/metrics/granite_guardian/user_risk/violence.json
  src/unitxt/catalog/metrics/rag/granite_guardian_answer_relevance.json
  src/unitxt/catalog/metrics/rag/granite_guardian_context_relevance.json
  src/unitxt/catalog/metrics/rag/granite_guardian_groundedness.json
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

Apply linter
  examples/evaluate_granite_guardian_assistant_message_risks.py
  examples/evaluate_granite_guardian_custom_risks.py
  examples/evaluate_granite_guardian_user_message_risks.py
  prepare/metrics/granite_guardian.py
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

Moved api_spec to task
  examples/api_call_evaluation.py
Due: enforce-library-imports

Add breakpoint to every unitxt catalog asset at its core logic
  src/unitxt/debug_utils.py
  src/unitxt/operator.py
  src/unitxt/operators.py
Due: enforce-relative-imports

Prioritize using default templates from card over task
  src/unitxt/standard.py
Due: enforce-relative-imports

Uncomment log prob params check
  src/unitxt/inference.py
Due: enforce-relative-imports

[Breaking change] Add support for all Granite Guardian risks (#1576)
  examples/evaluate_granite_guardian_agentic_risks.py
  examples/evaluate_granite_guardian_assistant_message_risks.py
  examples/evaluate_granite_guardian_custom_risks.py
  examples/evaluate_granite_guardian_rag_risks.py
  examples/evaluate_granite_guardian_user_message_risks.py
  prepare/metrics/granite_guardian.py
  prepare/metrics/llm_as_judge/llm_as_judge.py
  prepare/metrics/rag_granite_guardian.py
  src/unitxt/catalog/metrics/granite_guardian/agentic_risk/function_call.json
  src/unitxt/catalog/metrics/granite_guardian/assistant_risk/harm.json
  src/unitxt/catalog/metrics/granite_guardian/assistant_risk/profanity.json
  src/unitxt/catalog/metrics/granite_guardian/assistant_risk/social_bias.json
  src/unitxt/catalog/metrics/granite_guardian/assistant_risk/unethical_behavior.json
  src/unitxt/catalog/metrics/granite_guardian/assistant_risk/violence.json
  src/unitxt/catalog/metrics/granite_guardian/rag_risk/answer_relevance.json
  src/unitxt/catalog/metrics/granite_guardian/rag_risk/context_relevance.json
  src/unitxt/catalog/metrics/granite_guardian/rag_risk/groundedness.json
  src/unitxt/catalog/metrics/granite_guardian/user_risk/harm.json
  src/unitxt/catalog/metrics/granite_guardian/user_risk/jailbreak.json
  src/unitxt/catalog/metrics/granite_guardian/user_risk/profanity.json
  src/unitxt/catalog/metrics/granite_guardian/user_risk/social_bias.json
  src/unitxt/catalog/metrics/granite_guardian/user_risk/unethical_behavior.json
  src/unitxt/catalog/metrics/granite_guardian/user_risk/violence.json
  src/unitxt/catalog/metrics/rag/granite_guardian_answer_relevance.json
  src/unitxt/catalog/metrics/rag/granite_guardian_context_relevance.json
  src/unitxt/catalog/metrics/rag/granite_guardian_groundedness.json
  src/unitxt/inference.py
  src/unitxt/llm_as_judge_constants.py
  src/unitxt/metrics.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

allow multi reference in hhem metric Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/metrics.py
Due: enforce-relative-imports

add ragbench faithfulness cards Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/cards/ragbench_faithfulness.py
  src/unitxt/catalog/cards/rag_eval/faithfulness/ragbench/covidqa.json
  src/unitxt/catalog/cards/rag_eval/faithfulness/ragbench/cuad.json
  src/unitxt/catalog/cards/rag_eval/faithfulness/ragbench/delucionqa.json
  src/unitxt/catalog/cards/rag_eval/faithfulness/ragbench/emanual.json
  src/unitxt/catalog/cards/rag_eval/faithfulness/ragbench/expertqa.json
  src/unitxt/catalog/cards/rag_eval/faithfulness/ragbench/finqa.json
  src/unitxt/catalog/cards/rag_eval/faithfulness/ragbench/hagrid.json
  src/unitxt/catalog/cards/rag_eval/faithfulness/ragbench/hotpotqa.json
  src/unitxt/catalog/cards/rag_eval/faithfulness/ragbench/msmarco.json
  src/unitxt/catalog/cards/rag_eval/faithfulness/ragbench/pubmedqa.json
  src/unitxt/catalog/cards/rag_eval/faithfulness/ragbench/tatqa.json
  src/unitxt/catalog/cards/rag_eval/faithfulness/ragbench/techqa.json
Due: enforce-library-imports

add "mistral-large-instruct" to provider Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/inference.py
Due: enforce-relative-imports

add "mistral-large-instruct" classification engines Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/engines/classification/classification_engines.py
  src/unitxt/catalog/engines/classification/mistral_large_instruct_2407_rits.json
  src/unitxt/catalog/engines/classification/mistral_large_watsonx.json
Due: enforce-library-imports

add rag judges that use mistral-large-instruct Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/llm_as_judge/rag_judge.py
  src/unitxt/catalog/metrics/rag/end_to_end/answer_correctness/mistral_large_instruct_rits_judge.json
  src/unitxt/catalog/metrics/rag/end_to_end/answer_correctness/mistral_large_instruct_watsonx_judge.json
  src/unitxt/catalog/metrics/rag/end_to_end/answer_relevance/mistral_large_instruct_rits_judge.json
  src/unitxt/catalog/metrics/rag/end_to_end/answer_relevance/mistral_large_instruct_watsonx_judge.json
  src/unitxt/catalog/metrics/rag/end_to_end/context_relevance/mistral_large_instruct_rits_judge.json
  src/unitxt/catalog/metrics/rag/end_to_end/context_relevance/mistral_large_instruct_watsonx_judge.json
  src/unitxt/catalog/metrics/rag/end_to_end/faithfulness/mistral_large_instruct_rits_judge.json
  src/unitxt/catalog/metrics/rag/end_to_end/faithfulness/mistral_large_instruct_watsonx_judge.json
  src/unitxt/catalog/metrics/rag/external_rag/answer_correctness/mistral_large_instruct_rits_judge.json
  src/unitxt/catalog/metrics/rag/external_rag/answer_correctness/mistral_large_instruct_watsonx_judge.json
  src/unitxt/catalog/metrics/rag/external_rag/answer_relevance/mistral_large_instruct_rits_judge.json
  src/unitxt/catalog/metrics/rag/external_rag/answer_relevance/mistral_large_instruct_watsonx_judge.json
  src/unitxt/catalog/metrics/rag/external_rag/context_relevance/mistral_large_instruct_rits_judge.json
  src/unitxt/catalog/metrics/rag/external_rag/context_relevance/mistral_large_instruct_watsonx_judge.json
  src/unitxt/catalog/metrics/rag/external_rag/faithfulness/mistral_large_instruct_rits_judge.json
  src/unitxt/catalog/metrics/rag/external_rag/faithfulness/mistral_large_instruct_watsonx_judge.json
  src/unitxt/catalog/metrics/rag/response_generation/answer_correctness/mistral_large_instruct_rits_judge.json
  src/unitxt/catalog/metrics/rag/response_generation/answer_correctness/mistral_large_instruct_watsonx_judge.json
  src/unitxt/catalog/metrics/rag/response_generation/answer_relevance/mistral_large_instruct_rits_judge.json
  src/unitxt/catalog/metrics/rag/response_generation/answer_relevance/mistral_large_instruct_watsonx_judge.json
  src/unitxt/catalog/metrics/rag/response_generation/faithfulness/mistral_large_instruct_rits_judge.json
  src/unitxt/catalog/metrics/rag/response_generation/faithfulness/mistral_large_instruct_watsonx_judge.json
Due: enforce-library-imports

fix: minor bug when only space id is provided for WML inference (#1583)
  src/unitxt/inference.py
Due: enforce-relative-imports

fix: improve CSV loading error handling in LoadCSV class
  src/unitxt/loaders.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Try fixing csv loader
  src/unitxt/loaders.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Improve the load/prepare time for rag tasks
  examples/evaluate_bluebench.py
  prepare/cards/chat_rag_bench.py
  prepare/cards/clapnq.py
  prepare/cards/mtrag.py
  prepare/cards/open_australian_legal_qa.py
  prepare/cards/ragbench.py
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

refactor: streamline metric testing and enhance dataset loading configuration
  prepare/cards/cohere_for_ai.py
  prepare/metrics/rag.py
  src/unitxt/loaders.py
  tests/inference/test_inference_metrics.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

fix: enhance CSV loading with retry mechanism and configurable max retries
  src/unitxt/loaders.py
  src/unitxt/settings_utils.py
  utils/.secrets.baseline
Due: enforce-relative-imports
