Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [--baseline, utils/.secrets.baseline]
        exclude: utils/.secrets.baseline

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils|unitxt/assistant/.*)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

Improved JoinStream error messages (#1819)
  src/unitxt/stream_operators.py
  tests/library/test_operators.py
Due: enforce-relative-imports, enforce-library-imports

Added param to control of confidence interval calculation in evaluate api (#1815)
  src/unitxt/api.py
  src/unitxt/base_metric.py
  src/unitxt/eval_utils.py
  src/unitxt/metrics.py
  src/unitxt/operators.py
  src/unitxt/service/metrics/main.py
  src/unitxt/utils.py
  tests/library/test_api.py
  tests/library/test_artifact.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

Update StringContainment metric to use Any type for predictions and references
  src/unitxt/metrics.py
Due: enforce-relative-imports

add test_evaluate_with_llmaaj_and_external_client
  tests/library/test_eval_utils.py
Due: enforce-library-imports

since evaluate(..) can also works with Metric object, update the type hints
  src/unitxt/eval_utils.py
Due: enforce-relative-imports

Update spearmanr and mean squared error
  prepare/metrics/mean_squared_error.py
  prepare/metrics/spearman.py
  src/unitxt/catalog/metrics/mean_squared_error.json
  src/unitxt/catalog/metrics/spearman.json
  src/unitxt/metrics.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

extend code coverage some (#1814)
  src/unitxt/text_utils.py
  tests/library/test_api.py
  tests/library/test_operators.py
  tests/library/test_text_utils.py
Due: enforce-relative-imports, enforce-library-imports

Return old metric and fix old tests
  src/unitxt/metrics.py
Due: enforce-relative-imports

Format
  pyproject.toml
  src/unitxt/loaders.py
Due: enforce-relative-imports

Make api_key_env_var optional in LoadFromAPI (#1799)
  pyproject.toml
  src/unitxt/loaders.py
Due: enforce-relative-imports

Fix token decoding
  src/unitxt/inference.py
Due: enforce-relative-imports

Add test
  tests/inference/test_inference_engine.py
Due: enforce-library-imports

move test_evaluate_with_llmaaj_and_external_client to a new module test_llmaaj_metrics.py, with a test class that inherits from UnitxtInferenceTestCase
  tests/inference/test_llmaaj_metrics.py
  tests/library/test_eval_utils.py
Due: enforce-library-imports

type hints to Union, to support older python versions
  src/unitxt/eval_utils.py
Due: enforce-relative-imports

avoid circular imports cause by type hints
  src/unitxt/eval_utils.py
Due: enforce-relative-imports

Fix Issue with multi byte token decoding (#1821)
  src/unitxt/inference.py
  tests/inference/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

Update documentation and test of JaccardIndex
  prepare/metrics/jaccard_index.py
  src/unitxt/catalog/metrics/jaccard_index.json
  src/unitxt/catalog/metrics/jaccard_index_words.json
  src/unitxt/metrics.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

Added documentation and checking for MeanSquaredError
  prepare/metrics/mean_squared_error.py
  src/unitxt/catalog/metrics/mean_squared_error.json
  src/unitxt/metrics.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

remove Metric import which causes a circular import
  pyproject.toml
  src/unitxt/eval_utils.py
Due: enforce-relative-imports

Updated json
  src/unitxt/catalog/metrics/mean_squared_error.json
Due: none

add correct metric import
  src/unitxt/eval_utils.py
Due: enforce-relative-imports

Fix spearmanr
  prepare/metrics/spearman.py
  src/unitxt/catalog/metrics/spearman.json
  src/unitxt/metrics.py
  tests/library/test_api.py
Due: enforce-relative-imports, enforce-library-imports

remove unneeded ruff ignore instruction
  pyproject.toml
Due: none

remove top_logprobs param and update expected results
  tests/inference/test_llmaaj_metrics.py
Due: enforce-library-imports

add test_evaluate_with_llmaaj_and_external_client__with_fetch_artifact
  tests/inference/test_llmaaj_metrics.py
Due: enforce-library-imports

Added RMSE metric
  prepare/metrics/mean_squared_error.py
  src/unitxt/catalog/metrics/root_mean_squared_error.json
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

Test eval utils with external client (#1820)
  src/unitxt/eval_utils.py
  tests/inference/test_llmaaj_metrics.py
Due: enforce-relative-imports, enforce-library-imports

Format
  src/unitxt/eval_utils.py
Due: enforce-relative-imports

Format
  prepare/metrics/jaccard_index.py
  prepare/metrics/mean_squared_error.py
  src/unitxt/metrics.py
  tests/library/test_api.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

Revert naming
  src/unitxt/metrics.py
Due: enforce-relative-imports

Add spearmanr_p_value to evaluation metrics in TestAPI
  tests/library/test_api.py
Due: enforce-library-imports

FIx tests
  tests/library/test_fusion.py
Due: enforce-library-imports

Refactor JaccardIndex and StringContainment metrics to use ReductionInstanceMetric (#1816)
  prepare/metrics/jaccard_index.py
  prepare/metrics/mean_squared_error.py
  prepare/metrics/spearman.py
  src/unitxt/catalog/metrics/jaccard_index.json
  src/unitxt/catalog/metrics/jaccard_index_words.json
  src/unitxt/catalog/metrics/mean_squared_error.json
  src/unitxt/catalog/metrics/root_mean_squared_error.json
  src/unitxt/catalog/metrics/spearman.json
  src/unitxt/metrics.py
  tests/library/test_api.py
  tests/library/test_fusion.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

Update version to 1.24.0
  src/unitxt/version.py
Due: enforce-relative-imports

Update version to 1.24.0 (#1823)
  src/unitxt/version.py
Due: enforce-relative-imports

text2sql execution accuracy update
  src/unitxt/metrics.py
Due: enforce-relative-imports

refactoring text2sql metrics
  prepare/metrics/text2sql_accuracy.py
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

Format
  prepare/cards/coqa_multi_turn.py
  prepare/metrics/multi_turn.py/accuracy.py
Due: enforce-library-imports
