Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

modified and new
  prepare/metrics/llm_as_judge/rag_judge.py
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_3_70b_instruct_wml_answer_correctness_q_a_gt_loose.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_3_70b_instruct_wml_answer_correctness_q_a_gt_loose_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_3_70b_instruct_wml_answer_relevance_q_a.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_3_70b_instruct_wml_answer_relevance_q_a_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_3_70b_instruct_wml_context_relevance_q_c_ares.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_3_70b_instruct_wml_context_relevance_q_c_ares_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_3_70b_instruct_wml_correctness_holistic_q_c_a.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_3_70b_instruct_wml_correctness_holistic_q_c_a_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_3_70b_instruct_wml_faithfulness_c_a.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_3_70b_instruct_wml_faithfulness_c_a_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_3_70b_instruct_wml_faithfulness_q_c_a.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_3_70b_instruct_wml_faithfulness_q_c_a_logprobs.json
  src/unitxt/catalog/metrics/rag/answer_correctness/llama_3_3_70b_instruct_wml_q_a_gt_loose.json
  src/unitxt/catalog/metrics/rag/answer_correctness/llama_3_3_70b_instruct_wml_q_a_gt_loose_logprobs.json
  src/unitxt/catalog/metrics/rag/answer_correctness/llama_3_3_70b_instruct_wml_q_a_gt_loose_numeric.json
  src/unitxt/catalog/metrics/rag/answer_relevance/llama_3_3_70b_instruct_wml_q_a.json
  src/unitxt/catalog/metrics/rag/answer_relevance/llama_3_3_70b_instruct_wml_q_a_logprobs.json
  src/unitxt/catalog/metrics/rag/answer_relevance/llama_3_3_70b_instruct_wml_q_a_numeric.json
  src/unitxt/catalog/metrics/rag/context_relevance/llama_3_3_70b_instruct_wml_q_c_ares.json
  src/unitxt/catalog/metrics/rag/context_relevance/llama_3_3_70b_instruct_wml_q_c_ares_logprobs.json
  src/unitxt/catalog/metrics/rag/context_relevance/llama_3_3_70b_instruct_wml_q_c_ares_numeric.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/llama_3_3_70b_instruct_wml_q_c_a.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/llama_3_3_70b_instruct_wml_q_c_a_logprobs.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/llama_3_3_70b_instruct_wml_q_c_a_numeric.json
  src/unitxt/catalog/metrics/rag/faithfulness/llama_3_3_70b_instruct_wml_c_a.json
  src/unitxt/catalog/metrics/rag/faithfulness/llama_3_3_70b_instruct_wml_c_a_logprobs.json
  src/unitxt/catalog/metrics/rag/faithfulness/llama_3_3_70b_instruct_wml_c_a_verbal.json
  src/unitxt/catalog/metrics/rag/faithfulness/llama_3_3_70b_instruct_wml_q_c_a.json
  src/unitxt/catalog/metrics/rag/faithfulness/llama_3_3_70b_instruct_wml_q_c_a_logprobs.json
  src/unitxt/catalog/metrics/rag/faithfulness/llama_3_3_70b_instruct_wml_q_c_a_verbal.json
Due: enforce-library-imports

delete old
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_answer_correctness_q_a_gt_loose.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_answer_correctness_q_a_gt_loose_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_answer_relevance_q_a.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_answer_relevance_q_a_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_context_relevance_q_c_ares.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_context_relevance_q_c_ares_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_correctness_holistic_q_c_a.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_correctness_holistic_q_c_a_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_faithfulness_c_a.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_faithfulness_c_a_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_faithfulness_q_c_a.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_faithfulness_q_c_a_logprobs.json
  src/unitxt/catalog/metrics/rag/answer_correctness/llama_3_1_70b_instruct_wml_q_a_gt_loose.json
  src/unitxt/catalog/metrics/rag/answer_correctness/llama_3_1_70b_instruct_wml_q_a_gt_loose_logprobs.json
  src/unitxt/catalog/metrics/rag/answer_correctness/llama_3_1_70b_instruct_wml_q_a_gt_loose_numeric.json
  src/unitxt/catalog/metrics/rag/answer_relevance/llama_3_1_70b_instruct_wml_q_a.json
  src/unitxt/catalog/metrics/rag/answer_relevance/llama_3_1_70b_instruct_wml_q_a_logprobs.json
  src/unitxt/catalog/metrics/rag/answer_relevance/llama_3_1_70b_instruct_wml_q_a_numeric.json
  src/unitxt/catalog/metrics/rag/context_relevance/llama_3_1_70b_instruct_wml_q_c_ares.json
  src/unitxt/catalog/metrics/rag/context_relevance/llama_3_1_70b_instruct_wml_q_c_ares_logprobs.json
  src/unitxt/catalog/metrics/rag/context_relevance/llama_3_1_70b_instruct_wml_q_c_ares_numeric.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/llama_3_1_70b_instruct_wml_q_c_a.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/llama_3_1_70b_instruct_wml_q_c_a_logprobs.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/llama_3_1_70b_instruct_wml_q_c_a_numeric.json
  src/unitxt/catalog/metrics/rag/faithfulness/llama_3_1_70b_instruct_wml_c_a.json
  src/unitxt/catalog/metrics/rag/faithfulness/llama_3_1_70b_instruct_wml_c_a_logprobs.json
  src/unitxt/catalog/metrics/rag/faithfulness/llama_3_1_70b_instruct_wml_c_a_verbal.json
  src/unitxt/catalog/metrics/rag/faithfulness/llama_3_1_70b_instruct_wml_q_c_a.json
  src/unitxt/catalog/metrics/rag/faithfulness/llama_3_1_70b_instruct_wml_q_c_a_logprobs.json
  src/unitxt/catalog/metrics/rag/faithfulness/llama_3_1_70b_instruct_wml_q_c_a_verbal.json
Due: none

New metric definitions for llama-3-3-70b as judge in Arena Hard benchmark
  prepare/metrics/llm_as_judge/pairwise_rating/llama_3_arena_hard_template.py
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_3_70b_instruct_generic_engine_template_arena_hard.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_3_70b_instruct_generic_engine_template_arena_hard_with_shuffling.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_3_70b_instruct_ibm_wml_template_arena_hard.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_3_70b_instruct_ibm_wml_template_arena_hard_with_shuffling.json
Due: enforce-library-imports

trying again
  prepare/metrics/llm_as_judge/pairwise_rating/llama_3_arena_hard_template.py
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_3_70b_instruct_generic_engine_template_arena_hard.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_3_70b_instruct_generic_engine_template_arena_hard_with_shuffling.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_3_70b_instruct_ibm_wml_template_arena_hard.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_3_70b_instruct_ibm_wml_template_arena_hard_with_shuffling.json
Due: enforce-library-imports

Fixed the test of the tool calling evaluation metrics accordingly.
  tests/library/test_metrics.py
Due: enforce-library-imports

Correct reflection based tool calling metrics so valid results will be 1. (#1940)
  examples/evaluate_tool_calling_with_reflection_and_correction.py
  src/unitxt/metrics.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

Switch provoq to GG metric.
  prepare/benchmarks/safety.py
  prepare/cards/safety/provoq_gg.py
  src/unitxt/catalog/benchmarks/safety.json
  src/unitxt/catalog/cards/safety/provoq_gg.json
Due: enforce-library-imports

Initial version of the safety benchmark, plus various fixes to the subsets.
  prepare/benchmarks/safety.py
  prepare/cards/attaq.py
  prepare/cards/safety/airbench2024.py
  prepare/cards/safety/mlcommons_ailuminate.py
  src/unitxt/catalog/benchmarks/safety.json
  src/unitxt/catalog/cards/attaq.json
  src/unitxt/catalog/cards/safety/mlcommons_ailuminate.json
  src/unitxt/processors.py
Due: enforce-relative-imports, enforce-library-imports

.
  prepare/benchmarks/safety.py
  src/unitxt/catalog/benchmarks/safety.json
Due: enforce-library-imports

Added grouping
  prepare/benchmarks/safety.py
  src/unitxt/catalog/benchmarks/safety.json
Due: enforce-library-imports

GraniteGuardian-based metric for attaq
  prepare/benchmarks/safety.py
  prepare/cards/safety/attaq_gg.py
  src/unitxt/catalog/benchmarks/safety.json
  src/unitxt/catalog/cards/safety/attaq_gg.json
Due: enforce-library-imports

update the example script
  examples/evaluate_bluebench.sh
Due: none

fix test to use UTC time
  tests/library/test_cli.py
Due: enforce-library-imports

add output formats. Fix column order.
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

further fix to the test
  tests/library/test_cli.py
Due: enforce-library-imports

now actually fixed
  tests/library/test_cli.py
Due: enforce-library-imports

Enable summarization by subsets and groups
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

Add example for multi turn end to end rag
  examples/evaluate_multi_turn_rag_end_to_end_dataset_with_given_predictions copy.py
Due: enforce-library-imports

Rag metric update again (#1948)
  prepare/metrics/llm_as_judge/rag_judge.py
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_3_70b_instruct_wml_answer_correctness_q_a_gt_loose.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_3_70b_instruct_wml_answer_correctness_q_a_gt_loose_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_3_70b_instruct_wml_answer_relevance_q_a.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_3_70b_instruct_wml_answer_relevance_q_a_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_3_70b_instruct_wml_context_relevance_q_c_ares.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_3_70b_instruct_wml_context_relevance_q_c_ares_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_3_70b_instruct_wml_correctness_holistic_q_c_a.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_3_70b_instruct_wml_correctness_holistic_q_c_a_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_3_70b_instruct_wml_faithfulness_c_a.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_3_70b_instruct_wml_faithfulness_c_a_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_3_70b_instruct_wml_faithfulness_q_c_a.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_3_70b_instruct_wml_faithfulness_q_c_a_logprobs.json
  src/unitxt/catalog/metrics/rag/answer_correctness/llama_3_3_70b_instruct_wml_q_a_gt_loose.json
  src/unitxt/catalog/metrics/rag/answer_correctness/llama_3_3_70b_instruct_wml_q_a_gt_loose_logprobs.json
  src/unitxt/catalog/metrics/rag/answer_correctness/llama_3_3_70b_instruct_wml_q_a_gt_loose_numeric.json
  src/unitxt/catalog/metrics/rag/answer_relevance/llama_3_3_70b_instruct_wml_q_a.json
  src/unitxt/catalog/metrics/rag/answer_relevance/llama_3_3_70b_instruct_wml_q_a_logprobs.json
  src/unitxt/catalog/metrics/rag/answer_relevance/llama_3_3_70b_instruct_wml_q_a_numeric.json
  src/unitxt/catalog/metrics/rag/context_relevance/llama_3_3_70b_instruct_wml_q_c_ares.json
  src/unitxt/catalog/metrics/rag/context_relevance/llama_3_3_70b_instruct_wml_q_c_ares_logprobs.json
  src/unitxt/catalog/metrics/rag/context_relevance/llama_3_3_70b_instruct_wml_q_c_ares_numeric.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/llama_3_3_70b_instruct_wml_q_c_a.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/llama_3_3_70b_instruct_wml_q_c_a_logprobs.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/llama_3_3_70b_instruct_wml_q_c_a_numeric.json
  src/unitxt/catalog/metrics/rag/faithfulness/llama_3_3_70b_instruct_wml_c_a.json
  src/unitxt/catalog/metrics/rag/faithfulness/llama_3_3_70b_instruct_wml_c_a_logprobs.json
  src/unitxt/catalog/metrics/rag/faithfulness/llama_3_3_70b_instruct_wml_c_a_verbal.json
  src/unitxt/catalog/metrics/rag/faithfulness/llama_3_3_70b_instruct_wml_q_c_a.json
  src/unitxt/catalog/metrics/rag/faithfulness/llama_3_3_70b_instruct_wml_q_c_a_logprobs.json
  src/unitxt/catalog/metrics/rag/faithfulness/llama_3_3_70b_instruct_wml_q_c_a_verbal.json
Due: enforce-library-imports

fix gpt-oss classification inference engines
  prepare/engines/classification/classification_engines.py
  src/unitxt/catalog/engines/classification/gpt_oss_120b_rits.json
  src/unitxt/catalog/engines/classification/gpt_oss_120b_watsonx.json
Due: enforce-library-imports

fix gpt-oss classification inference engines (#1952)
  prepare/engines/classification/classification_engines.py
  src/unitxt/catalog/engines/classification/gpt_oss_120b_rits.json
  src/unitxt/catalog/engines/classification/gpt_oss_120b_watsonx.json
Due: enforce-library-imports

Update version to 1.26.7
  src/unitxt/version.py
Due: enforce-relative-imports

Update version to 1.26.7 (#1953)
  src/unitxt/version.py
Due: enforce-relative-imports

bug fix for dfs w/ duplicate cols
  src/unitxt/text2sql_utils.py
Due: enforce-relative-imports

add ollama classification engine
  prepare/engines/classification/classification_engines.py
  src/unitxt/catalog/engines/classification/llama3_3_ollama.json
  src/unitxt/catalog/engines/classification/llama3_8b_ollama.json
Due: enforce-library-imports

add ollama classification engine (#1955)
  prepare/engines/classification/classification_engines.py
  src/unitxt/catalog/engines/classification/llama3_3_ollama.json
  src/unitxt/catalog/engines/classification/llama3_8b_ollama.json
Due: enforce-library-imports

allow small diff in metric test
  tests/inference/test_inference_engine.py
  tests/library/test_metrics.py
Due: enforce-library-imports

more model fixes to test_inference_engine
  tests/inference/test_inference_engine.py
Due: enforce-library-imports

make ollamaInferenceEngine handle return_meta_data
  src/unitxt/inference.py
Due: enforce-relative-imports

fix wml inference tests to use supported models
  tests/inference/test_inference_engine.py
Due: enforce-library-imports

make ollamaInferenceEngine handle return_meta_data (#1956)
  src/unitxt/inference.py
  tests/inference/test_inference_engine.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

lazy import of evaluate
  src/unitxt/metrics.py
Due: enforce-relative-imports

lazy import of evaluate (#1957)
  src/unitxt/metrics.py
Due: enforce-relative-imports

Update version to 1.26.8
  src/unitxt/version.py
Due: enforce-relative-imports

Update version to 1.26.8 (#1958)
  src/unitxt/version.py
Due: enforce-relative-imports

lazy import of scipy
  src/unitxt/metrics.py
Due: enforce-relative-imports

lazy import of scipy (#1959)
  src/unitxt/metrics.py
Due: enforce-relative-imports

Fix duplicate-column sorting issue in Text2SQL evaluation utils (#1954)
  src/unitxt/text2sql_utils.py
Due: enforce-relative-imports

Fix bug in parsing LLM as Judges results returned in MT bench style format [[ ]]... If the number inside was large it would return score > 1.0.
  src/unitxt/processors.py
  tests/library/test_postprocessors.py
Due: enforce-relative-imports, enforce-library-imports

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils|unitxt/assistant/.*)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
