Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

move recommended metrics list Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/rag_recommended_metric_lists.py
  src/unitxt/catalog/metrics/rag_by_task/autorag/recommended/cpu_only/all.json
  src/unitxt/catalog/metrics/rag_by_task/autorag/recommended/llmaj_azure/all.json
  src/unitxt/catalog/metrics/rag_by_task/autorag/recommended/llmaj_rits/all.json
  src/unitxt/catalog/metrics/rag_by_task/autorag/recommended/llmaj_watsonx/all.json
  src/unitxt/catalog/metrics/rag_by_task/autorag/recommended/small_llm/all.json
  src/unitxt/catalog/metrics/rag_by_task/end_to_end/recommended/cpu_only/all.json
  src/unitxt/catalog/metrics/rag_by_task/end_to_end/recommended/llmaj_azure/all.json
  src/unitxt/catalog/metrics/rag_by_task/end_to_end/recommended/llmaj_rits/all.json
  src/unitxt/catalog/metrics/rag_by_task/end_to_end/recommended/llmaj_watsonx/all.json
  src/unitxt/catalog/metrics/rag_by_task/end_to_end/recommended/small_llm/all.json
  src/unitxt/catalog/metrics/rag_by_task/response_generation/recommended/cpu_only/all.json
  src/unitxt/catalog/metrics/rag_by_task/response_generation/recommended/llmaj_azure/all.json
  src/unitxt/catalog/metrics/rag_by_task/response_generation/recommended/llmaj_rits/all.json
  src/unitxt/catalog/metrics/rag_by_task/response_generation/recommended/llmaj_watsonx/all.json
  src/unitxt/catalog/metrics/rag_by_task/response_generation/recommended/small_llm/all.json
Due: enforce-library-imports

Keep metadata over main unitxt stages (#1512)
  docs/docs/evaluating_datasets.rst
  docs/docs/loading_datasets.rst
  src/unitxt/api.py
  src/unitxt/inference.py
  src/unitxt/metric_utils.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Add function to read and format catalog JSON files for context generation
  src/unitxt/assistant/app.py
  src/unitxt/assistant/context.txt
Due: enforce-relative-imports

fix answer relevance metric Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/rag_answer_relevance.py
  src/unitxt/catalog/metrics/rag_by_task/autorag/answer_relevance.json
  src/unitxt/catalog/metrics/rag_by_task/autorag/answer_relevance/answer_reward.json
  src/unitxt/catalog/metrics/rag_by_task/autorag/answer_relevance/token_recall.json
  src/unitxt/catalog/metrics/rag_by_task/end_to_end/answer_relevance.json
  src/unitxt/catalog/metrics/rag_by_task/end_to_end/answer_relevance/answer_reward.json
  src/unitxt/catalog/metrics/rag_by_task/end_to_end/answer_relevance/token_recall.json
  src/unitxt/catalog/metrics/rag_by_task/response_generation/answer_relevance.json
  src/unitxt/catalog/metrics/rag_by_task/response_generation/answer_relevance/answer_reward.json
  src/unitxt/catalog/metrics/rag_by_task/response_generation/answer_relevance/token_recall.json
Due: enforce-library-imports

refactor types, serializers and metric
  examples/evaluate_text2sql.py
  prepare/cards/text2sql.py
  prepare/tasks/text2sql.py
  prepare/templates/text2sql/templates.py
  src/unitxt/catalog/cards/text2sql/bird.json
  src/unitxt/catalog/tasks/text2sql.json
  src/unitxt/catalog/templates/text2sql/you_are_given.json
  src/unitxt/catalog/templates/text2sql/you_are_given_with_hint_answer_sql_prefix_no_inst.json
  src/unitxt/catalog/templates/text2sql/you_are_given_with_hint_with_sql_prefix.json
  src/unitxt/catalog/templates/text2sql/you_are_given_with_sql_prefix.json
  src/unitxt/db_utils.py
  src/unitxt/metrics.py
  src/unitxt/serializers.py
  src/unitxt/templates.py
  src/unitxt/types.py
  temp.py
  tests/library/test_data_utils.py
  tests/library/test_metrics.py
  tests/library/test_serializers.py
Due: enforce-relative-imports, enforce-library-imports

fix context rel/cor for e2e rag Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/rag_context_correctness.py
  prepare/metrics/rag_context_relevance.py
  src/unitxt/catalog/metrics/rag_by_task/end_to_end/context_correctness.json
  src/unitxt/catalog/metrics/rag_by_task/end_to_end/context_correctness/map.json
  src/unitxt/catalog/metrics/rag_by_task/end_to_end/context_correctness/mrr.json
  src/unitxt/catalog/metrics/rag_by_task/end_to_end/context_correctness/retrieval_at_k.json
  src/unitxt/catalog/metrics/rag_by_task/end_to_end/context_relevance.json
  src/unitxt/catalog/metrics/rag_by_task/end_to_end/context_relevance/perplexity_flan_t5_small.json
  src/unitxt/catalog/metrics/rag_by_task/end_to_end/context_relevance/sentence_bert_bge.json
  src/unitxt/catalog/metrics/rag_by_task/end_to_end/context_relevance/sentence_bert_mini_lm.json
  src/unitxt/catalog/metrics/rag_by_task/end_to_end/context_relevance/token_precision.json
Due: enforce-library-imports

delete unused engines Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/catalog/engines/classification2/gpt_4_turbo_2024_04_09_azure.json
  src/unitxt/catalog/engines/classification2/gpt_4_turbo_open_ai.json
  src/unitxt/catalog/engines/classification2/llama_3_3_70b_instruct_rits.json
  src/unitxt/catalog/engines/classification2/llama_3_3_70b_instruct_watsonx.json
  src/unitxt/catalog/engines/classification2/llama_3_3_70b_instruct_wml.json
  src/unitxt/catalog/engines/classification2/mixtral_8x7b_instruct_v01_wml.json
Due: none

remove format_table
  src/unitxt/db_utils.py
Due: enforce-relative-imports

add get schema for remove connector
  src/unitxt/db_utils.py
  src/unitxt/types.py
  tests/library/test_data_utils.py
  tests/library/test_db_utils.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

add tests for LocalConnector
  tests/library/test_db_utils.py
Due: enforce-library-imports

Add more granite llm as judge artifacts
  src/unitxt/catalog/metrics/llm_as_judge/direct/rits/granite3_0_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/rits/granite3_1_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/watsonx/granite3_0_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/rits/granite3_0_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/rits/granite3_1_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/watsonx/granite3_0_8b.json
  src/unitxt/llm_as_judge_constants.py
Due: enforce-relative-imports

add tests for InMemoryDatabaseConnector
  src/unitxt/types.py
  tests/library/test_db_utils.py
Due: enforce-relative-imports, enforce-library-imports

add serializer tests
  tests/library/test_serializers.py
Due: enforce-library-imports

remove fp test
  tests/library/test_metrics.py
Due: enforce-library-imports

fix serializer
  prepare/serializers/text2sql_serializers.py
Due: enforce-library-imports

make remote connector more robust
  src/unitxt/db_utils.py
Due: enforce-relative-imports

Add schema serializer
  src/unitxt/catalog/serializers/text2sql/schema.json
Due: none

fix tests
  src/unitxt/db_utils.py
  tests/library/test_db_utils.py
Due: enforce-relative-imports, enforce-library-imports

change error
  src/unitxt/db_utils.py
Due: enforce-relative-imports

revert to previous azure inference engine Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/engines/classification/classification_engines.py
  src/unitxt/catalog/engines/classification/gpt_4_turbo_2024_04_09_azure.json
  src/unitxt/catalog/engines/classification/gpt_4_turbo_2024_04_09_azure_openai.json
  src/unitxt/catalog/engines/classification/gpt_4o_2024_08_06_azure_openai.json
  src/unitxt/catalog/engines/classification/gpt_4o_azure.json
Due: enforce-library-imports

uncomment needed code Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/catalog/metrics/rag_by_task/autorag/answer_correctness/gpt_4o_azure_judge.json
  src/unitxt/catalog/metrics/rag_by_task/autorag/answer_relevance/gpt_4o_azure_judge.json
  src/unitxt/catalog/metrics/rag_by_task/autorag/context_relevance/gpt_4o_azure_judge.json
  src/unitxt/catalog/metrics/rag_by_task/autorag/faithfulness/gpt_4o_azure_judge.json
  src/unitxt/catalog/metrics/rag_by_task/end_to_end/answer_correctness/gpt_4o_azure_judge.json
  src/unitxt/catalog/metrics/rag_by_task/end_to_end/answer_relevance/gpt_4o_azure_judge.json
  src/unitxt/catalog/metrics/rag_by_task/end_to_end/context_relevance/gpt_4o_azure_judge.json
  src/unitxt/catalog/metrics/rag_by_task/end_to_end/faithfulness/gpt_4o_azure_judge.json
  src/unitxt/catalog/metrics/rag_by_task/response_generation/answer_correctness/gpt_4o_azure_judge.json
  src/unitxt/catalog/metrics/rag_by_task/response_generation/answer_relevance/gpt_4o_azure_judge.json
  src/unitxt/catalog/metrics/rag_by_task/response_generation/context_relevance/gpt_4o_azure_judge.json
  src/unitxt/catalog/metrics/rag_by_task/response_generation/faithfulness/gpt_4o_azure_judge.json
Due: none

add data to bird card
  prepare/cards/text2sql.py
  src/unitxt/catalog/cards/text2sql/bird.json
Due: enforce-library-imports

fix tests
  prepare/metrics/text2sql_execution_accuracy.py
Due: enforce-library-imports

add tests for db utils
  tests/library/test_db_utils.py
Due: enforce-library-imports

fix engine name Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/llm_as_judge/rag_judge.py
Due: enforce-library-imports

fix metric test
  prepare/metrics/text2sql_execution_accuracy.py
Due: enforce-library-imports

pre-commit
  src/unitxt/processors.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Fix handling of place_correct_choice_position (#1511)
  src/unitxt/templates.py
Due: enforce-relative-imports

Fixes in LLMJudge (#1498)
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

support metadata in CrossProviderInferenceEngine and LiteLLMInferenceEngine Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/inference.py
Due: enforce-relative-imports

improv
  src/unitxt/operators.py
Due: enforce-relative-imports

Ensure fusion do not call streams before use
  src/unitxt/benchmark.py
  src/unitxt/fusion.py
  tests/library/test_fusion.py
Due: enforce-relative-imports, enforce-library-imports

Verify metrics prediction_type without loading metric
  src/unitxt/task.py
Due: enforce-relative-imports

fix score rag prefix Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/rag_context_correctness.py
  src/unitxt/catalog/metrics/rag_by_task/autorag/context_correctness.json
  src/unitxt/catalog/metrics/rag_by_task/autorag/context_correctness/map.json
  src/unitxt/catalog/metrics/rag_by_task/autorag/context_correctness/mrr.json
  src/unitxt/catalog/metrics/rag_by_task/autorag/context_correctness/retrieval_at_k.json
  src/unitxt/catalog/metrics/rag_by_task/end_to_end/context_correctness.json
  src/unitxt/catalog/metrics/rag_by_task/end_to_end/context_correctness/map.json
  src/unitxt/catalog/metrics/rag_by_task/end_to_end/context_correctness/mrr.json
  src/unitxt/catalog/metrics/rag_by_task/end_to_end/context_correctness/retrieval_at_k.json
Due: enforce-library-imports

Refactor metric retrieval to use get_metrics_artifact_without_load for efficiency
  tests/library/test_artifact.py
Due: enforce-library-imports

Verify metrics prediction_type without loading metric (#1519)
  src/unitxt/task.py
  tests/library/test_artifact.py
Due: enforce-relative-imports, enforce-library-imports

add updated preparation files Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/llm_as_judge/rag_judge.py
  prepare/metrics/rag_answer_correctness.py
  prepare/metrics/rag_answer_relevance.py
  prepare/metrics/rag_context_correctness.py
  prepare/metrics/rag_context_relevance.py
  prepare/metrics/rag_faithfulness.py
  prepare/metrics/rag_recommended_metric_lists.py
  src/unitxt/test_utils/metrics.py
Due: enforce-relative-imports, enforce-library-imports

Add saving mechanisms for feedback and history
  src/unitxt/assistant/app.py
  src/unitxt/assistant/context.txt
Due: enforce-relative-imports

deprecate old response_generation metrics Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/rag.py
  src/unitxt/catalog/metrics/rag/response_generation/correctness/bert_score/deberta_large_mnli.json
  src/unitxt/catalog/metrics/rag/response_generation/correctness/bert_score/deberta_v3_base_mnli_xnli_ml.json
  src/unitxt/catalog/metrics/rag/response_generation/correctness/token_overlap.json
  src/unitxt/catalog/metrics/rag/response_generation/faithfullness/token_overlap.json
Due: enforce-library-imports

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
