Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

add completeness judge
  examples/evaluate_completeness_judge.py
  prepare/metrics/llm_as_judge/conversation_completeness.py
  prepare/templates/response_assessment/judges/completeness/v5.py
Due: enforce-library-imports

Fix model strings for Llama 3 on Together AI
  src/unitxt/inference.py
Due: enforce-relative-imports

Switch scigen card to use CrossProviderInferenceEngine
  prepare/cards/scigen.py
  prepare/metrics/llm_as_judge/rating/llama_3_cross_provider_table2text_template.py
  src/unitxt/catalog/cards/scigen.json
  src/unitxt/catalog/metrics/llm_as_judge/rating/llama_3_70b_instruct_cross_provider_template_table2text_single_turn_with_reference.json
Due: enforce-library-imports

add text2sql templates
  src/unitxt/text2sql/templates.py
Due: enforce-relative-imports

add data managment utility for text2sql
  src/unitxt/text2sql/data_utils.py
Due: enforce-relative-imports

Fix model strings for Llama 3 on Together AI (#1411)
  src/unitxt/inference.py
Due: enforce-relative-imports

fix openai format check in llmaj Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

add basic template
  src/unitxt/text2sql/templates.py
Due: enforce-relative-imports

more specific openai format check in llmaj Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

Run prepare files and dded msssing json files to catalog
  src/unitxt/catalog/metrics/llm_as_judge/conversation_answer_completeness/generic_inference_engine_judges.json
  src/unitxt/catalog/metrics/llm_as_judge/conversation_answer_completeness/llama3_1_v1_ibmgenai_judges.json
  src/unitxt/catalog/templates/response_assessment/judges/completeness/v5.json
Due: none

Adjust binary llmaj to new engines and add rits support (#1408)
  prepare/engines/classification/classification_engines.py
  src/unitxt/catalog/engines/classification/llama_3_1_405b_instruct_fp8_rits.json
  src/unitxt/catalog/engines/classification/llama_3_1_70b_instruct_rits.json
  src/unitxt/catalog/engines/classification/llama_3_1_70b_instruct_wml.json
  src/unitxt/catalog/engines/classification/llama_3_405b_instruct_wml.json
  src/unitxt/catalog/engines/classification/mixtral_8x7b_instruct_v01_rits.json
  src/unitxt/catalog/engines/classification/mixtral_8x7b_instruct_v01_wml.json
  src/unitxt/inference.py
  src/unitxt/llm_as_judge.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

add sql execution accuracy metric
  src/unitxt/text2sql/metrics.py
Due: enforce-relative-imports

Added example of create_and_evaluate for rag
  examples/create_and_evaluate_rag_end_to_end_dataset.py
  prepare/tasks/rag/rag_end_to_end.py
  src/unitxt/api.py
  src/unitxt/catalog/tasks/rag/end_to_end.json
Due: enforce-relative-imports, enforce-library-imports

Fix examples
  examples/evaluate_eval_assist_credentials.py
  examples/evaluate_eval_assist_direct_predefined_criteria.py
  examples/evaluate_eval_assist_direct_user_criteria.py
  examples/evaluate_eval_assist_pairwise_predefined_criteria.py
  examples/evaluate_eval_assist_pairwise_user_criteria.py
  examples/evaluate_llm_as_judge.py
Due: enforce-library-imports

Added type to Rag end to end response
  prepare/tasks/rag/rag_end_to_end.py
  prepare/tasks/rag/response_generation.py
  src/unitxt/catalog/tasks/rag/end_to_end.json
  src/unitxt/catalog/tasks/rag/response_generation.json
  src/unitxt/types.py
Due: enforce-relative-imports, enforce-library-imports

now, with load_iterable in loaders, we can clearly fetch net load time of dataset, excluding the introduction of each and every instance into unitxt that is only done in eager mode
  performance/card_profiler.py
  src/unitxt/loaders.py
Due: enforce-relative-imports, enforce-library-imports

performance-test: suggest a more canonic time for non-eager and eager execution
  performance/card_profiler.py
Due: enforce-library-imports

limit loading through HF tools, for speedup
  src/unitxt/loaders.py
Due: enforce-relative-imports

secrets
  src/unitxt/loaders.py
  utils/.secrets.baseline
Due: enforce-relative-imports

prepend a special solution for set into 'recipe_metadata/xxx' that now fails if dict_set only adds to an existing dictionary
  src/unitxt/dict_utils.py
  src/unitxt/operators.py
  src/unitxt/standard.py
  src/unitxt/templates.py
  tests/library/test_operators.py
  tests/library/test_splitters.py
Due: enforce-relative-imports, enforce-library-imports

some docstrings
  src/unitxt/dict_utils.py
Due: enforce-relative-imports

polished and unified error msgs, and updated expecetd error texts
  src/unitxt/text_utils.py
  tests/library/test_operators.py
Due: enforce-relative-imports, enforce-library-imports

returned a test that depended on indexing into a str, for backward compatibility
  tests/library/test_dict_utils.py
Due: enforce-library-imports

not_exist_ok for dict_set only allows to add a non existing key to a dictionary, or non existing entry to a list. Not a nested structure as implied by the query
  src/unitxt/dict_utils.py
  tests/library/test_dict_utils.py
  tests/library/test_operators.py
Due: enforce-relative-imports, enforce-library-imports

adapt to the new error texts
  tests/library/test_operators.py
Due: enforce-library-imports

for backward compatibility, index into a string element is OK like indexing into a list element
  src/unitxt/dict_utils.py
  tests/library/test_dict_utils.py
Due: enforce-relative-imports, enforce-library-imports

patch also in prepare files, where the from_field = task_data does not ensure task_data exists, because default value is used
  prepare/metrics/normalized_sacrebleu.py
  prepare/metrics/unnormalized_sacrebleu.py
  src/unitxt/catalog/metrics/normalized_sacrebleu.json
  src/unitxt/catalog/metrics/sacrebleu.json
Due: enforce-library-imports

not_exist_ok for dict_set only allows to add a non existing key to a dictionary, or non existing entry to a list. Not a nested structure as implied by the query
  src/unitxt/dict_utils.py
  src/unitxt/operators.py
  tests/library/test_dict_utils.py
  tests/library/test_operators.py
Due: enforce-relative-imports, enforce-library-imports

yet another patch to prepare for setting into a query path
  src/unitxt/metric_utils.py
  src/unitxt/operators.py
Due: enforce-relative-imports

yet another point in prepare/cards that needed a patch
  prepare/cards/mmmu.py
  src/unitxt/catalog/cards/mmmu/accounting.json
  src/unitxt/catalog/cards/mmmu/agriculture.json
  src/unitxt/catalog/cards/mmmu/architecture_and_engineering.json
  src/unitxt/catalog/cards/mmmu/art.json
  src/unitxt/catalog/cards/mmmu/art_theory.json
  src/unitxt/catalog/cards/mmmu/basic_medical_science.json
  src/unitxt/catalog/cards/mmmu/biology.json
  src/unitxt/catalog/cards/mmmu/chemistry.json
  src/unitxt/catalog/cards/mmmu/clinical_medicine.json
  src/unitxt/catalog/cards/mmmu/computer_science.json
  src/unitxt/catalog/cards/mmmu/design.json
  src/unitxt/catalog/cards/mmmu/diagnostics_and_laboratory_medicine.json
  src/unitxt/catalog/cards/mmmu/economics.json
  src/unitxt/catalog/cards/mmmu/electronics.json
  src/unitxt/catalog/cards/mmmu/energy_and_power.json
  src/unitxt/catalog/cards/mmmu/finance.json
  src/unitxt/catalog/cards/mmmu/geography.json
  src/unitxt/catalog/cards/mmmu/history.json
  src/unitxt/catalog/cards/mmmu/literature.json
  src/unitxt/catalog/cards/mmmu/manage.json
  src/unitxt/catalog/cards/mmmu/marketing.json
  src/unitxt/catalog/cards/mmmu/materials.json
  src/unitxt/catalog/cards/mmmu/math.json
  src/unitxt/catalog/cards/mmmu/mechanical_engineering.json
  src/unitxt/catalog/cards/mmmu/music.json
  src/unitxt/catalog/cards/mmmu/pharmacy.json
  src/unitxt/catalog/cards/mmmu/physics.json
  src/unitxt/catalog/cards/mmmu/psychology.json
  src/unitxt/catalog/cards/mmmu/public_health.json
  src/unitxt/catalog/cards/mmmu/sociology.json
  src/unitxt/dict_utils.py
  tests/library/test_dict_utils.py
Due: enforce-relative-imports, enforce-library-imports

fixed for metric-list
  src/unitxt/operators.py
Due: enforce-relative-imports

Remove MatchClosestOption checks
  src/unitxt/processors.py
  src/unitxt/templates.py
Due: enforce-relative-imports

Clean unused files
  examples/evaluate_llm_as_judge.py
  prepare/engines/inference_engines.py
  prepare/metrics/llm_as_judge/eval_assist.py
  src/unitxt/catalog/engines/cross_provider.json
  src/unitxt/catalog/engines/ibm_genai.json
  src/unitxt/catalog/engines/litellm.json
  src/unitxt/catalog/engines/mock_inference_engine.json
  src/unitxt/catalog/engines/ollama.json
  src/unitxt/catalog/engines/openai.json
  src/unitxt/catalog/engines/rits.json
  src/unitxt/catalog/engines/together.json
  src/unitxt/catalog/engines/vllm.json
  src/unitxt/catalog/engines/wml.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise_comparison.json
  src/unitxt/templates.py
Due: enforce-relative-imports, enforce-library-imports

Remove inference changes
  src/unitxt/inference.py
Due: enforce-relative-imports

remove .mailmap
  .mailmap
Due: none

Added option for integer ids in Retrieval metrics
  prepare/metrics/mrr.py
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

Moved to integer context_ids
  examples/create_and_evaluate_rag_end_to_end_dataset.py
Due: enforce-library-imports

Fixes to scigen and some cards
  prepare/benchmarks/tables.py
  prepare/cards/scigen.py
  prepare/metrics/llm_as_judge/rating/llama_3_1_cross_provider_table2text_template.py
  src/unitxt/catalog/cards/scigen.json
  src/unitxt/catalog/metrics/llm_as_judge/rating/llama_3_1_70b_instruct_cross_provider_template_table2text_single_turn_with_reference.json
  src/unitxt/inference.py
  src/unitxt/version.py
Due: enforce-relative-imports, enforce-library-imports

Improved Task field mismtach erorr message
  src/unitxt/task.py
  src/unitxt/type_utils.py
  tests/library/test_type_utils.py
Due: enforce-relative-imports, enforce-library-imports

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
