Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

Add revision reference to Winogrande card loaders
  prepare/cards/winogrande.py
  src/unitxt/catalog/cards/winogrande/debiased.json
  src/unitxt/catalog/cards/winogrande/l.json
  src/unitxt/catalog/cards/winogrande/m.json
  src/unitxt/catalog/cards/winogrande/s.json
  src/unitxt/catalog/cards/winogrande/xl.json
  src/unitxt/catalog/cards/winogrande/xs.json
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

Add revision reference to PIQA card loader
  prepare/cards/piqa.py
  src/unitxt/catalog/cards/piqa.json
Due: enforce-library-imports

Update
  tests/catalog/test_preparation.py
Due: enforce-library-imports

update blog
  docs/blog/text2sql_blog.rst
Due: none

Another trial
  prepare/cards/turl_col_type.py
  src/unitxt/loaders.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Create new IntersectCorrespondingFields operator (#1531)
  src/unitxt/operators.py
  tests/library/test_operators.py
Due: enforce-relative-imports, enforce-library-imports

Update docs/docs/examples.rst
  docs/docs/examples.rst
Due: none

Ensure key values are strings as expected by the metric
  src/unitxt/struct_data_operators.py
Due: enforce-relative-imports

Moved to more standard font across Linux and Mac
  examples/key_value_extraction_evaluation.py
Due: enforce-library-imports

Moved to default font
  examples/key_value_extraction_evaluation.py
Due: enforce-library-imports

Refactor dataset loading to support dynamic streaming and improve configuration settings
  src/unitxt/loaders.py
  src/unitxt/settings_utils.py
  tests/utils.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Update process method to use Optional for stream_name parameter
  src/unitxt/formats.py
Due: enforce-relative-imports

Add streaming support to turl_col_type configuration
  src/unitxt/catalog/cards/turl_col_type.json
Due: none

Add granite documents format (#1566)
  prepare/formats/models/granite.py
  src/unitxt/catalog/formats/models/granite_3_1_documents.json
  src/unitxt/formats.py
  tests/library/test_formats.py
Due: enforce-relative-imports, enforce-library-imports

Remove unused skip files from test preparation
  tests/catalog/test_preparation.py
Due: enforce-library-imports

Refactor LoadHF class to improve dataset filtering and add streaming support
  src/unitxt/loaders.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Update load_dataset function documentation to clarify caching behavior and usage
  src/unitxt/api.py
Due: enforce-relative-imports

Update dataset loading to support caching and streaming options
  examples/evaluate_bluebench.py
  prepare/cards/CFPB_product.py
  pyproject.toml
  src/unitxt/api.py
  src/unitxt/catalog/cards/CFPB/product/2023.json
  src/unitxt/catalog/cards/CFPB/product/watsonx.json
  src/unitxt/catalog/cards/seed_bench.json
  src/unitxt/dataset.py
  src/unitxt/loaders.py
  tests/library/test_api.py
Due: enforce-relative-imports, enforce-library-imports

Import UnitxtDataset in load_dataset function for improved dataset handling
  src/unitxt/api.py
Due: enforce-relative-imports

added cards
  src/unitxt/catalog/cards/global_mmlu_lite_ca/ar.json
  src/unitxt/catalog/cards/global_mmlu_lite_ca/bn.json
  src/unitxt/catalog/cards/global_mmlu_lite_ca/de.json
  src/unitxt/catalog/cards/global_mmlu_lite_ca/es.json
  src/unitxt/catalog/cards/global_mmlu_lite_ca/fr.json
  src/unitxt/catalog/cards/global_mmlu_lite_ca/hi.json
  src/unitxt/catalog/cards/global_mmlu_lite_ca/id.json
  src/unitxt/catalog/cards/global_mmlu_lite_ca/it.json
  src/unitxt/catalog/cards/global_mmlu_lite_ca/ja.json
  src/unitxt/catalog/cards/global_mmlu_lite_ca/ko.json
  src/unitxt/catalog/cards/global_mmlu_lite_ca/pt.json
  src/unitxt/catalog/cards/global_mmlu_lite_ca/sw.json
  src/unitxt/catalog/cards/global_mmlu_lite_ca/yo.json
  src/unitxt/catalog/cards/global_mmlu_lite_ca/zh.json
  src/unitxt/catalog/cards/global_mmlu_lite_cs/ar.json
  src/unitxt/catalog/cards/global_mmlu_lite_cs/bn.json
  src/unitxt/catalog/cards/global_mmlu_lite_cs/de.json
  src/unitxt/catalog/cards/global_mmlu_lite_cs/es.json
  src/unitxt/catalog/cards/global_mmlu_lite_cs/fr.json
  src/unitxt/catalog/cards/global_mmlu_lite_cs/hi.json
  src/unitxt/catalog/cards/global_mmlu_lite_cs/id.json
  src/unitxt/catalog/cards/global_mmlu_lite_cs/it.json
  src/unitxt/catalog/cards/global_mmlu_lite_cs/ja.json
  src/unitxt/catalog/cards/global_mmlu_lite_cs/ko.json
  src/unitxt/catalog/cards/global_mmlu_lite_cs/pt.json
  src/unitxt/catalog/cards/global_mmlu_lite_cs/sw.json
  src/unitxt/catalog/cards/global_mmlu_lite_cs/yo.json
  src/unitxt/catalog/cards/global_mmlu_lite_cs/zh.json
Due: none

feat: add Global-MMLU-Lite CS/CA task cards
  prepare/cards/global_mmlu_lite_ca.py
  prepare/cards/global_mmlu_lite_cs.py
Due: enforce-library-imports

Remove unused load function import from __init__.py
  src/unitxt/__init__.py
Due: enforce-relative-imports

reformat files
  prepare/cards/global_mmlu_lite_ca.py
  prepare/cards/global_mmlu_lite_cs.py
Due: enforce-library-imports

Remove streaming option from SEED-Bench loader configuration
  src/unitxt/catalog/cards/seed_bench.json
Due: none

Refactor dataset loading to utilize caching and improve dataset handling
  examples/evaluate_benchmark_with_custom_provider.py
  examples/evaluate_same_datasets_and_models_with_multiple_providers.py
  performance/bluebench_profiler.py
  src/unitxt/api.py
Due: enforce-relative-imports, enforce-library-imports

Add missing imports for dataset module functionality
  src/unitxt/dataset.py
Due: none

merged files
  prepare/cards/global_mmlu_lite_ca.py
  prepare/cards/global_mmlu_lite_cs.py
  prepare/cards/global_mmlu_lite_sensitivity.py
Due: enforce-library-imports

merged files
  prepare/cards/global_mmlu_lite_sensitivity.py
Due: enforce-library-imports

Increase loader cache size to improve performance and update test settings for caching behavior
  src/unitxt/settings_utils.py
  tests/utils.py
Due: enforce-relative-imports, enforce-library-imports

Revisit huggingface cache policy (#1564)
  examples/evaluate_benchmark_with_custom_provider.py
  examples/evaluate_bluebench.py
  examples/evaluate_same_datasets_and_models_with_multiple_providers.py
  performance/bluebench_profiler.py
  prepare/cards/CFPB_product.py
  prepare/cards/chat_rag_bench.py
  prepare/cards/head_qa.py
  prepare/cards/piqa.py
  prepare/cards/social_iqa.py
  prepare/cards/translation/flores101.py
  prepare/cards/turl_col_type.py
  prepare/cards/websrc.py
  prepare/cards/wiki_bio.py
  prepare/cards/winogrande.py
  pyproject.toml
  src/unitxt/__init__.py
  src/unitxt/api.py
  src/unitxt/catalog/cards/CFPB/product/2023.json
  src/unitxt/catalog/cards/CFPB/product/watsonx.json
  src/unitxt/catalog/cards/head_qa/en.json
  src/unitxt/catalog/cards/head_qa/es.json
  src/unitxt/catalog/cards/piqa.json
  src/unitxt/catalog/cards/social_iqa.json
  src/unitxt/catalog/cards/turl_col_type.json
  src/unitxt/catalog/cards/websrc.json
  src/unitxt/catalog/cards/wiki_bio.json
  src/unitxt/catalog/cards/winogrande/debiased.json
  src/unitxt/catalog/cards/winogrande/l.json
  src/unitxt/catalog/cards/winogrande/m.json
  src/unitxt/catalog/cards/winogrande/s.json
  src/unitxt/catalog/cards/winogrande/xl.json
  src/unitxt/catalog/cards/winogrande/xs.json
  src/unitxt/loaders.py
  src/unitxt/metrics.py
  src/unitxt/settings_utils.py
  tests/catalog/test_preparation.py
  tests/library/test_api.py
  tests/utils.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

fix the printout of empty strings in the yaml cards of the catalog
  docs/blog/2024_summary_blog.rst
  docs/docs/examples.rst
  src/unitxt/templates.py
  src/unitxt/text_utils.py
Due: enforce-relative-imports

Add global mmlu lite sensitivity cards (#1568)
  prepare/cards/global_mmlu_lite_sensitivity.py
  src/unitxt/catalog/cards/global_mmlu_lite_ca/ar.json
  src/unitxt/catalog/cards/global_mmlu_lite_ca/bn.json
  src/unitxt/catalog/cards/global_mmlu_lite_ca/de.json
  src/unitxt/catalog/cards/global_mmlu_lite_ca/es.json
  src/unitxt/catalog/cards/global_mmlu_lite_ca/fr.json
  src/unitxt/catalog/cards/global_mmlu_lite_ca/hi.json
  src/unitxt/catalog/cards/global_mmlu_lite_ca/id.json
  src/unitxt/catalog/cards/global_mmlu_lite_ca/it.json
  src/unitxt/catalog/cards/global_mmlu_lite_ca/ja.json
  src/unitxt/catalog/cards/global_mmlu_lite_ca/ko.json
  src/unitxt/catalog/cards/global_mmlu_lite_ca/pt.json
  src/unitxt/catalog/cards/global_mmlu_lite_ca/sw.json
  src/unitxt/catalog/cards/global_mmlu_lite_ca/yo.json
  src/unitxt/catalog/cards/global_mmlu_lite_ca/zh.json
  src/unitxt/catalog/cards/global_mmlu_lite_cs/ar.json
  src/unitxt/catalog/cards/global_mmlu_lite_cs/bn.json
  src/unitxt/catalog/cards/global_mmlu_lite_cs/de.json
  src/unitxt/catalog/cards/global_mmlu_lite_cs/es.json
  src/unitxt/catalog/cards/global_mmlu_lite_cs/fr.json
  src/unitxt/catalog/cards/global_mmlu_lite_cs/hi.json
  src/unitxt/catalog/cards/global_mmlu_lite_cs/id.json
  src/unitxt/catalog/cards/global_mmlu_lite_cs/it.json
  src/unitxt/catalog/cards/global_mmlu_lite_cs/ja.json
  src/unitxt/catalog/cards/global_mmlu_lite_cs/ko.json
  src/unitxt/catalog/cards/global_mmlu_lite_cs/pt.json
  src/unitxt/catalog/cards/global_mmlu_lite_cs/sw.json
  src/unitxt/catalog/cards/global_mmlu_lite_cs/yo.json
  src/unitxt/catalog/cards/global_mmlu_lite_cs/zh.json
Due: enforce-library-imports

Update version to 1.17.2
  src/unitxt/version.py
Due: enforce-relative-imports

Update version to 1.17.2 (#1569)
  src/unitxt/version.py
Due: enforce-relative-imports

Update README with current statistics for tasks, dataset cards, templates, benchmarks, and metrics
  README.md
Due: none

Add schema-linking task (#1533)
  prepare/tasks/schema_linking.py
  prepare/templates/schema_linking/templates.py
  src/unitxt/catalog/tasks/schema_linking.json
  src/unitxt/catalog/templates/schema_linking/all.json
  src/unitxt/catalog/templates/schema_linking/default.json
  src/unitxt/catalog/templates/schema_linking/with_hint.json
Due: enforce-library-imports

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
