Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]
        exclude: src/unitxt/metrics.py
      # Run the linter on the specific file with the ignore flag
      - id: ruff
        name: ruff (src/unitxt/metrics.py)
        files: src/unitxt/metrics.py
        args: [--fix, --ignore, C901]
      # Run the formatter
      - id: ruff-format

  - repo: https://github.com/ibm/detect-secrets
    # If you desire to use a specific version of detect-secrets, you can replace `master` with other git revisions such as branch, tag or commit sha.
    # You are encouraged to use static refs such as tags, instead of branch name
    #
    # Running "pre-commit autoupdate" automatically updates rev to latest tag
    rev: 0.13.1+ibm.61.dss
    hooks:
      - id: detect-secrets # pragma: whitelist secret
        # Add options for detect-secrets-hook binary. You can run `detect-secrets-hook --help` to list out all possible options.
        # You may also run `pre-commit run detect-secrets` to preview the scan result.
        # when "--baseline" without "--use-all-plugins", pre-commit scan with just plugins in baseline file
        # when "--baseline" with "--use-all-plugins", pre-commit scan with all available plugins
        # add "--fail-on-unaudited" to fail pre-commit for unaudited potential secrets
        args: [--baseline, .secrets.baseline, --use-all-plugins, --fail-on-unaudited]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

Add example for image processing with different templates
  docs/docs/examples.rst
  examples/evaluate_image_text_to_text_with_different_templates.py
Due: enforce-library-imports

Fix quality github action
  .github/workflows/quality.yml
Due: none

Update
  .github/workflows/quality.yml
Due: none

Fix quality github action (#1281)
  .github/workflows/quality.yml
Due: none

add operators for robustness check on tables (#1279)
  src/unitxt/struct_data_operators.py
  tests/library/test_struct_data_operators.py
Due: enforce-relative-imports, enforce-library-imports

added the expected number_of_evaluated_instances.. to unittests in test_api and in test_fusion
  tests/library/test_api.py
  tests/library/test_fusion.py
Due: enforce-library-imports

and to test_eval_utiles
  tests/library/test_eval_utils.py
Due: enforce-library-imports

A PR suggested for issue #1260: Add num_instances to scores
  .secrets.baseline
  prepare/metrics/accuracy.py
  prepare/metrics/anls.py
  prepare/metrics/bleu.py
  prepare/metrics/char_edit_dist_accuracy.py
  prepare/metrics/custom_f1.py
  prepare/metrics/customf1fuzzy.py
  prepare/metrics/grouped_instance_metrics.py
  prepare/metrics/jaccard_index.py
  prepare/metrics/kendalltau.py
  prepare/metrics/kpa.py
  prepare/metrics/llama_index_metrics.py
  prepare/metrics/map.py
  prepare/metrics/matthews_correlation.py
  prepare/metrics/meteor.py
  prepare/metrics/mrr.py
  prepare/metrics/ndcg.py
  prepare/metrics/normalized_sacrebleu.py
  prepare/metrics/perplexity.py
  prepare/metrics/precision_recall.py
  prepare/metrics/prediction_length.py
  prepare/metrics/rag.py
  prepare/metrics/rag_answer_correctness.py
  prepare/metrics/rag_context_correctness.py
  prepare/metrics/rag_faithfulness.py
  prepare/metrics/regard_metric.py
  prepare/metrics/rerank_recall.py
  prepare/metrics/retrieval.py
  prepare/metrics/roc_auc.py
  prepare/metrics/rouge.py
  prepare/metrics/safety_metric.py
  prepare/metrics/spearman.py
  prepare/metrics/squad.py
  prepare/metrics/string_containment.py
  prepare/metrics/unnormalized_sacrebleu.py
  prepare/metrics/wer.py
  src/unitxt/metrics.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

shortened 'num_of_evaluated_instances' to 'num_of_instances'
  prepare/metrics/accuracy.py
  prepare/metrics/anls.py
  prepare/metrics/bleu.py
  prepare/metrics/char_edit_dist_accuracy.py
  prepare/metrics/custom_f1.py
  prepare/metrics/customf1fuzzy.py
  prepare/metrics/grouped_instance_metrics.py
  prepare/metrics/jaccard_index.py
  prepare/metrics/kendalltau.py
  prepare/metrics/kpa.py
  prepare/metrics/llama_index_metrics.py
  prepare/metrics/map.py
  prepare/metrics/matthews_correlation.py
  prepare/metrics/meteor.py
  prepare/metrics/mrr.py
  prepare/metrics/ndcg.py
  prepare/metrics/normalized_sacrebleu.py
  prepare/metrics/perplexity.py
  prepare/metrics/precision_recall.py
  prepare/metrics/prediction_length.py
  prepare/metrics/rag.py
  prepare/metrics/rag_answer_correctness.py
  prepare/metrics/rag_context_correctness.py
  prepare/metrics/rag_faithfulness.py
  prepare/metrics/regard_metric.py
  prepare/metrics/rerank_recall.py
  prepare/metrics/retrieval.py
  prepare/metrics/roc_auc.py
  prepare/metrics/rouge.py
  prepare/metrics/safety_metric.py
  prepare/metrics/spearman.py
  prepare/metrics/squad.py
  prepare/metrics/string_containment.py
  prepare/metrics/unnormalized_sacrebleu.py
  prepare/metrics/wer.py
  src/unitxt/metrics.py
  tests/library/test_api.py
  tests/library/test_eval_utils.py
  tests/library/test_fusion.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

update
  src/unitxt/formats.py
Due: enforce-relative-imports

Update wml inference engine
  src/unitxt/inference.py
Due: enforce-relative-imports

Remove exmple from examples tests
  tests/library/test_examples.py
Due: enforce-library-imports

change the max_test_instances of bluebench.recipe.attaq_500 to 100
  src/unitxt/catalog/recipes/bluebench/safety/attaq_500.json
Due: none

Instruction in SystemFormet demo support. (#1274)
  src/unitxt/formats.py
Due: enforce-relative-imports

change the max_test_instances of bluebench.recipe.attaq_500 prepare file
  prepare/recipes/bluebench.py
Due: enforce-library-imports

Add documentation for types and serializers
  docs/docs/tutorials.rst
  docs/docs/types_and_serializers.rst
Due: none

Update Signed-off-by: elronbandel <elronbandel@gmail.com>
  docs/docs/glossary.rst
Due: none

change the max_test_instances of bluebench.recipe.attaq_500 to 100 (#1285)
  prepare/recipes/bluebench.py
  src/unitxt/catalog/recipes/bluebench/safety/attaq_500.json
Due: enforce-library-imports

Update
  docs/docs/examples.rst
  docs/docs/types_and_serializers.rst
  examples/custom_type.py
Due: enforce-library-imports

fix llamaj metrics and add bam llama_3_70b_instruct judge Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/llm_as_judge/binary_judge.py
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_template_answer_relevance_judge_answer_relevance_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_template_context_relevance_judge_context_relevance_ares_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_template_faithfulness_judge_with_question_simplified_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_70b_instruct_bam_template_answer_correctness_judge_loose_match_no_context_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_70b_instruct_bam_template_answer_relevance_judge_answer_relevance_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_70b_instruct_bam_template_context_relevance_judge_context_relevance_ares_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_70b_instruct_bam_template_correctness_holistic_judge_correctness_simple_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_70b_instruct_bam_template_faithfulness_judge_with_question_simplified_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_wml_template_answer_relevance_judge_answer_relevance_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_wml_template_context_relevance_judge_context_relevance_ares_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_wml_template_correctness_holistic_judge_correctness_simple_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_wml_template_faithfulness_judge_with_question_simplified_logprobs.json
Due: enforce-library-imports

add example script for running autorag judge metrics Signed-off-by: lilacheden <lilach.edel@gmail.com>
  examples/evaluate_rag_judge.py
Due: enforce-library-imports

disable progress bar in dataset Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/metrics.py
Due: enforce-relative-imports

add contexts to rag_eval correctness input Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/tasks/rag_eval.py
  src/unitxt/catalog/tasks/rag_eval/correctness/binary.json
  src/unitxt/catalog/tasks/rag_eval/correctness/non_binary.json
Due: enforce-library-imports

fix llamaj metrics task Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/llm_as_judge/binary_judge.py
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_template_answer_correctness_judge_loose_match_no_context_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_template_answer_relevance_judge_answer_relevance_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_template_context_relevance_judge_context_relevance_ares_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_template_correctness_holistic_judge_correctness_simple_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_template_faithfulness_judge_with_question_simplified_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_70b_instruct_bam_template_answer_correctness_judge_loose_match_no_context_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_70b_instruct_bam_template_answer_relevance_judge_answer_relevance_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_70b_instruct_bam_template_context_relevance_judge_context_relevance_ares_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_70b_instruct_bam_template_correctness_holistic_judge_correctness_simple_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_70b_instruct_bam_template_faithfulness_judge_with_question_simplified_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_wml_template_answer_correctness_judge_loose_match_no_context_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_wml_template_answer_relevance_judge_answer_relevance_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_wml_template_context_relevance_judge_context_relevance_ares_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_wml_template_correctness_holistic_judge_correctness_simple_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/mixtral_8x7b_instruct_v01_wml_template_faithfulness_judge_with_question_simplified_logprobs.json
Due: enforce-library-imports

remove redundant metrics
  prepare/tasks/rag_eval.py
  src/unitxt/catalog/tasks/rag_eval/answer_relevance/binary.json
  src/unitxt/catalog/tasks/rag_eval/context_relevance/binary.json
  src/unitxt/catalog/tasks/rag_eval/correctness/binary.json
  src/unitxt/catalog/tasks/rag_eval/correctness_holistic/binary.json
  src/unitxt/catalog/tasks/rag_eval/correctness_reference_based/binary.json
  src/unitxt/catalog/tasks/rag_eval/faithfulness/binary.json
Due: enforce-library-imports

Add loose-match correctness reference base template Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/templates/rag_eval.py
  src/unitxt/catalog/templates/rag_eval/answer_correctness/all.json
  src/unitxt/catalog/templates/rag_eval/answer_correctness/judge_loose_match_no_context.json
  src/unitxt/catalog/templates/rag_eval/answer_correctness/judge_loose_match_no_context_logprobs.json
Due: enforce-library-imports

replace gpt-4o-mini with gpt-4-turbo Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/rag_eval_judges.py
  src/unitxt/catalog/metrics/rag/binary_judges/answer_relevance_q_a_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/binary_judges/answer_relevance_q_a_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/answer_relevance_q_a_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/binary_judges/context_relevance_q_c_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/binary_judges/context_relevance_q_c_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/context_relevance_q_c_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_holistic_q_c_a_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_holistic_q_c_a_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_holistic_q_c_a_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_q_a_gt_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_q_a_gt_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_q_a_gt_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_q_c_a_gt_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_q_c_a_gt_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_q_c_a_gt_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/binary_judges/faithfulness_c_a_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/binary_judges/faithfulness_c_a_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/faithfulness_c_a_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/binary_judges/faithfulness_q_c_a_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/binary_judges/faithfulness_q_c_a_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/faithfulness_q_c_a_judge_mixtral_8x7b_instruct_v01.json
Due: enforce-library-imports

fix import Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/rag_metrics/task_based_judge_metric.py
Due: enforce-relative-imports

use loose-match template for answer_correctness without context Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/rag_eval_judges.py
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_judge_llama_3_1_405b_instruct_fp8.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_judge_mixtral_8x7b_instruct_v01.json
Due: enforce-library-imports

allow various llamaj metrics tasks Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

replace llama-3-70b-instruct with llama-3-1-70b-instruct Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/rag_eval_judges.py
  src/unitxt/catalog/metrics/rag/binary_judges/answer_relevance_q_a_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/context_relevance_q_c_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_holistic_q_c_a_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_q_a_gt_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_q_c_a_gt_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/faithfulness_c_a_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/faithfulness_q_c_a_judge_llama_3_1_70b_instruct.json
Due: enforce-library-imports

add metric_type to metric path Signed-off-by: lilacheden <lilach.edel@gmail.com>
  examples/evaluate_rag_judge.py
  prepare/metrics/rag_eval_ArmoRM.py
  prepare/metrics/rag_eval_judges.py
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_c_a_gt_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_c_a_gt_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_c_a_gt_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/answer_relevance/answer_relevance_q_a_ArmoRM.json
  src/unitxt/catalog/metrics/rag/answer_relevance/answer_relevance_q_a_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/answer_relevance/answer_relevance_q_a_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/answer_relevance/answer_relevance_q_a_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/binary_judges/answer_relevance_q_a_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/context_relevance_q_c_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_holistic_q_c_a_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/faithfulness_c_a_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/faithfulness_q_c_a_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/context_relevance/context_relevance_q_c_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/context_relevance/context_relevance_q_c_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/context_relevance/context_relevance_q_c_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/correctness_holistic_q_c_a_ArmoRM.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/correctness_holistic_q_c_a_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/correctness_holistic_q_c_a_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/correctness_holistic_q_c_a_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_c_a_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_c_a_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_c_a_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_q_c_a_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_q_c_a_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_q_c_a_judge_mixtral_8x7b_instruct_v01.json
Due: enforce-library-imports

add ArmoRM metric Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/rag_eval_ArmoRM.py
  src/unitxt/rag_metrics/armorm_judge_metric.py
Due: enforce-relative-imports, enforce-library-imports

fix model name Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/rag_metrics/armorm_judge_metric.py
Due: enforce-relative-imports

correctness -> answer_correctness Signed-off-by: lilacheden <lilach.edel@gmail.com>
  examples/evaluate_rag_judge.py
  prepare/metrics/rag_eval_judges.py
  prepare/tasks/rag_eval.py
  prepare/templates/rag_eval.py
  src/unitxt/catalog/metrics/rag/binary_judges/answer_correctness_q_a_gt_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/binary_judges/answer_correctness_q_a_gt_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/answer_correctness_q_a_gt_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/binary_judges/answer_correctness_q_c_a_gt_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/binary_judges/answer_correctness_q_c_a_gt_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/answer_correctness_q_c_a_gt_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_q_a_gt_judge_llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/rag/binary_judges/correctness_q_c_a_gt_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/tasks/rag_eval/answer_correctness/binary.json
  src/unitxt/catalog/tasks/rag_eval/answer_correctness/non_binary.json
  src/unitxt/catalog/tasks/rag_eval/correctness/binary.json
  src/unitxt/catalog/tasks/rag_eval/correctness/non_binary.json
  src/unitxt/catalog/templates/rag_eval/answer_correctness/all.json
  src/unitxt/catalog/templates/rag_eval/answer_correctness/judge_instruct_qa_format.json
  src/unitxt/catalog/templates/rag_eval/answer_correctness/judge_instruct_qa_format_logprobs.json
  src/unitxt/catalog/templates/rag_eval/answer_correctness/judge_simplified_format.json
  src/unitxt/catalog/templates/rag_eval/answer_correctness/judge_simplified_format_logprobs.json
  src/unitxt/catalog/templates/rag_eval/answer_correctness/judge_simplified_no_context.json
  src/unitxt/catalog/templates/rag_eval/answer_correctness/judge_simplified_no_context_logprobs.json
  src/unitxt/catalog/templates/rag_eval/answer_correctness/judge_simplified_with_context.json
  src/unitxt/catalog/templates/rag_eval/answer_correctness/judge_simplified_with_context_logprobs.json
  src/unitxt/catalog/templates/rag_eval/answer_correctness/metric_template.json
  src/unitxt/catalog/templates/rag_eval/correctness/all.json
Due: enforce-library-imports

unitest Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/retrieval.py
Due: enforce-library-imports

fix import Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/metrics.py
Due: enforce-relative-imports
