Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [--baseline, utils/.secrets.baseline]
        exclude: utils/.secrets.baseline

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils|unitxt/assistant/.*)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

adding a new prompt
  prepare/system_prompts/models/granite.py
  src/unitxt/catalog/system_prompts/model/granite.json
Due: enforce-library-imports

modifying metrics to meet our needs
  src/unitxt/metrics.py
Due: enforce-relative-imports

Make api_key_env_var optional in LoadFromAPI
  src/unitxt/loaders.py
Due: enforce-relative-imports

Add MetricInferenceEngine
  src/unitxt/inference.py
Due: enforce-relative-imports

Move Metric class into its own file
  src/unitxt/base_metric.py
  src/unitxt/metrics.py
Due: enforce-relative-imports

Add toxic chat LLM judge benchmarks
  prepare/cards/judge_bench/toxic_chat_jailbreak.py
  prepare/cards/judge_bench/toxic_chat_toxicity.py
  src/unitxt/catalog/cards/judege_bench/toxic_chat/jailbreaking.json
  src/unitxt/catalog/cards/judege_bench/toxic_chat/toxicity.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/criteria/toxicity.json
  src/unitxt/llm_as_judge_constants.py
Due: enforce-relative-imports, enforce-library-imports

Fix imports
  src/unitxt/dataset.py
  src/unitxt/metric.py
Due: none

Add LoadJsonFile loader and tests
  prepare/cards/arena_hard/generation/english_gpt-4-0314_reference.py
  prepare/cards/bfcl.py
  prepare/cards/mtrag.py
  prepare/cards/quality.py
  src/unitxt/catalog/cards/arena_hard/generation/english_gpt_4_0314_reference.json
  src/unitxt/catalog/cards/bfcl/simple_v3.json
  src/unitxt/catalog/cards/rag/mtrag.json
  src/unitxt/catalog/cards/rag/mtrag/documents/clapnq.json
  src/unitxt/catalog/cards/rag/mtrag/documents/cloud.json
  src/unitxt/catalog/cards/rag/mtrag/documents/fiqa.json
  src/unitxt/catalog/cards/rag/mtrag/documents/govt.json
  src/unitxt/loaders.py
  tests/library/test_loaders.py
Due: enforce-relative-imports, enforce-library-imports

Improve speed readability and unit-testability
  prepare/cards/rag/end_to_end/real_mm_rag.py
  src/unitxt/catalog/cards/rag/benchmark/bioasq/en.json
  src/unitxt/catalog/cards/rag/benchmark/clap_nq/en.json
  src/unitxt/catalog/cards/rag/benchmark/hotpotqa/en.json
  src/unitxt/catalog/cards/rag/benchmark/miniwiki/en.json
  src/unitxt/catalog/cards/rag/benchmark/real_mm_rag/fin_report.json
  src/unitxt/catalog/cards/rag/benchmark/real_mm_rag/fin_slides.json
  src/unitxt/catalog/cards/rag/benchmark/real_mm_rag/tech_report.json
  src/unitxt/catalog/cards/rag/benchmark/real_mm_rag/tech_slides.json
  src/unitxt/catalog/cards/rag/benchmark/watsonxqa/en.json
  src/unitxt/catalog/cards/rag/documents/real_mm_rag/fin_report.json
  src/unitxt/catalog/cards/rag/documents/real_mm_rag/fin_slides.json
  src/unitxt/catalog/cards/rag/documents/real_mm_rag/tech_report.json
  src/unitxt/catalog/cards/rag/documents/real_mm_rag/tech_slides.json
  src/unitxt/image_operators.py
  src/unitxt/operators.py
  tests/library/test_image_operators.py
  tests/library/test_operators.py
Due: enforce-relative-imports, enforce-library-imports

Remove IBM branding from opensource doc
  docs/conf.py
  docs/index.rst
Due: enforce-library-imports

Revert "Remove IBM branding from opensource doc"
  docs/conf.py
  docs/index.rst
Due: enforce-library-imports

Revert "Revert "Remove IBM branding from opensource doc""
  docs/conf.py
  docs/index.rst
Due: enforce-library-imports

Update artifact
  src/unitxt/catalog/cards/quality.json
Due: none

Revert naming
  prepare/cards/rag/end_to_end/real_mm_rag.py
  src/unitxt/catalog/cards/rag/benchmark/real_mm_rag_fin_report/en.json
  src/unitxt/catalog/cards/rag/benchmark/real_mm_rag_fin_slides/en.json
  src/unitxt/catalog/cards/rag/benchmark/real_mm_rag_tech_report/en.json
  src/unitxt/catalog/cards/rag/benchmark/real_mm_rag_tech_slides/en.json
  src/unitxt/catalog/cards/rag/documents/real_mm_rag_fin_report/en.json
  src/unitxt/catalog/cards/rag/documents/real_mm_rag_fin_slides/en.json
  src/unitxt/catalog/cards/rag/documents/real_mm_rag_tech_report/en.json
  src/unitxt/catalog/cards/rag/documents/real_mm_rag_tech_slides/en.json
Due: enforce-library-imports

Remove IBM branding from opensource doc (#1802)
  docs/conf.py
  docs/index.rst
Due: enforce-library-imports

Add LoadJsonFile loader and tests (#1801)
  prepare/cards/arena_hard/generation/english_gpt-4-0314_reference.py
  prepare/cards/bfcl.py
  prepare/cards/mtrag.py
  prepare/cards/quality.py
  src/unitxt/catalog/cards/arena_hard/generation/english_gpt_4_0314_reference.json
  src/unitxt/catalog/cards/bfcl/simple_v3.json
  src/unitxt/catalog/cards/quality.json
  src/unitxt/catalog/cards/rag/mtrag.json
  src/unitxt/catalog/cards/rag/mtrag/documents/clapnq.json
  src/unitxt/catalog/cards/rag/mtrag/documents/cloud.json
  src/unitxt/catalog/cards/rag/mtrag/documents/fiqa.json
  src/unitxt/catalog/cards/rag/mtrag/documents/govt.json
  src/unitxt/loaders.py
  tests/library/test_loaders.py
Due: enforce-relative-imports, enforce-library-imports

Update cards to use LoadJsonFIle
  prepare/cards/judge_bench/toxic_chat_jailbreak.py
  prepare/cards/judge_bench/toxic_chat_toxicity.py
  src/unitxt/catalog/cards/judege_bench/toxic_chat/jailbreaking.json
  src/unitxt/catalog/cards/judege_bench/toxic_chat/toxicity.json
Due: enforce-library-imports

Fix empty template list
  prepare/cards/judge_bench/toxic_chat_jailbreak.py
  prepare/cards/judge_bench/toxic_chat_toxicity.py
Due: enforce-library-imports

Revert changes to rag files
  src/unitxt/catalog/cards/rag/benchmark/bioasq/en.json
  src/unitxt/catalog/cards/rag/benchmark/clap_nq/en.json
  src/unitxt/catalog/cards/rag/benchmark/hotpotqa/en.json
  src/unitxt/catalog/cards/rag/benchmark/miniwiki/en.json
  src/unitxt/catalog/cards/rag/benchmark/watsonxqa/en.json
Due: none

Another try
  prepare/cards/judge_bench/toxic_chat_jailbreak.py
  prepare/cards/judge_bench/toxic_chat_toxicity.py
  src/unitxt/catalog/cards/judege_bench/toxic_chat/jailbreaking.json
  src/unitxt/catalog/cards/judege_bench/toxic_chat/toxicity.json
Due: enforce-library-imports

Fix hotpot qa
  prepare/cards/rag/end_to_end/hotpotqa.py
  src/unitxt/catalog/cards/rag/benchmark/hotpotqa/en.json
  src/unitxt/catalog/cards/rag/documents/hotpotqa/en.json
Due: enforce-library-imports

LLM judge judgebench benchmarks (#1800)
  prepare/cards/judge_bench/toxic_chat_jailbreak.py
  prepare/cards/judge_bench/toxic_chat_toxicity.py
  src/unitxt/base_metric.py
  src/unitxt/catalog/cards/judege_bench/toxic_chat/jailbreaking.json
  src/unitxt/catalog/cards/judege_bench/toxic_chat/toxicity.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/criteria/toxicity.json
  src/unitxt/dataset.py
  src/unitxt/inference.py
  src/unitxt/llm_as_judge_constants.py
  src/unitxt/metric.py
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

Tool calling metric for defence (#1798)
  prepare/system_prompts/models/granite.py
  src/unitxt/catalog/system_prompts/model/granite.json
Due: enforce-library-imports

Update docs/docs/examples.rst
  docs/docs/examples.rst
Due: none

Documenation updates (#1790)
  docs/docs/examples.rst
  src/unitxt/operators.py
Due: enforce-relative-imports

Cards for the Real MM RAG datasets (#1795)
  prepare/cards/rag/end_to_end/hotpotqa.py
  prepare/cards/rag/end_to_end/real_mm_rag.py
  prepare/tasks/rag/rag_end_to_end.py
  src/unitxt/catalog/cards/rag/benchmark/hotpotqa/en.json
  src/unitxt/catalog/cards/rag/benchmark/real_mm_rag_fin_report/en.json
  src/unitxt/catalog/cards/rag/benchmark/real_mm_rag_fin_slides/en.json
  src/unitxt/catalog/cards/rag/benchmark/real_mm_rag_tech_report/en.json
  src/unitxt/catalog/cards/rag/benchmark/real_mm_rag_tech_slides/en.json
  src/unitxt/catalog/cards/rag/documents/hotpotqa/en.json
  src/unitxt/catalog/cards/rag/documents/real_mm_rag_fin_report/en.json
  src/unitxt/catalog/cards/rag/documents/real_mm_rag_fin_slides/en.json
  src/unitxt/catalog/cards/rag/documents/real_mm_rag_tech_report/en.json
  src/unitxt/catalog/cards/rag/documents/real_mm_rag_tech_slides/en.json
  src/unitxt/catalog/tasks/rag/corpora.json
  src/unitxt/image_operators.py
  src/unitxt/operators.py
  tests/library/test_image_operators.py
  tests/library/test_operators.py
Due: enforce-relative-imports, enforce-library-imports

Add criteria for benchmark
  src/unitxt/llm_as_judge_constants.py
Due: enforce-relative-imports

Add more judge bench datasets
  prepare/cards/judge_bench/cola.py
  prepare/cards/judge_bench/dices.py
  prepare/cards/judge_bench/inferential_strategies.py
  prepare/cards/judge_bench/newsroom_coherence.py
  prepare/cards/judge_bench/newsroom_fluency.py
  prepare/cards/judge_bench/newsroom_informativeness.py
  prepare/cards/judge_bench/newsroom_revelance.py
  prepare/cards/judge_bench/roscoe_cosmos_overall_coherency.py
  prepare/cards/judge_bench/roscoe_cosmos_overall_contradiction.py
  prepare/cards/judge_bench/roscoe_cosmos_overall_missing_steps.py
  prepare/cards/judge_bench/roscoe_cosmos_overall_overall_quality.py
  prepare/cards/judge_bench/toxic_chat_jailbreak.py
  src/unitxt/catalog/cards/judge_bench/cola/grammaticality.json
  src/unitxt/catalog/cards/judge_bench/dices/safety.json
  src/unitxt/catalog/cards/judge_bench/inferential_strategies/sound_reasoning.json
  src/unitxt/catalog/cards/judge_bench/newswoom/coherence.json
  src/unitxt/catalog/cards/judge_bench/newswoom/fluency.json
  src/unitxt/catalog/cards/judge_bench/newswoom/informativeness.json
  src/unitxt/catalog/cards/judge_bench/newswoom/relevance.json
  src/unitxt/catalog/cards/judge_bench/roscoe/cosmos/overall/coherence.json
  src/unitxt/catalog/cards/judge_bench/roscoe/cosmos/overall/overall_quality.json
  src/unitxt/catalog/cards/judge_bench/toxic_chat/jailbreaking.json
  src/unitxt/catalog/cards/judge_bench/toxic_chat/toxicity.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/criteria/logical_validity_of_reasoning.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/criteria/step_by_step_reasoning_coherency.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/criteria/step_by_step_reasoning_contradiction.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/criteria/step_by_step_reasoning_missing_steps.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/criteria/step_by_step_reasoning_overall_quality.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/criteria/summarization_coherence.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/criteria/summarization_fluency.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/criteria/summarization_informativeness.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/criteria/summarization_relevance.json
Due: enforce-library-imports

Add criteria to the task data
  prepare/cards/judge_bench/cola.py
  prepare/cards/judge_bench/dices.py
  prepare/cards/judge_bench/inferential_strategies.py
  prepare/cards/judge_bench/newsroom_coherence.py
  prepare/cards/judge_bench/newsroom_fluency.py
  prepare/cards/judge_bench/newsroom_informativeness.py
  prepare/cards/judge_bench/newsroom_revelance.py
  prepare/cards/judge_bench/roscoe_cosmos_overall_coherency.py
  prepare/cards/judge_bench/roscoe_cosmos_overall_contradiction.py
  prepare/cards/judge_bench/roscoe_cosmos_overall_missing_steps.py
  prepare/cards/judge_bench/roscoe_cosmos_overall_overall_quality.py
  prepare/cards/judge_bench/toxic_chat_jailbreak.py
  prepare/cards/judge_bench/toxic_chat_toxicity.py
Due: enforce-library-imports

Update catalog cards with criteria
  prepare/cards/judge_bench/dices.py
  src/unitxt/catalog/cards/judge_bench/cola/grammaticality.json
  src/unitxt/catalog/cards/judge_bench/dices/safety.json
  src/unitxt/catalog/cards/judge_bench/inferential_strategies/sound_reasoning.json
  src/unitxt/catalog/cards/judge_bench/newswoom/coherence.json
  src/unitxt/catalog/cards/judge_bench/newswoom/fluency.json
  src/unitxt/catalog/cards/judge_bench/newswoom/informativeness.json
  src/unitxt/catalog/cards/judge_bench/newswoom/relevance.json
  src/unitxt/catalog/cards/judge_bench/roscoe/cosmos/overall/coherence.json
  src/unitxt/catalog/cards/judge_bench/roscoe/cosmos/overall/overall_quality.json
  src/unitxt/catalog/cards/judge_bench/toxic_chat/jailbreaking.json
  src/unitxt/catalog/cards/judge_bench/toxic_chat/toxicity.json
Due: enforce-library-imports

Fix: number of batches calculation is incorrect
  src/unitxt/inference.py
Due: enforce-relative-imports

Fixed problematic load of json with a single dictionary line.
  src/unitxt/loaders.py
  tests/library/test_loaders.py
Due: enforce-relative-imports, enforce-library-imports

Added fix.
  src/unitxt/loaders.py
Due: enforce-relative-imports

Add more cross provider models
  src/unitxt/inference.py
Due: enforce-relative-imports

Fixed problematic load of json with a single dictionary line. (#1806)
  src/unitxt/loaders.py
  tests/library/test_loaders.py
Due: enforce-relative-imports, enforce-library-imports

Fix LLMJudge model name
  src/unitxt/llm_as_judge_constants.py
Due: enforce-relative-imports
