Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

Generate summaries in positional bias for direct assessment
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

Fix: AzureOpenAIInferenceEngine fails if api_version is not set (#1680)
  src/unitxt/inference.py
Due: enforce-relative-imports

fixing cache initialization
  src/unitxt/cache_utils.py
  src/unitxt/sql_utils.py
Due: enforce-relative-imports

Interim solution to make the prediction available to the metric
  src/unitxt/metrics.py
Due: enforce-relative-imports

Merge branch 'improve_inference_log' into entity_squad_metric
  src/unitxt/inference.py
Due: enforce-relative-imports

Remove obsolete
  src/unitxt/catalog/tasks/generation/with_contexts.json
Due: none

Ensure temperature is 0 in extraction task
  examples/key_value_extraction_evaluation.py
Due: enforce-library-imports

Fix hf-auto model test
  tests/inference/test_inference_engine.py
Due: enforce-library-imports

Touch up watsonx tests
  tests/inference/test_inference_engine.py
Due: enforce-library-imports

Move logger out of the class and make some methods private
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

add tags information - url
  prepare/cards/rag/end_to_end/bioasq.py
  prepare/cards/rag/end_to_end/clapnq.py
  prepare/cards/rag/end_to_end/hotpotqa.py
  prepare/cards/rag/end_to_end/miniwikipedia.py
  src/unitxt/catalog/cards/rag/benchmark/bioasq/en.json
  src/unitxt/catalog/cards/rag/benchmark/clap_nq/en.json
  src/unitxt/catalog/cards/rag/benchmark/hotpotqa/en.json
  src/unitxt/catalog/cards/rag/benchmark/miniwiki/en.json
  src/unitxt/catalog/cards/rag/documents/bioasq/en.json
  src/unitxt/catalog/cards/rag/documents/clap_nq/en.json
  src/unitxt/catalog/cards/rag/documents/hotpotqa/en.json
  src/unitxt/catalog/cards/rag/documents/miniwiki/en.json
Due: enforce-library-imports

Fix inference tests.
  src/unitxt/inference.py
  tests/inference/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

Add docstrings
  docs/conf.py
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports, enforce-library-imports

Fix setting of data classification policy
  src/unitxt/api.py
  src/unitxt/loaders.py
Due: enforce-relative-imports

Fix some bugs in inference engine tests (#1682)
  .github/workflows/inference_tests.yml
  pyproject.toml
  src/unitxt/api.py
  src/unitxt/dataset.py
  src/unitxt/inference.py
  src/unitxt/loaders.py
  src/unitxt/schema.py
  tests/inference/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

merging cach_utils into sql_utils
  src/unitxt/cache_utils.py
  src/unitxt/sql_utils.py
Due: enforce-relative-imports

Fix typo
  src/unitxt/inference.py
Due: enforce-relative-imports

Improved output message when using inference cache (#1686)
  examples/inference_using_ibm_watsonx_ai.py
  src/unitxt/inference.py
Due: enforce-relative-imports, enforce-library-imports

Removed unneeded changes from past merge
  src/unitxt/loaders.py
Due: enforce-relative-imports

Add auth endpoint
  ccc_worker_server.py
  src/unitxt/inference.py
Due: enforce-relative-imports, enforce-library-imports

Working with Single server
  ccc_worker_server.py
  src/unitxt/inference.py
Due: enforce-relative-imports, enforce-library-imports

succed to creat simple server and interact with it
  ccc_worker_server.py
  src/unitxt/inference.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Changed API of Key Value Extraction task to use Dict and not List[Tuple] (NON BACKWARD COMPATIBLE CHANGE) (#1675)
  examples/api_call_evaluation.py
  examples/key_value_extraction_evaluation.py
  prepare/metrics/custom_f1.py
  prepare/metrics/key_value_extraction.py
  prepare/tasks/key_value_extraction.py
  prepare/templates/key_value_extraction/templates.py
  src/unitxt/catalog/metrics/key_value_extraction.json
  src/unitxt/catalog/metrics/key_value_extraction/accuracy.json
  src/unitxt/catalog/metrics/key_value_extraction/token_overlap.json
  src/unitxt/catalog/tasks/key_value_extraction.json
  src/unitxt/catalog/templates/key_value_extraction/extract_in_json_format.json
  src/unitxt/inference.py
  src/unitxt/loaders.py
  src/unitxt/metrics.py
  src/unitxt/struct_data_operators.py
  tests/library/test_metrics.py
  tests/library/test_struct_data_operators.py
Due: enforce-relative-imports, enforce-library-imports

Support for asynchronous requests for watsonx.ai chat (#1666)
  pyproject.toml
  src/unitxt/inference.py
Due: enforce-relative-imports

add tags information - url (#1691)
  prepare/cards/rag/end_to_end/bioasq.py
  prepare/cards/rag/end_to_end/clapnq.py
  prepare/cards/rag/end_to_end/hotpotqa.py
  prepare/cards/rag/end_to_end/miniwikipedia.py
  src/unitxt/catalog/cards/rag/benchmark/bioasq/en.json
  src/unitxt/catalog/cards/rag/benchmark/clap_nq/en.json
  src/unitxt/catalog/cards/rag/benchmark/hotpotqa/en.json
  src/unitxt/catalog/cards/rag/benchmark/miniwiki/en.json
  src/unitxt/catalog/cards/rag/documents/bioasq/en.json
  src/unitxt/catalog/cards/rag/documents/clap_nq/en.json
  src/unitxt/catalog/cards/rag/documents/hotpotqa/en.json
  src/unitxt/catalog/cards/rag/documents/miniwiki/en.json
Due: enforce-library-imports

Fixes to GraniteGuardian metric,, safety evals cleanups (#1690)
  prepare/cards/safety/mlcommons_ailuminate.py
  prepare/cards/safety/simple_safety_tests.py
  src/unitxt/catalog/cards/safety/mlcommons_ailuminate.json
  src/unitxt/catalog/cards/safety/simple_safety_tests.json
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

Add docstring to LLMJudge classes (#1652)
  docs/conf.py
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports, enforce-library-imports

Remove src.lock
  src.lock
Due: none

Remove src.lock (#1692)
  src.lock
Due: none

fix formatting
  src/unitxt/metrics.py
Due: enforce-relative-imports

Text2sql metrics update and optional caching (#1672)
  prepare/metrics/text2sql_accuracy.py
  pyproject.toml
  src/unitxt/metrics.py
  src/unitxt/serializers.py
  src/unitxt/sql_utils.py
Due: enforce-relative-imports, enforce-library-imports

LLM Judge: start using CrossInferenceProvider
  prepare/metrics/llm_as_judge/llm_as_judge.py
  src/unitxt/llm_as_judge.py
  src/unitxt/llm_as_judge_constants.py
  src/unitxt/llm_as_judge_utils.py
Due: enforce-relative-imports, enforce-library-imports

Adapt examples to use LLAMA 3.1 to 3.3
  docs/docs/llm_as_judge.rst
  examples/evaluate_existing_dataset_by_llm_as_judge_direct.py
  examples/evaluate_llm_as_judge_direct_criteria_from_dataset.py
  examples/evaluate_llm_as_judge_direct_predefined_criteria.py
  examples/evaluate_llm_as_judge_pairwise_criteria_from_dataset.py
  examples/evaluate_llm_as_judge_pairwise_predefined_criteria.py
  src/unitxt/assistant/assessment/assistant_inference_engine.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

Update prepare file
  prepare/metrics/llm_as_judge/llm_as_judge.py
Due: enforce-library-imports

Improve final answer prompt to avoid contradictions with the assessment
  src/unitxt/llm_as_judge_chat_templates.py
Due: enforce-relative-imports

Be consistent in how the criteria is shown to the LLM
  src/unitxt/llm_as_judge.py
  src/unitxt/llm_as_judge_chat_templates.py
Due: enforce-relative-imports

Set default temperature to 0 to improve consistency
  prepare/metrics/llm_as_judge/llm_as_judge.py
Due: enforce-library-imports

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
