Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

Fixed clapnq to check with reasonable error values
  prepare/cards/rag/end_to_end/clapnq.py
  prepare/tasks/rag/rag_end_to_end.py
  src/unitxt/catalog/tasks/rag/corpora.json
  src/unitxt/catalog/tasks/rag/end_to_end.json
Due: enforce-library-imports

update catalog
  src/unitxt/catalog/tasks/rag/end_to_end.json
Due: none

add the processors/load_json_predictions.json generated to the catalog
  src/unitxt/catalog/processors/load_json_predictions.json
Due: none

define an empty template for rag end_to_end
  prepare/cards/rag/end_to_end/clapnq.py
  prepare/tasks/rag/rag_end_to_end.py
  prepare/templates/rag/end_to_end.py
Due: enforce-library-imports

remove constants
  prepare/cards/rag/end_to_end/clapnq.py
  prepare/metrics/rag.py
Due: enforce-library-imports

Add task rag_end_to_end
  prepare/tasks/rag/__init__.py
  prepare/tasks/rag/rag_end_to_end.py
  src/unitxt/catalog/tasks/rag/corpora.json
  src/unitxt/catalog/tasks/rag/end_to_end.json
Due: enforce-library-imports

add rag_end_to_end metrics
  src/unitxt/catalog/metrics/rag/end_to_end/answer_correctness.json
  src/unitxt/catalog/metrics/rag/end_to_end/answer_faithfulness.json
  src/unitxt/catalog/metrics/rag/end_to_end/answer_reward.json
  src/unitxt/catalog/metrics/rag/end_to_end/context_correctness.json
  src/unitxt/catalog/metrics/rag/end_to_end/context_relevance.json
Due: none

rename sandbox_benjams to sandbox
  .gitignore
Due: none

remove the reduced clap_nq
  prepare/cards/rag/end_to_end/clapnq.py
  prepare/metrics/rag.py
  src/unitxt/catalog/cards/rag/benchmark/clap_nq_reduced/en.json
  src/unitxt/catalog/cards/rag/documents/clap_nq_reduced/en.json
Due: enforce-library-imports

try with disciplined pipeline metrics I
  .secrets.baseline
  prepare/metrics/rag.py
  src/unitxt/catalog/metrics/rag/answer_inference.json
  src/unitxt/catalog/metrics/rag/answer_reward.json
  src/unitxt/catalog/metrics/rag/bert_k_precision.json
  src/unitxt/catalog/metrics/rag/bert_k_precision_ml.json
  src/unitxt/catalog/metrics/rag/context_perplexity.json
  src/unitxt/catalog/metrics/rag/context_relevance.json
  src/unitxt/catalog/metrics/rag/end_to_end/answer_correctness.json
  src/unitxt/catalog/metrics/rag/end_to_end/answer_faithfulness.json
  src/unitxt/catalog/metrics/rag/end_to_end/answer_reward.json
  src/unitxt/catalog/metrics/rag/end_to_end/context_correctness.json
  src/unitxt/catalog/metrics/rag/end_to_end/context_relevance.json
  src/unitxt/catalog/metrics/rag/faithfulness.json
  src/unitxt/catalog/metrics/rag/k_precision.json
  src/unitxt/catalog/metrics/rag/response_generation/correctness/bert_score/deberta_large_mnli.json
  src/unitxt/catalog/metrics/rag/response_generation/correctness/bert_score/deberta_v3_base_mnli_xnli_ml.json
  src/unitxt/catalog/metrics/rag/response_generation/correctness/token_overlap.json
  src/unitxt/catalog/metrics/rag/response_generation/faithfullness/token_overlap.json
  src/unitxt/catalog/metrics/token_overlap_with_context.json
  src/unitxt/metrics.py
  src/unitxt/operators.py
Due: enforce-relative-imports, enforce-library-imports

add a reduction of clap_nq
  prepare/cards/rag/end_to_end/clapnq.py
  src/unitxt/catalog/cards/rag/benchmark/clap_nq_reduced/en.json
Due: enforce-library-imports

Refactor Rouge and Meteor to InstanceMetric for faster score computation (#1011)
  .secrets.baseline
  prepare/metrics/meteor.py
  prepare/metrics/rouge.py
  src/unitxt/catalog/metrics/meteor.json
  src/unitxt/catalog/metrics/rouge.json
  src/unitxt/catalog/metrics/rouge_with_confidence_intervals.json
  src/unitxt/metrics.py
  src/unitxt/standard.py
  tests/library/test_metric_utils.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

Add CloseTextSampler and FixedIndicesSampler (#1034)
  src/unitxt/splitters.py
  src/unitxt/standard.py
  tests/library/test_api.py
  tests/library/test_recipe.py
  tests/library/test_splitters.py
Due: enforce-relative-imports, enforce-library-imports

Added seed to LLM as judges for consistent results (#1029)
  prepare/metrics/llm_as_judge/llamaguard.py
  prepare/metrics/llm_as_judge/rating/llama_3_ibm_genai_generic_template.py
  prepare/metrics/llm_as_judge/rating/llama_3_ibm_genai_mt_bench_template.py
  src/unitxt/catalog/metrics/llm_as_judge/rating/llama_3_70b_instruct_ibm_genai_template_generic_single_turn.json
  src/unitxt/catalog/metrics/llm_as_judge/rating/llama_3_70b_instruct_ibm_genai_template_generic_single_turn_with_reference.json
  src/unitxt/catalog/metrics/llm_as_judge/rating/llama_3_70b_instruct_ibm_genai_template_mt_bench_single_turn.json
  src/unitxt/catalog/metrics/llm_as_judge/rating/llama_3_8b_instruct_ibm_genai_template_mt_bench_single_turn.json
  src/unitxt/catalog/metrics/llm_as_judge/safety/llama_3_70b_instruct_ibm_genai_template_unsafe_content.json
  src/unitxt/catalog/metrics/llm_as_judge/safety/llama_3_8b_instruct_ibm_genai_template_unsafe_content.json
Due: enforce-library-imports

add a reduction of clap_nq
  src/unitxt/catalog/cards/rag/benchmark/clap_nq_reduced/en.json
  src/unitxt/catalog/cards/rag/documents/clap_nq_reduced/en.json
Due: none

add rag_end_to_end metrics
  prepare/metrics/rag.py
Due: enforce-library-imports

changed input and output of templates to "input_fields" and "reference_ fields" - Non backward compatible (#1030)
  docs/docs/adding_template.rst
  src/unitxt/llm_as_judge.py
  src/unitxt/task.py
  src/unitxt/templates.py
  tests/library/test_format_and_template_interaction.py
  tests/library/test_formats.py
  tests/library/test_metrics.py
  tests/library/test_operators.py
  tests/library/test_templates.py
Due: enforce-relative-imports, enforce-library-imports

add subset
  prepare/cards/rag/end_to_end/clapnq.py
Due: enforce-library-imports

Add string to context id in rag (#1036)
  prepare/tasks/rag/response_generation.py
  src/unitxt/catalog/tasks/rag/response_generation.json
Due: enforce-library-imports

FinQA - filter problematic examples (#1039)
  prepare/cards/fin_qa.py
  src/unitxt/catalog/cards/fin_qa.json
Due: enforce-library-imports

Fix bug in data classes and add support for field overriding in fields containing types or functions (#1027)
  pyproject.toml
  src/unitxt/dataclass.py
  tests/library/test_dataclass.py
Due: enforce-relative-imports, enforce-library-imports

add validation to tldr, remove shuffle from billsum (#1038)
  prepare/cards/billsum.py
  prepare/cards/tldr.py
  src/unitxt/catalog/cards/billsum.json
  src/unitxt/catalog/cards/billsum_document_filtered_to_10000_chars.json
  src/unitxt/catalog/cards/billsum_document_filtered_to_6000_chars.json
  src/unitxt/catalog/cards/tldr.json
  src/unitxt/catalog/cards/tldr_document_filtered_to_10000_chars.json
  src/unitxt/catalog/cards/tldr_document_filtered_to_6000_chars.json
Due: enforce-library-imports

demo's target prefix is now taken from demo instance (#1031)
  src/unitxt/formats.py
  tests/library/test_formats.py
Due: enforce-relative-imports, enforce-library-imports

remove sandbox
  .gitignore
Due: none

replace type and __type__ in type error (#1035)
  src/unitxt/artifact.py
Due: enforce-relative-imports

add sandbox_benjams
  .gitignore
Due: none

Fixed issues with fresh install (#1037)
  prepare/metrics/code_mixing_detection.py
  src/unitxt/test_utils/metrics.py
Due: enforce-relative-imports, enforce-library-imports

add card for clapnq end_to_end
  prepare/cards/rag/end_to_end/__init__.py
  prepare/cards/rag/end_to_end/clapnq.py
  prepare/templates/rag/end_to_end.py
  src/unitxt/catalog/cards/rag/benchmark/clap_nq/en.json
  src/unitxt/catalog/cards/rag/documents/clap_nq/en.json
  src/unitxt/catalog/templates/rag/end_to_end/json_predictions.json
Due: enforce-library-imports

Implement metrics ensemble (#1047)
  docs/docs/examples.rst
  examples/evaluate_using_metrics_ensemble.py
  src/unitxt/metrics.py
  tests/library/test_examples.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

Added example for selection of demos (#1052)
  docs/docs/examples.rst
  examples/evaluate_different_demo_selections.py
  src/unitxt/splitters.py
  tests/library/test_examples.py
Due: enforce-relative-imports, enforce-library-imports

Update introduction.rst - - copy edits (grammar, consistency, clarity) (#1063)
  docs/docs/introduction.rst
Due: none

add overwrite
  prepare/templates/rag/end_to_end.py
Due: enforce-library-imports

fixed the score_ci inconsistency issue (#1065)
  .secrets.baseline
  src/unitxt/metrics.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
