Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [--baseline, utils/.secrets.baseline]
        exclude: utils/.secrets.baseline

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils|unitxt/assistant/.*)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

update
  test2.py
Due: enforce-library-imports

try the new address
  prepare/cards/arena_hard/generation/english_gpt-4-0314_reference.py
  src/unitxt/catalog/cards/arena_hard/generation/english_gpt_4_0314_reference.json
Due: enforce-library-imports

update
  src/unitxt/inference.py
Due: enforce-relative-imports

try the new address
  prepare/cards/arena_hard/generation/english_gpt-4-0314_reference.py
Due: enforce-library-imports

update
  src/unitxt/inference.py
  test2.py
Due: enforce-relative-imports, enforce-library-imports

try the new address
  tests/catalog/test_preparation.py
Due: enforce-library-imports

Fix metric
  src/unitxt/metrics.py
Due: enforce-relative-imports

Increase clarity
  src/unitxt/metrics.py
Due: enforce-relative-imports

Raise error for wrong json schema
  src/unitxt/type_utils.py
  src/unitxt/types.py
Due: enforce-relative-imports

Simplify output
  examples/evaluate_tool_calling.py
Due: enforce-library-imports

update ibm_wml engine
  prepare/engines/ibm_wml/llama3.py
  src/unitxt/catalog/engines/ibm_wml/llama_3_3_70b_instruct.json
Due: enforce-library-imports

delete old llama json and generate new one
  src/unitxt/catalog/engines/ibm_wml/llama_3_70b_instruct.json
Due: none

Update requirements to use jsonschema-rs for tool calling metrics and validation
  prepare/tasks/tool_calling/tasks.py
  src/unitxt/metrics.py
  src/unitxt/types.py
Due: enforce-relative-imports, enforce-library-imports

Update dependency from jsonschema to jsonschema_rs
  pyproject.toml
Due: none

Refactor ToolCallingMetric to use jsonschema_rs for schema validation and improve argument comparison
  src/unitxt/metrics.py
Due: enforce-relative-imports

added tool calling to wml chat
  src/unitxt/inference.py
  tests/inference/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

fix test
  tests/inference/test_inference_engine.py
Due: enforce-library-imports

Refactor validation logic in verify_required_schema to improve error handling and clarity
  src/unitxt/metrics.py
  src/unitxt/type_utils.py
Due: enforce-relative-imports

Update requirements in supervised.json to use jsonschema-rs for schema validation
  src/unitxt/catalog/tasks/tool_calling/supervised.json
Due: none

Simplify tool calling base types (#1773)
  docs/docs/tool_calling.rst
  examples/evaluate_tool_calling.py
  prepare/cards/bfcl.py
  prepare/tasks/tool_calling/tasks.py
  pyproject.toml
  src/unitxt/catalog/cards/bfcl/simple_v3.json
  src/unitxt/catalog/tasks/tool_calling/supervised.json
  src/unitxt/dataset.py
  src/unitxt/metric.py
  src/unitxt/metrics.py
  src/unitxt/operators.py
  src/unitxt/serializers.py
  src/unitxt/tool_calling.py
  src/unitxt/type_utils.py
  src/unitxt/types.py
  tests/library/test_metrics.py
  tests/library/test_operators.py
  tests/library/test_tool_calling.py
  tests/library/test_type_utils.py
Due: enforce-relative-imports, enforce-library-imports

Added tool calling to wml chat (#1782)
  src/unitxt/inference.py
  tests/inference/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

perhaps reverting to datasets=351 can solve problems in test catalog preparation
  .github/workflows/catalog_preparation.yml
Due: none

Added documentation for example
  docs/docs/examples.rst
Due: none

fixed the faulty identation that prevented test_examples from running
  .github/workflows/examples_tests.yml
Due: none

removed max_samples_per_subset, which masks out most of the input recipes
  examples/evaluate_bluebench.py
Due: enforce-library-imports

Added example for standalone metric evaluation
  examples/evaluate_metric_standalone.py
Due: enforce-library-imports
