Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]
        exclude: src/unitxt/metrics.py|examples/evaluate_existing_dataset_no_install.py
      # Run the linter on the specific file with the ignore flag
      - id: ruff
        name: ruff (examples/evaluate_existing_dataset_no_install.py)
        files: examples/evaluate_existing_dataset_no_install.py
        args: [--fix, --ignore, T201]
      # Run the formatter
      - id: ruff-format

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [--baseline, utils/.secrets.baseline]
        exclude: utils/.secrets.baseline

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

Fix wrong saving of artifact initial dict
  src/unitxt/artifact.py
Due: enforce-relative-imports

Fix templates lists in vision cards
  prepare/cards/ai2d.py
  prepare/cards/chart_qa.py
  prepare/cards/doc_vqa.py
  prepare/cards/info_vqa.py
  prepare/cards/websrc.py
  src/unitxt/catalog/cards/ai2d.json
  src/unitxt/catalog/cards/chart_qa.json
  src/unitxt/catalog/cards/chart_qa_lmms_eval.json
  src/unitxt/catalog/cards/doc_vqa/en.json
  src/unitxt/catalog/cards/doc_vqa/fr.json
  src/unitxt/catalog/cards/doc_vqa/lmms_eval.json
  src/unitxt/catalog/cards/info_vqa.json
  src/unitxt/catalog/cards/websrc.json
Due: enforce-library-imports

Make clinc preparation faster
  prepare/cards/clinc_oos.py
Due: enforce-library-imports

Fix wrong saving of artifact initial dict (#1499)
  src/unitxt/artifact.py
Due: enforce-relative-imports

Update line number and generated timestamp in secrets baseline
  utils/.secrets.baseline
Due: none

Remove unnecessary dependency from requirements list in SentenceBert class
  src/unitxt/metrics.py
Due: enforce-relative-imports

Accelerate and improve RAG Metrics (#1497)
  src/unitxt/inference.py
  src/unitxt/metrics.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Make clinc preparation faster (#1501)
  prepare/cards/clinc_oos.py
Due: enforce-library-imports

Fix templates lists in vision cards (#1500)
  prepare/cards/ai2d.py
  prepare/cards/chart_qa.py
  prepare/cards/doc_vqa.py
  prepare/cards/info_vqa.py
  prepare/cards/websrc.py
  src/unitxt/catalog/cards/ai2d.json
  src/unitxt/catalog/cards/chart_qa.json
  src/unitxt/catalog/cards/chart_qa_lmms_eval.json
  src/unitxt/catalog/cards/doc_vqa/en.json
  src/unitxt/catalog/cards/doc_vqa/fr.json
  src/unitxt/catalog/cards/doc_vqa/lmms_eval.json
  src/unitxt/catalog/cards/info_vqa.json
  src/unitxt/catalog/cards/websrc.json
Due: enforce-library-imports

Add vision benchmark example
  examples/evaluate_vision_benchmark.py
  prepare/benchmarks/vision.py
  src/unitxt/catalog/benchmarks/vision.json
Due: enforce-library-imports

Exclude evaluate_vision_benchmark.py from test examples
  tests/examples/test_examples.py
Due: enforce-library-imports

Remove mock inference mode from evaluate_vision_benchmark.py and add summary of global and subset scores
  examples/evaluate_vision_benchmark.py
Due: enforce-library-imports

Add vision benchmark example (#1502)
  examples/evaluate_vision_benchmark.py
  prepare/benchmarks/vision.py
  src/unitxt/catalog/benchmarks/vision.json
  tests/examples/test_examples.py
Due: enforce-library-imports

Simplify reuters dataset and make its preparation faster
  prepare/cards/reuters21578.py
Due: enforce-library-imports

Update vision benchmark example
  examples/evaluate_vision_benchmark.py
Due: enforce-library-imports

Update vis bench (#1505)
  examples/evaluate_vision_benchmark.py
  prepare/cards/reuters21578.py
Due: enforce-library-imports

modify prompts (instruction once)
  prepare/cards/fin_qa.py
  prepare/cards/tab_fact.py
  prepare/cards/tablebench_data_analysis.py
  prepare/cards/tablebench_fact_checking.py
  prepare/cards/tablebench_numerical_reasoning.py
  prepare/cards/turl_col_type.py
  prepare/cards/wikitq.py
  src/unitxt/catalog/cards/fin_qa.json
  src/unitxt/catalog/cards/tab_fact.json
  src/unitxt/catalog/cards/tablebench_data_analysis.json
  src/unitxt/catalog/cards/tablebench_fact_checking.json
  src/unitxt/catalog/cards/tablebench_numerical_reasoning.json
  src/unitxt/catalog/cards/turl_col_type.json
  src/unitxt/catalog/cards/wikitq.json
Due: enforce-library-imports

modify prompts (instruction once) in generation template
  prepare/templates/generation/generation.py
  src/unitxt/catalog/templates/generation/from_pair/default.json
Due: enforce-library-imports

change llm as judge metric for scigen (Yifan's code)
  prepare/cards/scigen.py
  prepare/metrics/llm_as_judge/rating/llama_3_1_cross_provider_table2text_template.py
  src/unitxt/catalog/cards/scigen.json
  src/unitxt/catalog/metrics/llm_as_judge/rating/llama_3_1_70b_instruct_cross_provider_template_table2text_single_turn_with_reference.json
Due: enforce-library-imports

add table augmenter
  prepare/augmentors/table_augmentors.py
  src/unitxt/catalog/augmentors/table/mask_cols_names.json
  src/unitxt/catalog/augmentors/table/shuffle_cols.json
  src/unitxt/catalog/augmentors/table/shuffle_cols_names.json
  src/unitxt/catalog/augmentors/table/shuffle_rows.json
  src/unitxt/catalog/augmentors/table/truncate_rows.json
Due: enforce-library-imports

v2
  prepare/cards/safety/attaq_2.py
Due: enforce-library-imports

update table benchmark files
  prepare/benchmarks/tables.py
  prepare/benchmarks/test_bench.py
  prepare/recipes/tables_benchmark.py
  src/unitxt/catalog/benchmarks/tables_benchmark.json
Due: enforce-library-imports

delete some files from branch
  prepare/benchmarks/debug/recipes.json
  src/unitxt/catalog/recipes/tables/fin_qa/df/transpose_augmentation_5_demos.json
  src/unitxt/catalog/recipes/tables/fin_qa/json/transpose_augmentation_5_demos.json
  src/unitxt/catalog/recipes/tables/numeric_nlg/csv/transpose_augmentation_5_demos.json
  src/unitxt/catalog/recipes/tables/numeric_nlg/df/transpose_augmentation_5_demos.json
  src/unitxt/catalog/recipes/tables/numeric_nlg/json/transpose_augmentation_5_demos.json
  src/unitxt/catalog/recipes/tables/qtsumm/csv/transpose_augmentation_5_demos.json
  src/unitxt/catalog/recipes/tables/qtsumm/df/transpose_augmentation_5_demos.json
  src/unitxt/catalog/recipes/tables/qtsumm/json/transpose_augmentation_5_demos.json
  src/unitxt/catalog/recipes/tables/scigen/csv/transpose_augmentation_5_demos.json
  src/unitxt/catalog/recipes/tables/scigen/df/transpose_augmentation_5_demos.json
  src/unitxt/catalog/recipes/tables/scigen/json/transpose_augmentation_5_demos.json
  src/unitxt/catalog/recipes/tables/tab_fact/csv/transpose_augmentation_5_demos.json
  src/unitxt/catalog/recipes/tables/tab_fact/df/transpose_augmentation_5_demos.json
  src/unitxt/catalog/recipes/tables/tab_fact/json/transpose_augmentation_5_demos.json
  src/unitxt/catalog/recipes/tables/tablebench_data_analysis/csv/transpose_augmentation_5_demos.json
  src/unitxt/catalog/recipes/tables/tablebench_data_analysis/df/transpose_augmentation_5_demos.json
  src/unitxt/catalog/recipes/tables/tablebench_data_analysis/json/transpose_augmentation_5_demos.json
  src/unitxt/catalog/recipes/tables/tablebench_fact_checking/csv/transpose_augmentation_5_demos.json
  src/unitxt/catalog/recipes/tables/tablebench_fact_checking/df/transpose_augmentation_5_demos.json
  src/unitxt/catalog/recipes/tables/tablebench_fact_checking/json/transpose_augmentation_5_demos.json
  src/unitxt/catalog/recipes/tables/tablebench_numerical_reasoning/csv/transpose_augmentation_5_demos.json
  src/unitxt/catalog/recipes/tables/tablebench_numerical_reasoning/df/transpose_augmentation_5_demos.json
  src/unitxt/catalog/recipes/tables/tablebench_numerical_reasoning/json/transpose_augmentation_5_demos.json
  src/unitxt/catalog/recipes/tables/turl_col_type/csv/transpose_augmentation_5_demos.json
  src/unitxt/catalog/recipes/tables/turl_col_type/df/transpose_augmentation_5_demos.json
  src/unitxt/catalog/recipes/tables/turl_col_type/json/transpose_augmentation_5_demos.json
  src/unitxt/catalog/recipes/tables/wikitq/csv/transpose_augmentation_5_demos.json
  src/unitxt/catalog/recipes/tables/wikitq/df/transpose_augmentation_5_demos.json
  src/unitxt/catalog/recipes/tables/wikitq/json/transpose_augmentation_5_demos.json
Due: none

support dict llmjudge contexts_fields Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

Revert "support dict llmjudge contexts_fields"
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

fix typos
  prepare/benchmarks/tables.py
  prepare/cards/tab_fact.py
Due: enforce-library-imports

Switched to llama
  prepare/cards/safety/attaq_2.py
  src/unitxt/catalog/cards/safety/attaq2.json
Due: enforce-library-imports

bugfix in wmlInferenceEngine read credentials Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/inference.py
Due: enforce-relative-imports

update secret Signed-off-by: lilacheden <lilach.edel@gmail.com>
  utils/.secrets.baseline
Due: none

update secret again Signed-off-by: lilacheden <lilach.edel@gmail.com>
  utils/.secrets.baseline
Due: none

fix typo Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/catalog/metrics/llm_as_judge/binary/generic_inference_engine_answer_correctness_q_a_gt_loose.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/generic_inference_engine_answer_relevance_q_a.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/generic_inference_engine_context_relevance_q_c_ares.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/generic_inference_engine_correctness_holistic_q_c_a.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/generic_inference_engine_faithfulness_c_a.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/generic_inference_engine_faithfulness_q_c_a.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_answer_correctness_q_a_gt_loose.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_answer_correctness_q_a_gt_loose_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_answer_relevance_q_a.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_answer_relevance_q_a_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_context_relevance_q_c_ares.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_context_relevance_q_c_ares_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_correctness_holistic_q_c_a.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_correctness_holistic_q_c_a_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_faithfulness_c_a.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_faithfulness_c_a_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_faithfulness_q_c_a.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_faithfulness_q_c_a_logprobs.json
Due: none

drop personal scripts
  prepare/benchmarks/tables.py
  prepare/benchmarks/test_bench.py
Due: enforce-library-imports

Add Balance operator
  src/unitxt/operators.py
  tests/library/test_operators.py
Due: enforce-relative-imports, enforce-library-imports

Refactor process method signature to use Optional for stream_name parameter
  src/unitxt/operators.py
Due: enforce-relative-imports

create updated json cards (tab fact+turl)
  src/unitxt/catalog/cards/tab_fact.json
  src/unitxt/catalog/cards/turl_col_type.json
Due: none

updated cards (tab fact+turl)
  prepare/cards/tab_fact.py
  prepare/cards/turl_col_type.py
  src/unitxt/catalog/cards/tab_fact.json
  src/unitxt/catalog/cards/turl_col_type.json
Due: enforce-library-imports
