Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]
        exclude: src/unitxt/metrics.py|examples/evaluate_existing_dataset_no_install.py
      # Run the linter on the specific file with the ignore flag
      - id: ruff
        name: ruff (examples/evaluate_existing_dataset_no_install.py)
        files: examples/evaluate_existing_dataset_no_install.py
        args: [--fix, --ignore, T201]
      # Run the formatter
      - id: ruff-format

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [--baseline, utils/.secrets.baseline]
        exclude: utils/.secrets.baseline

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

remove inference time and evaluation time from performance report, because inference is mocked, and evaluation is not indicative if runs over mocked predictions
  performance/bluebench_profiler.py
  performance/card_profiler.py
  src/unitxt/loaders.py
  src/unitxt/operators.py
Due: enforce-relative-imports, enforce-library-imports

update polishing
  performance/card_profiler.py
  performance/compare_benchmark_performance_results.py
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

fix hhem multi reference Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/metrics.py
Due: enforce-relative-imports

Prioritize using default templates from card over task (#1596)
  .gitignore
  prepare/cards/ai2d.py
  prepare/cards/chart_qa.py
  prepare/cards/doc_vqa.py
  prepare/cards/info_vqa.py
  prepare/cards/seed_bench.py
  prepare/cards/websrc.py
  src/unitxt/card.py
  src/unitxt/catalog/cards/ai2d.json
  src/unitxt/catalog/cards/chart_qa.json
  src/unitxt/catalog/cards/chart_qa_lmms_eval.json
  src/unitxt/catalog/cards/doc_vqa/en.json
  src/unitxt/catalog/cards/doc_vqa/fr.json
  src/unitxt/catalog/cards/doc_vqa/lmms_eval.json
  src/unitxt/catalog/cards/info_vqa.json
  src/unitxt/catalog/cards/info_vqa_lmms_eval.json
  src/unitxt/catalog/cards/seed_bench.json
  src/unitxt/catalog/cards/websrc.json
  src/unitxt/collections.py
  src/unitxt/standard.py
Due: enforce-relative-imports, enforce-library-imports

Add clear and minimal settings documentation
  docs/docs/settings.rst
  src/unitxt/assistant/index.py
Due: enforce-relative-imports

Use faster model for examples
  examples/evaluate_using_metrics_ensemble.py
  examples/ner_evaluation.py
  examples/qa_evaluation.py
  examples/standalone_evaluation_llm_as_judge.py
  examples/standalone_qa_evaluation.py
  utils/.secrets.baseline
Due: enforce-library-imports

Revert "fix hhem multi reference"
  src/unitxt/metrics.py
Due: enforce-relative-imports

Update model to SmolLM2-1.7B-Instruct in evaluation examples
  examples/evaluate_using_metrics_ensemble.py
  examples/ner_evaluation.py
  examples/qa_evaluation.py
  examples/standalone_evaluation_llm_as_judge.py
  examples/standalone_qa_evaluation.py
  utils/.secrets.baseline
Due: enforce-library-imports

Rename "Tutorials" section to "Guides" and update table of contents
  docs/docs/tutorials.rst
Due: none

Use faster model for examples (#1607)
  examples/evaluate_using_metrics_ensemble.py
  examples/ner_evaluation.py
  examples/qa_evaluation.py
  examples/standalone_evaluation_llm_as_judge.py
  examples/standalone_qa_evaluation.py
  utils/.secrets.baseline
Due: enforce-library-imports

Add clear and minimal settings documentation (#1606)
  docs/docs/settings.rst
  docs/docs/tutorials.rst
  src/unitxt/assistant/index.py
Due: enforce-relative-imports

Add cache_dir parameter to model and tokenizer loading for improved performance
  src/unitxt/inference.py
  src/unitxt/metrics.py
  src/unitxt/string_operators.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Update line numbers and generated timestamp in secrets baseline
  utils/.secrets.baseline
Due: none

Update line number and generated timestamp in secrets baseline
  utils/.secrets.baseline
Due: none

adding sqlparse dependency for tests
  pyproject.toml
Due: none

add verify as an option to loadfromapi
  src/unitxt/loaders.py
  utils/.secrets.baseline
Due: enforce-relative-imports

rename verify to verify_cert
  src/unitxt/loaders.py
Due: enforce-relative-imports

fix typo
  src/unitxt/db_utils.py
Due: enforce-relative-imports

fixing sql_utils ruff issues
  src/unitxt/dataset.py
  src/unitxt/metric.py
  src/unitxt/metrics.py
  src/unitxt/serializers.py
  src/unitxt/sql_utils.py
Due: enforce-relative-imports

moving text2sql metrics functions to sql_utils
  src/unitxt/dataset.py
  src/unitxt/metric.py
  src/unitxt/metrics.py
  src/unitxt/serializers.py
  src/unitxt/sql_utils.py
  tests/library/test_sql_utils.py
Due: enforce-relative-imports, enforce-library-imports

can we remove reusable?
  src/unitxt/operators.py
  src/unitxt/split_utils.py
  src/unitxt/splitters.py
  src/unitxt/standard.py
Due: enforce-relative-imports

continue to try to understand
  src/unitxt/generator_utils.py
  src/unitxt/splitters.py
  src/unitxt/stream.py
Due: enforce-relative-imports

text2sql metrics: empty string is not SQL
  src/unitxt/sql_utils.py
Due: enforce-relative-imports

text2sql metric: check if dfs are non-empty before comparison
  src/unitxt/metrics.py
Due: enforce-relative-imports

text2sql metrics: fixing is_subset for output dfs
  src/unitxt/metrics.py
Due: enforce-relative-imports

sql_utils SQL API fixes
  src/unitxt/loaders.py
  src/unitxt/metrics.py
  src/unitxt/sql_utils.py
Due: enforce-relative-imports

text2sql metric: returning gold sql exec error
  src/unitxt/metrics.py
Due: enforce-relative-imports

catch openai.BadRequestError in inference Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/inference.py
  utils/.secrets.baseline
Due: enforce-relative-imports

fix answer correctness template Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/templates/rag_eval/rag_eval_numeric.py
  src/unitxt/catalog/templates/rag_eval/answer_correctness/judge_loose_match_no_context_numeric.json
  src/unitxt/catalog/templates/rag_eval/answer_correctness/judge_loose_match_no_context_verbal.json
  src/unitxt/catalog/templates/rag_eval/answer_correctness/judge_loose_match_no_context_verbal_good_bad.json
Due: enforce-library-imports

remove code added by error Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/metrics.py
Due: enforce-relative-imports

bugfix in llm_as_judge_from_template Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/llm_as_judge_from_template.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Example for evaluating system message leakage
  examples/evaluate_system_message_leakage.py
  src/unitxt/formats.py
  src/unitxt/metrics.py
  src/unitxt/schema.py
  src/unitxt/settings_utils.py
  src/unitxt/standard.py
  src/unitxt/task.py
  src/unitxt/templates.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Improve
  examples/evaluate_system_message_leakage.py
  src/unitxt/formats.py
  src/unitxt/settings_utils.py
  src/unitxt/system_prompts.py
  src/unitxt/task.py
Due: enforce-relative-imports, enforce-library-imports

Fix metrics.py
  src.lock
Due: none

Return metrics to origin
  src/unitxt/metrics.py
  utils/.secrets.baseline
Due: enforce-relative-imports

add comment Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/inference.py
  utils/.secrets.baseline
Due: enforce-relative-imports

fix typo Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/inference.py
Due: enforce-relative-imports

Bring tests back to order
  tests/library/test_loaders.py
Due: enforce-library-imports

Add src.lock to .gitignore
  .gitignore
Due: none
