Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [--baseline, utils/.secrets.baseline]
        exclude: utils/.secrets.baseline

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils|unitxt/assistant/.*)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

Some fixes
  examples/evaluate_multi_turn.py
  prepare/tasks/qa/tasks.py
  prepare/templates/qa/with_context.py
  src/unitxt/catalog/tasks/qa/extractive/multi_turn.json
  src/unitxt/catalog/templates/qa/multi_turn/with_context/simple.json
Due: enforce-library-imports

Rename
  prepare/metrics/multi_turn/accuracy.py
Due: enforce-library-imports

Add Multi Turn Metrics Support (#1579)
  examples/evaluate_multi_turn.py
  prepare/cards/coqa_multi_turn.py
  prepare/metrics/multi_turn/accuracy.py
  prepare/tasks/qa/tasks.py
  prepare/templates/qa/with_context.py
  src/unitxt/catalog/cards/coqa/multi_turn.json
  src/unitxt/catalog/metrics/multi_turn/accuracy.json
  src/unitxt/catalog/metrics/multi_turn/sequential_success_accuracy.json
  src/unitxt/catalog/tasks/qa/extractive.json
  src/unitxt/catalog/tasks/qa/extractive/multi_turn.json
  src/unitxt/catalog/templates/qa/multi_turn/with_context/simple.json
  src/unitxt/collections_operators.py
  src/unitxt/dialog_operators.py
  src/unitxt/metrics.py
  src/unitxt/serializers.py
  src/unitxt/templates.py
  src/unitxt/types.py
Due: enforce-relative-imports, enforce-library-imports

add a test for faithfulness with an external client and fetch artifact
  tests/inference/test_llmaaj_metrics.py
Due: enforce-library-imports

text2sql metric subset score fix
  src/unitxt/metrics.py
Due: enforce-relative-imports

Fix rits model names
  src/unitxt/inference.py
Due: enforce-relative-imports

LLMJudge: fix Deepseek model name
  src/unitxt/catalog/metrics/llm_as_judge/direct/aws/deepseek_v3.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/rits/deepseek_v3.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/together_ai/deepseek_v3.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/aws/deepseek_v3.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/rits/deepseek_v3.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/together_ai/deepseek_v3.json
  src/unitxt/llm_as_judge_constants.py
Due: enforce-relative-imports

LLMJudge: remove rits llama3.1 70b no longer available
  src/unitxt/catalog/metrics/llm_as_judge/direct/rits/llama3_1_70b.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/rits/llama3_1_70b.json
  src/unitxt/llm_as_judge_constants.py
Due: enforce-relative-imports

more refactoring of text2sql metrics
  src/unitxt/dataset.py
  src/unitxt/metric.py
  src/unitxt/metrics.py
  src/unitxt/serializers.py
  src/unitxt/text2sql_utils.py
  tests/library/test_text2sql_utils.py
Due: enforce-relative-imports, enforce-library-imports

new text2sql metric
  prepare/metrics/text2sql_accuracy.py
  src/unitxt/catalog/metrics/text2sql/execution_logic_accuracy.json
  src/unitxt/metrics.py
  src/unitxt/text2sql_utils.py
Due: enforce-relative-imports, enforce-library-imports

adding text2sql_logic task
  prepare/tasks/text2sql.py
  src/unitxt/catalog/tasks/text2sql_logic.json
Due: enforce-library-imports

changing default api_key_env_var to None
  src/unitxt/loaders.py
Due: enforce-relative-imports

Renamed repeat_instruction_per_turn to place_instruction_in_user_turns to highlight where instructions are placed.
  examples/evaluate_different_formats.py
  src/unitxt/formats.py
Due: enforce-relative-imports, enforce-library-imports

Added example of granite thinking
  examples/evaluate_granite_thinking.py
Due: enforce-library-imports

add a test for faithfulness with an external client and fetch artifact (#1824)
  tests/inference/test_llmaaj_metrics.py
Due: enforce-library-imports

Added documentation for 'place_instruction_in_user_turns'
  examples/evaluate_granite_thinking.py
  src/unitxt/formats.py
Due: enforce-relative-imports, enforce-library-imports

Added granite thinking with MMLU
  examples/evaluate_granite_thinking_mmlu.py
Due: enforce-library-imports

Updated prints
  examples/evaluate_granite_thinking_mmlu.py
Due: enforce-library-imports

Added example of inference with cross provider without load_dataset
  examples/inference_using_cross_provider.py
Due: enforce-library-imports

Improved example.
  examples/inference_using_cross_provider.py
Due: enforce-library-imports

Fix rits model names and the judges that use them (#1825)
  src/unitxt/catalog/metrics/llm_as_judge/direct/aws/deepseek_v3.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/rits/deepseek_v3.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/rits/llama3_1_70b.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/together_ai/deepseek_v3.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/aws/deepseek_v3.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/rits/deepseek_v3.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/rits/llama3_1_70b.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/together_ai/deepseek_v3.json
  src/unitxt/inference.py
  src/unitxt/llm_as_judge_constants.py
Due: enforce-relative-imports

Updated multi format example
  docs/docs/examples.rst
  examples/evaluate_different_formats.py
Due: enforce-library-imports

Simplfied doc
  examples/evaluate_different_formats.py
Due: enforce-library-imports

Update all the single turn single call datasets in bfcl
  examples/evaluate_multi_turn.py
  examples/evaluate_tool_calling_bfcl.py
  prepare/cards/bfcl.py
  prepare/templates/qa/with_context.py
  src/unitxt/catalog/cards/bfcl/multi_turn/java_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/javascript_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_simple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/multiple_v3.json
  src/unitxt/catalog/templates/qa/multi_turn/with_context/simple.json
  src/unitxt/collections_operators.py
  src/unitxt/dict_utils.py
  src/unitxt/operators.py
  src/unitxt/struct_data_operators.py
  src/unitxt/types.py
Due: enforce-relative-imports, enforce-library-imports

Add option to store template instruction in user role and not system role and added granite thinking example (#1667)
  docs/docs/examples.rst
  examples/evaluate_different_formats.py
  examples/evaluate_granite_thinking.py
  examples/evaluate_granite_thinking_mmlu.py
  examples/inference_using_cross_provider.py
  src/unitxt/formats.py
Due: enforce-relative-imports, enforce-library-imports

Updated json.
  src/unitxt/catalog/cards/scigen.json
Due: none

Add llm as judge for tool calling
  examples/evaluate_tool_calling_bfcl.py
  prepare/metrics/llm_as_judge/tool_calling.py
  src/unitxt/catalog/metrics/tool_calling/multi_turn/correctness/llama_3_3_70b_instruct_judge.json
Due: enforce-library-imports

Add some more dataset
  prepare/cards/bfcl.py
  src/unitxt/catalog/cards/bfcl/multi_turn/live_irrelevance_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_parallel_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_parallel_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_relevance_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/parallel_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/parallel_v3.json
Due: enforce-library-imports

Update prepare/tasks/tool_calling/tasks.py
  prepare/tasks/tool_calling/tasks.py
Due: enforce-library-imports

Some fixes
  examples/evaluate_tool_calling_multi_turn.py
  src/unitxt/catalog/tasks/tool_calling/multi_turn.json
Due: enforce-library-imports

Revert execute expression mistake
  src/unitxt/operators.py
Due: enforce-relative-imports

Add xlam function calling
  prepare/cards/bfcl.py
  prepare/cards/xlam_function_calling.py
  prepare/operators/fix_json_schema.py
  src/unitxt/catalog/cards/bfcl/multi_turn/java_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/javascript_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_irrelevance_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_parallel_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_parallel_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_relevance_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_simple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/parallel_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/parallel_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/simple_v3.json
  src/unitxt/catalog/cards/bfcl/simple_v3.json
  src/unitxt/catalog/cards/xlam_function_calling_60k.json
  src/unitxt/catalog/operators/fix_json_schema.json
  src/unitxt/operators.py
Due: enforce-relative-imports, enforce-library-imports

Add tool calling benchmark
  prepare/benchmarks/tool_calling.py
  src/unitxt/catalog/benchmarks/tool_calling.json
Due: enforce-library-imports

Fix typing
  src/unitxt/operators.py
Due: enforce-relative-imports
