Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

Fixed bug in example
  examples/standalone_evaluation_llm_as_judge.py
Due: enforce-library-imports

Changed to use new result objects.
  examples/evaluate_using_metrics_ensemble.py
Due: enforce-library-imports

Remove mesage for data classification policy being public when loading from HF hub
  src/unitxt/loaders.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Updared printout of score
  examples/evaluate_rag_end_to_end_dataset_with_given_predictions.py
Due: enforce-library-imports

Updated documentation to show use of installed version and chat api (#1435)
  README.md
  docs/blog/inference_engines_blog.rst
  docs/docs/evaluating_datasets.rst
  docs/docs/loading_datasets.rst
  docs/index.rst
  prepare/cards/wnli.py
  src/unitxt/catalog/cards/wnli.json
Due: enforce-library-imports

fixes
  prepare/formats/empty.py
Due: enforce-library-imports

fixes
  prepare/formats/empty.py
  src/unitxt/catalog/formats/empty.json
Due: enforce-library-imports

Fix LMMSEval Inference Engine to work with chat api and fix examples
  examples/evaluate_image_text_to_text_vllm_inference.py
  prepare/cards/seed_bench.py
  prepare/templates/qa/multiple_choice/templates.py
  src/unitxt/card.py
  src/unitxt/catalog/templates/qa/multiple_choice/with_context/lmms_eval.json
  src/unitxt/image_operators.py
  src/unitxt/inference.py
  src/unitxt/standard.py
  tests/examples/test_examples.py
Due: enforce-relative-imports, enforce-library-imports

fixed for metric-list
  src/unitxt/operators.py
Due: enforce-relative-imports

performance-test: suggest a more canonic time for non-eager and eager execution
  performance/card_profiler.py
Due: enforce-library-imports

now, with load_iterable in loaders, we can clearly fetch net load time of dataset, excluding the introduction of each and every instance into unitxt that is only done in eager mode
  performance/card_profiler.py
  src/unitxt/loaders.py
Due: enforce-relative-imports, enforce-library-imports

limit loading through HF tools, for speedup
  src/unitxt/loaders.py
Due: enforce-relative-imports

secrets
  src/unitxt/loaders.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Fix
  examples/evaluate_image_text_to_text_lmms_eval_inference.py
  examples/evaluate_image_text_to_text_vllm_inference.py
  src/unitxt/catalog/cards/seed_bench.json
  src/unitxt/standard.py
  tests/library/test_image_operators.py
Due: enforce-relative-imports, enforce-library-imports

update metadata just once in a recipe
  src/unitxt/image_operators.py
  src/unitxt/standard.py
Due: enforce-relative-imports

pass recipe_metadata through task
  src/unitxt/image_operators.py
  src/unitxt/task.py
Due: enforce-relative-imports

add new classification engines and remove deleted llama-3-70b-instruct in bam Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/engines/classification/classification_engines.py
  src/unitxt/catalog/engines/classification/llama_3_1_70b_instruct_ibm_genai.json
  src/unitxt/catalog/engines/classification/llama_3_3_70b_instruct_rits.json
  src/unitxt/catalog/engines/classification/llama_3_3_70b_instruct_wml.json
Due: enforce-library-imports

fix imports
  src/unitxt/text2sql/__init__.py
Due: enforce-relative-imports

add func_timeout to test reqs
  pyproject.toml
Due: none

fix typing
  src/unitxt/text2sql/data_utils.py
Due: enforce-relative-imports

change template name
  prepare/templates/text2sql/templates.py
  src/unitxt/catalog/templates/text2sql/all.json
Due: enforce-library-imports

push to catalog
  src/unitxt/catalog/processors/text2sql/get_sql.json
Due: none

allow proprietary data on RITSInferenceEngine Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/inference.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Add parallelization to RITS inference
  src/unitxt/inference.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Fix
  src/unitxt/inference.py
Due: enforce-relative-imports

Fix mmlu pro
  prepare/cards/mmlu_pro.py
  src/unitxt/catalog/cards/mmlu_pro/biology.json
  src/unitxt/catalog/cards/mmlu_pro/business.json
  src/unitxt/catalog/cards/mmlu_pro/chemistry.json
  src/unitxt/catalog/cards/mmlu_pro/computer_science.json
  src/unitxt/catalog/cards/mmlu_pro/economics.json
  src/unitxt/catalog/cards/mmlu_pro/engineering.json
  src/unitxt/catalog/cards/mmlu_pro/health.json
  src/unitxt/catalog/cards/mmlu_pro/history.json
  src/unitxt/catalog/cards/mmlu_pro/law.json
  src/unitxt/catalog/cards/mmlu_pro/math.json
  src/unitxt/catalog/cards/mmlu_pro/other.json
  src/unitxt/catalog/cards/mmlu_pro/philosophy.json
  src/unitxt/catalog/cards/mmlu_pro/physics.json
  src/unitxt/catalog/cards/mmlu_pro/psychology.json
Due: enforce-library-imports

Fix LMMSEval Inference Engine to work with chat api and fix examples (#1440)
  examples/evaluate_image_text_to_text_vllm_inference.py
  prepare/cards/mmlu_pro.py
  prepare/cards/seed_bench.py
  prepare/templates/qa/multiple_choice/templates.py
  src/unitxt/card.py
  src/unitxt/catalog/cards/mmlu_pro/biology.json
  src/unitxt/catalog/cards/mmlu_pro/business.json
  src/unitxt/catalog/cards/mmlu_pro/chemistry.json
  src/unitxt/catalog/cards/mmlu_pro/computer_science.json
  src/unitxt/catalog/cards/mmlu_pro/economics.json
  src/unitxt/catalog/cards/mmlu_pro/engineering.json
  src/unitxt/catalog/cards/mmlu_pro/health.json
  src/unitxt/catalog/cards/mmlu_pro/history.json
  src/unitxt/catalog/cards/mmlu_pro/law.json
  src/unitxt/catalog/cards/mmlu_pro/math.json
  src/unitxt/catalog/cards/mmlu_pro/other.json
  src/unitxt/catalog/cards/mmlu_pro/philosophy.json
  src/unitxt/catalog/cards/mmlu_pro/physics.json
  src/unitxt/catalog/cards/mmlu_pro/psychology.json
  src/unitxt/catalog/cards/seed_bench.json
  src/unitxt/catalog/templates/qa/multiple_choice/with_context/lmms_eval.json
  src/unitxt/image_operators.py
  src/unitxt/inference.py
  src/unitxt/standard.py
  tests/examples/test_examples.py
  tests/library/test_image_operators.py
Due: enforce-relative-imports, enforce-library-imports

Try new dumping/loading of jsons that can allows artifacts in task data
  src/unitxt/artifact.py
  src/unitxt/inference.py
  src/unitxt/llm_as_judge.py
  src/unitxt/schema.py
  tests/library/test_artifact_recovery.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Fix
  src/unitxt/artifact.py
Due: enforce-relative-imports

Further simplify examples
  examples/evaluate_a_judge_model_capabilities_on_arena_hard.py
  examples/evaluate_a_model_using_arena_hard.py
  examples/evaluate_batched_multiclass_classification.py
  examples/evaluate_benchmark.py
  examples/evaluate_benchmark_with_custom_provider.py
  examples/evaluate_bluebench.py
  examples/evaluate_different_demo_selections.py
  examples/evaluate_different_formats.py
  examples/evaluate_different_templates.py
  examples/evaluate_existing_dataset_by_llm_as_judge.py
  examples/evaluate_existing_dataset_with_install.py
  examples/evaluate_image_text_to_text.py
  examples/evaluate_image_text_to_text_lmms_eval_inference.py
  examples/evaluate_image_text_to_text_vllm_inference.py
  examples/evaluate_image_text_to_text_with_different_templates.py
  examples/evaluate_rag_response_generation.py
  examples/evaluate_rag_using_binary_llm_as_judge.py
  examples/evaluate_same_datasets_and_models_with_multiple_providers.py
  examples/evaluate_summarization_dataset_llm_as_judge.py
  examples/evaluate_using_metrics_ensemble.py
  examples/inference_using_ibm_watsonx_ai.py
  examples/qa_evaluation.py
  examples/robustness_testing_for_vision_text_models.py
  examples/standalone_evaluation_llm_as_judge.py
  examples/standalone_qa_evaluation.py
Due: enforce-library-imports

Fix documentation by correcting function name in task registration example
  docs/docs/adding_task.rst
Due: none

modify split to be like in the original data
  prepare/cards/fin_qa.py
  prepare/cards/numeric_nlg.py
  prepare/cards/qtsumm.py
  prepare/cards/scigen.py
  prepare/cards/tab_fact.py
  prepare/cards/turl_col_type.py
  prepare/cards/wikitq.py
  src/unitxt/catalog/cards/fin_qa.json
  src/unitxt/catalog/cards/numeric_nlg.json
  src/unitxt/catalog/cards/qtsumm.json
  src/unitxt/catalog/cards/scigen.json
  src/unitxt/catalog/cards/tab_fact.json
  src/unitxt/catalog/cards/turl_col_type.json
  src/unitxt/catalog/cards/wikitq.json
Due: enforce-library-imports

Set metadata only once in recipe (#1437)
  src/unitxt/standard.py
  src/unitxt/task.py
Due: enforce-relative-imports

add req
  pyproject.toml
Due: none

add local model option
  examples/evaluate_text2sql.py
Due: enforce-library-imports

Update
  src/unitxt/inference.py
  utils/.secrets.baseline
Due: enforce-relative-imports

fix databases download
  src/unitxt/text2sql/data_utils.py
Due: enforce-relative-imports

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
