Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

Remove reference_fields hack from the card (under protest...)
  prepare/cards/safety/provoq.py
  src/unitxt/catalog/cards/safety/provoq.json
Due: enforce-library-imports

add model name to csv_path
  ilab/ilab_evaluate.py
Due: enforce-library-imports

fix
  ilab/ilab_evaluate.py
Due: enforce-library-imports

2 possible metrics
  prepare/cards/wikitq.py
Due: enforce-library-imports

add requirements
  requirements/base.rqr
Due: none

fix secrets
  .secrets.baseline
  src/unitxt/metrics.py
Due: enforce-relative-imports

Switched to a new task
  prepare/cards/safety/provoq.py
  prepare/tasks/generation.py
  src/unitxt/catalog/cards/safety/provoq.json
  src/unitxt/catalog/tasks/generation/with_context.json
Due: enforce-library-imports

Update CONTRIBUTING.md - update path name for activate (#1070)
  CONTRIBUTING.md
Due: none

Update glossary.rst -- boldfaced and pre-capitalized terms
  docs/docs/glossary.rst
Due: none

Update glossary.rst -- Boldface and Pre-Capitalize Terms
  docs/docs/glossary.rst
Due: none

add grounded judges
  prepare/templates/response_assessment/judges/grounded/v10.py
  prepare/templates/response_assessment/judges/grounded/v11.py
  prepare/templates/response_assessment/judges/grounded/v8.py
Due: enforce-library-imports

Remove LLMaaJ from our metrics list
  ilab/ilab_evaluate.py
Due: enforce-library-imports

add metric for grounded judges
  prepare/metrics/llm_as_judge/conversation_groundedness.py
  prepare/metrics/llm_as_judge/ensemble_grounded_v1.json
Due: enforce-library-imports

add grounded ensemble example
  examples/evaluate_grounded_ensemble_judge.py
Due: enforce-library-imports

add idk judges
  examples/evaluate_idk_judge.py
  prepare/metrics/llm_as_judge/conversation_idk.py
  prepare/templates/response_assessment/judges/idk/v1.py
Due: enforce-library-imports

add items in catalog
  src/unitxt/catalog/metrics/llm_as_judge/conversation_answer_groundedness/ensemble_v1_ibmgenai_judges.json
  src/unitxt/catalog/metrics/llm_as_judge/conversation_answer_idk/llama3_v1_ibmgenai_judges.json
  src/unitxt/catalog/templates/response_assessment/judges/grounded/v10.json
  src/unitxt/catalog/templates/response_assessment/judges/grounded/v11.json
  src/unitxt/catalog/templates/response_assessment/judges/grounded/v8.json
  src/unitxt/catalog/templates/response_assessment/judges/idk/v1.json
Due: none

Adding cat before training yaml results.
  ilab/ilab_results/cat_base_yaml_eval_merlinite-7b-lab-Q4_K_M.gguf_predictions.csv
  ilab/ilab_results/cat_base_yaml_eval_merlinite-7b-lab-Q4_K_M.gguf_run.csv
Due: none

adding ilab results
  ilab/ilab_results/cat_base_0_shots_100_samples_predictions.csv
  ilab/ilab_results/cat_base_0_shots_100_samples_run.csv
  ilab/ilab_results/cat_base_5_shots_100_samples_predictions.csv
  ilab/ilab_results/cat_base_5_shots_100_samples_run.csv
  ilab/ilab_results/clapnq_base_0_shots_100_samples_predictions.csv
  ilab/ilab_results/clapnq_base_0_shots_100_samples_run.csv
  ilab/ilab_results/clapnq_base_5_shots_100_samples_predictions.csv
  ilab/ilab_results/clapnq_base_5_shots_100_samples_run.csv
  ilab/ilab_results/clapnq_base_yaml_metrics_predictions.csv
  ilab/ilab_results/clapnq_base_yaml_metrics_run.csv
  ilab/ilab_results/clapnq_trained_0_shots_100_samples_predictions.csv
  ilab/ilab_results/clapnq_trained_0_shots_100_samples_run.csv
  ilab/ilab_results/clapnq_trained_yaml_metrics_predictions.csv
  ilab/ilab_results/clapnq_trained_yaml_metrics_run.csv
  ilab/ilab_results/entities_all_base_0_shots_100_samples_predictions.csv
  ilab/ilab_results/entities_all_base_0_shots_100_samples_run.csv
  ilab/ilab_results/entities_all_base_5_shots_100_samples_predictions.csv
  ilab/ilab_results/entities_all_base_5_shots_100_samples_run.csv
  ilab/ilab_results/fin_qa_base_0_shots_100_samples_predictions.csv
  ilab/ilab_results/fin_qa_base_0_shots_100_samples_run.csv
  ilab/ilab_results/fin_qa_base_yaml_eval_predictions.csv
  ilab/ilab_results/fin_qa_base_yaml_eval_run.csv
  ilab/ilab_results/pagerduty_base_0_shots_100_samples_predictions.csv
  ilab/ilab_results/pagerduty_base_0_shots_100_samples_run.csv
  ilab/ilab_results/watson_emotion_classes_first_base_0_shots_100_samples_predictions.csv
  ilab/ilab_results/watson_emotion_classes_first_base_0_shots_100_samples_run.csv
  ilab/ilab_results/watson_emotion_classes_first_base_5_shots_100_samples_predictions.csv
  ilab/ilab_results/watson_emotion_classes_first_base_5_shots_100_samples_run.csv
  ilab/ilab_results/watson_emotion_classes_first_base_yaml_eval_predictions.csv
  ilab/ilab_results/watson_emotion_classes_first_base_yaml_eval_run.csv
  ilab/ilab_results/watson_emotion_classes_first_trained_yaml_eval_ggml-model-f16-watson-emotion-text-last.gguf_predictions.csv
  ilab/ilab_results/watson_emotion_classes_first_trained_yaml_eval_ggml-model-f16-watson-emotion-text-last.gguf_run.csv
Due: none

Fixes and additions
  docs/docs/benchmark.rst
  docs/docs/evaluating_datasets.rst
  docs/docs/examples.rst
  docs/docs/glossary.rst
  docs/docs/tutorials.rst
  examples/evaluate_benchmark.py
  examples/evaluate_different_templates_num_demos.py
  prepare/benchmarks.py/glue.py
  prepare/cards/mrpc.py
  src/unitxt/api.py
  src/unitxt/benchmark.py
  src/unitxt/catalog/benchmarks/glue.json
  src/unitxt/catalog/cards/mrpc.json
  src/unitxt/dataset.py
  src/unitxt/fusion.py
  src/unitxt/metric.py
  src/unitxt/metric_utils.py
  src/unitxt/standard.py
  tests/library/test_api.py
  tests/library/test_benchmark.py
  tests/library/test_metric_utils.py
Due: enforce-relative-imports, enforce-library-imports

Fix names
  src/unitxt/loaders.py
  tests/library/test_fusion.py
Due: enforce-relative-imports, enforce-library-imports

ProvoQ dataset artifacts (#1168)
  prepare/cards/safety/provoq.py
  prepare/metrics/llm_as_judge/safety/harm_rating.py
  prepare/metrics/llm_as_judge/safety/llamaguard.py
  prepare/tasks/generation.py
  prepare/templates/safety/harm_rating.py
  src/unitxt/catalog/cards/safety/provoq.json
  src/unitxt/catalog/metrics/llm_as_judge/safety/llama_3_70b_instruct_ibm_genai_template_harm_rating.json
  src/unitxt/catalog/tasks/generation/with_context.json
  src/unitxt/catalog/templates/safety/harm_rating.json
Due: enforce-library-imports

Update glossary.rst -- Boldface and Pre-Capitalize Terms (#1170)
  docs/docs/glossary.rst
Due: none

remove nested results dirs
  ilab/ilab_results/finqa/clapnq_trained_yaml_metrics_predictions.csv
  ilab/ilab_results/finqa/clapnq_trained_yaml_metrics_run.csv
  ilab/ilab_results/finqa/fin_qa_base_0_shots_100_samples_predictions.csv
  ilab/ilab_results/finqa/fin_qa_base_0_shots_100_samples_run.csv
  ilab/ilab_results/finqa/fin_qa_base_yaml_eval_predictions.csv
  ilab/ilab_results/finqa/fin_qa_base_yaml_eval_run.csv
  ilab/ilab_results/finqa/watson_emotion_classes_first_base_0_shots_100_samples_predictions.csv
  ilab/ilab_results/finqa/watson_emotion_classes_first_base_0_shots_100_samples_run.csv
  ilab/ilab_results/finqa/watson_emotion_classes_first_base_5_shots_100_samples_predictions.csv
  ilab/ilab_results/finqa/watson_emotion_classes_first_base_5_shots_100_samples_run.csv
  ilab/ilab_results/trained_results/clapnq_trained_0_shots_100_samples_predictions.csv
  ilab/ilab_results/trained_results/clapnq_trained_0_shots_100_samples_run.csv
Due: none

Fix catalog consistency
  src/unitxt/catalog/splitters/default.json
Due: none

add _infer_log_probs to IbmGenAiInferenceEngine add Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/inference.py
Due: enforce-relative-imports

add GenerativeBinaryJudgeBAM add Signed-off-by: lilacheden <lilach.edel@gmail.com>
  .secrets.baseline
  src/unitxt/metrics.py
Due: enforce-relative-imports

add llama-3-1-405b-instruct-fp8 binary judge (through bam) add Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/rag_eval_judges.py
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_judge_llama_3_1_405b_instruct_fp8.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_c_a_gt_judge_llama_3_1_405b_instruct_fp8.json
  src/unitxt/catalog/metrics/rag/answer_relevance/answer_relevance_q_a_judge_llama_3_1_405b_instruct_fp8.json
  src/unitxt/catalog/metrics/rag/context_relevance/context_relevance_q_c_judge_llama_3_1_405b_instruct_fp8.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/correctness_holistic_q_c_a_judge_llama_3_1_405b_instruct_fp8.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_c_a_judge_llama_3_1_405b_instruct_fp8.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_q_c_a_judge_llama_3_1_405b_instruct_fp8.json
Due: enforce-library-imports

fix folder name
  prepare/benchmarks/glue.py
Due: enforce-library-imports

remove redundent conda using
  ilab/run_server
Due: none

adding trained ner
  ilab/ilab_results/entities_all_train_0_shots_100_samples_predictions.csv
  ilab/ilab_results/entities_all_train_0_shots_100_samples_run.csv
  ilab/ilab_results/entities_all_train_5_shots_100_samples_predictions.csv
  ilab/ilab_results/entities_all_train_5_shots_100_samples_run.csv
  ilab/ilab_results/entities_all_train_yaml_eval_predictions.csv
  ilab/ilab_results/entities_all_train_yaml_eval_run.csv
Due: none

Add utils to mange needed configs
  ilab/identify_missing_result_files.py
  ilab/sync_dirs.py
  ilab/verify_result_file_name.py
Due: enforce-library-imports

change results names to use same convention
  ilab/identify_missing_result_files.py
  ilab/ilab_results/clapnq_train_0_shots_100_samples_predictions.csv
  ilab/ilab_results/clapnq_train_0_shots_100_samples_run.csv
  ilab/ilab_results/clapnq_train_yaml_metrics_predictions.csv
  ilab/ilab_results/clapnq_train_yaml_metrics_run.csv
  ilab/ilab_results/watson_emotion_classes_first_train_yaml_eval_ggml-model-f16-watson-emotion-text-last.gguf_predictions.csv
  ilab/ilab_results/watson_emotion_classes_first_train_yaml_eval_ggml-model-f16-watson-emotion-text-last.gguf_run.csv
Due: enforce-library-imports

bugfix in IbmGenAiInferenceEngine infer_log_probs add Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/inference.py
Due: enforce-relative-imports

minor change in import
  prepare/cards/scigen.py
Due: enforce-library-imports

minor
  ilab/ilab_evaluate.py
Due: enforce-library-imports

adding ner trained
  ilab/ilab_results/entities_all_train_0_shots_100_samples_ggml-model-f16-ner.gguf_predictions.csv
  ilab/ilab_results/entities_all_train_0_shots_100_samples_ggml-model-f16-ner.gguf_run.csv
  ilab/ilab_results/entities_all_train_5_shots_100_samples_ggml-model-f16-ner.gguf_predictions.csv
  ilab/ilab_results/entities_all_train_5_shots_100_samples_ggml-model-f16-ner.gguf_run.csv
Due: none

Add ability to produce scores of groups based on task attributes and recipe metadata (#1130)
  docs/docs/benchmark.rst
  docs/docs/evaluating_datasets.rst
  docs/docs/examples.rst
  docs/docs/glossary.rst
  docs/docs/tutorials.rst
  examples/evaluate_benchmark.py
  examples/evaluate_different_templates_num_demos.py
  prepare/benchmarks/glue.py
  prepare/cards/mrpc.py
  pyproject.toml
  src/unitxt/api.py
  src/unitxt/benchmark.py
  src/unitxt/catalog.py
  src/unitxt/catalog/benchmarks/glue.json
  src/unitxt/catalog/cards/mrpc.json
  src/unitxt/catalog/splitters/default.json
  src/unitxt/collections_operators.py
  src/unitxt/dataset.py
  src/unitxt/dict_utils.py
  src/unitxt/fusion.py
  src/unitxt/loaders.py
  src/unitxt/metric.py
  src/unitxt/metric_utils.py
  src/unitxt/schema.py
  src/unitxt/standard.py
  src/unitxt/stream.py
  tests/library/test_api.py
  tests/library/test_benchmark.py
  tests/library/test_examples.py
  tests/library/test_fusion.py
  tests/library/test_metric_utils.py
  tests/library/test_recipe.py
  tests/utils.py
Due: enforce-relative-imports, enforce-library-imports

Make cache compatible with python 3.8
  src/unitxt/metric_utils.py
Due: enforce-relative-imports

add cat trained yamel result
  ilab/ilab_results/cat_train_yaml_eval_ggml-model-f16-cat.gguf_predictions.csv
  ilab/ilab_results/cat_train_yaml_eval_ggml-model-f16-cat.gguf_run.csv
Due: none

Add fin qa base yamel
  ilab/ilab_results/fin_qa_base_yaml_eval_merlinite-7b-lab-Q4_K_M.gguf_predictions.csv
  ilab/ilab_results/fin_qa_base_yaml_eval_merlinite-7b-lab-Q4_K_M.gguf_run.csv
Due: none

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
