Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

Fif error
  examples/evaluate_tool_calling.py
Due: enforce-library-imports

Improved parsing of MT bench style scores
  src/unitxt/processors.py
  tests/library/test_operators.py
Due: enforce-relative-imports, enforce-library-imports

Fix ruff
  src/unitxt/api.py
Due: enforce-relative-imports

Arena hard fix (#1836)
  prepare/metrics/llm_as_judge/pairwise_rating/llama_3_arena_hard_template.py
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_3_70b_instruct/template_arena_hard.json
Due: enforce-library-imports

Add full generated text when running infer_log_prob() with meta data enabled. (#1834)
  examples/inference_with_log_probs.py
  src/unitxt/inference.py
  tests/inference/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

Improved parsing of MT bench style scores (#1839)
  src/unitxt/processors.py
  tests/library/test_operators.py
Due: enforce-relative-imports, enforce-library-imports

Use os.path.join to create infer cache dir path
  src/unitxt/inference.py
Due: enforce-relative-imports

Use os.path.join to create infer cache dir path (#1840)
  src/unitxt/inference.py
Due: enforce-relative-imports

Utility to summarize evaluation results created by the Unitxt CLI
  utils/summarize_cli_results.py
Due: enforce-library-imports

.
  utils/summarize_cli_results.py
Due: enforce-library-imports

Now with sorting by time
  utils/summarize_cli_results.py
Due: enforce-library-imports

Add more contextual error information
  src/unitxt/artifact.py
  src/unitxt/inference.py
  src/unitxt/loaders.py
  src/unitxt/metrics.py
  src/unitxt/task.py
Due: enforce-relative-imports

Fix all tests to pass
  src/unitxt/artifact.py
  src/unitxt/operators.py
  src/unitxt/test_utils/operators.py
  tests/library/test_artifact.py
  tests/library/test_augmentors.py
  tests/library/test_loaders.py
  tests/library/test_metrics.py
  tests/library/test_operators.py
  tests/library/test_recipe.py
Due: enforce-relative-imports, enforce-library-imports

Fix some more tests
  tests/library/test_metrics.py
  tests/library/test_templates.py
Due: enforce-library-imports

Fix another test
  tests/library/test_loaders.py
Due: enforce-library-imports

text2sql bird metric + bug fix
  prepare/metrics/text2sql_accuracy.py
  src/unitxt/metrics.py
  src/unitxt/text2sql_utils.py
Due: enforce-relative-imports, enforce-library-imports

fix bug when WML does not return any content or tool call (#1835)
  src/unitxt/inference.py
Due: enforce-relative-imports

changing text2sql subset metric logic
  src/unitxt/text2sql_utils.py
Due: enforce-relative-imports

text2sql subset metric fix
  src/unitxt/text2sql_utils.py
Due: enforce-relative-imports

Fix some error and add contexts
  src/unitxt/error_utils.py
  src/unitxt/loaders.py
  src/unitxt/metric_utils.py
  src/unitxt/operators.py
Due: enforce-relative-imports

Remove file lock
  src/unitxt/api.py
Due: enforce-relative-imports

Update
  src/unitxt/api.py
Due: enforce-relative-imports

Added cli command
  pyproject.toml
Due: none

fixing text2sql tests
  tests/library/test_text2sql_utils.py
Due: enforce-library-imports

FIx some tests
  tests/library/test_metric_utils.py
Due: enforce-library-imports

Little refactor
  pyproject.toml
  src/unitxt/evaluate_cli.py
  utils/summarize_cli_results.py
Due: enforce-relative-imports, enforce-library-imports

docs for text2sql util functions
  src/unitxt/text2sql_utils.py
Due: enforce-relative-imports

Update inference tests
  tests/inference/test_inference_engine.py
Due: enforce-library-imports

Results summarization utility for the CLI (#1842)
  pyproject.toml
  src/unitxt/evaluate_cli.py
  utils/summarize_cli_results.py
Due: enforce-relative-imports, enforce-library-imports

Improved error messages (#1838)
  src/unitxt/api.py
  src/unitxt/artifact.py
  src/unitxt/error_utils.py
  src/unitxt/fusion.py
  src/unitxt/inference.py
  src/unitxt/loaders.py
  src/unitxt/metric_utils.py
  src/unitxt/metrics.py
  src/unitxt/operator.py
  src/unitxt/operators.py
  src/unitxt/settings_utils.py
  src/unitxt/task.py
  src/unitxt/test_utils/operators.py
  tests/inference/test_inference_engine.py
  tests/library/test_artifact.py
  tests/library/test_augmentors.py
  tests/library/test_error_utils.py
  tests/library/test_loaders.py
  tests/library/test_metric_utils.py
  tests/library/test_metrics.py
  tests/library/test_operators.py
  tests/library/test_recipe.py
  tests/library/test_templates.py
Due: enforce-relative-imports, enforce-library-imports

Update coverage exclusions
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

Improve Text2SQL Metrics: Refactoring, New Execution Metric, and Bug Fixes (#1841)
  prepare/metrics/text2sql_accuracy.py
  prepare/tasks/text2sql.py
  src/unitxt/catalog/metrics/text2sql/execution_logic_accuracy.json
  src/unitxt/catalog/tasks/text2sql_logic.json
  src/unitxt/dataset.py
  src/unitxt/loaders.py
  src/unitxt/metric.py
  src/unitxt/metrics.py
  src/unitxt/serializers.py
  src/unitxt/text2sql_utils.py
  tests/library/test_text2sql_utils.py
Due: enforce-relative-imports, enforce-library-imports

exclude lines
  pyproject.toml
Due: none

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils|unitxt/assistant/.*)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
