Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

add context_field attribute and minor fixes and improvements
  examples/evaluate_eval_assist_direct_user_criteria_new.py
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/criterias/answer_relevance.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/criterias/manipulative_email.json
  src/unitxt/eval_assist_constants.py
  src/unitxt/eval_assist_llm_as_judge.py
  src/unitxt/eval_assist_llm_as_judge_direct.py
  src/unitxt/eval_assist_llm_as_judge_pairwise.py
  src/unitxt/eval_assist_utils.py
Due: enforce-relative-imports, enforce-library-imports

Apply ruff suggestions
  examples/eval_assist_demo.ipynb
  src/unitxt/api.py
  src/unitxt/eval_assist_chat_templates.py
  src/unitxt/eval_assist_llm_as_judge.py
  src/unitxt/eval_assist_llm_as_judge_direct.py
  src/unitxt/eval_assist_llm_as_judge_pairwise.py
  src/unitxt/eval_assist_utils.py
  src/unitxt/inference.py
Due: enforce-relative-imports

Remove MatchClosestOption checks
  src/unitxt/processors.py
  src/unitxt/templates.py
Due: enforce-relative-imports

Remove inference changes
  src/unitxt/inference.py
Due: enforce-relative-imports

fix formatting issue
  prepare/templates/response_assessment/judges/completeness/v5.py
Due: enforce-library-imports

Remove unused function
  src/unitxt/eval_assist_utils.py
Due: enforce-relative-imports

Add updated secrets.baseline
  utils/.secrets.baseline
Due: none

update inference enginer to cross provider
  prepare/metrics/llm_as_judge/conversation_completeness.py
Due: enforce-library-imports

Updated json
  src/unitxt/catalog/cards/coqa/qa.json
Due: none

Added documentation of default task and improved error message
  docs/docs/adding_task.rst
  prepare/tasks/classification.py
  prepare/tasks/qa/tasks.py
  src/unitxt/catalog/tasks/classification/multi_label.json
  src/unitxt/catalog/tasks/qa/extractive.json
  src/unitxt/catalog/tasks/qa/open.json
  src/unitxt/catalog/tasks/qa/with_context.json
  src/unitxt/task.py
Due: enforce-relative-imports, enforce-library-imports

Updated extraction tempalte
  prepare/templates/qa/with_context.py
  src/unitxt/catalog/templates/qa/extractive.json
Due: enforce-library-imports

Upated recommended template
  examples/qa_evaluation.py
Due: enforce-library-imports

fix mistral format used in llmaj (when not using chat_api) (#1425)
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

Update catalog search engine
  docs/catalog.py
  docs/search.html
Due: enforce-library-imports

Sikplified and improved LLM as Judge
  examples/standalone_evaluation_llm_as_judge.py
Due: enforce-library-imports

Update catalog search engine (#1431)
  docs/catalog.py
  docs/search.html
Due: enforce-library-imports

Add custom titles to catalog items
  .gitignore
  docs/catalog.py
  prepare/cards/multidoc2dial.py
  src/unitxt/artifact.py
  src/unitxt/catalog/cards/multidoc2dial/abstractive.json
  src/unitxt/catalog/cards/multidoc2dial/extractive.json
Due: enforce-relative-imports, enforce-library-imports

Add custom titles to catalog items (#1432)
  .gitignore
  docs/catalog.py
  prepare/cards/multidoc2dial.py
  src/unitxt/artifact.py
  src/unitxt/catalog/cards/multidoc2dial/abstractive.json
  src/unitxt/catalog/cards/multidoc2dial/extractive.json
Due: enforce-relative-imports, enforce-library-imports

Change card to dataset in the catalog search tags
  docs/catalog.py
Due: enforce-library-imports

Change card to dataset in the catalog search tags (#1433)
  docs/catalog.py
Due: enforce-library-imports

Improved error message.
  src/unitxt/templates.py
Due: enforce-relative-imports

Fixed classification default task
  prepare/tasks/classification.py
  src/unitxt/catalog/tasks/classification/multi_class/relation.json
Due: enforce-library-imports

Fixed unitxt
  src/unitxt/templates.py
  tests/library/test_templates.py
Due: enforce-relative-imports, enforce-library-imports

Fixed typo in template
  prepare/templates/qa/with_context.py
  src/unitxt/catalog/templates/qa/extractive.json
Due: enforce-library-imports

eliminate exceeding line_limit errors, and many red lines
  docs/catalog.py
  src/unitxt/dataclass.py
  src/unitxt/image_operators.py
  src/unitxt/inference.py
  src/unitxt/llm_as_judge.py
  src/unitxt/stream.py
  src/unitxt/utils.py
Due: enforce-relative-imports, enforce-library-imports

Improved documentation
  docs/docs/examples.rst
  docs/docs/installation.rst
Due: none

Simplified API (removed create_and_evaluate_dataset)
  examples/evaluate_classification_dataset_with_given_predictions.py
  examples/evaluate_qa_dataset_with_given_predictions.py
  examples/evaluate_rag_end_to_end_dataset_with_given_predictions.py
  src/unitxt/api.py
Due: enforce-relative-imports, enforce-library-imports

Improved error message
  src/unitxt/metric_utils.py
Due: enforce-relative-imports

Changed wikitq back to extractive.
  prepare/cards/wikitq.py
  src/unitxt/catalog/cards/wikitq.json
Due: enforce-library-imports

Fixed examples
  examples/evaluate_rag_end_to_end_dataset_with_given_predictions.py
Due: enforce-library-imports

Removed location reference in template.
  prepare/templates/qa/with_context.py
  src/unitxt/catalog/templates/qa/with_context.json
Due: enforce-library-imports

Modified extractive template
  prepare/templates/qa/with_context.py
  src/unitxt/catalog/templates/qa/extractive.json
Due: enforce-library-imports

Update
  examples/evaluate_a_judge_model_capabilities_on_arena_hard.py
  examples/evaluate_a_model_using_arena_hard.py
  examples/evaluate_batched_multiclass_classification.py
  examples/evaluate_benchmark.py
  examples/evaluate_benchmark_with_custom_provider.py
  examples/evaluate_bluebench.py
  examples/evaluate_different_demo_selections.py
  examples/evaluate_different_formats.py
  examples/evaluate_different_templates.py
  examples/evaluate_ensemble_judge.py
  examples/evaluate_existing_dataset_by_llm_as_judge.py
  pyproject.toml
  src/unitxt/api.py
  src/unitxt/error_utils.py
  src/unitxt/metric_utils.py
Due: enforce-relative-imports, enforce-library-imports

eliminate exceeding line_limit errors, and many red lines from "make docs-server" (#1434)
  docs/catalog.py
  src/unitxt/dataclass.py
  src/unitxt/image_operators.py
  src/unitxt/inference.py
  src/unitxt/llm_as_judge.py
  src/unitxt/stream.py
  src/unitxt/utils.py
Due: enforce-relative-imports, enforce-library-imports

Several changes
  examples/evaluate_eval_assist_direct_predefined_criteria.py
  examples/evaluate_eval_assist_direct_several_criterias.py
  examples/evaluate_eval_assist_pairwise_predefined_criteria.py
  examples/evaluate_eval_assist_pairwise_user_criteria.py
  prepare/metrics/llm_as_judge/eval_assist.py
  src/unitxt/api.py
  src/unitxt/eval_assist_constants.py
  src/unitxt/eval_assist_llm_as_judge.py
  src/unitxt/eval_assist_llm_as_judge_direct.py
  src/unitxt/eval_assist_llm_as_judge_pairwise.py
  src/unitxt/eval_assist_utils.py
  src/unitxt/inference.py
Due: enforce-relative-imports, enforce-library-imports

Minor changes after updating with main
  src/unitxt/api.py
  src/unitxt/inference.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Updated documentaion to use installed version
  README.md
  docs/docs/evaluating_datasets.rst
  docs/docs/loading_datasets.rst
  docs/index.rst
  prepare/cards/wnli.py
  src/unitxt/catalog/cards/wnli.json
Due: enforce-library-imports

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
