Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [--baseline, utils/.secrets.baseline]
        exclude: utils/.secrets.baseline

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils|unitxt/assistant/.*)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

Improvements to tool calling - NON BACKWARD COMPATIBLE CHANGES (#1770)
  docs/docs/examples.rst
  docs/docs/tool_calling.rst
  examples/evaluate_tool_calling.py
  prepare/cards/bfcl.py
  prepare/metrics/tool_calling.py
  prepare/processors/tool_calling.py
  prepare/tasks/tool_calling/tasks.py
  prepare/templates/tool_calling/templates.py
  src/unitxt/catalog/cards/bfcl/simple_v3.json
  src/unitxt/catalog/metrics/tool_calling.json
  src/unitxt/catalog/metrics/tool_calling/key_value/accuracy.json
  src/unitxt/catalog/metrics/tool_calling/key_value/token_overlap.json
  src/unitxt/catalog/processors/load_json_or_empty_tool_call.json
  src/unitxt/catalog/tasks/tool_calling/supervised.json
  src/unitxt/catalog/templates/tool_calling/base.json
  src/unitxt/inference.py
  src/unitxt/metrics.py
  src/unitxt/struct_data_operators.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

Added example for standalone metric evaluation (#1769)
  docs/docs/examples.rst
  examples/evaluate_bluebench.py
  examples/evaluate_metric_standalone.py
Due: enforce-library-imports

Update version to 1.23.0
  src/unitxt/version.py
Due: enforce-relative-imports

Update version to 1.23.0 (#1789)
  src/unitxt/version.py
Due: enforce-relative-imports

Add more metrics for schema linking (#1788)
  prepare/tasks/schema_linking.py
  src/unitxt/catalog/tasks/schema_linking.json
Due: enforce-library-imports

Update Signed-off-by: elronbandel <elronbandel@gmail.com>
  examples/evaluate_granite_guardian_agentic_risks.py
Due: enforce-library-imports

FIx granite guardian agentic metric and align it with unitxt tool calling tasks
  examples/evaluate_granite_guardian_agentic_risks.py
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

fix filename
  prepare/benchmarks/torr/README.md
Due: none

torr benchmark readme file added
  assets/torr/datasets.png
  assets/torr/overview.png
  prepare/benchmarks/torr/README.md
  prepare/benchmarks/torr/torr.py
Due: enforce-library-imports

updated torr readme with more details
  prepare/benchmarks/torr/README.md
  prepare/benchmarks/torr/requirements.txt
Due: none

Documentation updates
  docs/docs/examples.rst
  src/unitxt/operators.py
Due: enforce-relative-imports

More doc changes
  src/unitxt/operators.py
Due: enforce-relative-imports

remove duplicated tests
  tests/library/test_cli.py
Due: enforce-library-imports

Add support for max_test/train/validation_instance in benchmark
  src/unitxt/benchmark.py
  src/unitxt/fusion.py
  tests/library/test_benchmark.py
Due: enforce-relative-imports, enforce-library-imports

add example scripts
  examples/evaluate_cli_benchmark.sh
  examples/evaluate_cli_two_cards.sh
Due: none

update torr readme
  prepare/benchmarks/torr/README.md
Due: none

Fixed argment_value_precision so it is 0 if no arguments in predictions but some argument in references,
  src/unitxt/metrics.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

Fixed argument_value_precision (#1794)
  src/unitxt/metrics.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

FIx granite guardian agentic metric and align it with unitxt built in tool calling types (#1786)
  examples/evaluate_granite_guardian_agentic_risks.py
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

Allow running benchmarks and recipes in cli (#1785)
  examples/evaluate_cli_benchmark.sh
  examples/evaluate_cli_two_cards.sh
  src/unitxt/benchmark.py
  src/unitxt/evaluate_cli.py
  src/unitxt/fusion.py
  tests/library/test_benchmark.py
  tests/library/test_cli.py
Due: enforce-relative-imports, enforce-library-imports

extending the rag e2e task
  prepare/tasks/rag/rag_end_to_end.py
  src/unitxt/catalog/tasks/rag/corpora.json
Due: enforce-library-imports

adding AddIncrementalId
  src/unitxt/operators.py
Due: enforce-relative-imports

mm rag cards
  prepare/cards/rag/end_to_end/real_mm_rag.py
  src/unitxt/catalog/cards/rag/benchmark/real_mm_rag_fine_report/en.json
  src/unitxt/catalog/cards/rag/benchmark/real_mm_rag_fine_slides/en.json
  src/unitxt/catalog/cards/rag/benchmark/real_mm_rag_tech_report/en.json
  src/unitxt/catalog/cards/rag/benchmark/real_mm_rag_tech_slides/en.json
  src/unitxt/catalog/cards/rag/documents/real_mm_rag_fine_report/en.json
  src/unitxt/catalog/cards/rag/documents/real_mm_rag_fine_slides/en.json
  src/unitxt/catalog/cards/rag/documents/real_mm_rag_tech_report/en.json
  src/unitxt/catalog/cards/rag/documents/real_mm_rag_tech_slides/en.json
Due: enforce-library-imports

mm rag cards
  prepare/cards/rag/end_to_end/real_mm_rag.py
Due: enforce-library-imports

format
  src/unitxt/operators.py
Due: enforce-relative-imports

format
  prepare/cards/rag/end_to_end/real_mm_rag.py
  prepare/tasks/rag/rag_end_to_end.py
Due: enforce-library-imports

update
  src/unitxt/catalog/cards/rag/benchmark/real_mm_rag_fin_report/en.json
  src/unitxt/catalog/cards/rag/benchmark/real_mm_rag_fin_slides/en.json
  src/unitxt/catalog/cards/rag/documents/real_mm_rag_fin_report/en.json
  src/unitxt/catalog/cards/rag/documents/real_mm_rag_fin_slides/en.json
Due: none

update
  prepare/cards/rag/end_to_end/real_mm_rag.py
Due: enforce-library-imports

Add tool calling correctness metric
  prepare/metrics/llm_as_judge/tool_calling.py
  src/unitxt/catalog/metrics/llm_as_judge/direct/criteria/tool_calling_correctness.json
  src/unitxt/catalog/metrics/tool_usage/tool_calling_correctness/llama_3_3_70b_instruct_judge.json
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports, enforce-library-imports

Update
  prepare/metrics/llm_as_judge/tool_calling.py
  src/unitxt/catalog/metrics/tool_calling/correctness/llama_3_3_70b_instruct_judge.json
Due: enforce-library-imports

Add ToRR Benchmark Readme file (#1793)
  assets/torr/datasets.png
  assets/torr/overview.png
  prepare/benchmarks/torr/README.md
  prepare/benchmarks/torr/requirements.txt
  prepare/benchmarks/torr/torr.py
Due: enforce-library-imports

Add tool calling correctness metric (#1796)
  prepare/metrics/llm_as_judge/tool_calling.py
  src/unitxt/catalog/metrics/llm_as_judge/direct/criteria/tool_calling_correctness.json
  src/unitxt/catalog/metrics/tool_calling/correctness/llama_3_3_70b_instruct_judge.json
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports, enforce-library-imports

update
  prepare/cards/rag/end_to_end/real_mm_rag.py
  src/unitxt/catalog/cards/rag/benchmark/real_mm_rag_fin_report/en.json
  src/unitxt/catalog/cards/rag/benchmark/real_mm_rag_fin_slides/en.json
  src/unitxt/catalog/cards/rag/benchmark/real_mm_rag_tech_report/en.json
  src/unitxt/catalog/cards/rag/benchmark/real_mm_rag_tech_slides/en.json
  src/unitxt/catalog/cards/rag/documents/real_mm_rag_fin_report/en.json
  src/unitxt/catalog/cards/rag/documents/real_mm_rag_fin_slides/en.json
  src/unitxt/catalog/cards/rag/documents/real_mm_rag_tech_report/en.json
  src/unitxt/catalog/cards/rag/documents/real_mm_rag_tech_slides/en.json
  src/unitxt/operators.py
Due: enforce-relative-imports, enforce-library-imports

Disable litellm cache (#1732)
  src/unitxt/inference.py
Due: enforce-relative-imports

Add support to mix args and textual query in load_dataset (#1778)
  src/unitxt/api.py
  src/unitxt/artifact.py
  src/unitxt/dataset_utils.py
  tests/library/test_api.py
Due: enforce-relative-imports, enforce-library-imports

XSTest (and compliance criteria) (#1751)
  prepare/cards/safety/xstest.py
  src/unitxt/catalog/cards/safety/xstest.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/criteria/assistant_message_compliance.json
  src/unitxt/llm_as_judge_constants.py
Due: enforce-relative-imports, enforce-library-imports

Added tool calling to wml chat (#1782)
  src/unitxt/inference.py
  tests/inference/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

Torr const max prediction (#1752)
  examples/evaluate_torr.py
  prepare/benchmarks/torr.py
  src/unitxt/catalog/benchmarks/torr.json
Due: enforce-library-imports

Fix typo in azure_openai_host variable name (#1753)
  src/unitxt/inference.py
Due: enforce-relative-imports
