Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

Minor fixes.
  examples/ner_evaluation.py
  src/unitxt/catalog/tasks/ner/all_entity_types.json
Due: enforce-library-imports

Fixed typo
  src/unitxt/catalog/templates/span_labeling/extraction/detailed.json
Due: none

Refactor artifact linking to use 'to' instead of 'artifact_linked_to' for consistency and clarity in catalog documentation and implementation.
  docs/docs/saving_and_loading_from_catalog.rst
  src/unitxt/artifact.py
  src/unitxt/catalog.py
  src/unitxt/catalog/augmentors/augment_whitespace_prefix_and_suffix_task_input.json
  src/unitxt/catalog/augmentors/augment_whitespace_task_input.json
  src/unitxt/catalog/tasks/qa/with_context/abstractive.json
  src/unitxt/catalog/tasks/qa/with_context/extractive.json
  src/unitxt/catalog/temp_recipe_name.json
  tests/library/test_artifact.py
Due: enforce-relative-imports, enforce-library-imports

Updated post formating
  src/unitxt/catalog/tasks/span_labeling/extraction.json
Due: none

Remove unused temporary recipe JSON file to clean up the catalog structure.
  src/unitxt/catalog/temp_recipe_name.json
Due: none

Simplify artifact link [Non Backward Compatible!] (#1494)
  docs/docs/saving_and_loading_from_catalog.rst
  src/unitxt/artifact.py
  src/unitxt/catalog.py
  src/unitxt/catalog/augmentors/augment_whitespace_prefix_and_suffix_task_input.json
  src/unitxt/catalog/augmentors/augment_whitespace_task_input.json
  src/unitxt/catalog/tasks/qa/with_context/abstractive.json
  src/unitxt/catalog/tasks/qa/with_context/extractive.json
  tests/library/test_artifact.py
Due: enforce-relative-imports, enforce-library-imports

Unified tasks.ner.all_entity_types and tasks.span_labeling.extraction
  examples/ner_evaluation.py
  prepare/tasks/ner.py
  src/unitxt/catalog/tasks/ner/all_entity_types.json
Due: enforce-library-imports

Added NER example (#1492)
  docs/docs/examples.rst
  examples/ner_evaluation.py
  prepare/cards/atis.py
  prepare/cards/universal_ner.py
  prepare/tasks/ner.py
  prepare/tasks/span_labeling.py
  prepare/templates/span_labeling/templates.py
  src/unitxt/catalog/cards/atis.json
  src/unitxt/catalog/cards/universal_ner/ceb/gja.json
  src/unitxt/catalog/cards/universal_ner/da/ddt.json
  src/unitxt/catalog/cards/universal_ner/de/pud.json
  src/unitxt/catalog/cards/universal_ner/en/ewt.json
  src/unitxt/catalog/cards/universal_ner/en/pud.json
  src/unitxt/catalog/cards/universal_ner/hr/set.json
  src/unitxt/catalog/cards/universal_ner/pt/bosque.json
  src/unitxt/catalog/cards/universal_ner/pt/pud.json
  src/unitxt/catalog/cards/universal_ner/ru/pud.json
  src/unitxt/catalog/cards/universal_ner/sk/snk.json
  src/unitxt/catalog/cards/universal_ner/sr/set.json
  src/unitxt/catalog/cards/universal_ner/sv/pud.json
  src/unitxt/catalog/cards/universal_ner/sv/talbanken.json
  src/unitxt/catalog/cards/universal_ner/tl/trg.json
  src/unitxt/catalog/cards/universal_ner/tl/ugnayan.json
  src/unitxt/catalog/cards/universal_ner/zh/gsd.json
  src/unitxt/catalog/cards/universal_ner/zh/gsdsimp.json
  src/unitxt/catalog/cards/universal_ner/zh/pud.json
  src/unitxt/catalog/tasks/ner/all_entity_types.json
  src/unitxt/catalog/tasks/span_labeling/extraction.json
  src/unitxt/catalog/templates/span_labeling/extraction/all.json
  src/unitxt/catalog/templates/span_labeling/extraction/carry.json
  src/unitxt/catalog/templates/span_labeling/extraction/detailed.json
  src/unitxt/catalog/templates/span_labeling/extraction/extract.json
  src/unitxt/catalog/templates/span_labeling/extraction/having.json
  src/unitxt/catalog/templates/span_labeling/extraction/identify.json
  src/unitxt/catalog/templates/span_labeling/extraction/title.json
Due: enforce-library-imports

refactor names
  src/unitxt/data_utils.py
  src/unitxt/serializers.py
Due: enforce-relative-imports

add processors tests
  tests/library/test_collections_operators.py
Due: enforce-library-imports

add more tests
  tests/library/test_collections_operators.py
Due: enforce-library-imports

add tests
  tests/library/test_collections_operators.py
Due: enforce-library-imports

ruff fix
  examples/evaluate_image_text_to_text.py
Due: enforce-library-imports

edited secrets
  utils/.secrets.baseline
Due: none

refactor: allow more data sources
  src/unitxt/data_utils.py
Due: enforce-relative-imports

allow db source input
  prepare/cards/text2sql.py
  src/unitxt/catalog/cards/text2sql/bird.json
  src/unitxt/types.py
Due: enforce-relative-imports, enforce-library-imports

organize imports
  src/unitxt/metrics.py
  utils/.secrets.baseline
Due: enforce-relative-imports

update example
  examples/evaluate_text2sql.py
Due: enforce-library-imports

Add example for evaluating tables as images using Unitxt APIs
  examples/evaluate_tables_as_images.py
  prepare/serializers/table_serializers.py
  src/unitxt/catalog/serializers/table/image.json
  src/unitxt/struct_data_operators.py
Due: enforce-relative-imports, enforce-library-imports

Add example for evaluating tables as images using Unitxt APIs (#1495)
  examples/evaluate_tables_as_images.py
  prepare/serializers/table_serializers.py
  src/unitxt/catalog/serializers/table/image.json
  src/unitxt/struct_data_operators.py
Due: enforce-relative-imports, enforce-library-imports

Support embedded task data fields in llmjudge template Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

Add example for using criteria llm judge Signed-off-by: lilacheden <lilach.edel@gmail.com>
  examples/judge_direct_based_on_criteria.py
Due: enforce-library-imports

bugfix and more detailed comments Signed-off-by: lilacheden <lilach.edel@gmail.com>
  examples/judge_direct_based_on_criteria.py
Due: enforce-library-imports

add db_type to task
  prepare/tasks/text2sql.py
Due: enforce-library-imports

format
  src/unitxt/data_utils.py
Due: enforce-relative-imports

add db_type to task
  src/unitxt/catalog/tasks/text2sql.json
Due: none

add local db definition ability
  src/unitxt/metrics.py
  utils/.secrets.baseline
Due: enforce-relative-imports

add EE tests
  tests/library/test_metrics.py
Due: enforce-library-imports

Added gg judge metric
  prepare/cards/safety/attaq_2.py
Due: enforce-library-imports

Mm updates (#1465)
  examples/evaluate_image_text_to_text.py
  prepare/cards/ai2d.py
  prepare/cards/chart_qa.py
  prepare/cards/doc_vqa.py
  prepare/cards/info_vqa.py
  prepare/cards/websrc.py
  prepare/metrics/exact_match_mm.py
  prepare/metrics/relaxed_correctness.py
  prepare/metrics/websrc_squad_f1.py
  prepare/tasks/qa/tasks.py
  prepare/templates/qa/with_context.py
  src/unitxt/catalog/cards/ai2d.json
  src/unitxt/catalog/cards/chart_qa_lmms_eval.json
  src/unitxt/catalog/cards/info_vqa.json
  src/unitxt/catalog/cards/info_vqa_lmms_eval.json
  src/unitxt/catalog/cards/websrc.json
  src/unitxt/catalog/metrics/exact_match_mm.json
  src/unitxt/catalog/metrics/relaxed_correctness.json
  src/unitxt/catalog/metrics/websrc_squad_f1.json
  src/unitxt/catalog/tasks/qa/with_context/with_domain.json
  src/unitxt/catalog/tasks/qa/with_context/with_type.json
  src/unitxt/catalog/templates/qa/with_context/all.json
  src/unitxt/catalog/templates/qa/with_context/lmms_eval.json
  src/unitxt/metrics.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Accelerate and improve RAG Metrics
  src/unitxt/inference.py
  src/unitxt/metrics.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Add requirements list for BertScore and Reward metrics
  src/unitxt/metrics.py
Due: enforce-relative-imports

Add unique experiment ID to BertScore loading
  src/unitxt/metrics.py
Due: enforce-relative-imports

Refactor BertScore, SentenceBert, and Reward classes to initialize models in prepare method
  src/unitxt/metrics.py
Due: enforce-relative-imports

bugfix - allow changing main_score Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

bugfix in LLMJudge - allow changing main_score and score_prefix Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

Support embedded task data fields in LLMJudge template Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

add main_score to results Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
