Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]
        exclude: src/unitxt/metrics.py|examples/evaluate_existing_dataset_no_install.py
      # Run the linter on the specific file with the ignore flag
      - id: ruff
        name: ruff (examples/evaluate_existing_dataset_no_install.py)
        files: examples/evaluate_existing_dataset_no_install.py
        args: [--fix, --ignore, T201]
      # Run the formatter
      - id: ruff-format

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [--baseline, utils/.secrets.baseline]
        exclude: utils/.secrets.baseline

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

adding select prefix to get_sql processor
  prepare/processors/text2sql.py
  src/unitxt/catalog/processors/text2sql/get_sql.json
Due: enforce-library-imports

new text2sql execution scores and results in metrics
  prepare/metrics/text2sql_execution_accuracy.py
  src/unitxt/catalog/metrics/text2sql/execution_accuracy.json
  src/unitxt/db_utils.py
  src/unitxt/metrics.py
  src/unitxt/test_utils/metrics.py
  tests/library/test_db_utils.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

fix: minor bug when only space id is provided for WML inference (#1583)
  src/unitxt/inference.py
Due: enforce-relative-imports

Try fixing csv loader
  src/unitxt/loaders.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Added api call example
  docs/docs/examples.rst
  examples/api_call_evaluation.py
Due: enforce-library-imports

fix: improve CSV loading error handling in LoadCSV class
  src/unitxt/loaders.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Improve the load/prepare time for rag tasks
  examples/evaluate_bluebench.py
  prepare/cards/chat_rag_bench.py
  prepare/cards/clapnq.py
  prepare/cards/mtrag.py
  prepare/cards/open_australian_legal_qa.py
  prepare/cards/ragbench.py
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

Improved split to components
  examples/api_call_evaluation.py
Due: enforce-library-imports

refactor: streamline metric testing and enhance dataset loading configuration
  prepare/cards/cohere_for_ai.py
  prepare/metrics/rag.py
  src/unitxt/loaders.py
  tests/inference/test_inference_metrics.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

fix: enhance CSV loading with retry mechanism and configurable max retries
  src/unitxt/loaders.py
  src/unitxt/settings_utils.py
  utils/.secrets.baseline
Due: enforce-relative-imports

test: add unit test for LoadCSV error handling on file not found
  tests/library/test_loaders.py
  tests/library/test_metrics.py
  utils/.secrets.baseline
Due: enforce-library-imports

fix: update metrics parameter to accept a list in test_card function
  prepare/cards/cohere_for_ai.py
Due: enforce-library-imports

Fix failing tests
  tests/library/test_metrics.py
Due: enforce-library-imports

Fix failing tests (#1589)
  tests/library/test_metrics.py
Due: enforce-library-imports

Fix failing tests
  src/unitxt/metrics.py
Due: enforce-relative-imports

Fix tests (#1590)
  src/unitxt/metrics.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

Fix metrics formatting and style
  .pre-commit-config.yaml
  pyproject.toml
  src/unitxt/metrics.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Fix metrics formatting and style (#1591)
  .pre-commit-config.yaml
  pyproject.toml
  src/unitxt/metrics.py
  utils/.secrets.baseline
Due: enforce-relative-imports

fix: update cache action version and refine test_card invocation for specific conditions
  .github/workflows/catalog_preparation.yml
  prepare/cards/cohere_for_ai.py
Due: enforce-library-imports

fix: update Hugging Face cache path to relative directory
  .github/workflows/catalog_preparation.yml
Due: none

combined with Elron's loaders.py in branch lazy_loadHF and follow his fix of LoadCSV
  src/unitxt/loaders.py
  utils/.secrets.baseline
Due: enforce-relative-imports

add time spent in split_generator -- to load time
  performance/bluebench_profiler.py
  performance/compare_benchmark_performance_results.py
Due: enforce-library-imports

change the returned error on a missing file: in the lazy mode, this is identified only when trying to pull, not on generation of the loader
  tests/library/test_loaders.py
  utils/.secrets.baseline
Due: enforce-library-imports

Add download data count
  tests/catalog/test_preparation.py
Due: enforce-library-imports

Merge origin/main
  .pre-commit-config.yaml
  examples/evaluate_bluebench.py
  prepare/cards/chat_rag_bench.py
  prepare/cards/clapnq.py
  prepare/cards/cohere_for_ai.py
  prepare/cards/mtrag.py
  prepare/cards/open_australian_legal_qa.py
  prepare/cards/ragbench.py
  prepare/metrics/rag.py
  prepare/templates/key_value_extraction/templates.py
  pyproject.toml
  src/unitxt/catalog/templates/key_value_extraction/extract_in_json_format.json
  src/unitxt/inference.py
  src/unitxt/loaders.py
  src/unitxt/metrics.py
  src/unitxt/serializers.py
  src/unitxt/settings_utils.py
  src/unitxt/struct_data_operators.py
  tests/inference/test_inference_metrics.py
  tests/library/test_loaders.py
  tests/library/test_metrics.py
  tests/library/test_struct_data_operators.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Refactor loaders to implement LazyLoader class and update load_iterables method for improved streaming support
  src/unitxt/loaders.py
  tests/library/test_loaders.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Update exception handling in test_failed_load_csv to catch general exceptions
  tests/library/test_loaders.py
  utils/.secrets.baseline
Due: enforce-library-imports

add streaming, add tests
  examples/evaluate_text2sql.py
  prepare/cards/text2sql.py
  src/unitxt/catalog/cards/text2sql/bird.json
Due: enforce-library-imports

bluebench_profiler to also profile cards and recipes
  performance/bluebench_profiler.py
  performance/compare_benchmark_performance_results.py
  src/unitxt/loaders.py
Due: enforce-relative-imports, enforce-library-imports

Fix bird dataset (#1593)
  examples/evaluate_text2sql.py
  prepare/cards/text2sql.py
  src/unitxt/catalog/cards/text2sql/bird.json
Due: enforce-library-imports

Refactor LoadHF class to streamline data loading and enhance error handling
  pyproject.toml
  src/unitxt/loaders.py
  tests/library/test_loaders.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Use Lazy Loaders (#1536)
  performance/bluebench_profiler.py
  performance/compare_benchmark_performance_results.py
  prepare/cards/universal_ner.py
  pyproject.toml
  src/unitxt/catalog/cards/universal_ner/ceb/gja.json
  src/unitxt/catalog/cards/universal_ner/da/ddt.json
  src/unitxt/catalog/cards/universal_ner/de/pud.json
  src/unitxt/catalog/cards/universal_ner/en/ewt.json
  src/unitxt/catalog/cards/universal_ner/en/pud.json
  src/unitxt/catalog/cards/universal_ner/hr/set.json
  src/unitxt/catalog/cards/universal_ner/pt/bosque.json
  src/unitxt/catalog/cards/universal_ner/pt/pud.json
  src/unitxt/catalog/cards/universal_ner/ru/pud.json
  src/unitxt/catalog/cards/universal_ner/sk/snk.json
  src/unitxt/catalog/cards/universal_ner/sr/set.json
  src/unitxt/catalog/cards/universal_ner/sv/pud.json
  src/unitxt/catalog/cards/universal_ner/sv/talbanken.json
  src/unitxt/catalog/cards/universal_ner/tl/trg.json
  src/unitxt/catalog/cards/universal_ner/tl/ugnayan.json
  src/unitxt/catalog/cards/universal_ner/zh/gsd.json
  src/unitxt/catalog/cards/universal_ner/zh/gsdsimp.json
  src/unitxt/catalog/cards/universal_ner/zh/pud.json
  src/unitxt/fusion.py
  src/unitxt/loaders.py
  src/unitxt/operator.py
  src/unitxt/settings_utils.py
  src/unitxt/test_utils/card.py
  tests/library/test_loaders.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Fix loading without limit
  src/unitxt/loaders.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Fix loading without limit (#1594)
  src/unitxt/loaders.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Add multi-turn metrics and templates support
  examples/evaluate_multi_turn.py
  prepare/cards/coqa_multi_turn.py
  prepare/metrics/multi_turn.py/accuracy.py
  prepare/tasks/qa/tasks.py
  prepare/templates/qa/with_context.py
  src/unitxt/catalog/cards/coqa/multi_turn.json
  src/unitxt/catalog/metrics/multi_turn/accuracy.json
  src/unitxt/catalog/tasks/qa/extractive/multi_turn.json
  src/unitxt/catalog/templates/qa/multi_turn/with_context/simple.json
  src/unitxt/dialog_operators.py
  src/unitxt/metrics.py
  src/unitxt/serializers.py
  src/unitxt/templates.py
Due: enforce-relative-imports, enforce-library-imports

Adapt catalog
  prepare/metrics/granite_guardian.py
  src/unitxt/catalog/metrics/granite_guardian/agentic_risk/function_call.json
  src/unitxt/catalog/metrics/granite_guardian/agentic_workflows/function_calling_hallucination.json
  src/unitxt/catalog/metrics/granite_guardian/assistant_message/harm.json
  src/unitxt/catalog/metrics/granite_guardian/assistant_message/profanity.json
  src/unitxt/catalog/metrics/granite_guardian/assistant_message/social_bias.json
  src/unitxt/catalog/metrics/granite_guardian/assistant_message/unethical_behavior.json
  src/unitxt/catalog/metrics/granite_guardian/assistant_message/violence.json
  src/unitxt/catalog/metrics/granite_guardian/assistant_risk/harm.json
  src/unitxt/catalog/metrics/granite_guardian/assistant_risk/profanity.json
  src/unitxt/catalog/metrics/granite_guardian/assistant_risk/social_bias.json
  src/unitxt/catalog/metrics/granite_guardian/assistant_risk/unethical_behavior.json
  src/unitxt/catalog/metrics/granite_guardian/assistant_risk/violence.json
  src/unitxt/catalog/metrics/granite_guardian/rag/answer_relevance.json
  src/unitxt/catalog/metrics/granite_guardian/rag/context_relevance.json
  src/unitxt/catalog/metrics/granite_guardian/rag/groundedness.json
  src/unitxt/catalog/metrics/granite_guardian/rag_risk/answer_relevance.json
  src/unitxt/catalog/metrics/granite_guardian/rag_risk/context_relevance.json
  src/unitxt/catalog/metrics/granite_guardian/rag_risk/groundedness.json
  src/unitxt/catalog/metrics/granite_guardian/user_message/harm.json
  src/unitxt/catalog/metrics/granite_guardian/user_message/jailbreak.json
  src/unitxt/catalog/metrics/granite_guardian/user_message/profanity.json
  src/unitxt/catalog/metrics/granite_guardian/user_message/social_bias.json
  src/unitxt/catalog/metrics/granite_guardian/user_message/unethical_behavior.json
  src/unitxt/catalog/metrics/granite_guardian/user_message/violence.json
  src/unitxt/catalog/metrics/granite_guardian/user_risk/harm.json
  src/unitxt/catalog/metrics/granite_guardian/user_risk/jailbreak.json
  src/unitxt/catalog/metrics/granite_guardian/user_risk/profanity.json
  src/unitxt/catalog/metrics/granite_guardian/user_risk/social_bias.json
  src/unitxt/catalog/metrics/granite_guardian/user_risk/unethical_behavior.json
  src/unitxt/catalog/metrics/granite_guardian/user_risk/violence.json
Due: enforce-library-imports

Add more examples
  examples/evaluate_granite_guardian_agentic_risks.py
  examples/evaluate_granite_guardian_assistant_message_risks.py
  examples/evaluate_granite_guardian_custom_risks.py
  examples/evaluate_granite_guardian_rag_risks.py
  examples/evaluate_granite_guardian_user_message_risks.py
Due: enforce-library-imports

Rename wrong metric name (3.0 version -> 3)
  src/unitxt/catalog/metrics/llm_as_judge/direct/rits/granite3_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/watsonx/granite3_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/rits/granite3_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise/watsonx/granite3_8b.json
Due: none

Remove Granite Guardian from LLM as Judge evaluators
  prepare/metrics/llm_as_judge/llm_as_judge.py
  src/unitxt/llm_as_judge_constants.py
Due: enforce-relative-imports, enforce-library-imports
