Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]
        exclude: src/unitxt/metrics.py|examples/evaluate_existing_dataset_no_install.py
      # Run the linter on the specific file with the ignore flag
      - id: ruff
        name: ruff (src/unitxt/metrics.py)
        files: src/unitxt/metrics.py
        args: [--fix, --ignore, C901]
      # Run the linter on the specific file with the ignore flag
      - id: ruff
        name: ruff (examples/evaluate_existing_dataset_no_install.py)
        files: examples/evaluate_existing_dataset_no_install.py
        args: [--fix, --ignore, T201]
      # Run the formatter
      - id: ruff-format

  - repo: https://github.com/ibm/detect-secrets
    # If you desire to use a specific version of detect-secrets, you can replace `master` with other git revisions such as branch, tag or commit sha.
    # You are encouraged to use static refs such as tags, instead of branch name
    #
    # Running "pre-commit autoupdate" automatically updates rev to latest tag
    rev: 0.13.1+ibm.61.dss
    hooks:
      - id: detect-secrets # pragma: whitelist secret
        # Add options for detect-secrets-hook binary. You can run `detect-secrets-hook --help` to list out all possible options.
        # You may also run `pre-commit run detect-secrets` to preview the scan result.
        # when "--baseline" without "--use-all-plugins", pre-commit scan with just plugins in baseline file
        # when "--baseline" with "--use-all-plugins", pre-commit scan with all available plugins
        # add "--fail-on-unaudited" to fail pre-commit for unaudited potential secrets
        args: [--baseline, utils/.secrets.baseline, --use-all-plugins, --fail-on-unaudited]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

Update
  .github/workflows/examples_tests.yml
Due: none

Fix
  src/unitxt/formats.py
  src/unitxt/image_operators.py
  src/unitxt/inference.py
  src/unitxt/serializers.py
  src/unitxt/settings_utils.py
  tests/library/test_formats.py
  tests/library/test_image_operators.py
  tests/library/test_serializers.py
Due: enforce-relative-imports, enforce-library-imports

Fix prepration
  prepare/metrics/grouped_instance_metrics.py
Due: enforce-library-imports

Add CollateInstances operator
  src/unitxt/operators.py
  tests/library/test_operators.py
Due: enforce-relative-imports, enforce-library-imports

Fixed bug in printout of processed 'prediction' and 'references'
  src/unitxt/test_utils/card.py
Due: enforce-relative-imports

Example of batched multiclass classification
  examples/evaluate_batched_multiclass_classification.py
Due: enforce-library-imports

remove hardcoded env param Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/llm_as_judge/binary_judge.py
Due: enforce-library-imports

Elaborated example of sst2 classification in batches
  examples/evaluate_batched_multiclass_classification.py
Due: enforce-library-imports

Bring vision back to order
  prepare/cards/doc_vqa.py
  src/unitxt/formats.py
  src/unitxt/image_operators.py
  src/unitxt/inference.py
  src/unitxt/serializers.py
  src/unitxt/types.py
  tests/inference/test_inference_engine.py
  tests/library/test_formats.py
  tests/library/test_image_operators.py
  tests/library/test_serializers.py
Due: enforce-relative-imports, enforce-library-imports

Added doc
  docs/docs/examples.rst
Due: none

Exclude example from test
  tests/examples/test_examples.py
Due: enforce-library-imports

Fix cards
  prepare/cards/seed_bench.py
  prepare/cards/websrc.py
  src/unitxt/catalog/cards/seed_bench.json
  src/unitxt/catalog/cards/websrc.json
  src/unitxt/image_operators.py
  src/unitxt/schema.py
  src/unitxt/utils.py
Due: enforce-relative-imports, enforce-library-imports

Fix consistency
  src/unitxt/catalog/cards/doc_vqa/lmms_eval.json
Due: none

Fix example tests
  tests/examples/__init__.py
  tests/examples/test_examples.py
  tests/utils.py
Due: enforce-library-imports

Some more fixes
  examples/evaluate_image_text_to_text_lmms_eval_inference.py
  src/unitxt/api.py
  src/unitxt/stream.py
Due: enforce-relative-imports, enforce-library-imports

Update
  examples/robustness_testing_for_vision_text_models.py
  src/unitxt/stream.py
Due: enforce-relative-imports, enforce-library-imports

Fix example testing
  tests/examples/test_examples.py
Due: enforce-library-imports

Organize examples tests
  tests/examples/test_examples.py
Due: enforce-library-imports

Update
  examples/evaluate_image_text_to_text.py
Due: enforce-library-imports

Update examples
  examples/evaluate_image_text_to_text.py
  tests/utils.py
Due: enforce-library-imports

Update Inference Engines
  src/unitxt/inference.py
  tests/examples/test_examples.py
Due: enforce-relative-imports, enforce-library-imports

Move treatment of data classification policy to operator
  examples/evaluate_batched_multiclass_classification.py
  src/unitxt/operators.py
  tests/library/test_operators.py
Due: enforce-relative-imports, enforce-library-imports

Improved error messages
  src/unitxt/artifact.py
  src/unitxt/error_utils.py
Due: enforce-relative-imports

fix names in subsets
  prepare/recipes/bluebench.py
Due: enforce-library-imports

make n_examples a sum of subsets
  prepare/recipes/bluebench.py
Due: enforce-library-imports

A swifty PR suggested for issue #1331 (#1337)
  prepare/processors/processors.py
  utils/prepare_all_artifacts.py
Due: enforce-library-imports

revert generic inference engine change
  prepare/recipes/bluebench.py
  src/unitxt/catalog/recipes/bluebench/chatbot_abilities/arena_hard_generation_english_gpt_4_0314_reference.json
  src/unitxt/catalog/recipes/bluebench/qa_finance/fin_qa.json
  src/unitxt/catalog/recipes/bluebench/rag_general/rag_response_generation_clapnq.json
Due: enforce-library-imports

fix type
  prepare/recipes/bluebench.py
Due: enforce-library-imports

Fixed error message
  src/unitxt/artifact.py
Due: enforce-relative-imports

Removed evaluate_batched_multiclass_classification.py from example testing as they require API keys.
  tests/examples/test_examples.py
Due: enforce-library-imports

Add multi api inference engine
  examples/evaluate_benchmark_with_custom_api.py
  prepare/engines/multi_api/llama3.py
  src/unitxt/catalog/engines/model/llama_3_8b_instruct.json
  src/unitxt/inference.py
  src/unitxt/settings_utils.py
  src/unitxt/standard.py
Due: enforce-relative-imports, enforce-library-imports

Fix
  src/unitxt/inference.py
Due: enforce-relative-imports

Set to greedy decoding
  examples/evaluate_benchmark_with_custom_api.py
Due: enforce-library-imports

shamelessly use 8 parallel executions
  .github/workflows/catalog_preparation.yml
  tests/catalog/test_preparation.py
Due: enforce-library-imports

12, not only 8
  .github/workflows/catalog_preparation.yml
  tests/catalog/test_preparation.py
Due: enforce-library-imports
