Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

add metric the was removed by mistake Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/catalog/metrics/rag/end_to_end/answer_reward.json
Due: none

Exclude assistant module from package omission list
  pyproject.toml
Due: none

bugfix Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/inference.py
Due: enforce-relative-imports

fix faithfulness template Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/templates/rag_eval/rag_eval_numeric.py
  src/unitxt/catalog/templates/rag_eval/faithfulness/judge_no_question_simplified_verbal.json
  src/unitxt/catalog/templates/rag_eval/faithfulness/judge_no_question_simplified_verbal_good_bad.json
  src/unitxt/catalog/templates/rag_eval/faithfulness/judge_with_question_simplified_verbal.json
  src/unitxt/catalog/templates/rag_eval/faithfulness/judge_with_question_simplified_verbal_good_bad.json
Due: enforce-library-imports

delete temp
  temp.py
Due: enforce-library-imports

make id an str
  prepare/tasks/text2sql.py
  src/unitxt/catalog/tasks/text2sql.json
Due: enforce-library-imports

fix acess to db
  src/unitxt/db_utils.py
Due: enforce-relative-imports

add empty template
  prepare/templates/text2sql/templates.py
  src/unitxt/catalog/templates/text2sql/all.json
  src/unitxt/catalog/templates/text2sql/empty.json
Due: enforce-library-imports

compare the results entry from the meric
  src/unitxt/metrics.py
Due: enforce-relative-imports

reformat
  src/unitxt/metrics.py
  utils/.secrets.baseline
Due: enforce-relative-imports

reformat
  src/unitxt/db_utils.py
Due: enforce-relative-imports

add descriptions and short descriptions
  prepare/cards/amazon_massive.py
  prepare/cards/belebele.py
  prepare/cards/mlsum.py
  prepare/cards/xlsum.py
  prepare/cards/xnli.py
  prepare/cards/xwinogrande.py
Due: enforce-library-imports

Add Unitxt Assistant beta (#1513)
  pyproject.toml
  src/unitxt/assistant/__init__.py
  src/unitxt/assistant/app.py
  src/unitxt/assistant/context.txt
Due: enforce-relative-imports

deprecate old rag metrics Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/rag_metrics_deprecated.py
  src/unitxt/catalog/metrics/rag/answer_correctness.json
  src/unitxt/catalog/metrics/rag/answer_correctness/bert_score_recall.json
  src/unitxt/catalog/metrics/rag/answer_correctness/bert_score_recall_ml.json
  src/unitxt/catalog/metrics/rag/answer_correctness/sentence_bert_bge.json
  src/unitxt/catalog/metrics/rag/answer_correctness/sentence_bert_mini_lm.json
  src/unitxt/catalog/metrics/rag/answer_correctness/token_recall.json
  src/unitxt/catalog/metrics/rag/answer_inference.json
  src/unitxt/catalog/metrics/rag/answer_relevance/token_recall.json
  src/unitxt/catalog/metrics/rag/answer_reward.json
  src/unitxt/catalog/metrics/rag/context_correctness.json
  src/unitxt/catalog/metrics/rag/context_correctness/map.json
  src/unitxt/catalog/metrics/rag/context_correctness/mrr.json
  src/unitxt/catalog/metrics/rag/context_correctness/retrieval_at_k.json
  src/unitxt/catalog/metrics/rag/context_relevance.json
  src/unitxt/catalog/metrics/rag/context_relevance/perplexity_flan_t5_small.json
  src/unitxt/catalog/metrics/rag/context_relevance/sentence_bert_bge.json
  src/unitxt/catalog/metrics/rag/context_relevance/sentence_bert_mini_lm.json
  src/unitxt/catalog/metrics/rag/context_relevance/token_precision.json
  src/unitxt/catalog/metrics/rag/faithfulness.json
  src/unitxt/catalog/metrics/rag/faithfulness/bert_score_k_precision.json
  src/unitxt/catalog/metrics/rag/faithfulness/bert_score_k_precision_ml.json
  src/unitxt/catalog/metrics/rag/faithfulness/sentence_bert_bge.json
  src/unitxt/catalog/metrics/rag/faithfulness/sentence_bert_mini_lm.json
  src/unitxt/catalog/metrics/rag/faithfulness/token_k_precision.json
  src/unitxt/catalog/metrics/rag/faithfulness/vectara_hhem_2_1.json
Due: enforce-library-imports

add removed metrics preparation Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/rag_answer_relevance.py
Due: enforce-library-imports

add removed metric preparation Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/rag_metrics_deprecated.py
  src/unitxt/catalog/metrics/rag/context_perplexity.json
Due: enforce-library-imports

update running examples with new metric lists Signed-off-by: lilacheden <lilach.edel@gmail.com>
  examples/evaluate_rag_end_to_end_dataset_with_given_predictions.py
  examples/evaluate_rag_response_generation.py
Due: enforce-library-imports

update autorag example Signed-off-by: lilacheden <lilach.edel@gmail.com>
  examples/evaluate_external_rag_results_with_binary_llm_as_judge.py
Due: enforce-library-imports

remove duplicatte preparation Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/hhem.py
Due: enforce-library-imports

Fix fusion_generator to skip unavailable splits in named subsets
  src/unitxt/fusion.py
Due: enforce-relative-imports

Add splits and subset handling to BaseBenchmark class
  src/unitxt/benchmark.py
Due: enforce-relative-imports

Fix iterator assignment in WeightedFusion to use multi_stream for split access
  src/unitxt/fusion.py
Due: enforce-relative-imports

Refactor subset initialization in BaseBenchmark to use NonPositionalField
  src/unitxt/benchmark.py
Due: enforce-relative-imports

Updated variable name
  examples/evaluate_existing_dataset_by_llm_as_judge_pairwise.py
Due: enforce-library-imports

Add documentation for Settings and Constants management
  docs/docs/settings.rst
  docs/docs/tutorials.rst
  src/unitxt/settings_utils.py
Due: enforce-relative-imports

Enhance documentation for Settings and Constants with usage examples and environment variable details
  docs/docs/settings.rst
Due: none

Improved printouts
  examples/evaluate_llm_as_judge_direct_predefined_criteria.py
  examples/evaluate_llm_as_judge_direct_user_criteria_no_catalog.py
Due: enforce-library-imports

Update documentation for settings to include environment variable names and descriptions
  docs/docs/settings.rst
Due: none

Ensure fusion do not call streams before use (#1518)
  src/unitxt/benchmark.py
  src/unitxt/fusion.py
  tests/library/test_fusion.py
Due: enforce-relative-imports, enforce-library-imports

Fix: Selected option for supporting negative indexes in place_correct_choice_position
  src/unitxt/templates.py
  tests/library/test_templates.py
Due: enforce-relative-imports, enforce-library-imports

Fix: Selected option for supporting negative indexes in place_correct… (#1522)
  src/unitxt/templates.py
  tests/library/test_templates.py
Due: enforce-relative-imports, enforce-library-imports

fixed division by 0 in compare performance results
  performance/compare_benchmark_performance_results.py
Due: enforce-library-imports

fixed another zero division
  performance/compare_benchmark_performance_results.py
Due: enforce-library-imports

remove new wml rag judges Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/llm_as_judge/rag_judge.py
  src/unitxt/catalog/metrics/rag/autorag/answer_correctness/llama_3_3_70b_instruct_wml_judge.json
  src/unitxt/catalog/metrics/rag/autorag/answer_relevance/llama_3_3_70b_instruct_wml_judge.json
  src/unitxt/catalog/metrics/rag/autorag/context_relevance/llama_3_3_70b_instruct_wml_judge.json
  src/unitxt/catalog/metrics/rag/autorag/faithfulness/llama_3_3_70b_instruct_wml_judge.json
  src/unitxt/catalog/metrics/rag/end_to_end/answer_correctness/llama_3_3_70b_instruct_wml_judge.json
  src/unitxt/catalog/metrics/rag/end_to_end/answer_relevance/llama_3_3_70b_instruct_wml_judge.json
  src/unitxt/catalog/metrics/rag/end_to_end/context_relevance/llama_3_3_70b_instruct_wml_judge.json
  src/unitxt/catalog/metrics/rag/end_to_end/faithfulness/llama_3_3_70b_instruct_wml_judge.json
  src/unitxt/catalog/metrics/rag/response_generation/answer_correctness/llama_3_3_70b_instruct_wml_judge.json
  src/unitxt/catalog/metrics/rag/response_generation/answer_relevance/llama_3_3_70b_instruct_wml_judge.json
  src/unitxt/catalog/metrics/rag/response_generation/context_relevance/generic_inference_engine_judge.json
  src/unitxt/catalog/metrics/rag/response_generation/context_relevance/gpt_4o_azure_judge.json
  src/unitxt/catalog/metrics/rag/response_generation/context_relevance/llama_3_3_70b_instruct_rits_judge.json
  src/unitxt/catalog/metrics/rag/response_generation/context_relevance/llama_3_3_70b_instruct_watsonx_judge.json
  src/unitxt/catalog/metrics/rag/response_generation/context_relevance/llama_3_3_70b_instruct_wml_judge.json
  src/unitxt/catalog/metrics/rag/response_generation/faithfulness/llama_3_3_70b_instruct_wml_judge.json
Due: enforce-library-imports

Add Llama 3.1 on Vertex AI to CrossProviderInferenceEngine
  src/unitxt/inference.py
Due: enforce-relative-imports

fix external_rag example Signed-off-by: lilacheden <lilach.edel@gmail.com>
  examples/evaluate_external_rag_results_with_binary_llm_as_judge.py
Due: enforce-library-imports

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
