Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

unify with the update, and thus simplified the check
  .secrets.baseline
  src/unitxt/metrics.py
Due: enforce-relative-imports

added a sentence to the explanation
  .secrets.baseline
  src/unitxt/metrics.py
Due: enforce-relative-imports

Fix cards
  prepare/cards/coedit.py
  prepare/cards/hh_rlhf.py
  src/unitxt/catalog/cards/coedit/preference.json
  src/unitxt/catalog/cards/hh_rlhf.json
Due: enforce-library-imports

polished the new global-score-update method
  .secrets.baseline
  src/unitxt/metrics.py
Due: enforce-relative-imports

fixed the score_ci inconsistency issue (#1065)
  .secrets.baseline
  src/unitxt/metrics.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

Update CONTRIBUTING.md - update path name for activate
  CONTRIBUTING.md
Due: none

Revert change
  src/unitxt/operator.py
Due: enforce-relative-imports

Fix typing in docs with new convention
  docs/docs/adding_metric.rst
Due: none

refactor of new asset to new convention
  prepare/metrics/llm_as_judge/rating/llama_3_ibm_genai_generic_template.py
  prepare/metrics/llm_as_judge/rating/llama_3_ibm_genai_mt_bench_template.py
  prepare/metrics/llm_as_judge/rating/mistral_huggingface_mt_bench_template.py
  prepare/metrics/normalized_sacrebleu.py
  prepare/tasks/generation.py
  prepare/tasks/response_assessment/pairwise_comparative_rating/single_turn.py
Due: enforce-library-imports

Update secrets baseline
  .secrets.baseline
Due: none

Added prediction type to llm as jusdge to avoid warning
  examples/evaluate_augmentation.py
  examples/standalone_evaluation_llm_as_judge.py
  prepare/tasks/response_assessment/rating/multi_turn.py
  prepare/tasks/response_assessment/rating/multi_turn_with_reference.py
  prepare/tasks/response_assessment/rating/single_turn.py
  prepare/tasks/response_assessment/rating/single_turn_with_reference.py
  src/unitxt/catalog/tasks/response_assessment/rating/multi_turn.json
  src/unitxt/catalog/tasks/response_assessment/rating/multi_turn_with_reference.json
  src/unitxt/catalog/tasks/response_assessment/rating/single_turn.json
  src/unitxt/catalog/tasks/response_assessment/rating/single_turn_with_reference.json
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports, enforce-library-imports

Removed accidentally added file
  examples/evaluate_augmentation.py
Due: enforce-library-imports

customized judge prompt
  prepare/tasks/response_assessment/rating/table2text_single_turn_with_reference.py
  prepare/templates/response_assessment/rating/table2text_single_turn_with_reference.py
  src/unitxt/catalog/templates/response_assessment/rating/table2text_single_turn_with_reference.json
Due: enforce-library-imports

add metric "metrics.rag.retrieval_at_k" to catalog this is a wrapper around the retrieval_at_k for the ragas scheme
  prepare/metrics/rag_context_correctness.py
Due: enforce-library-imports

add corresponding json file for the new metric
  src/unitxt/catalog/metrics/rag/retrieval_at_k.json
Due: none

Added prediction type to llm as jusdge to avoid warning (#1072)
  examples/standalone_evaluation_llm_as_judge.py
  prepare/tasks/response_assessment/rating/multi_turn.py
  prepare/tasks/response_assessment/rating/multi_turn_with_reference.py
  prepare/tasks/response_assessment/rating/single_turn.py
  prepare/tasks/response_assessment/rating/single_turn_with_reference.py
  src/unitxt/catalog/tasks/response_assessment/rating/multi_turn.json
  src/unitxt/catalog/tasks/response_assessment/rating/multi_turn_with_reference.json
  src/unitxt/catalog/tasks/response_assessment/rating/single_turn.json
  src/unitxt/catalog/tasks/response_assessment/rating/single_turn_with_reference.json
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports, enforce-library-imports

add overwrite
  prepare/templates/rag/end_to_end.py
Due: enforce-library-imports

save prediction-references and restore within PipelineMetric
  .secrets.baseline
  prepare/metrics/ndcg.py
  prepare/metrics/rag.py
  prepare/metrics/rag_answer_correctness.py
  prepare/metrics/rag_context_correctness.py
  prepare/metrics/spearman.py
  prepare/metrics/squad.py
  src/unitxt/catalog/metrics/ndcg.json
  src/unitxt/catalog/metrics/rag/answer_correctness.json
  src/unitxt/catalog/metrics/rag/answer_inference.json
  src/unitxt/catalog/metrics/rag/answer_reward.json
  src/unitxt/catalog/metrics/rag/bert_k_precision.json
  src/unitxt/catalog/metrics/rag/bert_k_precision_ml.json
  src/unitxt/catalog/metrics/rag/bert_recall.json
  src/unitxt/catalog/metrics/rag/bert_recall_ml.json
  src/unitxt/catalog/metrics/rag/context_correctness.json
  src/unitxt/catalog/metrics/rag/context_perplexity.json
  src/unitxt/catalog/metrics/rag/context_relevance.json
  src/unitxt/catalog/metrics/rag/faithfulness.json
  src/unitxt/catalog/metrics/rag/k_precision.json
  src/unitxt/catalog/metrics/rag/map.json
  src/unitxt/catalog/metrics/rag/mrr.json
  src/unitxt/catalog/metrics/rag/recall.json
  src/unitxt/catalog/metrics/rag/response_generation/correctness/bert_score/deberta_large_mnli.json
  src/unitxt/catalog/metrics/rag/response_generation/correctness/bert_score/deberta_v3_base_mnli_xnli_ml.json
  src/unitxt/catalog/metrics/rag/response_generation/correctness/token_overlap.json
  src/unitxt/catalog/metrics/rag/response_generation/faithfullness/token_overlap.json
  src/unitxt/catalog/metrics/spearman.json
  src/unitxt/catalog/metrics/squad.json
  src/unitxt/catalog/metrics/token_overlap_with_context.json
  src/unitxt/metrics.py
  src/unitxt/operators.py
  tests/library/test_operators.py
Due: enforce-relative-imports, enforce-library-imports

try now with no deepcopy in FieldOperator, nor saving and restore of each instance before and after each metric -- in ApplyMetric operator
  src/unitxt/operators.py
Due: enforce-relative-imports

Fixed clapnq to check with reasonable error values
  prepare/cards/rag/end_to_end/clapnq.py
  prepare/tasks/rag/rag_end_to_end.py
  src/unitxt/catalog/tasks/rag/corpora.json
  src/unitxt/catalog/tasks/rag/end_to_end.json
Due: enforce-library-imports

temp
  prepare/metrics/relation_extraction.py
  prepare/tasks/relation_extraction.py
  src/unitxt/catalog/metrics/relation_extraction.json
  src/unitxt/catalog/metrics/specified_relation_extraction.json
  src/unitxt/catalog/tasks/relation_extraction/all_relation_types_for_pairs_no_spans.json
  src/unitxt/catalog/tasks/relation_extraction/single_relation_type_for_pair_no_spans.json
Due: enforce-library-imports

merge main
  prepare/tasks/ner.py
  src/unitxt/templates.py
Due: enforce-relative-imports, enforce-library-imports

Changed to LLM as judge field to actual objects
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

fix the type hint
  prepare/tasks/rag/rag_end_to_end.py
Due: enforce-library-imports

update catalog
  src/unitxt/catalog/tasks/rag/end_to_end.json
Due: none

try to remove deepcopy from ApplyMetric and FieldOperator
  src/unitxt/operators.py
Due: enforce-relative-imports

Add metric "metrics.rag.retrieval_at_k" to catalog (#1074)
  prepare/metrics/rag_context_correctness.py
  src/unitxt/catalog/metrics/rag/retrieval_at_k.json
Due: enforce-library-imports

Added check of type of format and system prompt to LLM as judge (#1068)
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

add load_json_predictions as processor in the template
  prepare/cards/rag/end_to_end/clapnq.py
  prepare/templates/rag/end_to_end.py
Due: enforce-library-imports

add rag_end_to_end metrics
  prepare/metrics/rag.py
Due: enforce-library-imports

add card for clapnq end_to_end
  prepare/cards/rag/end_to_end/__init__.py
  prepare/cards/rag/end_to_end/clapnq.py
  prepare/templates/rag/end_to_end.py
  src/unitxt/catalog/cards/rag/benchmark/clap_nq/en.json
  src/unitxt/catalog/cards/rag/documents/clap_nq/en.json
  src/unitxt/catalog/templates/rag/end_to_end/json_predictions.json
Due: enforce-library-imports

add a reduction of clap_nq
  prepare/cards/rag/end_to_end/clapnq.py
  src/unitxt/catalog/cards/rag/benchmark/clap_nq_reduced/en.json
Due: enforce-library-imports

add a reduction of clap_nq
  src/unitxt/catalog/cards/rag/benchmark/clap_nq_reduced/en.json
  src/unitxt/catalog/cards/rag/documents/clap_nq_reduced/en.json
Due: none

add subset
  prepare/cards/rag/end_to_end/clapnq.py
Due: enforce-library-imports

add sandbox_benjams
  .gitignore
Due: none

remove sandbox
  .gitignore
Due: none

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
