Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

remove an empty __init__.py file from prepare folder
  prepare/engines/ollama/__init__.py
Due: enforce-library-imports

fix WML inference engine to work with a list of instances
  src/unitxt/inference.py
Due: enforce-relative-imports

make example more likely to succeed
  examples/run_generic_inference_engine.py
Due: enforce-library-imports

implement WML based llama3-70b-instruct model
  prepare/engines/ibm_wml/llama3.py
Due: enforce-library-imports

push WML based llama3-70b-instruct model to catalog
  src/unitxt/catalog/engines/ibm_wml/llama_3_70b_instruct.json
Due: none

change name of envinmenta variable to compy with unitxt theme
  src/unitxt/inference.py
Due: enforce-relative-imports

add an example without the default
  examples/run_generic_inference_engine.py
Due: enforce-library-imports

add wml based llmaj
  prepare/metrics/llm_as_judge/pairwise_rating/llama_3_ibm_genai_arena_hard_template.py
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_70b_instruct_ibm_wml_template_arena_hard.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_70b_instruct_ibm_wml_template_arena_hard_with_shuffling.json
Due: enforce-library-imports

add generic llmaj
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_70b_instruct_generic_template_arena_hard.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_70b_instruct_generic_template_arena_hard_with_shuffling.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_8b_instruct_generic_template_arena_hard.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_8b_instruct_generic_template_arena_hard_with_shuffling.json
Due: none

rename generic to generic_engine
  prepare/metrics/llm_as_judge/pairwise_rating/llama_3_ibm_genai_arena_hard_template.py
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_70b_instruct_generic_engine_template_arena_hard.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_70b_instruct_generic_engine_template_arena_hard_with_shuffling.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_8b_instruct_generic_engine_template_arena_hard.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_8b_instruct_generic_engine_template_arena_hard_with_shuffling.json
Due: enforce-library-imports

rename generic to generic_engine
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_70b_instruct_generic_template_arena_hard.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_70b_instruct_generic_template_arena_hard_with_shuffling.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_8b_instruct_generic_template_arena_hard.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_8b_instruct_generic_template_arena_hard_with_shuffling.json
Due: none

fix some issue with task_data being a string instead of a dict
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

A suggested PR for issue 1106: More meaningful error message when catalog consistency fails (#1201)
  prepare/cards/rag/end_to_end/__init__.py
  prepare/engines/ollama/__init__.py
  prepare/tasks/rag/__init__.py
  utils/prepare_all_artifacts.py
Due: enforce-library-imports

Add random templates for bluebench (#1222)
  prepare/templates/classification/classification.py
  prepare/templates/completion/multiple_choice/templates.py
  prepare/templates/qa/multiple_choice/templates.py
  prepare/templates/rag/response_generation.py
  prepare/templates/summarization/abstractive.py
  prepare/templates/translation/directed.py
  src/unitxt/catalog/templates/classification/multi_class/blue_bench.json
  src/unitxt/catalog/templates/completion/multiple_choice/blue_bench.json
  src/unitxt/catalog/templates/qa/multiple_choice/open/blue_bench.json
  src/unitxt/catalog/templates/qa/multiple_choice/with_context/blue_bench.json
  src/unitxt/catalog/templates/qa/multiple_choice/with_topic/blue_bench.json
  src/unitxt/catalog/templates/rag/response_generation/blue_bench.json
  src/unitxt/catalog/templates/summarization/abstractive/blue_bench.json
  src/unitxt/catalog/templates/translation/directed/blue_bench.json
Due: enforce-library-imports

fixed a bug in score_prefix for grouped instance scores
  .secrets.baseline
  src/unitxt/metrics.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

drop with reference run
  ilab/evaluate_from_file.py
  ilab/run_base_bam_model.py
Due: enforce-library-imports

new cards
  prepare/cards/fin_qa__json__empty_table.py
  prepare/cards/fin_qa__json__junk_table.py
  prepare/cards/simple_dataset.py
  prepare/cards/tab_fact__df__shuffle_cols.py
  prepare/cards/tab_fact__df__shuffle_rows.py
  prepare/cards/tab_fact__indexedrowmajor__shuffle_cols.py
  prepare/cards/tab_fact__indexedrowmajor__shuffle_rows_cols.py
  prepare/cards/tab_fact__json__shuffle_rows.py
  prepare/cards/wikitq__concat_text.py
  prepare/cards/wikitq__df.py
  prepare/cards/wikitq__df__shuffle_rows.py
  prepare/cards/wikitq__indexed_row_major.py
  prepare/cards/wikitq__indexed_row_major__shuffle_rows.py
  prepare/cards/wikitq__json.py
  prepare/cards/wikitq__json__empty_table.py
  prepare/cards/wikitq__json__junk_table.py
  prepare/cards/wikitq__markdown__shuffle_cols.py
  src/unitxt/catalog/cards/fin_qa__json__empty_table.json
  src/unitxt/catalog/cards/fin_qa__json__junk_table.json
  src/unitxt/catalog/cards/simple_dataset.json
  src/unitxt/catalog/cards/wikitq__concat_text.json
  src/unitxt/catalog/cards/wikitq__df.json
  src/unitxt/catalog/cards/wikitq__df__shuffle_rows.json
  src/unitxt/catalog/cards/wikitq__indexed_row_major.json
  src/unitxt/catalog/cards/wikitq__indexed_row_major__shuffle_rows.json
  src/unitxt/catalog/cards/wikitq__json__empty_table.json
  src/unitxt/catalog/cards/wikitq__json__junk_table.json
  src/unitxt/catalog/cards/wikitq__markdown.json
  src/unitxt/struct_data_operators.py
Due: enforce-relative-imports, enforce-library-imports

benchmark for tables
  prepare/benchmarks/tables.py
Due: enforce-library-imports

temperature
  prepare/benchmarks/tables.py
  src/unitxt/inference.py
Due: enforce-relative-imports, enforce-library-imports

A suggested PR for issue #1214: fixed a bug in score_prefix for grouped instance scores (#1228)
  .secrets.baseline
  src/unitxt/metrics.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

Add control over serizliers from recipe + improve serializers construction + allow seed for table shuffling serizliers
  src/unitxt/serializers.py
  src/unitxt/standard.py
  src/unitxt/struct_data_operators.py
  src/unitxt/templates.py
  tests/library/test_recipe.py
  tests/library/test_serializers.py
  tests/library/test_struct_data_operators.py
Due: enforce-relative-imports, enforce-library-imports

Add control over serizliers from recipe + improve serializers construction + allow seed for table shuffling serizliers (#1229)
  src/unitxt/serializers.py
  src/unitxt/standard.py
  src/unitxt/struct_data_operators.py
  src/unitxt/templates.py
  tests/library/test_recipe.py
  tests/library/test_serializers.py
  tests/library/test_struct_data_operators.py
Due: enforce-relative-imports, enforce-library-imports

Fix table tasks to use default table serializers
  prepare/cards/fin_qa.py
  prepare/cards/numeric_nlg.py
  prepare/cards/scigen.py
  prepare/cards/tab_fact.py
  prepare/cards/turl_col_type.py
  prepare/cards/wikitq.py
  prepare/tasks/classification.py
  prepare/tasks/generation.py
  prepare/tasks/qa/tasks.py
  src/unitxt/catalog/cards/numeric_nlg.json
  src/unitxt/catalog/cards/scigen.json
  src/unitxt/catalog/cards/tab_fact.json
  src/unitxt/catalog/cards/turl_col_type.json
  src/unitxt/catalog/cards/wikitq.json
  src/unitxt/catalog/tasks/classification/multi_class/relation.json
  src/unitxt/catalog/tasks/generation/from_pair.json
  src/unitxt/catalog/tasks/qa/with_context/extractive.json
Due: enforce-library-imports

Fix
  prepare/cards/fin_qa.py
  src/unitxt/catalog/cards/fin_qa.json
Due: enforce-library-imports

Added end to end example in readme.
  README.md
Due: none

fix ExecuteExpression to except complex target field add Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/operators.py
Due: enforce-relative-imports

Fix table tasks to use default table serializers (#1230)
  prepare/cards/fin_qa.py
  prepare/cards/numeric_nlg.py
  prepare/cards/scigen.py
  prepare/cards/tab_fact.py
  prepare/cards/turl_col_type.py
  prepare/cards/wikitq.py
  prepare/tasks/classification.py
  prepare/tasks/generation.py
  prepare/tasks/qa/tasks.py
  src/unitxt/catalog/cards/fin_qa.json
  src/unitxt/catalog/cards/numeric_nlg.json
  src/unitxt/catalog/cards/scigen.json
  src/unitxt/catalog/cards/tab_fact.json
  src/unitxt/catalog/cards/turl_col_type.json
  src/unitxt/catalog/cards/wikitq.json
  src/unitxt/catalog/tasks/classification/multi_class/relation.json
  src/unitxt/catalog/tasks/generation/from_pair.json
  src/unitxt/catalog/tasks/qa/with_context/extractive.json
Due: enforce-library-imports

Add concurency_limit parameter to WMLInferenceEngine
  src/unitxt/inference.py
Due: enforce-relative-imports

update
  src/unitxt/inference.py
Due: enforce-relative-imports

Add concurency_limit parameter to WMLInferenceEngine (#1231)
  src/unitxt/inference.py
Due: enforce-relative-imports

rename file and add defualt to engine
  prepare/metrics/llm_as_judge/pairwise_rating/llama_3_arena_hard_template.py
Due: enforce-library-imports

add default - push to catalog
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_70b_instruct_generic_engine_template_arena_hard.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_70b_instruct_generic_engine_template_arena_hard_with_shuffling.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_8b_instruct_generic_engine_template_arena_hard.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_8b_instruct_generic_engine_template_arena_hard_with_shuffling.json
Due: none

fix bug
  src/unitxt/inference.py
Due: enforce-relative-imports

add explanations
  examples/run_generic_inference_engine.py
Due: enforce-library-imports

Update src/unitxt/inference.py
  src/unitxt/inference.py
Due: enforce-relative-imports

improve error message
  src/unitxt/inference.py
Due: enforce-relative-imports

add an error message where the user do not define a default and engine in env
  src/unitxt/inference.py
Due: enforce-relative-imports

Add wml based llmaj metric (#1227)
  examples/run_generic_inference_engine.py
  prepare/engines/ibm_wml/llama3.py
  prepare/metrics/llm_as_judge/pairwise_rating/llama_3_arena_hard_template.py
  prepare/metrics/llm_as_judge/pairwise_rating/llama_3_ibm_genai_arena_hard_template.py
  src/unitxt/catalog/engines/ibm_wml/llama_3_70b_instruct.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_70b_instruct_generic_engine_template_arena_hard.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_70b_instruct_generic_engine_template_arena_hard_with_shuffling.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_70b_instruct_ibm_wml_template_arena_hard.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_70b_instruct_ibm_wml_template_arena_hard_with_shuffling.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_8b_instruct_generic_engine_template_arena_hard.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_8b_instruct_generic_engine_template_arena_hard_with_shuffling.json
  src/unitxt/inference.py
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports, enforce-library-imports

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
