Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

Typos in the rst files (#1380)
  docs/blog/vision_robustness.rst
  docs/docs/adding_dataset.rst
  docs/docs/adding_metric.rst
  docs/docs/adding_operator.rst
  docs/docs/adding_template.rst
  docs/docs/data_classification_policy.rst
  docs/docs/examples.rst
  docs/docs/glossary.rst
  docs/docs/helm.rst
  docs/docs/operators.rst
  docs/docs/rag_support.rst
  docs/docs/tutorials.rst
  src/unitxt/augmentors.py
  src/unitxt/loaders.py
  src/unitxt/standard.py
  src/unitxt/text_utils.py
Due: enforce-relative-imports

Added examples to blog.
  docs/blog/index.rst
  docs/blog/inference_engines.rst
Due: none

Fixed links
  docs/blog/inference_engines.rst
Due: none

updated example
  examples/evaluate_existing_dataset_with_install.py
Due: enforce-library-imports

typo
  docs/blog/inference_engines.rst
Due: none

Reordered benefits
  docs/blog/inference_engines.rst
Due: none

secretes update
  utils/.secrets.baseline
Due: none

Added links
  docs/blog/inference_engines.rst
Due: none

Rename blog file names
  docs/blog/index.rst
  docs/blog/inference_engines_blog.rst
  docs/blog/vision_robustness_blog.rst
Due: none

Another try to push this to pypi without issues (#1375)
  pyproject.toml
  utils/requirements/all.txt
  utils/requirements/dev.txt
  utils/requirements/docs.txt
  utils/requirements/helm.txt
  utils/requirements/inference-tests.txt
  utils/requirements/service.txt
  utils/requirements/tests.txt
  utils/requirements/ui.txt
  utils/requirements/watsonx.txt
Due: none

Update
  pyproject.toml
Due: none

Update version to 1.15.6 (#1378)
  src/unitxt/version.py
Due: enforce-relative-imports

Change to pypi detect-secrets (#1377)
  .pre-commit-config.yaml
  pyproject.toml
  utils/.secrets.baseline
  utils/requirements/all.txt
  utils/requirements/dev.txt
  utils/requirements/docs.txt
  utils/requirements/helm.txt
  utils/requirements/inference-tests.txt
  utils/requirements/service.txt
  utils/requirements/tests.txt
  utils/requirements/ui.txt
  utils/requirements/watsonx.txt
Due: none

Update version to 1.15.4 (#1374)
  src/unitxt/version.py
Due: enforce-relative-imports

Update version to 1.15.5 (#1376)
  src/unitxt/version.py
Due: enforce-relative-imports

Fix release workflows (#1372)
  .github/workflows/hub.yml
  .github/workflows/pipy.yml
  utils/hf/prepare_dataset.py
  utils/hf/prepare_metric.py
Due: enforce-library-imports

Update version to 1.15.3 (#1373)
  src/unitxt/version.py
Due: enforce-relative-imports

Made sure null augmentor works as expected (#1381)
  src/unitxt/augmentors.py
  src/unitxt/standard.py
  tests/library/test_augmentors.py
Due: enforce-relative-imports, enforce-library-imports

Support MerticsList - to store a list of metrics (#1379)
  src/unitxt/metrics.py
  src/unitxt/operators.py
  src/unitxt/task.py
  tests/library/test_operators.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Typos in the rst files (#1380)
  docs/blog/vision_robustness_blog.rst
  docs/docs/adding_dataset.rst
  docs/docs/adding_metric.rst
  docs/docs/adding_operator.rst
  docs/docs/adding_template.rst
  docs/docs/data_classification_policy.rst
  docs/docs/examples.rst
  docs/docs/glossary.rst
  docs/docs/helm.rst
  docs/docs/operators.rst
  docs/docs/rag_support.rst
  docs/docs/tutorials.rst
  src/unitxt/augmentors.py
  src/unitxt/loaders.py
  src/unitxt/standard.py
  src/unitxt/text_utils.py
Due: enforce-relative-imports

Chat api blog post (#1371)
  docs/blog/index.rst
  docs/blog/inference_engines_blog.rst
  docs/blog/vision_robustness_blog.rst
  examples/evaluate_existing_dataset_with_install.py
Due: enforce-library-imports

add llama-3-405b-instruct wml classification engine Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/engines/classification/classification_engines.py
  src/unitxt/catalog/engines/classification/llama_3_405b_instruct_wml.json
Due: enforce-library-imports

add llama-3-405b-instruct wml classification engine (#1383)
  prepare/engines/classification/classification_engines.py
  src/unitxt/catalog/engines/classification/llama_3_405b_instruct_wml.json
Due: enforce-library-imports

bugfix in operator not_exist_do_nothing Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/operators.py
Due: enforce-relative-imports

fix hhem preprocessors Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/hhem.py
  src/unitxt/catalog/metrics/rag/faithfulness/vectara_hhem_2_1.json
Due: enforce-library-imports

Changes to GenAI, WML and HF inference engines (#1290)
  pyproject.toml
  src/unitxt/image_operators.py
  src/unitxt/inference.py
  tests/inference/test_inference_engine.py
  tests/library/test_metrics.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

update hhem preprocessors Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/hhem.py
  src/unitxt/catalog/metrics/rag/faithfulness/vectara_hhem_2_1.json
Due: enforce-library-imports

add desc and commetns Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/hhem.py
Due: enforce-library-imports

RITS inference engine
  src/unitxt/inference.py
Due: enforce-relative-imports

submit runs + set inference engine to rits
  prepare/benchmarks/submit_runs.py
  prepare/benchmarks/tables.py
Due: enforce-library-imports

debug submit runs
  prepare/benchmarks/submit_runs.py
Due: enforce-library-imports

Add support for OpenAI custom base url and default headers
  src/unitxt/inference.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Check if unitxt_pkg is None
  src/unitxt/settings_utils.py
Due: enforce-relative-imports

Add RITSInferenceEngine
  src/unitxt/inference.py
  tests/inference/test_inference_engine.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

adding specific parameters
  src/unitxt/inference.py
Due: enforce-relative-imports

Fix package dir in settings
  src/unitxt/settings_utils.py
Due: enforce-relative-imports

Fix package dir in settings (#1387)
  src/unitxt/settings_utils.py
Due: enforce-relative-imports

Update version to 1.15.7
  src/unitxt/version.py
Due: enforce-relative-imports

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
