Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [--baseline, utils/.secrets.baseline]
        exclude: utils/.secrets.baseline

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils|unitxt/assistant/.*)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

Improve docs
  prepare/metrics/tool_calling.py
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

Fix lazy preparation
  src/unitxt/inference.py
  tests/inference/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

Update
  src/unitxt/catalog/metrics/tool_calling/reflection/syntactic.json
Due: none

Add ReflectionToolCallingMetricSyntactic for evaluating tool call predictions referenceless (#1923)
  .github/actions/install-internal-pip/action.yml
  .github/workflows/catalog_preparation.yml
  .github/workflows/examples_tests.yml
  .github/workflows/library_eager_execution_tests.yml
  .github/workflows/library_tests.yml
  examples/evaluate_tool_calling_with_reflection.py
  prepare/metrics/tool_calling.py
  src/unitxt/catalog/metrics/tool_calling/reflection/syntactic.json
  src/unitxt/metrics.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

Fix mock
  src/unitxt/inference.py
Due: enforce-relative-imports

Some more fixes
  src/unitxt/inference.py
Due: enforce-relative-imports

Some minor improvements
  src/unitxt/inference.py
Due: enforce-relative-imports

fix
  src/unitxt/inference.py
Due: enforce-relative-imports

Divide biggen bench into multigual and not multilingual
  prepare/cards/biggen_bench.py
  src/unitxt/catalog/cards/biggen_bench_multilingual/results/human_eval.json
Due: enforce-library-imports

Add capability name to the criteria name
  prepare/cards/biggen_bench.py
  src/unitxt/catalog/cards/biggen_bench/results/human_eval.json
  src/unitxt/catalog/cards/biggen_bench_multilingual/results/human_eval.json
Due: enforce-library-imports

Divide biggen bench into multigual and not multilingual (#1922)
  prepare/cards/biggen_bench.py
  src/unitxt/catalog/cards/biggen_bench_multilingual/results/human_eval.json
Due: enforce-library-imports

Revert biggen partition
  prepare/cards/biggen_bench.py
  src/unitxt/catalog/cards/biggen_bench/results/human_eval.json
  src/unitxt/catalog/cards/biggen_bench_multilingual/results/human_eval.json
Due: enforce-library-imports

fixed spit names in wiki_bio
  prepare/cards/wiki_bio.py
  src/unitxt/catalog/cards/wiki_bio.json
Due: enforce-library-imports

remove the clearing of the hf cache. it is probably clear already
  .github/workflows/test_helm.yml
Due: none

remove existing HF cache that contains code
  .github/workflows/test_helm.yml
Due: none

trying on github machine
  .github/workflows/catalog_consistency.yml
  .github/workflows/catalog_preparation.yml
  .github/workflows/docs.yml
  .github/workflows/examples_tests.yml
  .github/workflows/hub.yml
  .github/workflows/inference_tests.yml
  .github/workflows/library_eager_execution_tests.yml
  .github/workflows/library_tests.yml
  .github/workflows/performance.yml
  .github/workflows/pipy.yml
  .github/workflows/quality.yml
  .github/workflows/stale_issues.yml
  .github/workflows/test_helm.yml
  utils/prepare_all_artifacts.py
Due: enforce-library-imports

trying cards.doc_vqa.en
  utils/prepare_all_artifacts.py
Due: enforce-library-imports

try cards.long_bench_v2
  .github/workflows/catalog_consistency.yml
  utils/prepare_all_artifacts.py
Due: enforce-library-imports

now try cards.doc_vqa.en
  utils/prepare_all_artifacts.py
Due: enforce-library-imports

remove _source_to_dataset. still with cards.doc_vqa.en
  utils/prepare_all_artifacts.py
Due: enforce-library-imports

now only _source_to_dataset. still with cards.doc_vqa.en
  .github/workflows/catalog_consistency.yml
  utils/prepare_all_artifacts.py
Due: enforce-library-imports

frames
  .github/workflows/catalog_consistency.yml
  utils/prepare_all_artifacts.py
Due: enforce-library-imports

cards.long_bench_v2
  utils/prepare_all_artifacts.py
Due: enforce-library-imports

cards.rag.benchmark.real_mm_rag_tech_report.en
  utils/prepare_all_artifacts.py
Due: enforce-library-imports

cards.rag.benchmark.real_mm_rag_tech_slides.en
  utils/prepare_all_artifacts.py
Due: enforce-library-imports

cards.rag.documents.real_mm_rag_fin_report.en
  utils/prepare_all_artifacts.py
Due: enforce-library-imports

final refactor for performance and simiplicity
  src/unitxt/inference.py
  src/unitxt/llm_as_judge.py
  src/unitxt/llm_as_judge_base.py
  src/unitxt/llm_as_judge_from_template.py
  src/unitxt/metrics.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

remove redundant splits from airbench2024
  prepare/cards/safety/airbench2024.py
  src/unitxt/catalog/cards/safety/airbench2024.json
Due: enforce-library-imports

complete small fixes to allow all cards to pass through _source_to_dataset
  prepare/cards/bfcl.py
  prepare/operators/fix_json_schema.py
  src/unitxt/catalog/cards/bfcl/multi_turn/java_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/javascript_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_parallel_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_parallel_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_simple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/parallel_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/parallel_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/simple_v3.json
  src/unitxt/catalog/cards/bfcl/simple_v3.json
  src/unitxt/catalog/operators/fix_json_schema.json
Due: enforce-library-imports

remove the generating example of exploding instance size
  bfcl.ipynb
Due: none

use the same json schema fixer as xlam does, an operator entered main with xlam
  prepare/cards/bfcl.py
  src/unitxt/catalog/cards/bfcl/multi_turn/java_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/javascript_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_irrelevance_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_parallel_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_parallel_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_relevance_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_simple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/parallel_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/parallel_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/simple_v3.json
  src/unitxt/catalog/cards/bfcl/simple_v3.json
Due: enforce-library-imports

remove ''-s from values of properties of tools
  prepare/cards/bfcl.py
  src/unitxt/catalog/cards/bfcl/multi_turn/java_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/javascript_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_parallel_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_parallel_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_simple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/parallel_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/parallel_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/simple_v3.json
Due: enforce-library-imports

ipynb
  bfcl.ipynb
Due: none

fix template and tasks of evaluation
  prepare/cards/coedit.py
  prepare/cards/hh_rlhf.py
  prepare/cards/summarize_from_human_feedback.py
  prepare/tasks/evaluation.py
  prepare/templates/evaluation/preference.py
  src/unitxt/catalog/cards/coedit/preference.json
  src/unitxt/catalog/cards/hh_rlhf.json
  src/unitxt/catalog/cards/summarize_from_human_feedback.json
  src/unitxt/catalog/tasks/evaluation/preference.json
  src/unitxt/catalog/templates/evaluation/preference/default.json
Due: enforce-library-imports

cast None to str, to comply with json schema
  prepare/cards/summarize_from_human_feedback.py
  src/unitxt/catalog/cards/summarize_from_human_feedback.json
Due: enforce-library-imports

cards.rag.documents.real_mm_rag_fin_slides.en
  utils/prepare_all_artifacts.py
Due: enforce-library-imports

remove redundant split from airbench2024 (#1928)
  prepare/cards/safety/airbench2024.py
  src/unitxt/catalog/cards/safety/airbench2024.json
Due: enforce-library-imports

Update
  src/unitxt/catalog/metrics/rag/external_rag/answer_correctness/llama_3_3_70b_instruct_watsonx_judge.json
  src/unitxt/dataset.py
  src/unitxt/metric.py
Due: none

Revert BigGen Benchmark partition (#1924)
  prepare/cards/biggen_bench.py
  src/unitxt/catalog/cards/biggen_bench/results/human_eval.json
  src/unitxt/catalog/cards/biggen_bench_multilingual/results/human_eval.json
Due: enforce-library-imports

fixed spit names in wiki_bio (#1925)
  prepare/cards/wiki_bio.py
  src/unitxt/catalog/cards/wiki_bio.json
Due: enforce-library-imports
