Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

Update version to 1.26.2 (#1867)
  src/unitxt/version.py
Due: enforce-relative-imports

LLM Judge: Improve context/prediction fields parsing (#1856)
  examples/evaluate_llm_as_judge_direct_user_criteria_no_catalog.py
  examples/evaluate_llm_as_judge_judgebench.py
  examples/evaluate_llm_as_judge_pairwise_user_criteria_no_catalog.py
  src/unitxt/api.py
  src/unitxt/catalog/metrics/llm_as_judge/direct/criteria/assistant_message_compliance.json
  src/unitxt/inference.py
  src/unitxt/llm_as_judge.py
  src/unitxt/llm_as_judge_constants.py
  src/unitxt/metric_utils.py
  tests/inference/test_llmaaj_metrics.py
Due: enforce-relative-imports, enforce-library-imports

Added a new MetricBasedNer that allows calculating entity similary using any Unitxt metric. (#1860)
  examples/ner_evaluation.py
  prepare/metrics/metric_based_ner.py
  src/unitxt/catalog/metrics/metric_based_ner.json
  src/unitxt/metrics.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

Update version to 1.26.3
  src/unitxt/version.py
Due: enforce-relative-imports

Update version to 1.26.3 (#1870)
  src/unitxt/version.py
Due: enforce-relative-imports

Remove old artifacts
  src/unitxt/catalog/cards/judge_bench/roscoe/cosmos/overall/coherence.json
  src/unitxt/catalog/cards/judge_bench/roscoe/drop/overall/coherency.json
  src/unitxt/catalog/cards/judge_bench/roscoe/esnli/overall/coherency.json
Due: none

Add Judgebench translation benchmarks
  prepare/cards/judge_bench/wmt-human.py
  src/unitxt/catalog/cards/judge_bench/wmt_human/chinese_to_english.json
  src/unitxt/catalog/cards/judge_bench/wmt_human/english_to_german.json
  src/unitxt/catalog/metrics/llm_as_judge/direct/criteria/translation_quality.json
  src/unitxt/llm_as_judge_constants.py
Due: enforce-relative-imports, enforce-library-imports

Add in-between option descriptions
  src/unitxt/catalog/metrics/llm_as_judge/direct/criteria/translation_quality.json
  src/unitxt/llm_as_judge_constants.py
Due: enforce-relative-imports

Fix multidoc2dial
  prepare/cards/multidoc2dial.py
  src/unitxt/catalog/cards/multidoc2dial/abstractive.json
  src/unitxt/catalog/cards/multidoc2dial/extractive.json
Due: enforce-library-imports

Add missing catalog assets
  src/unitxt/catalog/cards/dart.json
  src/unitxt/catalog/cards/reuters21578/ModApte.json
  src/unitxt/catalog/cards/reuters21578/ModHayes.json
  src/unitxt/catalog/cards/reuters21578/ModLewis.json
Due: none

Add tldr and make prep tests faster
  prepare/cards/tldr.py
  src/unitxt/catalog/cards/tldr.json
  src/unitxt/catalog/cards/tldr_document_filtered_to_10000_chars.json
  src/unitxt/catalog/cards/tldr_document_filtered_to_6000_chars.json
  src/unitxt/settings_utils.py
  src/unitxt/test_utils/card.py
  tests/utils.py
Due: enforce-relative-imports, enforce-library-imports

Make sqlite3 not an optional dependency
  src/unitxt/text2sql_utils.py
Due: enforce-relative-imports

Make sqlite3 not an optional dependency (#1871)
  src/unitxt/text2sql_utils.py
Due: enforce-relative-imports

prepare all artifacts from prepare files
  .github/workflows/catalog_consistency.yml
  prepare/tasks/qa/tasks.py
  src/unitxt/artifact.py
  utils/check_catalog_consistency.py
  utils/prepare_all_artifacts.py
Due: enforce-relative-imports, enforce-library-imports

Allow using python functions instead of operators (e.g in pre-processing pipeline)
  docs/catalog.py
  docs/docs/adding_dataset.rst
  docs/docs/adding_operator.rst
  prepare/cards/xlam_function_calling.py
  src/unitxt/api.py
  src/unitxt/artifact.py
  src/unitxt/catalog.py
  src/unitxt/catalog/cards/xlam_function_calling_60k.json
  src/unitxt/inference.py
  src/unitxt/llm_as_judge_from_template.py
  src/unitxt/operators.py
  src/unitxt/test_utils/artifact.py
  src/unitxt/test_utils/card.py
  src/unitxt/text_utils.py
  src/unitxt/utils.py
  tests/library/test_function_operators.py
Due: enforce-relative-imports, enforce-library-imports

shortened jsonschema verification
  prepare/cards/bfcl.py
  prepare/cards/xlam_function_calling.py
  prepare/operators/fix_json_schema.py
  src/unitxt/catalog/cards/bfcl/multi_turn/java_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/javascript_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_irrelevance_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_parallel_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_parallel_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_relevance_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_simple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/parallel_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/parallel_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/simple_v3.json
  src/unitxt/catalog/cards/bfcl/simple_v3.json
  src/unitxt/catalog/cards/xlam_function_calling_60k.json
  src/unitxt/catalog/operators/fix_json_schema.json
  src/unitxt/types.py
Due: enforce-relative-imports, enforce-library-imports

faster preparation
  .github/workflows/catalog_preparation.yml
Due: none

Add ExecuteExpression to judgebench wmt cards
  prepare/cards/judge_bench/wmt-human.py
  src/unitxt/catalog/cards/judge_bench/wmt_human/chinese_to_english/quality.json
  src/unitxt/catalog/cards/judge_bench/wmt_human/english_to_german/quality.json
Due: enforce-library-imports

Add more models to rits and watsonx
  src/unitxt/inference.py
Due: enforce-relative-imports

format
  src/unitxt/api.py
  src/unitxt/catalog/cards/xlam_function_calling_60k.json
Due: enforce-relative-imports

normalize to_dict of simple tyes, like re.DOTALL, and speed test_preparation
  .github/workflows/catalog_preparation.yml
  src/unitxt/dataclass.py
Due: enforce-relative-imports

Handle access in ToolCallPostProcessor where prediction is an empty list of tools
  src/unitxt/operators.py
  src/unitxt/struct_data_operators.py
Due: enforce-relative-imports

Removed legacy topicality, idk, and groundness metrics that worked only on BAM
  examples/evaluate_ensemble_judge.py
  examples/evaluate_grounded_ensemble_judge.py
  examples/evaluate_idk_judge.py
  prepare/metrics/llm_as_judge/conversation_groundedness.py
  prepare/metrics/llm_as_judge/conversation_idk.py
  prepare/metrics/llm_as_judge/conversation_topicality.py
  prepare/metrics/llm_as_judge/ensemble_grounded_v1.json
  prepare/metrics/llm_as_judge/ensemble_topicality_v1.json
  prepare/templates/response_assessment/judges/grounded/v10.py
  prepare/templates/response_assessment/judges/grounded/v11.py
  prepare/templates/response_assessment/judges/grounded/v8.py
  prepare/templates/response_assessment/judges/idk/v1.py
  prepare/templates/response_assessment/judges/topicality/v3.py
  src/unitxt/catalog/metrics/llm_as_judge/conversation_answer_groundedness/ensemble_v1_ibmgenai_judges.json
  src/unitxt/catalog/metrics/llm_as_judge/conversation_answer_idk/generic_inference_engine_judges.json
  src/unitxt/catalog/metrics/llm_as_judge/conversation_answer_idk/llama3_v1_ibmgenai_judges.json
  src/unitxt/catalog/metrics/llm_as_judge/conversation_answer_topicality/ensemble_v1_ibmgenai_judges.json
  src/unitxt/catalog/templates/response_assessment/judges/grounded/v10.json
  src/unitxt/catalog/templates/response_assessment/judges/grounded/v11.json
  src/unitxt/catalog/templates/response_assessment/judges/grounded/v8.json
  src/unitxt/catalog/templates/response_assessment/judges/idk/v1.json
  src/unitxt/catalog/templates/response_assessment/judges/topicality/v3.json
Due: enforce-library-imports

Removed legacy topicality, idk, and groundness metrics that worked only on BAM (#1875)
  examples/evaluate_ensemble_judge.py
  examples/evaluate_grounded_ensemble_judge.py
  examples/evaluate_idk_judge.py
  prepare/metrics/llm_as_judge/conversation_groundedness.py
  prepare/metrics/llm_as_judge/conversation_idk.py
  prepare/metrics/llm_as_judge/conversation_topicality.py
  prepare/metrics/llm_as_judge/ensemble_grounded_v1.json
  prepare/metrics/llm_as_judge/ensemble_topicality_v1.json
  prepare/templates/response_assessment/judges/grounded/v10.py
  prepare/templates/response_assessment/judges/grounded/v11.py
  prepare/templates/response_assessment/judges/grounded/v8.py
  prepare/templates/response_assessment/judges/idk/v1.py
  prepare/templates/response_assessment/judges/topicality/v3.py
  src/unitxt/catalog/metrics/llm_as_judge/conversation_answer_groundedness/ensemble_v1_ibmgenai_judges.json
  src/unitxt/catalog/metrics/llm_as_judge/conversation_answer_idk/generic_inference_engine_judges.json
  src/unitxt/catalog/metrics/llm_as_judge/conversation_answer_idk/llama3_v1_ibmgenai_judges.json
  src/unitxt/catalog/metrics/llm_as_judge/conversation_answer_topicality/ensemble_v1_ibmgenai_judges.json
  src/unitxt/catalog/templates/response_assessment/judges/grounded/v10.json
  src/unitxt/catalog/templates/response_assessment/judges/grounded/v11.json
  src/unitxt/catalog/templates/response_assessment/judges/grounded/v8.json
  src/unitxt/catalog/templates/response_assessment/judges/idk/v1.json
  src/unitxt/catalog/templates/response_assessment/judges/topicality/v3.json
Due: enforce-library-imports

Revered unnneeded changes
  prepare/metrics/llm_as_judge/rating/llama_3_1_cross_provider_table2text_template.py
  prepare/metrics/llm_as_judge/rating/llama_3_table2text_template.py
Due: enforce-library-imports

Updated catalog
  src/unitxt/catalog/metrics/llm_as_judge/rating/llama_3_1_70b_instruct_cross_provider_template_table2text_single_turn_with_reference.json
  src/unitxt/catalog/metrics/llm_as_judge/rating/llama_3_70b_instruct_template_table2text_single_turn_with_reference.json
Due: none

Updated secret
  utils/.secrets.baseline
Due: none

Bench and models (#1872)
  prepare/cards/judge_bench/wmt-human.py
  src/unitxt/catalog/cards/judge_bench/wmt_human/chinese_to_english/quality.json
  src/unitxt/catalog/cards/judge_bench/wmt_human/english_to_german/quality.json
  src/unitxt/inference.py
Due: enforce-relative-imports, enforce-library-imports

Update speech benchmark
  examples/evaluate_speech_recognition.py
  examples/evaluate_speech_recognition_benchmark.py
  prepare/benchmarks/speech_recognition.py
  prepare/cards/ami.py
  prepare/cards/gigaspeech.py
  prepare/cards/librispeech.py
  prepare/cards/spgispeech.py
  prepare/cards/tedlium.py
  prepare/cards/voxpopuli.py
  prepare/metrics/wer.py
  prepare/processors/processors.py
  prepare/tasks/speech_recognition.py
  prepare/templates/speech_recognition/templates.py
  src/unitxt/audio_operators.py
  src/unitxt/catalog/benchmarks/speech_recognition.json
  src/unitxt/catalog/cards/ami/ihm.json
  src/unitxt/catalog/cards/ami/sdm.json
  src/unitxt/catalog/cards/gigaspeech/xs.json
  src/unitxt/catalog/cards/librispeech/test.json
  src/unitxt/catalog/cards/librispeech/test_clean.json
  src/unitxt/catalog/cards/spgispeech/s.json
  src/unitxt/catalog/cards/tedlium/release1.json
  src/unitxt/catalog/cards/tedlium/release2.json
  src/unitxt/catalog/cards/tedlium/release3.json
  src/unitxt/catalog/cards/voxpopuli/en.json
  src/unitxt/catalog/metrics/wer.json
  src/unitxt/catalog/operators/normalize_text_with_whisper.json
  src/unitxt/catalog/processors/normalize_text_with_whisper.json
  src/unitxt/catalog/tasks/speech_recognition.json
  src/unitxt/catalog/templates/speech_recognition/default.json
  src/unitxt/formats.py
  src/unitxt/inference.py
  src/unitxt/metrics.py
  src/unitxt/processors.py
  src/unitxt/serializers.py
  tests/inference/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

Add examples attribute to Criteria
  src/unitxt/llm_as_judge_constants.py
Due: enforce-relative-imports

Reverted unrelated change
  src/unitxt/operators.py
Due: enforce-relative-imports

Handle a case in ToolCallPostProcessor where prediction is an empty list of tools (#1874)
  src/unitxt/operators.py
  src/unitxt/struct_data_operators.py
Due: enforce-relative-imports

Change benchmark dataset to esb and fix imports
  prepare/benchmarks/speech_recognition.py
  prepare/cards/ami.py
  prepare/cards/esb/ami.py
  prepare/cards/esb/earnings22.py
  prepare/cards/esb/gigaspeech.py
  prepare/cards/esb/librispeech.py
  prepare/cards/esb/spgispeech.py
  prepare/cards/esb/tedlium.py
  prepare/cards/esb/voxpopuli.py
  prepare/cards/librispeech.py
  prepare/cards/tedlium.py
  src/unitxt/catalog/cards/debug/librispeech.json
  src/unitxt/catalog/cards/esb/ami.json
  src/unitxt/catalog/cards/esb/earnings22.json
  src/unitxt/catalog/cards/esb/gigaspeech.json
  src/unitxt/catalog/cards/esb/librispeech.json
  src/unitxt/catalog/cards/esb/spgispeech.json
  src/unitxt/catalog/cards/esb/tedlium.json
  src/unitxt/catalog/cards/esb/voxpopuli.json
Due: enforce-library-imports

Add ace-bench
  prepare/cards/acebench.py
  prepare/operators/normalize_tool_schema.py
  src/unitxt/catalog/cards/acebench/multi_turn/agent_multi_step.json
  src/unitxt/catalog/cards/acebench/multi_turn/agent_multi_turn.json
  src/unitxt/catalog/cards/acebench/multi_turn/normal_multi_turn_user_adjust.json
  src/unitxt/catalog/cards/acebench/multi_turn/normal_multi_turn_user_switch.json
  src/unitxt/catalog/cards/acebench/normal_atom_bool.json
  src/unitxt/catalog/cards/acebench/normal_atom_enum.json
  src/unitxt/catalog/cards/acebench/normal_atom_list.json
  src/unitxt/catalog/cards/acebench/normal_atom_number.json
  src/unitxt/catalog/cards/acebench/normal_atom_object_deep.json
  src/unitxt/catalog/cards/acebench/normal_atom_object_short.json
  src/unitxt/catalog/cards/acebench/normal_preference.json
  src/unitxt/catalog/cards/acebench/normal_similar_api.json
  src/unitxt/catalog/cards/acebench/normal_single_turn_parallel_function.json
  src/unitxt/catalog/cards/acebench/normal_single_turn_single_function.json
  src/unitxt/catalog/operators/normalize_tool_schema.json
Due: enforce-library-imports

Update version to 1.26.4
  src/unitxt/version.py
Due: enforce-relative-imports

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils|unitxt/assistant/.*)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
