Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

pull request error fixes
  prepare/cards/chart_qa.py
  prepare/cards/websrc.py
  prepare/metrics/websrc_squad_f1.py
  src/unitxt/catalog/cards/chart_qa.json
  src/unitxt/catalog/templates/qa/multiple_choice/with_context/lmms_eval.json
Due: enforce-library-imports

pre-commit changes
  prepare/cards/chart_qa.py
  prepare/cards/websrc.py
  prepare/metrics/websrc_squad_f1.py
Due: enforce-library-imports

removed metric test of relaxed_correctness as it expects ci which I don't give
  prepare/metrics/relaxed_correctness.py
Due: enforce-library-imports

Import llm judge operators directly from llm_as_judge
  examples/evaluate_llm_as_judge_direct_criteria_from_dataset.py
  examples/evaluate_llm_as_judge_pairwise_criteria_from_dataset.py
  examples/evaluate_llm_as_judge_pairwise_predefined_criteria.py
  examples/evaluate_llm_as_judge_pairwise_user_criteria_no_catalog.py
Due: enforce-library-imports

fix bug in pairwise ranking calculation
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

added social_qa
  prepare/cards/social_qa.py
Due: enforce-library-imports

format file
  prepare/cards/social_qa.py
Due: enforce-library-imports

removed main
  prepare/cards/social_qa.py
Due: enforce-library-imports

add new classification engines and remove deleted llama-3-70b-instruct in bam Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/engines/classification/classification_engines.py
  src/unitxt/catalog/engines/classification/llama_3_1_70b_instruct_ibm_genai.json
  src/unitxt/catalog/engines/classification/llama_3_3_70b_instruct_rits.json
  src/unitxt/catalog/engines/classification/llama_3_3_70b_instruct_wml.json
Due: enforce-library-imports

allow proprietary data on RITSInferenceEngine Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/inference.py
Due: enforce-relative-imports

propagate score_prefix from metricPipeline to its metric Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/metrics.py
Due: enforce-relative-imports

Adjust autorag metrics to unitxt flow with rag.response_generation task Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/rag_answer_correctness.py
  prepare/metrics/rag_answer_relevance.py
  prepare/metrics/rag_context_relevance.py
  prepare/metrics/rag_faithfulness.py
  src/unitxt/catalog/metrics/rag/answer_correctness.json
  src/unitxt/catalog/metrics/rag/answer_correctness/bert_score_recall.json
  src/unitxt/catalog/metrics/rag/answer_correctness/bert_score_recall_ml.json
  src/unitxt/catalog/metrics/rag/answer_correctness/sentence_bert_bge.json
  src/unitxt/catalog/metrics/rag/answer_correctness/sentence_bert_mini_lm.json
  src/unitxt/catalog/metrics/rag/answer_correctness/token_recall.json
  src/unitxt/catalog/metrics/rag/answer_inference.json
  src/unitxt/catalog/metrics/rag/answer_reward.json
  src/unitxt/catalog/metrics/rag/context_relevance.json
  src/unitxt/catalog/metrics/rag/context_relevance/perplexity_flan_t5_small.json
  src/unitxt/catalog/metrics/rag/context_relevance/sentence_bert_bge.json
  src/unitxt/catalog/metrics/rag/context_relevance/sentence_bert_mini_lm.json
  src/unitxt/catalog/metrics/rag/faithfulness.json
  src/unitxt/catalog/metrics/rag/faithfulness/bert_score_k_precision.json
  src/unitxt/catalog/metrics/rag/faithfulness/bert_score_k_precision_ml.json
  src/unitxt/catalog/metrics/rag/faithfulness/sentence_bert_bge.json
  src/unitxt/catalog/metrics/rag/faithfulness/sentence_bert_mini_lm.json
  src/unitxt/catalog/metrics/rag/faithfulness/token_k_precision.json
Due: enforce-library-imports

Adjust granite_guardian to unitxt flow Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/rag_granite_guardian.py
  src/unitxt/catalog/metrics/rag/granite_guardian_answer_relevance.json
  src/unitxt/catalog/metrics/rag/granite_guardian_context_relevance.json
  src/unitxt/catalog/metrics/rag/granite_guardian_groundedness.json
Due: enforce-library-imports

Add AzureOpenAIInferenceEngine Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/inference.py
Due: enforce-relative-imports

lowercase engine label Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/inference.py
Due: enforce-relative-imports

move to azure openai classification engines Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/engines/classification/classification_engines.py
  src/unitxt/catalog/engines/classification/gpt_4_turbo_2024_04_09_azure_openai.json
  src/unitxt/catalog/engines/classification/gpt_4o_2024_08_06_azure_openai.json
Due: enforce-library-imports

set chat_api format for openai Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/llm_as_judge_from_template.py
Due: enforce-relative-imports

Add SocialIQA dataset
  prepare/cards/social_iqa.py
  src/unitxt/catalog/cards/social_iqa.json
Due: enforce-library-imports

Add SocialIQA dataset (#1468)
  prepare/cards/social_iqa.py
  src/unitxt/catalog/cards/social_iqa.json
Due: enforce-library-imports

Add parallelization to RITS inference (#1441)
  src/unitxt/inference.py
  utils/.secrets.baseline
Due: enforce-relative-imports

update secrets Signed-off-by: lilacheden <lilach.edel@gmail.com>
  utils/.secrets.baseline
Due: none

delete old inference engine Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/catalog/engines/classification/gpt_4_turbo_openai.json
Due: none

Fix the type handeling for tasks to support string types
  src/unitxt/task.py
  src/unitxt/type_utils.py
Due: enforce-relative-imports

Fix the type handeling for tasks to support string types (#1470)
  src/unitxt/task.py
  src/unitxt/type_utils.py
Due: enforce-relative-imports

add numeric and verbal postprocessors Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/processors/processors.py
  src/unitxt/catalog/operators/extract_verbal_judgement.json
  src/unitxt/catalog/operators/extract_verbal_judgement_bad_good.json
  src/unitxt/catalog/operators/scale_0_10_to_0_1.json
  src/unitxt/catalog/processors/extract_verbal_judgement.json
  src/unitxt/catalog/processors/extract_verbal_judgement_bad_good.json
  src/unitxt/catalog/processors/scale_0_10_to_0_1.json
  src/unitxt/processors.py
Due: enforce-relative-imports, enforce-library-imports

Enhance MultipleChoiceTemplate with additional sorting and shuffling options
  src/unitxt/templates.py
  tests/library/test_templates.py
Due: enforce-relative-imports, enforce-library-imports

fix rag judge example Signed-off-by: lilacheden <lilach.edel@gmail.com>
  examples/evaluate_rag_using_binary_llm_as_judge.py
Due: enforce-library-imports

ruff fix
  prepare/metrics/relaxed_correctness.py
Due: enforce-library-imports

add numeric and verbal rag judge templates Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/templates/rag_eval/rag_eval.py
  prepare/templates/rag_eval/rag_eval_numeric.py
  src/unitxt/catalog/templates/rag_eval/answer_correctness/judge_loose_match_no_context_numeric.json
  src/unitxt/catalog/templates/rag_eval/answer_correctness/judge_loose_match_no_context_verbal.json
  src/unitxt/catalog/templates/rag_eval/answer_correctness/judge_loose_match_no_context_verbal_good_bad.json
  src/unitxt/catalog/templates/rag_eval/answer_relevance/judge_answer_relevance_numeric.json
  src/unitxt/catalog/templates/rag_eval/answer_relevance/judge_answer_relevance_verbal_good_bad.json
  src/unitxt/catalog/templates/rag_eval/context_relevance/judge_context_relevance_ares_numeric.json
  src/unitxt/catalog/templates/rag_eval/context_relevance/judge_context_relevance_ares_verbal.json
  src/unitxt/catalog/templates/rag_eval/context_relevance/judge_context_relevance_ares_verbal_good_bad.json
  src/unitxt/catalog/templates/rag_eval/correctness_holistic/judge_correctness_simple_numeric.json
  src/unitxt/catalog/templates/rag_eval/faithfulness/judge_no_question_simplified_numeric.json
  src/unitxt/catalog/templates/rag_eval/faithfulness/judge_no_question_simplified_verbal.json
  src/unitxt/catalog/templates/rag_eval/faithfulness/judge_no_question_simplified_verbal_good_bad.json
  src/unitxt/catalog/templates/rag_eval/faithfulness/judge_with_question_simplified_numeric.json
  src/unitxt/catalog/templates/rag_eval/faithfulness/judge_with_question_simplified_verbal.json
  src/unitxt/catalog/templates/rag_eval/faithfulness/judge_with_question_simplified_verbal_good_bad.json
Due: enforce-library-imports

secrets
  utils/.secrets.baseline
Due: none

Update version to 1.16.1
  src/unitxt/version.py
Due: enforce-relative-imports

Update version to 1.16.1 (#1472)
  src/unitxt/version.py
Due: enforce-relative-imports

updated original_label_choice
  src/unitxt/templates.py
  tests/library/test_templates.py
Due: enforce-relative-imports, enforce-library-imports

fix import Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/templates/rag_eval/rag_eval_numeric.py
Due: enforce-library-imports

rename metrics with correct template Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/catalog/metrics/llm_as_judge/binary/generic_inference_engine_answer_correctness_q_a_gt_loose_verbal_good_bad.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/generic_inference_engine_answer_relevance_q_a_verbal_good_bad.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/generic_inference_engine_context_relevance_q_c_ares_verbal_good_bad.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/generic_inference_engine_faithfulness_c_a_verbal_good_bad.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/generic_inference_engine_faithfulness_q_c_a_verbal_good_bad.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_answer_correctness_q_a_gt_loose_verbal_good_bad.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_answer_relevance_q_a_verbal_good_bad.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_context_relevance_q_c_ares_verbal_good_bad.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_faithfulness_c_a_verbal_good_bad.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_faithfulness_q_c_a_verbal_good_bad.json
  src/unitxt/catalog/metrics/rag/answer_correctness/generic_inference_engine_q_a_gt_loose_verbal_good_bad.json
  src/unitxt/catalog/metrics/rag/answer_correctness/llama_3_1_70b_instruct_wml_q_a_gt_loose_verbal_good_bad.json
  src/unitxt/catalog/metrics/rag/answer_relevance/generic_inference_engine_q_a_verbal_good_bad.json
  src/unitxt/catalog/metrics/rag/answer_relevance/llama_3_1_70b_instruct_wml_q_a_verbal_good_bad.json
  src/unitxt/catalog/metrics/rag/context_relevance/generic_inference_engine_q_c_ares_verbal_good_bad.json
  src/unitxt/catalog/metrics/rag/context_relevance/llama_3_1_70b_instruct_wml_q_c_ares_verbal_good_bad.json
  src/unitxt/catalog/metrics/rag/faithfulness/generic_inference_engine_c_a_verbal_good_bad.json
  src/unitxt/catalog/metrics/rag/faithfulness/generic_inference_engine_q_c_a_verbal_good_bad.json
  src/unitxt/catalog/metrics/rag/faithfulness/llama_3_1_70b_instruct_wml_c_a_verbal_good_bad.json
  src/unitxt/catalog/metrics/rag/faithfulness/llama_3_1_70b_instruct_wml_q_c_a_verbal_good_bad.json
Due: none

Fixing stuff :)
  prepare/cards/chart_qa.py
  prepare/metrics/exact_match_mm.py
  prepare/metrics/relaxed_correctness.py
  prepare/metrics/websrc_squad_f1.py
  src/unitxt/catalog/cards/chart_qa.json
  src/unitxt/catalog/metrics/exact_match_mm.json
  src/unitxt/catalog/metrics/relaxed_correctness.json
  src/unitxt/catalog/metrics/websrc_squad_f1.json
Due: enforce-library-imports

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
