Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]
        exclude: src/unitxt/metrics.py|examples/evaluate_existing_dataset_no_install.py
      # Run the linter on the specific file with the ignore flag
      - id: ruff
        name: ruff (src/unitxt/metrics.py)
        files: src/unitxt/metrics.py
        args: [--fix, --ignore, C901]
      # Run the linter on the specific file with the ignore flag
      - id: ruff
        name: ruff (examples/evaluate_existing_dataset_no_install.py)
        files: examples/evaluate_existing_dataset_no_install.py
        args: [--fix, --ignore, T201]
      # Run the formatter
      - id: ruff-format

  - repo: https://github.com/ibm/detect-secrets
    # If you desire to use a specific version of detect-secrets, you can replace `master` with other git revisions such as branch, tag or commit sha.
    # You are encouraged to use static refs such as tags, instead of branch name
    #
    # Running "pre-commit autoupdate" automatically updates rev to latest tag
    rev: 0.13.1+ibm.61.dss
    hooks:
      - id: detect-secrets # pragma: whitelist secret
        # Add options for detect-secrets-hook binary. You can run `detect-secrets-hook --help` to list out all possible options.
        # You may also run `pre-commit run detect-secrets` to preview the scan result.
        # when "--baseline" without "--use-all-plugins", pre-commit scan with just plugins in baseline file
        # when "--baseline" with "--use-all-plugins", pre-commit scan with all available plugins
        # add "--fail-on-unaudited" to fail pre-commit for unaudited potential secrets
        args: [--baseline, utils/.secrets.baseline, --use-all-plugins, --fail-on-unaudited]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

Update version to 1.15.1
  src/unitxt/version.py
Due: enforce-relative-imports

Update version to 1.15.1 (#1368)
  src/unitxt/version.py
Due: enforce-relative-imports

Fix huggingface uploading
  utils/hf/prepare_dataset.py
Due: enforce-library-imports

Fix huggingface uploading (#1369)
  utils/hf/prepare_dataset.py
Due: enforce-library-imports

Update version to 1.15.2
  src/unitxt/version.py
Due: enforce-relative-imports

Update version to 1.15.2 (#1370)
  src/unitxt/version.py
Due: enforce-relative-imports

Chat api blog post
  docs/blog/blog_19_01_2024.rst
  docs/blog/index.rst
  docs/blog/vision_robustness.rst
Due: none

Fix release workflows
  .github/workflows/hub.yml
  .github/workflows/pipy.yml
  utils/hf/prepare_dataset.py
  utils/hf/prepare_metric.py
Due: enforce-library-imports

Fix release workflows (#1372)
  .github/workflows/hub.yml
  .github/workflows/pipy.yml
  utils/hf/prepare_dataset.py
  utils/hf/prepare_metric.py
Due: enforce-library-imports

Update version to 1.15.3
  src/unitxt/version.py
Due: enforce-relative-imports

Update version to 1.15.3 (#1373)
  src/unitxt/version.py
Due: enforce-relative-imports

Update
  pyproject.toml
Due: none

Update version to 1.15.4
  src/unitxt/version.py
Due: enforce-relative-imports

Update version to 1.15.4 (#1374)
  src/unitxt/version.py
Due: enforce-relative-imports

Another try to push this to pypi without issues
  pyproject.toml
  utils/requirements/all.txt
  utils/requirements/dev.txt
  utils/requirements/docs.txt
  utils/requirements/helm.txt
  utils/requirements/inference-tests.txt
  utils/requirements/service.txt
  utils/requirements/tests.txt
  utils/requirements/ui.txt
  utils/requirements/watsonx.txt
Due: none

Another try to push this to pypi without issues (#1375)
  pyproject.toml
  utils/requirements/all.txt
  utils/requirements/dev.txt
  utils/requirements/docs.txt
  utils/requirements/helm.txt
  utils/requirements/inference-tests.txt
  utils/requirements/service.txt
  utils/requirements/tests.txt
  utils/requirements/ui.txt
  utils/requirements/watsonx.txt
Due: none

Update version to 1.15.5
  src/unitxt/version.py
Due: enforce-relative-imports

Update version to 1.15.5 (#1376)
  src/unitxt/version.py
Due: enforce-relative-imports

Change to pypi detect-secrets
  .pre-commit-config.yaml
  pyproject.toml
  utils/.secrets.baseline
Due: none

Delete unnecassery req files
  utils/requirements/all.txt
  utils/requirements/dev.txt
  utils/requirements/docs.txt
  utils/requirements/helm.txt
  utils/requirements/inference-tests.txt
  utils/requirements/service.txt
  utils/requirements/tests.txt
  utils/requirements/ui.txt
  utils/requirements/watsonx.txt
Due: none

SImplify docs
  .pre-commit-config.yaml
Due: none

Change to pypi detect-secrets (#1377)
  .pre-commit-config.yaml
  pyproject.toml
  utils/.secrets.baseline
  utils/requirements/all.txt
  utils/requirements/dev.txt
  utils/requirements/docs.txt
  utils/requirements/helm.txt
  utils/requirements/inference-tests.txt
  utils/requirements/service.txt
  utils/requirements/tests.txt
  utils/requirements/ui.txt
  utils/requirements/watsonx.txt
Due: none

Update version to 1.15.6
  src/unitxt/version.py
Due: enforce-relative-imports

Update version to 1.15.6 (#1378)
  src/unitxt/version.py
Due: enforce-relative-imports

Support MerticsList - an artifact to store a list of metrics Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/metrics.py
  src/unitxt/operators.py
  src/unitxt/task.py
  tests/library/test_operators.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Reverse final metrics list after its creation (for simplicity) Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/operators.py
Due: enforce-relative-imports

update .secrets.baseline Signed-off-by: lilacheden <lilach.edel@gmail.com>
  utils/.secrets.baseline
Due: none

Support MerticsList - to store a list of metrics (#1379)
  src/unitxt/metrics.py
  src/unitxt/operators.py
  src/unitxt/task.py
  tests/library/test_operators.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Made sure null augmentor works as expected
  src/unitxt/augmentors.py
  tests/library/test_augmentors.py
Due: enforce-relative-imports, enforce-library-imports

Made sure null augmentor works as expected
  src/unitxt/standard.py
Due: enforce-relative-imports

Made sure null augmentor works as expected (#1381)
  src/unitxt/augmentors.py
  src/unitxt/standard.py
  tests/library/test_augmentors.py
Due: enforce-relative-imports, enforce-library-imports

fix reference to Installation from within Examples
  docs/docs/examples.rst
Due: none

and fixed many broken links
  docs/docs/adding_dataset.rst
  docs/docs/adding_metric.rst
  docs/docs/adding_operator.rst
  docs/docs/adding_template.rst
  docs/docs/data_classification_policy.rst
  docs/docs/examples.rst
  docs/docs/glossary.rst
  docs/docs/helm.rst
  docs/docs/rag_support.rst
  docs/docs/tutorials.rst
  src/unitxt/loaders.py
Due: enforce-relative-imports

reference to Unitxt Catalog from glossary/Catalog
  docs/docs/glossary.rst
Due: none

replaced a link
  docs/docs/adding_operator.rst
  docs/docs/operators.rst
Due: none

polished the website spme more
  docs/blog/vision_robustness.rst
  src/unitxt/augmentors.py
  src/unitxt/standard.py
  src/unitxt/text_utils.py
Due: enforce-relative-imports

Add HHEM2.1 Faithfulness detection model Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/hhem.py
  src/unitxt/catalog/metrics/rag/faithfulness/vectara_hhem_2_1.json
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

reduce batch size Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/metrics.py
Due: enforce-relative-imports

trim context Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/metrics.py
Due: enforce-relative-imports
