Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]
        exclude: src/unitxt/metrics.py|examples/evaluate_existing_dataset_no_install.py
      # Run the linter on the specific file with the ignore flag
      - id: ruff
        name: ruff (src/unitxt/metrics.py)
        files: src/unitxt/metrics.py
        args: [--fix, --ignore, C901]
      # Run the linter on the specific file with the ignore flag
      - id: ruff
        name: ruff (examples/evaluate_existing_dataset_no_install.py)
        files: examples/evaluate_existing_dataset_no_install.py
        args: [--fix, --ignore, T201]
      # Run the formatter
      - id: ruff-format

  - repo: https://github.com/ibm/detect-secrets
    # If you desire to use a specific version of detect-secrets, you can replace `master` with other git revisions such as branch, tag or commit sha.
    # You are encouraged to use static refs such as tags, instead of branch name
    #
    # Running "pre-commit autoupdate" automatically updates rev to latest tag
    rev: 0.13.1+ibm.61.dss
    hooks:
      - id: detect-secrets # pragma: whitelist secret
        # Add options for detect-secrets-hook binary. You can run `detect-secrets-hook --help` to list out all possible options.
        # You may also run `pre-commit run detect-secrets` to preview the scan result.
        # when "--baseline" without "--use-all-plugins", pre-commit scan with just plugins in baseline file
        # when "--baseline" with "--use-all-plugins", pre-commit scan with all available plugins
        # add "--fail-on-unaudited" to fail pre-commit for unaudited potential secrets
        args: [--baseline, utils/.secrets.baseline, --use-all-plugins, --fail-on-unaudited]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

add deprecation for old recipes, and update docs
  docs/blog/vision_robustness_blog.rst
  docs/docs/benchmark.rst
  examples/evaluate_benchmark.py
  src/unitxt/api.py
  src/unitxt/standard.py
  src/unitxt/test_utils/card.py
Due: enforce-relative-imports, enforce-library-imports

fixed deprecation message
  src/unitxt/standard.py
Due: enforce-relative-imports

secrets
  utils/.secrets.baseline
Due: none

allow to consume a whole stream
  src/unitxt/standard.py
  tests/library/test_recipe.py
Due: enforce-relative-imports, enforce-library-imports

performance by bluebench
  .github/workflows/performance.yml
  performance/bluebench_profiler.py
  performance/card_profiler.py
Due: enforce-library-imports

install litellm and diskcache
  .github/workflows/performance.yml
  performance/bluebench_profiler.py
Due: enforce-library-imports

WX_API_KEY
  .github/workflows/performance.yml
Due: none

copied from inference.yml
  .github/workflows/performance.yml
  performance/bluebench_profiler.py
  performance/compare_benchmark_performance_results.py
Due: enforce-library-imports

WX_PROJECT_ID
  .github/workflows/performance.yml
Due: none

improve the look of the table
  performance/bluebench_profiler.py
  performance/compare_benchmark_performance_results.py
Due: enforce-library-imports

play with formatting the table
  performance/compare_benchmark_performance_results.py
Due: enforce-library-imports

run on PR first, a run whose results will be overwritten, just to warm the cache, then run on main and finally on PR again
  .github/workflows/performance.yml
Due: none

wrap dataset_query with quotation marks
  performance/compare_benchmark_performance_results.py
Due: enforce-library-imports

move to azure openai classification engines Signed-off-by: lilacheden <lilach.edel@gmail.com>
  .secrets.baseline
  prepare/metrics/rag_eval_judges.py
  src/unitxt/inference.py
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

adjust to old branch Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/inference.py
  src/unitxt/metrics.py
Due: enforce-relative-imports

fix model name Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/rag_eval_judges.py
Due: enforce-library-imports

add update openai azure llmaj Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_c_a_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_q_c_a_judge_gpt_4_turbo.json
Due: none

keep old model name Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/rag_eval_judges.py
Due: enforce-library-imports

Adding last non empty line processor
  prepare/processors/processors.py
  src/unitxt/catalog/operators/take_last_non_empty_line.json
  src/unitxt/catalog/processors/take_last_non_empty_line.json
  src/unitxt/processors.py
Due: enforce-relative-imports, enforce-library-imports

Make types compatible with python 3.8 (#1423)
  src/unitxt/metrics.py
Due: enforce-relative-imports

Adding upper case processor
  prepare/processors/processors.py
  src/unitxt/catalog/operators/upper_case.json
  src/unitxt/catalog/processors/upper_case.json
  src/unitxt/processors.py
Due: enforce-relative-imports, enforce-library-imports

Adding upper case and last non empty line processor (#1458)
  prepare/processors/processors.py
  src/unitxt/catalog/operators/take_last_non_empty_line.json
  src/unitxt/catalog/operators/upper_case.json
  src/unitxt/catalog/processors/take_last_non_empty_line.json
  src/unitxt/catalog/processors/upper_case.json
  src/unitxt/processors.py
Due: enforce-relative-imports, enforce-library-imports

Add MapReduceMetric a new base class to integrate all metrics into
  pyproject.toml
  src/unitxt/api.py
  src/unitxt/metrics.py
  tests/library/test_metrics.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Add error handling for evaluate function and simplify F1Fast metric processing
  src/unitxt/api.py
  src/unitxt/metrics.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Add code for generating to catalog bioasq and miniwiki
  prepare/cards/rag/end_to_end/bioasq.py
  prepare/cards/rag/end_to_end/miniwikipedia.py
Due: enforce-library-imports

changed by hook pre-commit
  src/unitxt/catalog/operators/arena_hard_hf_space_processing_steps.json
Due: none

performance by bluebench (#1457)
  .github/workflows/performance.yml
  performance/bluebench_profiler.py
  performance/card_profiler.py
  performance/compare_benchmark_performance_results.py
Due: enforce-library-imports

Remove unused 'method' parameter from confidence_interval call in ConfidenceIntervalMixin
  src/unitxt/metrics.py
  utils/.secrets.baseline
Due: enforce-relative-imports

add the catalog for bioasq and miniwikipedia
  src/unitxt/catalog/cards/rag/benchmark/bioasq/en.json
  src/unitxt/catalog/cards/rag/benchmark/miniwiki/en.json
  src/unitxt/catalog/cards/rag/documents/bioasq/en.json
  src/unitxt/catalog/cards/rag/documents/miniwiki/en.json
Due: none

Add AccuracyFast metric and associated reduction classes for improved accuracy calculations
  src/unitxt/metrics.py
  tests/library/test_metrics.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Refactor metrics to use fast variants and update configurations for accuracy and F1 metrics
  prepare/metrics/accuracy.py
  prepare/metrics/f1.py
  prepare/metrics/meteor.py
  src/unitxt/catalog/metrics/accuracy.json
  src/unitxt/catalog/metrics/f1_macro.json
  src/unitxt/catalog/metrics/f1_micro.json
  src/unitxt/catalog/metrics/meteor.json
  src/unitxt/catalog/metrics/meteor_hf.json
  src/unitxt/metrics.py
  tests/library/test_metrics.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Add UNITXT_MOCK_INFERENCE_MODE environment variable to performance workflow
  .github/workflows/performance.yml
Due: none

Remove unused WML and WX environment variables from performance workflow
  .github/workflows/performance.yml
Due: none

Add UNITXT_MOCK_INFERENCE_MODE environment variable to performance workflow (#1461)
  .github/workflows/performance.yml
Due: none

Update prepare/cards/rag/end_to_end/bioasq.py
  prepare/cards/rag/end_to_end/bioasq.py
Due: enforce-library-imports
