Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

Try
  src/unitxt/operators.py
Due: enforce-relative-imports

Fix grammar
  prepare/system_prompts/general/be_concise.py
  src/unitxt/catalog/system_prompts/general/be_concise.json
Due: enforce-library-imports

Fix
  examples/evaluate_benchmark.py
  examples/evaluate_different_demo_selections.py
  examples/evaluate_image_text_to_text.py
  prepare/tasks/qa/multiple_choice/tasks.py
  src/unitxt/catalog/tasks/qa/multiple_choice/open.json
  src/unitxt/catalog/tasks/qa/multiple_choice/with_context.json
  src/unitxt/catalog/tasks/qa/multiple_choice/with_context/with_topic.json
  src/unitxt/catalog/tasks/qa/multiple_choice/with_topic.json
  src/unitxt/standard.py
Due: enforce-relative-imports, enforce-library-imports

Update to regex
  src/unitxt/string_operators.py
  src/unitxt/templates.py
  tests/library/test_string_operators.py
Due: enforce-relative-imports, enforce-library-imports

Change api to provider
  examples/evaluate_benchmark_with_custom_provider.py
  prepare/engines/multi_api/llama3.py
  src/unitxt/catalog/engines/model/llama_3_8b_instruct.json
  src/unitxt/inference.py
  src/unitxt/settings_utils.py
Due: enforce-relative-imports, enforce-library-imports

Added support for param renaming.
  src/unitxt/inference.py
Due: enforce-relative-imports

Fix merge issues
  src/unitxt/inference.py
Due: enforce-relative-imports

Updated to CrossProviderModel
  examples/evaluate_batched_multiclass_classification.py
Due: enforce-library-imports

Try different direction
  src/unitxt/metric_utils.py
  src/unitxt/templates.py
Due: enforce-relative-imports

Fix
  src/unitxt/metric_utils.py
Due: enforce-relative-imports

Fix
  src/unitxt/metric_utils.py
  src/unitxt/standard.py
Due: enforce-relative-imports

Fix
  src/unitxt/inference.py
  src/unitxt/llm_as_judge.py
  src/unitxt/metrics.py
  src/unitxt/operators.py
  src/unitxt/task.py
Due: enforce-relative-imports

Update name back to InferenceEngine terminology
  examples/evaluate_batched_multiclass_classification.py
  examples/evaluate_benchmark_with_custom_provider.py
  prepare/engines/multi_api/llama3.py
  src/unitxt/catalog/engines/model/llama_3_8b_instruct.json
  src/unitxt/inference.py
Due: enforce-relative-imports, enforce-library-imports

In case there is not target prefix
  src/unitxt/metric_utils.py
Due: enforce-relative-imports

modify bench script to get only recipies + add augmentors to catalog + fixing judge scigen
  prepare/augmentors/table_augmentors.py
  prepare/benchmarks/submit_runs.py
  prepare/benchmarks/tables.py
  prepare/cards/scigen.py
  prepare/metrics/llm_as_judge/rating/llama_3_ibm_genai_table2text_template.py
  src/unitxt/catalog/augmentors/table/mask_cols_names.json
  src/unitxt/catalog/augmentors/table/shuffle_cols.json
  src/unitxt/catalog/augmentors/table/shuffle_cols_names.json
  src/unitxt/catalog/augmentors/table/shuffle_rows.json
  src/unitxt/catalog/augmentors/table/truncate_rows.json
  src/unitxt/catalog/cards/scigen.json
  src/unitxt/catalog/metrics/llm_as_judge/rating/llama_3_1_70b_instruct_ibm_genai_template_table2text_single_turn_with_reference.json
  src/unitxt/struct_data_operators.py
Due: enforce-relative-imports, enforce-library-imports

Add target_prefix erasing post processor by default (#1361)
  src/unitxt/inference.py
  src/unitxt/llm_as_judge.py
  src/unitxt/metric_utils.py
  src/unitxt/metrics.py
  src/unitxt/operators.py
  src/unitxt/standard.py
  src/unitxt/string_operators.py
  src/unitxt/task.py
  tests/library/test_string_operators.py
Due: enforce-relative-imports, enforce-library-imports

Align all examples with chat api and cross provider engines
  docs/docs/examples.rst
  docs/docs/inference.rst
  examples/evaluate_a_judge_model_capabilities_on_arena_hard.py
  examples/evaluate_a_model_using_arena_hard.py
  examples/evaluate_batched_multiclass_classification.py
  examples/evaluate_benchmark.py
  examples/evaluate_benchmark_with_custom_provider.py
  examples/evaluate_bluebench.py
  examples/evaluate_different_demo_selections.py
  examples/evaluate_different_formats.py
  examples/evaluate_different_templates.py
  examples/evaluate_existing_dataset_by_llm_as_judge.py
  examples/evaluate_existing_dataset_with_install.py
  examples/evaluate_image_text_to_text.py
  examples/evaluate_image_text_to_text_lmms_eval_inference.py
  examples/evaluate_rag_response_generation.py
  examples/evaluate_summarization_dataset_llm_as_judge.py
  examples/evaluate_using_metrics_ensemble.py
  examples/qa_evaluation.py
  examples/run_generic_inference_engine.py
  examples/standalone_evaluation_llm_as_judge.py
  examples/standalone_qa_evaluation.py
  prepare/metrics/llm_as_judge/pairwise_rating/llama_3_arena_hard_template.py
  prepare/metrics/llm_as_judge/rating/llama_3_ibm_genai_generic_template.py
  prepare/recipes/bluebench.py
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_70b_instruct/template_arena_hard.json
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_8b_instruct/template_arena_hard.json
  src/unitxt/catalog/metrics/llm_as_judge/rating/llama_3_70b_instruct/generic_single_turn.json
  src/unitxt/catalog/metrics/llm_as_judge/rating/llama_3_70b_instruct/generic_single_turn_with_reference.json
  src/unitxt/inference.py
  tests/examples/test_examples.py
  tests/inference/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

Add vllm inference engine
  src/unitxt/inference.py
Due: enforce-relative-imports

Fix blue bench to use cross provider engine
  src/unitxt/catalog/recipes/bluebench/chatbot_abilities/arena_hard_generation_english_gpt_4_0314_reference.json
Due: none

Added watsonx-sdk to MultiProviderInferenceEngine
  examples/evaluate_same_datasets_and_models_with_multiple_providers.py
  src/unitxt/inference.py
Due: enforce-relative-imports, enforce-library-imports

Make hf tests deterministic
  src/unitxt/inference.py
  tests/inference/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

Add info and functionality to GenericInferenceEngine
  src/unitxt/inference.py
Due: enforce-relative-imports

Set task-based llmaj format according to inference engine, unless supplied directly Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

add data_classification_policy to example Signed-off-by: lilacheden <lilach.edel@gmail.com>
  examples/evaluate_external_rag_results_with_binary_llm_as_judge.py
Due: enforce-library-imports

make contexts optional for answer_correctness Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/tasks/rag_eval.py
  src/unitxt/catalog/tasks/rag_eval/answer_correctness/binary.json
  src/unitxt/catalog/tasks/rag_eval/answer_correctness/non_binary.json
Due: enforce-library-imports

Adjust examples to new metrics paths Signed-off-by: lilacheden <lilach.edel@gmail.com>
  examples/evaluate_external_rag_results_with_binary_llm_as_judge.py
Due: enforce-library-imports

Use get_artifact in task based llmasjudge Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

git precommit format fix Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/inference.py
Due: enforce-relative-imports

Fix llmaj with chat api
  examples/standalone_evaluation_llm_as_judge.py
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports, enforce-library-imports

Add inference documentation
  docs/docs/examples.rst
  docs/docs/inference.rst
  docs/docs/tutorials.rst
Due: none

Fix examples
  examples/evaluate_different_templates_num_demos.py
  examples/evaluate_existing_dataset_with_install.py
Due: enforce-library-imports

fix GenericEnferenceEngine error on mock_inference_mode Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/inference.py
Due: enforce-relative-imports

Fix examples
  examples/evaluate_a_judge_model_capabilities_on_arena_hard.py
  examples/evaluate_same_datasets_and_models_with_multiple_providers.py
  tests/examples/test_examples.py
Due: enforce-library-imports

Update docs/docs/inference.rst
  docs/docs/inference.rst
Due: none

update
  utils/update_version
Due: none

Update version to 1.15.0
  src/unitxt/version.py
Due: enforce-relative-imports

Update version to 1.15.0 (#1367)
  src/unitxt/version.py
  utils/update_version
Due: enforce-relative-imports

Fix version release
  .github/workflows/pipy.yml
  utils/create_tag_for_new_version
Due: none

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
