Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

Update version to 1.15.7 (#1388)
  src/unitxt/version.py
Due: enforce-relative-imports

modify submit
  prepare/benchmarks/submit_runs.py
Due: enforce-library-imports

Updated Judge metric to use IBM watsonx inference
  prepare/cards/safety/provoq.py
  prepare/metrics/llm_as_judge/safety/harm_rating.py
Due: enforce-library-imports

Add vectara's hhem2.1 faithfulness model as a metric (#1382)
  prepare/metrics/hhem.py
  src/unitxt/catalog/metrics/rag/faithfulness/vectara_hhem_2_1.json
  src/unitxt/metrics.py
  src/unitxt/operators.py
Due: enforce-relative-imports, enforce-library-imports

Now with catalog artifacts.
  prepare/metrics/llm_as_judge/safety/harm_rating.py
  src/unitxt/catalog/cards/safety/provoq.json
  src/unitxt/catalog/metrics/llm_as_judge/safety/llama_3_70b_instruct_ibm_watsonx_template_harm_rating.json
Due: enforce-library-imports

Fixed artifact overide to allow ":" in override values
  src/unitxt/parsing_utils.py
Due: enforce-relative-imports

Moved get_api_param to where it was used
  src/unitxt/inference.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Added RITS to CrossProviderInferenceEngine
  src/unitxt/inference.py
Due: enforce-relative-imports

Added error message when providing wrong format param
  src/unitxt/standard.py
Due: enforce-relative-imports

Added vision models to RITS
  src/unitxt/inference.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Update inference_tests.yml with RITS_API_KEY_SUPPORT
  .github/workflows/inference_tests.yml
Due: none

Update inference_tests.yml
  .github/workflows/inference_tests.yml
Due: none

fix template
  examples/evaluate_a_model_using_arena_hard.py
  prepare/cards/arena_hard/generation/english_gpt-4-0314_reference.py
  src/unitxt/catalog/cards/arena_hard/generation/english_gpt_4_0314_reference.json
Due: enforce-library-imports

Update evaluate_a_model_using_arena_hard.py
  examples/evaluate_a_model_using_arena_hard.py
Due: enforce-library-imports

Skip testing RITS if RITS_API_KEY not defined.
  tests/inference/test_inference_engine.py
Due: enforce-library-imports

Removed RITS from xternal tests because an not run in actions
  .github/workflows/inference_tests.yml
Due: none

fix template in Arena Hard card and example (#1390)
  examples/evaluate_a_model_using_arena_hard.py
  prepare/cards/arena_hard/generation/english_gpt-4-0314_reference.py
  src/unitxt/catalog/cards/arena_hard/generation/english_gpt_4_0314_reference.json
Due: enforce-library-imports

change template in arena-hard
  examples/evaluate_a_model_using_arena_hard.py
  src/unitxt/catalog/recipes/bluebench/chatbot_abilities/arena_hard_generation_english_gpt_4_0314_reference.json
Due: enforce-library-imports

fixes
  src/unitxt/inference.py
  utils/.secrets.baseline
Due: enforce-relative-imports

fixes
  src/unitxt/inference.py
Due: enforce-relative-imports

Add support for OpenAI custom base url and default headers + RITS Inference engine (#1385)
  .github/workflows/inference_tests.yml
  src/unitxt/inference.py
  src/unitxt/parsing_utils.py
  src/unitxt/standard.py
  tests/inference/test_inference_engine.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Fixed typo.
  tests/library/test_artifact.py
Due: enforce-library-imports

made explanation rst-friendly
  src/unitxt/augmentors.py
Due: enforce-relative-imports

some suggested changes I missed before
  docs/docs/saving_and_loading_from_catalog.rst
  tests/library/test_artifact.py
Due: enforce-library-imports

added a dedicated load() for ArtifactLink, per yoav's suggestion
  src/unitxt/artifact.py
Due: enforce-relative-imports

a cleaner separation
  src/unitxt/artifact.py
Due: enforce-relative-imports

link only via catalog-entry id, deprecation msg for individual artifacts, not only classes
  src/unitxt/artifact.py
  tests/library/test_artifact.py
Due: enforce-relative-imports, enforce-library-imports

Made link a position field in ArtificatLink.
  prepare/augmentors/text_augmentors.py
  src/unitxt/artifact.py
  src/unitxt/catalog/augmentors/augment_whitespace_prefix_and_suffix_task_input.json
  src/unitxt/catalog/augmentors/augment_whitespace_task_input.json
  tests/library/test_artifact.py
Due: enforce-relative-imports, enforce-library-imports

prepare for replacement sitting in a different catalog
  src/unitxt/artifact.py
  src/unitxt/catalog.py
Due: enforce-relative-imports

allow link to link to link.. with the overwriting floating all the way to the final target artifact, which is the only one that can digest them.
  src/unitxt/artifact.py
  tests/library/test_artifact.py
Due: enforce-relative-imports, enforce-library-imports

removed __is_deprecated__ and moved the link to a dedicated class ArtifactLink
  src/unitxt/artifact.py
  tests/library/test_artifact.py
Due: enforce-relative-imports, enforce-library-imports

artifact link
  src/unitxt/artifact.py
  tests/library/test_artifact.py
Due: enforce-relative-imports, enforce-library-imports

added documentation to Tutorials
  docs/docs/saving_and_loading_from_catalog.rst
  src/unitxt/augmentors.py
  src/unitxt/operators.py
Due: enforce-relative-imports

riding on recursive_load to allow overwrites with links
  src/unitxt/artifact.py
  src/unitxt/catalog.py
  tests/library/test_artifact.py
Due: enforce-relative-imports, enforce-library-imports

Added example of deprecation of an asset
  prepare/system_prompts/tasks/boolqa.py
  src/unitxt/catalog/system_prompts/boolqa.json
Due: enforce-library-imports

artifact_linked_to is a required field
  src/unitxt/artifact.py
  tests/library/test_artifact.py
Due: enforce-relative-imports, enforce-library-imports

check validity of artifact_linked_to before fetching by it
  src/unitxt/artifact.py
  src/unitxt/augmentors.py
  src/unitxt/operators.py
Due: enforce-relative-imports

rephrased documentation per Yoav's suggestions, and added a test
  docs/docs/saving_and_loading_from_catalog.rst
  tests/library/test_artifact.py
Due: enforce-library-imports

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
