Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [--baseline, utils/.secrets.baseline]
        exclude: utils/.secrets.baseline

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils|unitxt/assistant/.*)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

add system-less template
  src/unitxt/catalog/templates/text2sql/all.json
  src/unitxt/catalog/templates/text2sql/you_are_given_no_system.json
Due: none

add timestamp to results name
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

add system-less template
  src/unitxt/catalog/templates/text2sql/all.json
Due: none

add more metadata saved
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

update getSQL
  prepare/templates/text2sql/templates.py
  src/unitxt/catalog/templates/text2sql/you_are_given_no_system.json
  src/unitxt/processors.py
  tests/library/test_postprocessors.py
Due: enforce-relative-imports, enforce-library-imports

read and write to a registry that just maps qualified-class-name to itself. toward removal of registry
  docs/catalog.py
  src/unitxt/artifact.py
  src/unitxt/catalog.py
Due: enforce-relative-imports, enforce-library-imports

Fix ruff
  examples/evaluate_vision_full_benchmark.py
Due: enforce-library-imports

Update model name and main score in harm rating template for Llama 3.1
  src/unitxt/catalog/metrics/llm_as_judge/safety/llama_3_3_70b_instruct_ibm_watsonx_template_harm_rating.json
Due: none

Update model name and main score in harm rating template for Llama 3.1
  src/unitxt/catalog/metrics/llm_as_judge/safety/llama_3_1_70b_instruct_ibm_watsonx_template_harm_rating.json
Due: none

Remove outdated Llama 3.1 harm rating template JSON file
  src/unitxt/catalog/metrics/llm_as_judge/safety/llama_3_1_70b_instruct_ibm_watsonx_template_harm_rating.json
Due: none

Updates to the provoq card and related artifacts (#1705)
  prepare/cards/safety/provoq.py
  prepare/metrics/llm_as_judge/safety/harm_rating.py
  prepare/processors/processors.py
  prepare/templates/safety/harm_rating.py
  src/unitxt/catalog/cards/safety/provoq.json
  src/unitxt/catalog/metrics/llm_as_judge/safety/llama_3_3_70b_instruct_ibm_watsonx_template_harm_rating.json
  src/unitxt/catalog/operators/extract_harm_rating_judgment.json
  src/unitxt/catalog/processors/extract_harm_rating_judgment.json
  src/unitxt/catalog/templates/safety/harm_rating.json
  src/unitxt/processors.py
Due: enforce-relative-imports, enforce-library-imports

Vision bench update (#1704)
  examples/evaluate_llama_vision_benchmark.py
  examples/evaluate_vision_default_benchmark.py
  examples/evaluate_vision_full_benchmark.py
Due: enforce-library-imports

Add unitxt version to cache record
  src/unitxt/inference.py
Due: enforce-relative-imports

Some touch ups to benchmarks
  examples/evaluate_torr_custom_sizes.py
  src/unitxt/api.py
  src/unitxt/fusion.py
  src/unitxt/loaders.py
  src/unitxt/standard.py
Due: enforce-relative-imports, enforce-library-imports

Add unitxt version to inference cache keys (#1714)
  src/unitxt/inference.py
Due: enforce-relative-imports

Add timeout to github actions
  .github/workflows/catalog_consistency.yml
  .github/workflows/catalog_preparation.yml
  .github/workflows/docs.yml
  .github/workflows/examples_tests.yml
  .github/workflows/inference_tests.yml
  .github/workflows/library_eager_execution_tests.yml
  .github/workflows/library_tests.yml
  .github/workflows/performance.yml
  .github/workflows/quality.yml
  .github/workflows/test_helm.yml
Due: none

Some touch ups to benchmarks (#1715)
  examples/evaluate_torr_custom_sizes.py
  src/unitxt/api.py
  src/unitxt/fusion.py
  src/unitxt/loaders.py
  src/unitxt/standard.py
Due: enforce-relative-imports, enforce-library-imports

Add UrllibHTTPError to retry exceptions in exponential backoff decorator
  src/unitxt/utils.py
Due: enforce-relative-imports

Add timeout to github actions (#1716)
  .github/workflows/catalog_consistency.yml
  .github/workflows/catalog_preparation.yml
  .github/workflows/docs.yml
  .github/workflows/examples_tests.yml
  .github/workflows/inference_tests.yml
  .github/workflows/library_eager_execution_tests.yml
  .github/workflows/library_tests.yml
  .github/workflows/performance.yml
  .github/workflows/quality.yml
  .github/workflows/test_helm.yml
  src/unitxt/utils.py
Due: enforce-relative-imports

Update version to 1.22.0
  src/unitxt/version.py
Due: enforce-relative-imports

Update version to 1.22.0 (#1717)
  src/unitxt/version.py
Due: enforce-relative-imports

remove add prefix from getsql operator, add template, improve processor
  prepare/processors/text2sql.py
  prepare/templates/text2sql/templates.py
  src/unitxt/catalog/processors/text2sql/get_sql.json
  src/unitxt/catalog/templates/text2sql/all.json
  src/unitxt/catalog/templates/text2sql/you_are_given_with_hint_with_out_sql_prefix.json
Due: enforce-library-imports

remove metadata_fields in clapnq
  prepare/cards/rag/end_to_end/clapnq.py
Due: enforce-library-imports

add corresponding json
  src/unitxt/catalog/cards/rag/documents/clap_nq/en.json
Due: none

add new watsonxqa dataset
  prepare/cards/rag/end_to_end/watsonx.py
  src/unitxt/catalog/cards/rag/benchmark/watsonxqa/en.json
  src/unitxt/catalog/cards/rag/documents/watsonxqa/en.json
Due: enforce-library-imports

enable multiple task input
  src/unitxt/evaluate_cli.py
  tests/library/test_cli.py
Due: enforce-relative-imports, enforce-library-imports

add the reference contexts
  prepare/cards/rag/end_to_end/watsonx.py
  src/unitxt/catalog/cards/rag/benchmark/watsonxqa/en.json
Due: enforce-library-imports

type
  prepare/templates/text2sql/templates.py
Due: enforce-library-imports

temporarily revert using loader_limit
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

remove MD artifacts from query
  src/unitxt/processors.py
Due: enforce-relative-imports

add system-less templat with hint
  prepare/templates/text2sql/templates.py
  src/unitxt/catalog/templates/text2sql/all.json
  src/unitxt/catalog/templates/text2sql/you_are_given_no_system_with_hint.json
Due: enforce-library-imports

return to max__instances
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

bug fix -- was not getting processed results
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

add auto device map
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

remove device setting, it is automatic
  src/unitxt/evaluate_cli.py
  src/unitxt/inference.py
Due: enforce-relative-imports

remove device setting, it is automatic
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

input device map instead of device
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports
