Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]
        exclude: src/unitxt/metrics.py
      # Run the linter on the specific file with the ignore flag
      - id: ruff
        name: ruff (src/unitxt/metrics.py)
        files: src/unitxt/metrics.py
        args: [--fix, --ignore, C901]
      # Run the formatter
      - id: ruff-format

  - repo: https://github.com/ibm/detect-secrets
    # If you desire to use a specific version of detect-secrets, you can replace `master` with other git revisions such as branch, tag or commit sha.
    # You are encouraged to use static refs such as tags, instead of branch name
    #
    # Running "pre-commit autoupdate" automatically updates rev to latest tag
    rev: 0.13.1+ibm.61.dss
    hooks:
      - id: detect-secrets # pragma: whitelist secret
        # Add options for detect-secrets-hook binary. You can run `detect-secrets-hook --help` to list out all possible options.
        # You may also run `pre-commit run detect-secrets` to preview the scan result.
        # when "--baseline" without "--use-all-plugins", pre-commit scan with just plugins in baseline file
        # when "--baseline" with "--use-all-plugins", pre-commit scan with all available plugins
        # add "--fail-on-unaudited" to fail pre-commit for unaudited potential secrets
        args: [--baseline, .secrets.baseline, --use-all-plugins, --fail-on-unaudited]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

processors and save more params
  ilab/evaluate_from_file.py
  ilab/ilab_evaluate.py
  prepare/processors/processors.py
  prepare/templates/response_assessment/rating/generic_single_turn.py
  prepare/templates/response_assessment/rating/generic_single_turn_with_reference.py
  prepare/templates/response_assessment/rating/mt_bench_single_turn.py
  prepare/templates/response_assessment/rating/mt_bench_single_turn_with_reference.py
  prepare/templates/response_assessment/rating/prometheus_single_turn_templates.py
  src/unitxt/catalog/processors/extract_prometheus_rating_judgment_3.json
  src/unitxt/catalog/processors/extract_prometheus_rating_judgment_5.json
  src/unitxt/catalog/templates/response_assessment/rating/generic_single_turn_strict.json
  src/unitxt/catalog/templates/response_assessment/rating/generic_single_turn_strict_with_reference.json
  src/unitxt/catalog/templates/response_assessment/rating/mt_bench_single_turn_strict.json
  src/unitxt/catalog/templates/response_assessment/rating/mt_bench_single_turn_strict_with_reference.json
  src/unitxt/catalog/templates/response_assessment/rating/prometheus_single_turn_inst_classify_3.json
  src/unitxt/catalog/templates/response_assessment/rating/prometheus_single_turn_inst_classify_3_with_reference.json
  src/unitxt/catalog/templates/response_assessment/rating/prometheus_single_turn_inst_comply_3.json
  src/unitxt/catalog/templates/response_assessment/rating/prometheus_single_turn_inst_comply_3_with_reference.json
  src/unitxt/catalog/templates/response_assessment/rating/prometheus_single_turn_inst_comply_5.json
  src/unitxt/catalog/templates/response_assessment/rating/prometheus_single_turn_inst_comply_5_with_reference.json
  src/unitxt/catalog/templates/response_assessment/rating/prometheus_single_turn_inst_format_3.json
  src/unitxt/catalog/templates/response_assessment/rating/prometheus_single_turn_inst_format_3_with_reference.json
  src/unitxt/catalog/templates/response_assessment/rating/prometheus_single_turn_inst_strict_3.json
  src/unitxt/catalog/templates/response_assessment/rating/prometheus_single_turn_inst_strict_3_with_reference.json
  src/unitxt/processors.py
Due: enforce-relative-imports, enforce-library-imports

allow multiple references
  src/unitxt/metrics.py
Due: enforce-relative-imports

allow multiple refs
  src/unitxt/metrics.py
Due: enforce-relative-imports

Fix compute expression to use the instance variables as globals
  src/unitxt/operators.py
Due: enforce-relative-imports

Changing v11 instruction
  prepare/templates/response_assessment/judges/grounded/v11.py
Due: enforce-library-imports

Add templates list option to standard recipe
  src/unitxt/standard.py
  tests/library/test_recipe.py
Due: enforce-relative-imports, enforce-library-imports

Simplify
  src/unitxt/standard.py
Due: enforce-relative-imports

Add templates list option to standard recipe (#1219)
  src/unitxt/standard.py
  tests/library/test_recipe.py
Due: enforce-relative-imports, enforce-library-imports

Add SciGen with Together AI LLM as judge
  prepare/cards/scigen.py
  src/unitxt/catalog/cards/scigen.json
Due: enforce-library-imports

run additional datasets
  ilab/evaluate_from_file.py
  ilab/ilab_evaluate.py
  ilab/run_base_bam_model.py
  prepare/cards/billsum.py
  src/unitxt/catalog/cards/billsum_document_filtered_to_10000_chars.json
  src/unitxt/catalog/cards/billsum_document_filtered_to_6000_chars.json
Due: enforce-library-imports

add llava systemp prompt
  prepare/system_prompts/models/llava_next_llama3_8b.py
  src/unitxt/catalog/system_prompts/models/llava_next_llama3_8b.json
Due: enforce-library-imports

add bam models add Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/rag_eval_judges.py
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_judge_llama_3_1_405b_instruct_fp8_bam.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_judge_llama_3_70b_instruct_bam.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_judge_mixtral_8x7b_instruct_v01_bam.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_c_a_gt_judge_llama_3_1_405b_instruct_fp8_bam.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_c_a_gt_judge_llama_3_70b_instruct_bam.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_c_a_gt_judge_mixtral_8x7b_instruct_v01_bam.json
  src/unitxt/catalog/metrics/rag/answer_relevance/answer_relevance_q_a_judge_llama_3_1_405b_instruct_fp8_bam.json
  src/unitxt/catalog/metrics/rag/answer_relevance/answer_relevance_q_a_judge_llama_3_70b_instruct_bam.json
  src/unitxt/catalog/metrics/rag/answer_relevance/answer_relevance_q_a_judge_mixtral_8x7b_instruct_v01_bam.json
  src/unitxt/catalog/metrics/rag/context_relevance/context_relevance_q_c_judge_llama_3_1_405b_instruct_fp8_bam.json
  src/unitxt/catalog/metrics/rag/context_relevance/context_relevance_q_c_judge_llama_3_70b_instruct_bam.json
  src/unitxt/catalog/metrics/rag/context_relevance/context_relevance_q_c_judge_mixtral_8x7b_instruct_v01_bam.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/correctness_holistic_q_c_a_judge_llama_3_1_405b_instruct_fp8_bam.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/correctness_holistic_q_c_a_judge_llama_3_70b_instruct_bam.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/correctness_holistic_q_c_a_judge_mixtral_8x7b_instruct_v01_bam.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_c_a_judge_llama_3_1_405b_instruct_fp8_bam.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_c_a_judge_llama_3_70b_instruct_bam.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_c_a_judge_mixtral_8x7b_instruct_v01_bam.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_q_c_a_judge_llama_3_1_405b_instruct_fp8_bam.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_q_c_a_judge_llama_3_70b_instruct_bam.json
  src/unitxt/catalog/metrics/rag/faithfulness/faithfulness_q_c_a_judge_mixtral_8x7b_instruct_v01_bam.json
Due: enforce-library-imports

adding random template list for bleubench classification
  prepare/templates/classification/classification.py
Due: enforce-library-imports

adding random template list for bleubench classification - push to catalog
  src/unitxt/catalog/templates/classification/multi_class/instruction_instruct_question_selects_instruct_question_select_i_think.json
Due: none

adding random template list for bleubench multiple chice completion
  prepare/templates/completion/multiple_choice/templates.py
Due: enforce-library-imports

adding random template list for bleubench multiple chice qa
  prepare/templates/qa/multiple_choice/templates.py
Due: enforce-library-imports

adding random template list for bleubench rag
  prepare/templates/rag/response_generation.py
Due: enforce-library-imports

adding random template list for bleubench summarization
  prepare/templates/summarization/abstractive.py
Due: enforce-library-imports

adding random template list for bleubench translation
  prepare/templates/translation/directed.py
Due: enforce-library-imports

push to catalog
  src/unitxt/catalog/templates/completion/multiple_choice/simple_enumerated_standard.json
  src/unitxt/catalog/templates/qa/multiple_choice/open/helm_lm_eval_harness_mmlu.json
  src/unitxt/catalog/templates/qa/multiple_choice/with_topic/mmlu_helm_lm_eval_harness.json
  src/unitxt/catalog/templates/rag/response_generation/please_respond_please_respond_chat_answer_based_on_context.json
  src/unitxt/catalog/templates/summarization/abstractive/instruct_full_one_sentence_passive_write_succinct_tldr.json
  src/unitxt/catalog/templates/translation/directed/simple_formal_casual.json
Due: none

Use read token for huggingface datasets reading
  .github/workflows/catalog_preparation.yml
Due: none

Improve performance for huggingface tokenizer based format
  src/unitxt/formats.py
Due: enforce-relative-imports

Use read token for huggingface datasets reading (#1223)
  .github/workflows/catalog_preparation.yml
Due: none

add strict answer correctness add Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/metrics/rag_eval_judges.py
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_strict_judge_gpt_4_turbo.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_strict_judge_llama_3_1_405b_instruct_fp8_bam.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_strict_judge_llama_3_1_70b_instruct.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_strict_judge_llama_3_70b_instruct_bam.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_strict_judge_mixtral_8x7b_instruct_v01.json
  src/unitxt/catalog/metrics/rag/answer_correctness/answer_correctness_q_a_gt_strict_judge_mixtral_8x7b_instruct_v01_bam.json
Due: enforce-library-imports

add Llava-next system prompt (#1221)
  prepare/system_prompts/models/llava_next_llama3_8b.py
  src/unitxt/catalog/system_prompts/models/llava_next_llama3_8b.json
Due: enforce-library-imports

Add generic inference engine to allow dynamic selection by the user
  examples/run_generic_inference_engine.py
  prepare/engines/ibm_genai/__init__.py
  prepare/engines/ibm_genai/llama3.py
  prepare/engines/ollama/__init__.py
  prepare/engines/ollama/llama2.py
  src/unitxt/catalog/engine/generic.json
  src/unitxt/catalog/engines/ibm_gen_ai/llama_3_70b_instruct.json
  src/unitxt/catalog/engines/ibm_gen_ai/llama_3_8b_instruct.json
  src/unitxt/catalog/engines/ollama/llama2.json
  src/unitxt/inference.py
Due: enforce-relative-imports, enforce-library-imports

Remove depricated artifacts
  src/unitxt/catalog/engine/generic.json
Due: none

Improve performance for huggingface tokenizer based format (#1224)
  src/unitxt/formats.py
Due: enforce-relative-imports

Fix compute expression to use the instance variables as globals (#1217)
  src/unitxt/operators.py
Due: enforce-relative-imports

Add generic inference engine to allow dynamic selection by the user (#1226)
  examples/run_generic_inference_engine.py
  prepare/engines/ibm_genai/__init__.py
  prepare/engines/ibm_genai/llama3.py
  prepare/engines/ollama/__init__.py
  prepare/engines/ollama/llama2.py
  src/unitxt/catalog/engines/ibm_gen_ai/llama_3_70b_instruct.json
  src/unitxt/catalog/engines/ibm_gen_ai/llama_3_8b_instruct.json
  src/unitxt/catalog/engines/ollama/llama2.json
  src/unitxt/inference.py
Due: enforce-relative-imports, enforce-library-imports

rename random template to bluebench
  prepare/templates/qa/multiple_choice/templates.py
Due: enforce-library-imports

rename random template to bluebench
  prepare/templates/rag/response_generation.py
Due: enforce-library-imports

push to catalog
  src/unitxt/catalog/templates/classification/multi_class/blue_bench.json
  src/unitxt/catalog/templates/completion/multiple_choice/blue_bench.json
  src/unitxt/catalog/templates/qa/multiple_choice/open/blue_bench.json
  src/unitxt/catalog/templates/qa/multiple_choice/with_context/blue_bench.json
  src/unitxt/catalog/templates/qa/multiple_choice/with_topic/blue_bench.json
  src/unitxt/catalog/templates/rag/response_generation/blue_bench.json
  src/unitxt/catalog/templates/summarization/abstractive/blue_bench.json
  src/unitxt/catalog/templates/translation/directed/blue_bench.json
Due: none

rename random template to bluebench
  prepare/templates/completion/multiple_choice/templates.py
Due: enforce-library-imports

rename random template to bluebench
  prepare/templates/classification/classification.py
Due: enforce-library-imports

rename random template to bluebench
  prepare/templates/summarization/abstractive.py
Due: enforce-library-imports

rename random template to bluebench
  prepare/templates/translation/directed.py
Due: enforce-library-imports

remove old versions from catalog
  src/unitxt/catalog/templates/classification/multi_class/instruction_instruct_question_selects_instruct_question_select_i_think.json
  src/unitxt/catalog/templates/completion/multiple_choice/simple_enumerated_standard.json
  src/unitxt/catalog/templates/qa/multiple_choice/open/helm_lm_eval_harness_mmlu.json
  src/unitxt/catalog/templates/qa/multiple_choice/with_topic/mmlu_helm_lm_eval_harness.json
  src/unitxt/catalog/templates/rag/response_generation/please_respond_please_respond_chat_answer_based_on_context.json
  src/unitxt/catalog/templates/summarization/abstractive/instruct_full_one_sentence_passive_write_succinct_tldr.json
  src/unitxt/catalog/templates/translation/directed/simple_formal_casual.json
Due: none

Move template from task to be standalone to simplify code
  examples/standalone_qa_evaluation.py
Due: enforce-library-imports
