Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

allow main_score = None in MetricPipeline Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/metrics.py
  utils/.secrets.baseline
Due: enforce-relative-imports

remove some tests
  tests/examples/test_examples.py
  tests/library/test_db_utils.py
Due: enforce-library-imports

return anls to metric
  prepare/tasks/text2sql.py
  src/unitxt/catalog/tasks/text2sql.json
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

add a filter to wikitq (#1547)
  prepare/cards/wikitq.py
  src/unitxt/catalog/cards/wikitq.json
  src/unitxt/struct_data_operators.py
Due: enforce-relative-imports, enforce-library-imports

Add text2sql tasks to unitxt (#1414)
  .gitignore
  examples/evaluate_text2sql.py
  prepare/cards/text2sql.py
  prepare/metrics/text2sql_execution_accuracy.py
  prepare/processors/text2sql.py
  prepare/serializers/text2sql_serializers.py
  prepare/tasks/text2sql.py
  prepare/templates/text2sql/templates.py
  pyproject.toml
  src/unitxt/catalog/cards/text2sql/bird.json
  src/unitxt/catalog/metrics/text2sql/execution_accuracy.json
  src/unitxt/catalog/processors/text2sql/get_sql.json
  src/unitxt/catalog/serializers/text2sql/schema.json
  src/unitxt/catalog/tasks/text2sql.json
  src/unitxt/catalog/templates/text2sql/all.json
  src/unitxt/catalog/templates/text2sql/empty.json
  src/unitxt/catalog/templates/text2sql/you_are_given.json
  src/unitxt/catalog/templates/text2sql/you_are_given_with_hint.json
  src/unitxt/catalog/templates/text2sql/you_are_given_with_hint_answer_sql_prefix_no_inst.json
  src/unitxt/catalog/templates/text2sql/you_are_given_with_hint_with_sql_prefix.json
  src/unitxt/catalog/templates/text2sql/you_are_given_with_sql_prefix.json
  src/unitxt/dataset.py
  src/unitxt/db_utils.py
  src/unitxt/loaders.py
  src/unitxt/metric.py
  src/unitxt/metrics.py
  src/unitxt/processors.py
  src/unitxt/serializers.py
  src/unitxt/templates.py
  src/unitxt/types.py
  tests/examples/test_examples.py
  tests/library/test_collections_operators.py
  tests/library/test_db_utils.py
  tests/library/test_metrics.py
  tests/library/test_serializers.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Add mtrag benchmark
  prepare/cards/mtrag.py
  prepare/tasks/rag/rag_end_to_end.py
  prepare/templates/rag/end_to_end.py
  src/unitxt/catalog/cards/rag/mtrag/documents/clapnq.json
  src/unitxt/catalog/cards/rag/mtrag/documents/fiqa.json
  src/unitxt/catalog/cards/rag/mtrag/documents/govt.json
  src/unitxt/catalog/tasks/rag/end_to_end/multi_turn.json
  src/unitxt/catalog/templates/rag/end_to_end/json_predictions.json
  src/unitxt/loaders.py
  src/unitxt/serializers.py
  src/unitxt/templates.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Add deduplicate operator
  src/unitxt/operators.py
  tests/library/test_operators.py
Due: enforce-relative-imports, enforce-library-imports

Update Deduplicate example in documentation for clarity
  src/unitxt/operators.py
Due: enforce-relative-imports

Deduplicate social iqa
  prepare/cards/social_iqa.py
  src/unitxt/catalog/cards/social_iqa.json
Due: enforce-library-imports

Add multi_type_serializer for references and prediction fields in various JSON metrics
  prepare/cards/mtrag.py
  prepare/metrics/rag.py
  prepare/metrics/rag_answer_relevance.py
  prepare/metrics/rag_context_relevance.py
  prepare/metrics/rag_metrics_deprecated.py
  prepare/tasks/rag/rag_end_to_end.py
  src/unitxt/catalog/cards/rag/mtrag.json
  src/unitxt/catalog/cards/rag/mtrag/documents/clapnq.json
  src/unitxt/catalog/cards/rag/mtrag/documents/cloud.json
  src/unitxt/catalog/cards/rag/mtrag/documents/fiqa.json
  src/unitxt/catalog/metrics/rag/answer_relevance/token_recall.json
  src/unitxt/catalog/metrics/rag/answer_reward.json
  src/unitxt/catalog/metrics/rag/end_to_end/answer_relevance/answer_reward.json
  src/unitxt/catalog/metrics/rag/end_to_end/answer_relevance/token_recall.json
  src/unitxt/catalog/metrics/rag/end_to_end/answer_reward.json
  src/unitxt/catalog/metrics/rag/end_to_end/context_relevance.json
  src/unitxt/catalog/metrics/rag/end_to_end/context_relevance/perplexity_flan_t5_small.json
  src/unitxt/catalog/metrics/rag/end_to_end/context_relevance/sentence_bert_bge.json
  src/unitxt/catalog/metrics/rag/end_to_end/context_relevance/sentence_bert_mini_lm.json
  src/unitxt/catalog/metrics/rag/end_to_end/context_relevance/token_precision.json
  src/unitxt/catalog/metrics/rag/external_rag/context_relevance.json
  src/unitxt/catalog/metrics/rag/external_rag/context_relevance/perplexity_flan_t5_small.json
  src/unitxt/catalog/metrics/rag/external_rag/context_relevance/sentence_bert_bge.json
  src/unitxt/catalog/metrics/rag/external_rag/context_relevance/sentence_bert_mini_lm.json
  src/unitxt/catalog/metrics/rag/external_rag/context_relevance/token_precision.json
  src/unitxt/catalog/metrics/rag/response_generation/answer_relevance/answer_reward.json
  src/unitxt/catalog/metrics/rag/response_generation/answer_relevance/token_recall.json
  src/unitxt/catalog/tasks/rag/end_to_end.json
Due: enforce-library-imports

Remove unused TempOperator class and delete obsolete multi_turn.json task file
  prepare/cards/mtrag.py
  src/unitxt/catalog/cards/rag/mtrag/documents/clapnq.json
  src/unitxt/catalog/cards/rag/mtrag/documents/cloud.json
  src/unitxt/catalog/cards/rag/mtrag/documents/fiqa.json
  src/unitxt/catalog/cards/rag/mtrag/documents/govt.json
  src/unitxt/catalog/tasks/rag/end_to_end/multi_turn.json
Due: enforce-library-imports

Fix the authentication problem
  src/unitxt/assistant/app.py
Due: enforce-relative-imports

Fix the authentication problem (#1550)
  src/unitxt/assistant/app.py
Due: enforce-relative-imports

Attach assitant answers to their origins with url link (#1528)
  src/unitxt/assistant/app.py
Due: enforce-relative-imports

Add mtrag benchmark (#1548)
  prepare/cards/mtrag.py
  prepare/metrics/rag.py
  prepare/metrics/rag_answer_relevance.py
  prepare/metrics/rag_context_relevance.py
  prepare/metrics/rag_metrics_deprecated.py
  prepare/tasks/rag/rag_end_to_end.py
  prepare/templates/rag/end_to_end.py
  src/unitxt/catalog/cards/rag/mtrag.json
  src/unitxt/catalog/cards/rag/mtrag/documents/clapnq.json
  src/unitxt/catalog/cards/rag/mtrag/documents/cloud.json
  src/unitxt/catalog/cards/rag/mtrag/documents/fiqa.json
  src/unitxt/catalog/cards/rag/mtrag/documents/govt.json
  src/unitxt/catalog/metrics/rag/answer_relevance/token_recall.json
  src/unitxt/catalog/metrics/rag/answer_reward.json
  src/unitxt/catalog/metrics/rag/end_to_end/answer_relevance/answer_reward.json
  src/unitxt/catalog/metrics/rag/end_to_end/answer_relevance/token_recall.json
  src/unitxt/catalog/metrics/rag/end_to_end/answer_reward.json
  src/unitxt/catalog/metrics/rag/end_to_end/context_relevance.json
  src/unitxt/catalog/metrics/rag/end_to_end/context_relevance/perplexity_flan_t5_small.json
  src/unitxt/catalog/metrics/rag/end_to_end/context_relevance/sentence_bert_bge.json
  src/unitxt/catalog/metrics/rag/end_to_end/context_relevance/sentence_bert_mini_lm.json
  src/unitxt/catalog/metrics/rag/end_to_end/context_relevance/token_precision.json
  src/unitxt/catalog/metrics/rag/external_rag/context_relevance.json
  src/unitxt/catalog/metrics/rag/external_rag/context_relevance/perplexity_flan_t5_small.json
  src/unitxt/catalog/metrics/rag/external_rag/context_relevance/sentence_bert_bge.json
  src/unitxt/catalog/metrics/rag/external_rag/context_relevance/sentence_bert_mini_lm.json
  src/unitxt/catalog/metrics/rag/external_rag/context_relevance/token_precision.json
  src/unitxt/catalog/metrics/rag/response_generation/answer_relevance/answer_reward.json
  src/unitxt/catalog/metrics/rag/response_generation/answer_relevance/token_recall.json
  src/unitxt/catalog/tasks/rag/end_to_end.json
  src/unitxt/catalog/templates/rag/end_to_end/json_predictions.json
  src/unitxt/loaders.py
  src/unitxt/serializers.py
  src/unitxt/templates.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Update end of year summary blog
  docs/blog/2024_summary_blog.rst
Due: none

Update end of year summary blog (#1552)
  docs/blog/2024_summary_blog.rst
Due: none

Update strategic focus section in 2024 summary blog to emphasize usability
  docs/blog/2024_summary_blog.rst
Due: none

Reintroduced imports that were removed from llm_as_judge.py
  docs/docs/llm_as_judge.rst
  examples/evaluate_existing_dataset_by_llm_as_judge_direct.py
  examples/evaluate_llm_as_judge_pairwise_criteria_from_dataset.py
  examples/evaluate_llm_as_judge_pairwise_predefined_criteria.py
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports, enforce-library-imports

Updated the examples documentation for LLM-as-a-judge
  docs/docs/examples.rst
  docs/docs/llm_as_judge.rst
Due: none

Added missing import
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

Fix llm as judge example
  examples/evaluate_existing_dataset_by_llm_as_judge_direct.py
Due: enforce-library-imports

apply 'pre-commit run --all-files'
  examples/evaluate_existing_dataset_by_llm_as_judge_direct.py
  prepare/benchmarks/bluebench.py
  prepare/formats/empty.py
  src/unitxt/api.py
  src/unitxt/artifact.py
  src/unitxt/augmentors.py
  src/unitxt/catalog.py
  src/unitxt/dataclass.py
  src/unitxt/dataset_utils.py
  src/unitxt/formats.py
  src/unitxt/fusion.py
  src/unitxt/inference.py
  src/unitxt/llm_as_judge.py
  src/unitxt/llm_as_judge_from_template.py
  src/unitxt/loaders.py
  src/unitxt/metrics.py
  src/unitxt/normalizers.py
  src/unitxt/operator.py
  src/unitxt/operators.py
  src/unitxt/register.py
  src/unitxt/schema.py
  src/unitxt/split_utils.py
  src/unitxt/splitters.py
  src/unitxt/standard.py
  src/unitxt/task.py
  src/unitxt/templates.py
  src/unitxt/test_utils/card.py
  src/unitxt/test_utils/metrics.py
  src/unitxt/test_utils/operators.py
  src/unitxt/text_utils.py
  src/unitxt/type_utils.py
  src/unitxt/validate.py
  tests/library/test_augmentors.py
  tests/library/test_metric_service.py
  tests/library/test_metrics.py
  tests/library/test_recipe.py
Due: enforce-relative-imports, enforce-library-imports

Created a new type of intersect operator
  src/unitxt/operators.py
  tests/library/test_operators.py
Due: enforce-relative-imports, enforce-library-imports

Updated documentation
  src/unitxt/operators.py
Due: enforce-relative-imports

Add data classification policy to CrossProviderInferenceEngine initialization based on selected model (#1539)
  src/unitxt/inference.py
Due: enforce-relative-imports

Fix broken rag metrics
  prepare/metrics/rag_answer_relevance.py
  src/unitxt/catalog/metrics/rag/end_to_end/answer_relevance/answer_reward.json
  src/unitxt/catalog/metrics/rag/end_to_end/answer_relevance/token_recall.json
  src/unitxt/catalog/metrics/rag/external_rag/answer_relevance/answer_reward.json
  src/unitxt/catalog/metrics/rag/external_rag/answer_relevance/token_recall.json
  src/unitxt/catalog/metrics/rag/external_rag/answer_reward.json
  src/unitxt/catalog/metrics/rag/response_generation/answer_relevance/answer_reward.json
  src/unitxt/catalog/metrics/rag/response_generation/answer_relevance/token_recall.json
Due: enforce-library-imports

Update docs/docs/settings.rst
  docs/docs/settings.rst
Due: none

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
