Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [--baseline, utils/.secrets.baseline]
        exclude: utils/.secrets.baseline

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils|unitxt/assistant/.*)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

Update coverage exclusions to omit additional exception handling lines
  pyproject.toml
Due: none

Update coverage exclusions (#1843)
  pyproject.toml
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

Format
  src/unitxt/dataclass.py
Due: enforce-relative-imports

Use full artifact representation as the cache key for the dataset (#1644)
  src/unitxt/api.py
  src/unitxt/dataclass.py
Due: enforce-relative-imports

Update version to 1.25.0
  src/unitxt/version.py
Due: enforce-relative-imports

Update version to 1.25.0 (#1844)
  src/unitxt/version.py
Due: enforce-relative-imports

Add wrapped to_markdown() method to InstanceScores to pretty print the results
  src/unitxt/metric_utils.py
Due: enforce-relative-imports

Updated examples
  examples/evaluate_same_datasets_and_models_with_multiple_providers.py
  examples/ner_evaluation.py
Due: enforce-library-imports

Updated example to run with existing models
  examples/evaluate_batched_multiclass_classification.py
Due: enforce-library-imports

Fixed max token renaming in WatsonSDK Chat enginer
  src/unitxt/inference.py
Due: enforce-relative-imports

Improved summary printout of InstanceScores
  src/unitxt/metric_utils.py
Due: enforce-relative-imports

USed new summary feature
  examples/evaluate_same_datasets_and_models_with_multiple_providers.py
Due: enforce-library-imports

Change lite lllm test to use large model for better and more consistent results
  tests/inference/test_inference_engine.py
Due: enforce-library-imports

Update InstanceScore summary to ignore columsn that do not exist.
  src/unitxt/metric_utils.py
Due: enforce-relative-imports

Add to_markdown() to InstanceScores to pretty print output (#1846)
  examples/evaluate_batched_multiclass_classification.py
  examples/evaluate_same_datasets_and_models_with_multiple_providers.py
  examples/ner_evaluation.py
  src/unitxt/inference.py
  src/unitxt/metric_utils.py
  tests/inference/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

Improved InstanceScores summary to be readible and in decent width
  examples/key_value_extraction_evaluation.py
  src/unitxt/metric_utils.py
Due: enforce-relative-imports, enforce-library-imports

Improved InstanceScores summary to be readible and in decent width (#1847)
  examples/key_value_extraction_evaluation.py
  src/unitxt/metric_utils.py
Due: enforce-relative-imports, enforce-library-imports

Reverted branch changes which were addressed in main
  prepare/metrics/llm_as_judge/safety/harm_rating.py
  src/unitxt/catalog/metrics/llm_as_judge/safety/llama_3_70b_instruct/unsafe_content.json
  src/unitxt/catalog/metrics/llm_as_judge/safety/llama_3_8b_instruct/unsafe_content.json
Due: enforce-library-imports

Removed unused json from catalog
  src/unitxt/catalog/metrics/llm_as_judge/safety/llama_3_70b_instruct/harm_rating.json
Due: none

format
  src/unitxt/catalog/cards/xlam_function_calling_60k.json
Due: none

Allow using python functions instead of operators (e.g in pre-processing pipeline)
  docs/catalog.py
  docs/docs/adding_dataset.rst
  docs/docs/adding_operator.rst
  prepare/cards/xlam_function_calling.py
  src/unitxt/api.py
  src/unitxt/artifact.py
  src/unitxt/catalog.py
  src/unitxt/catalog/cards/xlam_function_calling_60k.json
  src/unitxt/inference.py
  src/unitxt/llm_as_judge_from_template.py
  src/unitxt/operators.py
  src/unitxt/test_utils/artifact.py
  src/unitxt/test_utils/card.py
  src/unitxt/text_utils.py
  src/unitxt/utils.py
  tests/library/test_function_operators.py
Due: enforce-relative-imports, enforce-library-imports

Shorten revision commit id to avoid detect secret error in json files
  prepare/cards/tablebench.py
  prepare/cards/tablebench_data_analysis.py
  prepare/cards/tablebench_fact_checking.py
  prepare/cards/tablebench_numerical_reasoning.py
  src/unitxt/catalog/cards/tablebench.json
  src/unitxt/catalog/cards/tablebench_data_analysis.json
  src/unitxt/catalog/cards/tablebench_fact_checking.json
  src/unitxt/catalog/cards/tablebench_numerical_reasoning.json
  utils/.secrets.baseline
Due: enforce-library-imports

Updated secrets,
  utils/.secrets.baseline
Due: none

Improve multi turn tool calling example
  examples/evaluate_tool_calling_multi_turn.py
Due: enforce-library-imports

Improve multi turn tool calling example (#1848)
  examples/evaluate_tool_calling_multi_turn.py
Due: enforce-library-imports

Add metrics documentation including range, directionality and references
  src/unitxt/metrics.py
Due: enforce-relative-imports

Add some more
  src/unitxt/metrics.py
Due: enforce-relative-imports

Fix sacrebleu documentation
  src/unitxt/metrics.py
Due: enforce-relative-imports

Fix sacrebleu documentation (#1851)
  src/unitxt/metrics.py
Due: enforce-relative-imports

Add F1 score documentation to F1Fast metric class
  src/unitxt/metrics.py
Due: enforce-relative-imports

Add F1 score documentation to F1Fast metric class (#1852)
  src/unitxt/metrics.py
Due: enforce-relative-imports

Add initial multi threading support and tests
  src/unitxt/api.py
  src/unitxt/inference.py
  src/unitxt/settings_utils.py
  src/unitxt/utils.py
  tests/library/test_multi_threading.py
  tests/library/test_utils.py
Due: enforce-relative-imports, enforce-library-imports

Fix inference with mock
  src/unitxt/inference.py
Due: enforce-relative-imports

Resolve warning on undelared fields.
  prepare/cards/attaq_500.py
  src/unitxt/catalog/cards/attaq_500.json
Due: enforce-library-imports

Switch to the detailed entity extraction template
  prepare/recipes/bluebench.py
  src/unitxt/catalog/recipes/bluebench/entity_extraction/universal_ner_en_ewt.json
Due: enforce-library-imports
