Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

still manage only in eagering mode, just to see performance effect
  src/unitxt/settings_utils.py
  src/unitxt/split_utils.py
  src/unitxt/splitters.py
Due: enforce-relative-imports

extend cards list in performance test
  performance/card_profiler.py
  performance/compare_performance_results.py
Due: enforce-library-imports

experiment with performance-test
  src/unitxt/dataset.py
  src/unitxt/metric.py
  src/unitxt/operator.py
  src/unitxt/operator_utils.py
  src/unitxt/standard.py
Due: enforce-relative-imports

no sequential instance operator for now, just mixer thing: can we canonize the order of the old stream when contributing to the new streams, which random mixing
  src/unitxt/split_utils.py
  src/unitxt/standard.py
Due: enforce-relative-imports

add mix offline trick to the existing sequential instance operator
  performance/card_profiler.py
  performance/compare_performance_results.py
  src/unitxt/split_utils.py
  src/unitxt/splitters.py
Due: enforce-relative-imports, enforce-library-imports

measure main performance in eager mode
  src/unitxt/settings_utils.py
Due: enforce-relative-imports

revert to non-eagering mode, and activate the sequential instance operator thing
  src/unitxt/settings_utils.py
  src/unitxt/standard.py
Due: enforce-relative-imports

a more elaborated message from performace-test-summary, and doc-string of card_profiler
  performance/card_profiler.py
  performance/compare_performance_results.py
Due: enforce-library-imports

remove space line between both perf messages
  performance/compare_performance_results.py
Due: enforce-library-imports

try again to remove space line between both prof lines
  performance/compare_performance_results.py
Due: enforce-library-imports

Update version to 1.14.1
  src/unitxt/version.py
Due: enforce-relative-imports

Update version to 1.14.1 (#1308)
  src/unitxt/version.py
Due: enforce-relative-imports

Added qa.with_context_multiple choice lmms_eval template
  examples/evaluate_image_text_to_text.py
  src/unitxt/catalog/templates/qa/multiple_choice/with_context/lmms_eval.json
Due: enforce-library-imports

Update
  .secrets.baseline
  examples/evaluate_image_text_to_text_lmms_eval_inference.py
  prepare/templates/qa/with_context.py
  src/unitxt/catalog/templates/qa/with_context/lmms_eval.json
  src/unitxt/inference.py
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

Add seed bench dataset and support videos
  prepare/cards/seed_bench.py
  prepare/tasks/qa/multiple_choice/tasks.py
  src/unitxt/catalog/cards/seed_bench.json
  src/unitxt/catalog/tasks/qa/multiple_choice/with_context.json
  src/unitxt/catalog/tasks/qa/multiple_choice/with_context/with_topic.json
  src/unitxt/serializers.py
  src/unitxt/templates.py
  src/unitxt/types.py
Due: enforce-relative-imports, enforce-library-imports

Add seed bench dataset and support for videos (#1309)
  prepare/cards/seed_bench.py
  prepare/tasks/qa/multiple_choice/tasks.py
  src/unitxt/catalog/cards/seed_bench.json
  src/unitxt/catalog/tasks/qa/multiple_choice/with_context.json
  src/unitxt/catalog/tasks/qa/multiple_choice/with_context/with_topic.json
  src/unitxt/serializers.py
  src/unitxt/templates.py
  src/unitxt/types.py
Due: enforce-relative-imports, enforce-library-imports

Update
  examples/evaluate_image_text_to_text_lmms_eval_inference.py
  prepare/templates/qa/multiple_choice/templates.py
  src/unitxt/catalog/templates/qa/multiple_choice/with_context/lmms_eval.json
  src/unitxt/inference.py
  tests/library/test_examples.py
Due: enforce-relative-imports, enforce-library-imports

FIx
  .secrets.baseline
Due: none

FIx
  src/unitxt/inference.py
Due: enforce-relative-imports

Add LMMSEvalInferenceEngine (#1301)
  .secrets.baseline
  examples/evaluate_image_text_to_text_lmms_eval_inference.py
  prepare/templates/qa/multiple_choice/templates.py
  prepare/templates/qa/with_context.py
  src/unitxt/catalog/templates/qa/multiple_choice/with_context/lmms_eval.json
  src/unitxt/catalog/templates/qa/with_context/lmms_eval.json
  src/unitxt/inference.py
  src/unitxt/metrics.py
  tests/library/test_examples.py
Due: enforce-relative-imports, enforce-library-imports

report eager mode too
  performance/card_profiler.py
  performance/compare_performance_results.py
Due: enforce-library-imports

provide a default value for cndline arg output_file
  performance/card_profiler.py
Due: enforce-library-imports

move judge to generic in arenahard
  src/unitxt/catalog/recipes/bluebench/chatbot_abilities/arena_hard_generation_english_gpt_4_0314_reference.json
Due: none

remain with 1 demo in finqa
  src/unitxt/catalog/recipes/bluebench/qa_finance/fin_qa.json
Due: none

a more elaborated message from performace-test-summary, and doc-string of card_profiler (#1307)
  performance/card_profiler.py
  performance/compare_performance_results.py
Due: enforce-library-imports

Make package requirement mixin compatible with requirements.txt like requirements
  src/unitxt/operator.py
  tests/library/test_requirements_mixin.py
Due: enforce-relative-imports, enforce-library-imports

Few fixes
  src/unitxt/loaders.py
  src/unitxt/metrics.py
  src/unitxt/operators.py
Due: enforce-relative-imports

Fix
  src/unitxt/image_operators.py
Due: enforce-relative-imports

Fix
  src/unitxt/loaders.py
  src/unitxt/metrics.py
Due: enforce-relative-imports

Make inference engine tests run only when inference.py has changed
  .github/workflows/inference_tests.yml
  tests/inference/__init__.py
  tests/inference/test_inference_engine.py
  tests/utils.py
Due: enforce-library-imports

Delete old file
  tests/library/test_inference_engine.py
Due: enforce-library-imports

Update
  .github/workflows/inference_tests.yml
Due: none

Make package requirements compatible with requirements.txt like format (#1310)
  src/unitxt/image_operators.py
  src/unitxt/loaders.py
  src/unitxt/metrics.py
  src/unitxt/operator.py
  src/unitxt/operators.py
  tests/library/test_requirements_mixin.py
Due: enforce-relative-imports, enforce-library-imports

Refactor classes and and option selecting for watsonx
  src/unitxt/inference_engines.py
  tests/library/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

Update
  .github/workflows/inference_tests.yml
  requirements/watsonx.rqr
  src/unitxt/inference.py
  tests/inference/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

Update
  .github/workflows/inference_tests.yml
  src/unitxt/inference.py
  tests/utils.py
Due: enforce-relative-imports, enforce-library-imports

Fix typo
  src/unitxt/inference_engines.py
Due: enforce-relative-imports

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
