Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

add separator parameter when reading a tsv file
  src/unitxt/loaders.py
Due: enforce-relative-imports

Remove top level imports from guerdian metric (as it adds dependencis to unitxt) (#1420)
  src/unitxt/metrics.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Make types compatible with python 3.8
  src/unitxt/metrics.py
Due: enforce-relative-imports

Make types compatible with python 3.8 (#1423)
  src/unitxt/metrics.py
Due: enforce-relative-imports

update secret
  utils/.secrets.baseline
Due: none

fix read_csv - add a separator
  src/unitxt/loaders.py
Due: enforce-relative-imports

fixes
  prepare/cards/safety/bbq.py
Due: enforce-library-imports

fix mistral format (when not using chat_api) Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

Benjams/loaders fix separator (#1424)
  src/unitxt/loaders.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Update version to 1.15.10
  src/unitxt/version.py
Due: enforce-relative-imports

Update version to 1.15.10 (#1426)
  src/unitxt/version.py
Due: enforce-relative-imports

Update to new logo
  assets/banner.png
  docs/_static/banner.png
  docs/static/favicon.ico
  docs/static/logo.png
  docs/static/opg_image.png
Due: none

Update to new logo (#1427)
  assets/banner.png
  docs/_static/banner.png
  docs/static/favicon.ico
  docs/static/logo.png
  docs/static/opg_image.png
Due: none

Another fix
  src/unitxt/test_utils/card.py
Due: enforce-relative-imports

Fix llama index metric
  src/unitxt/metrics.py
Due: enforce-relative-imports

Fix llama index
  src/unitxt/metrics.py
Due: enforce-relative-imports

Fix scikit issue
  pyproject.toml
  src/unitxt/metrics.py
Due: enforce-relative-imports

Fix helm action
  .github/workflows/test_helm.yml
Due: none

Use uv in helm action
  .github/workflows/test_helm.yml
Due: none

Remove -e in tests
  .github/workflows/library_tests.yml
  .github/workflows/performance.yml
Due: none

Add error message when saving artifacts that got changed (#1417)
  .github/workflows/library_tests.yml
  .github/workflows/performance.yml
  .github/workflows/test_helm.yml
  prepare/metrics/meteor.py
  pyproject.toml
  src/unitxt/artifact.py
  src/unitxt/benchmark.py
  src/unitxt/catalog/metrics/meteor.json
  src/unitxt/metrics.py
  src/unitxt/task.py
  src/unitxt/test_utils/card.py
  src/unitxt/test_utils/metrics.py
  tests/library/test_artifact.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

indentation within docstrings to improve appearance on web pages
  src/unitxt/api.py
  src/unitxt/artifact.py
  src/unitxt/dataclass.py
  src/unitxt/dataset.py
  src/unitxt/splitters.py
Due: enforce-relative-imports

add context_field attribute and minor fixes and improvements
  examples/evaluate_eval_assist_direct_user_criteria_new.py
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/criterias/answer_relevance.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/criterias/manipulative_email.json
  src/unitxt/eval_assist_constants.py
  src/unitxt/eval_assist_llm_as_judge.py
  src/unitxt/eval_assist_llm_as_judge_direct.py
  src/unitxt/eval_assist_llm_as_judge_pairwise.py
  src/unitxt/eval_assist_utils.py
Due: enforce-relative-imports, enforce-library-imports

and test_card too
  src/unitxt/test_utils/card.py
Due: enforce-relative-imports

Add example of squad card
  examples/evaluate_existing_dataset_by_llm_as_judge_eval_assist.py
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/criterias/answer_relevance.json
  src/unitxt/eval_assist_constants.py
Due: enforce-relative-imports, enforce-library-imports

Indentation within docstrings to improve appearance on web pages, on the way - eliminating two red lines from "make docs-server" (#1429)
  src/unitxt/api.py
  src/unitxt/artifact.py
  src/unitxt/dataclass.py
  src/unitxt/dataset.py
  src/unitxt/splitters.py
  src/unitxt/test_utils/card.py
Due: enforce-relative-imports

Add catalog search with tags filtering
  docs/catalog.py
  docs/search.html
Due: enforce-library-imports

Add catalog search with tags filtering (#1430)
  docs/catalog.py
  docs/search.html
Due: enforce-library-imports

Reorganized extracted qa task and templates.
  prepare/cards/babi.py
  prepare/cards/coqa.py
  prepare/cards/multidoc2dial.py
  prepare/cards/squad.py
  prepare/tasks/qa/tasks.py
  prepare/templates/qa/open.py
  prepare/templates/qa/with_context.py
  src/unitxt/catalog/cards/babi/qa.json
  src/unitxt/catalog/cards/multidoc2dial/extractive.json
  src/unitxt/catalog/cards/squad.json
  src/unitxt/catalog/tasks/qa/extractive.json
  src/unitxt/catalog/tasks/qa/open.json
  src/unitxt/catalog/tasks/qa/with_context.json
  src/unitxt/catalog/tasks/qa/with_context/extractive.json
  src/unitxt/catalog/templates/qa/extractive.json
  src/unitxt/catalog/templates/qa/open.json
  src/unitxt/catalog/templates/qa/open/all.json
  src/unitxt/catalog/templates/qa/with_context.json
  src/unitxt/catalog/templates/qa/with_context/all.json
  src/unitxt/catalog/templates/qa/with_context/title.json
Due: enforce-library-imports

update catalog for eval assist
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/gpt_4o.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/granite_20b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/llama3_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/mixtral_8_7b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/prometheus_8_7b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/rubrics/harmfulness.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/gpt_4o.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/llama3_70b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/llama3_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/mixtral_8_7b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/prometheus_8_7b.json
Due: none

update example evaluate_aval_assist_rubric
  examples/evaluate_eval_assist_rubric.py
Due: enforce-library-imports

Add rubrics and criterias as Enums
  prepare/metrics/llm_as_judge/eval_assist_direct.py
  prepare/metrics/llm_as_judge/eval_assist_pairwise.py
  src/unitxt/eval_assist_constants.py
Due: enforce-relative-imports, enforce-library-imports

evalassist metric initial changes
  examples/evaluate_eval_assist.py
  prepare/metrics/llm_as_judge/eval_assist.json
  prepare/metrics/llm_as_judge/eval_assist.py
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/prompt_templates/mixtral/answer.jinja
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/prompt_templates/mixtral/assessment.jinja
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/prompt_templates/mixtral/summarization.jinja
  src/unitxt/evalassist_llm_as_judge.py
Due: enforce-relative-imports, enforce-library-imports

add GPT rubric evaluator
  examples/evaluate_eval_assist.py
  examples/evaluate_eval_assist_rubric.py
  prepare/metrics/llm_as_judge/eval_assist.py
  prepare/metrics/llm_as_judge/templates_eval_assist.py
  src/unitxt/api.py
  src/unitxt/evalassist_llm_as_judge.py
  src/unitxt/inference.py
Due: enforce-relative-imports, enforce-library-imports

add pairwiseEvaluator as EvalAssistLLMAsJudgePairwise
  examples/evaluate_eval_assist_pairwise.py
  examples/evaluate_eval_assist_pairwise_criteria.py
  prepare/metrics/llm_as_judge/eval_assist_pairwise.py
  prepare/metrics/llm_as_judge/templates_eval_assist_pairwise.py
  src/unitxt/evalassist_llm_as_judge_pairwise.py
Due: enforce-relative-imports, enforce-library-imports

update input fields in pairwise example
  examples/evaluate_eval_assist_pairwise_criteria.py
Due: enforce-library-imports

add GPT rubric evaluator
  src/unitxt/inference.py
Due: enforce-relative-imports

rename eval assist's example files
  examples/evaluate_eval_assist_direct_predefined_criteria.py
  examples/evaluate_eval_assist_direct_user_criteria.py
  examples/evaluate_eval_assist_pairwise_predefined_criteria.py
  examples/evaluate_eval_assist_pairwise_user_criteria.py
Due: enforce-library-imports

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
