Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

add processor and examples
  examples/standalone_evaluation_llm_as_judge_classification.py
  src/unitxt/processors.py
Due: enforce-relative-imports, enforce-library-imports

cr fixes
  docs/docs/llm_as_judge.rst
  prepare/metrics/llm_as_judge/llamaguard.py
  prepare/metrics/llm_as_judge/rating/llama_3_ibm_genai_generic_template.py
  prepare/metrics/llm_as_judge/rating/llama_3_ibm_genai_mt_bench_template.py
  prepare/metrics/llm_as_judge/rating/mistral_huggingface_mt_bench_template.py
  src/unitxt/catalog/metrics/llm_as_judge/rating/llama_3_70b_instruct_ibm_genai_template_generic_single_turn.json
  src/unitxt/catalog/metrics/llm_as_judge/rating/llama_3_70b_instruct_ibm_genai_template_generic_single_turn_with_reference.json
  src/unitxt/catalog/metrics/llm_as_judge/rating/llama_3_70b_instruct_ibm_genai_template_mt_bench_single_turn.json
  src/unitxt/catalog/metrics/llm_as_judge/rating/llama_3_8b_instruct_ibm_genai_template_mt_bench_single_turn.json
  src/unitxt/catalog/metrics/llm_as_judge/safety/llama_3_70b_instruct_ibm_genai_template_unsafe_content.json
  src/unitxt/catalog/metrics/llm_as_judge/safety/llama_3_8b_instruct_ibm_genai_template_unsafe_content.json
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports, enforce-library-imports

fix use of minilm model
  prepare/metrics/rag_answer_correctness.py
  prepare/metrics/rag_context_relevance.py
  prepare/metrics/rag_faithfulness.py
  src/unitxt/catalog/metrics/rag/answer_correctness/sentence_bert_mini_lm.json
  src/unitxt/catalog/metrics/rag/context_relevance/sentence_bert_mini_lm.json
  src/unitxt/catalog/metrics/rag/faithfulness/sentence_bert_mini_lm.json
Due: enforce-library-imports

Improve api
  src/unitxt/standard.py
  tests/library/test_api.py
  tests/library/test_recipe.py
Due: enforce-relative-imports, enforce-library-imports

address PR comments
  prepare/processors/processors.py
  src/unitxt/catalog/processors/infer_last_token_logprobs_to_yes_no_probs.json
  src/unitxt/catalog/processors/infer_logprobs_to_yes_no_probs.json
  src/unitxt/processors.py
Due: enforce-relative-imports, enforce-library-imports

add docs
  docs/docs/evaluating_datasets.rst
  docs/docs/loading_datasets.rst
Due: none

add example
  docs/docs/examples.rst
  examples/evaluate_different_templates_num_demos.py
Due: enforce-library-imports

fix use of minilm model (#1115)
  prepare/metrics/rag_answer_correctness.py
  prepare/metrics/rag_context_relevance.py
  prepare/metrics/rag_faithfulness.py
  src/unitxt/catalog/metrics/rag/answer_correctness/sentence_bert_mini_lm.json
  src/unitxt/catalog/metrics/rag/context_relevance/sentence_bert_mini_lm.json
  src/unitxt/catalog/metrics/rag/faithfulness/sentence_bert_mini_lm.json
Due: enforce-library-imports

temp
  prepare/tasks/relation_extraction.py
  src/unitxt/catalog/cards/arena_hard/response_assessment/pairwise_comparative_rating/both_games_gpt_4_judge.json
  src/unitxt/catalog/cards/arena_hard/response_assessment/pairwise_comparative_rating/both_games_mean_judgment_gpt4_judge.json
  src/unitxt/catalog/cards/arena_hard/response_assessment/pairwise_comparative_rating/first_game_only_gpt_4_judge.json
  src/unitxt/catalog/tasks/ner/all_entity_types.json
  src/unitxt/catalog/tasks/ner/single_entity_type.json
  src/unitxt/catalog/tasks/relation_extraction/all_relation_types.json
  src/unitxt/catalog/tasks/relation_extraction/single_relation_type_for_pair_no_spans.json
  src/unitxt/catalog/templates/response_assessment/pairwise_comparative_rating/arena_hard.json
  src/unitxt/catalog/templates/response_assessment/pairwise_comparative_rating/arena_hard_with_shuffling.json
  src/unitxt/catalog/templates/response_assessment/pairwise_comparative_rating/prometheus_arena_hard.json
  src/unitxt/catalog/templates/response_assessment/pairwise_comparative_rating/prometheus_arena_hard_with_shuffling.json
  src/unitxt/templates.py
Due: enforce-relative-imports, enforce-library-imports

secrets baseline
  .secrets.baseline
Due: none

add parameter validation
  src/unitxt/inference.py
Due: enforce-relative-imports

save evaluation results
  prepare/engines/model/ilab.py
  utils/create_ilab_skill_yaml.py
Due: enforce-library-imports

Support deployment space_id for WMLInferenceEngine
  src/unitxt/inference.py
Due: enforce-relative-imports

Improve template error, documentation
  docs/docs/adding_template.rst
  src/unitxt/error_utils.py
  src/unitxt/templates.py
  tests/library/test_templates.py
Due: enforce-relative-imports, enforce-library-imports

Update docs/docs/adding_template.rst
  docs/docs/adding_template.rst
Due: none

Updated documentation per PR comment.
  docs/docs/adding_template.rst
Due: none

Fix data classification of WML model to inlcude public
  src/unitxt/inference.py
Due: enforce-relative-imports

add code blocks
  docs/docs/adding_template.rst
Due: none

doc changes
  docs/docs/adding_template.rst
Due: none

Minor format
  docs/docs/adding_template.rst
Due: none

Fix data classification of WML model to include 'public' classification (#1118)
  src/unitxt/inference.py
Due: enforce-relative-imports

Improve template and error message and documentation (#1116)
  docs/docs/adding_template.rst
  src/unitxt/error_utils.py
  src/unitxt/templates.py
  tests/library/test_templates.py
Due: enforce-relative-imports, enforce-library-imports

also try end to end - including catalog preparation - in eager mode
  src/unitxt/settings_utils.py
Due: enforce-relative-imports

simplify the entrance and leave to metricpipeline
  .secrets.baseline
  prepare/metrics/rag.py
  src/unitxt/catalog/metrics/rag/context_perplexity.json
  src/unitxt/catalog/metrics/rag/response_generation/correctness/bert_score/deberta_large_mnli.json
  src/unitxt/catalog/metrics/rag/response_generation/correctness/bert_score/deberta_v3_base_mnli_xnli_ml.json
  src/unitxt/catalog/metrics/rag/response_generation/correctness/token_overlap.json
  src/unitxt/catalog/metrics/rag/response_generation/faithfullness/token_overlap.json
  src/unitxt/catalog/metrics/token_overlap_with_context.json
  src/unitxt/metrics.py
  src/unitxt/operators.py
Due: enforce-relative-imports, enforce-library-imports

and finally, return to non-eager mode, still no deeps
  src/unitxt/settings_utils.py
Due: enforce-relative-imports

having succeeded with Eager mode, try now the non-eager mode
  src/unitxt/metrics.py
  src/unitxt/settings_utils.py
Due: enforce-relative-imports

revert postprocess_steps -> postpreprocess_steps, and removed commented-out lines
  .secrets.baseline
  prepare/metrics/rag.py
  prepare/metrics/rag_context_relevance.py
  src/unitxt/catalog/metrics/rag/context_perplexity.json
  src/unitxt/catalog/metrics/rag/response_generation/correctness/bert_score/deberta_large_mnli.json
  src/unitxt/catalog/metrics/rag/response_generation/correctness/bert_score/deberta_v3_base_mnli_xnli_ml.json
  src/unitxt/catalog/metrics/rag/response_generation/correctness/token_overlap.json
  src/unitxt/catalog/metrics/rag/response_generation/faithfullness/token_overlap.json
  src/unitxt/catalog/metrics/token_overlap_with_context.json
  src/unitxt/metrics.py
  src/unitxt/operators.py
Due: enforce-relative-imports, enforce-library-imports

postpreprocess_steps->postprocess_steps
  prepare/metrics/rag_context_relevance.py
  src/unitxt/catalog/metrics/rag/context_perplexity.json
Due: enforce-library-imports

warn before restoring initial values of prediction and references
  .secrets.baseline
  src/unitxt/dict_utils.py
  src/unitxt/metrics.py
  src/unitxt/operators.py
Due: enforce-relative-imports

fix some to make all tests pass, including preparation. still no deeps, still eager
  prepare/cards/billsum.py
  prepare/cards/ffqa_filtered.py
  prepare/metrics/normalized_sacrebleu.py
  src/unitxt/catalog/cards/ffqa_filtered/16k.json
  src/unitxt/catalog/cards/ffqa_filtered/2k.json
  src/unitxt/catalog/cards/ffqa_filtered/4k.json
  src/unitxt/catalog/cards/ffqa_filtered/8k.json
  src/unitxt/metrics.py
  src/unitxt/operators.py
  src/unitxt/stream_operators.py
Due: enforce-relative-imports, enforce-library-imports

having passed all tests -including catalog preparation - in eager mode, return to non-eager mode
  src/unitxt/catalog/metrics/rag/context_perplexity.json
  src/unitxt/settings_utils.py
Due: enforce-relative-imports

remove deeps run eager
  src/unitxt/operators.py
  src/unitxt/settings_utils.py
Due: enforce-relative-imports

dare to remove more deeps, try first in eager mode
  src/unitxt/operators.py
  src/unitxt/settings_utils.py
  src/unitxt/test_utils/metrics.py
Due: enforce-relative-imports

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
