Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]
        exclude: src/unitxt/metrics.py|examples/evaluate_existing_dataset_no_install.py
      # Run the linter on the specific file with the ignore flag
      - id: ruff
        name: ruff (examples/evaluate_existing_dataset_no_install.py)
        files: examples/evaluate_existing_dataset_no_install.py
        args: [--fix, --ignore, T201]
      # Run the formatter
      - id: ruff-format

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [--baseline, utils/.secrets.baseline]
        exclude: utils/.secrets.baseline

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

after turned into a decent InstanceMetric, does not need a tiny n_resample
  prepare/metrics/meteor.py
  src/unitxt/catalog/metrics/meteor.json
  src/unitxt/catalog/metrics/meteor_hf.json
Due: enforce-library-imports

Add place_correct_choice_position to set the correct choice index and… (#1481)
  src/unitxt/templates.py
  tests/library/test_templates.py
Due: enforce-relative-imports, enforce-library-imports

Add requirement
  pyproject.toml
Due: none

Fix nan_mean function to ensure float return type and clean up test cases by removing unnecessary entries
  src/unitxt/metric_utils.py
  tests/library/test_fusion.py
Due: enforce-relative-imports, enforce-library-imports

Add tests for confidence intervals for f1 micro
  tests/library/test_metrics.py
Due: enforce-library-imports

Fix the bioasq - we did not map 'passage' to be 'passages'
  prepare/cards/rag/end_to_end/bioasq.py
  src/unitxt/catalog/cards/rag/documents/bioasq/en.json
Due: enforce-library-imports

Remove n_resamples parameter from MeteorFast and update global target for testing
  prepare/metrics/meteor.py
  src/unitxt/catalog/metrics/meteor.json
Due: enforce-library-imports

move comment a few lines down
  prepare/metrics/meteor.py
Due: enforce-library-imports

Add MapReduceMetric a new base class to integrate all metrics into (#1459)
  prepare/metrics/accuracy.py
  prepare/metrics/f1.py
  prepare/metrics/meteor.py
  pyproject.toml
  src/unitxt/api.py
  src/unitxt/catalog/metrics/accuracy.json
  src/unitxt/catalog/metrics/f1_macro.json
  src/unitxt/catalog/metrics/f1_micro.json
  src/unitxt/catalog/metrics/meteor.json
  src/unitxt/catalog/metrics/meteor_hf.json
  src/unitxt/metric_utils.py
  src/unitxt/metrics.py
  src/unitxt/operators.py
  tests/library/test_fusion.py
  tests/library/test_metrics.py
  tests/library/test_operators.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Add multi document support and FRAMES benchmark (#1477)
  prepare/cards/frames_benchmark.py
  prepare/cards/open_australian_legal_qa.py
  prepare/tasks/qa/tasks.py
  pyproject.toml
  src/unitxt/catalog/cards/frames.json
  src/unitxt/catalog/cards/open_australian_legal_qa.json
  src/unitxt/catalog/tasks/qa/with_context.json
  src/unitxt/operators.py
  src/unitxt/serializers.py
  src/unitxt/types.py
Due: enforce-relative-imports, enforce-library-imports

Update version to 1.16.2
  src/unitxt/version.py
Due: enforce-relative-imports

Update version to 1.16.2 (#1483)
  src/unitxt/version.py
Due: enforce-relative-imports

change clapNQ to point to the HF
  prepare/cards/rag/end_to_end/clapnq.py
  src/unitxt/catalog/cards/rag/documents/clap_nq/en.json
Due: enforce-library-imports

Refactor safety metric to be faster and updated
  prepare/cards/atta_q.py
  prepare/cards/attaq_500.py
  prepare/metrics/safety_metric.py
  src/unitxt/catalog/cards/atta_q.json
  src/unitxt/catalog/cards/attaq_500.json
  src/unitxt/catalog/metrics/safety_metric.json
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

Add docstring to SafetyMetric class explaining its purpose and evaluation method
  src/unitxt/metrics.py
Due: enforce-relative-imports

Refactor AttaQ card: remove deprecated card and add new card structure with artifact link
  prepare/cards/attaq.py
  src/unitxt/catalog/cards/atta_q.json
  src/unitxt/catalog/cards/attaq.json
Due: enforce-library-imports

Remove unnecessary task parameter from IsCodeMixed inference model initialization
  src/unitxt/metrics.py
Due: enforce-relative-imports

Add Azure support and expand OpenAI model options in inference engine
  src/unitxt/inference.py
Due: enforce-relative-imports

Add Azure support and expand OpenAI model options in inference engine (#1485)
  src/unitxt/inference.py
Due: enforce-relative-imports

Enable mock inference mode in SafetyMetric context for testing
  prepare/metrics/safety_metric.py
Due: enforce-library-imports

black
  prepare/cards/rag/end_to_end/clapnq.py
  src/unitxt/catalog/cards/rag/documents/clap_nq/en.json
Due: enforce-library-imports

Fix bug in metrics loading in tasks
  src/unitxt/task.py
  tests/library/test_tasks.py
Due: enforce-relative-imports, enforce-library-imports

Fix bioasq card (#1486)
  prepare/cards/rag/end_to_end/bioasq.py
  prepare/cards/rag/end_to_end/clapnq.py
  src/unitxt/catalog/cards/rag/documents/bioasq/en.json
  src/unitxt/catalog/cards/rag/documents/clap_nq/en.json
Due: enforce-library-imports

add separator to csv loader
  src/unitxt/loaders.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Fix missing separator bug in csv loader (#1488)
  src/unitxt/loaders.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Fix bug in metrics loading in tasks (#1487)
  src/unitxt/task.py
  tests/library/test_tasks.py
Due: enforce-relative-imports, enforce-library-imports

Update version to 1.16.3
  src/unitxt/version.py
Due: enforce-relative-imports

Update version to 1.16.3 (#1489)
  src/unitxt/version.py
Due: enforce-relative-imports

Fix bootstrap condition to handle cases with insufficient instances
  src/unitxt/metrics.py
Due: enforce-relative-imports

Fix bootstrap condition to handle cases with insufficient instances (#1490)
  src/unitxt/metrics.py
Due: enforce-relative-imports

Update version to 1.16.4
  src/unitxt/version.py
Due: enforce-relative-imports

Update version to 1.16.4 (#1491)
  src/unitxt/version.py
Due: enforce-relative-imports

Added NER example
  examples/ner_evaluation.py
Due: enforce-library-imports

complete json_cache to read missing artifacts also from github catalog
  src/unitxt/artifact.py
  src/unitxt/catalog.py
  src/unitxt/utils.py
Due: enforce-relative-imports

fixed for load artifact from file
  src/unitxt/artifact.py
Due: enforce-relative-imports

added test
  tests/library/test_catalogs.py
Due: enforce-library-imports

fix formatting
  src/unitxt/serializers.py
Due: enforce-relative-imports

init commit bench
  prepare/benchmarks/tables.py
  prepare/cards/turl_col_type.py
  prepare/tasks/qa/tasks.py
  src/unitxt/catalog/cards/turl_col_type.json
  src/unitxt/catalog/tasks/qa/extractive.json
Due: enforce-library-imports

Simplify artifact link
  src/unitxt/artifact.py
Due: enforce-relative-imports

Unified ner and span labeling tasks.
  docs/docs/examples.rst
  examples/ner_evaluation.py
  prepare/cards/atis.py
  prepare/cards/universal_ner.py
  prepare/tasks/ner.py
  prepare/tasks/span_labeling.py
  prepare/templates/span_labeling/templates.py
  src/unitxt/catalog/cards/atis.json
  src/unitxt/catalog/cards/universal_ner/ceb/gja.json
  src/unitxt/catalog/cards/universal_ner/da/ddt.json
  src/unitxt/catalog/cards/universal_ner/de/pud.json
  src/unitxt/catalog/cards/universal_ner/en/ewt.json
  src/unitxt/catalog/cards/universal_ner/en/pud.json
  src/unitxt/catalog/cards/universal_ner/hr/set.json
  src/unitxt/catalog/cards/universal_ner/pt/bosque.json
  src/unitxt/catalog/cards/universal_ner/pt/pud.json
  src/unitxt/catalog/cards/universal_ner/ru/pud.json
  src/unitxt/catalog/cards/universal_ner/sk/snk.json
  src/unitxt/catalog/cards/universal_ner/sr/set.json
  src/unitxt/catalog/cards/universal_ner/sv/pud.json
  src/unitxt/catalog/cards/universal_ner/sv/talbanken.json
  src/unitxt/catalog/cards/universal_ner/tl/trg.json
  src/unitxt/catalog/cards/universal_ner/tl/ugnayan.json
  src/unitxt/catalog/cards/universal_ner/zh/gsd.json
  src/unitxt/catalog/cards/universal_ner/zh/gsdsimp.json
  src/unitxt/catalog/cards/universal_ner/zh/pud.json
  src/unitxt/catalog/tasks/ner/all_entity_types.json
  src/unitxt/catalog/tasks/span_labeling/extraction.json
  src/unitxt/catalog/templates/span_labeling/extraction/all.json
  src/unitxt/catalog/templates/span_labeling/extraction/carry.json
  src/unitxt/catalog/templates/span_labeling/extraction/detailed.json
  src/unitxt/catalog/templates/span_labeling/extraction/extract.json
  src/unitxt/catalog/templates/span_labeling/extraction/having.json
  src/unitxt/catalog/templates/span_labeling/extraction/identify.json
  src/unitxt/catalog/templates/span_labeling/extraction/title.json
Due: enforce-library-imports
