Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

Fix typing notation for python 3.8
  pyproject.toml
  src/unitxt/api.py
  src/unitxt/inference.py
  src/unitxt/llm_as_judge.py
  src/unitxt/llm_as_judge_constants.py
Due: enforce-relative-imports

Add test for 3.8 compatibility
  .github/workflows/docs.yml
Due: none

Update documentation workflow to install only documentation dependencies
  .github/workflows/docs.yml
Due: none

Refactor typing notation for get_parsed_context function to use Dict for improved clarity
  src/unitxt/llm_as_judge_utils.py
Due: enforce-relative-imports

Fix
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

Fix
  pyproject.toml
Due: none

Fix typing notation for python 3.8 (#1453)
  .github/workflows/docs.yml
  pyproject.toml
  src/unitxt/api.py
  src/unitxt/inference.py
  src/unitxt/llm_as_judge.py
  src/unitxt/llm_as_judge_constants.py
  src/unitxt/llm_as_judge_utils.py
Due: enforce-relative-imports

Instance_metric and apply_metric keep only one instance at a time in mem, at the expense of repeated passes over input stream (2 times for instance_metric, #metrics for apply_metric) (#1448)
  src/unitxt/metrics.py
  src/unitxt/operators.py
  src/unitxt/test_utils/metrics.py
  utils/.secrets.baseline
Due: enforce-relative-imports

simplify class parameter listing on web page
  src/unitxt/card.py
  src/unitxt/deprecation_utils.py
  src/unitxt/dialog_operators.py
  src/unitxt/error_utils.py
  src/unitxt/image_operators.py
  src/unitxt/inference.py
  src/unitxt/loaders.py
  src/unitxt/metric_utils.py
  src/unitxt/metrics.py
  src/unitxt/operator.py
  src/unitxt/operators.py
  src/unitxt/span_lableing_operators.py
  src/unitxt/task.py
  src/unitxt/templates.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Simplify class parameter listing on documentation website (#1454)
  src/unitxt/card.py
  src/unitxt/deprecation_utils.py
  src/unitxt/dialog_operators.py
  src/unitxt/error_utils.py
  src/unitxt/image_operators.py
  src/unitxt/inference.py
  src/unitxt/loaders.py
  src/unitxt/metric_utils.py
  src/unitxt/metrics.py
  src/unitxt/operator.py
  src/unitxt/operators.py
  src/unitxt/span_lableing_operators.py
  src/unitxt/task.py
  src/unitxt/templates.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Bring code coverage tests back to life
  .github/workflows/library_tests.yml
Due: none

Enable OIDC usage in Codecov action for improved security
  .github/workflows/library_tests.yml
Due: none

Update GitHub Actions workflow and coverage configuration
  .github/workflows/library_tests.yml
  pyproject.toml
Due: none

Add AzureOpenAIInferenceEngine Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/inference.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Update Codecov action configuration to skip validation
  .github/workflows/library_tests.yml
Due: none

Update
  .github/workflows/library_tests.yml
Due: none

lowercase engine label Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/inference.py
Due: enforce-relative-imports

set chat_api format for openai models Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

Try coveralls
  .github/workflows/library_tests.yml
Due: none

Try fix
  pyproject.toml
Due: none

Trial
  pyproject.toml
Due: none

move to azure openai classification engines Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/engines/classification/classification_engines.py
  src/unitxt/catalog/engines/classification/gpt_4_turbo_2024_04_09_azure_openai.json
  src/unitxt/catalog/engines/classification/gpt_4o_2024_08_06_azure_openai.json
Due: enforce-library-imports

Update library_tests.yml to omit preparation files and upload coverage to Codecov
  .github/workflows/library_tests.yml
Due: none

Remove omitted files from coverage run in library_tests.yml
  .github/workflows/library_tests.yml
Due: none

Change coverage upload from Codecov to Coveralls in library_tests.yml
  .github/workflows/library_tests.yml
Due: none

Remove coverage file before uploading to Coveralls and specify coverage file path
  .github/workflows/library_tests.yml
Due: none

Add command to display coverage report before uploading to Coveralls
  .github/workflows/library_tests.yml
Due: none

Update coverage configuration to include branch tracking and specify XML output
  pyproject.toml
Due: none

Add command to display coverage report in library_tests.yml
  .github/workflows/library_tests.yml
Due: none

Update library_tests.yml to install test dependencies in editable mode
  .github/workflows/library_tests.yml
Due: none

Remove unnecessary coverage commands from library_tests.yml
  .github/workflows/library_tests.yml
Due: none

Update coverage badge
  README.md
Due: none

Fix coverage tests (#1456)
  .github/workflows/library_tests.yml
  README.md
  pyproject.toml
Due: none

make demos_pool a variable, rather than a separate stream. Needs to restart train repeatedly. Fix needed in Loaders. Allow a given demos_pool, or input stream-instances already loaded with demos
  src/unitxt/loaders.py
  src/unitxt/schema.py
  src/unitxt/splitters.py
  src/unitxt/standard.py
  src/unitxt/task.py
  tests/library/test_api.py
  tests/library/test_benchmark.py
  tests/library/test_recipe.py
Due: enforce-relative-imports, enforce-library-imports

renamed Sample->AssignDemosToInstance and emptied all but BaseRecipe
  src/unitxt/blocks.py
  src/unitxt/splitters.py
  src/unitxt/standard.py
Due: enforce-relative-imports

separate AddDemosPool from CreateDemosPool
  src/unitxt/settings_utils.py
  src/unitxt/standard.py
  tests/library/test_recipe.py
Due: enforce-relative-imports, enforce-library-imports

all recipes are DatasetRecipe
  src/unitxt/dataset_utils.py
  src/unitxt/standard.py
  tests/library/test_recipe.py
Due: enforce-relative-imports, enforce-library-imports

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
