Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [--baseline, utils/.secrets.baseline]
        exclude: utils/.secrets.baseline

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils|unitxt/assistant/.*)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

define torch dtype
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

input device map instead of device
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

return auto device map
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

move to pipeline based inference engine
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

add definition
  prepare/cards/rag/end_to_end/watsonx.py
  src/unitxt/catalog/cards/rag/benchmark/watsonxqa/en.json
  src/unitxt/catalog/cards/rag/documents/watsonxqa/en.json
Due: enforce-library-imports

move _get_model_args handling to HFAutoModelInferenceEngine
  src/unitxt/inference.py
Due: enforce-relative-imports

revert to HFAutoModelInferenceEngine
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

remove dtype
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

remove task from model args
  src/unitxt/inference.py
Due: enforce-relative-imports

pass auto device
  src/unitxt/inference.py
Due: enforce-relative-imports

add batching to HFAutoModelInferenceEngine
  src/unitxt/inference.py
Due: enforce-relative-imports

add batch_size arg
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

make batch size an int
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

add progress bar
  src/unitxt/inference.py
Due: enforce-relative-imports

efficient batching
  src/unitxt/inference.py
Due: enforce-relative-imports

remove fp16
  src/unitxt/inference.py
Due: enforce-relative-imports

fix the watsonX
  prepare/cards/rag/end_to_end/watsonx.py
  src/unitxt/catalog/cards/rag/benchmark/watsonxqa/en.json
Due: enforce-library-imports

remove dataset sorting
  src/unitxt/inference.py
Due: enforce-relative-imports

only show global scores
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

add token id if it is not there
  src/unitxt/inference.py
Due: enforce-relative-imports

update the watsonX
  prepare/cards/rag/end_to_end/watsonx.py
  src/unitxt/catalog/cards/rag/benchmark/watsonxqa/en.json
  src/unitxt/catalog/cards/rag/documents/watsonxqa/en.json
Due: enforce-library-imports

add left padding
  src/unitxt/inference.py
Due: enforce-relative-imports

Benjams/add watson x (#1719)
  prepare/cards/rag/end_to_end/watsonx.py
  src/unitxt/catalog/cards/rag/benchmark/watsonxqa/en.json
  src/unitxt/catalog/cards/rag/documents/watsonxqa/en.json
Due: enforce-library-imports

remove metadata_fields in clapnq (#1718)
  prepare/cards/rag/end_to_end/clapnq.py
  src/unitxt/catalog/cards/rag/documents/clap_nq/en.json
Due: enforce-library-imports

enable chat_template arguments
  src/unitxt/evaluate_cli.py
  src/unitxt/inference.py
Due: enforce-relative-imports

Unify llm judges into a single prepare file
  prepare/metrics/llm_as_judge/direct/llama_3_3_70b_instruct_adherence_completeness.py
  prepare/metrics/llm_as_judge/llm_as_judge.py
  src/unitxt/catalog/metrics/rag/response_generation/adherence_with_format/llama_3_3_70b_instruct_judge.json
  src/unitxt/catalog/metrics/rag/response_generation/answer_completeness/llama_3_3_70b_instruct_judge.json
  src/unitxt/llm_as_judge_constants.py
Due: enforce-relative-imports, enforce-library-imports

manage_cache
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

Fix errors with peft inference engine implementation.
  src/unitxt/inference.py
Due: enforce-relative-imports

Allow overriding of CI method in GlobalMetric
  src/unitxt/metrics.py
Due: enforce-relative-imports

remove exp files
  ics/card_utils.py
  ics/process_utils.py
  ics/run_exp.py
Due: enforce-library-imports

Add data_files support in HFLoader + tests
  src/unitxt/loaders.py
  tests/library/test_loaders.py
Due: enforce-relative-imports, enforce-library-imports

timeout should take 30 sec
  src/unitxt/metrics.py
Due: enforce-relative-imports

Clarify data_files usage in LoadHF documentation
  src/unitxt/loaders.py
Due: enforce-relative-imports

Add full data_files support in HFLoader + tests (#1724)
  src/unitxt/loaders.py
  tests/library/test_loaders.py
Due: enforce-relative-imports, enforce-library-imports
