Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [--baseline, utils/.secrets.baseline]
        exclude: utils/.secrets.baseline

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils|unitxt/assistant/.*)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

add tokenizer_kwargs to API
  docs/docs/cli.rst
  src/unitxt/evaluate_cli.py
  tests/library/test_cli.py
Due: enforce-relative-imports, enforce-library-imports

Enhance retry mechanism to include FileNotFoundError and set max connection retries in test settings
  src/unitxt/utils.py
  tests/utils.py
Due: enforce-relative-imports, enforce-library-imports

Nested Exceptions
  pyproject.toml
  src/unitxt/utils.py
Due: enforce-relative-imports

Add FileNotFoundError to retry exceptions in exponential backoff decorator
  src/unitxt/utils.py
Due: enforce-relative-imports

Update default retry setting to use max_connection_retries from settings
  src/unitxt/utils.py
Due: enforce-relative-imports

Add exponential backoff retry decorator to prepare methods in GraniteDocumentsFormat and HFSystemFormat
  src/unitxt/formats.py
Due: enforce-relative-imports

Remove download_config from hf_evaluate_load and hf_load_dataset; set max_connection_retries in test settings
  src/unitxt/loaders.py
  src/unitxt/metrics.py
  tests/utils.py
Due: enforce-relative-imports, enforce-library-imports

Add unit tests for retry decorator with exponential backoff
  pyproject.toml
  tests/library/test_retry.py
Due: enforce-library-imports

Make sure we are installing tests dependencies to cpu only
  .github/workflows/library_tests.yml
Due: none

Update workflows to install CPU-specific torch and additional dependencies
  .github/workflows/catalog_consistency.yml
  .github/workflows/catalog_preparation.yml
  .github/workflows/examples_tests.yml
  .github/workflows/inference_tests.yml
  .github/workflows/library_eager_execution_tests.yml
  .github/workflows/library_tests.yml
  .github/workflows/performance.yml
  pyproject.toml
Due: none

Replace pytrec-eval and blis installation with spacy in workflow files
  .github/workflows/catalog_consistency.yml
  .github/workflows/catalog_preparation.yml
  .github/workflows/examples_tests.yml
  .github/workflows/inference_tests.yml
  .github/workflows/library_eager_execution_tests.yml
  .github/workflows/library_tests.yml
  .github/workflows/performance.yml
Due: none

Update workflow files to install both spacy and thinc dependencies
  .github/workflows/catalog_consistency.yml
  .github/workflows/catalog_preparation.yml
  .github/workflows/examples_tests.yml
  .github/workflows/inference_tests.yml
  .github/workflows/library_eager_execution_tests.yml
  .github/workflows/library_tests.yml
  .github/workflows/performance.yml
Due: none

Update workflow files to use constraints for dependency installation
  .github/workflows/catalog_consistency.yml
  .github/workflows/catalog_preparation.yml
  .github/workflows/examples_tests.yml
  .github/workflows/inference_tests.yml
  .github/workflows/library_eager_execution_tests.yml
  .github/workflows/library_tests.yml
Due: none

Fix loader cache size assignment and handle None dataset case in LoadHF class
  src/unitxt/loaders.py
Due: enforce-relative-imports

Add spacy installation without dependencies to workflow files
  .github/workflows/examples_tests.yml
  .github/workflows/inference_tests.yml
  .github/workflows/library_eager_execution_tests.yml
  .github/workflows/library_tests.yml
Due: none

Pin spacy version to 2.0.17 in workflow files
  .github/workflows/examples_tests.yml
  .github/workflows/inference_tests.yml
  .github/workflows/library_eager_execution_tests.yml
  .github/workflows/library_tests.yml
  .github/workflows/performance.yml
Due: none

Add exponential backoff retry to get_splits method and improve error handling for missing datasets
  src/unitxt/loaders.py
Due: enforce-relative-imports

Add error handling for None dataset case in LoadHF class and improve retry logic in utils
  src/unitxt/loaders.py
  src/unitxt/utils.py
Due: enforce-relative-imports

Remove spacy installation from workflow files and pyproject.toml
  .github/workflows/examples_tests.yml
  .github/workflows/inference_tests.yml
  .github/workflows/library_eager_execution_tests.yml
  .github/workflows/library_tests.yml
  .github/workflows/performance.yml
  pyproject.toml
Due: none

Add spacy installation without dependencies to multiple workflow files
  .github/workflows/catalog_consistency.yml
  .github/workflows/catalog_preparation.yml
  .github/workflows/examples_tests.yml
  .github/workflows/inference_tests.yml
  .github/workflows/library_eager_execution_tests.yml
  .github/workflows/library_tests.yml
  .github/workflows/performance.yml
Due: none

Re-raise ValueError in hf_load_dataset for improved error handling
  src/unitxt/loaders.py
Due: enforce-relative-imports

Update GitHub Actions workflow to include constraints file and adjust package installations
  .github/workflows/library_eager_execution_tests.yml
Due: none

Remove spacy dependency from pyproject.toml
  pyproject.toml
Due: none

Refactor error handling in LoadHF class to raise NotImplementedError for None dataset and improve exception messages for missing cache and unverified code
  src/unitxt/loaders.py
Due: enforce-relative-imports

Remove download configuration from LoadHF class to simplify loading process
  src/unitxt/loaders.py
Due: enforce-relative-imports

Add dataset splits to LoadHF loader configurations for MNLI, MRPC, QNLI, QQP, RTE, STSB, and WNLI
  prepare/cards/mnli.py
  prepare/cards/mrpc.py
  prepare/cards/qnli.py
  prepare/cards/qqp.py
  prepare/cards/rte.py
  prepare/cards/stsb.py
  prepare/cards/wnli.py
  src/unitxt/catalog/cards/mnli.json
  src/unitxt/catalog/cards/mrpc.json
  src/unitxt/catalog/cards/qnli.json
  src/unitxt/catalog/cards/qqp.json
  src/unitxt/catalog/cards/rte.json
  src/unitxt/catalog/cards/stsb.json
  src/unitxt/catalog/cards/wnli.json
  src/unitxt/loaders.py
Due: enforce-relative-imports, enforce-library-imports

Update loader paths for GLUE datasets to use nyu-mll/glue
  prepare/cards/cola.py
  prepare/cards/mnli.py
  prepare/cards/mrpc.py
  prepare/cards/qnli.py
  prepare/cards/qqp.py
  prepare/cards/rte.py
  prepare/cards/stsb.py
  src/unitxt/catalog/cards/cola.json
  src/unitxt/catalog/cards/mnli.json
  src/unitxt/catalog/cards/mrpc.json
  src/unitxt/catalog/cards/qnli.json
  src/unitxt/catalog/cards/qqp.json
  src/unitxt/catalog/cards/rte.json
  src/unitxt/catalog/cards/stsb.json
Due: enforce-library-imports

Update workflow files to include constraints for package installations and simplify spacy dependency handling
  .github/workflows/catalog_preparation.yml
  .github/workflows/library_eager_execution_tests.yml
  .github/workflows/library_tests.yml
Due: none

Add coverage dependency to library tests workflow
  .github/workflows/library_tests.yml
Due: none

Enable pip caching in workflow files for improved dependency installation efficiency
  .github/workflows/catalog_preparation.yml
  .github/workflows/library_eager_execution_tests.yml
  .github/workflows/library_tests.yml
Due: none

Update spacy installation to use only-binary option in workflow files
  .github/workflows/catalog_preparation.yml
  .github/workflows/library_eager_execution_tests.yml
  .github/workflows/library_tests.yml
Due: none

Refactor spacy installation command in workflow files for improved readability
  .github/workflows/catalog_preparation.yml
  .github/workflows/library_eager_execution_tests.yml
  .github/workflows/library_tests.yml
Due: none

Fix table bench numerical reasoning
  prepare/cards/tablebench_numerical_reasoning.py
  src/unitxt/catalog/cards/tablebench_numerical_reasoning.json
Due: enforce-library-imports

Add retry policy for huggingface assets downloads (#1711)
  .github/workflows/catalog_preparation.yml
  .github/workflows/library_eager_execution_tests.yml
  .github/workflows/library_tests.yml
  prepare/cards/cola.py
  prepare/cards/mnli.py
  prepare/cards/mrpc.py
  prepare/cards/qnli.py
  prepare/cards/qqp.py
  prepare/cards/rte.py
  prepare/cards/stsb.py
  prepare/cards/tablebench_numerical_reasoning.py
  prepare/cards/wnli.py
  pyproject.toml
  src/unitxt/catalog/cards/cola.json
  src/unitxt/catalog/cards/mnli.json
  src/unitxt/catalog/cards/mrpc.json
  src/unitxt/catalog/cards/qnli.json
  src/unitxt/catalog/cards/qqp.json
  src/unitxt/catalog/cards/rte.json
  src/unitxt/catalog/cards/stsb.json
  src/unitxt/catalog/cards/tablebench_numerical_reasoning.json
  src/unitxt/catalog/cards/wnli.json
  src/unitxt/formats.py
  src/unitxt/inference.py
  src/unitxt/loaders.py
  src/unitxt/metrics.py
  src/unitxt/settings_utils.py
  src/unitxt/string_operators.py
  src/unitxt/utils.py
  tests/library/test_retry.py
  tests/utils.py
Due: enforce-relative-imports, enforce-library-imports

Remove harcoded provider
  prepare/metrics/llm_as_judge/direct/llama_3_3_70b_instruct_adherence_completeness.py
Due: enforce-library-imports

Update llama_3_3_70b_instruct_judge catalog
  src/unitxt/catalog/metrics/rag/response_generation/answer_completeness/llama_3_3_70b_instruct_judge.json
Due: none

update wml llmajj from llama-3-70b to llama-3-1-70b (#1703)
  prepare/cards/safety/provoq.py
  prepare/metrics/llm_as_judge/safety/harm_rating.py
  src/unitxt/catalog/cards/safety/provoq.json
  src/unitxt/catalog/metrics/llm_as_judge/safety/llama_3_1_70b_instruct_ibm_watsonx_template_harm_rating.json
Due: enforce-library-imports

Text2sql metrics fixes (#1702)
  prepare/metrics/text2sql_accuracy.py
  src/unitxt/metrics.py
  src/unitxt/sql_utils.py
Due: enforce-relative-imports, enforce-library-imports

add system-less template
  prepare/templates/text2sql/templates.py
Due: enforce-library-imports
