Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]
        exclude: src/unitxt/metrics.py|examples/evaluate_existing_dataset_no_install.py
      # Run the linter on the specific file with the ignore flag
      - id: ruff
        name: ruff (examples/evaluate_existing_dataset_no_install.py)
        files: examples/evaluate_existing_dataset_no_install.py
        args: [--fix, --ignore, T201]
      # Run the formatter
      - id: ruff-format

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [--baseline, utils/.secrets.baseline]
        exclude: utils/.secrets.baseline

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

Fix: AzureOpenAIInferenceEngine fails if api_version is not set
  src/unitxt/inference.py
Due: enforce-relative-imports

Revisit base dependencies (specifically ipadic and absl-py)
  pyproject.toml
Due: none

Implement get_engine_id were missing (#1679)
  src/unitxt/inference.py
Due: enforce-relative-imports

Fix some bugs in inference engine tests
  src/unitxt/api.py
  src/unitxt/dataset.py
  src/unitxt/schema.py
  tests/inference/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

Revisit base dependencies (specifically remove ipadic and absl-py) (#1681)
  pyproject.toml
Due: none

Fix some bugs in inference engine tests
  src/unitxt/api.py
  src/unitxt/inference.py
  src/unitxt/loaders.py
  tests/inference/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

Add HFOptionSelectingInferenceEngine get_engine_id method
  src/unitxt/inference.py
Due: enforce-relative-imports

fix LoadHF.load_dataset() when mem-caching is off
  src/unitxt/loaders.py
Due: enforce-relative-imports

Fix LoadHF.load_dataset() when mem-caching is off (#1683)
  src/unitxt/loaders.py
Due: enforce-relative-imports

Updated key value extraction metric names
  examples/api_call_evaluation.py
  examples/key_value_extraction_evaluation.py
  prepare/metrics/key_value_extraction.py
  src/unitxt/struct_data_operators.py
Due: enforce-relative-imports, enforce-library-imports

Updated key value extraction metric names
  prepare/tasks/key_value_extraction.py
  src/unitxt/catalog/metrics/key_value_extraction.json
  src/unitxt/catalog/metrics/key_value_extraction/accuracy.json
  src/unitxt/catalog/metrics/key_value_extraction/token_overlap.json
  src/unitxt/catalog/tasks/key_value_extraction.json
Due: enforce-library-imports

Updated documentation string
  prepare/metrics/key_value_extraction.py
  src/unitxt/catalog/metrics/key_value_extraction/token_overlap.json
Due: enforce-library-imports

Fixed unit test.
  tests/library/test_struct_data_operators.py
Due: enforce-library-imports

HFPipelineInferenceEngine - add loaded tokenizer to pipeline (#1677)
  src/unitxt/inference.py
Due: enforce-relative-imports

Fixed an issue with GraniteGuardian metric, and switched to a generic template.
  prepare/cards/safety/simple_safety_tests.py
  src/unitxt/catalog/cards/safety/simple_safety_tests.json
Due: enforce-library-imports

Removal of redundant steps
  prepare/cards/safety/mlcommons_ailuminate.py
  src/unitxt/catalog/cards/safety/mlcommons_ailuminate.json
Due: enforce-library-imports

Fix missing predictions and classification policy in evaluated dataset
  src/unitxt/metrics.py
Due: enforce-relative-imports

Updated to use metric as artifact and not string
  prepare/metrics/key_value_extraction.py
  src/unitxt/catalog/metrics/key_value_extraction/accuracy.json
  src/unitxt/catalog/metrics/key_value_extraction/token_overlap.json
  src/unitxt/metrics.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

Made inference_using_ibm_watsonx_ai work with env variables out of the box
  examples/inference_using_ibm_watsonx_ai.py
Due: enforce-library-imports

Fix a bug in loading without trust remote code
  src/unitxt/error_utils.py
  src/unitxt/loaders.py
Due: enforce-relative-imports

Fix bug in name conversion in rits
  src/unitxt/inference.py
  tests/inference/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

Add engine id
  src/unitxt/inference.py
Due: enforce-relative-imports

Add sacrebleu[ja] to test dependencies
  pyproject.toml
Due: none

update
  src/unitxt/loaders.py
Due: enforce-relative-imports

Improved output message when using inference cache
  src/unitxt/inference.py
Due: enforce-relative-imports

Fixed bug due to indentation change
  src/unitxt/inference.py
Due: enforce-relative-imports

Safer data_classification_policy handling
  src/unitxt/metrics.py
Due: enforce-relative-imports

update
  pyproject.toml
Due: none

Add default cache folder to .gitgnore
  .gitignore
Due: none

fix
  pyproject.toml
Due: none

Add default cache folder to .gitgnore (#1687)
  .gitignore
Due: none

Fix a bug in loading without trust remote code (#1684)
  src/unitxt/error_utils.py
  src/unitxt/loaders.py
Due: enforce-relative-imports

fix
  .github/workflows/inference_tests.yml
Due: none

Let evaluator name to be a string
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

Removed warning of legacy name.
  examples/inference_using_ibm_watsonx_ai.py
Due: enforce-library-imports

Add sacrebleu[ja] to test dependencies (#1685)
  pyproject.toml
Due: none

Momentary fix of 'CriteriaWithOptions is not JSON serializable'
  src/unitxt/schema.py
Due: enforce-relative-imports

Use greedy decoding and remove redundant cache
  src/unitxt/inference.py
  tests/inference/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

Let llm judge evaluator name to be a string (#1665)
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports
