Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

Update version to 1.26.4 (#1876)
  src/unitxt/version.py
Due: enforce-relative-imports

format
  src/unitxt/api.py
  src/unitxt/catalog/cards/xlam_function_calling_60k.json
Due: enforce-relative-imports

normalize to_dict of simple tyes, like re.DOTALL, and speed test_preparation
  .github/workflows/catalog_preparation.yml
  src/unitxt/dataclass.py
Due: enforce-relative-imports

fixed jsonschema programatically, with python string operations. can now read through the whole recipe output
  prepare/cards/xlam_function_calling.py
  src/unitxt/catalog/cards/xlam_function_calling_60k.json
  src/unitxt/operators.py
Due: enforce-relative-imports, enforce-library-imports

Allow using python functions instead of operators (e.g in pre-processing pipeline)
  docs/catalog.py
  docs/docs/adding_dataset.rst
  docs/docs/adding_operator.rst
  prepare/cards/xlam_function_calling.py
  src/unitxt/api.py
  src/unitxt/artifact.py
  src/unitxt/catalog.py
  src/unitxt/catalog/cards/xlam_function_calling_60k.json
  src/unitxt/inference.py
  src/unitxt/llm_as_judge_from_template.py
  src/unitxt/operators.py
  src/unitxt/test_utils/artifact.py
  src/unitxt/test_utils/card.py
  src/unitxt/text_utils.py
  src/unitxt/utils.py
  tests/library/test_function_operators.py
Due: enforce-relative-imports, enforce-library-imports

combine the fix of jsonschema with that needed for bfcl
  prepare/cards/bfcl.py
  prepare/cards/xlam_function_calling.py
  src/unitxt/catalog/cards/bfcl/multi_turn/java_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/javascript_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_irrelevance_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_parallel_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_parallel_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_relevance_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_simple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/parallel_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/parallel_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/simple_v3.json
  src/unitxt/catalog/cards/bfcl/simple_v3.json
  src/unitxt/catalog/cards/xlam_function_calling_60k.json
  src/unitxt/operators.py
Due: enforce-relative-imports, enforce-library-imports

last touches in bfcl, reviewing whole datasets
  docs/docs/adding_operator.rst
  prepare/cards/bfcl.py
  src/unitxt/catalog/cards/bfcl/multi_turn/java_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/javascript_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_parallel_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_parallel_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_simple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/parallel_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/parallel_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/simple_v3.json
  src/unitxt/operators.py
Due: enforce-relative-imports, enforce-library-imports

prepare all artifacts from prepare files
  .github/workflows/catalog_consistency.yml
  prepare/tasks/qa/tasks.py
  src/unitxt/artifact.py
  utils/check_catalog_consistency.py
  utils/prepare_all_artifacts.py
Due: enforce-relative-imports, enforce-library-imports

Fix turl
  prepare/cards/turl_col_type.py
  src/unitxt/catalog/cards/turl_col_type.json
  src/unitxt/loaders.py
Due: enforce-relative-imports, enforce-library-imports

Add backward compatability for lower datasets versions
  pyproject.toml
  src/unitxt/loaders.py
  src/unitxt/operator.py
  src/unitxt/utils.py
  tests/library/test_utils.py
Due: enforce-relative-imports, enforce-library-imports

try to run all cards through all their datasets
  .github/workflows/catalog_consistency.yml
  .github/workflows/catalog_preparation.yml
  .github/workflows/docs.yml
  .github/workflows/examples_tests.yml
  .github/workflows/inference_tests.yml
  .github/workflows/library_eager_execution_tests.yml
  .github/workflows/library_tests.yml
  .github/workflows/performance.yml
  .github/workflows/test_helm.yml
  src/unitxt/catalog.py
  tests/catalog/test_preparation.py
Due: enforce-relative-imports, enforce-library-imports

go modulo by modulo because the github log does not remember from beginning
  tests/catalog/test_preparation.py
Due: enforce-library-imports

modulo 12 == 1
  .github/workflows/catalog_preparation.yml
  tests/catalog/test_preparation.py
Due: enforce-library-imports

modulo 12 == 2
  .github/workflows/catalog_preparation.yml
  tests/catalog/test_preparation.py
Due: enforce-library-imports

modulo 12 == 3
  .github/workflows/catalog_preparation.yml
  tests/catalog/test_preparation.py
Due: enforce-library-imports

stam
  tests/catalog/test_preparation.py
Due: enforce-library-imports

modulo 12 == 4
  .github/workflows/catalog_preparation.yml
  tests/catalog/test_preparation.py
Due: enforce-library-imports

wip
  tests/catalog/test_preparation.py
Due: enforce-library-imports

Some updates
  examples/evaluate_speech_recognition.py
  examples/evaluate_speech_recognition_benchmark.py
  src/unitxt/catalog/benchmarks/speech_recognition.json
  src/unitxt/metric_utils.py
Due: enforce-relative-imports, enforce-library-imports

Comment out subset in benchmark
  examples/evaluate_speech_recognition_benchmark.py
Due: enforce-library-imports

Add fluers
  prepare/cards/fleures.py
  prepare/tasks/translation/speech.py
  prepare/templates/translation/speech.py
  src/unitxt/catalog/cards/fleurs/de_de.json
  src/unitxt/catalog/cards/fleurs/en_us.json
  src/unitxt/catalog/cards/fleurs/es_419.json
  src/unitxt/catalog/cards/fleurs/fr_fr.json
  src/unitxt/catalog/cards/fleurs/it_it.json
  src/unitxt/catalog/cards/fleurs/ja_jp.json
  src/unitxt/catalog/cards/fleurs/pt_br.json
  src/unitxt/catalog/tasks/translation/speech.json
  src/unitxt/catalog/templates/translation/speech/default.json
Due: enforce-library-imports

all mod 3 but rag
  tests/catalog/test_preparation.py
Due: enforce-library-imports

modulo 12 == 5
  .github/workflows/catalog_preparation.yml
  .github/workflows/quality.yml
  tests/catalog/test_preparation.py
Due: enforce-library-imports

modulo 12 = 5, no doc_vqa
  src/unitxt/catalog.py
  tests/catalog/test_preparation.py
Due: enforce-relative-imports, enforce-library-imports

modulo 12 == 6
  .github/workflows/catalog_preparation.yml
  tests/catalog/test_preparation.py
Due: enforce-library-imports

modulo 12 == 7
  .github/workflows/catalog_preparation.yml
  tests/catalog/test_preparation.py
Due: enforce-library-imports

modulo 12 == 8
  .github/workflows/catalog_preparation.yml
  tests/catalog/test_preparation.py
Due: enforce-library-imports

wip, last 3 of mod == 8
  tests/catalog/test_preparation.py
Due: enforce-library-imports

modulo 12 == 9
  .github/workflows/catalog_preparation.yml
  tests/catalog/test_preparation.py
Due: enforce-library-imports

modulo 12 == 10
  .github/workflows/catalog_preparation.yml
  tests/catalog/test_preparation.py
Due: enforce-library-imports

mod 10 no bfcl
  tests/catalog/test_preparation.py
Due: enforce-library-imports

10 mod 12, without cohere_ai
  tests/catalog/test_preparation.py
Due: enforce-library-imports

mod 12=10, no cohere_ai, no info_vqa
  tests/catalog/test_preparation.py
Due: enforce-library-imports

mod 12=10, no cohere_ai, no info_vqa, no bfcl
  tests/catalog/test_preparation.py
Due: enforce-library-imports

mod 12=10, no cohere_ai, no info_vqa, no bfcl, no airbench
  tests/catalog/test_preparation.py
Due: enforce-library-imports

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils|unitxt/assistant/.*)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
