Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]
        exclude: src/unitxt/metrics.py
      # Run the linter on the specific file with the ignore flag
      - id: ruff
        name: ruff (src/unitxt/metrics.py)
        files: src/unitxt/metrics.py
        args: [--fix, --ignore, C901]
      # Run the formatter
      - id: ruff-format

  - repo: https://github.com/ibm/detect-secrets
    # If you desire to use a specific version of detect-secrets, you can replace `master` with other git revisions such as branch, tag or commit sha.
    # You are encouraged to use static refs such as tags, instead of branch name
    #
    # Running "pre-commit autoupdate" automatically updates rev to latest tag
    rev: 0.13.1+ibm.61.dss
    hooks:
      - id: detect-secrets # pragma: whitelist secret
        # Add options for detect-secrets-hook binary. You can run `detect-secrets-hook --help` to list out all possible options.
        # You may also run `pre-commit run detect-secrets` to preview the scan result.
        # when "--baseline" without "--use-all-plugins", pre-commit scan with just plugins in baseline file
        # when "--baseline" with "--use-all-plugins", pre-commit scan with all available plugins
        # add "--fail-on-unaudited" to fail pre-commit for unaudited potential secrets
        args: [--baseline, .secrets.baseline, --use-all-plugins, --fail-on-unaudited]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

Add metrics.string_containment.ratio
  .secrets.baseline
  prepare/metrics/string_containment.py
  src/unitxt/catalog/metrics/string_containment/ratio.json
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

move rag context correctness metrics tests to test_metrics.py
  prepare/metrics/rag_context_correctness.py
  tests/library/test_metrics.py
Due: enforce-library-imports

Remove import pkg_resources from utils
  src/unitxt/utils.py
Due: enforce-relative-imports

Moved check of missing requirement to prepare from verify.
  src/unitxt/operator.py
Due: enforce-relative-imports

Improved erorr messages on unitxt conflcit
  src/unitxt/hf_utils.py
Due: none

Remove import pkg_resources from utils (#1093)
  src/unitxt/hf_utils.py
  src/unitxt/operator.py
  src/unitxt/utils.py
Due: enforce-relative-imports

Update version to 1.12.2
  src/unitxt/version.py
Due: enforce-relative-imports

Update version to 1.12.2 (#1094)
  src/unitxt/version.py
Due: enforce-relative-imports

Update loading_datasets.rst - - - copy edits (#1088)
  docs/docs/loading_datasets.rst
Due: none

what does eagering do to helm and preparation
  src/unitxt/settings_utils.py
Due: enforce-relative-imports

Update adding_format.rst ---- copy edits (grammar, consistency, clarity)
  docs/docs/adding_format.rst
Due: none

Update adding_task.rst ---- copy edits (grammar, consistency, clarity)
  docs/docs/adding_task.rst
Due: none

Update adding_template.rst ---- copy edits (grammar, consistency, clarity)
  docs/docs/adding_template.rst
Due: none

Update evaluating_datasets.rst ---- copy edits (grammar, consistency, clarity)
  docs/docs/evaluating_datasets.rst
Due: none

Update installation.rst ---- copy edits (grammar, consistency, clarity)
  docs/docs/installation.rst
Due: none

Update introduction.rst ---- copy edits (grammar, consistency, clarity)
  docs/docs/introduction.rst
Due: none

Update loading_datasets.rst ---- copy edits (grammar, consistency, clarity)
  docs/docs/loading_datasets.rst
Due: none

Update loading_datasets.rst ---- copy edits (grammar, consistency, cl… (#1102)
  docs/docs/loading_datasets.rst
Due: none

Update introduction.rst ---- copy edits (grammar, consistency, clarity) (#1101)
  docs/docs/introduction.rst
Due: none

Update installation.rst ---- copy edits (grammar, consistency, clarity) (#1100)
  docs/docs/installation.rst
Due: none

Update adding_format.rst ---- copy edits (grammar, consistency, clarity) (#1096)
  docs/docs/adding_format.rst
Due: none

Update docs/docs/adding_task.rst
  docs/docs/adding_task.rst
Due: none

Update adding_task.rst ---- copy edits (grammar, consistency, clarity) (#1097)
  docs/docs/adding_task.rst
Due: none

Update adding_template.rst ---- copy edits (grammar, consistency, cla… (#1098)
  docs/docs/adding_template.rst
Due: none

Update evaluating_datasets.rst ---- copy edits (grammar, consistency,… (#1099)
  docs/docs/evaluating_datasets.rst
Due: none

Implement StringContainmentRatio
  .secrets.baseline
  prepare/metrics/string_containment.py
  src/unitxt/catalog/metrics/string_containment/ratio.json
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

Simplify HF vs Direct APIs
  src/unitxt/dataset.py
  src/unitxt/hf_utils.py
  src/unitxt/metric.py
Due: none

feat: LLMaJ as result checker
  prepare/metrics/llm_as_judge/rating/llama_3_ibm_genai_mixeval_multiple_choice_template.py
  prepare/templates/response_assessment/rating/mixeval_multi_choice_parser.py
  src/unitxt/catalog/metrics/llm_as_judge/rating/llama_3_70b_instruct_ibm_genai_template_mixeval_multi_choice_parser.json
  src/unitxt/catalog/templates/response_assessment/rating/mixeval_multi_choice_parser.json
Due: enforce-library-imports

separating rag metrics and adding bge metrics.
  prepare/metrics/rag.py
  prepare/metrics/rag_answer_correctness.py
  prepare/metrics/rag_answer_relevance.py
  prepare/metrics/rag_context_relevance.py
  prepare/metrics/rag_faithfulness.py
Due: enforce-library-imports

Update prepare/metrics/string_containment.py
  prepare/metrics/string_containment.py
Due: enforce-library-imports

DeepSeek-Coder format and system prompt
  examples/evaluate_different_formats.py
  prepare/formats/models/deepseek_coder.py
  prepare/system_prompts/models/deepseek_coder.py
  src/unitxt/catalog/formats/deepseek_coder.json
  src/unitxt/catalog/system_prompts/models/deepseek_coder.json
Due: enforce-library-imports

Make field required
  .secrets.baseline
  prepare/metrics/string_containment.py
  src/unitxt/catalog/metrics/string_containment_ratio.json
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

updates
  prepare/metrics/rag_answer_correctness.py
  prepare/metrics/rag_context_relevance.py
  prepare/metrics/rag_faithfulness.py
  src/unitxt/catalog/metrics/rag/answer_correctness/bert_score_recall.json
  src/unitxt/catalog/metrics/rag/answer_correctness/bert_score_recall_ml.json
  src/unitxt/catalog/metrics/rag/answer_correctness/sentence_bert.json
  src/unitxt/catalog/metrics/rag/answer_correctness/token_recall.json
  src/unitxt/catalog/metrics/rag/context_relevance/perplexity.json
  src/unitxt/catalog/metrics/rag/context_relevance/sentence_bert.json
  src/unitxt/catalog/metrics/rag/faithfulness/bert_score_k_precision.json
  src/unitxt/catalog/metrics/rag/faithfulness/bert_score_k_precision_ml.json
  src/unitxt/catalog/metrics/rag/faithfulness/sentence_bert.json
  src/unitxt/catalog/metrics/rag/faithfulness/token_k_precision.json
Due: enforce-library-imports

updates
  prepare/metrics/rag.py
  src/unitxt/catalog/metrics/rag/bert_k_precision.json
  src/unitxt/catalog/metrics/rag/bert_k_precision_ml.json
  src/unitxt/catalog/metrics/rag/bert_recall.json
  src/unitxt/catalog/metrics/rag/bert_recall_ml.json
  src/unitxt/catalog/metrics/rag/k_precision.json
  src/unitxt/catalog/metrics/sentence_bert/bge_large_en_1_5.json
Due: enforce-library-imports

updates
  src/unitxt/catalog/metrics/rag/recall.json
Due: none

updates
  prepare/metrics/rag_answer_correctness.py
  prepare/metrics/rag_context_relevance.py
  prepare/metrics/rag_faithfulness.py
  src/unitxt/catalog/metrics/rag/answer_correctness/sentence_bert.json
  src/unitxt/catalog/metrics/rag/context_relevance/sentence_bert.json
  src/unitxt/catalog/metrics/rag/faithfulness/sentence_bert.json
Due: enforce-library-imports

Remove unsupported annotation
  src/unitxt/metrics.py
Due: enforce-relative-imports

Update src/unitxt/metrics.py
  src/unitxt/metrics.py
Due: enforce-relative-imports

Delete src/unitxt/catalog/metrics/string_containment/ratio.json
  src/unitxt/catalog/metrics/string_containment/ratio.json
Due: none

Added error message check
  src/unitxt/metrics.py
Due: enforce-relative-imports
