Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]
        exclude: src/unitxt/metrics.py|examples/evaluate_existing_dataset_no_install.py
      # Run the linter on the specific file with the ignore flag
      - id: ruff
        name: ruff (src/unitxt/metrics.py)
        files: src/unitxt/metrics.py
        args: [--fix, --ignore, C901]
      # Run the linter on the specific file with the ignore flag
      - id: ruff
        name: ruff (examples/evaluate_existing_dataset_no_install.py)
        files: examples/evaluate_existing_dataset_no_install.py
        args: [--fix, --ignore, T201]
      # Run the formatter
      - id: ruff-format

  - repo: https://github.com/ibm/detect-secrets
    # If you desire to use a specific version of detect-secrets, you can replace `master` with other git revisions such as branch, tag or commit sha.
    # You are encouraged to use static refs such as tags, instead of branch name
    #
    # Running "pre-commit autoupdate" automatically updates rev to latest tag
    rev: 0.13.1+ibm.61.dss
    hooks:
      - id: detect-secrets # pragma: whitelist secret
        # Add options for detect-secrets-hook binary. You can run `detect-secrets-hook --help` to list out all possible options.
        # You may also run `pre-commit run detect-secrets` to preview the scan result.
        # when "--baseline" without "--use-all-plugins", pre-commit scan with just plugins in baseline file
        # when "--baseline" with "--use-all-plugins", pre-commit scan with all available plugins
        # add "--fail-on-unaudited" to fail pre-commit for unaudited potential secrets
        args: [--baseline, utils/.secrets.baseline, --use-all-plugins, --fail-on-unaudited]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

add GPT rubric evaluator
  examples/evaluate_eval_assist.py
  examples/evaluate_eval_assist_rubric.py
  prepare/metrics/llm_as_judge/eval_assist.py
  prepare/metrics/llm_as_judge/templates_eval_assist.py
  src/unitxt/api.py
  src/unitxt/evalassist_llm_as_judge.py
  src/unitxt/inference.py
Due: enforce-relative-imports, enforce-library-imports

update input fields in pairwise example
  examples/evaluate_eval_assist_pairwise_criteria.py
Due: enforce-library-imports

add pairwise criteria in preprocess_step
  examples/evaluate_eval_assist.py
  examples/evaluate_eval_assist_pairwise_criteria.py
Due: enforce-library-imports

add catalog for pairwise metrics
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/criterias/factually_consistent.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/criterias/inclusivity.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/criterias/temperature.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/llama_70b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/llama_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/mixtral.json
Due: none

eval assist pairwise now gets model name from constants to register to catalog
  examples/evaluate_eval_assist_pairwise.py
  examples/evaluate_eval_assist_pairwise_criteria.py
  prepare/metrics/llm_as_judge/eval_assist_pairwise.py
  prepare/metrics/llm_as_judge/templates_eval_assist.py
  prepare/metrics/llm_as_judge/templates_eval_assist_pairwise.py
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/llama3_70b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/llama3_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/mixtral_8_7b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/prometheus_8_7b.json
  src/unitxt/eval_assist_constants.py
  src/unitxt/evalassist_llm_as_judge_direct.py
  src/unitxt/evalassist_llm_as_judge_pairwise.py
Due: enforce-relative-imports, enforce-library-imports

add gpt to the catalog
  examples/eval_assist_demo.ipynb
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/gpt.json
Due: none

add pairwiseEvaluator as EvalAssistLLMAsJudgePairwise
  examples/evaluate_eval_assist_pairwise.py
  examples/evaluate_eval_assist_pairwise_criteria.py
  prepare/metrics/llm_as_judge/eval_assist_pairwise.py
  prepare/metrics/llm_as_judge/templates_eval_assist_pairwise.py
  src/unitxt/evalassist_llm_as_judge_pairwise.py
Due: enforce-relative-imports, enforce-library-imports

Use empty template in example cards
  examples/evaluate_eval_assist_direct_predefined_criteria.py
  examples/evaluate_eval_assist_direct_user_criteria.py
  examples/evaluate_eval_assist_pairwise_predefined_criteria.py
  examples/evaluate_eval_assist_pairwise_user_criteria.py
Due: enforce-library-imports

Renamed eval_assist to eval_assist_direct and also using constants to create direct assessment evaluators
  examples/evaluate_eval_assist_direct.py
  prepare/metrics/llm_as_judge/eval_assist.py
  prepare/metrics/llm_as_judge/eval_assist_direct.py
  prepare/metrics/llm_as_judge/rubrics_eval_assist.py
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/gpt_4o.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/llama3_70b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/llama3_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/llama_70b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/mixtral_8_7b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/prometheus_8_7b.json
  src/unitxt/eval_assist_constants.py
  src/unitxt/evalassist_llm_as_judge_direct.py
Due: enforce-relative-imports, enforce-library-imports

Add rubrics and criterias as Enums
  prepare/metrics/llm_as_judge/eval_assist_direct.py
  prepare/metrics/llm_as_judge/eval_assist_pairwise.py
  src/unitxt/eval_assist_constants.py
Due: enforce-relative-imports, enforce-library-imports

Add GPT Pairwise evaluator
  examples/evaluate_eval_assist_direct.py
  examples/evaluate_eval_assist_pairwise.py
  examples/evaluate_eval_assist_pairwise_criteria.py
  examples/evaluate_eval_assist_rubric.py
  prepare/metrics/llm_as_judge/eval_assist_direct.py
  prepare/metrics/llm_as_judge/eval_assist_pairwise.py
  prepare/metrics/llm_as_judge/templates_eval_assist_pairwise.py
  src/unitxt/eval_assist_constants.py
  src/unitxt/evalassist_llm_as_judge_pairwise.py
  src/unitxt/formats.py
  src/unitxt/inference.py
Due: enforce-relative-imports, enforce-library-imports

Rename context variable in examples
  examples/evaluate_eval_assist_direct_predefined_criteria.py
  examples/evaluate_eval_assist_direct_user_criteria.py
  examples/evaluate_eval_assist_pairwise_predefined_criteria.py
  examples/evaluate_eval_assist_pairwise_user_criteria.py
Due: enforce-library-imports

Update EvalAssistLLMasJudge
  examples/evaluate_eval_assist_rubric.py
  prepare/metrics/llm_as_judge/eval_assist.json
  prepare/metrics/llm_as_judge/eval_assist.py
  prepare/metrics/llm_as_judge/rubrics_eval_assist.py
  prepare/metrics/llm_as_judge/templates_eval_assist.py
  src/unitxt/evalassist_llm_as_judge.py
Due: enforce-relative-imports, enforce-library-imports

Adapt evaluators and examples context to be a dict instead of a str
  examples/evaluate_eval_assist_direct_predefined_criteria.py
  examples/evaluate_eval_assist_direct_user_criteria.py
  examples/evaluate_eval_assist_pairwise_predefined_criteria.py
  examples/evaluate_eval_assist_pairwise_user_criteria.py
  src/unitxt/eval_assist_utils.py
  src/unitxt/evalassist_llm_as_judge_direct.py
  src/unitxt/evalassist_llm_as_judge_pairwise.py
Due: enforce-relative-imports, enforce-library-imports

update eval_assist_cinstant
  src/unitxt/eval_assist_constants.py
Due: enforce-relative-imports

remove unused variable
  src/unitxt/inference.py
Due: enforce-relative-imports

update example evaluate_aval_assist_rubric
  examples/evaluate_eval_assist_rubric.py
Due: enforce-library-imports

update catalog for eval assist
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/gpt_4o.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/granite_20b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/llama3_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/mixtral_8_7b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/prometheus_8_7b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/rubrics/harmfulness.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/gpt_4o.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/llama3_70b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/llama3_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/mixtral_8_7b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/prometheus_8_7b.json
Due: none

Pass Rubric dynamically
  examples/evaluate_eval_assist_rubric.py
Due: enforce-library-imports

rename eval assist's example files
  examples/evaluate_eval_assist_direct_predefined_criteria.py
  examples/evaluate_eval_assist_direct_user_criteria.py
  examples/evaluate_eval_assist_pairwise_predefined_criteria.py
  examples/evaluate_eval_assist_pairwise_user_criteria.py
Due: enforce-library-imports

Improve criteria parsing and classes
  prepare/metrics/llm_as_judge/eval_assist.py
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/criterias/answer_relevance.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/criterias/coherence.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/criterias/conciseness.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/criterias/harmfulness.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/criterias/insensitivity.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/criterias/manipulative.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/criterias/temperature.json
  src/unitxt/eval_assist_constants.py
  src/unitxt/evalassist_llm_as_judge_direct.py
  src/unitxt/evalassist_llm_as_judge_pairwise.py
Due: enforce-relative-imports, enforce-library-imports

update catalog for direct assessment metric
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/granite.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/llama_70b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/llama_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/mixtral.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/prometheus.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/rubrics/answer.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/rubrics/coherence.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/rubrics/conciseness.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/rubrics/harmfulness.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/rubrics/insensitivity.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/rubrics/manipulative.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/rubrics/temperature.json
Due: none

evalassist metric initial changes
  examples/evaluate_eval_assist.py
  prepare/metrics/llm_as_judge/eval_assist.json
  prepare/metrics/llm_as_judge/eval_assist.py
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/prompt_templates/mixtral/answer.jinja
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/prompt_templates/mixtral/assessment.jinja
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/prompt_templates/mixtral/summarization.jinja
  src/unitxt/evalassist_llm_as_judge.py
Due: enforce-relative-imports, enforce-library-imports

Rename evalassist to eval_assist as in other files
  prepare/metrics/llm_as_judge/eval_assist.py
  src/unitxt/eval_assist_llm_as_judge_direct.py
  src/unitxt/eval_assist_llm_as_judge_pairwise.py
Due: enforce-relative-imports, enforce-library-imports

Fixed registering eval assist to catalog. Eval assist now generates assessment and summary for hardcoded prompts
  examples/evaluate_eval_assist.py
  prepare/metrics/llm_as_judge/eval_assist.py
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/granite.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/llama_70b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/llama_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/mixtral.json
  src/unitxt/evalassist_llm_as_judge.py
Due: enforce-relative-imports, enforce-library-imports

Make watsonx infer call concurrent
  src/unitxt/inference.py
Due: enforce-relative-imports

Add prometheus in catalog
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/prometheus.json
Due: none

add GPT rubric evaluator
  src/unitxt/inference.py
Due: enforce-relative-imports

Add prometheus model for pairwise
  examples/evaluate_eval_assist_pairwise_criteria.py
  prepare/metrics/llm_as_judge/eval_assist_pairwise.py
  prepare/metrics/llm_as_judge/templates_eval_assist_pairwise.py
  src/unitxt/evalassist_llm_as_judge_pairwise.py
Due: enforce-relative-imports, enforce-library-imports

Removed unncessary template files
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/prompt_templates/mixtral/answer.jinja
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/prompt_templates/mixtral/assessment.jinja
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/prompt_templates/mixtral/summarization.jinja
Due: none

Changes after running pre-commit
  examples/evaluate_eval_assist_direct_user_criteria.py
  examples/evaluate_eval_assist_pairwise_predefined_criteria.py
  examples/evaluate_existing_dataset_by_llm_as_judge_eval_assist.py
  prepare/metrics/llm_as_judge/eval_assist.py
  src/unitxt/eval_assist_constants.py
  src/unitxt/eval_assist_llm_as_judge.py
  src/unitxt/eval_assist_llm_as_judge_direct.py
  src/unitxt/eval_assist_llm_as_judge_pairwise.py
  src/unitxt/eval_assist_utils.py
  src/unitxt/inference.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Fix examples
  examples/evaluate_eval_assist_credentials.py
  examples/evaluate_eval_assist_direct_predefined_criteria.py
  examples/evaluate_eval_assist_direct_user_criteria.py
  examples/evaluate_eval_assist_pairwise_predefined_criteria.py
  examples/evaluate_eval_assist_pairwise_user_criteria.py
  examples/evaluate_llm_as_judge.py
Due: enforce-library-imports

remove .mailmap
  .mailmap
Due: none

Add example of squad card
  examples/evaluate_existing_dataset_by_llm_as_judge_eval_assist.py
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/criterias/answer_relevance.json
  src/unitxt/eval_assist_constants.py
Due: enforce-relative-imports, enforce-library-imports

Add example for running evaluations on squad
  examples/evaluate_existing_dataset_by_llm_as_judge_eval_assist.py
Due: enforce-library-imports

Introduce context_fields and generate_summaries attributes
  examples/evaluate_eval_assist_credentials.py
  examples/evaluate_eval_assist_direct_predefined_criteria.py
  examples/evaluate_eval_assist_direct_user_criteria.py
  examples/evaluate_eval_assist_direct_user_criteria_no_catalog.py
  examples/evaluate_eval_assist_pairwise_predefined_criteria.py
  examples/evaluate_eval_assist_pairwise_user_criteria.py
  prepare/metrics/llm_as_judge/eval_assist.py
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/openai/gpt_4o.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/rits/llama3_1_405b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/rits/llama3_1_70b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/rits/llama3_1_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/rits/mixtral8_22b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/rits/mixtral8_7b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/rits/mixtral_large.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/watsonx/granite3_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/watsonx/granite_guardian_3_0_2b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/watsonx/granite_guardian_3_0_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/watsonx/llama3_1_405b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/watsonx/llama3_1_70b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/watsonx/llama3_1_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/watsonx/mixtral8_7b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/watsonx/mixtral_large.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise_comparison/openai/gpt_4o.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise_comparison/rits/llama3_1_405b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise_comparison/rits/llama3_1_70b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise_comparison/rits/llama3_1_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise_comparison/rits/mixtral8_22b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise_comparison/rits/mixtral8_7b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise_comparison/rits/mixtral_large.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise_comparison/watsonx/granite3_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise_comparison/watsonx/granite_guardian_3_0_2b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise_comparison/watsonx/granite_guardian_3_0_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise_comparison/watsonx/llama3_1_405b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise_comparison/watsonx/llama3_1_70b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise_comparison/watsonx/llama3_1_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise_comparison/watsonx/mixtral8_7b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise_comparison/watsonx/mixtral_large.json
  src/unitxt/eval_assist_llm_as_judge.py
  src/unitxt/eval_assist_llm_as_judge_direct.py
  src/unitxt/eval_assist_llm_as_judge_pairwise.py
Due: enforce-relative-imports, enforce-library-imports

Suggested python based approach for user criteria
  examples/evaluate_eval_assist_direct_user_criteria_new.py
  pyproject.toml
Due: enforce-library-imports

Clean unused files
  examples/evaluate_llm_as_judge.py
  prepare/engines/inference_engines.py
  prepare/metrics/llm_as_judge/eval_assist.py
  src/unitxt/catalog/engines/cross_provider.json
  src/unitxt/catalog/engines/ibm_genai.json
  src/unitxt/catalog/engines/litellm.json
  src/unitxt/catalog/engines/mock_inference_engine.json
  src/unitxt/catalog/engines/ollama.json
  src/unitxt/catalog/engines/openai.json
  src/unitxt/catalog/engines/rits.json
  src/unitxt/catalog/engines/together.json
  src/unitxt/catalog/engines/vllm.json
  src/unitxt/catalog/engines/wml.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise_comparison.json
  src/unitxt/templates.py
Due: enforce-relative-imports, enforce-library-imports
