Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]
        exclude: src/unitxt/metrics.py
      # Run the linter on the specific file with the ignore flag
      - id: ruff
        name: ruff (src/unitxt/metrics.py)
        files: src/unitxt/metrics.py
        args: [--fix, --ignore, C901]
      # Run the formatter
      - id: ruff-format

  - repo: https://github.com/ibm/detect-secrets
    # If you desire to use a specific version of detect-secrets, you can replace `master` with other git revisions such as branch, tag or commit sha.
    # You are encouraged to use static refs such as tags, instead of branch name
    #
    # Running "pre-commit autoupdate" automatically updates rev to latest tag
    rev: 0.13.1+ibm.61.dss
    hooks:
      - id: detect-secrets # pragma: whitelist secret
        # Add options for detect-secrets-hook binary. You can run `detect-secrets-hook --help` to list out all possible options.
        # You may also run `pre-commit run detect-secrets` to preview the scan result.
        # when "--baseline" without "--use-all-plugins", pre-commit scan with just plugins in baseline file
        # when "--baseline" with "--use-all-plugins", pre-commit scan with all available plugins
        # add "--fail-on-unaudited" to fail pre-commit for unaudited potential secrets
        args: [--baseline, .secrets.baseline, --use-all-plugins, --fail-on-unaudited]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

Improved error messages and doc of post processors
  docs/docs/adding_template.rst
  src/unitxt/error_utils.py
  src/unitxt/processors.py
  src/unitxt/split_utils.py
  src/unitxt/templates.py
Due: enforce-relative-imports

improved doc
  docs/docs/adding_template.rst
Due: none

Update
  pyproject.toml
Due: none

Fix
  pyproject.toml
Due: none

add score name prefix for judge_raw_output/input in llmaj metric (#1323)
  src/unitxt/llm_as_judge.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

Fix pyproject.toml to be standalone and comply with modern standards (#1324)
  .gitattributes
  .github/workflows/hub.yml
  .github/workflows/quality.yml
  MANIFEST.in
  pyproject.toml
  requirements/base.rqr
  requirements/dev.rqr
  requirements/docs.rqr
  requirements/helm.rqr
  requirements/service.rqr
  requirements/tests.rqr
  requirements/ui.rqr
  requirements/watsonx.rqr
  setup.py
  src/unitxt/settings_utils.py
  version.py
Due: enforce-relative-imports, enforce-library-imports

Update error checking and documentation of processors (#1325)
  docs/docs/adding_template.rst
  src/unitxt/error_utils.py
  src/unitxt/processors.py
  src/unitxt/split_utils.py
  src/unitxt/templates.py
Due: enforce-relative-imports

Evaluation results class for easier access to results
  src/unitxt/metric_utils.py
Due: enforce-relative-imports

fixes to genai and mock inference
  src/unitxt/inference.py
Due: enforce-relative-imports

fix processor bug Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/processors/processors.py
  src/unitxt/catalog/processors/cast_to_float_return_0_5_if_failed.json
Due: enforce-library-imports

adding generic inference binary+idk judges (#1316)
  prepare/metrics/llm_as_judge/binary_judge.py
  prepare/metrics/llm_as_judge/conversation_idk.py
  prepare/processors/processors.py
  src/unitxt/catalog/metrics/llm_as_judge/binary/generic_inference_engine_answer_correctness_q_a_gt_loose.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/generic_inference_engine_answer_correctness_q_a_gt_strict.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/generic_inference_engine_answer_relevance_q_a.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/generic_inference_engine_context_relevance_q_c_ares.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/generic_inference_engine_correctness_holistic_q_c_a.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/generic_inference_engine_faithfulness_c_a.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/generic_inference_engine_faithfulness_q_c_a.json
  src/unitxt/catalog/metrics/llm_as_judge/conversation_answer_idk/generic_inference_engine_judges.json
  src/unitxt/catalog/processors/cast_to_float_return_0_5_if_failed.json
Due: enforce-library-imports

Add table augmenters
  prepare/augmentors/table_augmenters.py
  src/unitxt/augmentors.py
  src/unitxt/catalog/augmentors/table/duplicate_columns.json
  src/unitxt/catalog/augmentors/table/duplicate_rows.json
  src/unitxt/catalog/augmentors/table/insert_empty_rows.json
  src/unitxt/catalog/augmentors/table/transpose.json
  src/unitxt/metrics.py
  src/unitxt/operator.py
  src/unitxt/ui/__init__.py
  tests/library/test_augmentors.py
  tests/library/test_loaders.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Make augmenter also a list
  src/unitxt/standard.py
Due: enforce-relative-imports

Add table augmentors (#1328)
  prepare/augmentors/table_augmenters.py
  src/unitxt/augmentors.py
  src/unitxt/catalog/augmentors/table/duplicate_columns.json
  src/unitxt/catalog/augmentors/table/duplicate_rows.json
  src/unitxt/catalog/augmentors/table/insert_empty_rows.json
  src/unitxt/catalog/augmentors/table/transpose.json
  src/unitxt/metrics.py
  src/unitxt/operator.py
  src/unitxt/standard.py
  src/unitxt/ui/__init__.py
  tests/library/test_augmentors.py
  tests/library/test_loaders.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

All recipes in the banchmark use the same loader
  examples/robustness_testing_for_vision_text_models.py
Due: enforce-library-imports

Shared class level cache for loaders/demos_pools
  tests/utils.py
Due: enforce-library-imports

Shared class level cache for loaders/demos_pools
  src/unitxt/artifact.py
  src/unitxt/generator_utils.py
  src/unitxt/loaders.py
  src/unitxt/operators.py
  src/unitxt/settings_utils.py
  src/unitxt/splitters.py
  src/unitxt/standard.py
  src/unitxt/utils.py
Due: enforce-relative-imports

Update Kaggle loader
  src/unitxt/loaders.py
Due: enforce-relative-imports

Access cache trough class for better code readability
  src/unitxt/loaders.py
Due: enforce-relative-imports

add task rag.response_generation_with_wml_llmaj Signed-off-by: lilacheden <lilach.edel@gmail.com>
  prepare/tasks/rag/response_generation_with_llmaj.py
  src/unitxt/catalog/tasks/rag/response_generation_with_wml_llmaj.json
Due: enforce-library-imports

Fix
  src/unitxt/artifact.py
Due: enforce-relative-imports

Update types of main functions
  src/unitxt/loaders.py
Due: enforce-relative-imports

FIx
  src/unitxt/loaders.py
  src/unitxt/metric_utils.py
Due: enforce-relative-imports

move binary rag llmaj metrics to metrics.rag
  examples/evaluate_rag_using_binary_llm_as_judge.py
  prepare/metrics/llm_as_judge/binary_judge.py
  src/unitxt/catalog/metrics/rag/answer_correctness/generic_inference_engine_q_a_gt_loose.json
  src/unitxt/catalog/metrics/rag/answer_correctness/generic_inference_engine_q_a_gt_strict.json
  src/unitxt/catalog/metrics/rag/answer_correctness/llama_3_1_70b_instruct_wml_q_a_gt_loose.json
  src/unitxt/catalog/metrics/rag/answer_correctness/llama_3_1_70b_instruct_wml_q_a_gt_loose_logprobs.json
  src/unitxt/catalog/metrics/rag/answer_correctness/llama_3_1_70b_instruct_wml_q_a_gt_strict.json
  src/unitxt/catalog/metrics/rag/answer_correctness/llama_3_1_70b_instruct_wml_q_a_gt_strict_logprobs.json
  src/unitxt/catalog/metrics/rag/answer_relevance/generic_inference_engine_q_a.json
  src/unitxt/catalog/metrics/rag/answer_relevance/llama_3_1_70b_instruct_wml_q_a.json
  src/unitxt/catalog/metrics/rag/answer_relevance/llama_3_1_70b_instruct_wml_q_a_logprobs.json
  src/unitxt/catalog/metrics/rag/context_relevance/generic_inference_engine_q_c_ares.json
  src/unitxt/catalog/metrics/rag/context_relevance/llama_3_1_70b_instruct_wml_q_c_ares.json
  src/unitxt/catalog/metrics/rag/context_relevance/llama_3_1_70b_instruct_wml_q_c_ares_logprobs.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/generic_inference_engine_q_c_a.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/llama_3_1_70b_instruct_wml_q_c_a.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/llama_3_1_70b_instruct_wml_q_c_a_logprobs.json
  src/unitxt/catalog/metrics/rag/faithfulness/generic_inference_engine_c_a.json
  src/unitxt/catalog/metrics/rag/faithfulness/generic_inference_engine_q_c_a.json
  src/unitxt/catalog/metrics/rag/faithfulness/llama_3_1_70b_instruct_wml_c_a.json
  src/unitxt/catalog/metrics/rag/faithfulness/llama_3_1_70b_instruct_wml_c_a_logprobs.json
  src/unitxt/catalog/metrics/rag/faithfulness/llama_3_1_70b_instruct_wml_q_c_a.json
  src/unitxt/catalog/metrics/rag/faithfulness/llama_3_1_70b_instruct_wml_q_c_a_logprobs.json
Due: enforce-library-imports

added images support for inference with wml
  src/unitxt/image_operators.py
  src/unitxt/inference.py
  tests/inference/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

Add loaders cache (#1333)
  src/unitxt/generator_utils.py
  src/unitxt/loaders.py
  src/unitxt/metric_utils.py
  src/unitxt/operators.py
  src/unitxt/settings_utils.py
  src/unitxt/splitters.py
  src/unitxt/standard.py
  src/unitxt/utils.py
  tests/utils.py
Due: enforce-relative-imports, enforce-library-imports

Just moved the comma
  docs/docs/llm_as_judge.rst
Due: none

Allow turning single stream to dataset
  src/unitxt/stream.py
Due: enforce-relative-imports

A swifty PR suggested for issue #1332 (#1334)
  docs/docs/llm_as_judge.rst
Due: none

Add lite llm
  .github/workflows/inference_tests.yml
  prepare/formats/chat_api.py
  pyproject.toml
  src/unitxt/api.py
  src/unitxt/catalog/formats/chat_api.json
  src/unitxt/dataset.py
  src/unitxt/formats.py
  src/unitxt/inference.py
  src/unitxt/schema.py
  tests/inference/test_inference_engine.py
  tests/library/test_formats.py
  tests/library/test_hf_artifacts.py
Due: enforce-relative-imports, enforce-library-imports

Allow turning single stream to dataset (#1335)
  src/unitxt/stream.py
Due: enforce-relative-imports

Fix token
  .github/workflows/inference_tests.yml
Due: none

Update requirements for inference tests
  pyproject.toml
Due: none

more than one generator to a catalog file
  prepare/processors/processors.py
  utils/prepare_all_artifacts.py
Due: enforce-library-imports

polished logging message
  utils/prepare_all_artifacts.py
Due: enforce-library-imports

Update
  examples/evaluate_bluebench.py
  prepare/metrics/llm_as_judge/pairwise_rating/llama_3_arena_hard_template.py
  prepare/recipes/bluebench.py
  src/unitxt/api.py
  src/unitxt/catalog/metrics/llm_as_judge/pairwise_comparative_rating/llama_3_70b_instruct/watsonx/template_arena_hard.json
  src/unitxt/catalog/recipes/bluebench/chatbot_abilities/arena_hard_generation_english_gpt_4_0314_reference.json
  src/unitxt/inference.py
  src/unitxt/metrics.py
  src/unitxt/schema.py
  src/unitxt/settings_utils.py
  src/unitxt/standard.py
  src/unitxt/stream.py
  tests/examples/test_examples.py
  tests/inference/test_inference_engine.py
  tests/library/test_api.py
  tests/library/test_formats.py
  tests/library/test_metrics.py
  tests/utils.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Update
  .gitignore
  pyproject.toml
  src/unitxt/api.py
  src/unitxt/formats.py
  src/unitxt/inference.py
  src/unitxt/stream.py
  tests/inference/test_inference_engine.py
  tests/library/test_api.py
Due: enforce-relative-imports, enforce-library-imports

Update
  src/unitxt/dataset.py
Due: none
