Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

1. Added vllm to cross provider example
  examples/evaluate_faithfulness_metrics.py
  src/unitxt/catalog/metrics/llm_as_judge/direct/criteria/reference_document_faithfulness2.json
  src/unitxt/evalassist_judge.py
  src/unitxt/llm_as_judge_constants.py
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

Fixed casing
  src/unitxt/catalog/metrics/llm_as_judge/direct/criteria/reference_document_faithfulness2.json
  src/unitxt/llm_as_judge_constants.py
Due: enforce-relative-imports

Revert "Temporary(?) remove vectara hhem model because it became restricted."
  prepare/metrics/rag_metrics_deprecated.py
Due: enforce-library-imports

Moved model loading in HHEM based metrics from prepare to compute because model is gated (to allow catalog prep)
  src/unitxt/metrics.py
Due: enforce-relative-imports

Added model to HHEM metric class
  src/unitxt/metrics.py
Due: enforce-relative-imports

Disabled HHEM metric test
  prepare/metrics/hhem.py
Due: enforce-library-imports

Lazy load vectara hhem model because it is gated in HF (#1946)
  prepare/metrics/hhem.py
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

Fix pydantic version for tests with LLLMEvalKit
  pyproject.toml
Due: none

Revert "Fix pydantic version for tests with LLLMEvalKit"
  pyproject.toml
Due: none

Downgrade dyndamic in git action to run LLM eval
  .github/actions/install-internal-pip/action.yml
Due: none

Fixed missing sampling_seed in DiverseLabelsSampler (#1941)
  .github/actions/install-internal-pip/action.yml
  src/unitxt/splitters.py
Due: enforce-relative-imports

A potential fix for messy error boxes by RuntimeError
  src/unitxt/error_utils.py
  tests/library/test_error_utils.py
Due: enforce-relative-imports, enforce-library-imports

better cast
  src/unitxt/error_utils.py
Due: enforce-relative-imports

solve by extension class of KeyError
  src/unitxt/error_utils.py
  tests/library/test_error_utils.py
Due: enforce-relative-imports, enforce-library-imports

use _class_register as a cache for instantiated classes
  src/unitxt/artifact.py
  tests/library/test_artifact_registration.py
Due: enforce-relative-imports, enforce-library-imports

light fast removal of register_all_artifacts for unitxt classes
  docs/catalog.py
  src/unitxt/__init__.py
  src/unitxt/artifact.py
  src/unitxt/register.py
  src/unitxt/text_utils.py
  tests/library/test_artifact_recovery.py
  tests/library/test_artifact_registration.py
Due: enforce-relative-imports, enforce-library-imports

cook options when empty rather than filter out
  prepare/cards/mmmu.py
  src/unitxt/catalog/cards/mmmu/accounting.json
  src/unitxt/catalog/cards/mmmu/agriculture.json
  src/unitxt/catalog/cards/mmmu/architecture_and_engineering.json
  src/unitxt/catalog/cards/mmmu/art.json
  src/unitxt/catalog/cards/mmmu/art_theory.json
  src/unitxt/catalog/cards/mmmu/basic_medical_science.json
  src/unitxt/catalog/cards/mmmu/biology.json
  src/unitxt/catalog/cards/mmmu/chemistry.json
  src/unitxt/catalog/cards/mmmu/clinical_medicine.json
  src/unitxt/catalog/cards/mmmu/computer_science.json
  src/unitxt/catalog/cards/mmmu/design.json
  src/unitxt/catalog/cards/mmmu/diagnostics_and_laboratory_medicine.json
  src/unitxt/catalog/cards/mmmu/economics.json
  src/unitxt/catalog/cards/mmmu/electronics.json
  src/unitxt/catalog/cards/mmmu/energy_and_power.json
  src/unitxt/catalog/cards/mmmu/finance.json
  src/unitxt/catalog/cards/mmmu/geography.json
  src/unitxt/catalog/cards/mmmu/history.json
  src/unitxt/catalog/cards/mmmu/literature.json
  src/unitxt/catalog/cards/mmmu/manage.json
  src/unitxt/catalog/cards/mmmu/marketing.json
  src/unitxt/catalog/cards/mmmu/materials.json
  src/unitxt/catalog/cards/mmmu/math.json
  src/unitxt/catalog/cards/mmmu/mechanical_engineering.json
  src/unitxt/catalog/cards/mmmu/music.json
  src/unitxt/catalog/cards/mmmu/pharmacy.json
  src/unitxt/catalog/cards/mmmu/physics.json
  src/unitxt/catalog/cards/mmmu/psychology.json
  src/unitxt/catalog/cards/mmmu/public_health.json
  src/unitxt/catalog/cards/mmmu/sociology.json
Due: enforce-library-imports

fixed mmmu by necessary filters
  prepare/cards/mmmu.py
  src/unitxt/catalog/cards/mmmu/accounting.json
  src/unitxt/catalog/cards/mmmu/agriculture.json
  src/unitxt/catalog/cards/mmmu/architecture_and_engineering.json
  src/unitxt/catalog/cards/mmmu/art.json
  src/unitxt/catalog/cards/mmmu/art_theory.json
  src/unitxt/catalog/cards/mmmu/basic_medical_science.json
  src/unitxt/catalog/cards/mmmu/biology.json
  src/unitxt/catalog/cards/mmmu/chemistry.json
  src/unitxt/catalog/cards/mmmu/clinical_medicine.json
  src/unitxt/catalog/cards/mmmu/computer_science.json
  src/unitxt/catalog/cards/mmmu/design.json
  src/unitxt/catalog/cards/mmmu/diagnostics_and_laboratory_medicine.json
  src/unitxt/catalog/cards/mmmu/economics.json
  src/unitxt/catalog/cards/mmmu/electronics.json
  src/unitxt/catalog/cards/mmmu/energy_and_power.json
  src/unitxt/catalog/cards/mmmu/finance.json
  src/unitxt/catalog/cards/mmmu/geography.json
  src/unitxt/catalog/cards/mmmu/history.json
  src/unitxt/catalog/cards/mmmu/literature.json
  src/unitxt/catalog/cards/mmmu/manage.json
  src/unitxt/catalog/cards/mmmu/marketing.json
  src/unitxt/catalog/cards/mmmu/materials.json
  src/unitxt/catalog/cards/mmmu/math.json
  src/unitxt/catalog/cards/mmmu/mechanical_engineering.json
  src/unitxt/catalog/cards/mmmu/music.json
  src/unitxt/catalog/cards/mmmu/pharmacy.json
  src/unitxt/catalog/cards/mmmu/physics.json
  src/unitxt/catalog/cards/mmmu/psychology.json
  src/unitxt/catalog/cards/mmmu/public_health.json
  src/unitxt/catalog/cards/mmmu/sociology.json
Due: enforce-library-imports

complete small fixes to allow all cards to pass through _source_to_dataset
  prepare/cards/bfcl.py
  prepare/operators/fix_json_schema.py
  src/unitxt/catalog/cards/bfcl/multi_turn/java_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/javascript_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_parallel_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_parallel_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_simple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/parallel_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/parallel_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/simple_v3.json
  src/unitxt/catalog/cards/bfcl/simple_v3.json
  src/unitxt/catalog/operators/fix_json_schema.json
Due: enforce-library-imports

remove the generating example of exploding instance size
  bfcl.ipynb
Due: none

ipynb
  bfcl.ipynb
Due: none

remove ''-s from values of properties of tools
  prepare/cards/bfcl.py
  src/unitxt/catalog/cards/bfcl/multi_turn/java_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/javascript_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_parallel_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_parallel_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_simple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/parallel_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/parallel_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/simple_v3.json
Due: enforce-library-imports

use the same json schema fixer as xlam does, an operator entered main with xlam
  prepare/cards/bfcl.py
  src/unitxt/catalog/cards/bfcl/multi_turn/java_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/javascript_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_irrelevance_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_parallel_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_parallel_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_relevance_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/live_simple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/parallel_multiple_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/parallel_v3.json
  src/unitxt/catalog/cards/bfcl/multi_turn/simple_v3.json
  src/unitxt/catalog/cards/bfcl/simple_v3.json
Due: enforce-library-imports

prepare all artifacts from prepare files
  .github/workflows/catalog_consistency.yml
  prepare/tasks/qa/tasks.py
  src/unitxt/artifact.py
  utils/check_catalog_consistency.py
  utils/prepare_all_artifacts.py
Due: enforce-relative-imports, enforce-library-imports

prepare for backward compatibility
  src/unitxt/artifact.py
  src/unitxt/text_utils.py
Due: enforce-relative-imports

Added eval assist to test requirements
  pyproject.toml
Due: none

Fixed test of eval assist
  tests/library/test_hf_artifacts.py
Due: enforce-library-imports

Update python 3.10
  .github/workflows/catalog_consistency.yml
Due: none

Updated inference tests
  pyproject.toml
  tests/inference/test_inference_engine.py
Due: enforce-library-imports

Updated python version in consistenty check
  .github/workflows/catalog_consistency.yml
Due: none

Removed eval assist from this PR
  pyproject.toml
Due: none

Add format and system prompt to task_data/metadata field in dataset
  src/unitxt/schema.py
Due: enforce-relative-imports

Added default format and system prompt to use "formats.empty" and "system_formats.empty" (named artifiacts) and not unamed class instances.
  src/unitxt/standard.py
Due: enforce-relative-imports

Fixed tests
  tests/library/test_api.py
  tests/library/test_recipe.py
Due: enforce-library-imports

Fixed tests
  tests/library/test_benchmark.py
Due: enforce-library-imports

first patch
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_answer_correctness_q_a_gt_loose.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_answer_correctness_q_a_gt_loose_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_answer_relevance_q_a.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_answer_relevance_q_a_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_context_relevance_q_c_ares.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_context_relevance_q_c_ares_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_correctness_holistic_q_c_a.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_correctness_holistic_q_c_a_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_faithfulness_c_a.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_faithfulness_c_a_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_faithfulness_q_c_a.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_1_70b_instruct_wml_faithfulness_q_c_a_logprobs.json
Due: none

next patch
  src/unitxt/catalog/metrics/rag/answer_correctness/llama_3_1_70b_instruct_wml_q_a_gt_loose.json
  src/unitxt/catalog/metrics/rag/answer_correctness/llama_3_1_70b_instruct_wml_q_a_gt_loose_logprobs.json
  src/unitxt/catalog/metrics/rag/answer_correctness/llama_3_1_70b_instruct_wml_q_a_gt_loose_numeric.json
  src/unitxt/catalog/metrics/rag/answer_relevance/llama_3_1_70b_instruct_wml_q_a.json
  src/unitxt/catalog/metrics/rag/answer_relevance/llama_3_1_70b_instruct_wml_q_a_logprobs.json
  src/unitxt/catalog/metrics/rag/answer_relevance/llama_3_1_70b_instruct_wml_q_a_numeric.json
  src/unitxt/catalog/metrics/rag/context_relevance/llama_3_1_70b_instruct_wml_q_c_ares.json
  src/unitxt/catalog/metrics/rag/context_relevance/llama_3_1_70b_instruct_wml_q_c_ares_logprobs.json
  src/unitxt/catalog/metrics/rag/context_relevance/llama_3_1_70b_instruct_wml_q_c_ares_numeric.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/llama_3_1_70b_instruct_wml_q_c_a.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/llama_3_1_70b_instruct_wml_q_c_a_logprobs.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/llama_3_1_70b_instruct_wml_q_c_a_numeric.json
  src/unitxt/catalog/metrics/rag/faithfulness/llama_3_1_70b_instruct_wml_c_a.json
  src/unitxt/catalog/metrics/rag/faithfulness/llama_3_1_70b_instruct_wml_c_a_logprobs.json
  src/unitxt/catalog/metrics/rag/faithfulness/llama_3_1_70b_instruct_wml_c_a_verbal.json
  src/unitxt/catalog/metrics/rag/faithfulness/llama_3_1_70b_instruct_wml_q_c_a.json
  src/unitxt/catalog/metrics/rag/faithfulness/llama_3_1_70b_instruct_wml_q_c_a_logprobs.json
  src/unitxt/catalog/metrics/rag/faithfulness/llama_3_1_70b_instruct_wml_q_c_a_verbal.json
Due: none

update rag llm as judge metric
  prepare/metrics/llm_as_judge/rag_judge.py
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_3_70b_instruct_wml_answer_correctness_q_a_gt_loose.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_3_70b_instruct_wml_answer_correctness_q_a_gt_loose_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_3_70b_instruct_wml_answer_relevance_q_a.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_3_70b_instruct_wml_answer_relevance_q_a_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_3_70b_instruct_wml_context_relevance_q_c_ares.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_3_70b_instruct_wml_context_relevance_q_c_ares_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_3_70b_instruct_wml_correctness_holistic_q_c_a.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_3_70b_instruct_wml_correctness_holistic_q_c_a_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_3_70b_instruct_wml_faithfulness_c_a.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_3_70b_instruct_wml_faithfulness_c_a_logprobs.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_3_70b_instruct_wml_faithfulness_q_c_a.json
  src/unitxt/catalog/metrics/llm_as_judge/binary/llama_3_3_70b_instruct_wml_faithfulness_q_c_a_logprobs.json
  src/unitxt/catalog/metrics/rag/answer_correctness/llama_3_3_70b_instruct_wml_q_a_gt_loose.json
  src/unitxt/catalog/metrics/rag/answer_correctness/llama_3_3_70b_instruct_wml_q_a_gt_loose_logprobs.json
  src/unitxt/catalog/metrics/rag/answer_correctness/llama_3_3_70b_instruct_wml_q_a_gt_loose_numeric.json
  src/unitxt/catalog/metrics/rag/answer_relevance/llama_3_3_70b_instruct_wml_q_a.json
  src/unitxt/catalog/metrics/rag/answer_relevance/llama_3_3_70b_instruct_wml_q_a_logprobs.json
  src/unitxt/catalog/metrics/rag/answer_relevance/llama_3_3_70b_instruct_wml_q_a_numeric.json
  src/unitxt/catalog/metrics/rag/context_relevance/llama_3_3_70b_instruct_wml_q_c_ares.json
  src/unitxt/catalog/metrics/rag/context_relevance/llama_3_3_70b_instruct_wml_q_c_ares_logprobs.json
  src/unitxt/catalog/metrics/rag/context_relevance/llama_3_3_70b_instruct_wml_q_c_ares_numeric.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/llama_3_3_70b_instruct_wml_q_c_a.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/llama_3_3_70b_instruct_wml_q_c_a_logprobs.json
  src/unitxt/catalog/metrics/rag/correctness_holistic/llama_3_3_70b_instruct_wml_q_c_a_numeric.json
  src/unitxt/catalog/metrics/rag/faithfulness/llama_3_3_70b_instruct_wml_c_a.json
  src/unitxt/catalog/metrics/rag/faithfulness/llama_3_3_70b_instruct_wml_c_a_logprobs.json
  src/unitxt/catalog/metrics/rag/faithfulness/llama_3_3_70b_instruct_wml_c_a_verbal.json
  src/unitxt/catalog/metrics/rag/faithfulness/llama_3_3_70b_instruct_wml_q_c_a.json
  src/unitxt/catalog/metrics/rag/faithfulness/llama_3_3_70b_instruct_wml_q_c_a_logprobs.json
  src/unitxt/catalog/metrics/rag/faithfulness/llama_3_3_70b_instruct_wml_q_c_a_verbal.json
Due: enforce-library-imports

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils|unitxt/assistant/.*)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
