Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]
        exclude: src/unitxt/metrics.py
      # Run the linter on the specific file with the ignore flag
      - id: ruff
        name: ruff (src/unitxt/metrics.py)
        files: src/unitxt/metrics.py
        args: [--fix, --ignore, C901]
      # Run the formatter
      - id: ruff-format

  - repo: https://github.com/ibm/detect-secrets
    # If you desire to use a specific version of detect-secrets, you can replace `master` with other git revisions such as branch, tag or commit sha.
    # You are encouraged to use static refs such as tags, instead of branch name
    #
    # Running "pre-commit autoupdate" automatically updates rev to latest tag
    rev: 0.13.1+ibm.61.dss
    hooks:
      - id: detect-secrets # pragma: whitelist secret
        # Add options for detect-secrets-hook binary. You can run `detect-secrets-hook --help` to list out all possible options.
        # You may also run `pre-commit run detect-secrets` to preview the scan result.
        # when "--baseline" without "--use-all-plugins", pre-commit scan with just plugins in baseline file
        # when "--baseline" with "--use-all-plugins", pre-commit scan with all available plugins
        # add "--fail-on-unaudited" to fail pre-commit for unaudited potential secrets
        args: [--baseline, .secrets.baseline, --use-all-plugins, --fail-on-unaudited]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

recursive copy seems safer here
  src/unitxt/metric_utils.py
  src/unitxt/operators.py
Due: enforce-relative-imports

performance profiler with visualization (#1255)
  .github/workflows/performance.yml
  performance_profile/__init__.py
  performance_profile/card_profiler.py
  performance_profile/compare_branches.sh
  performance_profile/compare_performance_results.py
  performance_profile/logs/cards_benchmark.json
  performance_profile/profile.sh
  performance_profile/run_profile.py
  profile/profile.sh
  pyproject.toml
  utils/prepare_all_artifacts.py
Due: enforce-library-imports

Remove split arg to support old hf datasets versions (#1288)
  src/unitxt/stream.py
Due: enforce-relative-imports

add post-processors for tablebench taskcard (#1289)
  prepare/cards/tablebench.py
  prepare/processors/processors.py
  src/unitxt/catalog/cards/tablebench.json
  src/unitxt/catalog/processors/fix_whitespace.json
  src/unitxt/catalog/processors/remove_articles.json
  src/unitxt/catalog/processors/remove_punctuations.json
  src/unitxt/processors.py
Due: enforce-relative-imports, enforce-library-imports

recursive copy seems safer here (#1295)
  src/unitxt/metric_utils.py
  src/unitxt/operators.py
Due: enforce-relative-imports

Fix performance tracking action
  .github/workflows/performance.yml
  performance/card_profiler.py
  performance/compare_performance_results.py
  performance/profile.sh
  performance/run_profile.py
  performance_profile/__init__.py
  performance_profile/compare_branches.sh
  performance_profile/logs/cards_benchmark.json
  pyproject.toml
Due: enforce-library-imports

Fix
  .github/workflows/performance.yml
Due: none

Fix
  performance/card_profiler.py
Due: enforce-library-imports

Update
  .github/workflows/performance.yml
  performance/card_profiler.py
Due: enforce-library-imports

try
  .github/workflows/performance.yml
  performance/compare_performance_results.py
  pyproject.toml
Due: enforce-library-imports

try
  .github/workflows/performance.yml
Due: none

Fix performance tracking action (#1296)
  .github/workflows/performance.yml
  performance/card_profiler.py
  performance/compare_performance_results.py
  performance/profile.sh
  performance/run_profile.py
  performance_profile/__init__.py
  performance_profile/compare_branches.sh
  performance_profile/compare_performance_results.py
  performance_profile/logs/cards_benchmark.json
  pyproject.toml
Due: enforce-library-imports

experiment with performance-test
  src/unitxt/dataset.py
  src/unitxt/metric.py
  src/unitxt/operator.py
  src/unitxt/operator_utils.py
  src/unitxt/standard.py
Due: enforce-relative-imports

Update version to 1.14.0
  src/unitxt/version.py
Due: enforce-relative-imports

Update version to 1.14.0 (#1298)
  src/unitxt/version.py
Due: enforce-relative-imports

expand performance table
  performance/compare_performance_results.py
Due: enforce-library-imports

Added LMMS_eval template, exact_match_mm metric, RGB image augmentor.
  examples/evaluate_image_text_to_text.py
  prepare/augmentors/image_augmentors.py
  prepare/cards/ai2d.py
  prepare/metrics/exact_match_mm.py
  src/unitxt/augmentors.py
  src/unitxt/catalog/augmentors/image/rgb.json
  src/unitxt/catalog/cards/ai2d.json
  src/unitxt/catalog/metrics/exact_match_mm.json
  src/unitxt/catalog/templates/qa/with_context/all.json
  src/unitxt/catalog/templates/qa/with_context/lmms_eval.json
  src/unitxt/image_operators.py
  src/unitxt/inference.py
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

Revert "Added LMMS_eval template, exact_match_mm metric, RGB image augmentor."
  examples/evaluate_image_text_to_text.py
  prepare/augmentors/image_augmentors.py
  prepare/cards/ai2d.py
  prepare/metrics/exact_match_mm.py
  src/unitxt/augmentors.py
  src/unitxt/catalog/augmentors/image/rgb.json
  src/unitxt/catalog/cards/ai2d.json
  src/unitxt/catalog/metrics/exact_match_mm.json
  src/unitxt/catalog/templates/qa/with_context/all.json
  src/unitxt/catalog/templates/qa/with_context/lmms_eval.json
  src/unitxt/image_operators.py
  src/unitxt/inference.py
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

Fix doc_vqa lmms_eval
  prepare/cards/doc_vqa.py
  src/unitxt/catalog/cards/doc_vqa/lmms_eval.json
  src/unitxt/image_operators.py
Due: enforce-relative-imports, enforce-library-imports

expand performance table (#1299)
  performance/compare_performance_results.py
Due: enforce-library-imports

Add LMMSEvalInferenceEngine
  examples/evaluate_image_text_to_text_lmms_eval_inference.py
  src/unitxt/inference.py
Due: enforce-relative-imports, enforce-library-imports

Fix doc_vqa lmms_eval (#1300)
  prepare/cards/doc_vqa.py
  src/unitxt/catalog/cards/doc_vqa/lmms_eval.json
  src/unitxt/image_operators.py
Due: enforce-relative-imports, enforce-library-imports

mix offline
  performance/card_profiler.py
  src/unitxt/split_utils.py
  src/unitxt/splitters.py
Due: enforce-relative-imports, enforce-library-imports

prepare for int-ish group names and type names and add the problematic card
  prepare/cards/robust.py
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

even with strict=True
  prepare/cards/robust.py
Due: enforce-library-imports

pop_qa_robust rather than robust
  prepare/cards/pop_qa_robust.py
  prepare/cards/robust.py
  src/unitxt/catalog/cards/pop_qa_robust.json
Due: enforce-library-imports

function as a string
  prepare/cards/pop_qa_robust.py
Due: enforce-library-imports

improvements to hf-based inference engines
  src/unitxt/inference.py
  tests/library/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

changed torch float type for llava
  src/unitxt/inference.py
Due: enforce-relative-imports

added QTSUMM for query-focused table summarization task
  prepare/cards/qtsumm.py
  prepare/templates/qa/with_context.py
  src/unitxt/catalog/cards/qtsumm.json
  src/unitxt/catalog/templates/qa/with_context/qtsumm.json
Due: enforce-library-imports

prepare for int-ish group names and type names and add the exposing card (#1303)
  prepare/cards/pop_qa_robust.py
  src/unitxt/catalog/cards/pop_qa_robust.json
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

Update the safety metric batch size to 10
  src/unitxt/metrics.py
Due: enforce-relative-imports

remove groups breakdowns from global score of grouped instance metrics
  .secrets.baseline
  prepare/metrics/grouped_instance_metrics.py
  src/unitxt/metrics.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

remove groups breakdowns from global score of grouped instance metrics (#1306)
  .secrets.baseline
  prepare/metrics/grouped_instance_metrics.py
  src/unitxt/metrics.py
  tests/library/test_metrics.py
Due: enforce-relative-imports, enforce-library-imports

Update the safety metric batch size to 10 (#1305)
  src/unitxt/metrics.py
Due: enforce-relative-imports

refactored HF inference
  src/unitxt/inference.py
  tests/library/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

back to mains card_profiler
  performance/card_profiler.py
Due: enforce-library-imports

try in non-eager mode
  src/unitxt/settings_utils.py
  src/unitxt/splitters.py
Due: enforce-relative-imports
