Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

update eval_assist_cinstant
  src/unitxt/eval_assist_constants.py
Due: enforce-relative-imports

Improve criteria parsing and classes
  prepare/metrics/llm_as_judge/eval_assist.py
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/criterias/answer_relevance.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/criterias/coherence.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/criterias/conciseness.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/criterias/harmfulness.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/criterias/insensitivity.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/criterias/manipulative.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/criterias/temperature.json
  src/unitxt/eval_assist_constants.py
  src/unitxt/evalassist_llm_as_judge_direct.py
  src/unitxt/evalassist_llm_as_judge_pairwise.py
Due: enforce-relative-imports, enforce-library-imports

add gpt to the catalog
  examples/eval_assist_demo.ipynb
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/gpt.json
Due: none

Add GPT Pairwise evaluator
  examples/evaluate_eval_assist_direct.py
  examples/evaluate_eval_assist_pairwise.py
  examples/evaluate_eval_assist_pairwise_criteria.py
  examples/evaluate_eval_assist_rubric.py
  prepare/metrics/llm_as_judge/eval_assist_direct.py
  prepare/metrics/llm_as_judge/eval_assist_pairwise.py
  prepare/metrics/llm_as_judge/templates_eval_assist_pairwise.py
  src/unitxt/eval_assist_constants.py
  src/unitxt/evalassist_llm_as_judge_pairwise.py
  src/unitxt/formats.py
  src/unitxt/inference.py
Due: enforce-relative-imports, enforce-library-imports

Renamed eval_assist to eval_assist_direct and also using constants to create direct assessment evaluators
  examples/evaluate_eval_assist_direct.py
  prepare/metrics/llm_as_judge/eval_assist.py
  prepare/metrics/llm_as_judge/eval_assist_direct.py
  prepare/metrics/llm_as_judge/rubrics_eval_assist.py
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/gpt_4o.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/llama3_70b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/llama3_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/llama_70b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/mixtral_8_7b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/prometheus_8_7b.json
  src/unitxt/eval_assist_constants.py
  src/unitxt/evalassist_llm_as_judge_direct.py
Due: enforce-relative-imports, enforce-library-imports

Rename context variable in examples
  examples/evaluate_eval_assist_direct_predefined_criteria.py
  examples/evaluate_eval_assist_direct_user_criteria.py
  examples/evaluate_eval_assist_pairwise_predefined_criteria.py
  examples/evaluate_eval_assist_pairwise_user_criteria.py
Due: enforce-library-imports

Add prometheus model for pairwise
  examples/evaluate_eval_assist_pairwise_criteria.py
  prepare/metrics/llm_as_judge/eval_assist_pairwise.py
  prepare/metrics/llm_as_judge/templates_eval_assist_pairwise.py
  src/unitxt/evalassist_llm_as_judge_pairwise.py
Due: enforce-relative-imports, enforce-library-imports

update catalog for direct assessment metric
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/granite.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/llama_70b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/llama_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/mixtral.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/prometheus.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/rubrics/answer.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/rubrics/coherence.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/rubrics/conciseness.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/rubrics/harmfulness.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/rubrics/insensitivity.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/rubrics/manipulative.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/rubrics/temperature.json
Due: none

Fixed registering eval assist to catalog. Eval assist now generates assessment and summary for hardcoded prompts
  examples/evaluate_eval_assist.py
  prepare/metrics/llm_as_judge/eval_assist.py
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/granite.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/llama_70b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/llama_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct/mixtral.json
  src/unitxt/evalassist_llm_as_judge.py
Due: enforce-relative-imports, enforce-library-imports

Make watsonx infer call concurrent
  src/unitxt/inference.py
Due: enforce-relative-imports

Add prometheus in catalog
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/prometheus.json
Due: none

Pass Rubric dynamically
  examples/evaluate_eval_assist_rubric.py
Due: enforce-library-imports

Rename evalassist to eval_assist as in other files
  prepare/metrics/llm_as_judge/eval_assist.py
  src/unitxt/eval_assist_llm_as_judge_direct.py
  src/unitxt/eval_assist_llm_as_judge_pairwise.py
Due: enforce-relative-imports, enforce-library-imports

Update EvalAssistLLMasJudge
  examples/evaluate_eval_assist_rubric.py
  prepare/metrics/llm_as_judge/eval_assist.json
  prepare/metrics/llm_as_judge/eval_assist.py
  prepare/metrics/llm_as_judge/rubrics_eval_assist.py
  prepare/metrics/llm_as_judge/templates_eval_assist.py
  src/unitxt/evalassist_llm_as_judge.py
Due: enforce-relative-imports, enforce-library-imports

add catalog for pairwise metrics
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/criterias/factually_consistent.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/criterias/inclusivity.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/criterias/temperature.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/llama_70b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/llama_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/mixtral.json
Due: none

add pairwise criteria in preprocess_step
  examples/evaluate_eval_assist.py
  examples/evaluate_eval_assist_pairwise_criteria.py
Due: enforce-library-imports

Removed unncessary template files
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/prompt_templates/mixtral/answer.jinja
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/prompt_templates/mixtral/assessment.jinja
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/prompt_templates/mixtral/summarization.jinja
Due: none

Use empty template in example cards
  examples/evaluate_eval_assist_direct_predefined_criteria.py
  examples/evaluate_eval_assist_direct_user_criteria.py
  examples/evaluate_eval_assist_pairwise_predefined_criteria.py
  examples/evaluate_eval_assist_pairwise_user_criteria.py
Due: enforce-library-imports

remove unused variable
  src/unitxt/inference.py
Due: enforce-relative-imports

Remove unused imports
  examples/evaluate_eval_assist_direct_predefined_criteria.py
  examples/evaluate_eval_assist_direct_user_criteria.py
  examples/evaluate_eval_assist_pairwise_predefined_criteria.py
  examples/evaluate_eval_assist_pairwise_user_criteria.py
Due: enforce-library-imports

Adapt evaluators and examples context to be a dict instead of a str
  examples/evaluate_eval_assist_direct_predefined_criteria.py
  examples/evaluate_eval_assist_direct_user_criteria.py
  examples/evaluate_eval_assist_pairwise_predefined_criteria.py
  examples/evaluate_eval_assist_pairwise_user_criteria.py
  src/unitxt/eval_assist_utils.py
  src/unitxt/evalassist_llm_as_judge_direct.py
  src/unitxt/evalassist_llm_as_judge_pairwise.py
Due: enforce-relative-imports, enforce-library-imports

eval assist pairwise now gets model name from constants to register to catalog
  examples/evaluate_eval_assist_pairwise.py
  examples/evaluate_eval_assist_pairwise_criteria.py
  prepare/metrics/llm_as_judge/eval_assist_pairwise.py
  prepare/metrics/llm_as_judge/templates_eval_assist.py
  prepare/metrics/llm_as_judge/templates_eval_assist_pairwise.py
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/llama3_70b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/llama3_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/mixtral_8_7b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise/prometheus_8_7b.json
  src/unitxt/eval_assist_constants.py
  src/unitxt/evalassist_llm_as_judge_direct.py
  src/unitxt/evalassist_llm_as_judge_pairwise.py
Due: enforce-relative-imports, enforce-library-imports

Fixed incorrect merge conflict
  src/unitxt/inference.py
Due: enforce-relative-imports

Suggested python based approach for user criteria
  examples/evaluate_eval_assist_direct_user_criteria_new.py
  pyproject.toml
Due: enforce-library-imports

Fix examples
  examples/evaluate_eval_assist_credentials.py
  examples/evaluate_eval_assist_direct_predefined_criteria.py
  examples/evaluate_eval_assist_direct_user_criteria.py
  examples/evaluate_eval_assist_pairwise_predefined_criteria.py
  examples/evaluate_eval_assist_pairwise_user_criteria.py
  examples/evaluate_llm_as_judge.py
Due: enforce-library-imports

Remove MatchClosestOption checks
  src/unitxt/processors.py
  src/unitxt/templates.py
Due: enforce-relative-imports

Clean unused files
  examples/evaluate_llm_as_judge.py
  prepare/engines/inference_engines.py
  prepare/metrics/llm_as_judge/eval_assist.py
  src/unitxt/catalog/engines/cross_provider.json
  src/unitxt/catalog/engines/ibm_genai.json
  src/unitxt/catalog/engines/litellm.json
  src/unitxt/catalog/engines/mock_inference_engine.json
  src/unitxt/catalog/engines/ollama.json
  src/unitxt/catalog/engines/openai.json
  src/unitxt/catalog/engines/rits.json
  src/unitxt/catalog/engines/together.json
  src/unitxt/catalog/engines/vllm.json
  src/unitxt/catalog/engines/wml.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise_comparison.json
  src/unitxt/templates.py
Due: enforce-relative-imports, enforce-library-imports

Add example of squad card
  examples/evaluate_existing_dataset_by_llm_as_judge_eval_assist.py
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/criterias/answer_relevance.json
  src/unitxt/eval_assist_constants.py
Due: enforce-relative-imports, enforce-library-imports

Apply ruff suggestions
  examples/eval_assist_demo.ipynb
  src/unitxt/api.py
  src/unitxt/eval_assist_chat_templates.py
  src/unitxt/eval_assist_llm_as_judge.py
  src/unitxt/eval_assist_llm_as_judge_direct.py
  src/unitxt/eval_assist_llm_as_judge_pairwise.py
  src/unitxt/eval_assist_utils.py
  src/unitxt/inference.py
Due: enforce-relative-imports

Add example for running evaluations on squad
  examples/evaluate_existing_dataset_by_llm_as_judge_eval_assist.py
Due: enforce-library-imports

remove .mailmap
  .mailmap
Due: none

Remove inference changes
  src/unitxt/inference.py
Due: enforce-relative-imports

Changes after running pre-commit
  examples/evaluate_eval_assist_direct_user_criteria.py
  examples/evaluate_eval_assist_pairwise_predefined_criteria.py
  examples/evaluate_existing_dataset_by_llm_as_judge_eval_assist.py
  prepare/metrics/llm_as_judge/eval_assist.py
  src/unitxt/eval_assist_constants.py
  src/unitxt/eval_assist_llm_as_judge.py
  src/unitxt/eval_assist_llm_as_judge_direct.py
  src/unitxt/eval_assist_llm_as_judge_pairwise.py
  src/unitxt/eval_assist_utils.py
  src/unitxt/inference.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

add context_field attribute and minor fixes and improvements
  examples/evaluate_eval_assist_direct_user_criteria_new.py
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/criterias/answer_relevance.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/criterias/manipulative_email.json
  src/unitxt/eval_assist_constants.py
  src/unitxt/eval_assist_llm_as_judge.py
  src/unitxt/eval_assist_llm_as_judge_direct.py
  src/unitxt/eval_assist_llm_as_judge_pairwise.py
  src/unitxt/eval_assist_utils.py
Due: enforce-relative-imports, enforce-library-imports

Introduce context_fields and generate_summaries attributes
  examples/evaluate_eval_assist_credentials.py
  examples/evaluate_eval_assist_direct_predefined_criteria.py
  examples/evaluate_eval_assist_direct_user_criteria.py
  examples/evaluate_eval_assist_direct_user_criteria_no_catalog.py
  examples/evaluate_eval_assist_pairwise_predefined_criteria.py
  examples/evaluate_eval_assist_pairwise_user_criteria.py
  prepare/metrics/llm_as_judge/eval_assist.py
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/openai/gpt_4o.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/rits/llama3_1_405b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/rits/llama3_1_70b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/rits/llama3_1_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/rits/mixtral8_22b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/rits/mixtral8_7b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/rits/mixtral_large.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/watsonx/granite3_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/watsonx/granite_guardian_3_0_2b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/watsonx/granite_guardian_3_0_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/watsonx/llama3_1_405b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/watsonx/llama3_1_70b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/watsonx/llama3_1_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/watsonx/mixtral8_7b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/direct_assessment/watsonx/mixtral_large.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise_comparison/openai/gpt_4o.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise_comparison/rits/llama3_1_405b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise_comparison/rits/llama3_1_70b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise_comparison/rits/llama3_1_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise_comparison/rits/mixtral8_22b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise_comparison/rits/mixtral8_7b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise_comparison/rits/mixtral_large.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise_comparison/watsonx/granite3_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise_comparison/watsonx/granite_guardian_3_0_2b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise_comparison/watsonx/granite_guardian_3_0_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise_comparison/watsonx/llama3_1_405b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise_comparison/watsonx/llama3_1_70b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise_comparison/watsonx/llama3_1_8b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise_comparison/watsonx/mixtral8_7b.json
  src/unitxt/catalog/metrics/llm_as_judge/eval_assist/pairwise_comparison/watsonx/mixtral_large.json
  src/unitxt/eval_assist_llm_as_judge.py
  src/unitxt/eval_assist_llm_as_judge_direct.py
  src/unitxt/eval_assist_llm_as_judge_pairwise.py
Due: enforce-relative-imports, enforce-library-imports

Add updated secrets.baseline
  utils/.secrets.baseline
Due: none

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
