Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter on all files except the specific one
      - id: ruff
        args: [--fix]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [--baseline, utils/.secrets.baseline]
        exclude: utils/.secrets.baseline

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: enforce-relative-imports
        name: Enforce Relative Imports
        entry: python utils/enforce_relative_imports.py
        language: system
        # Adjust the files pattern to match your needs
        files: ^src/.*\.py$
        exclude: .*/(metric|dataset|hf_utils|unitxt/assistant/.*)\.py$
        # Optional: Specify types or exclude files
        types: [python]

  - repo: local
    hooks:
      - id: enforce-library-imports
        name: Enforce Library Imports
        entry: python utils/enforce_library_imports.py
        language: system
        # Adjust the files pattern to match your needs
        exclude: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
        # Optional: Specify types or exclude files
        types: [python]

Update version to 1.26.9
  src/unitxt/version.py
Due: enforce-relative-imports

Update version to 1.26.9 (#1961)
  src/unitxt/version.py
Due: enforce-relative-imports

Fix data classification policy warning in qa_evaluation.py
  examples/qa_evaluation.py
Due: enforce-library-imports

Replace deprecated torch_dtype with dtype parameter
  src/unitxt/inference.py
Due: enforce-relative-imports

Added grouping
  prepare/benchmarks/safety.py
  src/unitxt/catalog/benchmarks/safety.json
Due: enforce-library-imports

GraniteGuardian-based metric for attaq
  prepare/benchmarks/safety.py
  prepare/cards/safety/attaq_gg.py
  src/unitxt/catalog/benchmarks/safety.json
  src/unitxt/catalog/cards/safety/attaq_gg.json
Due: enforce-library-imports

Initial version of the safety benchmark, plus various fixes to the subsets.
  prepare/benchmarks/safety.py
  prepare/cards/attaq.py
  prepare/cards/safety/airbench2024.py
  prepare/cards/safety/mlcommons_ailuminate.py
  src/unitxt/catalog/benchmarks/safety.json
  src/unitxt/catalog/cards/attaq.json
  src/unitxt/catalog/cards/safety/mlcommons_ailuminate.json
  src/unitxt/processors.py
Due: enforce-relative-imports, enforce-library-imports

Switch provoq to GG metric.
  prepare/benchmarks/safety.py
  prepare/cards/safety/provoq_gg.py
  src/unitxt/catalog/benchmarks/safety.json
  src/unitxt/catalog/cards/safety/provoq_gg.json
Due: enforce-library-imports

.
  prepare/benchmarks/safety.py
  src/unitxt/catalog/benchmarks/safety.json
Due: enforce-library-imports

further fix to the test
  tests/library/test_cli.py
Due: enforce-library-imports

fix test to use UTC time
  tests/library/test_cli.py
Due: enforce-library-imports

add output formats. Fix column order.
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

update the example script
  examples/evaluate_bluebench.sh
Due: none

now actually fixed
  tests/library/test_cli.py
Due: enforce-library-imports

Enable summarization by subsets and groups
  src/unitxt/evaluate_cli.py
Due: enforce-relative-imports

Fix qa evaluation data classification policy (#1962)
  examples/qa_evaluation.py
  src/unitxt/inference.py
Due: enforce-relative-imports, enforce-library-imports

fix: Disable test_card for MILU dataset due to gated access
  prepare/cards/milu.py
Due: enforce-library-imports

fix: Skip bloom perplexity test due to NaN values in CI calculation
  prepare/metrics/perplexity.py
Due: enforce-library-imports

fix: Security fix for CWE-95 (Eval Injection) in _get_torch_dtype()
  src/unitxt/inference.py
  tests/inference/test_inference_engine.py
Due: enforce-relative-imports, enforce-library-imports

fix: Replace huggingface-cli login with HF_TOKEN env var in catalog_preparation CI
  .github/workflows/catalog_preparation.yml
Due: none

fix: Use keyword arguments in DatasetBuilder.as_dataset() call
  src/unitxt/dataset.py
Due: none

fix: Migrate arena-hard card to lmarena-ai/arena-hard-viewer and fix WeightedWinRateCorrelation metric
  prepare/cards/arena_hard/common.py
  prepare/cards/arena_hard/response_assessment/pairwise_comparative_rating/both_games_gpt4_judge.py
  src/unitxt/catalog/cards/arena_hard/response_assessment/pairwise_comparative_rating/both_games_gpt_4_judge.json
  src/unitxt/catalog/operators/arena_hard_hf_space_processing_steps.json
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

fix: Force float32 in Perplexity metric to prevent NaN with float16 models
  src/unitxt/metrics.py
Due: enforce-relative-imports

fix: Remove run_post_process and verification_mode params for datasets>=4.8.5
  src/unitxt/api.py
  src/unitxt/dataset.py
Due: enforce-relative-imports

fix: Replace assertWarns with catch_warnings to avoid transformers import bug
  tests/library/test_artifact.py
  tests/library/test_operators.py
  tests/library/test_unified_warnings_decorator.py
Due: enforce-library-imports

fix: Cap tokenizer model_max_length in BertScore to prevent OverflowError
  src/unitxt/metrics.py
Due: enforce-relative-imports

fix: Migrate remaining arena-hard cards to lmarena-ai/arena-hard-viewer
  prepare/cards/arena_hard/response_assessment/pairwise_comparative_rating/both_games_mean_judgment_gpt4_judge.py
  prepare/cards/arena_hard/response_assessment/pairwise_comparative_rating/first_game_only_gpt4_judge.py
  src/unitxt/catalog/cards/arena_hard/response_assessment/pairwise_comparative_rating/both_games_mean_judgment_gpt4_judge.json
  src/unitxt/catalog/cards/arena_hard/response_assessment/pairwise_comparative_rating/first_game_only_gpt_4_judge.json
Due: enforce-library-imports

fix: Fix LoadCSV fallback crash when indirect_read=True
  src/unitxt/loaders.py
Due: enforce-relative-imports

fix: Log each preparation file at CRITICAL level for CI visibility
  tests/catalog/test_preparation.py
Due: enforce-library-imports

fix: Enable verbose logging in BertScore to debug CI hang
  src/unitxt/metrics.py
Due: enforce-relative-imports

fix: Disable test_card for numeric_nlg and coqa to unblock CI
  prepare/cards/coqa.py
  prepare/cards/numeric_nlg.py
Due: enforce-library-imports

debug: Enable progress bars in catalog_preparation CI to diagnose hang
  .github/workflows/catalog_preparation.yml
Due: none

fix: Disable test_card for ffqa_filtered to unblock CI
  prepare/cards/ffqa_filtered.py
Due: enforce-library-imports

fix: Increase catalog_preparation partitions to 10 and re-enable progress suppression
  .github/workflows/catalog_preparation.yml
Due: none

debug: Remove pip cache from catalog_preparation to test if it affects hang
  .github/workflows/catalog_preparation.yml
Due: none

debug: Limit catalog_preparation to 4 parallel jobs to test HF rate limiting
  .github/workflows/catalog_preparation.yml
Due: none

debug: Add PYTHONUNBUFFERED=1 to see output before hang
  .github/workflows/catalog_preparation.yml
Due: none

revert: Remove max-parallel limit since it didn't help
  .github/workflows/catalog_preparation.yml
Due: none

fix: Update mtrag card URL after repo restructure
  prepare/cards/mtrag.py
Due: enforce-library-imports

fix: Restore pip cache in catalog_preparation workflow
  .github/workflows/catalog_preparation.yml
Due: none
