Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

Update version to 1.20.0
  src/unitxt/version.py
Due: enforce-relative-imports

Update version to 1.20.0 (#1659)
  src/unitxt/version.py
Due: enforce-relative-imports

add documentation
  .github/workflows/performance.yml
  docs/docs/adding_dataset.rst
  performance/bluebench_profiler.py
  performance/compare_benchmark_performance_results.py
  src/unitxt/loaders.py
  src/unitxt/settings_utils.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

measure performance with/without loaded local file-system cache
  .github/workflows/performance.yml
  performance/bluebench_profiler.py
  performance/compare_benchmark_performance_results.py
  src/unitxt/loaders.py
  src/unitxt/settings_utils.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

allow to report times also based on simple time() diffs, and not only cProfile
  performance/bluebench_profiler.py
  performance/compare_benchmark_performance_results.py
Due: enforce-library-imports

add 'show more' button for imports from unitxt modules
  docs/_static/custom.css
  docs/catalog.py
Due: enforce-library-imports

init commit to add noise including inference engine and script to run tables benchmark with noise
  prepare/benchmarks/tables_add_noise.py
  src/unitxt/inference.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

BugFix: Handle cases where all sample scores are the same (yields nan)
  src/unitxt/metrics.py
Due: enforce-relative-imports

add 'show more' button for imports from unitxt modules (#1651)
  docs/_static/custom.css
  docs/catalog.py
Due: enforce-library-imports

BugFix: Use dumping of task data and source only when dumping
  src/unitxt/api.py
  src/unitxt/dataset.py
  src/unitxt/schema.py
Due: enforce-relative-imports

Updated llamaguard metric and template
  prepare/metrics/llm_as_judge/safety/llamaguard.py
  prepare/templates/safety/llamaguard.py
  prepare/templates/safety/unsafe_content.py
  src/unitxt/catalog/metrics/llm_as_judge/safety/llamaguard.json
  src/unitxt/catalog/templates/safety/llamaguard.json
  src/unitxt/catalog/templates/safety/unsafe_content.json
Due: enforce-library-imports

Card implementation
  prepare/cards/safety/mlcommons_ailuminate.py
  src/unitxt/catalog/cards/safety/mlcommons_ailuminate.json
Due: enforce-library-imports

catalog cleanup
  src/unitxt/catalog/metrics/llm_as_judge/safety/llama_3_70b_instruct_ibm_genai_template_unsafe_content.json
  src/unitxt/catalog/metrics/llm_as_judge/safety/llama_3_8b_instruct_ibm_genai_template_unsafe_content.json
Due: none

.
  prepare/cards/safety/mlcommons_ailuminate.py
Due: enforce-library-imports

.
  prepare/metrics/llm_as_judge/safety/llamaguard.py
Due: enforce-library-imports

Update head qa dataset (#1658)
  prepare/cards/head_qa.py
  src/unitxt/catalog/cards/head_qa/en.json
  src/unitxt/catalog/cards/head_qa/gl.json
  src/unitxt/catalog/cards/head_qa/it.json
  src/unitxt/catalog/cards/head_qa/ru.json
Due: enforce-library-imports

Update prepare/cards/safety/mlcommons_ailuminate.py
  prepare/cards/safety/mlcommons_ailuminate.py
Due: enforce-library-imports

Update ag_news
  prepare/cards/ag_news.py
Due: enforce-library-imports

add json
  src/unitxt/catalog/cards/ag_news.json
Due: none

Update wnli
  prepare/cards/wnli.py
  src/unitxt/catalog/cards/wnli.json
  src/unitxt/catalog/cards/wnli/truthfulness.json
Due: enforce-library-imports

Update sst2
  prepare/cards/sst2.py
  src/unitxt/catalog/cards/sst2.json
Due: enforce-library-imports

Update stats
  README.md
Due: none

handle secrets better
  src/unitxt/inference.py
  src/unitxt/loaders.py
  src/unitxt/metrics.py
  tests/library/test_loaders.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Update few slow datasets (#1663)
  README.md
  prepare/cards/ag_news.py
  prepare/cards/sst2.py
  prepare/cards/wnli.py
  src/unitxt/catalog/cards/ag_news.json
  src/unitxt/catalog/cards/sst2.json
  src/unitxt/catalog/cards/wnli.json
  src/unitxt/catalog/cards/wnli/truthfulness.json
  src/unitxt/inference.py
  src/unitxt/loaders.py
  src/unitxt/metrics.py
  tests/library/test_loaders.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

Update test file URL in mlcommons_ailuminate.json
  src/unitxt/catalog/cards/safety/mlcommons_ailuminate.json
Due: none

MLCommons AILuminate card and related artifacts (#1662)
  prepare/cards/safety/mlcommons_ailuminate.py
  prepare/metrics/llm_as_judge/safety/llamaguard.py
  prepare/templates/safety/llamaguard.py
  prepare/templates/safety/unsafe_content.py
  src/unitxt/catalog/cards/safety/mlcommons_ailuminate.json
  src/unitxt/catalog/metrics/llm_as_judge/safety/llama_3_70b_instruct_ibm_genai_template_unsafe_content.json
  src/unitxt/catalog/metrics/llm_as_judge/safety/llama_3_8b_instruct_ibm_genai_template_unsafe_content.json
  src/unitxt/catalog/metrics/llm_as_judge/safety/llamaguard.json
  src/unitxt/catalog/templates/safety/llamaguard.json
  src/unitxt/catalog/templates/safety/unsafe_content.json
Due: enforce-library-imports

Remove redundant loop
  prepare/metrics/llm_as_judge/safety/llamaguard.py
Due: enforce-library-imports

Add llamaguard metric to simple_safety_tests
  prepare/cards/safety/simple_safety_tests.py
  src/unitxt/catalog/cards/safety/simple_safety_tests.json
Due: enforce-library-imports

Let evaluator name to be a string
  src/unitxt/llm_as_judge.py
Due: enforce-relative-imports

support for asynchronous requests in wml chat
  src/unitxt/inference.py
Due: enforce-relative-imports

Test branch to evaluate impact of different format
  examples/evaluate_different_formats.py
  src/unitxt/formats.py
Due: enforce-relative-imports, enforce-library-imports

Avoid removal of needed import
  examples/evaluate_different_formats.py
Due: enforce-library-imports

Add inference engine caching
  pyproject.toml
  src/unitxt/inference.py
  src/unitxt/settings_utils.py
  utils/.secrets.baseline
Due: enforce-relative-imports

update ibm-watsonx-ai version
  pyproject.toml
Due: none

move the imports to top of card
  docs/_static/custom.css
  docs/catalog.py
Due: enforce-library-imports

Add tests to inference engine cache.
  src/unitxt/inference.py
  tests/inference/test_inference_engine.py
  utils/.secrets.baseline
Due: enforce-relative-imports, enforce-library-imports

debug wml Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/inference.py
Due: enforce-relative-imports

use project_id rather than space_id if both exist Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/inference.py
Due: enforce-relative-imports

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
