Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

add schema linking
  prepare/tasks/schema_linking.py
  prepare/templates/schema_linking/templates.py
  src/unitxt/catalog/tasks/schema_linking.json
  src/unitxt/catalog/templates/schema_linking/all.json
  src/unitxt/catalog/templates/schema_linking/default.json
  src/unitxt/catalog/templates/schema_linking/with_hint.json
Due: enforce-library-imports

Turn off streaming for huggingface datasets and set cache to be off
  src/unitxt/loaders.py
  src/unitxt/settings_utils.py
  utils/.secrets.baseline
Due: enforce-relative-imports

Added more tests and clarified error messages
  src/unitxt/operators.py
  tests/library/test_operators.py
Due: enforce-relative-imports, enforce-library-imports

More tests
  src/unitxt/operators.py
  tests/library/test_operators.py
Due: enforce-relative-imports, enforce-library-imports

Add support for QuALITY
  prepare/cards/quality.py
Due: enforce-library-imports

Added checks and fixed bug in data classification policty handling
  src/unitxt/operators.py
  tests/library/test_operators.py
Due: enforce-relative-imports, enforce-library-imports

Added more tests and error message and remove doc_id default.
  src/unitxt/operators.py
  tests/library/test_operators.py
Due: enforce-relative-imports, enforce-library-imports

Improved documentation
  src/unitxt/operators.py
Due: enforce-relative-imports

Fix for handling data_classification_policy None cases
  src/unitxt/operators.py
Due: enforce-relative-imports

Revisit huggingface cache policy
  src/unitxt/api.py
  src/unitxt/loaders.py
  src/unitxt/settings_utils.py
Due: enforce-relative-imports

add metrics to scigen
  prepare/cards/scigen.py
  src/unitxt/catalog/cards/scigen.json
Due: enforce-library-imports

improve the instructions in table benchmark datasets + add postprocessing for using first line
  prepare/cards/fin_qa.py
  prepare/cards/tab_fact.py
  prepare/cards/tablebench_data_analysis.py
  prepare/cards/tablebench_fact_checking.py
  prepare/cards/tablebench_numerical_reasoning.py
  prepare/cards/turl_col_type.py
  prepare/cards/wikitq.py
  prepare/tasks/generation.py
  prepare/templates/generation/generation.py
  prepare/templates/qa/with_context.py
  src/unitxt/catalog/cards/fin_qa.json
  src/unitxt/catalog/cards/tab_fact.json
  src/unitxt/catalog/cards/tablebench_data_analysis.json
  src/unitxt/catalog/cards/tablebench_fact_checking.json
  src/unitxt/catalog/cards/tablebench_numerical_reasoning.json
  src/unitxt/catalog/cards/turl_col_type.json
  src/unitxt/catalog/cards/wikitq.json
  src/unitxt/catalog/tasks/generation/from_pair.json
  src/unitxt/catalog/templates/generation/from_pair/default.json
  src/unitxt/catalog/templates/qa/with_context/qtsumm.json
Due: enforce-library-imports

Refactor QuALITY data loading to use LoadCSV and update preprocessing steps
  prepare/cards/quality.py
  src/unitxt/catalog/cards/quality.json
Due: enforce-library-imports

rerun prepare
  src/unitxt/catalog/cards/fin_qa.json
  src/unitxt/catalog/cards/turl_col_type.json
Due: none

Enable streaming for LoadFromHFSpace and clean up commented code
  src/unitxt/loaders.py
Due: enforce-relative-imports

Add QuALITY dataset (#1563)
  prepare/cards/quality.py
  src/unitxt/catalog/cards/quality.json
Due: enforce-library-imports

Disable Hugging Face datasets cache in CatalogPreparationTestCase
  tests/utils.py
Due: enforce-library-imports

Add CollateInstanceByField operator to group data by specific field (#1546)
  src/unitxt/operators.py
  tests/library/test_operators.py
Due: enforce-relative-imports, enforce-library-imports

Fix prompts table benchmark (#1565)
  prepare/cards/fin_qa.py
  prepare/cards/scigen.py
  prepare/cards/tab_fact.py
  prepare/cards/tablebench_data_analysis.py
  prepare/cards/tablebench_fact_checking.py
  prepare/cards/tablebench_numerical_reasoning.py
  prepare/cards/turl_col_type.py
  prepare/cards/wikitq.py
  prepare/tasks/generation.py
  prepare/templates/generation/generation.py
  prepare/templates/qa/with_context.py
  src/unitxt/catalog/cards/fin_qa.json
  src/unitxt/catalog/cards/scigen.json
  src/unitxt/catalog/cards/tab_fact.json
  src/unitxt/catalog/cards/tablebench_data_analysis.json
  src/unitxt/catalog/cards/tablebench_fact_checking.json
  src/unitxt/catalog/cards/tablebench_numerical_reasoning.json
  src/unitxt/catalog/cards/turl_col_type.json
  src/unitxt/catalog/cards/wikitq.json
  src/unitxt/catalog/tasks/generation/from_pair.json
  src/unitxt/catalog/templates/generation/from_pair/default.json
  src/unitxt/catalog/templates/qa/with_context/qtsumm.json
Due: enforce-library-imports

Model key value extraction as a first class task in catalog
  examples/key_value_extraction_evaluation.py
  prepare/metrics/custom_f1.py
  prepare/tasks/key_value_extraction.py
  prepare/templates/key_value_extraction/templates.py
  src/unitxt/catalog/metrics/key_value_extraction.json
  src/unitxt/catalog/tasks/key_value_extraction.json
  src/unitxt/catalog/templates/key_value_extraction/extract_in_json_format.json
  src/unitxt/metrics.py
  src/unitxt/struct_data_operators.py
Due: enforce-relative-imports, enforce-library-imports

Added documentation link
  docs/docs/examples.rst
Due: none

Added default template to extraction task
  prepare/tasks/key_value_extraction.py
  src/unitxt/catalog/tasks/key_value_extraction.json
Due: enforce-library-imports

Changed order of results printout for clarity
  examples/key_value_extraction_evaluation.py
Due: enforce-library-imports

Add granite documents format
  prepare/formats/models/granite.py
  src/unitxt/catalog/formats/models/granite_3_1_documents.json
  src/unitxt/formats.py
  tests/library/test_formats.py
Due: enforce-relative-imports, enforce-library-imports

Enable streaming for wiki_bio loader in TaskCard and update JSON configuration
  prepare/cards/wiki_bio.py
  src/unitxt/catalog/cards/wiki_bio.json
Due: enforce-library-imports

Add conditional test card execution for 'doqa_travel' subset in chat_rag_bench
  prepare/cards/chat_rag_bench.py
Due: enforce-library-imports

Enhance memory and performance logging in catalog preparation tests
  tests/catalog/test_preparation.py
Due: enforce-library-imports

Return parallel execution to 1 and adjust modulo for deterministic test runs
  tests/catalog/test_preparation.py
Due: enforce-library-imports

Try 1
  tests/catalog/test_preparation.py
Due: enforce-library-imports

try 1 fixed
  tests/catalog/test_preparation.py
Due: enforce-library-imports

trial 2
  tests/catalog/test_preparation.py
Due: enforce-library-imports

Stop testing social iqa until problem resolved
  prepare/cards/social_iqa.py
Due: enforce-library-imports

Update social iqa card to use specific revision and enable testing
  prepare/cards/social_iqa.py
  src/unitxt/catalog/cards/social_iqa.json
Due: enforce-library-imports

Refactor translation card testing logic and remove unused dataset loading
  prepare/cards/translation/flores101.py
Due: enforce-library-imports

Update head_qa card loader path and streamline dataset configuration
  prepare/cards/head_qa.py
  src/unitxt/catalog/cards/head_qa/en.json
  src/unitxt/catalog/cards/head_qa/es.json
  tests/catalog/test_preparation.py
Due: enforce-library-imports

Enable streaming for websrc card loader in configuration
  prepare/cards/websrc.py
  src/unitxt/catalog/cards/websrc.json
Due: enforce-library-imports

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
