Repository IBM/unitxt: changes, and which pre-commit hooks are due for each by the changed paths.
All: enforce-relative-imports, enforce-library-imports

enforce-relative-imports:
  name: Enforce Relative Imports
  entry: python utils/enforce_relative_imports.py
  language: system

enforce-library-imports:
  name: Enforce Library Imports
  entry: python utils/enforce_library_imports.py
  language: system

Update version to 1.13.0
  src/unitxt/version.py
Due: enforce-relative-imports

Update version to 1.13.0 (#1232)
  src/unitxt/version.py
Due: enforce-relative-imports

Added calls to prepare() to ensure requirement checks are done early
  src/unitxt/formats.py
  src/unitxt/image_operators.py
  src/unitxt/inference.py
  src/unitxt/operator.py
Due: enforce-relative-imports

Added missing requirements for building catalog
  requirements/tests.rqr
Due: none

adding vllm remote inference engine
  src/unitxt/inference.py
Due: enforce-relative-imports

updates to bluebench recipes details
  prepare/recipes/bluebench.py
  src/unitxt/catalog/recipes/bluebench/entity_extraction/universal_ner_en_ewt.json
  src/unitxt/catalog/recipes/bluebench/safety/attaq_500.json
Due: enforce-library-imports

Simplify qa example (#1234)
  README.md
  examples/standalone_qa_evaluation.py
Due: enforce-library-imports

allow multiple references for f1 strings metric (#1225)
  src/unitxt/metrics.py
Due: enforce-relative-imports

rename blue_bench -> bluebench
  src/unitxt/catalog/templates/qa/multiple_choice/with_context/bluebench.json
Due: none

fix f-string error
  prepare/recipes/bluebench.py
Due: enforce-library-imports

added unit test
  examples/standalone_qa_evaluation.py
  tests/library/test_operators.py
Due: enforce-library-imports

return a deep copy of artifact from artigact-cache
  src/unitxt/operators.py
Due: enforce-relative-imports

adding vllm remote inference engine (#1236)
  src/unitxt/inference.py
Due: enforce-relative-imports

sdf
  prepare/cards/doc_vqa.py
  prepare/cards/info_vqa.py
  prepare/metrics/anls.py
  src/unitxt/catalog/cards/doc_vqa/en.json
  src/unitxt/catalog/cards/doc_vqa/fr.json
  src/unitxt/catalog/cards/info_vqa.json
  src/unitxt/catalog/metrics/anls.json
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

adding anls
  examples/evaluate_image_text_to_text.py
  prepare/cards/doc_vqa.py
  prepare/cards/info_vqa.py
  prepare/metrics/anls.py
  src/unitxt/catalog/cards/doc_vqa/en.json
  src/unitxt/catalog/cards/doc_vqa/fr.json
  src/unitxt/catalog/cards/info_vqa.json
  src/unitxt/catalog/metrics/anls.json
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

Deep copy artifacts that fetched twice
  src/unitxt/artifact.py
  src/unitxt/operators.py
Due: enforce-relative-imports

Update
  src/unitxt/artifact.py
Due: enforce-relative-imports

Update
  src/unitxt/catalog/cards/pop_qa.json
Due: none

fixed make pre-commit issue :)
  .secrets.baseline
  prepare/metrics/anls.py
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

Deep copy artifacts that fetched twice (#1239)
  src/unitxt/artifact.py
  src/unitxt/operators.py
Due: enforce-relative-imports

Update README.md
  README.md
Due: none

Adding of ANLS metric to doc_vqa and info_vqa datasets (#1241)
  .secrets.baseline
  prepare/cards/doc_vqa.py
  prepare/cards/info_vqa.py
  prepare/metrics/anls.py
  src/unitxt/catalog/cards/doc_vqa/en.json
  src/unitxt/catalog/cards/doc_vqa/fr.json
  src/unitxt/catalog/cards/info_vqa.json
  src/unitxt/catalog/metrics/anls.json
  src/unitxt/metrics.py
Due: enforce-relative-imports, enforce-library-imports

Update README.md (#1242)
  README.md
Due: none

add wml infer_logprobs and add return_meta_data option to inference Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/inference.py
Due: enforce-relative-imports

add doc to InferenceEngineReturn Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/inference.py
Due: enforce-relative-imports

bugfix - make wml infer_log_probe compatible with lists datasets Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/inference.py
Due: enforce-relative-imports

add doc and typing to infer and infer_log_probs Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/inference.py
Due: enforce-relative-imports

Update version to 1.13.1
  src/unitxt/version.py
Due: enforce-relative-imports

Update version to 1.13.1 (#1244)
  src/unitxt/version.py
Due: enforce-relative-imports

remove duplicate code Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/inference.py
Due: enforce-relative-imports

rename InferenceEngineReturn -> TextGenerationInferenceOutput, make dataclass Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/inference.py
Due: enforce-relative-imports

add ci_scores Signed-off-by: lilacheden <lilach.edel@gmail.com>
  .secrets.baseline
  src/unitxt/metrics.py
Due: enforce-relative-imports

bugfix in RetrievalAtK Signed-off-by: lilacheden <lilach.edel@gmail.com>
  src/unitxt/metrics.py
Due: enforce-relative-imports

bugfix - allow ci computation for other the main score Signed-off-by: lilacheden <lilach.edel@gmail.com>
  .secrets.baseline
  src/unitxt/metrics.py
Due: enforce-relative-imports

Enhancements to inference engines (#1243)
  src/unitxt/inference.py
Due: enforce-relative-imports

Path conditions:
  enforce-relative-imports: any of: ^src/.*\.py$ and \.py$ and not (.*/(metric|dataset|hf_utils)\.py$)
  enforce-library-imports: any of: \.py$, but not: (^src/.*\.py$)|utils/enforce_library_imports.py|utils/enforce_relative_imports.py
